Repository rails/rails, changes with the labels that .github/labeler.yml gives for each.
All labels: actioncable, actionmailbox, actionmailer, actionpack, actiontext, actionview, activejob, activemodel, activerecord, activestorage, activesupport, rails-ujs, railties, docs

.github/labeler.yml:

actioncable:
- changed-files:
  - any-glob-to-any-file: "actioncable/**/*"
actionmailbox:
- changed-files:
  - any-glob-to-any-file: "actionmailbox/**/*"
actionmailer:
- changed-files:
  - any-glob-to-any-file: "actionmailer/**/*"
actionpack:
- changed-files:
  - any-glob-to-any-file: "actionpack/**/*"
actiontext:
- changed-files:
  - any-glob-to-any-file: "actiontext/**/*"
actionview:
- changed-files:
  - any-glob-to-any-file: "actionview/**/*"
activejob:
- changed-files:
  - any-glob-to-any-file: "activejob/**/*"
activemodel:
- changed-files:
  - any-glob-to-any-file: "activemodel/**/*"
activerecord:
- changed-files:
  - any-glob-to-any-file: "activerecord/**/*"
activestorage:
- changed-files:
  - any-glob-to-any-file: "activestorage/**/*"
activesupport:
- changed-files:
  - any-glob-to-any-file: "activesupport/**/*"
rails-ujs:
- changed-files:
  - any-glob-to-any-file: "actionview/app/assets/javascripts/rails-ujs/**/*"
railties:
- changed-files:
  - any-glob-to-any-file: "railties/**/*"
docs:
- changed-files:
  - any-glob-to-any-file: "guides/**/*"

Remove structured events section from CHANGELOG
  activejob/CHANGELOG.md
Labels: activejob

Convert log subscriber in Active Record to consume structured events
  activerecord/lib/active_record/base.rb
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/table_options_test.rb
  activerecord/test/cases/bind_parameter_test.rb
  activerecord/test/cases/insert_all_test.rb
  activerecord/test/cases/log_subscriber_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

Convert log subscriber in Action View to consume structured events
  actionpack/test/controller/parameters/log_on_unpermitted_params_test.rb
  actionview/lib/action_view/log_subscriber.rb
  actionview/test/activerecord/controller_runtime_test.rb
  actionview/test/template/log_subscriber_test.rb
Labels: actionpack, actionview

Convert log subscribers in Action Pack to consume structured events
  actionpack/lib/action_controller/log_subscriber.rb
  actionpack/lib/action_dispatch/log_subscriber.rb
  actionpack/test/controller/log_subscriber_test.rb
  actionpack/test/controller/parameters/log_on_unpermitted_params_test.rb
  actionpack/test/dispatch/routing/log_subscriber_test.rb
Labels: actionpack

Convert log subscriber in Action Mailer to consume structured events
  actionmailer/lib/action_mailer/log_subscriber.rb
  actionmailer/test/log_subscriber_test.rb
Labels: actionmailer

Introduce ActiveSupport::EventReporter::LogSubscriber
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/colorize_logging.rb
  activesupport/lib/active_support/event_reporter.rb
  activesupport/lib/active_support/event_reporter/log_subscriber.rb
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/lib/active_support/log_subscriber/test_helper.rb
  activesupport/test/event_reporter/log_subscriber_test.rb
  activesupport/test/log_subscriber_test.rb
  railties/lib/rails/application/configuration.rb
Labels: activesupport, railties

Convert log subscriber in Active Storage to consume structured events
  activestorage/lib/active_storage/log_subscriber.rb
  activestorage/test/log_subscriber_test.rb
Labels: activestorage

Convert log subscriber in Active Job to consume structured events
  activejob/lib/active_job/log_subscriber.rb
  activejob/test/cases/logging_test.rb
  activejob/test/cases/structured_event_subscriber_test.rb
  activejob/test/support/test_logger.rb
Labels: activejob

[Getting Started] Add file paths to code blocks
  guides/source/getting_started.md
Labels: docs

Merge pull request #55969 from rails/fix-explain-tests-mysql-9.5
  activerecord/test/cases/adapters/abstract_mysql_adapter/mysql_explain_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/optimizer_hints_test.rb
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
Labels: activerecord

Merge pull request #55969 from rails/fix-explain-tests-mysql-9.5
  activerecord/test/cases/adapters/abstract_mysql_adapter/mysql_explain_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/optimizer_hints_test.rb
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
Labels: activerecord

Merge pull request #55969 from rails/fix-explain-tests-mysql-9.5
  activerecord/test/cases/adapters/abstract_mysql_adapter/mysql_explain_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/optimizer_hints_test.rb
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
Labels: activerecord

Merge pull request #55969 from rails/fix-explain-tests-mysql-9.5
  activerecord/test/cases/adapters/abstract_mysql_adapter/mysql_explain_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/optimizer_hints_test.rb
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
Labels: activerecord

Merge pull request #55969 from rails/fix-explain-tests-mysql-9.5
  activerecord/test/cases/adapters/mysql2/optimizer_hints_test.rb
Labels: activerecord

Merge pull request #55962 from coderhs/patch-1
  activesupport/lib/active_support/event_reporter.rb
Labels: activesupport

Merge pull request #55932 from harsh183/getting_started/add_filenames_on_top_of_every_index
  guides/source/getting_started.md
Labels: docs

Fix migration version in the getting started guide to 8.2
  guides/source/getting_started.md
Labels: docs

Add documentation for Active Job Continuations [ci skip] (#55193)
  guides/source/active_job_basics.md
Labels: docs

Add documentation for Active Job Continuations [ci skip] (#55193)
  guides/source/active_job_basics.md
Labels: docs

Mask secure tokens by default while displaying prefix
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/secure_token.rb
  activerecord/test/cases/secure_token_test.rb
Labels: activerecord
