Repository rails/rails, pull requests merged in 2018-10, with the labels that each got.

#23593 index option added for change_table migrations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/test/cases/migration/change_table_test.rb
Labels: activerecord

#33079 Make Webpacker the default JavaScript compiler for Rails 6
  .gitignore
  .travis.yml
  .yarnrc
  Gemfile
  Gemfile.lock
  actioncable/lib/rails/generators/channel/USAGE
  actioncable/lib/rails/generators/channel/channel_generator.rb
  actioncable/lib/rails/generators/channel/templates/assets/channel.coffee.tt
  actioncable/lib/rails/generators/channel/templates/javascript/channel.js.tt
  actioncable/lib/rails/generators/channel/templates/javascript/consumer.js.tt
  actioncable/lib/rails/generators/channel/templates/javascript/index.js.tt
  activestorage/test/dummy/app/assets/config/manifest.js
  activestorage/test/dummy/config/environments/production.rb
  activestorage/test/dummy/config/webpacker.yml
  package.json
  railties/CHANGELOG.md
  railties/Rakefile
  railties/lib/rails/generators.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/js/assets/assets_generator.rb
  railties/lib/rails/generators/js/assets/templates/javascript.js
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/app/assets/config/manifest.js.tt
  railties/lib/rails/generators/rails/app/templates/app/assets/javascripts/application.js.tt
  railties/lib/rails/generators/rails/app/templates/app/javascript/channels/consumer.js
  railties/lib/rails/generators/rails/app/templates/app/javascript/channels/index.js
  railties/lib/rails/generators/rails/app/templates/app/javascript/packs/application.js.tt
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/lib/rails/generators/rails/app/templates/package.json.tt
  railties/lib/rails/generators/rails/assets/USAGE
  railties/lib/rails/generators/rails/assets/assets_generator.rb
  railties/lib/rails/generators/rails/assets/templates/javascript.js
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/lib/rails/generators/testing/behaviour.rb
  railties/lib/rails/tasks/statistics.rake
  railties/test/application/assets_test.rb
  railties/test/application/middleware_test.rb
  railties/test/application/rake_test.rb
  railties/test/engine/commands_test.rb
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/assets_generator_test.rb
  railties/test/generators/channel_generator_test.rb
  railties/test/generators/controller_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/scaffold_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
  railties/test/isolation/abstract_unit.rb
Labels: actioncable, activestorage, asset pipeline, railties

#34046 Fix typos
  actioncable/lib/action_cable/channel/test_case.rb
  actioncable/test/channel/stream_test.rb
Labels: actioncable

#34049 Fix spellings for 'unmarshall(ing/ed)' & 'marshall(ing/ed)'
  actionmailer/lib/action_mailer/message_delivery.rb
  actionview/lib/action_view/template.rb
  activemodel/test/cases/attribute_set_test.rb
  activesupport/test/core_ext/time_ext_test.rb
  guides/source/3_0_release_notes.md
  guides/source/3_1_release_notes.md
  guides/source/4_2_release_notes.md
  guides/source/upgrading_ruby_on_rails.md
Labels: actionmailer, actionview, activemodel, activesupport, docs

#33058 Add deprecation warning when String#first and String#last receive neg…
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/string/access.rb
  activesupport/test/core_ext/string_ext_test.rb
Labels: activesupport

#34045 Deprecate the `LoggerSilence` constant:
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/logger_silence.rb
  activesupport/test/broadcast_logger_test.rb
  guides/source/configuring.md
Labels: activesupport, docs

#34053 Update js docs after the webpacker changes
  guides/source/asset_pipeline.md
  guides/source/command_line.md
  guides/source/generators.md
  guides/source/getting_started.md
  guides/source/working_with_javascript_in_rails.md
Labels: asset pipeline, docs

#34061 Move test_fixtures and render_context to separate files
  activerecord/lib/active_record/fixture_set/render_context.rb
  activerecord/lib/active_record/fixtures.rb
  activerecord/lib/active_record/test_fixtures.rb
Labels: activerecord

#34063 Fix rubocop issue
  actionview/lib/action_view/template.rb
Labels: actionview

#34055 Fix the LoggerSilence to work as described:
  activesupport/lib/active_support/logger.rb
  activesupport/lib/active_support/logger_silence.rb
  activesupport/lib/active_support/logger_thread_safe_level.rb
  activesupport/test/broadcast_logger_test.rb
  activesupport/test/silence_logger_test.rb
  guides/source/configuring.md
Labels: activesupport, docs

#33936 Decrease memory allocations in cache.rb
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#34066 Remove unreachable database warning
  activerecord/lib/active_record/railtie.rb
Labels: activerecord

#34073 Escape table name so that it can be used in regular expression
  activerecord/test/cases/relation_test.rb
Labels: activerecord

#33938 ActiveRecord::Associations::Preloader should not fail to preload through missing records
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/test/cases/associations/cascaded_eager_loading_test.rb
Labels: activerecord

#34064 Revert "Merge pull request #33970 from rails/eager-url-helpers"
  actionpack/lib/abstract_controller/railties/routes_helpers.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
  actionpack/test/abstract_unit.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/dispatch/routing/ipv6_redirect_test.rb
  actionpack/test/dispatch/url_generation_test.rb
  railties/lib/rails/engine.rb
  railties/lib/rails/engine/configuration.rb
Labels: actionpack, engines, railties, routing

#34083 Wrap custom id of a header attribute into \" in rails guides
  guides/rails_guides/markdown/renderer.rb
Labels: docs

#34014 Bugfix: ActiveSupport::EncryptedConfiguration reading of comment-only encrypted files
  activesupport/lib/active_support/encrypted_configuration.rb
  activesupport/test/encrypted_configuration_test.rb
Labels: activesupport

#34087 Add retry_on/discard suggestions for common cases to ApplicationJob for new apps.
  railties/lib/rails/generators/rails/app/templates/app/jobs/application_job.rb.tt
Labels: railties

#34068 23% faster Nil#try
  activesupport/lib/active_support/core_ext/object/try.rb
Labels: activesupport

#34097 Parameterized mailers can configure delivery job
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/parameterized.rb
  actionmailer/test/parameterized_test.rb
Labels: actionmailer

#34103 Add documentation to run tests with specific seed [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#34104 Remove unnecessary use of `included` in ActiveJob::Core
  activejob/lib/active_job/core.rb
Labels: activejob

#34084 Remove "include FileUtils" sentence in setup/update bin files
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
  railties/lib/rails/generators/rails/app/templates/bin/update.tt
Labels: railties

#34005 Array with single item correctly uses cache_key
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#34077 ActiveStorage guide: Add instruction for test environment
  guides/source/active_storage_overview.md
Labels: docs

#34089 add test for cache_version precision
  activerecord/test/cases/integration_test.rb
Labels: activerecord

#34114 getting started page rails version update to 5.2.1
  guides/source/getting_started.md
Labels: docs

#34076 Fixtures refactor
  activerecord/lib/active_record/fixture_set/model_metadata.rb
  activerecord/lib/active_record/fixture_set/table_row.rb
  activerecord/lib/active_record/fixture_set/table_rows.rb
  activerecord/lib/active_record/fixtures.rb
Labels: activerecord

#34119 [ci skip] Fix typo
  activerecord/lib/active_record/integration.rb
Labels: activerecord

#34039 Deprecate ActionDispatch::Http::ParameterFilter in favor of ActiveSup…
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/filter_parameters.rb
  actionpack/lib/action_dispatch/http/parameter_filter.rb
  actionpack/test/dispatch/request_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/parameter_filter.rb
  activesupport/test/parameter_filter_test.rb
Labels: actionpack, activesupport

#33324 respect only_path option when an array is passed into url_for
  actionview/CHANGELOG.md
  actionview/lib/action_view/routing_url_for.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview

#34126 fix broken link in Action Cable guides and readme [ci skip]
  actioncable/README.md
  guides/source/action_cable_overview.md
Labels: actioncable, docs

#34117 Add docs to ActiveRecord::Persistence#belongs_to_touch_method
  activerecord/lib/active_record/persistence.rb
Labels: activerecord

#34105 clarify role of unique_id in ActiveSupport::Notifications [ci skip]
  activesupport/lib/active_support/notifications.rb
  guides/source/active_support_instrumentation.md
Labels: activesupport, docs

#34081 Move db:migrate:status to DatabaseTasks method
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#34075 Change contributing guide to suggest using safer force push
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#34071 Add `skip-webpack-install` option
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/lib/rails/generators/testing/behaviour.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#34094 Fix inconsistent behavior by clearing QueryCache when reloading associations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/collection_proxy.rb
  activerecord/lib/active_record/associations/singular_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
Labels: activerecord

#34122 Generate delegation methods to named scope in the definition time
  activerecord/lib/active_record/relation/delegation.rb
  activerecord/lib/active_record/scoping/named.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/models/account.rb
  activerecord/test/models/post.rb
Labels: activerecord

#34136 Add allocations to template renderer subscription
  actionpack/lib/action_controller/log_subscriber.rb
  actionview/CHANGELOG.md
  actionview/lib/action_view/log_subscriber.rb
  actionview/test/activerecord/controller_runtime_test.rb
  actionview/test/template/log_subscriber_test.rb
Labels: actionpack, actionview

#34109 Follow up #34064
  actionpack/lib/action_dispatch/routing/route_set.rb
Labels: actionpack

#34137 Add multi-db support to rails db:migrate:status
  activerecord/lib/active_record/railties/databases.rake
  railties/CHANGELOG.md
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#34110 Enum raises on invalid definition values
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#34052 Part 4: Multi db improvements, Basic API for connection switching
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
Labels: activerecord

#34188 Remove invalid magic comment [ci skip]
  actionpack/lib/action_dispatch/http/mime_type.rb
Labels: actionpack

#34189 [ci skip] Fix link to Concurrent::ThreadPoolExecutor docs
  activejob/lib/active_job/queue_adapters/async_adapter.rb
Labels: activejob

#34185 Add test retries for railties
  .travis.yml
  Gemfile
  Gemfile.lock
  railties/test/isolation/abstract_unit.rb
Labels: railties

#34123 Deprecate Unicode#downcase/upcase/swapcase.
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/multibyte/chars.rb
  activesupport/lib/active_support/multibyte/unicode.rb
  activesupport/test/multibyte_chars_test.rb
Labels: activesupport

#34202 Deprecate Unicode#normalize and Chars#normalize.
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/inflector/transliterate.rb
  activesupport/lib/active_support/multibyte/chars.rb
  activesupport/lib/active_support/multibyte/unicode.rb
  activesupport/test/multibyte_chars_test.rb
  activesupport/test/multibyte_conformance_test.rb
  activesupport/test/multibyte_normalization_conformance_test.rb
Labels: activesupport

#33193 Improve model attribute accessor method names for backtraces
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/lib/active_model/attributes.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/attribute_methods/read.rb
  activerecord/lib/active_record/attribute_methods/write.rb
Labels: activemodel, activerecord

#34209 Fix tests on Mail 2.7.1
  Gemfile.lock
  actionmailer/test/base_test.rb
Labels: actionmailer

#34135 Fix issue where duration where always rounded up to a second:
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/date_time/calculations.rb
  activesupport/test/core_ext/date_time_ext_test.rb
Labels: activesupport

#34210 Fix `ActionController::Parameters#each_value` and add changelog entry to this method
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack

#34214 Update snippet to rails 5 syntax
  guides/source/action_controller_overview.md
Labels: docs

#34215 Deprecate ActiveSupport::Multibyte::Chars.consumes?
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/multibyte/chars.rb
  activesupport/test/multibyte_chars_test.rb
Labels: activesupport

#33075 Fix Collection cache key with limit and custom select
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/collection_cache_key.rb
  activerecord/test/cases/collection_cache_key_test.rb
Labels: activerecord

#29204 Issue #29200 scaffold an object with a reference displays an object memory address to user
  railties/CHANGELOG.md
  railties/lib/rails/generators/erb/scaffold/templates/index.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/show.html.erb.tt
  railties/test/generators/scaffold_generator_test.rb
Labels: railties

#34056 Extend doc for ActiveSupport::Cache#fetch_multi
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#34203 Add regression test against has_and_belong_to_many memoized singular_ids
  activerecord/test/cases/associations/has_and_belongs_to_many_associations_test.rb
Labels: activerecord

#34220 Clarify docs of `ActiveJob::TestHelper` [ci skip]
  activejob/lib/active_job/test_helper.rb
Labels: activejob

#34227 Refactored abstract MySQL adapter to support lazy version check.
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
Labels: activerecord

#34231 Fix mapping of content [ci skip]
  guides/source/active_record_basics.md
Labels: docs

#34229 Refactor Chars#reverse and Chars#grapheme_length
  activesupport/lib/active_support/multibyte/chars.rb
Labels: activesupport

#34232 Consistently extract checking version for all adapters
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
Labels: activerecord

#34233 Update guide for the counter variable when rendering with the `as:` option
  guides/source/layouts_and_rendering.md
Labels: docs

#34197 ActiveRecord#respond_to? No longer allocates strings
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/nested_attributes.rb
Labels: activerecord

#34243 Fix generated Gemfile missing gems on jruby
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#34254 Deprecate Unicode's #pack_graphemes and #unpack_graphemes methods
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/multibyte/unicode.rb
  activesupport/test/multibyte_grapheme_break_conformance_test.rb
Labels: activesupport

#34249 Fix typo in testing guide
  guides/source/testing.md
Labels: docs

#34257 Add guides section on verbose query logs to Debugging
  guides/source/debugging_rails_applications.md
Labels: docs

#34260 Remove unnecessary escape character
  actioncable/lib/rails/generators/channel/templates/javascript/index.js.tt
  railties/lib/rails/generators/rails/app/templates/app/javascript/channels/index.js
Labels: actioncable, railties

#34265 Improve layout of Rails Guides index
  guides/assets/images/rails_guides_logo_1x.png
  guides/assets/images/rails_guides_logo_2x.png
  guides/assets/stylesheets/main.css
  guides/source/documents.yaml
  guides/source/layout.html.erb
Labels: docs

#34268 Use String#truncate_bytes inside Multibyte::Chars#limit
  activesupport/lib/active_support/multibyte/chars.rb
  activesupport/test/multibyte_chars_test.rb
Labels: activesupport

#34219 Add message to exception in datetime type
  activemodel/lib/active_model/type/date_time.rb
  activemodel/test/cases/type/date_time_test.rb
Labels: activemodel

#34270 Reduce string allocations in read/write_attribute
  activerecord/lib/active_record/attribute_methods/read.rb
  activerecord/lib/active_record/attribute_methods/write.rb
Labels: activerecord

#34272 Correct some tests related to changes in #33079
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#34276 Remove `:javascript` from `Rails::PluginBuilder::PASSTHROUGH_OPTIONS`
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
Labels: railties

#34277 Remove `javascripts` and `javascript_engine` options for generators
  guides/source/configuring.md
  railties/lib/rails/generators.rb
Labels: docs, railties

#34241 Clarify i18n load paths gotcha
  guides/source/i18n.md
Labels: docs, i18n

#34278 Fix #33914 : Remove dependent: :destroy option from the belong_to example since there is a warning associated with the usage of dependent: :destroy along with belongs_to
  guides/source/association_basics.md
Labels: docs

#34222 Unify changelog entries related to `database` option of Rails generators [ci skip]
  railties/CHANGELOG.md
Labels: railties

#34289 Add missing dot in comment in .gitignore template
  railties/lib/rails/generators/rails/app/templates/gitignore.tt
Labels: railties

#34261 Remove "Upgrading from Old Versions" from Asset Pipeline Guide [skip ci]
  guides/source/asset_pipeline.md
Labels: docs

#34290 Add docs to ActiveSupport::Notifications.subscribe
  activesupport/lib/active_support/notifications.rb
Labels: activesupport

#34284 Remove mentions about `javascripts` option from the guide about generators [ci skip]
  guides/source/generators.md
Labels: docs

#34286 Fix CSP dynamic sources
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/content_security_policy.rb
  actionpack/test/dispatch/content_security_policy_test.rb
Labels: actionpack

#34292 MySQL 8.0.13 raises `ER_NO_REFERENCED_ROW` and `ER_ROW_IS_REFERENCED`
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
Labels: activerecord

#34293 [ci skip] Fix PullRequest link on Rails 5.1 Release Notes
  guides/source/5_1_release_notes.md
Labels: docs

#34294 Hide PG::Connection from API docs [ci skip]
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#34297 Fully remove duplicated upgrade information [ci skip]
  guides/source/asset_pipeline.md
Labels: docs

#34080 Add observing emails to action mailer guide [ci skip]
  guides/source/action_mailer_basics.md
Labels: docs

#34302 Update ActiveStorage Attachment model documentation
  activestorage/app/models/active_storage/attachment.rb
Labels: activestorage

#34034 Make it easier to find abort documentation
  activesupport/lib/active_support/callbacks.rb
Labels: activesupport

#34303 Lazy checking whether or not values in IN clause are boundable
  activerecord/lib/active_record/connection_adapters/determine_if_preparable_visitor.rb
  activerecord/lib/active_record/relation/predicate_builder/array_handler.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/bind_parameter_test.rb
  activerecord/test/fixtures/citations.yml
  activerecord/test/schema/schema.rb
Labels: activerecord

#34204 Include deserialized arguments in jobs returned by AJ test helpers
  activejob/CHANGELOG.md
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/test_helper_test.rb
Labels: activejob

#34309 Document `deep_interpolation` parameter for bulk lookups
  guides/source/i18n.md
Labels: docs

#34317 `assert_called_with` should require `args` argument
  activerecord/test/cases/tasks/mysql_rake_test.rb
  activesupport/lib/active_support/testing/method_call_assertions.rb
  activesupport/test/cache/behaviors/cache_instrumentation_behavior.rb
  activesupport/test/testing/method_call_assertions_test.rb
Labels: activerecord, activesupport

#34313 Add maxlength attribute usage example to Text Field Api documentation
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#34318 Partly revert #31819
  activerecord/test/cases/associations/eager_test.rb
Labels: activerecord

#34307 Support default expression and expression indexes for MySQL
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/schema/mysql2_specific_schema.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#34329 Ignore empty condition on #construct_relation_for_exists
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#34269 Use release dates for versions in Rails Guides index
  guides/source/documents.yaml
Labels: docs

#34253 Fix autoloading issue with ActiveStorage::Downloader
  activesupport/lib/active_support/dependencies.rb
  activesupport/test/autoloading_fixtures/module_folder/nested_with_require.rb
  activesupport/test/autoloading_fixtures/nested_with_require_parent.rb
  activesupport/test/dependencies/module_folder/lib_class.rb
  activesupport/test/dependencies_test.rb
Labels: activestorage, activesupport

#34333 Fix grammar in changed? docs [ci skip]
  activemodel/lib/active_model/dirty.rb
Labels: activemodel

#34334 Privatize and add # :nodoc: to constants
  activesupport/lib/active_support/values/time_zone.rb
Labels: activesupport

#34335 Update bug report templates
  guides/bug_report_templates/action_controller_gem.rb
  guides/bug_report_templates/action_controller_master.rb
  guides/bug_report_templates/active_job_gem.rb
  guides/bug_report_templates/active_job_master.rb
  guides/bug_report_templates/active_record_gem.rb
  guides/bug_report_templates/active_record_master.rb
  guides/bug_report_templates/active_record_migrations_gem.rb
  guides/bug_report_templates/active_record_migrations_master.rb
  guides/bug_report_templates/benchmark.rb
  guides/bug_report_templates/generic_gem.rb
  guides/bug_report_templates/generic_master.rb
Labels: docs

#34338 Document exception from restrict_with_exception [ci skip]
  activerecord/lib/active_record/associations.rb
  guides/source/association_basics.md
Labels: activerecord, docs

#19388 Avoid violating key constraints in fixture HABTM associations
  activerecord/lib/active_record/fixture_set/table_rows.rb
  activerecord/test/cases/fixtures_test.rb
Labels: activerecord

#34349 Restore `encoding: utf8mb4` in database.yml
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/config/databases/mysql.yml.tt
Labels: docs, railties

#34314 ActionController::API *does* support cookies, sessions
  actionpack/lib/action_controller/api.rb
Labels: actionpack

#33972 Improve `enqueue_retry.active_job` message
  activejob/lib/active_job/logging.rb
  activejob/test/cases/logging_test.rb
Labels: activejob

#34351 Restore HWIA support to AJ::Arguments.deserialize
  activejob/CHANGELOG.md
  activejob/lib/active_job/arguments.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: activejob

#34355 Update authorization.rb
  actioncable/lib/action_cable/connection/authorization.rb
Labels: actioncable

#34356 Make i18n locale setting docs use around_action
  guides/source/i18n.md
Labels: docs
