Repository rails/rails, pull requests merged in 2018-07, with the labels that each got.

#33288 Better compatibility with SPEC.
  actioncable/lib/action_cable/connection/stream.rb
Labels: actioncable

#28266 rails server: Allow to explicitly specify whether to output Rails's log to stdout
  railties/lib/rails/commands/server/server_command.rb
  railties/test/commands/server_test.rb
Labels: railties

#28327 Add missing env & config dependency to `rake db:seed`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
Labels: activerecord

#24131 ActiveRecord: limit() and primary_key
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#28676 Add implicit to path conversion to uploaded file
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/upload.rb
  actionpack/test/dispatch/uploaded_file_test.rb
Labels: actionpack

#30919 Add strict argument checking to ActiveRecord callbacks
  activemodel/lib/active_model/callbacks.rb
  activerecord/test/cases/callbacks_test.rb
Labels: activemodel

#33449 Add cpu time, idle time, and allocations features to log subscriber events
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/notifications/instrumenter.rb
  activesupport/lib/active_support/subscriber.rb
  activesupport/test/log_subscriber_test.rb
Labels: activesupport

#31336 PostgreSQL 10 new relkind for partitioned tables
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/partitions_test.rb
Labels: activerecord

#28937 Default content type for `head` is `text/html`
  actionpack/lib/action_controller/metal/head.rb
  actionpack/test/controller/render_test.rb
Labels: actionpack
