Repository rails/rails, pull requests merged in 2018-02, with the labels that each got.

#31995 Use require_dependency inside Active Storage
  activestorage/app/models/active_storage/blob.rb
  activestorage/app/models/active_storage/filename.rb
Labels: activestorage

#27319 String#truncate_bytes
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/string/filters.rb
  activesupport/test/core_ext/string_ext_test.rb
Labels: activesupport

#26743 Remove `AS::Multibyte`'s unicode table
  activesupport/bin/generate_tables
  activesupport/lib/active_support/multibyte/unicode.rb
  activesupport/lib/active_support/values/unicode_tables.dat
  activesupport/test/multibyte_unicode_database_test.rb
Labels: activesupport, needs feedback

#32075 Delete default configuration
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  railties/lib/rails/application/configuration.rb
Labels: activerecord

#32100 Use lazy load hook to configure ActiveStorage::Blob
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage/engine.rb
  railties/test/application/loading_test.rb
Labels: activestorage

#26799 Support i18n key at translation of value in submit tag
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper/form_with_test.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview, needs feedback
