Repository rails/rails, pull requests merged in 2018-09, with the labels that each got.

#33770 Part 3: Multi-db Improvements, identifying replica configurations
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/lib/active_record/test_databases.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: activerecord

#33756 Add `inspection_masks` to make values of sensitive database columns w…
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/filter_attributes_test.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, security

#33608 Use utf8mb4 character set by default for MySQL database
  .travis.yml
  activerecord/CHANGELOG.md
  activerecord/Rakefile
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/adapters/mysql2/active_schema_test.rb
  activerecord/test/cases/adapters/mysql2/connection_test.rb
  activerecord/test/config.example.yml
  activerecord/test/schema/mysql2_specific_schema.rb
  railties/lib/rails/generators/rails/app/templates/config/databases/mysql.yml.tt
Labels: activerecord

#33795 Fix zero-byte files upload in #33630
  activestorage/app/models/active_storage/blob/identifiable.rb
  activestorage/test/fixtures/files/empty_file.txt
  activestorage/test/service/s3_service_test.rb
Labels: activestorage

#27792 TaggedLogging to return a new logger instance
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/tagged_logging.rb
  activesupport/test/tagged_logging_test.rb
Labels: activesupport, needs work

#33856 Fix query cache to load before first request
  activerecord/lib/active_record/railtie.rb
  railties/test/application/loading_test.rb
Labels: activerecord

#33925 Make a deep copy of the _default_attributes in column_defaults
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/attributes_test.rb
Labels: activerecord

#33986 Add missing rdoc +code+ tags [ci skip]
  activerecord/lib/active_record/associations.rb
Labels: activerecord, docs

#34003 Remove Rails 5.0 workaround from ActionCable::Channel::TestCase
  actioncable/lib/action_cable/channel/test_case.rb
Labels: actioncable

#33995 Add a way to check for subset of arguments when performing jobs:
  activejob/CHANGELOG.md
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/test_helper_test.rb
Labels: activejob

#34002 Fix optionally scoped root route unscoped access
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack, routing

#33990 Handle more unsafe String methods
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  activesupport/test/core_ext/string_ext_test.rb
  activesupport/test/safe_buffer_test.rb
Labels: activesupport

#33880 Clarify transactional behavior of after_commit and after_rollback callbacks
  guides/source/active_record_callbacks.md
Labels: activerecord, docs

#33570 Documentation for queue_adapter_name method in ActiveJob::QueueAdapter
  activejob/lib/active_job/queue_adapter.rb
Labels: activejob, docs

#34012 Fix HashWithIndifferentAccess#without bug
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#33571 Documentation clarity in ActiveJob::TestHelper [ci skip]
  activejob/lib/active_job/test_helper.rb
Labels: activejob, docs

#34009 Disable js in plugins by default to get the tests passing
  Gemfile
  railties/lib/rails/generators/app_base.rb
  railties/test/engine/commands_test.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#34021 Refactor migrations_path command option to database
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
  activerecord/lib/rails/generators/active_record/migration.rb
  activerecord/lib/rails/generators/active_record/migration/migration_generator.rb
  activerecord/lib/rails/generators/active_record/model/model_generator.rb
  railties/CHANGELOG.md
  railties/test/generators/generators_test_helper.rb
  railties/test/generators/migration_generator_test.rb
  railties/test/generators/model_generator_test.rb
  railties/test/generators/scaffold_generator_test.rb
Labels: activerecord, railties

#34024 Clear codeclimate report issues
  railties/test/engine/commands_test.rb
Labels: railties

#34020 Updates expires_in docs
  guides/source/caching_with_rails.md
Labels: docs

#34030 Make actionview templates marshalable
  actionview/lib/action_view/template.rb
  actionview/test/template/template_test.rb
Labels: actionview
