Repository rails/rails, pull requests merged in 2018-12, with the labels that each got.

#34579 Add yield to with_delivery_job test helper
  actionmailer/test/parameterized_test.rb
Labels: actionmailer

#34583 fix example code syntax [ci skip]
  guides/source/active_storage_overview.md
Labels: docs

#34588 Remove obsolete yarn.lock files and check in root yarn.lock file
  .gitignore
  activestorage/yarn.lock
  yarn.lock
Labels: actioncable, activestorage

#34590 Replace reference to WebSocket global with ActionCable.adapters.WebSocket
  actioncable/CHANGELOG.md
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/javascript/action_cable/connection.js
  actioncable/test/javascript/src/test.js
  actioncable/test/javascript/src/unit/connection_test.js
Labels: actioncable

#34595 Remove unnecessary variable route
  actionpack/lib/action_dispatch/routing/mapper.rb
Labels: actionpack

#34585 add require 'database/setup' in activestorage/test/service/s3_service_test.rb
  activestorage/test/service/s3_service_test.rb
Labels: activestorage

#34598 Add missing authorship to ActionCable changelog entry
  actioncable/CHANGELOG.md
Labels: actioncable

#34597 Assigned but unused variable - bird
  activerecord/test/cases/base_test.rb
Labels: activerecord

#34601 Fix NumericData.average test on 2.6.0-dev
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#34602 Pass the `connection` to the `@instrumenter.instrument` method call
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
Labels: activerecord

#34596 Improve parallel testing guide [ci skip]
  guides/source/testing.md
Labels: docs

#34607 Reset scope after collection delete
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/collection_proxy.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
Labels: activerecord

#34609 Ensure that `delete_all` on collection proxy returns affected count
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/has_many_association.rb
  activerecord/lib/active_record/associations/has_many_through_association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
Labels: activerecord

#34605 option to disable all scopes that `ActiveRecord.enum` generates
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#34616 Add note about symbols vs strings
  guides/source/routing.md
Labels: docs

#34560 Fix attribute decoration leak on serialized attribute test
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#34612 Another Ruby 2.6 BigDecimal compatibility issue
  activesupport/lib/active_support/xml_mini.rb
Labels: activesupport

#34563 Add advanced test helpers docs to guides
  guides/source/testing.md
Labels: docs

#34617 Colorize the unpermitted params log message
  actionpack/lib/action_controller/log_subscriber.rb
Labels: actionpack

#34626 Fix join table column quoting with SQLite.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3/quoting.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#34194 Stop trying to reconnect on unauthorized cable connections
  actioncable/CHANGELOG.md
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/javascript/action_cable/connection.js
  actioncable/lib/action_cable.rb
  actioncable/lib/action_cable/connection/base.rb
  actioncable/lib/action_cable/server/base.rb
  actioncable/test/connection/authorization_test.rb
  actioncable/test/connection/base_test.rb
  actioncable/test/connection/client_socket_test.rb
Labels: actioncable

#34573 Prevent non-primary mouse button clicks from triggering click events
  actionview/CHANGELOG.md
  actionview/app/assets/javascripts/rails-ujs/features/remote.coffee
  actionview/app/assets/javascripts/rails-ujs/start.coffee
  actionview/test/ujs/public/test/data-disable-with.js
  actionview/test/ujs/public/test/data-disable.js
  actionview/test/ujs/public/test/data-remote.js
  actionview/test/ujs/public/test/settings.js
Labels: actionview, rails-ujs

#34420 Abort early if generator command fails
  Gemfile.lock
  guides/source/rails_application_templates.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/actions.rb
  railties/railties.gemspec
  railties/test/generators/actions_test.rb
Labels: docs, railties

#34643 Move type method inside ActionDispatch::Journey::Nodes::Symbol
  actionpack/lib/action_dispatch/journey/nodes/node.rb
Labels: actionpack

#34654 Fix typo in per-form CSRF token docs
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#34653 #create_or_find_by/!: add more tests and fix docs
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#34632 Rename error that occurs when writing on a read
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/errors.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#34666 Upgrade Rubocop to 0.61.1 and fix offenses
  Gemfile.lock
  actionpack/lib/action_dispatch/http/url.rb
  activerecord/lib/active_record/fixtures.rb
  activerecord/lib/active_record/type.rb
  activerecord/test/support/config.rb
  activesupport/lib/active_support/descendants_tracker.rb
  activesupport/lib/active_support/json/decoding.rb
  railties/lib/rails/generators/generated_attribute.rb
Labels: actionpack, activerecord, activesupport, railties

#34668 Fix typos in click test descriptions [ci skip]
  actionview/test/ujs/public/test/data-disable-with.js
Labels: actionview

#34670 Prepend module in ActiveStorage overview
  guides/source/active_storage_overview.md
Labels: docs

#34648 Make `deprecate` work for non-exists methods
  activesupport/lib/active_support/deprecation/method_wrappers.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#34680 Add ActiveRecord::Base.connected_to?
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
Labels: activerecord

#34682 Remove redundant suffixes on generated system tests.
  railties/CHANGELOG.md
  railties/lib/rails/generators/test_unit/system/system_generator.rb
  railties/test/generators/system_test_generator_test.rb
Labels: railties

#34686 Add Missing ActiveSupport::Rescuable to ActionCable::Channel
  actioncable/lib/action_cable/channel/base.rb
  actioncable/test/channel/base_test.rb
Labels: actioncable

#34681 Fix boolean interaction in scaffold system tests
  railties/CHANGELOG.md
  railties/lib/rails/generators/test_unit/scaffold/scaffold_generator.rb
  railties/lib/rails/generators/test_unit/scaffold/templates/system_test.rb.tt
  railties/test/generators/scaffold_generator_test.rb
Labels: railties

#34690 Remove redundant suffixes on generated integration tests.
  railties/CHANGELOG.md
  railties/lib/rails/generators/test_unit/integration/integration_generator.rb
  railties/test/generators/integration_test_generator_test.rb
Labels: railties

#34691 Remove redundant suffixes on generated helpers.
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/helper/helper_generator.rb
  railties/test/generators/helper_generator_test.rb
Labels: railties

#32852 Fix numericality equality validation on floats
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/validations/numericality.rb
  activemodel/test/cases/validations/numericality_validation_test.rb
Labels: activemodel

#34702 Test ActiveSupport::Deprecation.deprecate_methods
  activesupport/test/deprecation/method_wrappers_test.rb
Labels: activesupport

#34717 Allow using parsed_body in ActionController::TestCase
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/test_response.rb
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#33145 Guard against DNS rebinding attacks by whitelisting hosts
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/blocked_host.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/blocked_host.text.erb
  actionpack/test/dispatch/host_authorization_test.rb
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/application/default_middleware_stack.rb
  railties/lib/rails/info_controller.rb
  railties/lib/rails/mailers_controller.rb
  railties/test/application/middleware_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: actionpack, railties

#34733 Fix doc formatting
  actionview/lib/action_view/rendering.rb
Labels: actionview

#34635 UJS: Do not disable previously disabled elements
  actionview/CHANGELOG.md
  actionview/app/assets/javascripts/rails-ujs/features/disable.coffee
  actionview/test/ujs/public/test/data-disable-with.js
Labels: actionview, rails-ujs

#34737 Allow nil params on controller HTTP test methods
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/test_case.rb
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#34739 Single nest config in configuration guides
  guides/source/configuring.md
Labels: docs

#34756 fix tests for mail 2.8
  actionmailer/test/base_test.rb
Labels: actionmailer

#30973 Unify _read_attribute definition to use &block
  activemodel/lib/active_model/attribute_set.rb
  activerecord/lib/active_record/attribute_methods/read.rb
Labels: activemodel, activerecord

#34761 Use native `Array#append`, `Array#prepend`, `Hash#transform_keys`, and `Hash#transform_keys!`
  actionpack/lib/action_controller/metal/conditional_get.rb
  actionpack/lib/action_controller/renderer.rb
  activejob/lib/active_job/test_helper.rb
  activemodel/lib/active_model/validations.rb
  activesupport/lib/active_support/core_ext/array.rb
  activesupport/lib/active_support/core_ext/array/prepend_and_append.rb
  activesupport/lib/active_support/core_ext/hash/keys.rb
  activesupport/lib/active_support/inflector/inflections.rb
  activesupport/test/core_ext/array/prepend_append_test.rb
  activesupport/test/core_ext/hash/transform_keys_test.rb
  guides/source/active_support_core_extensions.md
Labels: actionpack, activejob, activemodel, activesupport, docs

#34762 Follow up #34754
  activesupport/lib/active_support/core_ext/hash/compact.rb
  activesupport/lib/active_support/core_ext/hash/transform_values.rb
  activesupport/lib/active_support/core_ext/numeric/inquiry.rb
  activesupport/test/core_ext/hash_ext_test.rb
  guides/source/active_support_core_extensions.md
Labels: activesupport, docs

#34728 Fix integer regex deprecation warnings for Ruby 2.6.0
  actionview/lib/action_view/helpers/text_helper.rb
  actionview/test/template/form_options_helper_test.rb
Labels: actionview

#34766 Add test for travel_to with time zone
  activesupport/test/time_travel_test.rb
Labels: activesupport

#33822 Do no watch parent directory of `dirs`
  activesupport/lib/active_support/evented_file_update_checker.rb
  activesupport/test/evented_file_update_checker_test.rb
Labels: activesupport

#34769 Module.delegate rdoc update to clarify :to parameter [ci skip]
  activesupport/lib/active_support/core_ext/module/delegation.rb
Labels: activesupport

#34742 MySQL: `ROW_FORMAT=DYNAMIC` create table option by default
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/test/cases/adapters/mysql2/active_schema_test.rb
Labels: activerecord

#34767 Use BigDecimal provided methods to convert String to BigDecimal
  activesupport/lib/active_support/xml_mini.rb
Labels: activesupport

#34771 Fix Ruby 2.6 `warning: mismatched indentations at 'rescue' with 'def' at 15`.
  activesupport/test/core_ext/load_error_test.rb
Labels: activesupport

#34753 Raise helpful error when role doesn't exist
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#34774 Fix app boot for Ruby 2.4
  railties/lib/rails/all.rb
Labels: railties

#34778 No need to handle if FrozenError is available
  activerecord/test/cases/aggregations_test.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/test_case.rb
  activerecord/test/cases/transactions_test.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/core_ext/hash_ext_test.rb
  railties/test/application/middleware_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: actioncable, actionmailer, actionpack, actionview, activejob, activemodel, activerecord, activesupport, railties

#34781 Make Rails Facebook-free
  actionpack/test/controller/routing_test.rb
Labels: actionpack

#34720 Ruby 2.6 suport for 5-2-stable branch
  actioncable/test/channel/stream_test.rb
  actionview/lib/action_view/digestor.rb
  actionview/lib/action_view/helpers/form_helper.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/range.rb
  activesupport/lib/active_support/core_ext/range/compare_range.rb
  activesupport/lib/active_support/core_ext/range/include_range.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
  guides/source/active_support_core_extensions.md
Labels: actioncable, actionpack, actionview, activerecord, activesupport, docs, railties

#34791 Generate doc of methods provided by form builders [ci skip]
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#34801 Follow up 34786
  actionmailbox/.gitignore
  actionmailbox/app/models/action_mailbox/inbound_email/message_id.rb
  actionmailbox/test/dummy/.gitignore
  actionmailbox/test/dummy/log/development.log
  actionmailbox/test/dummy/tmp/.keep
  actionmailbox/test/dummy/tmp/storage/.keep
Labels: railties

#34806 Reuse AR::Association#find_target method
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/association_scope.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/associations/singular_association.rb
Labels: activerecord

#34810 ActiveStorage: Don’t include an undefined X-CSRF-Token header when creating a blob record
  activestorage/CHANGELOG.md
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/app/javascript/activestorage/blob_record.js
Labels: activestorage

#34814 Remove mention about `receive.action_mailer` from the AS instrumentation guide
  actionmailer/test/log_subscriber_test.rb
  guides/source/active_support_instrumentation.md
Labels: actionmailer, docs

#34820 Ensure that the app generator skips action mailbox when `--skip-active-record` is given
  railties/test/generators/app_generator_test.rb
Labels: railties

#34812 Add Action Mailbox to guides
  actionmailbox/README.md
  guides/source/6_0_release_notes.md
  guides/source/action_mailbox_basics.md
  guides/source/action_mailer_basics.md
  guides/source/documents.yaml
Labels: actionmailbox, docs

#34825 Use 6.0 version of `ActiveRecord::Migration` for Action Mailbox
  actionmailbox/db/migrate/20180917164000_create_action_mailbox_tables.rb
  actionmailbox/test/dummy/config/application.rb
  actionmailbox/test/dummy/db/migrate/20180208205311_create_action_mailroom_tables.rb
  activestorage/test/dummy/config/application.rb
Labels: actionmailbox, activestorage

#34818 Make ActiveStorage::Blob keys lowercase
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/models/variant_test.rb
  activesupport/lib/active_support/core_ext/securerandom.rb
  activesupport/test/core_ext/secure_random_test.rb
Labels: activestorage, activesupport

#34828 Add Rake task for testing mailboxes
  railties/CHANGELOG.md
  railties/lib/rails/test_unit/testing.rake
  railties/test/application/test_runner_test.rb
Labels: railties

#34740 Add streams assert methods to ActionCable channel test case
  actioncable/lib/action_cable/channel/test_case.rb
  actioncable/test/channel/test_case_test.rb
Labels: actioncable

#34831 Bump license years for 2019
  MIT-LICENSE
  actioncable/MIT-LICENSE
  actioncable/lib/action_cable.rb
  actionmailbox/MIT-LICENSE
  actionmailer/MIT-LICENSE
  actionmailer/lib/action_mailer.rb
  actionpack/MIT-LICENSE
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_pack.rb
  actionview/MIT-LICENSE
  actionview/app/assets/javascripts/MIT-LICENSE
  actionview/lib/action_view.rb
  activejob/MIT-LICENSE
  activejob/lib/active_job.rb
  activemodel/MIT-LICENSE
  activemodel/lib/active_model.rb
  activerecord/MIT-LICENSE
  activerecord/lib/active_record.rb
  activestorage/MIT-LICENSE
  activestorage/lib/active_storage.rb
  activesupport/MIT-LICENSE
  activesupport/lib/active_support.rb
  railties/MIT-LICENSE
Labels: actioncable, actionmailbox, actionmailer, actionpack, actionview, activejob, activemodel, activerecord, activestorage, activesupport, railties

#34833 Add CHANGELOG.md to actionmailbox gem specification
  actionmailbox/actionmailbox.gemspec
Labels: actionmailbox

#34834 Mention tiff support in ActiveStorage guides
  guides/source/configuring.md
Labels: docs

#34707 Add examples describing error handling in ActiveSupport::Notification…
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/lib/active_support/notifications.rb
Labels: activesupport
