Repository rails/rails, pull requests merged in 2018-11, with the labels that each got.

#34360 Make ActiveSupport HashWithIndifferentAccess#to_options and alias for HashWithIndifferentAccess#symbolize_keys
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#34177 Convert ActionCable javascript to ES2015 modules with a modern build environment
  actioncable/.babelrc
  actioncable/.eslintrc
  actioncable/.gitignore
  actioncable/Rakefile
  actioncable/actioncable.gemspec
  actioncable/app/assets/javascripts/action_cable.coffee.erb
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/assets/javascripts/action_cable/connection.coffee
  actioncable/app/assets/javascripts/action_cable/connection_monitor.coffee
  actioncable/app/assets/javascripts/action_cable/consumer.coffee
  actioncable/app/assets/javascripts/action_cable/subscription.coffee
  actioncable/app/assets/javascripts/action_cable/subscriptions.coffee
  actioncable/app/javascript/action_cable/connection.js
  actioncable/app/javascript/action_cable/connection_monitor.js
  actioncable/app/javascript/action_cable/consumer.js
  actioncable/app/javascript/action_cable/index.js
  actioncable/app/javascript/action_cable/subscription.js
  actioncable/app/javascript/action_cable/subscriptions.js
  actioncable/blade.yml
  actioncable/package.json
  actioncable/rollup.config.js
  actioncable/yarn.lock
Labels: actioncable

#34377 Fix typo
  guides/source/debugging_rails_applications.md
Labels: docs

#34384 Fix inspect with non-primary key id attribute
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/core_test.rb
  activerecord/test/models/topic.rb
Labels: activerecord

#34388 Add CVE note to security guide and gemspecs
  actioncable/actioncable.gemspec
  actionmailer/actionmailer.gemspec
  actionpack/actionpack.gemspec
  actionview/actionview.gemspec
  activejob/activejob.gemspec
  activemodel/activemodel.gemspec
  activerecord/activerecord.gemspec
  activestorage/activestorage.gemspec
  activesupport/activesupport.gemspec
  guides/source/security.md
  railties/railties.gemspec
Labels: actioncable, actionmailer, actionpack, actionview, activejob, activemodel, activerecord, activestorage, activesupport, docs, railties

#34375 Add `connect_src` example to content security policy initializer
  railties/lib/rails/generators/rails/app/templates/config/initializers/content_security_policy.rb.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#34181 Db schema cache dump and clear multi db
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#34385 Guard Enums against definitions with blank label names
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#34407 Remove unused argument `expected_database`
  railties/test/application/rake/multi_dbs_test.rb
Labels: railties

#31382 Add an :if_not_exists option to create_table
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#34415 Clarify the validation of present associations
  guides/source/active_record_validations.md
Labels: docs

#34421 Prefer assert_not instead of refute [ci skip]
  guides/bug_report_templates/generic_gem.rb
  guides/bug_report_templates/generic_master.rb
Labels: docs

#34414 Document missing supported types [ci skip]
  activejob/lib/active_job/arguments.rb
  activejob/lib/active_job/enqueuing.rb
Labels: activejob

#34425 Remove ensure from with_transaction_returning_status
  activerecord/lib/active_record/transactions.rb
Labels: activerecord

#34431 Make `PERMITTED_TYPES` private
  activejob/lib/active_job/arguments.rb
Labels: activejob

#34434 Ignore warnings such as `Psych.safe_load is deprecated`
  railties/test/application/bin_setup_test.rb
Labels: railties

#34435 Add an alias for the --webpack option
  railties/lib/rails/generators/rails/app/app_generator.rb
Labels: railties

#34417 Fix ignored options in the `#added?` method
  activemodel/lib/active_model/errors.rb
  activemodel/test/cases/errors_test.rb
Labels: activemodel

#34221 Add support for UNLOGGED Postgresql tables
  activerecord/lib/active_record/connection_adapters/abstract/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/create_unlogged_tables_test.rb
  guides/source/configuring.md
Labels: activerecord, docs

#34429 Ensure that `ActiveRecord::Base#connected_to` with `:database` establishes connection
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
Labels: activerecord

#34436 Adjust bind length of SQLite to default (999)
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/bind_parameter_test.rb
Labels: activerecord

#34411 Reset Capybara sessions if failed system test screenshot raising an exception
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/system_testing/test_helpers/setup_and_teardown.rb
  railties/test/application/test_runner_test.rb
Labels: actionpack, railties

#34400 Remove asset paths from autoload_paths
  railties/CHANGELOG.md
  railties/lib/rails/engine/configuration.rb
  railties/lib/rails/paths.rb
  railties/test/application/configuration_test.rb
Labels: railties

#34441 Describe how has_many's :dependent option affects #delete
  guides/source/association_basics.md
Labels: docs

#34341 Allow rescue from parse errors
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/params_wrapper.rb
  actionpack/lib/action_dispatch/http/filter_parameters.rb
  actionpack/lib/action_dispatch/http/mime_negotiation.rb
  actionpack/lib/action_dispatch/http/parameters.rb
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/test/controller/params_parse_test.rb
  actionpack/test/controller/rescue_test.rb
Labels: actionpack

#34444 fix typo on association_basics.md [ci skip]
  guides/source/association_basics.md
Labels: docs

#34446 Allow patching polling interval logarithmic multiplier
  actioncable/app/assets/javascripts/action_cable.js
Labels: actioncable

#34450 Add test for normalizing non-unicode string
  activesupport/test/multibyte_chars_test.rb
Labels: activesupport

#34457 Fix a method call in bin/setup file
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
Labels: railties

#34451 Arel: Implemented DB-aware NULL-safe comparison
  activerecord/lib/active_record/relation/where_clause.rb
  activerecord/lib/arel/nodes/equality.rb
  activerecord/lib/arel/predications.rb
  activerecord/lib/arel/visitors/depth_first.rb
  activerecord/lib/arel/visitors/dot.rb
  activerecord/lib/arel/visitors/ibm_db.rb
  activerecord/lib/arel/visitors/mssql.rb
  activerecord/lib/arel/visitors/mysql.rb
  activerecord/lib/arel/visitors/oracle.rb
  activerecord/lib/arel/visitors/oracle12.rb
  activerecord/lib/arel/visitors/postgresql.rb
  activerecord/lib/arel/visitors/sqlite.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/visitors/ibm_db_test.rb
  activerecord/test/cases/arel/visitors/informix_test.rb
  activerecord/test/cases/arel/visitors/mssql_test.rb
  activerecord/test/cases/arel/visitors/mysql_test.rb
  activerecord/test/cases/arel/visitors/oracle12_test.rb
  activerecord/test/cases/arel/visitors/oracle_test.rb
  activerecord/test/cases/arel/visitors/postgres_test.rb
  activerecord/test/cases/arel/visitors/sqlite_test.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
  activerecord/test/cases/relation/where_clause_test.rb
Labels: activerecord

#34363 Replace `cache_key` with `cache_key_with_version` on caching_with_rails in Caching with Rails guide [ci skip]
  guides/source/caching_with_rails.md
Labels: actioncable, actionmailer, actionpack, docs

#34466 Fix cache_versioning default note
  activerecord/lib/active_record/integration.rb
Labels: activerecord

#34465 Replace cache_key with cache_key_with_version on caching_with_rails g…
  guides/source/caching_with_rails.md
Labels: docs

#34467 Fix typo and clarify documentation
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#34464 Re-add changes_applied doc
  activemodel/lib/active_model/dirty.rb
Labels: activemodel

#34475 Synchronize ActionCable JS source code with compiled bundle
  actioncable/app/javascript/action_cable/connection_monitor.js
Labels: actioncable

#34481 Correct a spelling error
  README.md
  activejob/README.md
  activejob/activejob.gemspec
  activejob/lib/active_job/base.rb
  activejob/lib/active_job/callbacks.rb
  activejob/lib/active_job/core.rb
  activejob/lib/active_job/execution.rb
  activejob/lib/active_job/queue_adapters.rb
  guides/source/configuring.md
Labels: actionview, activejob, docs

#34483 Update active_job_basics.md
  guides/source/active_job_basics.md
Labels: docs

#34476 Correctly handle unknown object in parallel tests
  activesupport/lib/active_support/testing/parallelization.rb
  railties/test/application/test_runner_test.rb
Labels: activesupport, railties

#34410 Windows support for parallelization and instrumenter
  activesupport/lib/active_support/notifications/instrumenter.rb
  activesupport/lib/active_support/testing/parallelization.rb
  railties/lib/rails/generators/rails/app/templates/test/test_helper.rb.tt
Labels: activesupport, railties

#34486 allow right to left styling of docs
  guides/assets/stylesheets/main.rtl.css
  guides/rails_guides.rb
  guides/rails_guides/generator.rb
Labels: docs

#34085 Homogenize also rails help command output
  guides/source/command_line.md
  railties/lib/rails/command.rb
Labels: docs, railties

#34488 Prevent TextHelper#word_wrap from stripping white space on the left side of long lines; Fixes #34487
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/text_helper.rb
  actionview/test/template/text_helper_test.rb
Labels: actionview

#20865 :only and :except are now chained for routing resource(s)
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/controller/resources_test.rb
Labels: actionpack, routing

#34492 Fix typo in development_dependencies_install.md [ci skip]
  guides/source/development_dependencies_install.md
Labels: docs

#34494 Stop using unnamed roots on conflict
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack

#34495 Make connection handler per thread instead of per fiber
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
Labels: activerecord

#34489 Add slice! method to ActiveModel::Errors
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/errors.rb
  activemodel/test/cases/errors_test.rb
Labels: activemodel

#34491 Fix query cache for multiple connections
  activerecord/lib/active_record/query_cache.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#34498 Fixing an issue when parsing an opclass by allowing indexed column in indexdef to be wrapped up by double quotes
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
Labels: activerecord

#34037 `atomic_write`: Ensure correct permission when `tmpdir` is the same as `dirname`.
  activesupport/lib/active_support/core_ext/file/atomic.rb
  activesupport/test/core_ext/file_test.rb
Labels: activesupport

#34507 Use direction instead of rtl flag
  guides/rails_guides.rb
  guides/rails_guides/generator.rb
Labels: docs

#34352 Keep executions for each specific exception
  activejob/CHANGELOG.md
  activejob/lib/active_job/core.rb
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
  activejob/test/jobs/retry_job.rb
Labels: activejob

#34468 Redact SQL in errors
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/errors.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/statement_invalid_test.rb
Labels: activerecord

#34455 Add progressive JPG MIME-type to default variable content types
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/engine.rb
  guides/source/configuring.md
Labels: activestorage, docs

#34367 Deliver parameterized mail with DeliveryJob
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/delivery_job.rb
  actionmailer/lib/action_mailer/message_delivery.rb
  actionmailer/lib/action_mailer/parameterized.rb
  actionmailer/lib/action_mailer/test_helper.rb
  actionmailer/test/message_delivery_test.rb
  actionmailer/test/parameterized_test.rb
  actionmailer/test/test_helper_test.rb
Labels: actionmailer

#34376 Allow using queue prefix with a default queue name
  activejob/lib/active_job/queue_name.rb
  activejob/test/cases/queue_naming_test.rb
Labels: activejob

#34517 Pluralized enum raises error when attempting to modify
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#34519 Remove unnecessary reduce in Duration#inspect
  activesupport/lib/active_support/duration.rb
Labels: activesupport

#34362 Including button tag of type "submit" in activestorage ujs.js
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/app/javascript/activestorage/ujs.js
Labels: activestorage

#34524 Updating the Testing Guide to Reflect Emails Enqueued With ActiveJob
  guides/source/testing.md
Labels: docs

#34518 Updating the Testing Guide to Reflect Emails Enqueued With ActiveJob
  guides/source/testing.md
Labels: docs

#34522 SQLite 3.7.16+ returns the order of the primary key columns
  activerecord/test/cases/primary_keys_test.rb
Labels: activerecord

#34525 Use cache_key_with_version instead of cache_key for the example in Low-Level Caching [ci skip]
  guides/source/caching_with_rails.md
Labels: docs

#34521 Test when using MySQL `exec_query` returns `ActiveRecord::Result` all…
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#34520 Bump the minimum version of PostgreSQL to 9.3
  .travis.yml
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/connection_test.rb
  activerecord/test/cases/adapters/postgresql/range_test.rb
  activerecord/test/cases/adapters/postgresql/transaction_test.rb
  activerecord/test/cases/view_test.rb
  activerecord/test/config.example.yml
  guides/source/active_record_postgresql.md
  railties/lib/rails/generators/rails/app/templates/config/databases/jdbcpostgresql.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/postgresql.yml.tt
Labels: activerecord, docs, railties

#34440 Convert ActionCable tests from CoffeeScript to ES2015 and replace Blade with Karma and Rollup
  .travis.yml
  actioncable/.gitignore
  actioncable/Rakefile
  actioncable/blade.yml
  actioncable/karma.conf.js
  actioncable/package.json
  actioncable/rollup.config.test.js
  actioncable/test/javascript/src/test.coffee
  actioncable/test/javascript/src/test.js
  actioncable/test/javascript/src/test_helpers/consumer_test_helper.coffee
  actioncable/test/javascript/src/test_helpers/consumer_test_helper.js
  actioncable/test/javascript/src/test_helpers/index.coffee
  actioncable/test/javascript/src/test_helpers/index.js
  actioncable/test/javascript/src/unit/action_cable_test.coffee
  actioncable/test/javascript/src/unit/action_cable_test.js
  actioncable/test/javascript/src/unit/consumer_test.coffee
  actioncable/test/javascript/src/unit/consumer_test.js
  actioncable/test/javascript/src/unit/subscription_test.coffee
  actioncable/test/javascript/src/unit/subscription_test.js
  actioncable/test/javascript/src/unit/subscriptions_test.coffee
  actioncable/test/javascript/src/unit/subscriptions_test.js
  actioncable/test/javascript/vendor/mock-socket.js
  actioncable/yarn.lock
Labels: actioncable

#34480 Make it possible to override the implicit order column
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#34538 Reuse code in AR::Association#find_target
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/associations/singular_association.rb
Labels: activerecord

#34528 Additional types of ResultSet should not contain keys of #attributes_to_define_after_schema_loads
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/querying.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/instrumentation_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#34544 Fix minor Active Storage docs typo [ci skip]
  activestorage/app/models/active_storage/blob.rb
Labels: activestorage

#33835 Use raw time string from DB to generate ActiveRecord#cache_version
  activerecord/lib/active_record/integration.rb
  activerecord/test/cases/cache_key_test.rb
Labels: activerecord, activesupport

#34548 Pass the test reporter by reference
  activesupport/lib/active_support/testing/parallelization.rb
Labels: activesupport

#34557 Patch load error in case GemSpecError
  activerecord/lib/active_record/connection_adapters/connection_specification.rb
Labels: activerecord

#34534 Clarify scope body requirements
  guides/source/active_record_querying.md
Labels: docs

#34561 Allow spaces in postgres table names
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/utils.rb
  activerecord/test/cases/adapters/postgresql/quoting_test.rb
Labels: activerecord

#34554 Log exceptions atomically
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
Labels: actionpack

#34562 Improve ActiveRecord::Querying documentation [ci skip]
  activerecord/lib/active_record/querying.rb
Labels: activerecord

#34553 Do nothing when the same block is included again
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/concern.rb
  activesupport/test/concern_test.rb
  activesupport/test/fixtures/concern/some_concern.rb
Labels: activesupport

#34569 Allow aliased attributes in update
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods/dirty.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#34572 Fix the scoping with query methods in the scope block
  activerecord/lib/active_record/relation/spawn_methods.rb
  activerecord/test/cases/scoping/relation_scoping_test.rb
  activerecord/test/models/post.rb
Labels: activerecord

#34505 Add ability to block writes to a database
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#34576 Add a test with extra keys to active_storage Service#upload
  activestorage/test/service/shared_service_tests.rb
Labels: activestorage

#33882 [Realties] config_for as ActiveSupport::OrderedOptions
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: activesupport, railties

#34577 Clarify no support for non PK id columns
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  guides/source/active_record_basics.md
Labels: activerecord, docs
