Repository rails/rails, pull requests merged in 2018-08, with the labels that each got.

#25437 Support skip nil for cache fetch
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport, needs feedback

#33474 Document best practices with old migrations
  guides/source/active_record_migrations.md
Labels: docs

#33585 SQLite3 adapter `alter_table` method restores foreign keys
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/migration/foreign_key_test.rb
Labels: activerecord

#33413 Support multiple submit buttons in Active Storage forms
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/app/javascript/activestorage/ujs.js
Labels: activestorage

#33659 [WIP] Action cable testing
  actioncable/lib/action_cable.rb
  actioncable/lib/action_cable/subscription_adapter.rb
  actioncable/lib/action_cable/subscription_adapter/test.rb
  actioncable/lib/action_cable/test_case.rb
  actioncable/lib/action_cable/test_helper.rb
  actioncable/test/subscription_adapter/test_adapter_test.rb
  actioncable/test/test_helper.rb
  actioncable/test/test_helper_test.rb
Labels: actioncable

#32647 Omit BEGIN/COMMIT statements for empty transactions
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/adapters/mysql2/connection_test.rb
  activerecord/test/cases/adapters/postgresql/active_schema_test.rb
  activerecord/test/cases/adapters/postgresql/connection_test.rb
  activerecord/test/cases/log_subscriber_test.rb
  activerecord/test/cases/test_case.rb
  activerecord/test/cases/transaction_isolation_test.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#33748 Drop load_database_yaml and fix test
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/lib/rails/application/configuration.rb
  railties/test/application/rake/dbs_test.rb
Labels: activerecord

#33760 Add migrations_paths option to migration generator
  activerecord/lib/rails/generators/active_record/migration.rb
  activerecord/lib/rails/generators/active_record/migration/migration_generator.rb
  railties/CHANGELOG.md
  railties/test/generators/migration_generator_test.rb
Labels: activerecord, railties

#33637 Refactor Active Record configurations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/base.rb
  activerecord/lib/active_record/connection_adapters/connection_specification.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/lib/active_record/test_databases.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  activerecord/test/cases/connection_specification/resolver_test.rb
  activerecord/test/cases/legacy_configurations_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activerecord/test/cases/tasks/legacy_database_tasks_test.rb
  guides/source/configuring.md
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord

#33751 Add hooks to ActiveJob around retries and discards
  activejob/CHANGELOG.md
  activejob/lib/active_job/exceptions.rb
  activejob/lib/active_job/logging.rb
  activejob/test/cases/logging_test.rb
  guides/source/active_support_instrumentation.md
Labels: activejob
