Repository rails/rails, pull requests merged in 2018-04, with the labels that each got.

#32479 fixes a bug in IE11 that broke ActiveStorage direct uploads
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/app/javascript/activestorage/ujs.js
Labels: activestorage

#32517 Active Storage: Always exclude JSON root from direct_uploads#create response
  activestorage/app/controllers/active_storage/direct_uploads_controller.rb
  activestorage/test/controllers/direct_uploads_controller_test.rb
Labels: activestorage

#32539 Fix ActiveSupport::Cache compression
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
  activesupport/test/cache/cache_entry_test.rb
  activesupport/test/cache/stores/memory_store_test.rb
Labels: activesupport, needs backport, regression

#23868 Introduce ActionDispatch::DebugExceptions interceptors
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
Labels: actionpack

#29286 Create MissingExactTemplate exception with separate template
  actionpack/lib/action_controller/metal/exceptions.rb
  actionpack/lib/action_controller/metal/implicit_render.rb
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/missing_exact_template.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/missing_exact_template.text.erb
  actionpack/test/controller/mime/respond_to_test.rb
  actionpack/test/controller/render_test.rb
Labels: actionpack, needs work

#32471 Use ImageProcessing gem for ActiveStorage variants
  Gemfile
  Gemfile.lock
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  activestorage/CHANGELOG.md
  activestorage/README.md
  activestorage/app/models/active_storage/blob/representable.rb
  activestorage/app/models/active_storage/preview.rb
  activestorage/app/models/active_storage/variant.rb
  activestorage/app/models/active_storage/variation.rb
  activestorage/lib/active_storage.rb
  activestorage/lib/active_storage/engine.rb
  activestorage/test/models/variant_test.rb
  activestorage/test/test_helper.rb
  guides/source/active_storage_overview.md
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/generators/app_generator_test.rb
Labels: activestorage

#32721 Unminify activestorage.js
  activestorage/.babelrc
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/package.json
  activestorage/rollup.config.js
  activestorage/webpack.config.js
  activestorage/yarn.lock
Labels: activestorage

#32698 [ci skip] update ActiveStorage documentation
  guides/source/active_storage_overview.md
Labels: activestorage
