Repository rails/rails, pull requests merged in 2019-05, with the labels that each got.

#36153 Remove database specific sql statements from SQLCounter
  activerecord/test/cases/adapters/postgresql/connection_test.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/test_case.rb
Labels: activerecord

#36157 Updates to getting started per Rails 6.0 changes [ci skip]
  guides/source/getting_started.md
Labels: docs

#34642 HashWithIndifferentAccess#initialize performance improvement
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#36155 Active Model release notes [ci skip]
  guides/source/6_0_release_notes.md
Labels: docs

#35337 Removed unused layout attribute from RenderedTemplate
  actionview/lib/action_view/renderer/abstract_renderer.rb
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/lib/action_view/renderer/template_renderer.rb
Labels: actionview

#36149 Add Release Notes for Active Storage
  guides/source/6_0_release_notes.md
Labels: docs

#36134 Make scope arity check consistent
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/models/author.rb
Labels: activerecord

#36159 Update asset compression text [ci skip]
  guides/source/getting_started.md
Labels: docs

#36152 Active Support release notes [ci skip]
  guides/source/6_0_release_notes.md
Labels: docs

#36131 Namespace association extension modules under the owner model
  activerecord/lib/active_record/associations/builder/collection_association.rb
  activerecord/test/cases/associations/extension_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#36166 Add Action Cable Release Notes
  guides/source/6_0_release_notes.md
Labels: docs

#36167 [ci skip] Correct the stylesheet name used in the guide.
  guides/source/action_text_overview.md
Labels: docs

#36168 Remove redundant `test_too_many_binds`
  activerecord/test/cases/adapters/sqlite3/bind_parameter_test.rb
Labels: activerecord

#36172 Recover perf for `pluck` by reverting 9c9c950d02af83742a5f76302d0faa9…
  activemodel/lib/active_model/type/integer.rb
Labels: activemodel

#36169 Backport release notes to 6-0-stable
  guides/source/6_0_release_notes.md
  guides/source/getting_started.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#36189 Clear Resolvers' cache after RenderTestCases tests
  actionview/test/template/render_test.rb
Labels: actionview

#36191 Remove unnecessary find_partial method
  actionview/lib/action_view/renderer/partial_renderer.rb
Labels: actionview

#36190 Should attempt `committed!`/`rolledback!` to all enrolled records in the transaction
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/touch_later.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/transaction_callbacks_test.rb
Labels: activerecord

#36201 Fixed typo of dot position [skip ci]
  guides/source/configuring.md
Labels: docs

#36202 Remove ignored_sql from SQLCounter by adding "TRANSACTION" to log name
  activerecord/lib/active_record/connection_adapters/abstract/savepoints.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/test/cases/adapters/postgresql/referential_integrity_test.rb
  activerecord/test/cases/test_case.rb
Labels: activerecord

#36196 Hide malformed parameters from error page
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_request_and_response.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_request_and_response.text.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/diagnostics.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/diagnostics.text.erb
  actionpack/test/dispatch/debug_exceptions_test.rb
  railties/test/application/middleware/exceptions_test.rb
Labels: actionpack, railties

#36203 Update directory name in example commands [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#36215 Update testing guide to reflect changes from #36047
  guides/source/testing.md
Labels: docs

#36214 Fix indentation for config.eager_load nil warning message
  railties/lib/rails/application/bootstrap.rb
Labels: railties

#36221 Only build middleware proxy when instrumentating
  actionpack/lib/action_dispatch/middleware/stack.rb
  actionpack/test/controller/show_exceptions_test.rb
  actionpack/test/dispatch/middleware_stack_test.rb
Labels: actionpack

#36223 Fix indentation of the config.eager_load nil warning
  railties/lib/rails/application/bootstrap.rb
Labels: railties

#36225 Use a better requirement for sass-rails 6 prereleases
  railties/lib/rails/generators/app_base.rb
Labels: railties

#36181 Expose `mailbox_for` method
  actionmailbox/CHANGELOG.md
  actionmailbox/lib/action_mailbox/router.rb
  actionmailbox/lib/action_mailbox/routing.rb
  actionmailbox/test/unit/mailbox/routing_test.rb
  actionmailbox/test/unit/router_test.rb
Labels: actionmailbox

#36184 Introduce ActiveSupport::Notifications.monotonic_subscribe
  activesupport/lib/active_support/notifications.rb
  activesupport/lib/active_support/notifications/fanout.rb
  activesupport/test/notifications_test.rb
  guides/source/active_support_instrumentation.md
Labels: activesupport, docs

#28707 Add class option timestamps to migration generator
  activerecord/CHANGELOG.md
  activerecord/lib/rails/generators/active_record/migration/migration_generator.rb
  guides/source/active_record_migrations.md
  railties/test/generators/migration_generator_test.rb
Labels: actioncable, activerecord, docs, railties

#36242 [ci skip]Corrected the sentence in upgrade guide
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#36241 [ci skip] Fix confusing sentence in upgrade guide
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#36244 [ci skip] Typo: ActiveSuppport -> ActiveSupport
  guides/source/6_0_release_notes.md
Labels: docs

#36250 [skip ci] arel -> Arel
  guides/source/6_0_release_notes.md
Labels: docs

#36249 [ci skip] Expand JS to JavaScript for clarity
  guides/source/6_0_release_notes.md
Labels: docs

#36248 [ci skip] Mime -> MIME
  guides/source/6_0_release_notes.md
Labels: docs

#36247 [ci skip] ActionView -> Action View
  guides/source/6_0_release_notes.md
Labels: docs

#36252 [ci skip] mysql -> MySQL
  guides/source/6_0_release_notes.md
Labels: docs

#36246 [ci skip] Fix grammar
  guides/source/6_0_release_notes.md
Labels: docs

#36243 [ci skip] Typo: Javascript -> JavaScript
  guides/source/6_0_release_notes.md
Labels: docs

#36251 [ci skip] Clarify that the minimum version of a "gem" is bumped
  guides/source/6_0_release_notes.md
Labels: docs

#36160 compilation -> compression [ci skip]
  guides/source/getting_started.md
Labels: docs

#36258 Update the 6.0 load_defaults list [ci skip]
  guides/source/configuring.md
Labels: docs

#36257 Update the sqlite db yaml template to match other templates and mention proper supported version
  railties/lib/rails/generators/rails/app/templates/config/databases/jdbcsqlite3.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/sqlite3.yml.tt
Labels: railties

#36073 document update_counters on relation [ci skip]
  activerecord/lib/active_record/relation.rb
Labels: activerecord

#36245 [ci skip] Clarity about embed metadata in signed and encrypted cookie
  guides/source/6_0_release_notes.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#36255 Remove SQLite version support caveats [ci skip]
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/transactions.rb
Labels: activerecord

#36265 [skip ci] Fix missing punctuation mark and formatting in CHANGELOG
  activerecord/CHANGELOG.md
Labels: activerecord

#36260 [skip ci] Add missing info about 'active_record.collection_cache_versioning' configuration
  guides/source/configuring.md
Labels: docs

#36268 Backport #36257 into 6-0-stable
  railties/lib/rails/generators/rails/app/templates/config/databases/jdbcsqlite3.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/sqlite3.yml.tt
Labels: railties

#36269 [skip ci] The default value of config.active_record.collection_cache_versioning without loading Railtie is false
  guides/source/configuring.md
Labels: docs

#36271 Don't track implicit `touch` mutation
  activerecord/lib/active_record/attribute_methods/dirty.rb
  activerecord/lib/active_record/touch_later.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
Labels: activerecord

#36092 Improve doc for :root option in as_json()
  activemodel/lib/active_model/serializers/json.rb
Labels: activemodel

#35885 Add ActionDispatch::SystemTestCase#fill_in_rich_text_area
  actiontext/.gitignore
  actiontext/CHANGELOG.md
  actiontext/Rakefile
  actiontext/lib/action_text/engine.rb
  actiontext/lib/action_text/system_test_helper.rb
  actiontext/test/application_system_test_case.rb
  actiontext/test/dummy/app/javascript/packs/application.js
  actiontext/test/dummy/app/views/messages/_form.html.erb
  actiontext/test/dummy/package.json
  actiontext/test/dummy/yarn.lock
  actiontext/test/system/system_test_helper_test.rb
  railties/lib/rails/test_unit/runner.rb
Labels: actiontext, railties

#36127 Improve nested parameter resolving - continuation of 29888
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/nested_parameters_permit_test.rb
Labels: actionpack

#36237 Fix database loading when ERB is single line ternary
  railties/lib/rails/application/dummy_erb_compiler.rb
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#36200 Added guide for `config.autoloader` [skip ci]
  guides/source/configuring.md
Labels: docs

#36284 Fix eager loading associations with string joins not to raise NoMethodError
  activerecord/lib/active_record/associations/join_dependency/join_association.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/models/rating.rb
Labels: activerecord

#36286 Fix: DummyCompiler embeds invalid YAML content
  railties/lib/rails/application/dummy_erb_compiler.rb
  railties/test/application/rake/dbs_test.rb
Labels: railties

#36283 Permit running jobs in system tests
  actionpack/lib/action_dispatch/railtie.rb
  actionpack/lib/action_dispatch/system_test_case.rb
  actionpack/lib/action_dispatch/system_testing/test_helpers/setup_and_teardown.rb
  actionpack/lib/action_dispatch/system_testing/test_helpers/undef_methods.rb
  actionpack/test/dispatch/system_testing/system_test_case_test.rb
Labels: actionpack

#35931 S3: permit uploading files larger than 5 GB
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/service/s3_service.rb
  activestorage/test/service/s3_service_test.rb
Labels: activestorage

#36291 typo change
  guides/source/routing.md
Labels: docs

#36296 Use a single thread for all ConnectionPool Reapers
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#36263 [skip ci] Add undefined STI acronym to the heading which is referred under its section
  guides/source/association_basics.md
Labels: docs

#36282 List available skip options in command line guide
  guides/source/command_line.md
Labels: docs

#36299 Rename `hash` to `jar` in CookieJar.build
  actionpack/lib/action_dispatch/middleware/cookies.rb
Labels: actionpack

#36122 Regard operating system color scheme for rescues
  actionpack/lib/action_dispatch/middleware/templates/rescues/layout.erb
  actionpack/lib/action_dispatch/middleware/templates/routes/_table.html.erb
Labels: actionpack

#36304 Implicit through table joins should be appeared before user supplied joins
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
Labels: activerecord

#36302 Return parameters enumerator from transform_keys/!
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack

#36306 Make rescues layout responsive
  actionpack/lib/action_dispatch/middleware/templates/rescues/layout.erb
Labels: actionpack

#36309 Correct human file size examples [ci skip]
  actionview/lib/action_view/helpers/number_helper.rb
  activesupport/lib/active_support/number_helper.rb
Labels: actionview, activesupport

#36314 Fall back to type casting from the connection adapter
  activerecord/lib/active_record/table_metadata.rb
  activerecord/lib/active_record/type_caster/connection.rb
  activerecord/test/cases/relation/where_test.rb
Labels: activerecord

#36320 [CI skip] Put :nodoc: on method that raises NoMethodError
  activerecord/lib/active_record/associations/collection_proxy.rb
Labels: activerecord

#36326 Add `action_cable_connection_test_case` hook to the "available hooks" list [ci skip]
  guides/source/engines.md
Labels: docs

#36294 Added deep_transform_keys to StrongParameters
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
  actionpack/test/controller/parameters/mutators_test.rb
Labels: actionpack

#36329 Remove compatibility module from docs [ci skip]
  actionpack/lib/action_controller/template_assertions.rb
Labels: actionpack

#36312 Mirror direct uploads
  activestorage/CHANGELOG.md
  activestorage/app/jobs/active_storage/mirror_job.rb
  activestorage/app/models/active_storage/attachment.rb
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage/engine.rb
  activestorage/lib/active_storage/log_subscriber.rb
  activestorage/lib/active_storage/service/mirror_service.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attachment_test.rb
  activestorage/test/service/mirror_service_test.rb
  activestorage/test/test_helper.rb
  guides/source/active_storage_overview.md
  guides/source/configuring.md
Labels: activestorage, docs

#34656 Keep part when scope option has value
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/journey/formatter.rb
  actionpack/lib/action_dispatch/journey/route.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/dispatch/routing_test.rb
  actionpack/test/journey/route_test.rb
Labels: actionpack

#33437 Add :allow_nil option to delegate_missing_to
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/attached/one.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/module/delegation.rb
  activesupport/test/core_ext/module_test.rb
Labels: activestorage, activesupport

#36336 Bump Gemfile entry jbuilder version
  railties/lib/rails/generators/app_base.rb
Labels: railties

#36337 Delete evented_file_update_checker existing_parent
  activesupport/lib/active_support/evented_file_update_checker.rb
  activesupport/test/evented_file_update_checker_test.rb
Labels: activesupport

#36323 Wrap ActionView cache expiry in a mutex
  actionview/lib/action_view/cache_expiry.rb
Labels: actionview

#36340 Fix EventedFileUpdateChecker through a symlink
  activesupport/lib/active_support/evented_file_update_checker.rb
  activesupport/test/evented_file_update_checker_test.rb
Labels: activesupport

#36343 Change comments
  activesupport/lib/active_support/core_ext/hash/deep_transform_values.rb
Labels: activesupport

#36345 Use WeakRef in Reaper to avoid leaking connection pools
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#36346 [documentation][ci skip] changes 'Week day' to 'day of week'
  guides/source/configuring.md
Labels: docs

#36347 Remove unused requires from debug_exceptions
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
Labels: actionpack

#36348 [documentation][ci skip] stringify_keys and symbolize_keys have stable results.
  guides/source/active_support_core_extensions.md
Labels: docs

#36350 Allow symbol (i.e. quoted identifier) as safe SQL string
  activerecord/lib/active_record/attribute_methods.rb
Labels: activerecord

#36352 Don't round off subseconds unless necessary
  activemodel/lib/active_model/type/helpers/time_value.rb
Labels: activemodel

#36324 Fix unexpected select_tag delete behavior when include_blank is present
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/test/template/form_tag_helper_test.rb
Labels: actionview

#36353 Fix comment for "broken" inverse_of associations
  activerecord/test/models/face.rb
Labels: activerecord

#36077 Add a section to introduce pluck's eager loading behavior [ci skip]
  guides/source/active_record_querying.md
Labels: docs

#36356 Remove wrong default value for `cache_versioning` in documentation of `cache_version`
  activerecord/lib/active_record/integration.rb
Labels: activerecord

#36369 Fail parallel tests if workers exit early
  activesupport/lib/active_support/testing/parallelization.rb
  railties/test/application/test_runner_test.rb
Labels: activesupport, railties

#36373 Fix table comment also being applied to the primary key column
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/comment_test.rb
Labels: activerecord
