Repository rails/rails, pull requests merged in 2019-01, with the labels that each got.

#34838 Permit sending Active Storage purge and analysis jobs to separate queues
  activestorage/CHANGELOG.md
  activestorage/app/jobs/active_storage/analyze_job.rb
  activestorage/app/jobs/active_storage/base_job.rb
  activestorage/app/jobs/active_storage/purge_job.rb
  activestorage/lib/active_storage.rb
  activestorage/lib/active_storage/engine.rb
  guides/source/configuring.md
Labels: activestorage, docs

#34835 Fix examples in ActiveSupport::LogSubscriber docs
  activesupport/lib/active_support/log_subscriber.rb
Labels: activesupport

#34836 Restore an ability that class level `update` without giving ids
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/persistence_test.rb
Labels: activerecord

#34841 Remove mention about `Test::Unit::TestCase` [ci skip]
  actionpack/lib/action_controller/test_case.rb
Labels: actionpack

#34846 fix activerecord reaper_test
  activerecord/test/cases/reaper_test.rb
Labels: activerecord

#33985 Only define attribute methods from schema cache
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/internal_metadata.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/schema_migration.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#34706 Add missing keys to ActiveSupport#instrumentation guide [skip ci]
  guides/source/active_support_instrumentation.md
Labels: docs

#34855 Update the "Configuring Rails Applications" guide [ci skip]
  guides/source/configuring.md
Labels: docs

#34858 Make average compatible across ruby versions
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#34773 For fixtures share the connection pool when there are multiple handlers
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/fixtures_test.rb
Labels: activerecord

#34862 Fix example of I18n setting in the guide [ci skip]
  guides/source/i18n.md
Labels: docs

#34797 Don't expect defined protect_against_forgery? in {token,csrf_meta}_tag
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/csrf_helper.rb
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/csrf_helper_test.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview

#34864 Clarify benefit of `delegate_missing_to`
  activesupport/lib/active_support/core_ext/module/delegation.rb
Labels: activesupport

#34863 Send Active Storage analysis and purge jobs to dedicated queues by default
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_0.rb.tt
  railties/test/application/configuration_test.rb
Labels: docs, railties

#34866 Add `ActiveModel::Errors#of_kind?`
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/errors.rb
  activemodel/test/cases/errors_test.rb
Labels: activemodel

#34870 Fix `new_framework_defaults_6_0.rb` file
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_0.rb.tt
Labels: railties

#34867 Test Action Mailbox configurations
  railties/test/application/configuration_test.rb
Labels: railties

#34731 Support in-flight jobs stored before individual execution counters for `retry_on`
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
  activejob/test/jobs/retry_job.rb
Labels: activejob

#34709 Use ES6 and Webpacker in ActionCable guide.
  guides/source/action_cable_overview.md
Labels: docs

#34874 Fix API docs of `ActionText::RichText` [ci skip]
  actiontext/app/models/action_text/rich_text.rb
Labels: actiontext

#34876 Remove comment from `actiontext/actiontext.gemspec`
  actiontext/actiontext.gemspec
Labels: actiontext

#34875 Test actiontext on Rails 6.0
  actionmailbox/test/dummy/db/migrate/20180212164506_create_active_storage_tables.active_storage.rb
  actiontext/test/dummy/config/application.rb
  actiontext/test/dummy/db/migrate/20180208205311_create_messages.rb
  actiontext/test/dummy/db/migrate/20180212164506_create_active_storage_tables.rb
  actiontext/test/dummy/db/migrate/20181003185713_create_people.rb
  actiontext/test/template/form_helper_test.rb
Labels: actionmailbox, actiontext

#34877 Add `action_text_content` hook to the guide [ci skip]
  guides/source/engines.md
Labels: docs

#34879 Add `--skip-action-text` option to `rails new`
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/config/application.rb.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#34878 Add Action Text to guides [ci skip]
  actiontext/README.md
  guides/source/6_0_release_notes.md
  guides/source/action_text_overview.md
  guides/source/documents.yaml
Labels: actiontext, docs

#34865 Respect Rails.env when running `rails yarn:install`
  railties/lib/rails/tasks/yarn.rake
Labels: railties

#34886 add attachments to the new inbound mail
  actionmailbox/app/controllers/rails/conductor/action_mailbox/inbound_emails_controller.rb
  actionmailbox/app/views/rails/conductor/action_mailbox/inbound_emails/new.html.erb
  actionmailbox/test/controllers/rails/action_mailbox/inbound_emails_controller_test.rb
  actionmailbox/test/fixtures/files/avatar1.jpeg
  actionmailbox/test/fixtures/files/avatar2.jpeg
Labels: actionmailbox

#34700 Preserve key order of #fetch_multi
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#34896 Allow space for mysql enum and set keyword.
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/connection_adapters/mysql_type_lookup_test.rb
Labels: activerecord

#34898 Add new frameworks to `tasks/release.rb`
  actionmailbox/Rakefile
  actiontext/Rakefile
  tasks/release.rb
Labels: actionmailbox, actiontext

#34132 enable_fragment_cache_logging in dev by default
  activestorage/test/dummy/config/environments/development.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
Labels: railties

#34890 Run exception tests for all ActiveJob adapters and fix issue with individual counters and Resque
  activejob/lib/active_job/core.rb
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
  activejob/test/jobs/retry_job.rb
Labels: activejob

#34755 Preserve Bundle configuration during app generation
  railties/CHANGELOG.md
  railties/lib/rails/generators/app_base.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#34885 Allow using combine the Cache-Control `public` and `no-cache` headers
  actionpack/lib/action_dispatch/http/cache.rb
  actionpack/test/controller/render_test.rb
Labels: actionpack

#34894 Capture parsing errors only for ActionController::ParamsWrapper#process_actions
  actionpack/lib/action_controller/metal/params_wrapper.rb
Labels: actionpack

#34903 Enable `Lint/DeprecatedClassMethods` cop to avoid using deprecated methods
  .rubocop.yml
  actiontext/lib/templates/installer.rb
Labels: actiontext

#34860 Make Ruby on Rails Guides SNS-friendly
  guides/rails_guides/markdown.rb
  guides/source/index.html.erb
  guides/source/layout.html.erb
Labels: docs

#34904 Enable `Lint/UselessAssignment` cop to avoid unused variable warnings
  .rubocop.yml
  actionpack/test/controller/filters_test.rb
  actionpack/test/controller/webservice_test.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/timestamp.rb
  activerecord/lib/arel/visitors/informix.rb
  activerecord/lib/arel/visitors/oracle12.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/batches_test.rb
  activerecord/test/cases/counter_cache_test.rb
  activerecord/test/cases/inheritance_test.rb
  activesupport/test/test_case_test.rb
  guides/rails_guides/generator.rb
  railties/lib/rails/code_statistics.rb
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
Labels: actionpack, activerecord, activesupport, docs, railties

#34692 Move MailDeliveryJob default to 6.0 defaults
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/parameterized.rb
  actionmailer/lib/action_mailer/railtie.rb
  actionmailer/test/abstract_unit.rb
  actionmailer/test/legacy_delivery_job_test.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_0.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionmailer, railties

#34900 Reset column info on original Topic in serialized attr test
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#34907 Add Postmark ingress support to ActionMailbox
  actionmailbox/app/controllers/action_mailbox/ingresses/postmark/inbound_emails_controller.rb
  actionmailbox/config/routes.rb
  actionmailbox/test/controllers/ingresses/postmark/inbound_emails_controller_test.rb
  guides/source/action_mailbox_basics.md
  railties/test/application/rake/routes_test.rb
  railties/test/commands/routes_test.rb
Labels: actionmailbox, docs, railties

#34908 Bring in all of aws-sdk-sns if using Amazon ingress
  actionmailbox/app/controllers/action_mailbox/ingresses/amazon/inbound_emails_controller.rb
Labels: actionmailbox

#34909 Specify the type for the auto-generated primary key
  guides/source/active_record_basics.md
Labels: docs

#34905 Move all npm packages to @rails scope
  RELEASING_RAILS.md
  actioncable/README.md
  actioncable/lib/rails/generators/channel/templates/javascript/consumer.js.tt
  actioncable/package.json
  actiontext/app/javascript/actiontext/attachment_upload.js
  actiontext/lib/templates/installer.rb
  actiontext/package.json
  actiontext/test/dummy/app/javascript/packs/application.js
  actiontext/yarn.lock
  actionview/app/assets/javascripts/README.md
  actionview/package.json
  activestorage/README.md
  activestorage/package.json
  guides/source/action_cable_overview.md
  guides/source/active_storage_overview.md
  package.json
  railties/lib/rails/generators/rails/app/templates/app/javascript/channels/consumer.js
  railties/lib/rails/generators/rails/app/templates/app/javascript/packs/application.js.tt
  railties/lib/rails/generators/rails/app/templates/package.json.tt
  railties/test/generators/shared_generator_tests.rb
  yarn.lock
Labels: actioncable, actiontext, actionview, activestorage, docs, railties

#34892 Fix safe_constantize to not raise a LoadError.
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/inflector/methods.rb
  activesupport/test/autoloading_fixtures/raises_load_error.rb
  activesupport/test/constantize_test_cases.rb
Labels: activesupport

#34911 Add reasoning for `I18n.with_locale`
  guides/source/i18n.md
Labels: docs

#34919 Fix typo in collection_radio_buttons spec
  actionview/lib/action_view/helpers/form_options_helper.rb
Labels: actionview

#34913 Add info about `config.action_mailer.delivery_job` to the guide [ci skip]
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_0.rb.tt
Labels: docs, railties

#34902 improve doc in `Adding Member Routes` section of routing chapter.
  guides/source/routing.md
Labels: docs

#34906 Support endless ranges in where
  activerecord/CHANGELOG.md
  activerecord/lib/arel/predications.rb
  activerecord/test/cases/arel/attributes/attribute_test.rb
Labels: activerecord

#34928 Add Exim and Qmail support to Action Mailbox
  actionmailbox/README.md
  actionmailbox/app/controllers/action_mailbox/ingresses/relay/inbound_emails_controller.rb
  actionmailbox/config/routes.rb
  actionmailbox/lib/action_mailbox/relayer.rb
  actionmailbox/lib/tasks/ingress.rake
  actionmailbox/test/controllers/ingresses/relay/inbound_emails_controller_test.rb
  actionmailbox/test/unit/relayer_test.rb
  guides/source/action_mailbox_basics.md
  railties/test/application/rake/routes_test.rb
  railties/test/commands/routes_test.rb
Labels: actionmailbox, docs, railties

#34845 Add ActionCable::Connection::TestCase
  actioncable/lib/action_cable/connection.rb
  actioncable/lib/action_cable/connection/test_case.rb
  actioncable/test/connection/test_case_test.rb
Labels: actioncable

#34930 Merge `actioncable/README.md` to the Action Cable Overview guide [ci skip]
  actioncable/README.md
  guides/source/action_cable_overview.md
Labels: actioncable, docs

#34933 Add Action Cable testing guides and generators
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/connection/test_case.rb
  actioncable/lib/rails/generators/channel/USAGE
  actioncable/lib/rails/generators/channel/channel_generator.rb
  actioncable/lib/rails/generators/test_unit/channel_generator.rb
  actioncable/lib/rails/generators/test_unit/templates/channel_test.rb.tt
  guides/source/6_0_release_notes.md
  guides/source/action_cable_overview.md
  guides/source/testing.md
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/test/channels/application_cable/connection_test.rb.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/channel_generator_test.rb
Labels: actioncable, docs, railties

#33962 Restructure credentials after environment overrides.
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/commands/credentials/USAGE
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/test/application/credentials_test.rb
  railties/test/application/multiple_applications_test.rb
  railties/test/credentials_test.rb
Labels: railties

#34927 Refactor calculating beginning_of_quarter and end_of_quarter
  activesupport/lib/active_support/core_ext/date_and_time/calculations.rb
Labels: activesupport

#34891 Allow strong params in ActiveRecord::Base#exists?
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/support/stubs/strong_parameters.rb
Labels: activerecord

#34937 Document the ActionCable JS changes in the upgrade guide and release notes
  guides/source/6_0_release_notes.md
  guides/source/upgrading_ruby_on_rails.md
Labels: actioncable, docs

#34931 Add mention to the main README about new libraries [ci skip]
  README.md
  railties/RDOC_MAIN.rdoc
Labels: railties

#28078 Refs #28025 nullify *_type column on polymorphic associations on :nu…
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/foreign_association.rb
  activerecord/lib/active_record/associations/has_many_association.rb
  activerecord/lib/active_record/associations/has_one_association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/models/drink_designer.rb
  activerecord/test/models/person.rb
  guides/source/association_basics.md
Labels: activerecord, docs

#34943 Add `null: false` to `created_at` and `updated_at` columns in Action Mailbox table
  actionmailbox/db/migrate/20180917164000_create_action_mailbox_tables.rb
Labels: actionmailbox

#34948 Fix document formatting on ActionMailbox [ci skip]
  actionmailbox/app/controllers/action_mailbox/ingresses/mailgun/inbound_emails_controller.rb
  actionmailbox/app/jobs/action_mailbox/incineration_job.rb
  actionmailbox/app/models/action_mailbox/inbound_email.rb
  actionmailbox/app/models/action_mailbox/inbound_email/incineratable.rb
  actionmailbox/app/models/action_mailbox/inbound_email/incineratable/incineration.rb
  actionmailbox/app/models/action_mailbox/inbound_email/message_id.rb
  actionmailbox/app/models/action_mailbox/inbound_email/routable.rb
  actionmailbox/lib/action_mailbox/base.rb
  actionmailbox/lib/action_mailbox/router/route.rb
  actionmailbox/lib/action_mailbox/routing.rb
  actionmailbox/lib/action_mailbox/test_helper.rb
Labels: actionmailbox

#34946 Engines guide: remove Decorator pattern references in Overriding existing classes examples
  guides/source/engines.md
Labels: docs

#34944 Document that `format.any` can match all formats
  actionpack/lib/action_controller/metal/mime_responds.rb
Labels: actionpack, docs

#34947 Add `rails test:channels` and fix Action Cable templates
  actioncable/lib/rails/generators/test_unit/templates/channel_test.rb.tt
  guides/source/testing.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/test/channels/application_cable/connection_test.rb.tt
  railties/lib/rails/test_unit/testing.rake
  railties/test/application/test_runner_test.rb
Labels: actioncable, docs, railties

#34832 Add rails db:system:change command
  railties/CHANGELOG.md
  railties/lib/rails/commands/db/system/change/change_command.rb
  railties/lib/rails/generators.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/app_name.rb
  railties/lib/rails/generators/database.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/db/system/change/change_generator.rb
  railties/test/commands/db_system_change_test.rb
  railties/test/generators/db_system_change_generator_test.rb
  railties/test/generators/generators_test_helper.rb
  railties/test/isolation/abstract_unit.rb
Labels: railties

#34949 Minimize boilerplate setup code for JavaScript libraries
  actionview/app/assets/javascripts/README.md
  activestorage/README.md
  guides/source/action_cable_overview.md
  guides/source/active_storage_overview.md
  railties/lib/rails/generators/rails/app/templates/app/javascript/channels/consumer.js
  railties/lib/rails/generators/rails/app/templates/app/javascript/packs/application.js.tt
  railties/test/application/rake_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: actionview, activestorage, docs, railties

#34941 Avoid ReferenceError exceptions if ActionCable is used in a web worker
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/javascript/action_cable/adapters.js
  actioncable/app/javascript/action_cable/connection_monitor.js
  actioncable/test/javascript/src/unit/action_cable_test.js
Labels: actioncable

#33419 `rake app:update` should update active_storage
  .rubocop.yml
  activerecord/lib/active_record/railties/databases.rake
  activestorage/db/update_migrate/20180723000244_add_foreign_key_constraint_to_active_storage_attachments_for_blob_id.rb
  activestorage/lib/tasks/activestorage.rake
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/tasks/framework.rake
Labels: activerecord, activestorage, railties

#34213 Edit Security Guide's Session Guidelines & Custom Credentials [skip ci]
  guides/source/security.md
Labels: docs

#34953 Seed database with inline ActiveJob job adapter
  railties/CHANGELOG.md
  railties/lib/rails/engine.rb
  railties/test/railties/engine_test.rb
Labels: railties

#34962 Ensure Action Mailbox processes an email only once
  actionmailbox/app/models/action_mailbox/inbound_email/message_id.rb
  actionmailbox/db/migrate/20180917164000_create_action_mailbox_tables.rb
  actionmailbox/test/dummy/db/migrate/20180208205311_create_action_mailroom_tables.rb
  actionmailbox/test/dummy/db/schema.rb
  actionmailbox/test/unit/inbound_email_test.rb
  actionmailbox/test/unit/mailbox/routing_test.rb
Labels: actionmailbox

#34412 Ensure external redirects are explicitly allowed
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/flash.rb
  actionpack/lib/action_controller/metal/force_ssl.rb
  actionpack/lib/action_controller/metal/redirecting.rb
  actionpack/test/controller/action_pack_assertions_test.rb
  actionpack/test/controller/log_subscriber_test.rb
  actionpack/test/controller/redirect_test.rb
Labels: actionpack

#34967 Update test schema.rb to reflect the recent changes
  actionmailbox/app/controllers/rails/conductor/action_mailbox/inbound_emails_controller.rb
  actionmailbox/db/migrate/20180917164000_create_action_mailbox_tables.rb
  actionmailbox/test/dummy/db/migrate/20180208205311_create_action_mailroom_tables.rb
  actionmailbox/test/dummy/db/schema.rb
Labels: actionmailbox

#34966 Ensure that AR::Relation#exists? allows only permitted params
  activerecord/CHANGELOG.md
  activerecord/test/cases/finder_test.rb
  activerecord/test/support/stubs/strong_parameters.rb
Labels: activerecord

#34963 activerecord: Use a simpler query condition for aggregates with one mapping
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#34956 Allow using Action Mailbox on MySQL 5.5
  actionmailbox/db/migrate/20180917164000_create_action_mailbox_tables.rb
  actionmailbox/test/dummy/db/migrate/20180208205311_create_action_mailbox_tables.rb
  actionmailbox/test/dummy/db/schema.rb
  actiontext/test/dummy/db/schema.rb
Labels: actionmailbox, actiontext

#34969 Fix error message when adapter is not specified
  activerecord/lib/active_record/connection_adapters/connection_specification.rb
Labels: activerecord

#34959 Typo fixes in action cable.
  actioncable/lib/action_cable/test_helper.rb
  actioncable/test/client_test.rb
  actioncable/test/test_helper_test.rb
Labels: actioncable

#30000 All of queries should return correct result even if including large number
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/singular_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/lib/active_record/statement_cache.rb
  activerecord/lib/arel/predications.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/cases/relation/or_test.rb
  activerecord/test/cases/relation/where_test.rb
  activerecord/test/models/reference.rb
Labels: activerecord

#34984 Fix that adding attachments lose a body
  actionmailbox/app/controllers/rails/conductor/action_mailbox/inbound_emails_controller.rb
  actionmailbox/test/controllers/rails/action_mailbox/inbound_emails_controller_test.rb
Labels: actionmailbox

#34986 Enclosing body tag in conductor layout.
  actionmailbox/app/views/layouts/rails/conductor.html.erb
Labels: actionmailbox

#34988 Update "Development Dependencies Install" guide [ci skip]
  guides/source/development_dependencies_install.md
Labels: docs

#34991 Report statistics for app/mailboxes
  railties/lib/rails/tasks/statistics.rake
Labels: railties

#34982 Fix ArgumentError when using S3Service
  activestorage/app/controllers/active_storage/blobs_controller.rb
  activestorage/app/controllers/active_storage/representations_controller.rb
  activestorage/test/controllers/blobs_controller_test.rb
  activestorage/test/controllers/representations_controller_test.rb
Labels: activestorage

#35004 Add missing entries to guides' changelog file [ci skip]
  guides/CHANGELOG.md
Labels: docs

#35005 Add Channel tests to `rails stats`
  railties/lib/rails/tasks/statistics.rake
  railties/test/application/rake_test.rb
Labels: railties

#35006 Alias case nodes
  activerecord/lib/arel/nodes/case.rb
  activerecord/test/cases/arel/nodes/case_test.rb
Labels: activerecord

#34997 Replaced webserver with web server
  actionmailbox/test/dummy/config/puma.rb
  actionpack/test/dispatch/live_response_test.rb
  actiontext/test/dummy/config/puma.rb
  guides/source/caching_with_rails.md
  guides/source/rails_on_rack.md
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: actionmailbox, actionpack, actiontext, docs, railties

#35020 Actionpack typo fixes.
  actionpack/CHANGELOG.md
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionpack/test/journey/router_test.rb
Labels: actionpack

#35017 MySQL 8.0.14 adds `ER_FK_INCOMPATIBLE_COLUMNS`
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
Labels: activerecord

#35010 Fix NumericalityValidator on object responding to `to_f`:
  activemodel/lib/active_model/validations/numericality.rb
  activemodel/test/cases/validations/numericality_validation_test.rb
Labels: activemodel

#35018 Revert ensure external redirects are explicitly allowed
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/force_ssl.rb
  actionpack/lib/action_controller/metal/redirecting.rb
  actionpack/test/controller/action_pack_assertions_test.rb
  actionpack/test/controller/log_subscriber_test.rb
  actionpack/test/controller/redirect_test.rb
  activestorage/app/controllers/active_storage/blobs_controller.rb
  activestorage/app/controllers/active_storage/representations_controller.rb
Labels: actionpack, activestorage

#35027 Fix attribute typo in ActionCable connection test request
  actioncable/lib/action_cable/connection/test_case.rb
Labels: actioncable

#34993 Subdomains of localhost are safe against DNS rebinding
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties

#35029 activerecord: Fix statement cache for strictly cast attributes
  activerecord/lib/active_record/relation/query_attribute.rb
  activerecord/test/cases/statement_cache_test.rb
Labels: activerecord

#35031 Pass the view around instead of using an ivar
  actionview/lib/action_view/renderer/streaming_template_renderer.rb
  actionview/lib/action_view/renderer/template_renderer.rb
Labels: actionview

#35040 Fix document formatting on Action Text docs [ci skip]
  actiontext/app/helpers/action_text/tag_helper.rb
  actiontext/app/models/action_text/rich_text.rb
Labels: actiontext

#35033 Fix deeply nested namespace command printing
  railties/CHANGELOG.md
  railties/lib/rails/command/base.rb
  railties/test/command/base_test.rb
Labels: railties

#35046 Make `And` and `Case` into expression nodes
  activerecord/lib/arel/nodes/and.rb
  activerecord/lib/arel/nodes/case.rb
  activerecord/test/cases/arel/nodes/and_test.rb
Labels: activerecord

#35045 Fix partial renderer assuming `locals` responds to `symbolize_keys`
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/test/actionpack/controller/render_test.rb
Labels: actionview

#35047 Prefer strings over regex expressions
  actionpack/test/dispatch/debug_exceptions_test.rb
Labels: actionpack

#35021 Action Cable: move channel_name to Channel.broadcasting_for
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/channel/broadcasting.rb
  actioncable/lib/action_cable/channel/streams.rb
  actioncable/lib/action_cable/channel/test_case.rb
  actioncable/test/channel/broadcasting_test.rb
  actioncable/test/channel/test_case_test.rb
  guides/source/testing.md
Labels: actioncable, docs

#34994 Recommend adding the requested domain to hosts whitelist only in deve…
  actionpack/lib/action_dispatch/middleware/templates/rescues/blocked_host.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/blocked_host.text.erb
Labels: actionpack

#34789 Don't load app environment when editing credentials
  railties/lib/rails/command/actions.rb
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/test/commands/credentials_test.rb
Labels: railties

#35050 Fix typo in ActionCable::Connection::TestCase reference
  guides/source/testing.md
Labels: docs

#35042 Fix error raised when handler doesn't exist
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/unconnected_test.rb
Labels: activerecord

#35049 Fixed a bug where the debug view does not show the error page properly
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
Labels: actionpack

#35054 Ensure that `redirect_back` with `fallback_location` to another host is allowed
  actionpack/test/controller/redirect_test.rb
Labels: actionpack

#35060 Fix typo: overriden -> overridden [ci skip]
  railties/lib/rails/commands/credentials/USAGE
Labels: railties

#35057 Fix error saving Action Text content containing non-blob attachables
  actiontext/app/models/action_text/rich_text.rb
  actiontext/test/unit/model_test.rb
Labels: actiontext

#34970 Make `t.timestamps` with precision by default.
  actionmailbox/test/dummy/db/migrate/20180208205311_create_action_mailbox_tables.rb
  actiontext/test/dummy/db/migrate/2018052816_create_action_text_tables.rb
  actiontext/test/dummy/db/schema.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/ar_schema_test.rb
  activerecord/test/cases/migration/compatibility_test.rb
  activerecord/test/schema/schema.rb
Labels: actionmailbox, actiontext, activerecord

#35030 Actionpack typo fixes.
  actionpack/lib/action_controller/metal/exceptions.rb
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#35062 PostgreSQL: Use native timestamp decoders of pg-1.1
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/cache_key_test.rb
Labels: activerecord

#35074 Make the lookup context more "read-only"
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/testing/resolvers.rb
  actionview/test/template/lookup_context_test.rb
Labels: actionview

#35067 Add line break to Action Text installation outputs
  actiontext/lib/templates/installer.rb
Labels: actiontext

#35078 Fix usage documentation in VideoAnalyzer
  activestorage/lib/active_storage/analyzer/video_analyzer.rb
Labels: activestorage

#35071 MySQL: Support `:size` option to change text and blob size
  actionmailbox/db/migrate/20180917164000_create_action_mailbox_tables.rb
  actiontext/db/migrate/20180528164100_create_action_text_tables.rb
  actiontext/test/dummy/db/migrate/20180528164100_create_action_text_tables.rb
  actiontext/test/dummy/db/schema.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_dumper.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/schema/mysql2_specific_schema.rb
Labels: actionmailbox, actiontext, activerecord

#35083 Activejob typo fixes.
  activejob/lib/active_job/enqueuing.rb
  activejob/test/cases/test_helper_test.rb
Labels: activejob

#35081 [UPDATED] Implement a way to add browser capabilities
  Gemfile
  Gemfile.lock
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/system_test_case.rb
  actionpack/lib/action_dispatch/system_testing/browser.rb
  actionpack/lib/action_dispatch/system_testing/driver.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
  railties/test/application/test_runner_test.rb
Labels: actionpack, railties

#35094 Add ActionCable channel/connection load hooks
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/channel/base.rb
  actioncable/lib/action_cable/connection/base.rb
  guides/source/engines.md
Labels: actioncable, docs

#35080 Add HashWithIndifferentAccess#assoc
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#35101 Remove unused code
  actionpack/lib/abstract_controller/caching/fragments.rb
  activerecord/test/models/topic.rb
Labels: actionpack, activerecord

#35102 Fix case when we want a UrlConfig but the URL is nil
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
Labels: activerecord

#35073 Part 8: Multi db improvements, Adds basic automatic database switching to Rails
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/middleware/database_selector.rb
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/lib/active_record/middleware/database_selector/resolver/session.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/database_selector_test.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: activerecord, railties

#35093 Tighten up the AV::Base constructor
  actionpack/lib/action_controller/metal/helpers.rb
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/template/handlers/erb/erubi.rb
  actionview/test/abstract_unit.rb
  actionview/test/actionpack/controller/view_paths_test.rb
  actionview/test/activerecord/multifetch_cache_test.rb
  actionview/test/template/capture_helper_test.rb
  actionview/test/template/compiled_templates_test.rb
  actionview/test/template/render_test.rb
  actionview/test/template/streaming_render_test.rb
  actionview/test/template/test_case_test.rb
  actionview/test/template/translation_helper_test.rb
  guides/rails_guides/generator.rb
Labels: actionpack, actionview, docs

#34980 Don't add `RAILS_ENV` in generate action
  railties/lib/rails/generators/actions.rb
  railties/test/generators/actions_test.rb
Labels: railties

#35104 ActiveModel typo fixes.
  activemodel/lib/active_model/validations/length.rb
  activemodel/test/cases/validations/numericality_validation_test.rb
Labels: activemodel

#35108 Write update_last_write_timestamp after request
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/test/cases/database_selector_test.rb
Labels: activerecord

#35109 Fix typo: inherts -> inherits [ci skip]
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
Labels: activerecord

#35115 ActiveStorage typo fix.
  activestorage/lib/active_storage/previewer/poppler_pdf_previewer.rb
Labels: activestorage

#35112 ActiveRecord typo fixes.
  activerecord/lib/active_record/middleware/database_selector.rb
Labels: activerecord

#31253 Make the backquote operator always return a string
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/kernel.rb
  activesupport/lib/active_support/core_ext/kernel/agnostics.rb
Labels: activesupport
