Repository rails/rails, pull requests merged in 2019-06, with the labels that each got.

#36034 Change `ActionDispatch::Response#content_type` returning Content-Type header as it is
  actionpack/lib/action_controller/metal.rb
  actionpack/lib/action_controller/metal/mime_responds.rb
  actionpack/lib/action_controller/metal/renderers.rb
  actionpack/lib/action_controller/metal/rendering.rb
  actionpack/lib/action_dispatch/http/response.rb
  actionpack/lib/action_dispatch/testing/assertions.rb
  actionpack/lib/action_dispatch/testing/test_response.rb
  actionpack/test/controller/content_type_test.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/controller/localized_templates_test.rb
  actionpack/test/controller/metal/renderers_test.rb
  actionpack/test/controller/mime/respond_to_test.rb
  actionpack/test/controller/render_js_test.rb
  actionpack/test/controller/render_json_test.rb
  actionpack/test/controller/render_xml_test.rb
  actionpack/test/controller/renderers_test.rb
  actionpack/test/controller/show_exceptions_test.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionpack/test/dispatch/response_test.rb
  actionview/test/actionpack/controller/render_test.rb
  guides/source/6_0_release_notes.md
  guides/source/testing.md
  guides/source/upgrading_ruby_on_rails.md
Labels: actionpack, actionview, docs

#36378 Address occasional test_pluck_columns_with_same_name failure
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#36375 Avoid making extra 5 arrays in each `save`
  activerecord/lib/active_record/timestamp.rb
Labels: activerecord

#36379 Remove unnecessary require pathname from actionpack controller specs
  actionpack/test/controller/render_js_test.rb
  actionpack/test/controller/render_json_test.rb
  actionpack/test/controller/render_xml_test.rb
Labels: actionpack

#36384 Fix invalid schema dump when primary key column has a comment
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_dumper.rb
  activerecord/test/cases/comment_test.rb
Labels: activerecord

#36397 Only clear cache when view paths are specified
  actionview/lib/action_view/cache_expiry.rb
Labels: actionview

#36395 Do not clear deprecated initializer dependencies if using classic autoloader
  railties/lib/rails/application/finisher.rb
Labels: railties

#36389 Document multiple databases in Rails
  guides/source/active_record_multiple_databases.md
  guides/source/documents.yaml
Labels: docs

#36405 Fix sentence and a typo
  guides/source/active_record_multiple_databases.md
Labels: docs

#36398 Don't call listen with empty directory list
  activesupport/lib/active_support/evented_file_update_checker.rb
Labels: activesupport

#36404 Fix sqlite3 collation parsing when using decimal columns.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/collation_test.rb
Labels: activerecord

#36376 Reword the ActionDispatch::Response#content_type change [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#36407 Extract default log file open operation to method
  railties/lib/rails/application/bootstrap.rb
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties

#36415 Guides 6.0 release notes: fix typo
  guides/source/6_0_release_notes.md
Labels: docs

#36394 Treat ActiveRecord::Base and ApplicationRecord as "primary"
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  railties/test/application/loading_test.rb
Labels: activerecord, railties

#36416 Fixed db:prepare task for multiple databases.
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: activerecord, railties

#36399 Name helper_method module and improve source location
  actionpack/lib/abstract_controller/helpers.rb
  actionpack/test/controller/helper_test.rb
Labels: actionpack

#36371 Move schema cache to pool
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/connection_pool_test.rb
Labels: activerecord

#36408 Fix action pack and railties changelog typo[ci skip]
  actionpack/CHANGELOG.md
  railties/CHANGELOG.md
Labels: actionpack, railties

#36424 Unlock `selenium-webdriver` gem version
  Gemfile
  Gemfile.lock
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack

#36420 Allow quoted identifier string as safe SQL string
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/quoting.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/sanitization.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/cases/unsafe_raw_sql_test.rb
Labels: activerecord

#36426 Bump rubocop to 0.71
  .codeclimate.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  actionpack/test/controller/resources_test.rb
  actionpack/test/dispatch/request_test.rb
  actionview/test/actionpack/abstract/layouts_test.rb
  activerecord/test/cases/associations/eager_test.rb
Labels: actionpack, actionview, activerecord

#36427 Fixed a couple of typos, word 'deliberately' and database_resolver_context class name. [ci skip]
  guides/source/active_record_multiple_databases.md
Labels: docs

#36270 Allow `on_rotation` in MessageEncryptor to be passed in constructor:
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/messages/rotator.rb
  activesupport/test/message_encryptor_test.rb
Labels: activesupport

#36431 Include warning in docs about polymorphism in underlying tables
  guides/source/active_storage_overview.md
Labels: docs

#36422 Run actionview tests in parallel
  actionview/test/abstract_unit.rb
  actionview/test/active_record_unit.rb
  actionview/test/template/compiled_templates_test.rb
Labels: actionview

#36429 Fix preloading on AR::Relation where records are duplicated by a join
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
Labels: activerecord

#36438 Add forgotten nodoc to dump_schema method.
  activerecord/lib/active_record/tasks/database_tasks.rb
Labels: activerecord

#36117 Fix installation on guides/source/action_text_overview.md
  guides/source/action_text_overview.md
Labels: docs

#36452 [ci skip] Fix rails/command.rb document
  guides/source/initialization.md
Labels: docs

#36448 Allow column name with function (e.g. `length(title)`) as safe SQL string
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/quoting.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/cases/unsafe_raw_sql_test.rb
Labels: activerecord

#36440 Add support for multiple databases to `rails db:abort_if_pending_migrations`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, needs backport, railties

#36447 ActionCable: optimise logger.debug calling
  actioncable/lib/action_cable/server/broadcasting.rb
Labels: actioncable

#36470 Add missing file to require digest/uuid on active_support core ext
  activesupport/lib/active_support/core_ext/digest.rb
Labels: activesupport

#36388 Introduce ActionView::Component
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/rendering_helper.rb
  actionview/test/lib/test_component.rb
  actionview/test/template/render_test.rb
Labels: actionview

#36466 images/getting_started: Update screenshot for missing action
  guides/assets/images/getting_started/unknown_action_create_for_articles.png
Labels: docs

#36473 Make ActiveRecord `ConnectionPool.connections` thread-safe.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/test/cases/connection_pool_test.rb
Labels: activerecord

#36437 Fix programmatic clicks with data-remote
  actionview/app/assets/javascripts/rails-ujs/features/remote.coffee
  actionview/test/ujs/public/test/data-remote.js
Labels: actionview, rails-ujs

#36477 [ci skip] Use default path in button_to documentation
  actionview/lib/action_view/helpers/url_helper.rb
Labels: actionview

#36478 Allocation on demand in transactions
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
Labels: activerecord

#36484 [ci skip] Update docs as `remove_column` can be reversed
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#36439 Move SchemaMigration to migration_context
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/schema.rb
  activerecord/lib/active_record/schema_migration.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/adapters/mysql2/table_options_test.rb
  activerecord/test/cases/adapters/postgresql/extension_migration_test.rb
  activerecord/test/cases/adapters/postgresql/uuid_test.rb
  activerecord/test/cases/ar_schema_test.rb
  activerecord/test/cases/migration/compatibility_test.rb
  activerecord/test/cases/migration/logger_test.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/migrator_test.rb
  activerecord/test/cases/multi_db_migrator_test.rb
  railties/test/application/loading_test.rb
  railties/test/railties/engine_test.rb
Labels: activerecord, needs backport, railties

#36488 Update multi-db docs
  guides/source/active_record_multiple_databases.md
Labels: docs

#36469 Move while_preventing_writes from conn to handler
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#36483 No allocation `Arel::Visitors::ToSql#visit`
  activerecord/lib/active_record/connection_adapters/determine_if_preparable_visitor.rb
  activerecord/lib/arel/visitors/depth_first.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/lib/arel/visitors/visitor.rb
Labels: activerecord

#36494 Delete 'ruby' in the description of the method defined in rails [skip ci]
  guides/source/active_support_core_extensions.md
Labels: docs

#36493 Remove unused `Arel::Attributes.for`
  activerecord/lib/arel.rb
  activerecord/lib/arel/attributes.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/attributes_test.rb
Labels: activerecord

#36497 Delete method definition in rails that is compatible with ruby defini…
  activesupport/lib/active_support/core_ext/date_and_time/calculations.rb
  activesupport/lib/active_support/core_ext/time/calculations.rb
  activesupport/test/core_ext/date_and_time_behavior.rb
  activesupport/test/core_ext/date_ext_test.rb
  activesupport/test/core_ext/time_ext_test.rb
  guides/source/active_support_core_extensions.md
Labels: activesupport, docs

#36502 Fix typo initialzer -> initializer
  guides/source/active_record_multiple_databases.md
Labels: docs

#36506 PostgreSQL: Fix GROUP BY with ORDER BY virtual count attribute
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#36482 Fix TranslationHelper#translate handling of Hash defaults
  actionview/lib/action_view/helpers/translation_helper.rb
  actionview/test/template/translation_helper_test.rb
Labels: actionview

#36508 Avoid redundant `time.getutc` call if it is already utc time object
  activemodel/lib/active_model/type/helpers/time_value.rb
  activemodel/lib/active_model/type/value.rb
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
Labels: activemodel, activerecord

#35891 Deduplicate various Active Record schema cache structures
  activerecord/lib/active_record/connection_adapters/column.rb
  activerecord/lib/active_record/connection_adapters/deduplicable.rb
  activerecord/lib/active_record/connection_adapters/mysql/type_metadata.rb
  activerecord/lib/active_record/connection_adapters/postgresql/column.rb
  activerecord/lib/active_record/connection_adapters/postgresql/type_metadata.rb
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/lib/active_record/connection_adapters/sql_type_metadata.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/active_record/connection_adapters/fake_adapter.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/json_serialization_test.rb
  activerecord/test/models/contact.rb
Labels: activerecord

#36279 Better error message for calling columns_hash
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#36521 Autoload SyntaxErrorInTemplate
  actionview/CHANGELOG.md
  actionview/lib/action_view.rb
Labels: actionview

#36518 Stop serializing and parsing columns_hash in Active Record schema caches
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
Labels: activerecord

#36486 Allow using env var to specify pidfile
  guides/source/initialization.md
  railties/CHANGELOG.md
  railties/lib/rails/commands/server/server_command.rb
  railties/test/commands/server_test.rb
Labels: docs, railties

#36523 Include BCC in the mail that sent from the development page
  actionmailbox/app/controllers/rails/conductor/action_mailbox/inbound_emails_controller.rb
  actionmailbox/test/controllers/rails/action_mailbox/inbound_emails_controller_test.rb
Labels: actionmailbox

#36520 Add test cases to ensure deterministic order for ordinal methods
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#36525 Revert schema dumper to use strings rather than integers
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/schema_migration.rb
  activerecord/test/cases/schema_dumper_test.rb
Labels: activerecord

#36526 Address test_statement_cache_with_in_clause failure
  activerecord/test/cases/bind_parameter_test.rb
Labels: activerecord

#36490 Make `ActionDispatch::Response#content_type` behavior configurable
  actionpack/lib/action_dispatch/http/response.rb
  actionpack/lib/action_dispatch/railtie.rb
  actionpack/test/dispatch/response_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_0.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionpack, docs, railties

#36529 Also deduplicate schema cache data when using the init_with interface
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
Labels: activerecord

#36543 Update link to owasp XSS cheat sheet
  guides/source/security.md
Labels: docs

#36210 Fix: ActiveRecord::RecordInvalid is not raised when an associated record fails to #save! due to uniqueness validation failure
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
  activerecord/test/models/author.rb
  activerecord/test/models/book.rb
Labels: activerecord

#36530 Rely on Kernel require instead of self require
  activesupport/lib/active_support/deprecation/proxy_wrappers.rb
Labels: activesupport

#36553 Replace the www.robotstxt.org URL with https one [ci skip]
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/public/robots.txt
Labels: docs, railties

#36555 [ci skip] Refer actionmailbox and actiontext in the guide
  guides/source/initialization.md
Labels: docs

#36561 [ci skip] Update free-programming-books link in getting started guide
  guides/source/getting_started.md
Labels: docs

#36560 Warn if we can't read the yaml to create database tasks
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#36565 Fix broken url configs
  activerecord/lib/active_record/database_configurations.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
Labels: activerecord
