Repository rails/rails, pull requests merged in 2019-09, with the labels that each got.

#37101 Fix Active Job Sidekiq integration tests
  Gemfile.lock
  activejob/test/support/integration/adapters/sidekiq.rb
Labels: activejob

#37104 Fix an error message to replace http with https in a reference URL
  activerecord/lib/active_record/fixture_set/file.rb
Labels: activerecord

#37103 Add tests for no or blank like arguments to query methods
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#37083 Add title tag to mailer previews
  railties/lib/rails/mailers_controller.rb
  railties/lib/rails/templates/rails/mailers/email.html.erb
  railties/test/application/mailer_previews_test.rb
Labels: railties

#37102 Correctly classify the files and directories that pass to watcher
  railties/lib/rails/application.rb
  railties/test/application/watcher_test.rb
Labels: railties

#37109 Fix href to replace http with https in the `Yay! You’re on Rails!` page
  railties/lib/rails/templates/rails/welcome/index.html.erb
Labels: railties

#37115 Intern ActiveJob queue_name
  activejob/lib/active_job/queue_name.rb
Labels: activejob

#37117 Do not set response "Vary" header if it has already been set
  actionpack/lib/action_controller/metal/rendering.rb
  actionpack/test/controller/integration_test.rb
Labels: actionpack

#37118 Fix typo [ci skip]
  guides/source/autoloading_and_reloading_constants_classic_mode.md
Labels: docs

#37121 Do not enforce no braces for hash argument
  .rubocop.yml
  actionpack/test/dispatch/cookies_test.rb
  actionpack/test/dispatch/session/cookie_store_test.rb
  activesupport/lib/active_support/number_helper/number_converter.rb
  activesupport/test/message_encryptor_test.rb
  activesupport/test/message_verifier_test.rb
Labels: actionpack, activesupport

#37123 Add a test for select argument error with block
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#37127 Safer example in Rails::Railtie documentation
  railties/lib/rails/railtie.rb
Labels: railties

#37131 Document the new npm package names in the upgrade guide
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#37114 Don't use Process#clock_gettime CLOCK_PROCESS_CPUTIME_ID on Solaris
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/notifications/instrumenter.rb
Labels: activesupport

#37134 Fix code block in the HTML version of the upgrade guide
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#37137 Autoload the `AS::SecureCompareRotator` class:
  activesupport/lib/active_support.rb
Labels: activesupport

#37040 Logging at info level should be reserved for top-level concerns
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/channel/base.rb
  actionview/CHANGELOG.md
  actionview/lib/action_view/log_subscriber.rb
  actionview/test/template/log_subscriber_test.rb
Labels: actioncable, actionview

#37105 Optimize Module#delegate to no longer be linear
  activesupport/lib/active_support/core_ext/module/delegation.rb
Labels: activesupport

#36793 Set content disposition in direct upload
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/service/azure_storage_service.rb
  activestorage/lib/active_storage/service/gcs_service.rb
  activestorage/lib/active_storage/service/s3_service.rb
  activestorage/test/controllers/direct_uploads_controller_test.rb
  activestorage/test/service/azure_storage_service_test.rb
  activestorage/test/service/gcs_service_test.rb
  activestorage/test/service/s3_service_test.rb
Labels: activestorage

#37141 Fix comments to update mysql version in reference URL [ci skip]
  activerecord/lib/arel/visitors/mysql.rb
  activerecord/test/cases/arel/visitors/mysql_test.rb
Labels: activerecord

#37146 Refactor `define_url_helper` to share the same instance between _path and _url
  actionpack/lib/action_dispatch/routing/route_set.rb
Labels: actionpack

#37153 Allow inspected records to be marshaled
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#36460 Fix endless range include
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/range/include_time_with_zone.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport

#37155 Fix docs to update http and www.ruby-doc.org [ci skip]
  activerecord/README.rdoc
  guides/source/getting_started.md
  guides/source/upgrading_ruby_on_rails.md
Labels: activerecord, docs

#37154 Clear query cache when insert all is used
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/insert_all.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#37125 Improve autosave documentation [ci skip]
  activerecord/lib/active_record/autosave_association.rb
Labels: activerecord

#37096 Markdown `word highlight` doesn't work inside lists. Add CSS to fix […
  guides/assets/stylesheets/main.css
Labels: docs

#36163 Fix folders update watcher with no folders to watch
  activesupport/lib/active_support/evented_file_update_checker.rb
Labels: activesupport

#37162 Fix documents to replace http with https in reference URL
  guides/source/contributing_to_ruby_on_rails.md
  guides/source/debugging_rails_applications.md
  guides/source/ruby_on_rails_guides_guidelines.md
Labels: docs

#37159 Serialize classes and modules with ActiveJob
  activejob/CHANGELOG.md
  activejob/lib/active_job/serializers.rb
  activejob/lib/active_job/serializers/module_serializer.rb
  activejob/test/cases/argument_serialization_test.rb
  guides/source/active_job_basics.md
Labels: activejob, docs

#37161 Allow bulk alter to drop and recreate named index
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/adapters/mysql2/active_schema_test.rb
  activerecord/test/cases/adapters/postgresql/active_schema_test.rb
  activerecord/test/cases/migration/index_test.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#37168 Accept columns passed with options in remove_index
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/migration/change_table_test.rb
  activerecord/test/cases/migration/command_recorder_test.rb
  activerecord/test/cases/migration/index_test.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#37119 Fix escaping in OptimizedFileSystemResolver
  actionview/lib/action_view/template/resolver.rb
  actionview/test/template/resolver_shared_tests.rb
Labels: actionview

#37170 Skip insert all tests when features are unavailable
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#37185 Use symbols everywhere for database configurations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/connection_specification.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/lib/active_record/tasks/mysql_database_tasks.rb
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/lib/active_record/tasks/sqlite_database_tasks.rb
  activerecord/lib/active_record/test_databases.rb
  activerecord/test/cases/adapters/mysql2/schema_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_adapters/connection_specification_test.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  activerecord/test/cases/connection_pool_test.rb
  activerecord/test/cases/connection_specification/resolver_test.rb
  activerecord/test/cases/database_configurations_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/reaper_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activerecord/test/cases/tasks/mysql_rake_test.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
  activerecord/test/cases/tasks/sqlite_rake_test.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/application/test_runner_test.rb
  railties/test/commands/dbconsole_test.rb
Labels: activerecord

#37195 Fix setting a more verbose thread-local log level
  activesupport/lib/active_support/logger_thread_safe_level.rb
  activesupport/test/logger_test.rb
Labels: activesupport

#37190 Fix a button_to documentation example
  actionview/lib/action_view/helpers/url_helper.rb
Labels: actionview

#37182 Pass db_config object around instead of hashes
  activerecord/lib/active_record/connection_adapters/connection_specification.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/test/cases/connection_adapters/adapter_leasing_test.rb
  activerecord/test/cases/connection_adapters/connection_specification_test.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  activerecord/test/cases/connection_specification/resolver_test.rb
Labels: activerecord

#37173 ActiveJob: Fix `queue_name_prefix` changes affecting unrelated jobs
  activejob/CHANGELOG.md
  activejob/lib/active_job/queue_name.rb
  activejob/test/cases/queue_naming_test.rb
  activejob/test/jobs/prefixed_job.rb
  guides/source/active_job_basics.md
Labels: activejob, docs

#37111 [ci skip] Add modern way to enable asset precompile with Capistrano to asset pipeline guide
  guides/source/asset_pipeline.md
Labels: docs

#37201 Fix config.cache_classes default value in guide.
  guides/source/configuring.md
Labels: docs

#37206 Expand on helpers available in Action Mailer
  guides/source/action_mailer_basics.md
Labels: docs

#37199 Reduce surface area of ConnectionSpecification
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/connection_specification.rb
  activerecord/lib/active_record/connection_adapters/resolver.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/connection_url_resolver.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/adapters/mysql2/schema_test.rb
  activerecord/test/cases/connection_adapters/adapter_leasing_test.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_adapters/connection_specification_test.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  activerecord/test/cases/connection_pool_test.rb
  activerecord/test/cases/connection_specification/resolver_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/reaper_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#37204 Remove Capistrano from asset pipeline guide
  guides/source/asset_pipeline.md
Labels: docs

#37120 Fix has_one through reflection casting check
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/reflection_test.rb
Labels: activerecord

#37197 [ci skip] Note removal of `render :text` & `:nothing` options from 5.1 upgrade guide
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#37210 Fixes #36956 by dup'ing the value and entry object returned from MemoryStore.
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/test/cache/stores/memory_store_test.rb
Labels: activesupport

#37221 Fix typo in ActionMailbox::InboundEmail::MessageId [ci skip]
  actionmailbox/app/models/action_mailbox/inbound_email/message_id.rb
Labels: actionmailbox

#37223 Fix a typo in DatabaseTasks#current_config
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#37214 Allow Sidekiq access to the underlying Job class
  activejob/lib/active_job/queue_adapters/sidekiq_adapter.rb
Labels: activejob

#37227 Fix typo and simplify autoload paths intro
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#37229 Fix typo in activestorage README [ci skip]
  activestorage/README.md
Labels: activestorage

#37228 Allow ActionDispatch::Response to be autoloaded
  actionpack/lib/action_controller.rb
Labels: actionpack

#37235 Maintain eager loading joining order as before
  activerecord/lib/active_record/associations/join_dependency.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/associations/inner_join_association_test.rb
Labels: activerecord

#37230 Deprecate `current_config` and `current_config=`
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#37231 Deprecate `to_h` and `to_legacy_hash`
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  activerecord/test/cases/database_configurations_test.rb
Labels: activerecord

#37242 Make DatabaseTasks use DatabaseConfig objects
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/lib/active_record/tasks/mysql_database_tasks.rb
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/lib/active_record/tasks/sqlite_database_tasks.rb
  activerecord/lib/active_record/test_databases.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#37243 Add a CHANGELOG entry for to_h deprecation
  activerecord/CHANGELOG.md
Labels: activerecord

#37240 Allow DESCRIBE queries on read-only connections
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
Labels: activerecord

#37226 Fix establishing connections for models with custom connection specification names
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
Labels: activerecord

#34809 `ActionView::Helpers::FormOptionsHelper#select` should mark option for `nil` as selected
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/tags/select.rb
  actionview/test/template/form_options_helper_test.rb
Labels: actionview

#37251 Rollback in `after_commit` should not rollback state that already been succeeded
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/transaction_callbacks_test.rb
Labels: activerecord

#37178 Fix issues with ActiveSupport Range extensions on boundless Ranges
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/range/compare_range.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport

#37259 Prefer one liners OS requirement install commands
  guides/source/development_dependencies_install.md
Labels: docs

#37257 Don't load environment in rake command
  railties/lib/rails/commands/rake/rake_command.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#37106 Add note to Attachment about Blob methods
  activestorage/app/models/active_storage/attachment.rb
Labels: activestorage

#37262 Update for `Time#inspect`
  activerecord/test/cases/core_test.rb
Labels: activerecord

#37265 Reduce stat(2) calls
  actionpack/lib/action_dispatch/middleware/static.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
Labels: actionpack, railties

#37263 Add missing OS dependency
  guides/source/development_dependencies_install.md
Labels: docs

#37274 Renamed `assert_broadcasts_on` to `assert_broadcast_on` in documentation string
  actioncable/lib/action_cable/channel/test_case.rb
Labels: actioncable

#37275 Extract ActiveJob::Instrumentation
  activejob/lib/active_job/base.rb
  activejob/lib/active_job/instrumentation.rb
  activejob/lib/active_job/logging.rb
Labels: activejob

#37276 Resolve Hash with `url` key as a `UrlConfig`
  activerecord/lib/active_record/connection_adapters/resolver.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
Labels: activerecord

#37277 Remove UrlConfig#url_config?
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
Labels: activerecord

#37278 Move ActiveJob::Exceptions#instrument to ActiveJob::Instrumentation
  activejob/lib/active_job/exceptions.rb
  activejob/lib/active_job/instrumentation.rb
Labels: activejob

#37279 Make UrlConfig a subclass of HashConfig
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
Labels: activerecord

#37281 Fix typo in actionpack changelog, `a HTTP` -> `an HTTP` [ci skip]
  actionpack/CHANGELOG.md
Labels: actionpack

#34827 Always save ActiveStorage::Blob before uploading to service
  actiontext/test/test_helper.rb
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/test_helper.rb
Labels: actiontext, activestorage

#37280 Make all reads on configuration_hash use methods
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/adapters/mysql2/schema_test.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/helper.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#37253 Instantiate ConnectionPool with a DatabaseConfig rather than a ConnectionSpecification
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/adapters/mysql2/schema_test.rb
  activerecord/test/cases/connection_adapters/adapter_leasing_test.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_pool_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/reaper_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#37289 Add ActionController::Base.log_at
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller.rb
  actionpack/lib/action_controller/api.rb
  actionpack/lib/action_controller/base.rb
  actionpack/lib/action_controller/metal/logging.rb
  actionpack/test/controller/logging_test.rb
  activesupport/lib/active_support/logger_silence.rb
  activesupport/lib/active_support/logger_thread_safe_level.rb
  activesupport/test/logger_test.rb
Labels: actionpack, activesupport

#37288 Better double checked locking in load_schema
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#37294 Fix typo, shoud -> should [ci skip]
  guides/source/testing.md
Labels: docs

#37300 Update test to avoid Puma output format change
  railties/test/application/server_test.rb
Labels: railties

#37216 Avoid setting up file watcher on cache_classes
  railties/lib/rails/application/finisher.rb
Labels: railties

#37298 Fix defaults for database configs
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/test/cases/database_configurations/hash_config_test.rb
Labels: activerecord

#37291 Make DatabaseTasks adapters use DatabaseConfig objects
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/lib/active_record/tasks/mysql_database_tasks.rb
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/lib/active_record/tasks/sqlite_database_tasks.rb
  activerecord/test/cases/tasks/mysql_rake_test.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
  activerecord/test/cases/tasks/sqlite_rake_test.rb
Labels: activerecord

#37303 Use String#+@ before mutating the result of Symbol#to_s
  activesupport/lib/active_support/ordered_options.rb
Labels: activesupport

#37293 Document Arel.sql as a stable API.
  activerecord/lib/arel.rb
  railties/lib/rails/api/task.rb
Labels: activerecord, railties

#34893 Add note about view contexts to ActionController::Helpers.helpers
  actionpack/lib/action_controller/metal/helpers.rb
Labels: actionpack

#36907 Serialize symbols to strings in ImmutableString serialize method
  activemodel/lib/active_model/type/immutable_string.rb
  activerecord/test/cases/dirty_test.rb
Labels: activemodel, activerecord

#37312 Introduce a callback for forked children
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/fork_tracker.rb
  activesupport/test/fork_tracker_test.rb
Labels: activesupport

#37327 Fork tracker fixes
  activesupport/lib/active_support/fork_tracker.rb
  activesupport/test/fork_tracker_test.rb
Labels: activesupport

#37329 Fix fraction float assertions in time_ext_test
  activesupport/test/core_ext/time_ext_test.rb
Labels: activesupport

#37330 Always use 28 characters for Active Storage keys
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#37266 Avoid making query when using `where(attr: [])`
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/where_clause.rb
  activerecord/test/cases/relation_test.rb
Labels: activerecord
