Repository rails/rails, pull requests merged in 2019-04, with the labels that each got.

#35727 Update API doc for #includes on unnecessary #references
  activerecord/lib/active_record/relation/query_methods.rb
Labels: docs

#35619 Fix typo in the value of ENCRYPTED_SIGNED_COOKIE_SALT constant
  actionpack/test/dispatch/cookies_test.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack

#35814 [ci skip] Fix guides to link to edgeapi if on EDGE env
  guides/rails_guides/markdown/renderer.rb
Labels: docs

#35815 url -> URL in Action Cable guide [ci skip]
  guides/source/action_cable_overview.md
Labels: docs

#35816 Revert unused code and re-using query annotation for `update_all` and `delete_all`
  activerecord/lib/active_record/relation.rb
  activerecord/lib/arel/nodes/delete_statement.rb
  activerecord/lib/arel/nodes/insert_statement.rb
  activerecord/lib/arel/nodes/select_core.rb
  activerecord/lib/arel/nodes/update_statement.rb
  activerecord/lib/arel/select_manager.rb
  activerecord/lib/arel/tree_manager.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/delete_manager_test.rb
  activerecord/test/cases/arel/nodes/delete_statement_test.rb
  activerecord/test/cases/arel/nodes/insert_statement_test.rb
  activerecord/test/cases/arel/nodes/update_statement_test.rb
  activerecord/test/cases/arel/update_manager_test.rb
  activerecord/test/cases/relation/delete_all_test.rb
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#35819 Include final newline in generated .ruby-version
  railties/lib/rails/generators/rails/app/templates/ruby-version.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#35821 url -> URL where apt inside actionpack/
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/controller/action_pack_assertions_test.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/controller/renderer_test.rb
  actionpack/test/controller/test_case_test.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionpack/test/dispatch/prefix_generation_test.rb
  actionpack/test/dispatch/request_test.rb
  actionpack/test/dispatch/routing/route_set_test.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack

#35820 url -> URL where apt except inside actionpack/
  actioncable/lib/action_cable/connection/test_case.rb
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/javascript_helper_test.rb
  actionview/test/ujs/public/test/call-remote.js
  actionview/test/ujs/public/test/data-remote.js
  actionview/test/ujs/public/test/settings.js
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations.rb
  activestorage/app/controllers/active_storage/disk_controller.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/service/disk_service_test.rb
  activestorage/test/template/image_tag_test.rb
  guides/source/3_1_release_notes.md
  guides/source/action_mailer_basics.md
  guides/source/active_support_instrumentation.md
  guides/source/command_line.md
  guides/source/configuring.md
  guides/source/form_helpers.md
  guides/source/rails_on_rack.md
  railties/lib/rails/engine.rb
  railties/test/application/asset_debugging_test.rb
  railties/test/application/assets_test.rb
  railties/test/application/initializers/frameworks_test.rb
  railties/test/application/middleware/exceptions_test.rb
  railties/test/application/rake/dbs_test.rb
Labels: actioncable, actionview, activerecord, activestorage, docs, railties

#35629 Only clear ActionView caches in dev when files change
  actionview/CHANGELOG.md
  actionview/lib/action_view.rb
  actionview/lib/action_view/cache_expiry.rb
  actionview/lib/action_view/digestor.rb
  actionview/lib/action_view/railtie.rb
  actionview/lib/action_view/template/resolver.rb
Labels: actionview, activesupport

#35824 Add Changelog entry for #35732.
  railties/CHANGELOG.md
Labels: railties

#35827 [ci skip] Fix typo for recieve -> receive
  railties/CHANGELOG.md
Labels: railties

#35703 Rename `connection` option to `database` in `dbconsole` command
  railties/CHANGELOG.md
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
Labels: railties

#35826 Rename `Template::File` to `Template::RawFile`
  actionview/lib/action_view/file_template.rb
  actionview/lib/action_view/renderer/template_renderer.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/error.rb
  actionview/lib/action_view/template/raw_file.rb
Labels: actionview

#35831 [ci skip] Updated the doc after renaming Template::File -> Template::RawFile in #35826
  actionview/lib/action_view/template/raw_file.rb
Labels: actionview

#35768 Add db:prepare rake task.
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#35810 Simplify ActionCable.createWebSocketURL and realphabetize exports
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/javascript/action_cable/consumer.js
  actioncable/app/javascript/action_cable/index.js
  actioncable/test/javascript/src/unit/action_cable_test.js
Labels: actioncable

#35771 Hash / HashWithIndifferentAccess speed improvements
  activesupport/lib/active_support/core_ext/hash/except.rb
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#35805 Add attachment and attachments field generators
  activerecord/lib/rails/generators/active_record/model/templates/model.rb.tt
  railties/lib/rails/generators/erb/scaffold/templates/_form.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/show.html.erb.tt
  railties/lib/rails/generators/generated_attribute.rb
  railties/lib/rails/generators/named_base.rb
  railties/lib/rails/generators/rails/scaffold_controller/scaffold_controller_generator.rb
  railties/lib/rails/generators/rails/scaffold_controller/templates/api_controller.rb.tt
  railties/lib/rails/generators/rails/scaffold_controller/templates/controller.rb.tt
  railties/test/generators/generated_attribute_test.rb
  railties/test/generators/migration_generator_test.rb
  railties/test/generators/model_generator_test.rb
  railties/test/generators/scaffold_controller_generator_test.rb
  railties/test/generators/scaffold_generator_test.rb
Labels: activerecord, railties

#24405 Honor shallow: false on nested resources
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack, needs feedback

#35804 Add `after_save_commit` callback shortcut
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/transaction_callbacks_test.rb
Labels: activerecord

#35833 Fixed description of the `cache_key_with_version` method [skip ci]
  guides/source/caching_with_rails.md
Labels: docs

#35840 [ci skip] Doc for shallow: false options should use <tt> for better readability.
  actionpack/lib/action_dispatch/routing/mapper.rb
Labels: actionpack

#35841 Add rake db:prepare entry to the CHANGELOG.md
  activerecord/CHANGELOG.md
Labels: activerecord

#35795 Cache database version in schema cache
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/mysql2/datetime_precision_quoting_test.rb
  activerecord/test/cases/adapters/mysql2/sp_test.rb
  activerecord/test/cases/adapters/postgresql/geometric_test.rb
  activerecord/test/cases/adapters/postgresql/partitions_test.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/migration/columns_test.rb
Labels: activerecord

#35612 [skip ci] Add examples for has_{one,many} :through :source and :source_type
  guides/source/association_basics.md
Labels: docs

#35843 Add test that the listen gem is included when RUBY_ENGINE is not 'ruby'
  railties/test/generators/app_generator_test.rb
Labels: railties

#35825 Make Resolver#find_all_anywhere equivalent to #find_all
  actionpack/test/controller/new_base/render_file_test.rb
  actionpack/test/controller/render_test.rb
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/path_set.rb
  actionview/lib/action_view/renderer/template_renderer.rb
  actionview/lib/action_view/template/resolver.rb
  actionview/lib/action_view/testing/resolvers.rb
  actionview/test/template/fallback_file_system_resolver_test.rb
  actionview/test/template/lookup_context_test.rb
Labels: actionpack, actionview

#35844 Use `execute_batch2` rather than `execute_batch` to fix performance regression for fixture loading
  Gemfile
  Gemfile.lock
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  railties/lib/rails/generators/database.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: activerecord, railties

#35842 Deduplicate strings held by the router
  actionpack/lib/action_controller/renderer.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack

#30666 Fix checking for template variants when using the ActionView::FixtureResolver
  actionview/CHANGELOG.md
  actionview/lib/action_view/testing/resolvers.rb
  actionview/test/template/testing/fixture_resolver_test.rb
  guides/CHANGELOG.md
  guides/source/layouts_and_rendering.md
Labels: actionview, docs

#35145 Fix partial caching ignore repeated items issue
  actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb
  actionview/test/fixtures/test/_cached_set.erb
  actionview/test/template/render_test.rb
Labels: actionview

#35847 Optimizer hints should be applied on Top level query as much as possible
  activerecord/lib/active_record/collection_cache_key.rb
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/adapters/mysql2/optimizer_hints_test.rb
  activerecord/test/cases/adapters/postgresql/optimizer_hints_test.rb
Labels: activerecord

#35848 Refactor `Relation#cache_key` is moved from `CollectionCacheKey#collection_cache_key`
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/base.rb
  activerecord/lib/active_record/collection_cache_key.rb
  activerecord/lib/active_record/integration.rb
  activerecord/lib/active_record/relation.rb
Labels: activerecord

#35850 Fix `count(:all)` with eager loading and explicit select and order
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#35698 Output junit format test report
  .gitignore
  Gemfile
  Gemfile.lock
  actioncable/test/test_helper.rb
  actionmailbox/test/test_helper.rb
  actionmailer/test/abstract_unit.rb
  actionpack/test/abstract_unit.rb
  actiontext/test/test_helper.rb
  actionview/test/abstract_unit.rb
  activejob/test/helper.rb
  activemodel/test/cases/helper.rb
  activerecord/test/cases/helper.rb
  activestorage/test/test_helper.rb
  activesupport/test/abstract_unit.rb
  railties/test/abstract_unit.rb
  tools/test_common.rb
Labels: actioncable, actionmailbox, actionmailer, actionpack, actiontext, actionview, activejob, activemodel, activerecord, activestorage, activesupport, railties

#35856 Fix deprecation warning about variants and formats
  actionview/test/template/testing/fixture_resolver_test.rb
Labels: actionview

#35700 Reintroduce support for overriding `has_secure_password` attributes
  activemodel/lib/active_model/secure_password.rb
Labels: activemodel

#35858 Fix arity warning for template handlers
  actionview/lib/action_view/template/handlers.rb
Labels: actionview

#35691 Adds 'detach_from' to 'ActiveSupport::Subscriber' to detach a subscriber from a namespace.
  activesupport/lib/active_support/subscriber.rb
  activesupport/test/subscriber_test.rb
Labels: activesupport

#35861 Add documentation for 'after_save_commit' [ci skip]
  guides/source/active_record_callbacks.md
Labels: docs

#35863 fix typo in the guides (use Rails instead of rails)
  guides/source/layouts_and_rendering.md
Labels: docs

#35864 Stash `left_joins` into `joins` to deduplicate redundant LEFT JOIN
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/lib/active_record/relation/merger.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/associations/inner_join_association_test.rb
  activerecord/test/cases/associations/left_outer_join_association_test.rb
  activerecord/test/cases/relation/delegation_test.rb
Labels: activerecord

#35870 [ci skip] Mark ActiveRecord::TouchLater as private doc
  activerecord/lib/active_record/touch_later.rb
Labels: activerecord

#35871 Add missing `touch_all` delegation to relation
  activerecord/lib/active_record/querying.rb
  activerecord/test/cases/relation/delegation_test.rb
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#35872 Add Active Job release notes [ci skip]
  activejob/lib/active_job/test_helper.rb
  guides/source/6_0_release_notes.md
Labels: activejob, docs

#35876 Fix typo for touch later test description. laster -> later
  activerecord/test/cases/touch_later_test.rb
Labels: activerecord

#35873 Fix the deprecation warning about `config.active_job.return_false_on_aborted_enqueue`
  activejob/lib/active_job/enqueuing.rb
  guides/source/configuring.md
Labels: activejob, docs

#35881 The default value without loading railtie is false [ci skip]
  guides/source/configuring.md
Labels: docs

#35868 Association loading isn't to be affected by scoping consistently
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/association.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/scoping/relation_scoping_test.rb
Labels: activerecord

#35883 [ci-skip] Add 6.0 Release Notes for Active Record
  guides/source/6_0_release_notes.md
Labels: docs

#35854 When skipping duplicates in bulk insert on MySQL, avoid assigning an AUTONUMBER column when not specified
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/insert_all.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#35897 Update configuration of `app` directory and use oxford comma [skip ci]
  guides/source/engines.md
Labels: docs

#35892 Improve log messages for #insert_all` / `#upsert_all` etc. methods
  activerecord/lib/active_record/insert_all.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#35888 change `t.integer` to `t.bigint` where applicable
  guides/source/association_basics.md
Labels: docs

#35890 Except `table_name` from column objects
  activerecord/lib/active_record/connection_adapters/column.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/column.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/schema_dumper.rb
Labels: activerecord

#35887 Raise `ArgumentError` for invalid `:limit` and `:precision` like as other options
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/bytea_test.rb
  activerecord/test/cases/adapters/postgresql/datatype_test.rb
  activerecord/test/cases/date_time_precision_test.rb
  activerecord/test/cases/migration/column_attributes_test.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/time_precision_test.rb
Labels: activerecord

#34800 Wrap Mysql count of deleted rows in lock block to avoid conflict in test
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/test/cases/adapters/mysql2/count_deleted_rows_with_lock_test.rb
Labels: activerecord

#35903 [ci skip] Fix `#upsert` method comment
  activerecord/lib/active_record/persistence.rb
Labels: activerecord

#35904 FIX: ActionMailbox test helper argument list
  actionmailbox/lib/action_mailbox/test_helper.rb
Labels: actionmailbox

#35909 Bring back postgresql_version as an alias.
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#35905 Only override async adapter when seeding
  railties/CHANGELOG.md
  railties/lib/rails/engine.rb
  railties/test/railties/engine_test.rb
Labels: railties

#35913 Adds named_captures to MatchData to emulate Regex
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/test/journey/path/pattern_test.rb
Labels: actionpack

#35912 Clarify exists check in logs
  activerecord/lib/active_record/relation/finder_methods.rb
Labels: activerecord

#35875 Improve == and hash methods on various schema cache structs to be allocation free.
  activerecord/lib/active_record/connection_adapters/column.rb
  activerecord/lib/active_record/connection_adapters/mysql/type_metadata.rb
  activerecord/lib/active_record/connection_adapters/postgresql/type_metadata.rb
  activerecord/lib/active_record/connection_adapters/sql_type_metadata.rb
Labels: activerecord

#28155 Fix "autosave: true" on belongs_to of join model causes invalid records to be saved
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/models/section.rb
  activerecord/test/models/seminar.rb
  activerecord/test/models/session.rb
  activerecord/test/schema/schema.rb
Labels: activerecord, needs work

#35917 Adding type option example to the documentation [ci skip]
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
Labels: activerecord

#35916 Delete not user method for plugin_generator
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
Labels: railties

#35924 Update the result of generate command [skip ci]
  guides/source/engines.md
Labels: docs

#35934 Remove outdated debugging plugins
  guides/source/debugging_rails_applications.md
Labels: docs

#35935 Fix loading `ActionMailbox::BaseController` when CSRF protection is disabled
  actionmailbox/app/controllers/action_mailbox/base_controller.rb
Labels: actionmailbox

#35944 Updated the description of `add_development_dependency` [skip ci]
  guides/source/engines.md
Labels: docs

#35945 Code is enclosed by code block [skip ci]
  guides/source/engines.md
Labels: docs

#35932 adjust #:nodoc: style
  .rubocop.yml
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#35933 PERF: 2x ~ 30x faster dirty tracking
  activemodel/lib/active_model/attribute_mutation_tracker.rb
  activemodel/lib/active_model/dirty.rb
  activerecord/lib/active_record/attribute_methods/dirty.rb
Labels: activemodel, activerecord

#35938 Use modele to generate generated defaults [skip ci]
  guides/source/engines.md
Labels: docs

#35922 make SQLite3 `last_inserted_id` private and organize DatabaseStatement methods
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
Labels: activerecord

#35921 Deduplicate Active Record reflection names
  activerecord/lib/active_record/reflection.rb
Labels: activerecord

#35838 Address `ORA-01795: maximum number of expressions in a list is 1000`
  activerecord/lib/arel/visitors/oracle.rb
  activerecord/lib/arel/visitors/oracle12.rb
  activerecord/test/cases/arel/visitors/oracle12_test.rb
  activerecord/test/cases/arel/visitors/oracle_test.rb
Labels: activerecord

#35919 Simplify and fasten NamedRouteCollection#define_url_helper
  actionpack/lib/action_dispatch/routing/route_set.rb
Labels: actionpack

#35908 Add all descriptions in app directory [skip ci]
  guides/source/engines.md
Labels: docs

#35865 Introduce Template::Source::File, replacing FileTemplate and Template#refresh
  actionview/lib/action_view.rb
  actionview/lib/action_view/file_template.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/resolver.rb
  actionview/lib/action_view/template/sources.rb
  actionview/lib/action_view/template/sources/file.rb
  actionview/test/template/template_test.rb
Labels: actionview

#35949 Rename "method" to "matcher" in map block
  activemodel/lib/active_model/attribute_methods.rb
Labels: activemodel

#32541 Remove lock from method model
  actionpack/lib/action_controller/metal/params_wrapper.rb
Labels: actionpack

#28830 Fix `automatic_inverse_of` not to be disabled if extension block is given
  activerecord/lib/active_record/associations/builder/association.rb
  activerecord/lib/active_record/associations/builder/collection_association.rb
  activerecord/test/cases/associations/eager_load_nested_include_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/models/post.rb
Labels: activerecord

#35920 Don't call after_commit callbacks despite a record isn't saved
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/callbacks_test.rb
  activerecord/test/cases/transaction_callbacks_test.rb
Labels: activerecord

#35918 Lazy sync with transaction state on destroy
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#35952 Squash `warning: instance variable @filename not initialized`
  actionview/lib/action_view/template/handlers/erb/erubi.rb
Labels: actionview

#35955 Remove unused method_name from AttributeMethodMatch
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/test/cases/attribute_methods_test.rb
Labels: activemodel

#35957 Fix test flakyness due to `test_truncate_tables`
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#35961 Rename method_missing_target to target
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/lib/active_model/attributes.rb
  activemodel/lib/active_model/dirty.rb
  activerecord/lib/active_record/attribute_methods/before_type_cast.rb
  activerecord/lib/active_record/attribute_methods/query.rb
  activerecord/lib/active_record/attribute_methods/write.rb
Labels: activemodel, activerecord

#35963 Fix Code Climate exclude patterns config
  .codeclimate.yml
Labels: railties

#35958 use PostgreSQL's bulk_alter_table implementation
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/mysql2/active_schema_test.rb
Labels: activerecord

#35966 Add validation to subclass in tests to avoid polluting parent class
  activerecord/test/cases/validations_test.rb
Labels: activerecord

#35968 Ensure multiple anonymous modules are not included into test classes
  activemodel/test/cases/validations/acceptance_validation_test.rb
Labels: activemodel

#35956 Use individual execution counters when calculating retry delay
  activejob/CHANGELOG.md
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
Labels: activejob

#35971 Ensure acceptance validator is not applied more than once to Person
  activemodel/test/cases/validations/i18n_validation_test.rb
Labels: activemodel

#35972 Remove the Amazon SES ingress
  actionmailbox/README.md
  actionmailbox/app/controllers/action_mailbox/base_controller.rb
  actionmailbox/app/controllers/action_mailbox/ingresses/amazon/inbound_emails_controller.rb
  actionmailbox/config/routes.rb
  actionmailbox/lib/action_mailbox/engine.rb
  actionmailbox/lib/rails/generators/installer.rb
  actionmailbox/test/controllers/ingresses/amazon/inbound_emails_controller_test.rb
  actionmailbox/test/dummy/config/environments/production.rb
  guides/source/action_mailbox_basics.md
  railties/test/application/rake/routes_test.rb
  railties/test/commands/routes_test.rb
Labels: actionmailbox, docs, railties

#35951 Make `Redis.cache.fetch_multi([])` not throw an error
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#35970 make change_column_comment and change_table_comment invertible
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/invertible_migration_test.rb
  activerecord/test/cases/migration/command_recorder_test.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#35967 Do not execute `rails app:update` in railties/test/generators/app_generator_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#35974 Remove unused modules from StrongParameters
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#35899 Ensure a handler is set when using `connected_to`
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
Labels: activerecord

#35906 Notes tags registration
  guides/source/command_line.md
  railties/lib/rails/commands/notes/notes_command.rb
  railties/lib/rails/source_annotation_extractor.rb
  railties/test/commands/notes_test.rb
Labels: docs, railties

#35927 Add section on PostgreSQL to the guides index [ci skip]
  guides/source/documents.yaml
Labels: docs

#35959 De-duplicate templates, introduce UnboundTemplate
  actionview/lib/action_view.rb
  actionview/lib/action_view/template/resolver.rb
  actionview/lib/action_view/testing/resolvers.rb
  actionview/lib/action_view/unbound_template.rb
  actionview/test/template/file_system_resolver_test.rb
  actionview/test/template/optimized_file_system_resolver_test.rb
  actionview/test/template/resolver_shared_tests.rb
Labels: actionview

#35977 Remove `required: true` from the model generator template
  activerecord/lib/rails/generators/active_record/model/templates/model.rb.tt
  railties/test/generators/model_generator_test.rb
Labels: activerecord, railties

#35975 mounted routes with non-word characters
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/test/dispatch/mount_test.rb
  actionpack/test/journey/path/pattern_test.rb
Labels: actionpack

#35962 Migrate Code Climate config file to new configuration
  .codeclimate.yml
Labels: railties

#35988 Format a comment to not show up as code [ci skip]
  activerecord/lib/active_record/connection_handling.rb
Labels: activerecord

#35989 Bump RuboCop to 0.67.2
  .codeclimate.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  actionview/test/template/resolver_shared_tests.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
Labels: actionview, activerecord

#35985 Find query_source_location using lazy Enumerator
  activerecord/lib/active_record/log_subscriber.rb
  activesupport/lib/active_support/backtrace_cleaner.rb
  railties/test/backtrace_cleaner_test.rb
Labels: activerecord, activesupport, railties

#35946 Cache full MySQL version in schema cache
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
Labels: activerecord

#35995 Update the generate command sample codes [skip ci]
  guides/source/command_line.md
Labels: docs

#35996 Squash warning: possibly useless use of a constant in void context
  railties/test/application/configuration_test.rb
Labels: railties

#35997 [Rails::MailersController] Do not leak I18n global setting changes
  railties/lib/rails/mailers_controller.rb
  railties/test/application/mailer_previews_test.rb
Labels: railties

#35994 Guide updated in line with changes in rails commands [skip ci]
  guides/source/asset_pipeline.md
Labels: docs

#35984 Various fixes in ActiveSupport::Notifications::Event
  activesupport/lib/active_support/notifications/fanout.rb
  activesupport/lib/active_support/notifications/instrumenter.rb
  activesupport/test/notifications_test.rb
Labels: activesupport

#35987 Fix dirty tracking after rollback.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods/before_type_cast.rb
  activerecord/lib/active_record/attribute_methods/dirty.rb
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/lib/active_record/attribute_methods/read.rb
  activerecord/lib/active_record/attribute_methods/write.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#36006 Removed unused require for active_support/deprecation
  activesupport/lib/active_support/duration.rb
Labels: activesupport

#35886 Add documentations to concern methods [ci skip]
  activesupport/lib/active_support/concern.rb
Labels: activesupport

#36009 Fix typo in test description from generages -> generates
  railties/test/generators/model_generator_test.rb
Labels: railties

#35052 Describe how to silence the deprecation warning about empty I18n fall…
  activesupport/lib/active_support/i18n_railtie.rb
Labels: activesupport

#36010 Mention more ActiveStorage hooks in Active Support Instrumentation guide [ci skip]
  guides/source/active_support_instrumentation.md
Labels: docs

#36023 Ensure active record can load without Railties
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
Labels: activerecord

#36018 Catch exceptions raised in `parallelize_setup` and ensure tests fail when they occur
  activesupport/lib/active_support/testing/parallelization.rb
Labels: activesupport

#36012 Preserve html_safe? status on ActiveSupport::SafeBuffer#*
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  activesupport/test/safe_buffer_test.rb
Labels: activesupport

#36026 Document RedisCaceStore redis: option
  activesupport/lib/active_support/cache/redis_cache_store.rb
Labels: activesupport

#36033 Help command for visible commands should be hidden
  railties/lib/rails/commands/dev/dev_command.rb
Labels: railties

#36019 Adds a warning message for action text installer if application pack …
  actiontext/lib/templates/installer.rb
Labels: actiontext

#34788 Introduce Actionable Errors
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/middleware/actionable_exceptions.rb
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_actions.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_actions.text.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/diagnostics.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/layout.erb
  actionpack/test/abstract_unit.rb
  actionpack/test/dispatch/actionable_exceptions_test.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/actionable_error.rb
  activesupport/test/actionable_error_test.rb
  railties/lib/rails/application/default_middleware_stack.rb
  railties/test/application/middleware_test.rb
Labels: actionpack, activerecord, activesupport, railties

#36037 Refactor `ActiveSupport::Deprecation.deprecate_methods` not to expose internal methods
  activesupport/lib/active_support/deprecation/method_wrappers.rb
  activesupport/test/deprecation/method_wrappers_test.rb
Labels: activesupport

#35998 Document algorithm: concurrent option for PostgreSQL [ci skip]
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
Labels: activerecord, docs

#36000 handle long or duplicated screenshot filenames
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
Labels: actionpack

#36001 Add `null: false` constraint by default for `belongs_to` associations
  railties/CHANGELOG.md
  railties/lib/rails/generators/generated_attribute.rb
  railties/test/generators/generated_attribute_test.rb
  railties/test/generators/migration_generator_test.rb
  railties/test/generators/model_generator_test.rb
Labels: railties

#36039 Handle up/down for multiple databases
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#35738 ActiveJob time argument assertion documentation
  activejob/test/cases/test_helper_test.rb
  guides/source/testing.md
Labels: activejob, docs

#35896 [#35782] Allow loading seeds without ActiveJob (~> 5.2.3)
  railties/CHANGELOG.md
  railties/lib/rails/engine.rb
  railties/test/railties/engine_test.rb
Labels: railties

#36041 Change the deprecation message for dynamic routes segment to 6.1
  actionpack/lib/action_dispatch/routing/route_set.rb
  activerecord/lib/active_record/attribute_methods.rb
Labels: actionpack, activerecord

#36046 Add release notes for changes in the guides for Rails 6 [ci skip]
  guides/source/6_0_release_notes.md
Labels: docs

#36048 Fix typo by changing 'for' to 'from'
  guides/source/layouts_and_rendering.md
Labels: docs

#36049 Avoid method call if `@transaction_state` is not finalized
  activerecord/lib/active_record/attribute_methods/before_type_cast.rb
  activerecord/lib/active_record/attribute_methods/dirty.rb
  activerecord/lib/active_record/attribute_methods/read.rb
  activerecord/lib/active_record/attribute_methods/write.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/transactions.rb
Labels: activerecord

#36051 Allow ActiveStorage to generate variants of BMP images
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/engine.rb
  activestorage/test/fixtures/files/colors.bmp
  activestorage/test/models/variant_test.rb
Labels: activestorage

#36045 ActiveStorage - normalize the hash of transformations
  activestorage/app/models/active_storage/variation.rb
  activestorage/test/models/variant_test.rb
Labels: activestorage

#36047 Make system tests take failed screenshots in `before_teardown` hook
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/system_testing/test_helpers/setup_and_teardown.rb
  railties/test/application/test_runner_test.rb
Labels: actionpack, railties

#36040 Update changelog to explain the fix of #35114 [ci skip]
  actionview/CHANGELOG.md
Labels: actionview

#36052 PERF: 20% faster pk attribute access
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/lib/active_record/attribute_methods/read.rb
  activerecord/lib/active_record/attribute_methods/write.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/primary_keys_test.rb
Labels: activerecord

#36053 ActionCable: don't allowlist keys passed to the Redis initializer
  actioncable/lib/action_cable/subscription_adapter/redis.rb
  actioncable/test/subscription_adapter/redis_test.rb
Labels: actioncable

#36038 Include Caching module for ActionController::API
  actionpack/lib/action_controller/api.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#36058 Revert "Include Caching module for ActionController::API"
  actionpack/lib/action_controller/api.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#36029 Deprecate `where.not` working as NOR and will be changed to NAND in Rails 6.1
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/relation/where_clause.rb
  activerecord/test/cases/relation/where_clause_test.rb
  activerecord/test/cases/relation/where_test.rb
Labels: activerecord
