Repository rails/rails, pull requests merged in 2019-10, with the labels that each got.

#37328 Include connection in cached query notifications
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/test/cases/instrumentation_test.rb
Labels: activerecord

#37112 Delay ActionDispatch::Response configuration to load-time
  actionpack/lib/action_dispatch/http/response.rb
  actionpack/lib/action_dispatch/railtie.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#37085 Allow RedisCacheStore to fail safely when maximum client connections reached
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#37335 Add a missing runtime dependency of activesupport
  actioncable/actioncable.gemspec
  actionmailer/actionmailer.gemspec
  activestorage/activestorage.gemspec
Labels: actioncable, actionmailer, activestorage

#34935 Allow configure services for individual attachments
  actionmailbox/test/dummy/db/migrate/20180212164506_create_active_storage_tables.active_storage.rb
  actionmailbox/test/dummy/db/schema.rb
  actiontext/test/dummy/db/migrate/20180212164506_create_active_storage_tables.rb
  actiontext/test/dummy/db/schema.rb
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/db/migrate/20170806125915_create_active_storage_tables.rb
  activestorage/db/update_migrate/20190112182829_add_service_name_to_active_storage_blobs.rb
  activestorage/lib/active_storage.rb
  activestorage/lib/active_storage/attached/changes/create_one.rb
  activestorage/lib/active_storage/attached/model.rb
  activestorage/lib/active_storage/engine.rb
  activestorage/lib/active_storage/service_registry.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
  activestorage/test/models/attachment_test.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/models/reflection_test.rb
  activestorage/test/test_helper.rb
  guides/source/active_storage_overview.md
Labels: actionmailbox, actiontext, activestorage, docs

#37334 Backport #37228 and #37112 to 6-0-stable
  actionpack/lib/action_controller.rb
  actionpack/lib/action_dispatch/http/response.rb
  actionpack/lib/action_dispatch/railtie.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#37340 Fixed typo in attachment service test description. custom_ ervice -> custom service [ci skip]
  activestorage/test/models/attached/many_test.rb
Labels: activestorage

#37339 Remove unused require
  activerecord/lib/active_record/scoping/named.rb
Labels: activerecord

#37341 Removed repeated word 'done' from Active Storage guide [ci skip]
  guides/source/active_storage_overview.md
Labels: docs

#37344 Update package.json files to use https url
  actioncable/package.json
  actiontext/package.json
  actionview/package.json
  activestorage/package.json
Labels: actioncable, actiontext, actionview, activestorage

#37296 Refactor ConnectionPool management
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/unconnected_test.rb
Labels: activerecord, activesupport

#34533 Add support for belongs_to to has_many inversing.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
Labels: activerecord

#37347 Remove unused `require`
  activemodel/lib/active_model/serialization.rb
Labels: activemodel

#37349 Fix typo a InboxMailbox -> an InboxMailbox [ci skip]
  actionmailbox/lib/rails/generators/mailbox/USAGE
Labels: actionmailbox

#37350 Update URLs in docs [ci skip]
  RELEASING_RAILS.md
  actionpack/lib/action_dispatch/middleware/remote_ip.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionview/test/ujs/public/test/call-remote.js
  activesupport/lib/active_support/duration.rb
  activesupport/lib/active_support/ordered_hash.rb
  guides/source/generators.md
  guides/source/maintenance_policy.md
  guides/source/plugins.md
  guides/source/security.md
Labels: actionpack, actionview, activesupport, docs

#37346 Make Active Storage services aware of names
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/db/update_migrate/20190112182829_add_service_name_to_active_storage_blobs.rb
  activestorage/lib/active_storage/attached/changes/create_one.rb
  activestorage/lib/active_storage/service.rb
  activestorage/lib/active_storage/service/configurator.rb
  activestorage/lib/active_storage/service/mirror_service.rb
  activestorage/test/controllers/direct_uploads_controller_test.rb
  activestorage/test/service/disk_service_test.rb
  activestorage/test/service/gcs_service_test.rb
  activestorage/test/service/mirror_service_test.rb
  activestorage/test/service/s3_service_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#37348 Avoid string allocations in BacktraceCleaner
  railties/lib/rails/backtrace_cleaner.rb
Labels: railties

#37359 Maintain extra joins for string or complex arel conditions
  activerecord/lib/active_record/associations/join_dependency/join_association.rb
  activerecord/test/models/rating.rb
Labels: activerecord

#37360 Deprecate leaking scope in callback block for association relation
  activerecord/lib/active_record/association_relation.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/models/bulb.rb
Labels: activerecord

#37361 Address to the warning "DEPRECATED: global use of assertion methods"
  Gemfile.lock
  activerecord/test/cases/arel/attributes/attribute_test.rb
  activerecord/test/cases/arel/attributes/math_test.rb
  activerecord/test/cases/arel/delete_manager_test.rb
  activerecord/test/cases/arel/helper.rb
  activerecord/test/cases/arel/insert_manager_test.rb
  activerecord/test/cases/arel/nodes/bind_param_test.rb
  activerecord/test/cases/arel/nodes/count_test.rb
  activerecord/test/cases/arel/nodes/delete_statement_test.rb
  activerecord/test/cases/arel/nodes/equality_test.rb
  activerecord/test/cases/arel/nodes/extract_test.rb
  activerecord/test/cases/arel/nodes/grouping_test.rb
  activerecord/test/cases/arel/nodes/insert_statement_test.rb
  activerecord/test/cases/arel/nodes/not_test.rb
  activerecord/test/cases/arel/nodes/or_test.rb
  activerecord/test/cases/arel/nodes/over_test.rb
  activerecord/test/cases/arel/nodes/select_statement_test.rb
  activerecord/test/cases/arel/nodes/sql_literal_test.rb
  activerecord/test/cases/arel/nodes/sum_test.rb
  activerecord/test/cases/arel/nodes/update_statement_test.rb
  activerecord/test/cases/arel/select_manager_test.rb
  activerecord/test/cases/arel/table_test.rb
  activerecord/test/cases/arel/update_manager_test.rb
  activerecord/test/cases/arel/visitors/ibm_db_test.rb
  activerecord/test/cases/arel/visitors/informix_test.rb
  activerecord/test/cases/arel/visitors/mssql_test.rb
  activerecord/test/cases/arel/visitors/mysql_test.rb
  activerecord/test/cases/arel/visitors/oracle12_test.rb
  activerecord/test/cases/arel/visitors/oracle_test.rb
  activerecord/test/cases/arel/visitors/postgres_test.rb
  activerecord/test/cases/arel/visitors/sqlite_test.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#37353 correct information about record identification in form helper
  guides/source/form_helpers.md
Labels: docs

#37295 Fix autosave validation context regression
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
  activerecord/test/models/account.rb
  activerecord/test/models/pirate.rb
  activerecord/test/models/ship.rb
Labels: activerecord

#37358 Update MySQL links to point to the current version of the manual
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/locking/pessimistic.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/lib/arel/visitors/mysql.rb
  activerecord/test/cases/adapters/mysql2/sp_test.rb
  activerecord/test/cases/arel/visitors/mysql_test.rb
  activerecord/test/cases/defaults_test.rb
  guides/source/active_record_querying.md
  guides/source/active_record_validations.md
  guides/source/development_dependencies_install.md
Labels: activerecord, docs

#37364 Use db_config to retrieve adapter in Resolver
  activerecord/lib/active_record/connection_adapters/resolver.rb
Labels: activerecord

#37365 Correctly establish connection in truncate and simplify method
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
Labels: activerecord

#37369 Support the OPTIONS Http Verb in Integration tests
  actionpack/lib/action_dispatch/testing/integration.rb
Labels: actionpack

#37370 Allow OPTIONS verb in mapper
  actionpack/lib/action_dispatch/routing/mapper.rb
Labels: actionpack

#37382 Fixed pluralization typo
  guides/source/form_helpers.md
Labels: docs

#37384 Updated `ActionDispatch::Request.remote_ip=`
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/test/dispatch/request_test.rb
Labels: actionpack

#37385 fix(fork-tracker): Only patch fork if it's supported
  activesupport/lib/active_support/fork_tracker.rb
  activesupport/test/fork_tracker_test.rb
Labels: activesupport

#37325 Docs: active job: Clarify default re: failure
  guides/source/active_job_basics.md
Labels: docs

#37215 Avoid flunking tests on warnings in output
  railties/test/application/bin_setup_test.rb
  railties/test/application/configuration_test.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/migrations_test.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/application/runner_test.rb
  railties/test/commands/notes_test.rb
  railties/test/commands/routes_test.rb
Labels: railties

#37268 Use dynamic Rails version in plugin dummy apps
  railties/lib/rails/generators/rails/app/templates/config/application.rb.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#37217 Raise FrozenError for frozen objects when trying to write to a non-database-backed attribute
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/attributes.rb
  activemodel/test/cases/attributes_test.rb
Labels: activemodel

#37100 Fix IRB deprecation warning on tab-completion
  activesupport/lib/active_support/deprecation/proxy_wrappers.rb
Labels: activesupport

#37387 Remove unused `require`s
  actionview/lib/action_view/lookup_context.rb
  activerecord/lib/active_record/associations.rb
Labels: actionview, activerecord

#37381 Document caveats in autosave association behaviour
  activerecord/lib/active_record/autosave_association.rb
Labels: activerecord

#37094 Fix comment for nested_records_changed_for_autosave? [ci skip]
  activerecord/lib/active_record/autosave_association.rb
Labels: activerecord

#37390 Update comment in controller generators
  railties/lib/rails/generators/rails/scaffold_controller/templates/api_controller.rb.tt
  railties/lib/rails/generators/rails/scaffold_controller/templates/controller.rb.tt
Labels: railties

#37313 Implicitly assert no exception is raised in block assertions
  actioncable/lib/action_cable/test_helper.rb
  actionpack/test/controller/request_forgery_protection_test.rb
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/logging_test.rb
  activesupport/lib/active_support/testing/assertions.rb
  railties/lib/rails/generators/testing/assertions.rb
Labels: actioncable, actionpack, activejob, activesupport, railties

#37357 Don't modify relative ./ paths in BacktraceCleaner
  railties/lib/rails/backtrace_cleaner.rb
  railties/test/backtrace_cleaner_test.rb
Labels: railties

#37394 Add missing backticks for code conventions in contribution guide
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#37397 Rename load_paths.
  guides/source/i18n.md
Labels: docs

#37395 Use FileUpdateChecker for Migration::CheckPending
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/migration/pending_migrations_test.rb
Labels: activerecord

#37413 Don't run callbacks on has_many inverse add
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/models/interest.rb
  activerecord/test/models/man.rb
Labels: activerecord

#37419 Fix Railties test suite for Sprockets 4.0
  Gemfile.lock
  railties/test/application/asset_debugging_test.rb
  railties/test/application/assets_test.rb
Labels: railties

#37434 Fix eager load for no :has_many with limit and joins for :has_many
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#37440 Improve read_multi_entries performance for numerous keys
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#37451 Add extra metadata URI to the gemspecs
  actioncable/actioncable.gemspec
  actionmailbox/actionmailbox.gemspec
  actionmailer/actionmailer.gemspec
  actionpack/actionpack.gemspec
  actiontext/actiontext.gemspec
  actionview/actionview.gemspec
  activejob/activejob.gemspec
  activemodel/activemodel.gemspec
  activerecord/activerecord.gemspec
  activestorage/activestorage.gemspec
  activesupport/activesupport.gemspec
  rails.gemspec
  railties/railties.gemspec
Labels: actioncable, actionmailbox, actionmailer, actionpack, actiontext, actionview, activejob, activemodel, activerecord, activestorage, activesupport, railties

#37448 Fix flaky activestorage tests
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage/service.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#37457 Fix an issue with duplicate preloaded records
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/test/cases/associations/cascaded_eager_loading_test.rb
Labels: activerecord

#37461 Modernize generated plugin gemspec
  railties/lib/rails/generators/rails/plugin/templates/%name%.gemspec.tt
Labels: railties

#37456 Add .byebug_history to generated plugin .gitignore
  railties/lib/rails/generators/rails/plugin/templates/gitignore.tt
Labels: railties

#37463 [ci skip]fix typo
  activemodel/lib/active_model/errors.rb
Labels: activemodel

#37443 Use DatabaseConfig objects in dbconsole
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/unconnected_test.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
Labels: activerecord, railties

#37444 Revert "Merge pull request #37296 from Shopify/db-config-pool"
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/unconnected_test.rb
Labels: activerecord

#37465 Fixed performance regression introduced MySQL 8.0
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
Labels: activerecord

#37471 [ci skip] Remove reference to legacy Rails 2.x command
  guides/source/rails_application_templates.md
Labels: docs

#37470 fix action mailbox config example
  actionmailbox/lib/rails/generators/installer.rb
Labels: actionmailbox

#37478 Documentation: Add two RDoc links to methods
  actionpack/lib/action_controller/metal/redirecting.rb
  activerecord/lib/active_record/persistence.rb
Labels: actionpack, activerecord

#37429 Opt into has many inverse
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/cases/test_case.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_0.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_1.rb.tt
  railties/test/application/configuration_test.rb
  railties/test/generators/app_generator_test.rb
Labels: activerecord, railties

#37447 Support ActiveModel::Error translation lookup on indexed attributes.
  activemodel/lib/active_model/error.rb
  activemodel/test/cases/error_test.rb
Labels: activemodel

#37481 Remove patch for old JRuby versions
  activesupport/lib/active_support/core_ext/class/subclasses.rb
Labels: activesupport

#37482 Use ObjectSpace.each_object enumerator in descendants
  activesupport/lib/active_support/core_ext/class/subclasses.rb
Labels: activesupport

#37483 test: fix tests after minitest upgrade
  activerecord/test/cases/arel/select_manager_test.rb
Labels: activerecord

#37458 Manage connection pools in a new Role class rather than in DatabaseConfig
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/unconnected_test.rb
Labels: activerecord

#37489 Fix random CI failure due to non-deterministic sorting order
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#37486 Fix i18n of attributes with multi-digit indexes
  activemodel/lib/active_model/error.rb
  activemodel/test/cases/error_test.rb
  activemodel/test/cases/validations/i18n_validation_test.rb
Labels: activemodel

#37494 Enumerator should be supported by ActiveSupport::SafeBuffer
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  activesupport/test/safe_buffer_test.rb
Labels: activesupport

#37498 Fix random CI fail due to non-deterministic order
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#37500 Add methods to the public API of ActiveRecord::Inheritance
  activerecord/lib/active_record/associations/belongs_to_polymorphic_association.rb
  activerecord/lib/active_record/inheritance.rb
Labels: activerecord

#37505 activerecord: fix some test failers caused by recent backports
  activerecord/test/cases/arel/attributes_test.rb
  activerecord/test/cases/test_case.rb
Labels: activerecord

#37508 Enforce that activestorage compiled JS is in sync with source code
  activestorage/test/javascript_package_test.rb
Labels: activestorage

#37511 Fix new instance creation on association relation to respect unscope
  activerecord/lib/active_record/association_relation.rb
  activerecord/lib/active_record/associations/association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
Labels: activerecord

#37517 Remove unused require
  activerecord/lib/active_record/associations/association.rb
Labels: activerecord

#35969 Avoid LazilyDefinedAttributes being included multiple times in class, and remove methods after first use
  activemodel/lib/active_model/validations/acceptance.rb
  activemodel/test/cases/validations/acceptance_validation_test.rb
Labels: activemodel

#37503 Merge ConnectionSpecification + Role -> Role
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/connection_specification.rb
  activerecord/lib/active_record/connection_adapters/resolver.rb
  activerecord/lib/active_record/connection_adapters/role.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/test/cases/connection_adapters/adapter_leasing_test.rb
  activerecord/test/cases/connection_pool_test.rb
  activerecord/test/cases/connection_specification/resolver_test.rb
  activerecord/test/cases/disconnected_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/reaper_test.rb
Labels: activerecord

#37368 Return db_config from resolve_config_for_connection
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
Labels: activerecord

#37522 Don't instantiate new role
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#37523 Refactor `association.scoping` not to rely on `klass.all`
  activerecord/lib/active_record/association_relation.rb
  activerecord/lib/active_record/associations/association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
Labels: activerecord

#37510 Update `rails server` terminal output in Guides [ci skip]
  guides/source/command_line.md
  guides/source/debugging_rails_applications.md
Labels: docs

#37509 Update Welcome Aboard text in Guides [ci skip]
  guides/source/getting_started.md
Labels: docs

#37534 Tidy up the build output for Active Job adapters
  activejob/Rakefile
  activejob/test/support/integration/helper.rb
Labels: activejob

#37525 Allow CTEs in read-only query with postgresql
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#37548 [ci skip] Fix lower case comments without punctuation
  activesupport/lib/active_support/core_ext/hash/deep_transform_values.rb
  activesupport/lib/active_support/core_ext/hash/keys.rb
Labels: activesupport

#37544 [ci skip] Small fix to ActiveSupport docs
  activesupport/lib/active_support/rails.rb
Labels: activesupport

#37545 Fixed some grammar errors on guide doc.
  guides/source/active_record_querying.md
  guides/source/active_record_validations.md
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#37542 Show correct image of "Unknown action" in Getting Started guide.
  guides/assets/images/getting_started/unknown_action_create_for_articles.png
Labels: docs

#37445 Make content_tag a bit faster
  actionview/lib/action_view/helpers/tag_helper.rb
Labels: actionview

#37558 `bin/yarn` exec `"yarn"` rather than `"yarnpkg"`
  railties/lib/rails/generators/rails/app/templates/bin/yarn.tt
Labels: railties

#37561 [ci skip] Small fixes in ActionView documentation.
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/lib/action_view/helpers/form_options_helper.rb
  actionview/lib/action_view/template/resolver.rb
Labels: actionview

#37575 Update active support core ext document[ci skip]
  guides/source/active_support_core_extensions.md
Labels: docs

#37562 [ci skip] Fix lower case comments without punctuation
  activesupport/lib/active_support/number_helper/number_to_human_converter.rb
  activesupport/lib/active_support/number_helper/number_to_human_size_converter.rb
Labels: activesupport

#37579 Fix small typo inside `ActionCable` documentation [ci skip]
  actioncable/app/javascript/action_cable/subscriptions.js
Labels: actioncable

#37589 Fix typo guides/source/configuring.md
  guides/source/configuring.md
Labels: docs

#37587 Duplicate the cached value before writing it in the local cache
  activesupport/lib/active_support/cache/strategy/local_cache.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
Labels: activesupport

#37593 Remove unused requires
  activerecord/lib/active_record/base.rb
Labels: activerecord

#37599 Avoid using require_dependency is Zeitwerk is enabled
  activestorage/app/models/active_storage/blob.rb
Labels: activestorage

#37598 Correctly deprecate where.not working as NOR for relations:
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#37608 Fix ActionMailer assertions don't work for parameterized mail with legacy delivery job
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/test_helper.rb
  actionmailer/test/test_helper_test.rb
Labels: actionmailer

#37602 The `AJ_ADAPTER` env needs to be set to run activejob integration test
  activejob/test/helper.rb
Labels: activejob
