Repository rails/rails, pull requests merged in 2019-02, with the labels that each got.

#35117 Remove unused attr_writers `visitor` and `indexes`
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
Labels: activerecord

#35116 Fix has_many through association creation
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/models/subscription.rb
Labels: activerecord

#35126 Railties typo fixes.
  railties/lib/minitest/rails_plugin.rb
  railties/lib/rails/app_loader.rb
  railties/test/application/test_runner_test.rb
  railties/test/commands/credentials_test.rb
  railties/test/commands/dbconsole_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/mailer_generator_test.rb
  railties/test/generators/model_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/isolation/abstract_unit.rb
  railties/test/railties/mounted_engine_test.rb
Labels: railties

#35043 include the content type when uploading to S3
  activestorage/lib/active_storage/service/s3_service.rb
  activestorage/test/service/s3_service_test.rb
Labels: activestorage

#35131 ActiveSupport typo fixes.
  activesupport/test/dependencies_test.rb
  activesupport/test/hash_with_indifferent_access_test.rb
  activesupport/test/notifications_test.rb
  activesupport/test/safe_buffer_test.rb
  activesupport/test/share_lock_test.rb
  activesupport/test/time_travel_test.rb
  activesupport/test/time_zone_test.rb
Labels: activesupport

#35082 Eagerly materialize the fixtures transaction
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/fixtures_test.rb
Labels: activerecord

#35130 Refactor options for database selector middleware
  activerecord/lib/active_record/middleware/database_selector.rb
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/database_selector_test.rb
Labels: activerecord

#35133 Make Notifications::Fanout faster after changing subscriptions
  activesupport/lib/active_support/notifications/fanout.rb
Labels: activesupport

#35136 Use consistent hash syntax for routes
  actionpack/lib/action_dispatch/routing.rb
  guides/source/routing.md
Labels: actionpack, docs

#35105 Hint at advanced options for foreign_key
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
Labels: activerecord

#35148 Fix and update template_missing image in guide
  guides/assets/images/getting_started/template_is_missing_articles_new.png
Labels: docs

#35132 Add ability to change the names of the default handlers
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/support/connection.rb
Labels: activerecord

#35089 Invalidate all query caches for current thread
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#35096 Allow extra client configuration options - azure storage
  activestorage/lib/active_storage/service/azure_storage_service.rb
Labels: activestorage

#35149 Update template missing text in Guide
  guides/source/getting_started.md
Labels: docs

#35086 Cleanup the whitelisting references after #33145
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/test/dispatch/host_authorization_test.rb
  guides/source/api_app.md
  railties/CHANGELOG.md
  railties/test/application/configuration_test.rb
Labels: actionpack, docs, railties

#35152 Add a link to where "inquiry" is defined in ActiveSupport docs
  guides/source/active_support_core_extensions.md
Labels: docs

#35134 Cookie doesn't expire anymore unless a flag is set:
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/test/dispatch/cookies_test.rb
Labels: actionpack

#35154 Relax sqlite3 version dependency
  Gemfile
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
Labels: activerecord

#35157 Specify sqlite gem version explicitly in bug report templates
  guides/bug_report_templates/active_record_gem.rb
  guides/bug_report_templates/active_record_migrations_gem.rb
Labels: docs

#35063 Support before_reset callback in CurrentAttributes
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#35127 Bugfix association loading behavior when counter cache is zero
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/associations/has_many_association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
Labels: activerecord

#35139 Fix NameError : Make debug exceptions works in an environment where ActiveStorage is not loaded.
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/templates/rescues/invalid_statement.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/invalid_statement.text.erb
Labels: actionpack

#35169 Set sqlite3 gem version explicitly in generated Gemfile
  railties/lib/rails/generators/database.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#35166 Improve regexp of `html_safe_translation_key?`
  actionview/lib/action_view/helpers/translation_helper.rb
Labels: actionview

#34975 Ensure radio/checkbox DOM IDs with float values are unique
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/tags/base.rb
  actionview/test/template/form_collections_helper_test.rb
Labels: actionview

#35170 Add missing `require "tmpdir"` in ActiveSupport::EncryptedFile
  activesupport/lib/active_support/encrypted_file.rb
Labels: activesupport

#35171 Speed up partial rendering by caching "variable" calculation
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/lib/action_view/template.rb
  activerecord/lib/active_record/railties/collection_cache_association_loading.rb
Labels: actionview, activerecord

#35162 Fix incorrectly matching unanchored paths
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/test/dispatch/mount_test.rb
  actionpack/test/journey/path/pattern_test.rb
Labels: actionpack, routing

#35173 Update terminal-to-html inline images url in ScreenshotHelper documentation
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
Labels: actionpack

#34971 Improve execution time of railties' test
  railties/test/isolation/abstract_unit.rb
  railties/test/railties/engine_test.rb
Labels: railties

#35174 Fix `CollectionProxy#concat` to return self by alias it to `#<<`
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/associations/collection_proxy.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
Labels: activerecord

#35179 Allow skipping incineration of processed emails
  actionmailbox/CHANGELOG.md
  actionmailbox/app/jobs/action_mailbox/incineration_job.rb
  actionmailbox/app/models/action_mailbox/inbound_email/incineratable.rb
  actionmailbox/lib/action_mailbox.rb
  actionmailbox/lib/action_mailbox/engine.rb
  actionmailbox/test/unit/inbound_email/incineration_test.rb
Labels: actionmailbox

#35036 Move compiled ERB to an AV::Base subclass
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  actionview/CHANGELOG.md
  actionview/lib/action_view.rb
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/railtie.rb
  actionview/lib/action_view/rendering.rb
  actionview/lib/action_view/template.rb
  actionview/test/abstract_unit.rb
  actionview/test/activerecord/multifetch_cache_test.rb
  actionview/test/template/compiled_templates_test.rb
  actionview/test/template/log_subscriber_test.rb
  actionview/test/template/render_test.rb
  actionview/test/template/streaming_render_test.rb
  actionview/test/template/template_test.rb
  actionview/test/template/translation_helper_test.rb
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionpack, actionview, docs, railties

#35186 Fix `relation.create` to avoid leaking scope to initialization block and callbacks
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/models/bird.rb
Labels: activerecord

#35182 Improve naming in DatabaseSelector
  activerecord/lib/active_record/middleware/database_selector.rb
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/lib/active_record/middleware/database_selector/resolver/session.rb
Labels: activerecord

#35187 Finish rename of database_operations to database_resolver_context
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railtie.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: activerecord, railties

#35099 Address test_belongs_to_does_not_use_order_by failure
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
Labels: activerecord

#35178 Bugfix has_many association #size when ids reader is cached and assoc…
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
Labels: activerecord

#35193 Fix `relation.exists?` with giving both `distinct` and `offset`
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#34618 Fix elapsed time calculations
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/lib/active_support/notifications/instrumenter.rb
Labels: activerecord, activesupport

#35201 Fix memory leaks in development
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/rendering.rb
  actionview/lib/action_view/view_paths.rb
  actionview/test/template/log_subscriber_test.rb
  actionview/test/template/render_test.rb
  actionview/test/template/resolver_cache_test.rb
  actionview/test/template/streaming_render_test.rb
  actionview/test/template/test_case_test.rb
Labels: actioncable, actionview

#35203 Do not allow to add column without column name
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/test/cases/migration/columns_test.rb
Labels: activerecord

#35211 Avoid ajv@6.9.0 for now
  railties/test/isolation/abstract_unit.rb
Labels: railties

#35217 Revert "Merge pull request #35211 from y-yagi/fix_broken_association_test"
  railties/test/isolation/abstract_unit.rb
Labels: railties

#35212 SQLite3: Implement `add_foreign_key` and `remove_foreign_key`
  actionmailbox/test/dummy/db/schema.rb
  actiontext/test/dummy/db/schema.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/migration/change_schema_test.rb
  activerecord/test/cases/migration/foreign_key_test.rb
  activerecord/test/cases/migration/references_foreign_key_test.rb
  guides/source/active_record_migrations.md
Labels: actionmailbox, actiontext, activerecord, docs

#35184 Avoid extra package install
  .travis.yml
  package.json
  railties/.gitignore
  railties/Rakefile
  railties/test/isolation/abstract_unit.rb
  railties/test/isolation/assets/config/webpack/development.js
  railties/test/isolation/assets/config/webpack/production.js
  railties/test/isolation/assets/config/webpack/test.js
  railties/test/isolation/assets/config/webpacker.yml
  railties/test/isolation/assets/package.json
Labels: railties

#35216 Correct JavaScript guide example
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#35196 Clarify collection proxy docs
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/collection_proxy.rb
Labels: activerecord

#35221 Optimized namespaces_to_paths method.
  railties/lib/rails/command/behavior.rb
Labels: railties

#35198 Allow deprecated non-symbol access to nested `config_for` hashes
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: railties

#35226 Document queue_as block arguments and their use
  activejob/lib/active_job/queue_name.rb
Labels: activejob

#32861 use ProxyPattern to match for ActiveSupport::Notifications fanout/unsubscribe
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/notifications.rb
  activesupport/lib/active_support/notifications/fanout.rb
  activesupport/test/notifications/evented_notification_test.rb
  activesupport/test/notifications_test.rb
Labels: activesupport

#35227 Fix unstable railties tests
  railties/test/isolation/assets/package.json
Labels: railties

#35175 Support testing of non-ActionDispatch-routed apps.
  actionpack/lib/action_dispatch/testing/integration.rb
  actionpack/test/dispatch/routing/non_dispatch_routed_app_test.rb
Labels: actionpack

#35235 Zeitwerk integration
  Gemfile
  Gemfile.lock
  actionmailer/lib/action_mailer/railtie.rb
  activesupport/lib/active_support/dependencies/zeitwerk_integration.rb
  railties/lib/rails.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/application/finisher.rb
  railties/lib/rails/engine.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/application/configuration_test.rb
  railties/test/application/mailer_previews_test.rb
  railties/test/application/multiple_applications_test.rb
  railties/test/application/rake_test.rb
  railties/test/application/zeitwerk_integration_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/isolation/abstract_unit.rb
  railties/test/railties/engine_test.rb
Labels: actionmailer, activesupport, railties

#35237 Fix DatabaseSelector test that fails sometimes
  activerecord/test/cases/database_selector_test.rb
Labels: activerecord

#34714 Action Cable: allow multiple instances of Server::Base with different configs
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/server/base.rb
  actioncable/test/subscription_adapter/channel_prefix.rb
Labels: actioncable

#35034 Add Worker Pool section to Action Cable configuration docs
  guides/source/action_cable_overview.md
  guides/source/configuring.md
Labels: docs

#34747 Don’t log recipients when sending mail
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/log_subscriber.rb
  actionmailer/test/base_test.rb
  actionmailer/test/log_subscriber_test.rb
  actionmailer/test/mailers/base_mailer.rb
Labels: actionmailer

#35244 Fix database configurations building when DATABASE_URL present
  activerecord/lib/active_record/database_configurations.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
Labels: activerecord

#35229 Convert lookup context's to a stack for fixing #35222 and #34138
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/helpers/rendering_helper.rb
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/lib/action_view/rendering.rb
  actionview/lib/action_view/template/handlers/erb/erubi.rb
  actionview/test/fixtures/test/_first.html.erb
  actionview/test/fixtures/test/_first.xml.erb
  actionview/test/fixtures/test/_first_layer.html.erb
  actionview/test/fixtures/test/_first_layer.xml.erb
  actionview/test/fixtures/test/_second.html.erb
  actionview/test/fixtures/test/_second.xml.erb
  actionview/test/fixtures/test/_second_layer.html.erb
  actionview/test/fixtures/test/_second_layer.xml.erb
  actionview/test/fixtures/test/mixing_formats.html.erb
  actionview/test/fixtures/test/mixing_formats_deep.html.erb
  actionview/test/template/log_subscriber_test.rb
  actionview/test/template/render_test.rb
Labels: actionpack, actionview

#35254 Clean for fix done in #35229. Removed unused arguments for `build_lookup_context `
  actionview/lib/action_view/base.rb
Labels: actionview

#35255 Address to useless assignment `formats = nil` after #35254
  actionview/lib/action_view/base.rb
  actionview/test/fixtures/test/_first_layer.html.erb
Labels: actionview

#35253 Cached collections only work if there is one template
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/test/template/render_test.rb
Labels: actionview

#35258 Revert "Chaining named scope is no longer leaking to class level querying methods"
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/spawn_methods.rb
  activerecord/test/cases/scoping/named_scoping_test.rb
  activerecord/test/models/reply.rb
  activerecord/test/models/topic.rb
Labels: activerecord

#35266 Use Dir#children and Dir#each_child in ActiveSupport::Cache::FileStore
  activesupport/lib/active_support/cache/file_store.rb
  activesupport/test/cache/stores/file_store_test.rb
Labels: activesupport

#35261 Let Zeitwerk be a dependency of Active Support
  Gemfile
  Gemfile.lock
  activesupport/activesupport.gemspec
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/generators/app_generator_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: activesupport, railties

#35242 Add setter and deprecation for configurations hashes
  activerecord/lib/active_record/database_configurations.rb
  activerecord/test/cases/database_configurations_test.rb
  activerecord/test/cases/legacy_configurations_test.rb
Labels: activerecord

#35268 Fixes missing method `path_for` when using MirrorService with DiskService as the primary service
  activestorage/lib/active_storage/service/mirror_service.rb
  activestorage/test/service/mirror_service_test.rb
Labels: activestorage

#35277 Minor changes to deprecation warning message after #35242
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
Labels: activerecord

#35276 Action Cable: support channel_prefix for Postgres subscription adapter
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/subscription_adapter/postgresql.rb
  actioncable/test/subscription_adapter/postgresql_test.rb
Labels: actioncable

#35249 Fix the `config_for` to always return a NonSymbolAccessDeprecatedHash:
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: activesupport, railties

#35279 Address uninitialized constant PostgresqlAdapterTest::ChannelPrefixTest (NameError)
  actioncable/test/subscription_adapter/postgresql_test.rb
Labels: actioncable

#35280 Deprecate using class level querying methods if the receiver scope regarded as leaked
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/spawn_methods.rb
  activerecord/lib/active_record/scoping.rb
  activerecord/lib/active_record/scoping/named.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/cases/scoping/named_scoping_test.rb
  activerecord/test/models/bird.rb
Labels: activerecord

#35288 Fix Small Typo in Docs
  activesupport/lib/active_support/message_encryptor.rb
  activesupport/lib/active_support/message_verifier.rb
Labels: activesupport

#35262 Reword RDBMS note in ActiveRecord basics
  guides/source/active_record_basics.md
Labels: docs

#35289 AbstractController::Translation#t: dup options
  actionpack/lib/abstract_controller/translation.rb
Labels: actionpack

#35269 Allow to pass options to `csp_meta_tag`
  actionview/lib/action_view/helpers/csp_helper.rb
  actionview/test/template/csp_helper_test.rb
Labels: actionview

#35286 Properly handle cached queries with too many bind parameters
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/test/cases/bind_parameter_test.rb
Labels: activerecord

#35281 Show deprecated message instead of raise exception in `compiled_method_container` method
  actionview/lib/action_view/base.rb
  actionview/test/template/render_test.rb
Labels: actionview

#35297 Fix possible memory leak of ConnectionHandler
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#35299 Fix the regex that extract mismatched foreign key information
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/errors.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
Labels: activerecord

#35274 Raise ActiveRecord::IrreversibleOrderError if nulls first/last is not a single ordering argument.
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#35302 Auto correct rubocop offenses
  actionmailer/test/base_test.rb
  railties/lib/rails/autoloaders.rb
Labels: actionmailer, railties

#29651 Return correct date in ActiveModel for time to date conversions
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/type/date.rb
  activemodel/test/cases/type/date_test.rb
Labels: activemodel

#35318 Actionpack typo fix
  actionpack/lib/action_dispatch/testing/integration.rb
Labels: actionpack

#35313 Add combining callback conditions [skip ci]
  guides/source/active_record_callbacks.md
Labels: docs

#35303 Delete documentation inconsistency 'finally' for AR callbacks [ci skip]
  guides/source/active_record_callbacks.md
  guides/source/active_record_validations.md
Labels: docs

#35310 Don't allow `where` with invalid value matches to nil values
  activemodel/lib/active_model/type/time.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_attribute.rb
  activerecord/test/cases/adapters/postgresql/uuid_test.rb
  activerecord/test/cases/relation/where_test.rb
Labels: activemodel, activerecord

#35324 Update active_record_callbacks.md [ci skip]
  guides/source/active_record_callbacks.md
Labels: docs

#35316 Introduce delete_by and destroy_by methods to ActiveRecord::Relation
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#35271 Reset column info after making Topic tz-aware
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#35293 Pass the template format to the digestor
  actionmailer/test/caching_test.rb
  actionpack/lib/action_controller/metal/etag_with_template_digest.rb
  actionpack/test/controller/caching_test.rb
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/digestor.rb
  actionview/lib/action_view/helpers/cache_helper.rb
  actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/handlers/erb/erubi.rb
  actionview/test/activerecord/relation_cache_test.rb
  actionview/test/template/digestor_test.rb
  actionview/test/template/render_test.rb
Labels: actionmailer, actionpack, actionview

#35265 Return rendered template objects from renderers
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/helpers/rendering_helper.rb
  actionview/lib/action_view/renderer/abstract_renderer.rb
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb
  actionview/lib/action_view/renderer/renderer.rb
  actionview/lib/action_view/renderer/streaming_template_renderer.rb
  actionview/lib/action_view/renderer/template_renderer.rb
  actionview/lib/action_view/rendering.rb
  actionview/test/actionpack/controller/render_test.rb
  actionview/test/template/render_test.rb
Labels: actionview

#35332 Let Zeitwerk integration unhook AS::Dependencies
  activesupport/lib/active_support/dependencies/zeitwerk_integration.rb
  railties/test/application/loading_test.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/application/zeitwerk_integration_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: activesupport, railties

#35331 Deprecate LookupContext#rendered_format
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/rendering.rb
  actionview/test/template/lookup_context_test.rb
Labels: actionview

#35325 Added delegation tests for delete_by and destroy_by methods
  activerecord/test/cases/relation/delegation_test.rb
Labels: activerecord

#35247 Fix reset of the source association when through association is loaded
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/lib/active_record/associations/preloader/through_association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/nested_through_associations_test.rb
  activerecord/test/models/category.rb
Labels: activerecord

#35327 Replaced usage of where.delete/destroy_all with delete/destroy_by
  activerecord/lib/active_record/callbacks.rb
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/test/models/topic.rb
  guides/source/active_record_basics.md
Labels: activerecord, docs

#35338 [ci skip] Updated the documentation for bulk delete in activerecord
  guides/source/active_record_basics.md
Labels: docs

#35340 Deprecate ActionView::PathSet as argument to ActionView::Base.new
  actionview/lib/action_view/base.rb
  actionview/test/template/render_test.rb
Labels: actionview

#35263 Reduce unused allocations when casting UUIDs for Postgres
  activerecord/lib/active_record/connection_adapters/postgresql/oid/uuid.rb
  activerecord/test/cases/adapters/postgresql/uuid_test.rb
Labels: activerecord

#35342 [ci skip] actionview typo fixes.
  actionview/app/assets/javascripts/rails-ujs/utils/event.coffee
  actionview/lib/action_view/base.rb
Labels: actionview, rails-ujs

#35344 Add missing require to active_storage.rb
  activestorage/lib/active_storage.rb
Labels: activestorage

#35345 Fix lint `ShadowingOuterLocalVariable`
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#35336 Don't allow `where` with non numeric string matches to 0 values
  activemodel/lib/active_model/type/helpers/numeric.rb
  activemodel/lib/active_model/type/integer.rb
  activemodel/test/cases/type/integer_test.rb
  activerecord/CHANGELOG.md
  activerecord/test/cases/relation/where_test.rb
Labels: activemodel, activerecord

#35349 Define Rails.autoloaders.logger=
  railties/lib/rails/autoloaders.rb
  railties/test/application/zeitwerk_integration_test.rb
Labels: railties

#35360 Fix `pluck` and `select` with `from` if `from` has original table name
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#35363 Bumps Zeitwerk
  Gemfile.lock
  activesupport/activesupport.gemspec
  activesupport/lib/active_support/dependencies/zeitwerk_integration.rb
  railties/lib/rails/autoloaders.rb
  railties/test/application/zeitwerk_integration_test.rb
Labels: activesupport, railties

#35357 Allows rich_text_area_tag to add translated placeholder text if placeholder option set to true
  actiontext/app/helpers/action_text/tag_helper.rb
  actiontext/test/template/form_helper_test.rb
Labels: actiontext

#35369 Pass lookup context to the layout handlers
  actionview/lib/action_view/layouts.rb
  actionview/lib/action_view/renderer/template_renderer.rb
Labels: actionview

#35371 Ensure that rendered templates always have a format
  actionview/lib/action_view/renderer/abstract_renderer.rb
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/lib/action_view/renderer/template_renderer.rb
  actionview/lib/action_view/rendering.rb
Labels: actionview

#35370 Update callbacks skipping methods in guide.
  guides/source/active_record_callbacks.md
Labels: docs

#35367 Update migration version to 6.0 in the getting started doc [ci skip]
  guides/source/getting_started.md
Labels: docs

#35375 Make `test_select_with_subquery_in_from_uses_original_table_name` work with old SQLite3
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#35374 Add a finalizer to inline templates
  actionview/lib/action_view/renderer/template_renderer.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/inline.rb
Labels: actionview

#35379 minor grammar fix [ci skip]
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
Labels: activerecord

#35382 Restore ActionDispatch::Http::UploadedFile compatibility with IO.copy_stream
  actionpack/lib/action_dispatch/http/upload.rb
  actionpack/test/dispatch/uploaded_file_test.rb
Labels: actionpack

#35383 How to use `select` is updated [ci skip]
  guides/source/active_record_querying.md
Labels: docs

#35393 [ci skip] activejob typo fix.
  activejob/lib/active_job/core.rb
Labels: activejob

#35352 Ensure `update_all` series doesn't care optimistic locking
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/dirty_test.rb
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#35394 activemodel typo fixes.
  activemodel/test/cases/validations/conditional_validation_test.rb
Labels: activemodel

#35399 Fix prepared statements caching to be enabled even when query caching is enabled
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/connection_adapters/determine_if_preparable_visitor.rb
  activerecord/test/cases/bind_parameter_test.rb
Labels: activerecord

#35402 Support read queries with leading characters while preventing writes
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#35404 No nil format on templates
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/resolver.rb
  actionview/lib/action_view/testing/resolvers.rb
  actionview/test/abstract_unit.rb
  actionview/test/template/template_test.rb
Labels: actionpack, actionview

#35400 Allow custom cache-control header in AC::Live
  actionpack/lib/action_controller/metal/live.rb
  actionpack/test/dispatch/live_response_test.rb
Labels: actionpack

#35406 Templates have one format
  actionmailer/lib/action_mailer/base.rb
  actionview/lib/action_view/file_template.rb
  actionview/lib/action_view/helpers/cache_helper.rb
  actionview/lib/action_view/renderer/abstract_renderer.rb
  actionview/lib/action_view/renderer/template_renderer.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/html.rb
  actionview/lib/action_view/template/text.rb
  actionview/test/actionpack/controller/view_paths_test.rb
  actionview/test/template/digestor_test.rb
  actionview/test/template/html_test.rb
  actionview/test/template/lookup_context_test.rb
  actionview/test/template/resolver_patterns_test.rb
  actionview/test/template/testing/fixture_resolver_test.rb
  actionview/test/template/testing/null_resolver_test.rb
  actionview/test/template/text_test.rb
Labels: actionmailer, actionview

#35407 Improve Template#inspect output
  actionview/lib/action_view/template.rb
  actionview/test/template/template_test.rb
Labels: actionview

#35408 Template has one variant
  actionview/lib/action_view/file_template.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/resolver.rb
Labels: actionview

#35414 [ci skip] Renamed formats -> format in test after #35406
  actionview/test/template/text_test.rb
Labels: actionview

#35361 Fix different `count` calculation when using `size` with DISTINCT `select`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#35412 Ensure that the `_blob` association is properly loaded when attaching `::One`
  activestorage/lib/active_storage/attached/changes/create_one.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
Labels: activestorage

#35411 Pass locals in to the template object on construction
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionview/lib/action_view/file_template.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/resolver.rb
  actionview/lib/action_view/testing/resolvers.rb
  actionview/test/abstract_unit.rb
  actionview/test/actionpack/controller/view_paths_test.rb
  actionview/test/template/template_test.rb
Labels: actionpack, actionview

#35422 Fix code examples' indentation in ActionDispatch::Routing
  actionpack/lib/action_dispatch/routing.rb
Labels: actionpack

#35381 Add negative scopes for all enum values
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#35397 Run activesupport's memcache store tests on Buildkite
  activesupport/test/cache/behaviors/connection_pool_behavior.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#35428 Add note about idle connection reaper to 5.2 release notes
  guides/source/5_2_release_notes.md
Labels: docs

#35432 [ci skip] Fix the documentation of ActiveRecord::FinderMethods#find
  activerecord/lib/active_record/relation/finder_methods.rb
Labels: activerecord

#35435 [ci skip] The `find` method coerces the given arguments to integer if the `primary key` is integer
  activerecord/lib/active_record/relation/finder_methods.rb
Labels: activerecord
