Repository rails/rails, pull requests merged in 2019-11, with the labels that each got.

#37601 Reestablish connection to previous database after migrating:
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#37568 Run inline jobs in separate threads
  activejob/lib/active_job/queue_adapters/inline_adapter.rb
  activejob/test/integration/queuing_test.rb
  activejob/test/jobs/thread_job.rb
Labels: activejob

#37633 i18n.md: Remove Rails versions from Traco link
  guides/source/i18n.md
Labels: docs

#37504 TypeError Regexp#match?(nil) in Ruby Head
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/journey/formatter.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionview/lib/action_view/layouts.rb
  activemodel/test/validators/email_validator.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: actionpack, actionview, activemodel, activerecord

#37636 Use singular, `instance`, in deprecation warning.
  actionview/lib/action_view/base.rb
Labels: actionview

#37490 Ensure public-read ACL for S3 service with public mode.
  activestorage/lib/active_storage/service/s3_service.rb
  activestorage/test/service/s3_public_service_test.rb
Labels: activestorage

#37646 Address `no implicit conversion of Arel::Attributes::Attribute into String`
  activerecord/lib/arel/visitors/oracle.rb
Labels: activerecord

#37652 Remove needless `require "pp"`
  actionpack/test/abstract_unit.rb
  actionview/test/abstract_unit.rb
  activesupport/test/dependencies_test.rb
  guides/source/initialization.md
  railties/lib/rails/application.rb
Labels: actionpack, actionview, activesupport, docs, railties

#37654 Fix indentation in `configuring.md` [ci skip]
  guides/source/configuring.md
Labels: docs

#37622 Add an intermediary called RoleManager to manage connections
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/pool_config.rb
  activerecord/lib/active_record/connection_adapters/pool_manager.rb
  activerecord/lib/active_record/connection_adapters/resolver.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/connection_adapters/adapter_leasing_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_pool_config_test.rb
  activerecord/test/cases/connection_pool_test.rb
  activerecord/test/cases/disconnected_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/pool_config/resolver_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/reaper_test.rb
  activerecord/test/cases/unconnected_test.rb
Labels: activerecord

#37655 Append missing 's' to #silence_warning call
  actionpack/test/controller/live_stream_test.rb
Labels: actionpack

#37644 Fix the collision check for the scaffold generator
  railties/lib/rails/generators/named_base.rb
  railties/test/generators/scaffold_controller_generator_test.rb
Labels: railties

#37661 Suppress deprecation warning in generating the guide `index.html`
  guides/rails_guides/generator.rb
Labels: docs

#37642 Mention public storage in the guides
  guides/source/active_storage_overview.md
Labels: docs

#37660 Add an option to disable logging for jobs with sensitive arguments
  activejob/CHANGELOG.md
  activejob/lib/active_job/log_subscriber.rb
  activejob/lib/active_job/logging.rb
  activejob/test/cases/logging_test.rb
  activejob/test/jobs/disable_log_job.rb
  guides/source/configuring.md
Labels: activejob, docs

#37665 Defer Active Storage service configuration until use
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage.rb
  activestorage/lib/active_storage/attached/model.rb
  activestorage/lib/active_storage/engine.rb
  activestorage/lib/active_storage/service/registry.rb
  activestorage/lib/active_storage/service_registry.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#37590 Make AS::Deprecation.silence block thread-local
  activesupport/lib/active_support/deprecation.rb
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#37667 Fix configuring a cache store with ActiveSupport::OrderedOptions
  activesupport/lib/active_support/ordered_options.rb
  activesupport/test/cache/cache_store_setting_test.rb
Labels: activesupport

#37671 Fix small typo in activejob changelog (arugments -> arguments)
  activejob/CHANGELOG.md
Labels: activejob

#37658 Fix collection callbacks not terminating when abort is thrown
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/callbacks_test.rb
  activerecord/test/models/author.rb
Labels: activerecord

#37673 Fix inconsistent capitalization of Article in getting started
  guides/source/getting_started.md
Labels: docs

#37626 Additionally order by primary key if implicit_order_column is not uniq
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#37621 Update form examples [ci skip]
  guides/source/action_text_overview.md
  guides/source/action_view_overview.md
  guides/source/active_model_basics.md
  guides/source/engines.md
  guides/source/form_helpers.md
  guides/source/getting_started.md
  guides/source/layouts_and_rendering.md
  guides/source/routing.md
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#37520 Simplify dangerous_class_method?
  activerecord/lib/active_record/attribute_methods.rb
Labels: activerecord

#37691 Fix typo activesupport/changelog.md
  activesupport/CHANGELOG.md
Labels: activesupport

#37698 Add missing require for Concurrent::ThreadLocalVar
  activesupport/lib/active_support/deprecation.rb
Labels: activesupport

#37700 Backfill ActionView changelog for Rails 6.0
  actionview/CHANGELOG.md
  guides/source/6_0_release_notes.md
Labels: actionview, docs

#37695 Remove ConnectionAdapters::Resolver in favor of DatabaseConfigurations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/resolver.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  activerecord/test/cases/database_configurations/resolver_test.rb
Labels: activerecord

#37704 Relocate require in AS::Deprecation
  activesupport/lib/active_support/deprecation.rb
Labels: activesupport

#37708 Fix undefined method `start_with?' for :to_json
  activesupport/lib/active_support/option_merger.rb
Labels: activesupport

#37710 Fix ActiveStorage::Blob#service method redefined warning
  activestorage/app/models/active_storage/blob.rb
Labels: activestorage

#37712 Remove Resolver autoload
  activerecord/lib/active_record/connection_adapters.rb
Labels: activerecord

#37713 Remove unused require
  activesupport/lib/active_support/parameter_filter.rb
Labels: activesupport

#37683 Add `HTTP Token authentication` section to guide [skip ci]
  guides/source/action_controller_overview.md
Labels: docs

#37725 Update a tag for missing <dl> in guides
  guides/source/layout.html.erb
Labels: docs

#37721 Fix yarn issues on CI
  railties/test/application/assets_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: railties

#37732 Writes should always clear the query cache
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#37727 Improve deprecation message for leaking scope
  activerecord/lib/active_record/scoping/named.rb
Labels: activerecord

#35085 Check testing framework in action text installer
  actiontext/lib/generators/action_text/install/install_generator.rb
  actiontext/lib/generators/action_text/install/templates/actiontext.scss
  actiontext/lib/rails/generators/test_unit/install_generator.rb
  actiontext/lib/rails/generators/test_unit/templates/fixtures.yml
  actiontext/lib/tasks/actiontext.rake
  actiontext/lib/templates/installer.rb
Labels: actiontext

#37518 Test clear_changes_information rather than reload
  activemodel/test/cases/attributes_dirty_test.rb
  activemodel/test/cases/dirty_test.rb
Labels: activemodel

#37707 Change execute_batch to take array of statements
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
Labels: activerecord

#37753 Add params.member? to mimic Hash behavior
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack

#37703 Fix documentation regarding X-Frame-Options values
  guides/source/security.md
Labels: docs

#37332 Correct headings in engines guide [skip ci]
  guides/source/engines.md
Labels: actioncable, actionpack, actionview, activejob, activerecord, docs, railties

#37367 Increase Guides and Chapters wrapper width
  guides/assets/stylesheets/main.css
  guides/assets/stylesheets/main.rtl.css
Labels: docs

#37747 Check that entire collection has been loaded before short circuiting
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/cases/test_case.rb
  activerecord/test/models/comment.rb
Labels: activerecord

#37574 Add document for including and excluding methods[ci skip]
  guides/source/active_support_core_extensions.md
Labels: activesupport, docs

#37476 Allow system tests using Rack::Test to run without Chrome
  actionpack/lib/action_dispatch/system_test_case.rb
  actionpack/lib/action_dispatch/system_testing/driver.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack

#37763 Update guide missing "HTTP" of "HTTP Token authentication" [skip ci]
  guides/source/action_controller_overview.md
Labels: docs

#37764 Remove an unused connection handler in a test
  activerecord/test/cases/connection_adapters/connection_handlers_multi_pool_config_test.rb
Labels: activerecord

#37696 Prevent nesting failure screenshots into dirs
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
Labels: actionpack

#37771 activerecord: Add missing require for compact_blank
  activerecord/lib/active_record/database_configurations/connection_url_resolver.rb
Labels: activerecord

#37743 Add comment to BROWSER_LIKE_ACCEPTS regex
  actionpack/lib/action_dispatch/http/mime_negotiation.rb
Labels: actionpack

#37757 [regresion] Allow using mountable engine route helpers in System Tests (v6.0.1)
  actionpack/lib/action_dispatch/system_test_case.rb
Labels: actionpack

#37772 Fix RSpec capitalization typo ("Rspec" -> "RSpec")
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#37733 Fix unscoped grouped where
  activerecord/CHANGELOG.md
  activerecord/lib/arel.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#37669 Update fragment caching doc [ci skip]
  actionview/lib/action_view/helpers/cache_helper.rb
  guides/source/caching_with_rails.md
Labels: actionview, docs

#37770 Modify ActiveRecord::TestFixtures to not rely on AS::TestCase:
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/test_fixtures_test.rb
Labels: activerecord

#37776 Fix IRB deprecation warning on tab-completion on Ruby <= 2.5:
  activesupport/lib/active_support/deprecation/proxy_wrappers.rb
Labels: activesupport

#37774 Fix connection pools not shared between writer -> replica during tests:
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/fixtures_test.rb
Labels: activerecord

#37756 Eager load translations during initialization
  Gemfile.lock
  activesupport/activesupport.gemspec
  activesupport/lib/active_support/i18n_railtie.rb
Labels: activesupport

#37617 Modify respond_to behaviour always setting the response's content type based on the request format
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/mime_responds.rb
  actionpack/test/controller/mime/respond_to_test.rb
  guides/source/upgrading_ruby_on_rails.md
Labels: actionpack, docs

#37746 Add :namespace option to generator `route` action
  railties/lib/rails/generators/actions.rb
  railties/lib/rails/generators/rails/controller/controller_generator.rb
  railties/lib/rails/generators/rails/resource_route/resource_route_generator.rb
  railties/test/generators/actions_test.rb
Labels: railties

#37784 PostgreSQL: Make detection of invalid plan locale-independent
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#37788 Update to listen 3.2
  Gemfile
  Gemfile.lock
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: docs, railties

#37789 fix(test): only test reaper with fork when fork is available
  activerecord/test/cases/reaper_test.rb
Labels: activerecord

#37795 Fix actions order in the comment
  activestorage/app/models/active_storage/blob.rb
Labels: activestorage

#37778 Prevent generating tests with non-existent routes
  railties/lib/rails/generators/test_unit/controller/controller_generator.rb
  railties/lib/rails/generators/test_unit/controller/templates/functional_test.rb.tt
  railties/test/generators/controller_generator_test.rb
Labels: railties

#37799 Fix making an extra db file after testing for sqlite3
  activerecord/test/cases/connection_adapters/connection_handlers_multi_pool_config_test.rb
Labels: activerecord

#37806 6-0 backport: Change execute_batch to take array of statements
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
Labels: activerecord

#31872 Add :jitter to :exponentially_longer
  activejob/CHANGELOG.md
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
Labels: activejob

#37821 Bump RuboCop version to 0.77
  .rubocop.yml
  Gemfile.lock
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/table_metadata.rb
Labels: activerecord

#37822 Call `MonitorMixin` initializer before use methods provided by `MonitorMixin`
  actionpack/lib/action_controller/metal/live.rb
Labels: actionpack

#37826 Fix minor typo in pattern example for number_to_phone [ci skip]
  actionview/lib/action_view/helpers/number_helper.rb
Labels: actionview

#37842 Fix typo in "Options for render" section [ci skip]
  guides/source/layouts_and_rendering.md
Labels: docs

#37839 The return value of `ActiveSupport::Duration#inspect` is wrong when its parts are empty
  activesupport/lib/active_support/duration.rb
  activesupport/test/core_ext/duration_test.rb
Labels: activesupport
