Repository rails/rails, pull requests merged in 2020-03, with the labels that each got.

#38616 Fixed typo classsic -> classic [ci skip]
  guides/source/engines.md
Labels: docs

#38620 Add activerecord/db/ to gitignore
  activerecord/.gitignore
  activerecord/test/cases/adapters/sqlite3/transaction_test.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_pool_config_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_sharding_db_test.rb
  activerecord/test/cases/test_databases_test.rb
Labels: activerecord

#38628 Simplify route score
  actionpack/lib/action_dispatch/journey/route.rb
Labels: actionpack

#38576 Fix AJ wrong deprecation message on `after_callbacks_if_terminated`:
  actionpack/lib/action_controller/metal/instrumentation.rb
  activejob/lib/active_job/callbacks.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/lib/active_job/execution.rb
  activejob/lib/active_job/instrumentation.rb
  activejob/test/cases/callbacks_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/callbacks.rb
  activesupport/test/callbacks_test.rb
  guides/source/upgrading_ruby_on_rails.md
Labels: actionpack, activejob, activesupport, docs

#38635 Add support for que name to Que adapter.
  activejob/CHANGELOG.md
  activejob/lib/active_job/queue_adapters/que_adapter.rb
  activejob/test/integration/queuing_test.rb
  activejob/test/support/integration/adapters/que.rb
  activejob/test/support/que/inline.rb
Labels: activejob

#38636 Refactor invert predicate
  activerecord/lib/active_record/relation/where_clause.rb
  activerecord/lib/arel/nodes/equality.rb
  activerecord/lib/arel/nodes/in.rb
  activerecord/lib/arel/nodes/node.rb
  activerecord/test/cases/relation/where_clause_test.rb
Labels: activerecord

#38634 Fixed Active Storage Overview guide containing XSS vulnerability
  guides/source/active_storage_overview.md
Labels: docs

#38624 [guides] Update missing translation example
  guides/source/i18n.md
Labels: docs

#38640 Deduplicate Module#module_parent_name cache
  activesupport/lib/active_support/core_ext/module/introspection.rb
Labels: activesupport

#38642 Properly close a tag to avoid errors with some ruby versions
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
Labels: railties

#38631 Allow `rails new . --master` to point to master branch
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/plugin/templates/%name%.gemspec.tt
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
Labels: railties

#38644 Remove unused space from disk controller of activestorage
  activestorage/app/controllers/active_storage/disk_controller.rb
Labels: activestorage

#38641 refactor: Refactored code in functions of query_methods.
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#38646 Use index_by and index_with wherever possible
  actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb
  actionview/test/template/form_options_helper_test.rb
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/insert_all.rb
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/arel/support/fake_record.rb
  activerecord/test/cases/attribute_methods/read_test.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/counter_cache_test.rb
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/current_attributes.rb
  activesupport/lib/active_support/testing/assertions.rb
  railties/lib/rails/generators.rb
Labels: actionview, activerecord, activesupport, railties

#38545 Randomize jitter
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
Labels: activejob

#37808 Use optimized subclass of StringInquirer for Rails.env
  activesupport/lib/active_support/core_ext/string/inquiry.rb
  activesupport/lib/active_support/environment_inquirer.rb
  railties/lib/rails.rb
Labels: activesupport, railties, stale

#38658 Refactor for_each(databases) code
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
Labels: activerecord

#38665 Add tests for --master app_generator
  railties/test/generators/app_generator_test.rb
Labels: railties

#38670 Remove unnecessary creation of new hash config
  activerecord/lib/active_record/database_configurations.rb
Labels: activerecord

#38672 Remove owner_name
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/database_configurations.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  activerecord/test/cases/database_configurations/resolver_test.rb
Labels: activerecord

#38375 Add method ActionCable::Channel#stream_or_reject_for to stream if record is present, otherwise reject the connection
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/channel/streams.rb
  actioncable/test/channel/stream_test.rb
Labels: actioncable

#38675 Update to listen 3.2
  Gemfile
  Gemfile.lock
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: docs, railties

#38684 Refactor schema migration on connection
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/multi_db_migrator_test.rb
  railties/test/application/loading_test.rb
  railties/test/application/zeitwerk_integration_test.rb
Labels: activerecord, railties

#38662 Stop recommending RailsInstaller in favor of RubyInstaller
  guides/source/getting_started.md
Labels: docs

#38677 Clarify index_by and index_with docs [ci skip]
  activesupport/lib/active_support/core_ext/enumerable.rb
Labels: activesupport

#38682 Support creating variants of `webp` images out of the box
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/engine.rb
  guides/source/configuring.md
Labels: activestorage, docs

#38694 Fix exceptions raised/rescued in dev by IPAddr
  railties/lib/rails/application/configuration.rb
Labels: railties

#38693 [skip ci] How to run Action View and Action Pack unit test in serial
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#38686 AJ `perform_enqueued_jobs` shouldn't perform job retries:
  activejob/CHANGELOG.md
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/test_helper_test.rb
  activejob/test/jobs/raising_job.rb
Labels: activejob

#38702 Updates to ActiveJob::Exceptions.retry_on with jitter documentation [skip ci]
  activejob/CHANGELOG.md
  activejob/lib/active_job/exceptions.rb
Labels: activejob

#38710 Removed unnecessary require 'core_ext/numeric/time'.
  activesupport/lib/active_support/core_ext/integer/time.rb
Labels: activesupport

#38690 Disable colorize logging of SQL and reduce unnecessary invocation of sql_color matching
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/test/cases/log_subscriber_test.rb
Labels: activerecord

#38701 Include rack-mini-profiler gem by default
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#38712 Rails::Command.invoke wants kwargs, so give it kwargs
  railties/lib/rails/generators/actions.rb
Labels: railties

#38676 Correct the parameter name for deserialize
  activejob/lib/active_job/serializers/object_serializer.rb
Labels: activejob

#38689 refactor: arel fetch_attribute to get the atrribute node from binary module.
  activerecord/lib/arel.rb
  activerecord/lib/arel/nodes/binary.rb
Labels: activerecord

#38595 Update code snippets to suggest the use of strong parameters
  guides/source/action_controller_overview.md
Labels: docs

#38713 Extract building ActiveRecord::Result into a method
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
Labels: activerecord

#38708 Fix variable not initialized warnings
  activesupport/test/concern_test.rb
Labels: activesupport

#38718 Fix warning: method redefined
  activejob/test/support/delayed_job/delayed/backend/test.rb
Labels: activejob

#38720 Remove convenience class alias
  activerecord/lib/arel.rb
  activerecord/test/cases/arel/nodes/node_test.rb
Labels: activerecord

#38719 Refactor fetch_attribute
  activerecord/lib/arel.rb
  activerecord/lib/arel/nodes/binary.rb
  activerecord/lib/arel/nodes/equality.rb
  activerecord/lib/arel/nodes/grouping.rb
  activerecord/lib/arel/nodes/node.rb
  activerecord/lib/arel/nodes/sql_literal.rb
Labels: activerecord

#38656 Add documentation for component support
  actionpack/lib/action_controller/renderer.rb
  actionpack/test/controller/renderer_test.rb
  actionpack/test/lib/test_component.rb
  actionview/lib/action_view/helpers/rendering_helper.rb
  actionview/test/lib/test_component.rb
  actionview/test/template/render_test.rb
  guides/source/layouts_and_rendering.md
Labels: actionpack, actionview, docs

#38495 Isolate ARGV in Rails::Command.invoke
  railties/lib/rails/command.rb
  railties/lib/rails/commands/db/system/change/change_command.rb
  railties/lib/rails/commands/test/test_command.rb
  railties/lib/rails/generators.rb
  railties/test/application/generators_test.rb
  railties/test/command/base_test.rb
Labels: railties

#38625 `expires_in` `extras` documentation
  actionpack/lib/action_controller/metal/conditional_get.rb
Labels: actionpack

#38743 [ImgBot] Optimize images
  guides/assets/images/association_basics/belongs_to.png
  guides/assets/images/association_basics/habtm.png
  guides/assets/images/association_basics/has_many.png
  guides/assets/images/association_basics/has_many_through.png
  guides/assets/images/association_basics/has_one.png
  guides/assets/images/association_basics/has_one_through.png
  guides/assets/images/association_basics/polymorphic.png
  guides/assets/images/getting_started/template_is_missing_articles_new.png
  guides/assets/images/getting_started/unknown_action_create_for_articles.png
  guides/assets/images/rails_guides_logo.gif
Labels: actionmailbox, actionmailer, actionpack, actiontext, activestorage, docs

#38735 Quotation mark for gems with options in Gemfile template:
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#38728 Add options examples to find_in_batches method
  guides/source/active_record_querying.md
Labels: docs

#38747 Unlock `azure-storage-blob` version to use version 2.0
  Gemfile.lock
  activestorage/lib/active_storage/service/azure_storage_service.rb
Labels: activestorage

#30074 Race condition when using ActionController::Live and `head :{status_code}`.
  actionpack/lib/action_controller/metal/head.rb
  actionpack/test/controller/render_test.rb
Labels: actionpack, stale

#38752 Update autosave_association.rb
  activerecord/lib/active_record/autosave_association.rb
Labels: activerecord

#38756 Tiny doc fix in .validates
  activemodel/lib/active_model/validations/validates.rb
Labels: activemodel

#38737 Raise error when non-existent enum used in query
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#37628 Support cookie migration in distributed settings.
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/test/dispatch/cookies_test.rb
Labels: actionpack

#29333 Deprecate committing a transaction exited with return or throw
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#38760 Add Enumerable#pick
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/calculations_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/test/core_ext/enumerable_test.rb
  guides/source/active_support_core_extensions.md
Labels: activerecord, activesupport, docs

#38766 Remove extra loop in view_assigns
  actionpack/lib/abstract_controller/rendering.rb
Labels: actionpack

#37951 Action Text: Add method to confirm rich text content existence by adding ? after content name
  actiontext/CHANGELOG.md
  actiontext/lib/action_text/attribute.rb
  actiontext/test/unit/model_test.rb
Labels: actiontext

#38769 Use array subtraction to compute variables of interest in view_assigns
  actionpack/lib/abstract_controller/rendering.rb
Labels: actionpack

#38770 Handle db:rollback and db:rollback:[NAME] for multi-db apps
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#38749 Perform enqueued jobs only once
  activejob/CHANGELOG.md
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/test_helper_test.rb
Labels: activejob

#38772 fix StiAutoloading example code
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#37625 Add predicate methods for previous and next day checks
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/date_and_time/calculations.rb
  activesupport/lib/active_support/time_with_zone.rb
  activesupport/test/core_ext/date_time_ext_test.rb
  activesupport/test/core_ext/time_ext_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  guides/source/active_support_core_extensions.md
Labels: activesupport, docs

#34917 Allow intercepting exceptions that are raised in ActionCable command
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/connection/base.rb
  actioncable/lib/action_cable/connection/subscriptions.rb
  actioncable/test/connection/subscriptions_test.rb
  guides/source/action_cable_overview.md
Labels: actioncable, docs

#38778 Simplify renderer normalize keys
  actionpack/lib/action_controller/renderer.rb
Labels: actionpack

#38781 Fix `rescue_from` documentation in Action Cable Overview guide [ci skip]
  guides/source/action_cable_overview.md
Labels: docs

#38784 Fix a typo in AbsenceValidator
  activemodel/lib/active_model/validations/absence.rb
Labels: activemodel

#38783 Fix typo in test name
  activerecord/test/cases/associations/callbacks_test.rb
Labels: activerecord

#38774 Update doc for #pluck to use non-deprecated syntax
  activerecord/lib/active_record/relation/calculations.rb
Labels: activerecord

#38763 fix issue 38716 insert_all enum values by correctly type casting the …
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/insert_all.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#38785 Sanitize and add missing docs on `ActiveJob::QueueAdapters` class. [ci skip]
  activejob/lib/active_job/queue_adapters.rb
Labels: activejob

#38736 [WIP] Update TZInfo to 2
  activesupport/lib/active_support/values/time_zone.rb
  activesupport/test/time_zone_test.rb
Labels: activesupport

#37946 Removed unnecessary words from Getting Started docs
  guides/source/getting_started.md
Labels: docs

#38796 [Guides] Remove unused fixes.css
  guides/assets/stylesheets/fixes.css
  guides/source/layout.html.erb
Labels: docs

#38797 [Guides] line-height should be unitless
  guides/assets/stylesheets/main.css
  guides/assets/stylesheets/main.rtl.css
Labels: docs

#38782 Fix confusing wording in Asset Pipeline guide [ci skip]
  guides/source/asset_pipeline.md
Labels: docs

#38594 Refactoring PartialRenderer
  actionview/lib/action_view.rb
  actionview/lib/action_view/renderer/abstract_renderer.rb
  actionview/lib/action_view/renderer/collection_renderer.rb
  actionview/lib/action_view/renderer/object_renderer.rb
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb
  actionview/lib/action_view/renderer/renderer.rb
  actionview/test/activerecord/multifetch_cache_test.rb
  actionview/test/template/partial_iteration_test.rb
  actionview/test/template/render_test.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/railties/collection_cache_association_loading.rb
Labels: actionview, activerecord

#38738 Add X-Original-To to mail using Mailgun recipient
  actionmailbox/CHANGELOG.md
  actionmailbox/app/controllers/action_mailbox/ingresses/mailgun/inbound_emails_controller.rb
  actionmailbox/test/controllers/ingresses/mailgun/inbound_emails_controller_test.rb
Labels: actionmailbox

#30590 Support order DESC for find_each, find_in_batches and in_batches
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/batches.rb
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#38810 Restore the `lookup_store` compatibility to accept config as a single object
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/cache_store_setting_test.rb
Labels: activesupport

#38812 Adds default message for :only_integer validation
  guides/source/active_record_validations.md
Labels: docs

#38814 Handle paths with trailing slashes in rails test
  railties/CHANGELOG.md
  railties/lib/rails/test_unit/runner.rb
  railties/test/application/test_runner_test.rb
Labels: railties

#38827 [ci skip] Fix API documentation for link_to_if
  actionview/lib/action_view/helpers/url_helper.rb
Labels: actionview

#36276 Introduce previously_new_record? on ActiveRecord::Base
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/clone_test.rb
  activerecord/test/cases/dup_test.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#38839 fix grammar - ci skip
  guides/source/active_job_basics.md
Labels: docs

#18496 Accept and default to base64_urlsafe CSRF tokens.
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/test/controller/request_forgery_protection_test.rb
Labels: actionpack

#35526 added instructions how to release rails a plugin (gem)
  guides/source/plugins.md
Labels: docs

#31882 Fix invalid byte sequence error without `en_US.UTF-8` environment while rake guides:generate:html
  guides/Rakefile
Labels: docs

#38837 Align `Range#cover?` extension behavior with plain Ruby behavior for "backwards" ranges
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/range/compare_range.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport

#38851 Add an example how to change column in "change_table" block
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
Labels: activerecord

#38852 Remove example of `ActionController::UrlRewriter`
  guides/source/active_support_core_extensions.md
Labels: docs

#38848 .annotate_template_file_names annotates HTML output with template names
  actionmailbox/test/dummy/config/environments/development.rb
  actionmailbox/test/dummy/config/environments/test.rb
  actiontext/test/dummy/config/environments/development.rb
  actiontext/test/dummy/config/environments/test.rb
  actionview/CHANGELOG.md
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/template/handlers/erb.rb
  actionview/lib/action_view/template/handlers/erb/erubi.rb
  actionview/test/actionpack/controller/render_test.rb
  activestorage/test/dummy/config/environments/development.rb
  activestorage/test/dummy/config/environments/test.rb
Labels: actionmailbox, actiontext, actionview, activestorage

#37885 Document working with association and checkboxes in a form
  guides/source/form_helpers.md
Labels: docs

#38850 Allow logs to be tagged without a block
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/tagged_logging.rb
  activesupport/test/tagged_logging_test.rb
Labels: activesupport

#38849 Add a way to deliver inbound emails by source
  actionmailbox/CHANGELOG.md
  actionmailbox/app/controllers/rails/conductor/action_mailbox/inbound_emails/sources_controller.rb
  actionmailbox/app/views/rails/conductor/action_mailbox/inbound_emails/index.html.erb
  actionmailbox/app/views/rails/conductor/action_mailbox/inbound_emails/sources/new.html.erb
  actionmailbox/config/routes.rb
  railties/test/application/rake/routes_test.rb
  railties/test/commands/routes_test.rb
Labels: actionmailbox, railties
