Repository rails/rails, pull requests merged in 2020-09, with the labels that each got.

#40148 Translate Mysql2 errors in Mysql2Adapter#quote_string
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/test/cases/adapters/mysql2/connection_test.rb
Labels: activerecord

#40151 Should not accidentally return decorated time object after `changes_applied`
  activerecord/lib/active_record/type/time.rb
  activerecord/test/cases/type/time_test.rb
Labels: activerecord

#40152 Raise ConnectionNotEstablished rather than StatementInvalid in Mysql2Adapter#quote_string
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/mysql2/connection_test.rb
  activerecord/test/cases/disconnected_test.rb
Labels: activerecord

#40115 be able to edit the initial value of the editor
  actiontext/CHANGELOG.md
  actiontext/app/helpers/action_text/tag_helper.rb
  actiontext/test/template/form_helper_test.rb
Labels: actiontext

#40158 Revert "Raise ConnectionNotEstablished rather than StatementInvalid in Mysql2Adapter#quote_string"
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/mysql2/connection_test.rb
  activerecord/test/cases/disconnected_test.rb
Labels: activerecord

#40160 Use real_mod_name on check for removed module in classic autoloader
  activesupport/lib/active_support/dependencies.rb
Labels: activesupport

#40162 Don't override module name on AV::Base subclass
  actionview/lib/action_view/base.rb
Labels: actionview

#40163 Fix strange sentence in classic_mode guide [skip ci]
  guides/source/autoloading_and_reloading_constants_classic_mode.md
Labels: docs

#40169 Default db_config should be primary or first
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  guides/source/active_record_multiple_databases.md
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, docs, railties

#40129 Clarify that exists? and find look in the table, not the unsaved collection
  guides/source/association_basics.md
Labels: docs

#40167 Allow extra client config options forAzureStorage
  activestorage/lib/active_storage/service/azure_storage_service.rb
Labels: activestorage

#40159 Prefer bin/rails for the credentials command
  railties/lib/rails/commands/credentials/credentials_command.rb
Labels: railties

#40175 Avoid setting `ActiveRecord::Base.configurations` twice in db rake ta…
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/railties/databases.rake
Labels: activerecord

#40178 Raise error when `from` is used with `delete_all`.
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relation/delete_all_test.rb
Labels: activerecord

#40101 Disconnect connections used for acquiring advisory lock in migration.
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#40171 Reduce allocations in expanded_version and expanded_key
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#40172 Shorten inspect on AbstractController::Base
  actionpack/lib/abstract_controller/base.rb
  actionpack/test/controller/base_test.rb
  actionpack/test/controller/metal_test.rb
Labels: actionpack

#40173 Shorten inspect on ActionDispatch::Request
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/test/dispatch/request_test.rb
Labels: actionpack

#40177 Support reversing of Arel expressions in reverse_order, last etc.
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#37971 Add explain to abstract database statements.
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
Labels: activerecord

#40190 Load Rails tasks for each new Rake::Application
  railties/lib/rails/application.rb
  railties/test/application/rake_test.rb
Labels: railties

#40189 Fix for signed_id to work with STI. ref #40187
  activerecord/lib/active_record/signed_id.rb
  activerecord/test/cases/signed_id_test.rb
Labels: activerecord

#40198 Anchor BacktraceCleaner gem filter regexp
  activesupport/lib/active_support/backtrace_cleaner.rb
  activesupport/test/clean_backtrace_test.rb
Labels: activesupport

#40192 Add support for `NOT VALID` check constraints in PostgreSQL
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/migration/check_constraint_test.rb
Labels: activerecord

#40194 Properly support `reverse_order` on relations with `nulls_first` or `nulls_last` calls
  activerecord/lib/arel/nodes/ordering.rb
  activerecord/test/cases/arel/visitors/postgres_test.rb
Labels: activerecord

#40125 Use a unique controller class per ActionView::TestCase
  actionpack/lib/action_controller/metal.rb
  actionview/lib/action_view/test_case.rb
  actionview/test/template/test_case_test.rb
Labels: actionpack, actionview

#40202 Revert #40178
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relation/delete_all_test.rb
Labels: activerecord

#40186 Rename Error#detail method as details
  activemodel/lib/active_model/error.rb
  activemodel/lib/active_model/errors.rb
  activemodel/test/cases/error_test.rb
Labels: activemodel

#40221 Fix ActiveStorage public_url documentation [ci skip]
  activestorage/lib/active_storage/service.rb
Labels: activestorage

#40225 Remove unused @cache_hit Hash assignment
  actionview/lib/action_view/base.rb
Labels: actionview

#40212 Translate Mysql2 errors in Mysql2Adapter#quote_string (take 2)
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/mysql2/connection_test.rb
  activerecord/test/cases/disconnected_test.rb
Labels: activerecord

#40219 Ensure `connects_to` can only be called on base or abstract classes
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_sharding_db_test.rb
Labels: activerecord

#40231 Use indentity hashes in Journey::GTG::Builder
  actionpack/lib/action_dispatch/journey/gtg/builder.rb
Labels: actionpack

#39989 Improve Action View `translate` helper
  actionview/lib/action_view/helpers/translation_helper.rb
  actionview/test/template/translation_helper_test.rb
Labels: actionview

#40209 Update translation efforts Spanish link.
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#40241 Make `role` required when using `shard` in `connected_to`
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handlers_sharding_db_test.rb
  guides/source/active_record_multiple_databases.md
Labels: activerecord, docs

#40250 Use `IPAddr#prefix` for postgres cidr type
  activerecord/lib/active_record/connection_adapters/postgresql/oid/cidr.rb
Labels: activerecord

#40253 Remove obsolete comment [skip ci]
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
Labels: actionpack

#40258 Remove editorializing in ActionCable guide
  guides/source/action_cable_overview.md
Labels: docs

#40235 move ActiveRecord::Persistence#becomes logic into initialize block
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/inheritance_test.rb
  activerecord/test/models/vegetables.rb
Labels: activerecord

#40260 Using write with unless_exist + expires_in should unlock after the gi…
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#40261 Model#find with hash should not raise NoMethodError
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#40267 Eliminate `fixture_file_upload` related deprecation warnings in actionmailbox/test
  actionmailbox/test/controllers/rails/action_mailbox/inbound_emails_controller_test.rb
Labels: actionmailbox

#40124 Catch invalid UTF-8 encodings on ActionDispatch::Http::Request#POST
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/parameters.rb
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/request/utils.rb
  actionpack/test/dispatch/request/multipart_params_parsing_test.rb
  actionpack/test/dispatch/request_test.rb
Labels: actionpack

#39027 Database tasks can SKIP_TEST_DATABASE with environment variable
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#40244 Use method_defined? if possible in define_non_cyclic_method
  activerecord/lib/active_record/autosave_association.rb
Labels: activerecord

#40226 Set default variant format from blob content type
  Gemfile.lock
  activestorage/activestorage.gemspec
  activestorage/app/models/active_storage/blob.rb
  activestorage/app/models/active_storage/blob/representable.rb
  activestorage/app/models/active_storage/variant.rb
  activestorage/app/models/active_storage/variant_with_record.rb
  activestorage/app/models/active_storage/variation.rb
  activestorage/test/models/variant_test.rb
Labels: activestorage

#40271 Fixes tests in master
  railties/test/application/configuration_test.rb
Labels: railties

#40265 Uncomments bin/yarn in bin/setup for webpacker
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
  railties/test/application/bin_setup_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#39766 Add Concerns section in Refactoring portion of Getting Started guide
  guides/source/getting_started.md
Labels: docs

#40275 Add a note about PR approvals [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#40276 Fix formatting error in concerns doc
  guides/source/getting_started.md
Labels: docs

#40278 Create a gitattributes file for templated apps
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/gitattributes.tt
  railties/test/commands/credentials_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#40213 Add an ActiveSupport option to allow setting a digest class
  activesupport/lib/active_support/railtie.rb
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: activesupport, docs, railties

#40279 Removes the unnecessary require from active_job/logging
  activejob/lib/active_job/log_subscriber.rb
  activejob/lib/active_job/logging.rb
Labels: activejob

#40240 Provide `ActiveSupport::Subscriber.attach_to` with inherit_all option
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/lib/active_support/subscriber.rb
  activesupport/test/subscriber_test.rb
Labels: activesupport

#39320 Set i18n_key defined on class or default to name
  activemodel/lib/active_model/naming.rb
  activemodel/test/cases/naming_test.rb
Labels: activemodel

#40281 rexml is no longer default gem in Ruby 3.0
  Gemfile
  Gemfile.lock
  activesupport/activesupport.gemspec
Labels: activesupport

#40280 Try calling clock_gettime rather than testing the platform
  activesupport/lib/active_support/notifications/instrumenter.rb
Labels: activesupport

#39661 Make the test AppGeneratorTest#test_new_application_load_defaults faster
  railties/test/application/configuration_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#39254 Refactor uncastable through reflection test to detect join key overrides
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/reflection_test.rb
Labels: activerecord

#40284 Satisfy Rubocop
  activesupport/lib/active_support/xml_mini/rexml.rb
Labels: activesupport

#39554 Improve error when EncryptedFile key length wrong
  activesupport/lib/active_support/encrypted_file.rb
  activesupport/test/encrypted_file_test.rb
Labels: activesupport

#40157 Offer dependent: :destroy_async for associations
  activejob/lib/active_job/railtie.rb
  activerecord/CHANGELOG.md
  activerecord/Rakefile
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/lib/active_record/associations/builder/association.rb
  activerecord/lib/active_record/associations/builder/belongs_to.rb
  activerecord/lib/active_record/associations/builder/has_many.rb
  activerecord/lib/active_record/associations/builder/has_one.rb
  activerecord/lib/active_record/associations/has_many_association.rb
  activerecord/lib/active_record/associations/has_one_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/destroy_association_async_job.rb
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/activejob/destroy_association_async_test.rb
  activerecord/test/activejob/destroy_async_job_not_present_test.rb
  activerecord/test/activejob/helper.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/models/book_destroy_async.rb
  activerecord/test/models/destroy_async_parent.rb
  activerecord/test/models/destroy_async_parent_soft_delete.rb
  activerecord/test/models/dl_keyed_belongs_to.rb
  activerecord/test/models/dl_keyed_belongs_to_soft_delete.rb
  activerecord/test/models/dl_keyed_has_many.rb
  activerecord/test/models/dl_keyed_has_many_through.rb
  activerecord/test/models/dl_keyed_has_one.rb
  activerecord/test/models/dl_keyed_join.rb
  activerecord/test/models/essay_destroy_async.rb
  activerecord/test/schema/schema.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: activejob, activerecord

#40290 Fix intermittent NameError: uninitialized constant ActiveStorage::Blob::Representable::MimeMagic
  activestorage/app/models/active_storage/blob/representable.rb
  activestorage/app/models/active_storage/variation.rb
Labels: activestorage

#40291 Revert "Refactor uncastable through reflection test to detect join key overrides"
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/models/dashboard.rb
  activerecord/test/models/subscriber.rb
  activerecord/test/models/subscription.rb
Labels: activerecord

#40292 `Hash#extract!`: Clarify its docs and assert remaining value in `test_extract_nils`
  activesupport/lib/active_support/core_ext/hash/slice.rb
  activesupport/test/core_ext/hash_ext_test.rb
Labels: activesupport

#40297 Fix when duplicate params are accumulated
  guides/source/form_helpers.md
Labels: docs

#39700 Replace space/hyphen in enum scope names
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#40294 ActiveStorage is now environment-aware
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/engine.rb
  guides/source/active_storage_overview.md
Labels: activestorage, docs

#40309 Adapt docs to recent config.log_level changes [ci skip]
  guides/source/configuring.md
Labels: docs
