Repository rails/rails, pull requests merged in 2020-02, with the labels that each got.

#38366 Correct test helpers paths in test guides
  guides/source/testing.md
Labels: docs

#38378 Fix the environment.rb file path in the benchmark generator template
  railties/lib/rails/generators/rails/benchmark/templates/benchmark.rb.tt
  railties/test/generators/benchmark_generator_test.rb
Labels: railties

#38381 Update "Eagerly Requiring Helpers" section in testing docs [ci skip]
  guides/source/testing.md
Labels: docs

#38384 Change all "can not"s to the correct "cannot"
  activerecord/lib/active_record/associations/preloader/association.rb
  activesupport/lib/active_support/inflector/transliterate.rb
  activesupport/test/transliterate_test.rb
Labels: activerecord, activesupport

#38383 Add a fallback database config when loading schema cache
  activerecord/lib/active_record/railtie.rb
Labels: activerecord

#37585 Add support for partitioned indexes in PostgreSQL 11+
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/insert_all_test.rb
  activerecord/test/models/measurement.rb
  activerecord/test/schema/postgresql_specific_schema.rb
Labels: activerecord

#38400 Fix grammar and diction of NOR conditions warning message
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_test.rb
Labels: activerecord

#38398 Clarify passing an array as a cookie's domain
  actionpack/lib/action_dispatch/middleware/cookies.rb
Labels: actionpack

#38408 Update upgrading_ruby_on_rails file to add missing grave accent
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#38413 allow parameter delimiter without space
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionpack/test/dispatch/mime_type_test.rb
Labels: actionpack

#38409 Remove redundant .gitignore entries
  actionmailbox/.gitignore
  actiontext/.gitignore
  activestorage/.gitignore
  railties/lib/rails/generators/rails/app/templates/gitignore.tt
  railties/lib/rails/generators/rails/plugin/templates/gitignore.tt
Labels: actionmailbox, actiontext, activestorage, railties

#38345 Default HSTS max-age directive to 2 years
  actionpack/lib/action_dispatch/middleware/ssl.rb
  actionpack/test/dispatch/ssl_test.rb
Labels: actionpack

#38410 Deobfuscate Rake version error in generated plugin
  railties/lib/rails/generators/rails/plugin/templates/Rakefile.tt
Labels: railties

#38396 Initialize Git when generating plugins
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#37974 Remove SameSite=None restrictions for Rack 2.1.0
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/test/dispatch/cookies_test.rb
Labels: actionpack

#38421 Anchor generated plugin .gitgnore entries
  railties/lib/rails/generators/rails/plugin/templates/gitignore.tt
Labels: railties

#37516 Avoid shelling out for generator `generate` action
  railties/lib/rails/generators/actions.rb
  railties/test/generators/actions_test.rb
Labels: railties

#38422 Fix wrong spec asserting headers maintain original definition
  actionpack/test/dispatch/ssl_test.rb
Labels: actionpack

#37988 Add ActionMailbox install generator
  actionmailbox/lib/generators/action_mailbox/install/install_generator.rb
  actionmailbox/lib/rails/generators/installer.rb
  actionmailbox/lib/tasks/install.rake
  railties/lib/rails/generators.rb
Labels: actionmailbox, railties

#37686 More steps on contributing to Rails [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs, stale

#38428 Cast `ConfigurationFile#content_path` to a string:
  activesupport/lib/active_support/configuration_file.rb
  activesupport/test/configuration_file_test.rb
Labels: activesupport

#38429 Use rails_command :inline option
  actiontext/lib/generators/action_text/install/install_generator.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
Labels: actiontext, railties

#38430 ActiveRecord::Querying-find_by_sql-documentation-fix
  activerecord/lib/active_record/querying.rb
Labels: activerecord

#38434 Add tmp/ to generated plugin .gitignore
  railties/lib/rails/generators/rails/plugin/templates/gitignore.tt
Labels: railties

#38433 Use correct fallback in schema cache initializer
  activerecord/lib/active_record/railtie.rb
Labels: activerecord

#38435 Improve i18n reloader to only reload once
  activesupport/lib/active_support/i18n_railtie.rb
Labels: activesupport

#38425 Fix load_additional_types handling of large OIDs
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#38437 `OID` type should accept a value range of unsigned integers
  activerecord/lib/active_record/connection_adapters/postgresql/oid/oid.rb
  activerecord/test/cases/adapters/postgresql/datatype_test.rb
Labels: activerecord

#38393 Fix ActiveJob Test adapter not respecting retry attempts:
  activejob/lib/active_job/queue_adapters/test_adapter.rb
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/test_helper_test.rb
  activejob/test/jobs/raising_job.rb
Labels: activejob

#38438 Registered predicate handler should be used for association queries
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/table_metadata.rb
  activerecord/test/cases/relation/predicate_builder_test.rb
Labels: activerecord

#38444 Add schema cache tests
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: railties

#37729 Respect config.log_level in console
  activerecord/lib/active_record/railtie.rb
Labels: activerecord

#38442 scaffold_controller: Include the routes when create a generator Controller
  railties/lib/rails/generators/rails/scaffold_controller/scaffold_controller_generator.rb
  railties/test/generators/scaffold_controller_generator_test.rb
Labels: railties

#38432 Expose Marshal as a legit SchemaCache serialization strategy
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
Labels: activerecord

#38448 Fix URL after repo got moved to libvips Github organization
  activestorage/app/models/active_storage/variant.rb
Labels: activestorage

#38441 Grammar update
  actioncable/app/javascript/action_cable/consumer.js
  actioncable/lib/action_cable/channel/base.rb
  actioncable/lib/action_cable/channel/test_case.rb
  actioncable/lib/action_cable/connection/test_case.rb
  actioncable/lib/action_cable/server/base.rb
  actioncable/test/connection/base_test.rb
  actionmailbox/test/dummy/bin/setup
  actionmailer/lib/action_mailer/base.rb
  actiontext/test/dummy/bin/setup
  actionview/app/assets/javascripts/rails-ujs/utils/ajax.coffee
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/helpers/asset_url_helper.rb
  actionview/lib/action_view/renderer/abstract_renderer.rb
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/lib/action_view/rendering.rb
  actionview/test/ujs/public/test/data-remote.js
  activemodel/lib/active_model/validator.rb
  guides/source/5_1_release_notes.md
  guides/source/action_cable_overview.md
  guides/source/active_record_multiple_databases.md
  guides/source/active_record_postgresql.md
  guides/source/contributing_to_ruby_on_rails.md
  guides/source/development_dependencies_install.md
  guides/source/getting_started.md
  guides/source/security.md
  railties/lib/rails/application.rb
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
  railties/lib/rails/generators/test_case.rb
Labels: actioncable, actionmailbox, actionmailer, actiontext, actionview, activemodel, docs, rails-ujs, railties

#38401 Do not stringify attributes in assign_attributes
  activemodel/lib/active_model/attribute_assignment.rb
  activemodel/test/cases/attribute_assignment_test.rb
  activerecord/lib/active_record/attribute_assignment.rb
  activerecord/test/support/stubs/strong_parameters.rb
Labels: activemodel, activerecord

#38457 Remove unused event_object_subscriber method
  activesupport/lib/active_support/notifications/fanout.rb
Labels: activesupport

#38462 Prepend class methods of prepended concerns
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/concern.rb
  activesupport/test/concern_test.rb
Labels: activesupport

#38464 Reduce allocation in expand cache key
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#38468 Fix ConfigurationFile check for non-breaking space
  activesupport/lib/active_support/configuration_file.rb
Labels: activesupport

#38467 Update examples's Migration versions to 6.0
  activerecord/README.rdoc
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/model_schema.rb
Labels: activerecord

#38472 Delete .ruby-version in generated plugin dummy app
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#38463 Fix `rails new --dev`
  railties/lib/rails/commands/generate/generate_command.rb
  railties/lib/rails/commands/rake/rake_command.rb
  railties/lib/rails/generators/actions.rb
Labels: railties

#38473 Copy argument in AttributeAssignment#attributes=
  activerecord/lib/active_record/attribute_assignment.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#38506 Count TypeScript files as JavaScript in `rails stats`
  railties/CHANGELOG.md
  railties/lib/rails/code_statistics.rb
Labels: railties

#38477 Add Webpacker dependencies to the getting started guide
  guides/source/getting_started.md
Labels: docs

#37400 Add `strict_loading` mode to optionally prevent lazy loading
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/associations/join_dependency.rb
  activerecord/lib/active_record/associations/join_dependency/join_association.rb
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/mutation_test.rb
  activerecord/test/cases/strict_loading_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#38533 Remove validations from example components
  actionpack/test/lib/test_component.rb
  actionview/test/lib/test_component.rb
  actionview/test/template/render_test.rb
Labels: actionpack, actionview

#38394 Fix: on accessing the parent record before creation with has_many_inv…
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/nested_attributes.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
Labels: activerecord

#38539 Enable HashTransformKeys and HashTransformValues cops
  .rubocop.yml
  actionmailer/lib/action_mailer/base.rb
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/lib/action_dispatch/request/session.rb
  actionpack/lib/action_dispatch/request/utils.rb
  actionview/lib/action_view/helpers/number_helper.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
Labels: actionmailer, actionpack, actionview, activerecord

#38529 Use Mailgun Signing key instead of API Key
  actionmailbox/CHANGELOG.md
  actionmailbox/app/controllers/action_mailbox/ingresses/mailgun/inbound_emails_controller.rb
  actionmailbox/test/controllers/ingresses/mailgun/inbound_emails_controller_test.rb
  guides/source/action_mailbox_basics.md
Labels: actionmailbox, docs

#38542 Avoid implying that `#results` selector will only match a `div` element in the Working with JavaScript guide
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#38541 Support strict_loading on association declarations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/builder/association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/strict_loading_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#38524 [ci skip] Update Documentation: Add a code example and clarify docs
  actionpack/lib/action_controller/metal/helpers.rb
Labels: actionpack

#38553 Fix callbacks types documentation [ci skip]
  activerecord/lib/active_record/callbacks.rb
Labels: activerecord

#38554 Clarify and update ActiveRecord Callbacks documentation
  activerecord/lib/active_record/callbacks.rb
Labels: activerecord

#38449 Adds additional database-specific rake tasks for multi-database users
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  guides/source/active_record_multiple_databases.md
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, docs, railties

#38563 Update boolean attributes in actionview tag helper
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#38536 Deprecate `spec_name` and use `name` for configurations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/lib/rails/generators/active_record/migration.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/adapters/mysql2/connection_test.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/transaction_test.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  activerecord/test/cases/connection_pool_test.rb
  activerecord/test/cases/database_configurations_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/reaper_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activerecord/test/cases/test_databases_test.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/lib/rails/info.rb
  railties/test/application/initializers/frameworks_test.rb
  railties/test/application/initializers/hooks_test.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/application/test_runner_test.rb
Labels: activerecord, railties

#38531 Add support to `connected_to` and `connects_to` for horizontal sharding
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_sharding_db_test.rb
  guides/source/active_record_multiple_databases.md
Labels: activerecord, docs

#38564 Normalize resetting schema cache version for YAML and Marshal
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
Labels: activerecord

#38403 Update maintenance policy on security releases
  guides/source/maintenance_policy.md
Labels: docs

#38565 Use tempfile when writing schema cache
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
Labels: activerecord

#38566 Support gzip for the schema cache
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
Labels: activerecord

#38570 Eliminate a hash allocation when rendering templates
  activerecord/lib/active_record/railties/collection_cache_association_loading.rb
Labels: activerecord

#38568 Use type attribute in ActionView::Helpers::JavaScriptHelper#javascript_tag example
  actionview/lib/action_view/helpers/javascript_helper.rb
Labels: actionview

#38559 Update some references to finder options [ci skip]
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/relation/finder_methods.rb
Labels: activerecord, docs

#38569 Simplify fixture resolver
  actionview/lib/action_view/template/resolver.rb
  actionview/lib/action_view/testing/resolvers.rb
  actionview/test/template/lookup_context_test.rb
Labels: actionview

#38580 Disallow calling `connected_to` on subclasses of `ActiveRecord::Base`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#38581 Remove unused argument
  activerecord/lib/active_record/connection_handling.rb
Labels: activerecord

#38587 Resets the `ActiveRecord::Base` connection after `rails db:migrate:name`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#38583 Fix `unscope` when an `eq` node which has no arel attribute
  activerecord/lib/arel.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#38586 Dumps the schema or structure of a database when calling db:migrate:name
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#38590 [ci skip] Documentation: Use yml extension for locale files example
  guides/source/i18n.md
Labels: docs

#38602 Testing Guides: Added section on Parallell Testing of Transactions
  guides/source/testing.md
Labels: docs

#38610 [ci skip] Security guide: change raw HTML elements and signs to backquoted ones
  guides/source/security.md
Labels: docs

#38609 Fix error in deprecation
  activerecord/lib/active_record/database_configurations/database_config.rb
Labels: activerecord
