Repository rails/rails, pull requests merged in 2020-07, with the labels that each got.

#39759 Backward compatibility to work `Marshal.load(legacy_record.dump)` for MySQL
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/support/marshal_compatibility_fixtures/legacy_6_0_record_mysql.dump
Labels: activerecord

#39768 Refactor MemoryStore to use Hash ordering rather than key access times
  activesupport/lib/active_support/cache/memory_store.rb
Labels: activesupport

#39775 Use segment instead of fragment in docs [ci-skip]
  guides/source/routing.md
Labels: docs

#39688 Fix issue #39286 (about digesting in ActiveStorage)
  activestorage/app/controllers/active_storage/base_controller.rb
Labels: activestorage

#39613 Support `where` with comparison operators (`>`, `>=`, `<`, and `<=`)
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/test/cases/date_time_precision_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
  activerecord/test/cases/time_precision_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#39789 Resolve attribute alias for counter cache column
  activerecord/lib/active_record/associations/has_many_association.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/fixtures/other_posts.yml
  activerecord/test/fixtures/posts.yml
  activerecord/test/models/author.rb
  activerecord/test/models/post.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#39656 Change default HTTP status to 308 for ActionDispatch::SSL.
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/ssl.rb
  actionpack/test/dispatch/ssl_test.rb
  guides/source/configuring.md
  guides/source/upgrading_ruby_on_rails.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/application/default_middleware_stack.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_1.rb.tt
  railties/test/application/configuration_test.rb
  railties/test/application/middleware_test.rb
Labels: actionpack, activerecord, docs, railties

#39123 Added docs for client-side logger
  actioncable/app/javascript/action_cable/logger.js
  guides/source/action_cable_overview.md
Labels: actioncable, docs

#39793 Add link to forum
  guides/source/layout.html.erb
Labels: docs

#39782 Remove broken responsive-tables JS, improving mobile readability & accessibility [ci skip]
  guides/assets/javascripts/responsive-tables.js
  guides/assets/stylesheets/main.css
  guides/assets/stylesheets/main.rtl.css
  guides/source/layout.html.erb
Labels: docs

#39795 Type cast extra select for eager loading
  activerecord/lib/active_record/associations/join_dependency.rb
  activerecord/lib/active_record/associations/join_dependency/join_part.rb
  activerecord/test/cases/relation/select_test.rb
Labels: activerecord

#39800 Fix noun-verb agreement in docs [ci-skip]
  guides/source/routing.md
Labels: docs

#39799 Use associated instead of related in routing docs [ci-skip]
  guides/source/routing.md
Labels: docs

#39803 Docs: config.hosts: details re: regexp anchors
  guides/source/configuring.md
Labels: docs

#39777 Replace javascript highlighting in guides with Rouge [ci skip]
  Gemfile
  Gemfile.lock
  guides/assets/javascripts/guides.js
  guides/assets/javascripts/prism.js
  guides/assets/stylesheets/highlight.css
  guides/assets/stylesheets/main.css
  guides/assets/stylesheets/prism/default.css
  guides/assets/stylesheets/prism/rails-guides.css
  guides/rails_guides/markdown/renderer.rb
  guides/source/active_model_basics.md
  guides/source/layout.html.erb
Labels: docs

#39559 Include warning about S3 timeout behavior [ci skip]
  guides/source/active_storage_overview.md
Labels: docs

#39809 Use appropriate code fences [ci skip]
  guides/source/3_2_release_notes.md
  guides/source/action_mailbox_basics.md
  guides/source/active_record_validations.md
  guides/source/plugins.md
Labels: docs

#39725 Save a string allocation in visit_STAR
  actionpack/lib/action_dispatch/journey/path/pattern.rb
Labels: actionpack

#39812 More consistent usage of version option for commands in guides [skip ci]
  guides/source/getting_started.md
Labels: docs

#39815 Save an allocation in visit CAT
  actionpack/lib/action_dispatch/journey/path/pattern.rb
Labels: actionpack

#39806 CVE-2020-8163: regression fix
  actionview/lib/action_view/template.rb
  actionview/test/fixtures/test/render_file_inspect_local_assigns.erb
  actionview/test/fixtures/test/render_file_unicode_local.erb
  actionview/test/fixtures/test/render_file_with_ruby_keyword_locals.erb
  actionview/test/fixtures/test/test_template_with_delegation_reserved_keywords.erb
  actionview/test/template/compiled_templates_test.rb
Labels: actionview

#39774 Add Active Record Marshal forward compatibility tests
  activerecord/test/cases/marshal_serialization_test.rb
  activerecord/test/support/marshal_compatibility_fixtures/Mysql2/rails_6_0_topic.dump
  activerecord/test/support/marshal_compatibility_fixtures/Mysql2/rails_6_0_topic_associations.dump
  activerecord/test/support/marshal_compatibility_fixtures/PostgreSQL/rails_6_0_topic.dump
  activerecord/test/support/marshal_compatibility_fixtures/PostgreSQL/rails_6_0_topic_associations.dump
  activerecord/test/support/marshal_compatibility_fixtures/SQLite/rails_6_0_topic.dump
  activerecord/test/support/marshal_compatibility_fixtures/SQLite/rails_6_0_topic_associations.dump
Labels: activerecord

#39817 fix grammar in active support docs [ci-skip]
  guides/source/active_support_core_extensions.md
Labels: docs

#39818 Fix typo s/delegates/delegate/
  activerecord/lib/active_record/delegated_type.rb
Labels: activerecord

#39787 Use correct grammar in Rails 5.0 upgrade section [ci-skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#39820 Allow default to be configured for Enum
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#39830 Allow attribute's default to be configured but keeping its own type
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attributes.rb
  activerecord/test/cases/attributes_test.rb
Labels: activerecord

#39842 Pass params to rails conductor form for inbound emails
  actionmailbox/app/views/rails/conductor/action_mailbox/inbound_emails/new.html.erb
  railties/CHANGELOG.md
Labels: actionmailbox, railties

#39840 Docs: ActiveRecord::QueryMethods#joins Fixes SQL output
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#39841 Decorated the `--skip-sprockets` like any other.[ci skip]
  guides/source/asset_pipeline.md
Labels: docs

#39367 Be able to easily provide a minimal example app for ActionMailbox
  guides/bug_report_templates/action_mailbox_gem.rb
  guides/bug_report_templates/action_mailbox_master.rb
Labels: docs

#39853 Provide links to executable test case for Action Mailbox [ci-skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#39861 Switch regex for delete_suffix in normalize_path
  actionpack/lib/action_dispatch/journey/router/utils.rb
Labels: actionpack

#39829 Remove `protect_from_forgery` in rails plugin template.
  railties/lib/rails/generators/rails/plugin/templates/app/controllers/%namespaced_name%/application_controller.rb.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#39862 Revert "Merge pull request #39613 from kamipo/where_with_custom_operator"
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/test/cases/date_time_precision_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
  activerecord/test/cases/time_precision_test.rb
  activerecord/test/models/author.rb
Labels: activerecord

#39864 Fix typos in active support docs [ci-skip]
  guides/source/active_support_core_extensions.md
Labels: docs

#39872 fix typo in Active Job exceptions docs [ci skip]
  activejob/lib/active_job/exceptions.rb
Labels: activejob

#39875 Document how exceptions are handled in instrumentation [ci skip]
  guides/source/active_support_instrumentation.md
Labels: docs

#39708 Ensure principle tasks go before finish_template
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#38979 Bugfix for Mime::Type::MimeTypeInvalid handling in ActionDispatch::DebugExceptions
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
Labels: actionpack

#39882 Simplify attribute type decoration
  activerecord/lib/active_record/attribute_decorators.rb
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activerecord/lib/active_record/attribute_methods/time_zone_conversion.rb
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/base.rb
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/test/cases/attribute_decorators_test.rb
  activerecord/test/cases/attribute_methods/read_test.rb
  activerecord/test/cases/attributes_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#39883 Prepend X-Original-To to raw_email with Sendgrid envelope recipients
  actionmailbox/CHANGELOG.md
  actionmailbox/app/controllers/action_mailbox/ingresses/sendgrid/inbound_emails_controller.rb
  actionmailbox/test/controllers/ingresses/sendgrid/inbound_emails_controller_test.rb
Labels: actionmailbox

#39902 Fix enum losing attribute type cast.
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/adapters/mysql2/enum_test.rb
Labels: activerecord

#39895 Added documentation for _default option added to ActiveRecord::Enum [ci skip]
  activerecord/lib/active_record/enum.rb
Labels: activerecord

#39904 Fix minor typos in i18n docs [ci-skip]
  guides/source/i18n.md
Labels: docs

#39903 Consolidate passes through path ast
  actionpack/lib/action_dispatch/routing/mapper.rb
Labels: actionpack

#39881 Move Arel attribute normalization into `arel_table`
  activerecord/lib/active_record/associations/alias_tracker.rb
  activerecord/lib/active_record/associations/association_scope.rb
  activerecord/lib/active_record/associations/join_dependency.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/inheritance.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/batches.rb
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/relation/predicate_builder/relation_handler.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/table_metadata.rb
  activerecord/lib/arel/nodes/table_alias.rb
  activerecord/lib/arel/table.rb
  activerecord/test/cases/adapters/postgresql/case_insensitive_test.rb
  activerecord/test/cases/arel/table_test.rb
  activerecord/test/cases/associations/inner_join_association_test.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/models/post.rb
Labels: activerecord

#39917 Refactor `process` method
  actionpack/lib/action_controller/test_case.rb
Labels: actionpack

#39916 Alter regexp on initialize to avoid extra ast pass
  actionpack/lib/action_dispatch/routing/mapper.rb
Labels: actionpack

#39728 prevents raw redis and memcached compression
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#39808 Add label attribute to <option> from include_blank
  actionview/lib/action_view/helpers/date_helper.rb
  actionview/lib/action_view/helpers/form_options_helper.rb
  actionview/lib/action_view/helpers/tags/base.rb
  actionview/test/template/date_helper_test.rb
  actionview/test/template/form_options_helper_test.rb
  guides/source/action_view_helpers.md
Labels: actionview, docs

#39923 Fix argument naming in `AbstractStore#set_cookie`
  actionpack/lib/action_dispatch/middleware/session/abstract_store.rb
Labels: actionpack

#39925 Build symbols descending from stars with regexp
  actionpack/lib/action_dispatch/journey/nodes/node.rb
  actionpack/lib/action_dispatch/journey/parser.rb
  actionpack/lib/action_dispatch/journey/parser.y
  actionpack/lib/action_dispatch/journey/path/pattern.rb
Labels: actionpack

#39747 prevents redundant memcached compression
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#39924 Backport #37850 to 6-0-stable
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: railties

#39844 Fix option not being passed with fetch_multi
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#39740 Fix path_parameters key type inconsistency in ActionController::TestCase
  actionpack/lib/action_controller/test_case.rb
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#39891 touch parent model when an attachment is purged
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/attachment.rb
  activestorage/test/database/create_users_migration.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
Labels: activestorage

#39901 Add back support for other syntax highlighting [skip-ci]
  guides/rails_guides/markdown/renderer.rb
  guides/source/development_dependencies_install.md
Labels: docs

#39934 Fix flakey test due to non-deterministic order
  activerecord/test/cases/associations/eager_test.rb
Labels: activerecord

#39927 Move Path::Pattern factories into test helper
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/test/journey/path/pattern_test.rb
  actionpack/test/journey/route_test.rb
  actionpack/test/support/path_helper.rb
Labels: actionpack

#39941 Use standard config/application.rb in plugin dummy
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/lib/rails/generators/rails/plugin/templates/rails/application.rb.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#39933 Correct engine generator docs
  railties/lib/rails/generators/base.rb
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
Labels: railties

#39866 Generate abstract class when generating scaffold in another database
  activerecord/lib/rails/generators/active_record/model/model_generator.rb
  activerecord/lib/rails/generators/active_record/model/templates/abstract_base_class.rb.tt
  railties/CHANGELOG.md
  railties/test/application/multi_db_rake_test.rb
  railties/test/generators/model_generator_test.rb
  railties/test/generators/scaffold_generator_test.rb
Labels: activerecord, railties

#39771 Autosave collection associations exactly once
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
  activerecord/test/models/post.rb
Labels: activerecord

#39949 Clear Resolvers' cache after AVLogSubscriberTest tests
  actionview/test/template/log_subscriber_test.rb
Labels: actionview

#39943 Reduce allocations in transition_table
  actionpack/lib/action_dispatch/journey/gtg/builder.rb
Labels: actionpack

#39951 Fixed typo AnimalsRecrd -> AnimalsRecord [ci skip]
  railties/CHANGELOG.md
Labels: railties

#39952 Fix wrong attributes being set in transactions savepoint test.
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#39957 Fix unusual line terminators [ci skip]
  guides/source/security.md
Labels: docs

#39860 Update wording for cookies [ci-skip]
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/lib/action_dispatch/middleware/session/cookie_store.rb
Labels: actionpack, docs

#39738 Remove confusing phrase from docs [ci skip]
  guides/source/action_controller_overview.md
Labels: docs

#39736 Remove reference to deleting sessions via nil [ci-skip]
  guides/source/action_controller_overview.md
Labels: docs

#39735 Document ActiveModel errors methods
  activemodel/lib/active_model/error.rb
  activemodel/lib/active_model/errors.rb
Labels: activemodel, docs

#39791 Prioritize db_config for current env when resolving config.
  activerecord/lib/active_record/database_configurations.rb
  activerecord/test/cases/database_configurations_test.rb
Labels: activerecord

#39958 Adds db:migrate:redo:NAME support for multidbs
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#39959 Follow naming conventions in generated plugin test
  railties/lib/rails/generators/rails/plugin/templates/test/%namespaced_name%_test.rb.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#39960 Load plugin VERSION constant by default
  railties/lib/rails/generators/rails/plugin/templates/lib/%namespaced_name%.rb.tt
  railties/lib/rails/generators/rails/plugin/templates/test/%namespaced_name%_test.rb.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties
