Repository rails/rails, pull requests merged in 2020-12, with the labels that each got.

#40127 Declare ActionView::Helpers::FormBuilder#id and #field_id
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/lib/action_view/helpers/tags/base.rb
  actionview/test/template/form_helper_test.rb
  actionview/test/template/form_tag_helper_test.rb
Labels: actionview

#40663 Let AS::SafeBuffer#[] and * return value be an instance of SafeBuffer in Ruby 3.0
  activesupport/lib/active_support/core_ext/string/output_safety.rb
Labels: activesupport

#40706 Link to API docs in Active Storage Overview guide [ci-skip]
  guides/source/active_storage_overview.md
Labels: docs

#40721 55% speedup for HashWithIndifferentAccess.new when no args provided
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#40708 Change form_with to generate non-remote forms by default
  actiontext/test/dummy/app/views/messages/_form.html.erb
  actionview/CHANGELOG.md
  guides/source/action_controller_overview.md
  guides/source/configuring.md
  guides/source/engines.md
  guides/source/form_helpers.md
  guides/source/getting_started.md
  guides/source/working_with_javascript_in_rails.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/erb/scaffold/templates/_form.html.erb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionpack, actiontext, actionview, docs, railties

#40720 Add option for `default_scope` to run on all queries
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/scoping/default.rb
  activerecord/lib/active_record/scoping/named.rb
  activerecord/test/cases/associations/nested_through_associations_test.rb
  activerecord/test/cases/dup_test.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#40727 Fix `or` to raise structurally incompatible error for single values
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/or_test.rb
Labels: activerecord

#40733 Incorrect default for `config.autoload_paths` [ci skip]
  guides/source/configuring.md
Labels: docs

#40729 Backport #40527 and #40626 to 6-1-stable
  activejob/lib/active_job/queue_adapters/inline_adapter.rb
  activejob/test/integration/queuing_test.rb
  activejob/test/jobs/thread_job.rb
  railties/lib/rails/engine.rb
  railties/lib/rails/generators/rails/app/templates/bin/rails.tt
  railties/lib/rails/generators/rails/app/templates/bin/rake.tt
  railties/lib/rails/generators/rails/app/templates/bin/spring.tt
  railties/lib/rails/generators/rails/app/templates/config/boot.rb.tt
  railties/lib/rails/railtie.rb
  railties/test/generators/app_generator_test.rb
  railties/test/isolation/abstract_unit.rb
  railties/test/railties/engine_test.rb
Labels: activejob, railties

#40736 Link to API docs in Action Cable Overview guide [ci-skip]
  guides/source/action_cable_overview.md
Labels: docs

#40717 removed sprocket related files
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#40739 Fix to handle missing yarn environment in bin/yarn
  railties/lib/rails/generators/rails/app/templates/bin/yarn.tt
Labels: railties

#40731 ActiveStorage Direct Upload docs improvements [ci skip]
  guides/source/active_storage_overview.md
Labels: docs

#40735 Allow custom purpose for ActiveStorage signed ids
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/models/attachment_test.rb
Labels: activestorage

#40742 Only execute route reloads once on boot for development environment
  railties/CHANGELOG.md
  railties/lib/rails/application/finisher.rb
  railties/lib/rails/application/routes_reloader.rb
  railties/test/application/loading_test.rb
Labels: railties

#40740 Adds the missing spec for Action Text installer warning
  railties/test/generators/action_text_install_generator_test.rb
Labels: railties

#40749 Don't use explicit references for join aliases
  activerecord/lib/active_record/associations/join_dependency.rb
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/test/cases/associations/eager_test.rb
Labels: activerecord

#40762 Fix rendering Action Text HTML in new threads
  actiontext/lib/action_text/engine.rb
  actiontext/lib/action_text/rendering.rb
  actiontext/test/unit/content_test.rb
Labels: actiontext

#40201 Use Symbol#name if available in HashWithIndifferentAccess
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#40754 Revert 'sleep 1' workarounds since Ruby issue 17220 has been addressed
  activejob/test/support/integration/adapters/resque.rb
  activejob/test/support/integration/adapters/sidekiq.rb
  activejob/test/support/integration/adapters/sneakers.rb
Labels: activejob

#40759 Clone to keep extended Logger methods for tagged logger
  activesupport/lib/active_support/tagged_logging.rb
  activesupport/test/tagged_logging_test.rb
Labels: activesupport

#40734 Add benchmark method that can be called from anywhere
  railties/CHANGELOG.md
  railties/lib/rails.rb
Labels: railties

#40766 Change default queue name of all the internal jobs to be the job adapter's default
  actionmailbox/CHANGELOG.md
  actionmailer/CHANGELOG.md
  activerecord/lib/active_record/railtie.rb
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/engine.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionmailbox, actionmailer, activerecord, activestorage, docs, railties

#38452 Add config.action_view.image_loading
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/lib/action_view/railtie.rb
  actionview/test/template/asset_tag_helper_test.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: actionview, docs, railties

#40096 Demonstrate how to use Relation#merge in Join Table conditions [ci skip]
  guides/source/active_record_querying.md
Labels: docs

#40704 Add support for `rails console --sandbox` for multiple database applications
  activerecord/lib/active_record/railties/console_sandbox.rb
Labels: activerecord

#40769 Fixes the copy-paste typo in configuration guide for default job queue changes
  guides/source/configuring.md
Labels: docs

#40765 `allow_nil` should work for casted value in `NumericalityValidator`
  activemodel/lib/active_model/validations/numericality.rb
  activemodel/lib/active_model/validator.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
Labels: activemodel, activerecord

#40679 Better handling of negative elements in enum
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#40773 Convert translation key to string as necessary
  actionview/lib/action_view/helpers/translation_helper.rb
  actionview/test/template/translation_helper_test.rb
Labels: actionview

#38659 Inflection support default_locale and fallbacks
  activesupport/lib/active_support/i18n.rb
  activesupport/lib/active_support/inflector/inflections.rb
  activesupport/test/inflector_test.rb
Labels: activesupport

#40168 Do not use submit_tag auto-disabling when disable_with is set to false
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/test/template/form_tag_helper_test.rb
Labels: actionview

#40774 Fix :en-GB pluralization test (day -> days)
  activesupport/test/inflector_test.rb
Labels: activesupport

#40775 Fix strict loading on validations
  activerecord/lib/active_record/associations/association.rb
  activerecord/test/cases/strict_loading_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#40792 Ignore strict loading violations on instances loaded through fixtures
  activerecord/lib/active_record/fixtures.rb
  activerecord/test/cases/strict_loading_test.rb
  activerecord/test/fixtures/strict_zines.yml
  activerecord/test/models/strict_zine.rb
  activerecord/test/models/zine.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#40776 Refactor ActiveRecord::Associations::Preloader class
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/associations/preloader/through_association.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#40793 Fix s3 multipart uploads when threshold is larger than the file uploaded
  activestorage/lib/active_storage/service/s3_service.rb
  activestorage/test/service/s3_service_test.rb
Labels: activestorage

#40813 Fix Rails Version in Guides Index
  guides/source/_welcome.html.erb
Labels: docs

#40814 Fix Rails Version in Guides Index
  guides/source/_welcome.html.erb
Labels: docs

#40815 Fix `where` with custom primary key for belongs_to association
  activerecord/lib/active_record/relation/predicate_builder/association_query_value.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#40803 Allow adding nonnamed expression indexes to be revertible
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/invertible_migration_test.rb
Labels: activerecord

#40824 Update bug report templates to use Rails 6.1.0
  guides/bug_report_templates/action_controller_gem.rb
  guides/bug_report_templates/action_mailbox_gem.rb
  guides/bug_report_templates/active_job_gem.rb
  guides/bug_report_templates/active_record_gem.rb
  guides/bug_report_templates/active_record_migrations_gem.rb
  guides/bug_report_templates/active_storage_gem.rb
  guides/bug_report_templates/generic_gem.rb
Labels: docs

#40826 Fix the status inclusion validation in Getting started: Using Concerns [ci skip]
  guides/source/getting_started.md
Labels: docs

#40838 Refactor Preloader to remove AlreadyLoaded class
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/lib/active_record/associations/preloader/through_association.rb
Labels: activerecord

#40835 Fix `where` with aliased associations
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_test.rb
  activerecord/test/models/comment.rb
Labels: activerecord

#40805 Allow `reload` to be `default_scoped`
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/scoping/default.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
Labels: activerecord

#40840 Add link to GlobalID repo in active_job_basics.md [ci-skip]
  guides/source/active_job_basics.md
Labels: docs

#40844 Docs: fix code formatting
  activerecord/lib/active_record/signed_id.rb
Labels: activerecord

#40849 Fix `composed_of` with symbol mapping
  activerecord/lib/active_record/aggregations.rb
  activerecord/test/models/customer.rb
Labels: activerecord

#40850 Small doc formatting fixes [ci skip]
  actionpack/lib/action_controller/metal/conditional_get.rb
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activesupport/lib/active_support/core_ext/string/output_safety.rb
Labels: actionpack, activerecord, activesupport

#40788 Handle nil translation key
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/translation_helper.rb
  actionview/test/template/translation_helper_test.rb
Labels: actionview

#40836 compute_class raise when klass is not ActiveRecord::Base subclass
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/models/user_with_invalid_relation.rb
Labels: activerecord

#40833 Update api_functional_test.rb.tt
  railties/lib/rails/generators/test_unit/scaffold/templates/api_functional_test.rb.tt
Labels: railties

#40784 Document `config.active_record.cache_versioning`
  guides/source/configuring.md
Labels: docs

#40859 require "time" where we depend on Time#xmlschema
  activesupport/lib/active_support/core_ext.rb
  activesupport/lib/active_support/core_ext/time/conversions.rb
Labels: activesupport

#40847 Fix missing attribute error and typo in Getting Started: Using Concerns
  guides/source/getting_started.md
Labels: docs

#40785 Allow spaces in path to Yarn binstub and only run on precompile if needed
  railties/lib/rails/tasks/yarn.rake
Labels: railties

#40841 Link preloading should keep integrity hashes in the header
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#40839 Add config.action_view.image_decoding
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/lib/action_view/railtie.rb
  actionview/test/template/asset_tag_helper_test.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: actionview, docs, railties

#40834 Change request method to a `GET` when passing failed requests to `config.exceptions_app`
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
  railties/test/application/middleware/exceptions_test.rb
Labels: actionpack, docs, railties

#40530 Remove `database` kwarg from `connected_to`
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_adapters/legacy_connection_handlers_multi_db_test.rb
Labels: activerecord

#40791 ActiveStorage upgrade command
  guides/source/6_1_release_notes.md
Labels: docs

#40879 allow passing false to :polymorphic option of belongs_to
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/builder/belongs_to.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#40880 Don't skip money's type cast for pluck and calculations
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/test/cases/adapters/postgresql/money_test.rb
Labels: activerecord

#40881 Load most recent version of Bundler in bin/spring
  railties/lib/rails/generators/rails/app/templates/bin/spring.tt
Labels: railties

#40256 Save some allocations in ActionView digest
  actionview/lib/action_view/digestor.rb
Labels: actionview, stale

#40877 Adds warning on usage of destroy_async. [ci skip]
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#40870 Fix `SELECT COUNT` queries when rendering ActiveRecord collections
  actionview/lib/action_view/renderer/collection_renderer.rb
  actionview/test/activerecord/partial_rendering_query_test.rb
Labels: actionview

#40876 postgres: Make the initial type map query less expensive
  activerecord/lib/active_record/connection_adapters/postgresql/oid/type_map_initializer.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#40249 Expose an `invert_where` method that will invert all scope conditions.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_test.rb
Labels: activerecord

#39763 Active support cache - memcached store - consume dalli’s cache_nils option as skip_nil
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#40878 Add a note to the docs about existing apps for ActiveStorage public access
  guides/source/active_storage_overview.md
Labels: docs

#40864 Fixes #40218 clarify different types of initializers
  guides/source/initialization.md
Labels: docs

#40848 Sets default mailer queue to default
  actionmailer/lib/action_mailer/test_helper.rb
  actionmailer/test/test_helper_test.rb
Labels: actionmailer, docs, railties

#40780 Include ActiveSupport::Testing::Assertions in ActiveJob::TestHelpers
  activejob/lib/active_job/test_helper.rb
Labels: activejob

#40889 Fix RDoc code formatting for Railtie [ci skip]
  railties/lib/rails/railtie.rb
Labels: railties

#40890 [ci skip] Fix full_messages_for example in getting started
  guides/source/getting_started.md
Labels: docs

#40891 Fix extra = in code example for _form.html.erb in Getting Started 6.4.1 [ci skip]
  guides/source/getting_started.md
Labels: docs

#40882 Add `config.action_view.preload_links_header` option
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/lib/action_view/railtie.rb
  actionview/test/template/asset_tag_helper_test.rb
  guides/source/6_1_release_notes.md
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: actionview, docs, railties

#40906 Fixes typos in Autoloading (Zeitwerk Mode) Guide [ci skip]
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#40909 Lock rails/webpacker npm package version to 5
  railties/test/isolation/assets/package.json
Labels: railties

#40910 Fix nil translation key lookup in controllers
  actionpack/lib/abstract_controller/translation.rb
  actionpack/test/abstract/translation_test.rb
Labels: actionpack

#40916 Reuse the same ActiveModel::Type::Value
  activemodel/lib/active_model/attributes.rb
Labels: activemodel

#40920 Fix bad formatting for `resolve_model_to_route` [docs] [ci skip]
  guides/source/configuring.md
Labels: docs

#40918 Include file path in invisible space warning
  activesupport/lib/active_support/configuration_file.rb
Labels: activesupport

#40922 Split code snippets by context [ci-skip]
  guides/source/4_2_release_notes.md
  guides/source/5_0_release_notes.md
  guides/source/5_1_release_notes.md
  guides/source/action_cable_overview.md
  guides/source/action_mailer_basics.md
  guides/source/active_job_basics.md
  guides/source/active_record_postgresql.md
  guides/source/autoloading_and_reloading_constants.md
  guides/source/autoloading_and_reloading_constants_classic_mode.md
  guides/source/configuring.md
  guides/source/i18n.md
  guides/source/layouts_and_rendering.md
  guides/source/plugins.md
  guides/source/routing.md
  guides/source/testing.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#40921 Fix list item indentation [ci-skip]
  guides/source/4_0_release_notes.md
  guides/source/4_2_release_notes.md
  guides/source/6_1_release_notes.md
  guides/source/asset_pipeline.md
  guides/source/configuring.md
  guides/source/layouts_and_rendering.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#40934 Fix syntax highlighting [ci-skip]
  guides/source/2_3_release_notes.md
  guides/source/5_1_release_notes.md
  guides/source/6_1_release_notes.md
  guides/source/action_mailer_basics.md
  guides/source/active_record_validations.md
  guides/source/association_basics.md
  guides/source/engines.md
  guides/source/generators.md
  guides/source/layouts_and_rendering.md
  guides/source/routing.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#40933 Normalize code indentation [ci-skip]
  guides/source/active_record_basics.md
  guides/source/active_record_postgresql.md
  guides/source/active_record_querying.md
  guides/source/asset_pipeline.md
  guides/source/association_basics.md
  guides/source/caching_with_rails.md
  guides/source/configuring.md
  guides/source/engines.md
  guides/source/getting_started.md
  guides/source/i18n.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#40936 Remove ChdirHelpers because https://bugs.ruby-lang.org/issues/15661 has been addressed
  railties/test/application/bin_setup_test.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/log_test.rb
  railties/test/application/rake/migrations_test.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/application/rake/restart_test.rb
  railties/test/application/rake/tmp_test.rb
  railties/test/chdir_helpers.rb
Labels: railties

#40941 Fix spelling
  activerecord/test/cases/test_fixtures_test.rb
  activesupport/test/cache/behaviors/cache_store_coder_behavior.rb
Labels: activerecord, activesupport

#39979 Improve perf of `ActionView::Helpers::TextHelper#excerpt` for large strings.
  actionview/lib/action_view/helpers/text_helper.rb
Labels: actionview

#40951 Fix `where` on polymorphic association with non Active Record object
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/relation/predicate_builder/polymorphic_array_value.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#40950 Search for yarn.exe in bin/yarn
  railties/lib/rails/generators/rails/app/templates/bin/yarn.tt
Labels: railties

#40952 Skip Spring in plugin dummy apps
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#40905 Fix typos, grammar, and formatting [ci-skip]
  guides/source/2_3_release_notes.md
  guides/source/3_0_release_notes.md
  guides/source/3_1_release_notes.md
  guides/source/3_2_release_notes.md
  guides/source/4_1_release_notes.md
  guides/source/5_2_release_notes.md
  guides/source/action_cable_overview.md
  guides/source/action_controller_overview.md
  guides/source/action_mailer_basics.md
  guides/source/action_text_overview.md
  guides/source/active_job_basics.md
  guides/source/active_record_basics.md
  guides/source/active_record_migrations.md
  guides/source/active_record_multiple_databases.md
  guides/source/active_record_querying.md
  guides/source/active_record_validations.md
  guides/source/active_storage_overview.md
  guides/source/active_support_core_extensions.md
  guides/source/active_support_instrumentation.md
  guides/source/api_documentation_guidelines.md
  guides/source/asset_pipeline.md
  guides/source/association_basics.md
  guides/source/autoloading_and_reloading_constants.md
  guides/source/autoloading_and_reloading_constants_classic_mode.md
  guides/source/caching_with_rails.md
  guides/source/configuring.md
  guides/source/contributing_to_ruby_on_rails.md
  guides/source/engines.md
  guides/source/form_helpers.md
  guides/source/generators.md
  guides/source/getting_started.md
  guides/source/i18n.md
  guides/source/initialization.md
  guides/source/layouts_and_rendering.md
  guides/source/plugins.md
  guides/source/rails_application_templates.md
  guides/source/rails_on_rack.md
  guides/source/routing.md
  guides/source/security.md
  guides/source/testing.md
  guides/source/threading_and_code_execution.md
  guides/source/upgrading_ruby_on_rails.md
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#40930 Quietly handle unknown HTTP methods in Action Dispatch SSL middleware
  actionpack/lib/action_dispatch/middleware/ssl.rb
  actionpack/test/dispatch/ssl_test.rb
Labels: actionpack

#40782 ActiveRecord::AttributeMethods::Query respect getter overwrites in the model
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods/query.rb
  activerecord/lib/active_record/base.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#40913 Handle when Spring is not installed
  railties/lib/rails/generators/rails/app/templates/bin/spring.tt
Labels: railties

#40215 Uniform paths joining in the code generated by `rails new`
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
Labels: railties, stale

#39626 Raise error when passing invalid arguments on subscription instead of failing silently
  activesupport/lib/active_support/notifications.rb
  activesupport/lib/active_support/notifications/fanout.rb
  activesupport/test/notifications_test.rb
Labels: activesupport

#40747 Consistently render `button_to` as `<button>`
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/lib/action_view/railtie.rb
  actionview/test/template/url_helper_test.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_2.rb.tt
Labels: actionview, railties

#40964 Support aliases to expires_in for cache stores
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#39575 Clarify ActiveSupport::Cache::NullStore behavior [ci skip]
  guides/source/caching_with_rails.md
Labels: activesupport, docs

#40960 Fixes the route table CSS for dark mode
  actionpack/lib/action_dispatch/middleware/templates/routes/_table.html.erb
Labels: actionpack

#40961 change ActiveModel::Name initialize arguments to hash and add locale
  activemodel/lib/active_model/naming.rb
  activemodel/test/cases/naming_test.rb
Labels: actionpack, activemodel, activerecord, railties

#40929 add ActiveSupport::Cache::RedisCacheStore#info
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/redis_cache_store.rb
Labels: activesupport

#40768 Add `ActiveRecord::FinderMethods#sole` and `#find_sole_by`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#40306 Ensure DB Directory Is Created
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#40946 Update`form_with` and`form_for` API documentation to reflect new local method default [ci skip]
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#38733 Remove gemfile_entry from GeneratorAppBase:
  railties/lib/rails/generators/app_base.rb
  railties/test/generators/generator_test.rb
Labels: railties, stale

#39567 Add `credentials:diff --disenroll`
  railties/lib/rails/commands/credentials/USAGE
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/lib/rails/commands/credentials/credentials_command/diffing.rb
  railties/test/commands/credentials_test.rb
Labels: railties

#40919 Mention `rails dev:cache` in Caching with Rails guide [ci skip] [docs]
  guides/source/caching_with_rails.md
Labels: docs

#40712 Mention `representation`/`representable?` in ActiveStorage guide [ci skip]
  guides/source/active_storage_overview.md
Labels: docs

#27978 Add `blob` short-hand method for schema creation
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord, stale

#40897 Backport `config.action_view.preload_links_header` option
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/lib/action_view/railtie.rb
  actionview/test/template/asset_tag_helper_test.rb
  guides/source/6_1_release_notes.md
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionview, docs, railties

#40308 Improve ActionText extensiblibility
  actiontext/CHANGELOG.md
  actiontext/app/helpers/action_text/content_helper.rb
  actiontext/app/views/action_text/content/_layout.html.erb
  actiontext/app/views/action_text/contents/_content.html.erb
  actiontext/app/views/layouts/action_text/contents/_content.html.erb
  actiontext/lib/action_text/attachable.rb
  actiontext/lib/action_text/content.rb
  actiontext/lib/generators/action_text/install/install_generator.rb
  actiontext/test/dummy/app/models/person.rb
  actiontext/test/dummy/app/views/people/_attachable.html.erb
  actiontext/test/fixtures/action_text/rich_texts.yml
  actiontext/test/fixtures/messages.yml
  actiontext/test/fixtures/people.yml
  actiontext/test/integration/controller_render_test.rb
  guides/source/action_text_overview.md
  railties/test/generators/action_text_install_generator_test.rb
Labels: actiontext, docs, railties

#40983 Fix broken link for free programming books [ci-skip]
  guides/source/getting_started.md
Labels: docs

#40974 Don't mangle callable enum names
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#40981 Fix lazy translation in partial with block
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/context.rb
  actionview/lib/action_view/helpers/translation_helper.rb
  actionview/test/abstract_unit.rb
  actionview/test/activerecord/relation_cache_test.rb
  actionview/test/fixtures/translations/templates/_partial.html.erb
  actionview/test/fixtures/translations/templates/partial_lazy_translation.html.erb
  actionview/test/fixtures/translations/templates/partial_lazy_translation_block.html.erb
  actionview/test/template/template_test.rb
  actionview/test/template/translation_helper_test.rb
Labels: actionview

#40984 Clarify use of rescue_from [ci skip]
  activesupport/lib/active_support/rescuable.rb
Labels: activesupport

#40985 fix CHANGELOG entry for #40768
  activerecord/CHANGELOG.md
Labels: activerecord
