Repository rails/rails, pull requests merged in 2020-11, with the labels that each got.

#40502 Fix triple-click-to-select for IRB code examples [ci-skip]
  guides/assets/stylesheets/main.css
Labels: docs

#40501 Fix copy button for IRB code examples [ci-skip]
  guides/rails_guides/markdown/renderer.rb
Labels: docs

#40499 ARIA attributes: serialize empty Hash and Array as nil
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#38261 Adds support to wrap aliased attributed in object hash in params wrapper
  actionpack/lib/action_controller/metal/params_wrapper.rb
  actionpack/test/controller/params_wrapper_test.rb
Labels: actionpack

#40497 Guides: update description of `to_prepare` event in the Configuration section
  guides/source/configuring.md
Labels: docs

#40513 Tweak generated default filter_parameters
  railties/lib/rails/generators/rails/app/templates/config/initializers/filter_parameter_logging.rb.tt
Labels: railties

#40492 Upgrade Puma to 5.x
  Gemfile.lock
  railties/lib/rails/generators/app_base.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#40504 Reduce object allocations in param wrapping
  actionpack/lib/action_controller/metal/params_wrapper.rb
Labels: actionpack

#40481 Rework Getting Started guide [ci-skip]
  guides/assets/images/getting_started/confirm_dialog.png
  guides/assets/images/getting_started/forbidden_attributes_for_new_article.png
  guides/assets/images/getting_started/form_with_errors.png
  guides/assets/images/getting_started/index_action_with_edit_link.png
  guides/assets/images/getting_started/new_article.png
  guides/assets/images/getting_started/routing_error_no_controller.png
  guides/assets/images/getting_started/show_action_for_articles.png
  guides/assets/images/getting_started/template_is_missing_articles_new.png
  guides/assets/images/getting_started/unknown_action_create_for_articles.png
  guides/assets/images/getting_started/unknown_action_new_for_articles.png
  guides/source/getting_started.md
Labels: docs

#40500 Use irb code fences where applicable [ci-skip]
  guides/source/2_3_release_notes.md
  guides/source/5_1_release_notes.md
  guides/source/active_model_basics.md
  guides/source/active_record_basics.md
  guides/source/active_record_callbacks.md
  guides/source/active_record_postgresql.md
  guides/source/active_record_querying.md
  guides/source/active_record_validations.md
  guides/source/api_app.md
  guides/source/association_basics.md
  guides/source/autoloading_and_reloading_constants.md
  guides/source/autoloading_and_reloading_constants_classic_mode.md
  guides/source/command_line.md
  guides/source/configuring.md
  guides/source/engines.md
  guides/source/plugins.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#40434 Pass in base to Error.human_attribute_names
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/error.rb
  activemodel/lib/active_model/errors.rb
  activemodel/test/cases/validations/i18n_validation_test.rb
Labels: activemodel

#40511 Allow applications to change the behavior for a strict loading violation
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/test/cases/strict_loading_test.rb
  guides/source/configuring.md
Labels: activerecord, docs

#40399 Mark Reaper thread as fork-safe w/thread-local variable
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#40510 Add `connected_to_many` API
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/connection_adapters/connection_swapping_nested_test.rb
Labels: activerecord

#40421 Fix rename_index removing old index with symbols
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/migration/index_test.rb
Labels: activerecord

#39832 Raise if camelcase inflection impossible in generator
  railties/lib/rails/generators/model_helpers.rb
  railties/test/generators/model_generator_test.rb
Labels: railties

#38829 Add request exclusion to Host Authorization
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/test/dispatch/host_authorization_test.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/application/default_middleware_stack.rb
Labels: actionpack, railties

#40365 Follow npm/JS standard for package name
  railties/lib/rails/generators/rails/app/templates/package.json.tt
Labels: railties

#40523 remove extra class [ci skip]
  guides/source/6_1_release_notes.md
Labels: docs

#40520 [ci skip] Update CHANGELOG for inspect time attributes
  activerecord/CHANGELOG.md
Labels: activerecord

#40524 Fix formatting issue in multiple db docs [ci-skip]
  guides/source/active_record_multiple_databases.md
Labels: docs

#40512 Create unit test to use to_time for timestamp in string
  activesupport/lib/active_support/core_ext/string/conversions.rb
  activesupport/test/core_ext/string_ext_test.rb
Labels: activesupport

#40517 Use LoadError#original_message if available in depend_on
  activesupport/lib/active_support/dependencies.rb
  activesupport/test/dependencies_test.rb
Labels: activesupport

#40522 [v6.1.0.rc1] Fix regression for select tag helper with array
  actionview/lib/action_view/helpers/tags/select.rb
  actionview/test/template/form_options_helper_test.rb
Labels: actionview

#40526 Add example usage pattern of ActiveRecord::Base.ignored_columns=
  activerecord/lib/active_record/model_schema.rb
Labels: activerecord

#40529 Fix text_field_tag's placeholder documentation [ci skip]
  actionview/lib/action_view/helpers/form_tag_helper.rb
Labels: actionview

#39930 disable compression for MemoryStore's by default
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/memory_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#40533 Don't over protect the MySQL users on insert_all
  activerecord/lib/active_record/insert_all.rb
  activerecord/test/cases/insert_all_test.rb
  activerecord/test/models/cart.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#40542 Add `legacy_connection_handling` to "Configuring Rails Applications" guide [ci skip]
  guides/source/configuring.md
Labels: docs

#40541 Ensure the connection used in a failed rollback is discarded
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#40545 Allow default to be configured for serialization
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#40547 [6.1.0.rc1] ActiveModel::Attributes can be frozen again
  activemodel/lib/active_model/attributes.rb
  activemodel/test/cases/attributes_test.rb
Labels: activemodel

#40544 Update database_configurations.rb output message
  activerecord/lib/active_record/database_configurations.rb
Labels: activerecord

#40531 Fix connected_to_many argument and docs
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#40549 Fix web-console version for Rails 6.1
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#34985 Clarify that some configuration still needs to happen in config/appli…
  railties/lib/rails/generators/rails/app/templates/config/application.rb.tt
Labels: pinned, railties

#40490 Instrument cache entries from local cache
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/strategy/local_cache.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
Labels: activesupport

#40540 Set the inverse record on find with multiple ids from has_many association
  activerecord/lib/active_record/relation/spawn_methods.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
Labels: activerecord

#40558 `{SchemaMigration,InternalMetadata}.create_table` ensure the table is to be created
  activerecord/lib/active_record/internal_metadata.rb
  activerecord/lib/active_record/schema_migration.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#40563 Allow missing Action Cable config
  actioncable/lib/action_cable/engine.rb
  railties/test/application/configuration_test.rb
Labels: actioncable, railties

#40561 Incorrect comment on cache thread mapping [ci-skip]
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#40538 [6.1.0.rc1] Handle frozen conditions in validate
  activemodel/lib/active_model/validations.rb
  activemodel/test/cases/validations_test.rb
Labels: activemodel, activerecord, activesupport

#40555 Link to API docs in AR Migrations guide [ci-skip]
  guides/source/active_record_migrations.md
Labels: docs

#40556 Link to API docs in AR Validations guide [ci-skip]
  guides/source/active_record_validations.md
Labels: docs

#40565 Document metaprogrammed Active Record callbacks [ci-skip]
  activerecord/lib/active_record/callbacks.rb
Labels: activerecord

#40566 Link to API docs in AR Callbacks guide [ci-skip]
  guides/source/active_record_callbacks.md
Labels: docs

#40568 Link to API docs in AR Associations guide [ci-skip]
  guides/source/association_basics.md
Labels: docs

#40569 Link to API docs in AR Query Interface guide [ci-skip]
  guides/source/active_record_querying.md
Labels: docs

#40578 Fix couple of typos [ci skip]
  guides/source/6_1_release_notes.md
  guides/source/active_record_querying.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#40007 Allow constructors for has_one :through
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
Labels: activerecord

#40570 Remove jQuery metadata script
  actionview/test/ujs/public/vendor/jquery.metadata.js
Labels: actionview

#40008 Add image_processing section to upgrading guide [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs, stale

#40411 Always show version badge in guides, not just for edge [ci skip]
  guides/assets/stylesheets/main.css
  guides/assets/stylesheets/main.rtl.css
  guides/source/layout.html.erb
Labels: docs

#40554 Support delegators in query Predicate building
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/relation/predicate_builder/association_query_value.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#40589 [ActiveStorage] Update active storage s3 direct uploads docs
  guides/source/active_storage_overview.md
Labels: docs

#40588 Allow access to CurrentAttributes in test teardown
  activesupport/lib/active_support/current_attributes/test_helper.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#40590 Add missing TLD to api links in AR queries guide [skip ci]
  guides/source/active_record_querying.md
Labels: docs

#40577 Link to API docs in Layouts and Rendering guide [ci-skip]
  guides/source/layouts_and_rendering.md
Labels: docs

#40591 Document ActionController::Cookies#cookies [ci-skip]
  actionpack/lib/action_controller/metal/cookies.rb
Labels: actionpack

#40567 Display exception messages using simple_format
  actionpack/lib/action_dispatch/middleware/templates/rescues/_message_and_suggestions.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/layout.erb
  actionpack/test/dispatch/debug_exceptions_test.rb
  railties/test/application/mailer_previews_test.rb
Labels: actionpack, railties

#39980 Append development routes after reload hook
  railties/CHANGELOG.md
  railties/lib/rails/application/finisher.rb
  railties/test/application/loading_test.rb
  railties/test/application/routing_test.rb
Labels: railties

#40576 [ci skip] Fix outdated class in multiple database docs.
  guides/source/active_record_multiple_databases.md
Labels: docs

#40055 Allow subscribing with a single argument callable
  activesupport/lib/active_support/notifications/fanout.rb
  activesupport/test/notifications_test.rb
Labels: activesupport

#40506 Update listen gem to v3.3
  Gemfile
  Gemfile.lock
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: docs, railties

#40604 Document Regexp#multiline? [ci-skip]
  activesupport/lib/active_support/core_ext/regexp.rb
Labels: activesupport

#40612 Add support for sqlcmd instead of sqsh on sql server
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
Labels: railties

#40605 Link to API docs in AS Core Extensions guide [ci-skip]
  guides/source/active_support_core_extensions.md
Labels: docs

#40592 Link to API docs in Action Controller guide [ci-skip]
  guides/source/action_controller_overview.md
Labels: docs

#40593 Link to API docs in Routing guide [ci-skip]
  guides/source/routing.md
Labels: docs

#40623 Add strict loading for active storage
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/attached/model.rb
  activestorage/test/models/strict_loading_test.rb
Labels: activestorage

#40637 Raise if connection_handlers is called in legacy_connection_handling
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/test_fixtures_test.rb
Labels: activerecord

#40636 Fixes rdoc formatting [ci skip]
  activesupport/lib/active_support/concern.rb
  activesupport/lib/active_support/core_ext/module/concerning.rb
Labels: activesupport

#40053 Use deep_symbolize_keys instead of symbolize_names
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: railties

#40615 Fix preventing_writes for granular swapping
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_prevent_writes_test.rb
  activerecord/test/cases/connection_adapters/connection_swapping_nested_test.rb
Labels: activerecord

#39096 Use FFmpeg scene detection for video previews
  activestorage/lib/active_storage/previewer/video_previewer.rb
  guides/source/active_storage_overview.md
Labels: activestorage, docs

#40638 Fix ForkTracker on ruby <= 2.5.3
  activesupport/lib/active_support/fork_tracker.rb
Labels: activesupport

#40620 Rename HTTP Feature Policy to Permissions Policy
  actionpack/lib/action_controller.rb
  actionpack/lib/action_controller/base.rb
  actionpack/lib/action_controller/metal/permissions_policy.rb
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/http/permissions_policy.rb
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/test/dispatch/permissions_policy_test.rb
  railties/lib/rails/application.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/application/default_middleware_stack.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/permissions_policy.rb.tt
  railties/test/application/middleware_test.rb
  railties/test/application/permissions_policy_test.rb
  railties/test/generators/api_app_generator_test.rb
Labels: actionpack, railties

#40651 fix issue with schema:load when table definition contains partitions
  activerecord/lib/active_record/connection_adapters/mysql/schema_creation.rb
  activerecord/test/cases/adapters/mysql2/table_options_test.rb
Labels: activerecord

#40652 Use Feature-Policy header name for now
  actionpack/lib/action_dispatch/http/permissions_policy.rb
  actionpack/test/dispatch/permissions_policy_test.rb
  railties/test/application/permissions_policy_test.rb
Labels: actionpack, railties

#40643 Fixed odd behavior of inverse_of with multiple belongs_to to same class
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/models/room.rb
  activerecord/test/models/user.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#40667 Grammer correction on ActiveSupport en.yml
  activesupport/lib/active_support/locale/en.yml
Labels: activesupport

#40597 Add support for stylesheets and ERB views to `rails stats`.
  railties/CHANGELOG.md
  railties/lib/rails/code_statistics.rb
  railties/lib/rails/code_statistics_calculator.rb
  railties/lib/rails/tasks/statistics.rake
  railties/test/application/rake_test.rb
  railties/test/code_statistics_calculator_test.rb
Labels: actionview, activemodel, activerecord, activesupport, railties

#40659 Link to API docs in Action Mailer Basics guide [ci-skip]
  guides/source/action_mailer_basics.md
Labels: docs

#40671 Get rid of the cumbersome fallback_location kwarg
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/redirecting.rb
  actionpack/test/controller/redirect_test.rb
Labels: actionpack

#40678 Revert "Remove the magic `:chain` parameter from `Relation#where`"
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#39397 Add support for eager loading all rich text associations at once
  actiontext/CHANGELOG.md
  actiontext/lib/action_text/attribute.rb
  actiontext/test/test_helper.rb
  actiontext/test/unit/model_test.rb
Labels: actiontext, pinned

#40527 Move Spring machinery back to bin files
  railties/lib/rails/generators/rails/app/templates/bin/rails.tt
  railties/lib/rails/generators/rails/app/templates/bin/rake.tt
  railties/lib/rails/generators/rails/app/templates/bin/spring.tt
  railties/lib/rails/generators/rails/app/templates/config/boot.rb.tt
  railties/test/generators/app_generator_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: railties

#40684 Address "ArgumentError: missing keywords: :sql, :name" with ruby 3.0.0dev
  actiontext/test/test_helper.rb
Labels: actiontext

#40675 Guides: Add note on ActiveStorage URL security
  guides/source/active_storage_overview.md
Labels: docs

#40685 Do not allow subscribing to Base channel
  actioncable/lib/action_cable/connection/subscriptions.rb
  actioncable/test/connection/subscriptions_test.rb
Labels: actioncable

#40320 [skip ci] Fix examples for has_{one,many} :through :source and :source_type
  guides/source/association_basics.md
Labels: docs

#40696 Add where.associated to check association presence
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_chain_test.rb
Labels: activerecord

#40689 Only use ActionDispatch::ActionableExceptions middleware if local env
  railties/lib/rails/application/default_middleware_stack.rb
  railties/test/application/middleware_test.rb
Labels: railties

#40697 Added definite article in guide Actice Record Basics sect 3 par 3 [ci skip]
  guides/source/active_record_basics.md
Labels: docs

#40694 Use application time zone in `travel_to` when it gets time as String.
  activesupport/lib/active_support/testing/time_helpers.rb
  activesupport/test/time_travel_test.rb
Labels: activesupport

#40646 Fix `rails new` and `rails app:update` hanging on master bug.
  railties/lib/rails/generators/rails/app/templates/bin/yarn.tt
Labels: railties

#40680 Link to API docs in Active Job Basics guide [ci-skip]
  guides/source/active_job_basics.md
Labels: docs

#40702 Always render Action Text HTML with :html format
  actiontext/lib/action_text/content.rb
  actiontext/test/dummy/app/views/messages/show.json.erb
  actiontext/test/integration/controller_render_test.rb
Labels: actiontext

#40700 ActionView: Serialize Regexp into HTML attribute
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#40673 Test Action Text install generator
  actiontext/lib/generators/action_text/install/install_generator.rb
  railties/test/fixtures/Rakefile
  railties/test/generators/action_text_install_generator_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/generators_test_helper.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: actiontext, railties

#40662 Permit hash on direct upload in active storage
  activestorage/app/controllers/active_storage/direct_uploads_controller.rb
  activestorage/test/controllers/direct_uploads_controller_test.rb
Labels: activestorage

#40661 serialization docs: clarify YAML, JSON, custom use cases and show complete custom coder example
  activerecord/lib/active_record/attribute_methods/serialization.rb
Labels: activerecord

#40657 Transform Hash into HTML atrributes for ERB interpolation
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#40348 Don't evaluate ERB in the ujs test server
  actionview/test/ujs/server.rb
Labels: actionview

#40069 Added test cases for Action Mailbox generator
  railties/test/generators/action_mailbox_install_generator_test.rb
Labels: railties

#39929 Unify `decorate_attribute_type` and `attribute`
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/attributes_test.rb
Labels: activerecord

#40716 Always recommend `config.asset_host` in guides, examples, and docs
  actionmailbox/test/dummy/config/environments/production.rb
  actiontext/test/dummy/config/environments/production.rb
  activestorage/test/dummy/config/environments/production.rb
  guides/source/action_mailer_basics.md
  guides/source/action_view_helpers.md
  guides/source/asset_pipeline.md
  guides/source/configuring.md
  railties/lib/rails/generators/actions.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: actionmailbox, actiontext, activestorage, docs, railties

#40703 Fix bad return value of `HashWithIndifferentAccess#deep_transform_keys`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/hash/keys.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#40709 Update Action Mailer guide on delivery methods in callbacks
  guides/source/action_mailer_basics.md
Labels: docs

#40503 Increasing Puma's worker timeout in development
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties

#40045 Adds a fix to whitelist hostnames with case-insensitive matching
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/test/dispatch/host_authorization_test.rb
Labels: actionpack
