Repository rails/rails, pull requests merged in 2020-01, with the labels that each got.

#38135 Remove Travis CI files
  .travis.yml
  actionpack/test/abstract_unit.rb
  ci/travis.rb
Labels: actionpack

#38136 Use travel_to to in date_helper_test.rb.
  actionview/test/template/date_helper_test.rb
Labels: actionview

#38141 Mime::Mimes#symbols should return a always up to date reference:
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionpack/test/controller/mime/accept_format_test.rb
  actionpack/test/dispatch/mime_type_test.rb
Labels: actionpack

#38133 Separate with space between table name and columns list in SQL of insert_all
  activerecord/lib/active_record/insert_all.rb
Labels: activerecord

#38139 Add to the log format "*/*" if using a not found format:
  actionpack/lib/action_controller/log_subscriber.rb
  actionpack/test/controller/log_subscriber_test.rb
Labels: actionpack

#38140 Add `ActionDispatch::HostAuthorization` to "Configuring Middleware" guide [ci skip]
  guides/source/configuring.md
Labels: docs

#38119 Fix regression, enforce fresh ETag header after collection contents change
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/collection_cache_key_test.rb
Labels: actionpack, activerecord

#38116 Fix regression where AJ#perform_now doesn't return the job's value:
  activejob/lib/active_job/callbacks.rb
  activejob/lib/active_job/execution.rb
  activejob/lib/active_job/instrumentation.rb
  activejob/test/cases/callbacks_test.rb
  activejob/test/cases/logging_test.rb
Labels: activejob

#38151 Pass env_name as a string in test databases
  activerecord/lib/active_record/test_databases.rb
  activerecord/test/cases/test_databases_test.rb
Labels: activerecord

#38153 Update "The Hard Way" setup for Arch Linux
  guides/source/development_dependencies_install.md
Labels: docs

#38130 Fix adding non-null column to existing SQLite3 table
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#37299 Include primary key in insert_all conflict target if specified
  activerecord/lib/active_record/insert_all.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord, stale

#38159 Fix the broken anchor of link [ci skip]
  guides/source/active_record_postgresql.md
Labels: docs

#38148 Add `:round_mode` parameter support to number helpers
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/numeric/conversions.rb
  activesupport/lib/active_support/locale/en.yml
  activesupport/lib/active_support/number_helper.rb
  activesupport/lib/active_support/number_helper/number_to_rounded_converter.rb
  activesupport/lib/active_support/number_helper/rounding_helper.rb
  activesupport/test/core_ext/numeric_ext_test.rb
  activesupport/test/number_helper_i18n_test.rb
  activesupport/test/number_helper_test.rb
Labels: activesupport

#38099 Avoid unnecessary SQL query when calling ActiveRecord::Relation#cache_key
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/collection_cache_key_test.rb
Labels: activerecord

#38144 Define mattr_* methods at caller's location
  actionview/test/template/form_options_helper_test.rb
  activesupport/lib/active_support/core_ext/module/attribute_accessors.rb
  activesupport/test/core_ext/module/attribute_accessor_test.rb
Labels: actionview, activesupport

#38167 Use full option names in psql / pg_dump for clarity
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
Labels: activerecord

#38166 Only assign @new_record_before_save once in autosave_association
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
  guides/source/active_record_callbacks.md
Labels: activerecord, docs

#36664 Add ActiveRecord::Validations::NumericalityValidator
  activemodel/lib/active_model/validations/numericality.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/validations.rb
  activerecord/lib/active_record/validations/numericality.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
  activerecord/test/schema/schema.rb
  guides/source/active_record_validations.md
Labels: activemodel, activerecord, docs, pinned

#37404 Fix collision check when using a generator and using the force option
  railties/CHANGELOG.md
  railties/lib/rails/generators/base.rb
  railties/test/application/generators_test.rb
Labels: railties

#38170 Update `open_ended?` to support new Ruby 2.6 endless and Ruby 2.7 beginless ranges
  activerecord/lib/arel/predications.rb
Labels: activerecord

#38163 Add match 302 http code for log in redirect_to test
  actionpack/test/controller/log_subscriber_test.rb
Labels: actionpack

#38131 Allow #nulls_first and #nulls_last in PostgreSQL
  activerecord/lib/arel/nodes.rb
  activerecord/lib/arel/nodes/ordering.rb
  activerecord/lib/arel/nodes/unary.rb
  activerecord/lib/arel/visitors/postgresql.rb
  activerecord/test/cases/arel/visitors/postgres_test.rb
Labels: activerecord

#37955 Prevent NoMethodError on named route in integration test
  actionpack/lib/action_dispatch/testing/integration.rb
  actionpack/test/controller/integration_test.rb
Labels: actionpack

#38124 Defaults content_type to application/octet-stream in blob_record.js
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/app/javascript/activestorage/blob_record.js
Labels: activestorage

#38179 Restore previous behavior of parallel test databases
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/test_databases.rb
  activerecord/test/cases/test_databases_test.rb
Labels: activerecord

#38183 Add AC::TestSession#dig method like AD::Request::Session
  actionpack/lib/action_controller/test_case.rb
  actionpack/test/dispatch/session/test_session_test.rb
Labels: actionpack

#38184 Memoize regex when checking missing route keys
  actionpack/lib/action_dispatch/journey/formatter.rb
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/test/journey/path/pattern_test.rb
Labels: actionpack

#38118 Reduce the number of records loaded when preloading across a `has_one`
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/test/cases/associations/cascaded_eager_loading_test.rb
  activerecord/test/models/author.rb
Labels: activerecord

#38188 Remove method encode from url_test in Actionmailer:
  actionmailer/test/url_test.rb
Labels: actionmailer

#38186 Deprecate using `Range#include?` to check the inclusion of a value in a date time range
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/range/include_time_with_zone.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport, docs

#38169 Delayed middleware delete does not allow move operations
  actionpack/lib/action_dispatch/middleware/stack.rb
  actionpack/test/dispatch/middleware_stack_test.rb
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/configuration.rb
  railties/test/configuration/middleware_stack_proxy_test.rb
Labels: actionpack, docs, railties

#38195 Do not define instance predicate if the instance reader isn't as well
  activesupport/lib/active_support/core_ext/class/attribute.rb
  activesupport/test/core_ext/class/attribute_test.rb
Labels: activesupport

#38190 Deprecate "primary" as a connection_specification_name for ActiveRecord::Base
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/multiple_db_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/unconnected_test.rb
Labels: activerecord

#38208 Typo fix of visbility.
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/javascript/action_cable/connection_monitor.js
Labels: actioncable

#38193 Fix numericality validator when defined on abstract class:
  activerecord/lib/active_record/validations/numericality.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
Labels: activerecord

#38204 Ensure the reading connection always raises if we try to write
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/database_selector_test.rb
Labels: activerecord

#38197 Reduce number of created objects in Hash#as_json
  activesupport/lib/active_support/core_ext/object/json.rb
Labels: activesupport

#38210 Fix NumericalityValidator when precision is too high:
  activerecord/lib/active_record/validations/numericality.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#38063 Fix ActionController::TestSession#id to return Rack::Session::SessionId instance
  actionpack/lib/action_controller/test_case.rb
  actionpack/test/dispatch/session/test_session_test.rb
Labels: actionpack

#38200 [ci skip] Brazilian portuguese translation effort
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#38203 Put dev dependencies in generated plugin Gemfile
  railties/lib/rails/generators/rails/plugin/templates/%name%.gemspec.tt
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#38211 Do not re-parse PATH_INFO when validating authenticity token
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/test/controller/request_forgery_protection_test.rb
Labels: actionpack

#34727 Finding Orphan Records
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_chain_test.rb
Labels: activerecord

#38217 Reduce number of created objects in Hash#to_json
  activesupport/lib/active_support/json/encoding.rb
Labels: activesupport

#38216 rack 2.1.0 changed expires date format from rfc2822 to httpdate
  Gemfile
  Gemfile.lock
  actionpack/test/dispatch/cookies_test.rb
  actionpack/test/dispatch/response_test.rb
  actionpack/test/dispatch/session/cookie_store_test.rb
Labels: actionpack

#38128 Remove Ruby 2.7 warning on arg forwarding
  actionpack/lib/action_dispatch/testing/integration.rb
  actionpack/test/controller/integration_test.rb
Labels: actionpack

#38206 Fix NoMethodError on ActiveSupport::Cache::RedisCacheStore#clear with…
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#38212 Add scale support to ActiveRecord::Validations::NumericalityValidator
  activemodel/lib/active_model/validations/numericality.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/validations/numericality.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
  activerecord/test/schema/schema.rb
Labels: activemodel, activerecord

#38227 Fix CI error with minitest 5.14
  activesupport/lib/active_support/testing/parallelization.rb
Labels: activesupport

#38230 Pass Benchmark.ms block through to realtime
  activesupport/lib/active_support/core_ext/benchmark.rb
Labels: activesupport

#38231 Remove an empty line from generated migration
  activerecord/lib/rails/generators/active_record/migration/templates/migration.rb.tt
Labels: activerecord

#38236 prevent helper_method from calling to_hash
  actionpack/lib/abstract_controller/helpers.rb
  actionpack/test/controller/helper_test.rb
Labels: actionpack

#38238 fix typos
  activejob/CHANGELOG.md
  activerecord/test/cases/adapters/sqlite3/transaction_test.rb
  railties/CHANGELOG.md
Labels: activejob, activerecord, railties

#38240 Don't encourage using octals for dates and times
  actionmailer/test/message_delivery_test.rb
  activesupport/lib/active_support/testing/time_helpers.rb
  activesupport/test/time_travel_test.rb
Labels: actionmailer, activesupport

#37940 Introduce ActiveSupport Disallowed Deprecations
  activesupport/lib/active_support/deprecation.rb
  activesupport/lib/active_support/deprecation/behaviors.rb
  activesupport/lib/active_support/deprecation/disallowed.rb
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/test/deprecation_test.rb
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
Labels: activesupport, docs, railties

#37773 Only enqueue analysis jobs when blob is analyzable
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob/analyzable.rb
  activestorage/lib/active_storage/analyzer.rb
  activestorage/lib/active_storage/analyzer/null_analyzer.rb
  activestorage/test/models/attachment_test.rb
Labels: activestorage

#38246 Mark working_with_javascript_in_rails as WIP
  guides/source/documents.yaml
Labels: docs

#38254 Reduce FILENAME_MAX_SIZE to accomodate large PIDs
  activesupport/lib/active_support/cache/file_store.rb
Labels: activesupport

#37171 Add method ActionCable::Channel#stop_stream_from, ActionCable::Channe…
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/channel/streams.rb
  actioncable/test/channel/stream_test.rb
  actioncable/test/stubs/test_adapter.rb
Labels: actioncable

#38256 Deprecate and replace `#default_hash` and `#[]`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/railties/databases.rake
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/adapters/mysql2/connection_test.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/transaction_test.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/database_configurations_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  railties/lib/rails/info.rb
  railties/test/application/initializers/frameworks_test.rb
  railties/test/application/initializers/hooks_test.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/application/test_runner_test.rb
Labels: activerecord, railties

#38260 Fix keyword arguments warnings in Active Job
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/message_delivery.rb
  actionmailer/lib/action_mailer/parameterized.rb
  actionmailer/test/mailers/delayed_mailer.rb
  actionmailer/test/message_delivery_test.rb
  activejob/lib/active_job/arguments.rb
  activejob/lib/active_job/core.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/lib/active_job/execution.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: actionmailer, activejob

#38266 Add falcon to the available rack servers
  railties/lib/rails/commands/server/server_command.rb
Labels: railties

#38269 Cache compiled view templates when running tests by default
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#38275 Fix doc code formatting [ci skip]
  activesupport/lib/active_support/deprecation/behaviors.rb
  activesupport/lib/active_support/deprecation/reporting.rb
Labels: activesupport

#38273 Add test for figcaption in actiontext
  actiontext/test/unit/plain_text_conversion_test.rb
Labels: actiontext

#38267 Fix keyword arguments warnings in Active Job
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/delivery_job.rb
  actionmailer/lib/action_mailer/mail_delivery_job.rb
  actionmailer/lib/action_mailer/message_delivery.rb
  actionmailer/lib/action_mailer/parameterized.rb
  actionmailer/test/mailers/delayed_mailer.rb
  actionmailer/test/message_delivery_test.rb
  activejob/lib/active_job/arguments.rb
  activejob/lib/active_job/configured_job.rb
  activejob/lib/active_job/core.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/lib/active_job/execution.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: actionmailer, activejob

#38278 guides -> active_job -> add que backend [ci skip]
  guides/source/active_job_basics.md
Labels: docs

#38258 Deprecate `#remove_connection` in favor of `#remove_connection_pool`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_pool_config_test.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/pooled_connections_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/support/connection_helper.rb
Labels: activerecord

#38290 Update list of middleware for API-only in Guides
  guides/source/api_app.md
Labels: docs

#38283 Allow schema cache path to be defined in the database configuration file
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#38250 Skip keeps option shouldn't restrict from creating empty directories
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#38295 Use path instead of fullpath on validating authenticity token
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/test/controller/request_forgery_protection_test.rb
Labels: actionpack

#38247 Allow updating the database selector context with the response and not only the request
  activerecord/lib/active_record/middleware/database_selector.rb
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/lib/active_record/middleware/database_selector/resolver/session.rb
  activerecord/test/cases/database_selector_test.rb
Labels: activerecord

#38235 Move advisory lock to it's own connection
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/advisory_lock_base.rb
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#38297 Update Migration number from 5.0 to current 6.0 [ci skip]
  guides/source/active_record_migrations.md
Labels: docs

#37488 Use the model's adapter for the attribute type lookup
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/type.rb
Labels: activerecord

#38298 Document the return value of update_all [ci skip]
  activerecord/lib/active_record/relation.rb
Labels: activerecord

#38311 Update Migration number to ensure consistency on the document [ci skip]
  guides/source/active_record_basics.md
  guides/source/association_basics.md
Labels: docs

#38317 Update code return value in debugging rails guide [ci skip]
  guides/source/debugging_rails_applications.md
Labels: docs

#37393 Add CacheStore connection pool docs to guide
  guides/source/caching_with_rails.md
Labels: docs

#38314 Pass over the multi-db guide [ci skip]
  guides/source/active_record_multiple_databases.md
Labels: docs

#38305 Parallelize activesupport test suite
  activesupport/lib/active_support/cache.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/cache/behaviors/cache_instrumentation_behavior.rb
  activesupport/test/cache/behaviors/connection_pool_behavior.rb
  activesupport/test/cache/stores/file_store_test.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
  activesupport/test/core_ext/file_test.rb
  activesupport/test/encrypted_configuration_test.rb
  activesupport/test/encrypted_file_test.rb
Labels: activesupport

#37948 Add benchmark generator
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/benchmark/USAGE
  railties/lib/rails/generators/rails/benchmark/benchmark_generator.rb
  railties/lib/rails/generators/rails/benchmark/templates/benchmark.rb.tt
  railties/test/generators/benchmark_generator_test.rb
Labels: railties

#37969 Make small performance refactors to callbacks
  activesupport/lib/active_support/callbacks.rb
Labels: activesupport

#38320 Avoid making query when using `where(attr: out-of-range-value)`
  activerecord/lib/active_record/relation/where_clause.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#38319 Expose `klass.default_scoped` as public API
  activerecord/lib/active_record/scoping/named.rb
  activerecord/test/cases/scoping/relation_scoping_test.rb
Labels: activerecord

#38327 Allow checking whether an attribute previously changed from/to a particular value
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/dirty.rb
  activemodel/test/cases/dirty_test.rb
Labels: activemodel

#38268 Revise Getting Started Guide
  guides/source/getting_started.md
Labels: docs

#38338 Regexp-escape table name for MS SQL
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#38339 Force connected_to to load the records if it's a Relation
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
Labels: activerecord

#38323 Deduplicate empty `@if` and `@unless` arrays in Active Support callbacks
  activesupport/lib/active_support/callbacks.rb
Labels: activesupport

#37614 Use transform_values to build hash_rows
  activerecord/lib/active_record/result.rb
Labels: activerecord, stale

#38349 Cleanup cache expanded_key
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#38348 Use correct filename for schema cache on load
  activerecord/lib/active_record/railtie.rb
  railties/test/application/loading_test.rb
Labels: activerecord, railties

#38352 Add support for `if_exists/if_not_exists` on `remove_column/add_column`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#38355 Save a string allocation for each attribute method call
  activemodel/lib/active_model/attribute_methods.rb
Labels: activemodel
