Repository rails/rails, pull requests merged in 2021-08, with the labels that each got.

#40655 Allows ensuring_owner_was option only with dependent as destroy_async
  activerecord/lib/active_record/associations/builder/has_many.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
Labels: actioncable, actionmailbox, activerecord

#42934 Reduce allocations and retentions in Journey TransitionTable
  actionpack/lib/action_dispatch/journey/gtg/transition_table.rb
Labels: actionpack

#42061 Add `ActiveRecord::QueryMethods#in_order_of`.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/field_ordered_values_test.rb
Labels: activerecord

#41392 Raise error on invalid fixture primary key
  activerecord/lib/active_record/fixture_set/table_row.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/fixtures/primary_key_error/primary_key_error.yml
Labels: activerecord

#41841 Add `ActiveRecord::Relation#structurally_compatible?`.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/delegation_test.rb
  activerecord/test/cases/relation/structural_compatibility_test.rb
Labels: activerecord, needs feedback

#42458 Replace dependency tracker with ripper based tracker
  actionview/lib/action_view/dependency_tracker.rb
  actionview/lib/action_view/dependency_tracker/erb_tracker.rb
  actionview/lib/action_view/dependency_tracker/ripper_tracker.rb
  actionview/lib/action_view/render_parser.rb
  actionview/lib/action_view/ripper_ast_parser.rb
  actionview/test/fixtures/digestor/messages/show.html.erb
  actionview/test/template/dependency_tracker_test.rb
Labels: actionview

#42947 Default to ERB Tracker
  actionview/lib/action_view/dependency_tracker.rb
Labels: actionview

#42948 Address "NameError: Rails couldn't find a valid model for Club association"
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_many_through_disable_joins_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/cases/inheritance_test.rb
  activerecord/test/cases/store_test.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#42926 Document Active Storage implicit transformations [ci-skip]
  guides/source/active_storage_overview.md
Labels: docs

#39723 Create database via UI when ActiveRecord::NoDatabaseError
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/errors.rb
Labels: actionpack, activerecord, railties

#42913 Allow entirely opting out of deprecation warnings
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/deprecation/behaviors.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/test/deprecation_test.rb
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/test/application/configuration_test.rb
Labels: activesupport, railties, docs

#42916 Avoid logging delayed job arguments if log_arguments set to false
  activejob/lib/active_job/queue_adapters/delayed_job_adapter.rb
  activejob/test/cases/delayed_job_adapter_test.rb
Labels: activejob

#42954 Fix kwargs delegation in `PerThreadRegistry#method_missing`
  activesupport/lib/active_support/per_thread_registry.rb
  activesupport/test/per_thread_registry_test.rb
Labels: activesupport

#42963 API Docs: Use Arel.sql examples that require Arel.sql
  activerecord/lib/active_record/errors.rb
  activerecord/lib/arel.rb
Labels: activerecord

#42961 Remove docs on multiple applications
  railties/lib/rails/application.rb
Labels: railties

#42965 Fix generated MIME methods to recognize kwargs
  actionpack/lib/abstract_controller/collector.rb
  actionpack/test/abstract/collector_test.rb
Labels: actionpack

#42969 Create shared examples for dependency tracker tests
  actionview/test/template/dependency_tracker_test.rb
Labels: actionview

#42938 Add database specific setup and reset tasks for multidb configurations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  guides/source/active_record_multiple_databases.md
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties, docs

#42240 Add Marginalia to Rails, via QueryLogs
  actionpack/lib/action_controller/railtie.rb
  activejob/lib/active_job/railtie.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/query_logs.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/query_logs_test.rb
  railties/test/application/query_logs_test.rb
Labels: actionpack, activerecord, railties, activejob

#42984 Sprockets shouldn't be in debug mode by default in development
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/test/application/assets_test.rb
Labels: railties

#42986 Turn off rack-mini-profiler by default due to interference with etag cache testing
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#42987 `ActiveRecord::InternalMetadata.[]`: Simplify `pluck(:value).first` to `pick(:value)`
  activerecord/lib/active_record/internal_metadata.rb
Labels: activerecord

#42985 Stop trying to configure listen by default on compatible platforms
  Gemfile.lock
  actionmailbox/test/dummy/config/environments/development.rb
  actiontext/test/dummy/config/environments/development.rb
  activestorage/test/dummy/config/environments/development.rb
  guides/source/command_line.md
  guides/source/getting_started.md
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/generators_test_helper.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: railties, docs, activestorage, actionmailbox, actiontext

#42996 Remove legacy --skip-gemfile option from the days of Bundler opposition
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#42998 Puma is the only option used for the web server
  railties/lib/rails/app_updater.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#43000 Remove docs of now gone --skip-gemfile
  guides/source/command_line.md
Labels: docs

#42997 Remove spring as a default installation option
  activejob/test/support/integration/helper.rb
  guides/source/command_line.md
  guides/source/getting_started.md
  guides/source/rails_application_templates.md
  railties/lib/rails/app_updater.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/app/templates/bin/rails.tt
  railties/lib/rails/generators/rails/app/templates/bin/rake.tt
  railties/lib/rails/generators/rails/app/templates/bin/spring.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/spring.rb.tt
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/generators_test_helper.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: railties, docs, activejob

#43006 Restore the behavior of journey root node methods
  actionpack/lib/action_dispatch/journey/nodes/node.rb
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/lib/action_dispatch/journey/route.rb
  actionpack/lib/action_dispatch/journey/router.rb
  actionpack/lib/action_dispatch/journey/routes.rb
  actionpack/test/journey/route_test.rb
Labels: actionpack

#42967 Clean up missing dots in changelogs
  actionview/CHANGELOG.md
  activerecord/CHANGELOG.md
  activesupport/CHANGELOG.md
Labels: docs

#43009 Move length-validation for encrypted columns after schema is loaded
  activerecord/lib/active_record/encryption/encryptable_record.rb
Labels: activerecord

#43010 Ensure image processing gem is enabled when turning on action text so image uploads work out-of-the-box
  actiontext/lib/generators/action_text/install/install_generator.rb
  railties/test/generators/action_text_install_generator_test.rb
Labels: railties, actiontext

#43011 Action Text installer should assume importmap for asset pipeline
  actiontext/lib/generators/action_text/install/install_generator.rb
  railties/test/generators/action_text_install_generator_test.rb
Labels: railties, actiontext

#43021 Minor improvements to Encryptable records
  activerecord/lib/active_record/encryption/encryptable_record.rb
Labels: activerecord

#43013 Make active record encryption work with store attributes
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/test/cases/encryption/encryptable_record_test.rb
  activerecord/test/models/traffic_light_encrypted.rb
Labels: activerecord

#41437 Added Active Storage support for byte ranges
  activestorage/CHANGELOG.md
  activestorage/app/controllers/active_storage/blobs/proxy_controller.rb
  activestorage/app/controllers/concerns/active_storage/streaming.rb
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/controllers/blobs/proxy_controller_test.rb
Labels: activestorage, ready, thisweekinrails

#42960 Fix open redirects in active storage
  activestorage/app/controllers/active_storage/blobs/redirect_controller.rb
  activestorage/app/controllers/active_storage/representations/redirect_controller.rb
  activestorage/test/controllers/blobs/redirect_controller_test.rb
  activestorage/test/controllers/representations/redirect_controller_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage, ready

#42979 Add `weekday_options_for_select` method
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_options_helper.rb
  actionview/lib/action_view/helpers/tags.rb
  actionview/lib/action_view/helpers/tags/weekday_select.rb
  actionview/test/template/form_options_helper_test.rb
Labels: actionview

#43026 Fixes test cases for replace webpack with importmapped Hotwire as def…
  actiontext/lib/generators/action_text/install/install_generator.rb
  railties/test/application/rake_test.rb
  railties/test/generators/action_text_install_generator_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties, actiontext

#42794 Add database config option `database_tasks: false`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/database_configurations/hash_config_test.rb
  guides/source/active_record_multiple_databases.md
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties, docs

#43028 Do not hook the classic autoloader anymore
  actionpack/test/abstract_unit.rb
  actionpack/test/controller/helper_test.rb
  actionview/test/abstract_unit.rb
  actionview/test/actionpack/abstract/helper_test.rb
  activesupport/lib/active_support/dependencies.rb
  activesupport/lib/active_support/dependencies/zeitwerk_integration.rb
  activesupport/test/dependencies_test.rb
  guides/source/autoloading_and_reloading_constants.md
  railties/lib/rails/application/bootstrap.rb
  railties/lib/rails/application/finisher.rb
  railties/lib/rails/engine.rb
  railties/test/application/configuration_test.rb
  railties/test/application/zeitwerk_integration_test.rb
Labels: actionpack, activesupport, railties, docs, actionview

#43034 Replace kwarg for displaying all configurations
  activerecord/lib/active_record/database_configurations.rb
  activerecord/test/cases/database_configurations_test.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
Labels: activerecord, railties

#43032 Tweak unreachable assertion tests in the block of `assert_raises`
  .rubocop.yml
  Gemfile
  Gemfile.lock
  actionmailbox/test/unit/router_test.rb
  actionpack/test/dispatch/routing/route_set_test.rb
  actionpack/test/dispatch/routing_test.rb
  actionview/test/template/render_test.rb
  activejob/test/cases/exceptions_test.rb
  railties/test/application/routing_test.rb
Labels: actionpack, railties, actionview, activejob, actionmailbox

#43024 Avoid `orders_count` in Active Record `order` guide examples
  guides/source/active_record_querying.md
Labels: docs

#43048 Drop orphan methods in AS::Dependencies
  actionpack/lib/abstract_controller/helpers.rb
  actionpack/lib/abstract_controller/railties/routes_helpers.rb
  activesupport/lib/active_support/dependencies.rb
  activesupport/test/dependencies_test.rb
  guides/source/active_support_core_extensions.md
Labels: actionpack, activesupport, docs, thisweekinrails

#43052 Improve description of ActiveRecord.joins [ci-skip]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#43018 [DOCS] Improve Documentation for ActiveRecord's order Method [ci-skip]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord, docs

#43058 Delete AS::Dependencies.(safe_)constantize
  actionpack/lib/action_dispatch/http/request.rb
  activerecord/lib/active_record/inheritance.rb
  activerecord/test/cases/inheritance_test.rb
  activerecord/test/config.rb
  activerecord/test/models/invokes_an_undefined_method.rb
  activerecord/test/models/raises_argument_error.rb
  activerecord/test/models/raises_no_method_error.rb
  activesupport/lib/active_support/dependencies.rb
  activesupport/lib/active_support/dependencies/zeitwerk_integration.rb
  railties/test/application/zeitwerk_integration_test.rb
Labels: actionpack, activerecord, activesupport, railties, thisweekinrails

#43065 [GUIDES]: Fix ActiveStorage::FixtureSet.blob YAML
  guides/source/testing.md
Labels: docs

#43069 Don't use redundant curly braces in `where` examples [ci-skip]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord, docs

#43073 Delete AS::Dependencies.autoloaded?
  activesupport/lib/active_support/dependencies.rb
  activesupport/lib/active_support/dependencies/zeitwerk_integration.rb
  activesupport/test/dependencies_test.rb
  railties/test/application/zeitwerk_integration_test.rb
Labels: activesupport, railties

#43050 Reestablish connection to previous database after after running db:schema:load:name
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#43076 Make `QueryLogs.set_context` restore previous values
  activerecord/lib/active_record/query_logs.rb
  activerecord/test/cases/query_logs_test.rb
Labels: activerecord

#43078 Make ActiveRecord::QueryLogs default behavior to return the context content
  activerecord/lib/active_record/query_logs.rb
  activerecord/test/cases/query_logs_test.rb
Labels: activerecord

#43080 Final touches deleting the classic autoloader
  activesupport/lib/active_support/dependencies.rb
  activesupport/lib/active_support/dependencies/zeitwerk_integration.rb
  activesupport/test/dependencies_test.rb
  railties/lib/rails/application/finisher.rb
  railties/lib/rails/autoloaders.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/application/zeitwerk_integration_test.rb
Labels: activesupport, railties

#42945 Remove details_key-based Template cache
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/template/resolver.rb
  actionview/lib/action_view/unbound_template.rb
  actionview/test/actionpack/abstract/layouts_test.rb
  actionview/test/template/resolver_cache_test.rb
Labels: actionview

#43083 Add require to failing multi_db test
  railties/test/application/rake/multi_dbs_test.rb
Labels: railties

#43027 Add a test to catch regressions for render_to_string
  actionpack/test/controller/render_json_test.rb
  actionpack/test/controller/render_to_string_test.rb
Labels: actionpack

#43084 Upgrade azure-storage-blob to support ruby > 2.5
  Gemfile
  Gemfile.lock
  activestorage/lib/active_storage/service/azure_storage_service.rb
Labels: activestorage

#43079 Pass `ActiveRecord::QueryLogs` as argument rather than `instance_exec`
  actionpack/lib/action_controller/railtie.rb
  activejob/lib/active_job/railtie.rb
  activerecord/lib/active_record/query_logs.rb
  activerecord/test/cases/query_logs_test.rb
  railties/test/application/query_logs_test.rb
Labels: actionpack, activerecord, railties, activejob

#42253 Look yarnpkg in $PATH other than yarn
  railties/lib/rails/generators/rails/app/templates/bin/yarn.tt
Labels: railties

#43088 Make preload_link_tag work with images
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview, ready

#43091 Temporarily disable Azure service tests
  activestorage/test/test_helper.rb
Labels: activestorage

#43095 [GUIDES] Fix ActiveJob custom serializer typo [ci-skip]
  guides/source/active_job_basics.md
  guides/source/autoloading_and_reloading_constants.md
Labels: docs, ready

#43120 Improve casing in encryption guide headings [ci-skip]
  guides/source/active_record_encryption.md
Labels: docs

#42939 Instrument ActiveStorage analyzers
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/analyzer.rb
  activestorage/lib/active_storage/analyzer/audio_analyzer.rb
  activestorage/lib/active_storage/analyzer/image_analyzer/image_magick.rb
  activestorage/lib/active_storage/analyzer/image_analyzer/vips.rb
  activestorage/lib/active_storage/analyzer/video_analyzer.rb
  activestorage/test/analyzer/audio_analyzer_test.rb
  activestorage/test/analyzer/image_analyzer/image_magick_test.rb
  activestorage/test/analyzer/image_analyzer/vips_test.rb
  activestorage/test/analyzer/video_analyzer_test.rb
  activestorage/test/test_helper.rb
  guides/source/active_support_instrumentation.md
Labels: docs, activestorage, ready

#43036 avoid calling attributes.keys in ActiveModel#serializable_hash
  activemodel/lib/active_model/serialization.rb
Labels: activemodel

#43124 Use static message when raising HTTP request parameter parse errors
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/parameters.rb
  actionpack/test/dispatch/request/json_params_parsing_test.rb
Labels: actionpack

#43119 Add HEIF image types to variable content types
  activestorage/lib/active_storage/engine.rb
  guides/source/configuring.md
Labels: docs, activestorage

#43101 Address `FixturesWithForeignKeyViolationsTest#test_does_not_raise_if_no_fk_violations` error
  activerecord/test/cases/associations/has_many_through_disable_joins_associations_test.rb
  activerecord/test/cases/relation/and_test.rb
  activerecord/test/cases/relation/where_chain_test.rb
Labels: activerecord

#43089 Support gem comments in Rails templates
  railties/CHANGELOG.md
  railties/lib/rails/generators/actions.rb
  railties/test/generators/actions_test.rb
Labels: railties

#43118 Add SSL support for postgresql in `bin/rails dbconsole`
  railties/CHANGELOG.md
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
Labels: railties

#43128 Update missing Rails mailing list URLs [ci-skip]
  RELEASING_RAILS.md
Labels: ready

#43109 Clarify STI acronym [ci-skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#43127 Fix weak links on guides [ci-skip]
  guides/source/active_storage_overview.md
  guides/source/rails_application_templates.md
Labels: docs

#43111 Fix links inconsistency on Active Storage overview guide [ci-skip]
  guides/source/active_storage_overview.md
Labels: docs

#43139 No need to have special accommodations for a github version of web-console in dev/edge/main
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/generators/app_generator_test.rb
Labels: railties
