Repository rails/rails, pull requests merged in 2021-07, with the labels that each got.

#41722 Always use OpenSSL constants for Digest operations
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/subscription_adapter/postgresql.rb
  actionmailbox/CHANGELOG.md
  actionmailbox/app/models/action_mailbox/inbound_email/message_id.rb
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/http_authentication.rb
  actionpack/test/controller/http_digest_authentication_test.rb
  actiontext/CHANGELOG.md
  actiontext/lib/action_text/attachments/caching.rb
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_url_helper.rb
  activejob/CHANGELOG.md
  activejob/test/support/integration/adapters/sneakers.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/app/models/active_storage/variant.rb
  activestorage/app/models/active_storage/variation.rb
  activestorage/lib/active_storage/downloader.rb
  activestorage/lib/active_storage/service/disk_service.rb
  activestorage/test/controllers/direct_uploads_controller_test.rb
  activestorage/test/controllers/disk_controller_test.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/service/azure_storage_public_service_test.rb
  activestorage/test/service/azure_storage_service_test.rb
  activestorage/test/service/gcs_public_service_test.rb
  activestorage/test/service/gcs_service_test.rb
  activestorage/test/service/mirror_service_test.rb
  activestorage/test/service/s3_public_service_test.rb
  activestorage/test/service/s3_service_test.rb
  activestorage/test/service/shared_service_tests.rb
  activestorage/test/test_helper.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/digest/uuid.rb
  activesupport/test/core_ext/digest/uuid_test.rb
Labels: actioncable, actionmailbox, actionpack, actiontext, actionview, activejob, activerecord, activestorage, activesupport

#42668 Fixes changelog entry after addition of #41722
  activerecord/CHANGELOG.md
Labels: activerecord

#42652 Allow removing LocalCache middleware in application.rb
  actionpack/lib/action_dispatch/middleware/stack.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#42675 Fix "wrong number of arguments" error
  actionpack/lib/action_dispatch/system_testing/driver.rb
Labels: actionpack, ready

#42676 Address `NameError: uninitialized constant Digest::UUID::OpenSSL`
  activesupport/lib/active_support/core_ext/digest/uuid.rb
Labels: activesupport

#42680 Fix CI failure caused by error_highlight gem
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/inheritance_test.rb
  activerecord/test/cases/nested_attributes_test.rb
  activesupport/test/core_ext/module/attribute_accessor_per_thread_test.rb
  activesupport/test/core_ext/module/attribute_accessor_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  railties/test/application/loading_test.rb
Labels: activerecord, activesupport, railties

#42673 Fix new framework defaults for `destroy_all_in_batches`
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: railties, ready

#41559 Add :country_code option to sms_to
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview, stale

#42657 Ensure Action Text migration use config set primary_key_type
  actiontext/db/migrate/20180528164100_create_action_text_tables.rb
Labels: actiontext

#42601 Clear cached has_one association after removing belongs_to association
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
Labels: activerecord, ready

#42687 unsafe_load secrets.yml with psych 4
  railties/lib/rails/secrets.rb
Labels: railties

#42333 Clean up checks to see if DidYouMean.correct_error is defined
  actionpack/lib/abstract_controller/base.rb
  actionpack/lib/action_controller/metal/exceptions.rb
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/base_test.rb
  actionpack/test/controller/required_params_test.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionpack/test/dispatch/routing_test.rb
  actionview/test/template/render_test.rb
  activerecord/lib/active_record/associations.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/cases/associations/join_model_test.rb
  activerecord/test/models/author.rb
  activerecord/test/models/face.rb
  activerecord/test/models/human.rb
  railties/lib/rails/command/base.rb
Labels: actionpack, actionview, activerecord, activesupport, railties

#42693 Remove linebreak from hash_digest_class framework defaults for consistency
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: railties

#42694 Generators should raise an error if an attribute has an invalid index
  railties/CHANGELOG.md
  railties/lib/rails/generators/generated_attribute.rb
  railties/test/generators/generated_attribute_test.rb
  railties/test/generators/migration_generator_test.rb
  railties/test/generators/model_generator_test.rb
Labels: railties

#42706 Fix link to incorrect method in API docs
  activerecord/lib/active_record/errors.rb
Labels: activerecord

#42707 config_for accepts root shared as an array
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: railties

#42714 destroy_all_in_batches is off by default for newly generated Rails apps.
  activerecord/CHANGELOG.md
Labels: activerecord, ready

#42720 Clarify new_framework_defaults instructions
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: railties

#42703 Fix ActiveStorage guide links [ci-skip]
  guides/source/active_storage_overview.md
Labels: docs, ready

#42655 Deleting an item from the Middleware stack should raise if the item is not found
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/stack.rb
  actionpack/test/dispatch/middleware_stack_test.rb
Labels: actionpack, ready

#42722 Add missing new defaults to new_framework_defaults_7_0.rb.tt
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: docs, railties

#42719 Micro-optimize ActiveRecord::Core#hash
  activerecord/lib/active_record/core.rb
Labels: activerecord

#42674 Verify foreign keys after loading fixtures
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/referential_integrity.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/fixtures.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/fixtures/fk_object_to_point_to.yml
  activerecord/test/schema/schema.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
  railties/test/application/configuration_test.rb
Labels: activerecord, docs, railties

#41283 Handle error when file does not exist at filepath
  actionview/lib/action_view/renderer/template_renderer.rb
  actionview/test/template/render_test.rb
Labels: actionview

#42666 Improve logging of schema cache at startup.
  activerecord/lib/active_record/railtie.rb
Labels: activerecord

#42729 Fix clearing the inverse relation when has_many_inversing is enabled
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#42733 Small improvements on active model
  activemodel/lib/active_model/errors.rb
  activemodel/lib/active_model/naming.rb
Labels: activemodel

#42728 Handle paths with spaces when editing credentials
  railties/lib/rails/commands/credentials/credentials_command.rb
Labels: railties, ready

#42726 Truncate more ActionCable broadcast messages to 300 chars
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/server/broadcasting.rb
Labels: actioncable

#42736 Ask contributors to update the documentation [ci-skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#42735 Update active storage guide to match recent PRs [ci-skip]
  guides/source/active_storage_overview.md
Labels: docs

#42749 [CI skip] Add `(see below)` notations to threading documentation
  guides/source/threading_and_code_execution.md
Labels: docs

#42672 Configure browser only when using Selenium
  actionpack/lib/action_dispatch/system_testing/driver.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack

#42459 Log a warning when assertions are incorrectly nested and errors are raised
  actioncable/lib/action_cable/test_helper.rb
  activejob/lib/active_job/test_helper.rb
  activesupport/lib/active_support/testing/assertions.rb
  activesupport/test/test_case_test.rb
Labels: actioncable, activejob, activesupport

#42763 Revert "Merge pull request #40445 from robertomiranda/destroy_all-in_…
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/has_many_through_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/relation/delete_all_test.rb
  activerecord/test/cases/relations_test.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: activerecord, railties

#42765 Fix spelling in compute_class warning
  activerecord/lib/active_record/reflection.rb
Labels: activerecord

#42762 Add docs for `attr_readonly`
  activerecord/lib/active_record/readonly_attributes.rb
Labels: activerecord

#42754 Add 'requirements' subsection to active storage guide [ci-skip]
  guides/source/active_storage_overview.md
Labels: docs

#42760 Add CHANGELOG for #42674
  activerecord/CHANGELOG.md
Labels: activerecord

#42756 Add CHANGELOG message for PR #41283
  actionview/CHANGELOG.md
Labels: actionview, ready

#42772 [ci-skip] Typo fix in activerecord changelog
  activerecord/CHANGELOG.md
Labels: activerecord

#42773 Define adapter type maps statically when possible
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/type/type_map.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/type/type_map_test.rb
Labels: activerecord

#42775 Fix spelling of "whether" to fix the CI
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: railties

#42776 Refactor ActiveRecord::Type::TypeMap
  activerecord/lib/active_record/type/hash_lookup_type_map.rb
  activerecord/lib/active_record/type/type_map.rb
  activerecord/test/cases/type/type_map_test.rb
Labels: activerecord

#42764 Avoid using class var in LoggerThreadSafeLevel
  activesupport/lib/active_support/logger_thread_safe_level.rb
Labels: activesupport

#42723 Use IAM for URL signing with GCS when no credentials are provided
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/service/gcs_service.rb
  activestorage/test/service/configurations.example.yml
  activestorage/test/service/gcs_service_test.rb
  guides/source/active_storage_overview.md
Labels: activestorage, docs

#42739 Resolve bug in nested FormBuilder#field_id
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview, ready

#42768 Exclude added flash types from action_methods
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/flash.rb
  actionpack/test/controller/flash_test.rb
Labels: actionpack

#42779 Speed up template lookups by avoiding splats and ===
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/path_set.rb
  actionview/test/template/lookup_context_test.rb
Labels: actionview

#42654 Add `available_records` argument to Associations::Preloader
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/lib/active_record/associations/preloader/batch.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/models/essay.rb
Labels: activerecord

#42766 Update service.rb
  activestorage/lib/active_storage/service.rb
Labels: activestorage

#42777 Store requested detail indexes in hashes
  actionview/lib/action_view/template_details.rb
Labels: actionview

#42761 Parallelize tests only when there are enough to justify the parallelization overhead
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/test_case.rb
  activesupport/lib/active_support/testing/parallelization.rb
  activesupport/lib/active_support/testing/parallelize_executor.rb
  guides/source/testing.md
  railties/test/application/configuration_test.rb
  railties/test/application/test_runner_test.rb
Labels: activesupport, docs, railties

#42778 Move forced encoding on deterministic encryption to the default encryptor
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/lib/active_record/encryption/encryptor.rb
Labels: activerecord

#42781 Show keyboard focus indicator in guides [ci-skip]
  guides/assets/stylesheets/reset.css
Labels: docs, ready

#42786 Fix bug with TypeMap default values
  activerecord/lib/active_record/type/type_map.rb
  activerecord/test/cases/type/type_map_test.rb
Labels: activerecord

#41127 Added possibility to check on `:priority` in test helper methods
  activejob/CHANGELOG.md
  activejob/lib/active_job/queue_adapters/test_adapter.rb
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/test_helper_test.rb
Labels: activejob

#42782 Fix `eager_loading?` when ordering with `Hash` syntax
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#42785 Used already defined method parallelized? and fixed semantics of test name.
  activesupport/lib/active_support/testing/parallelize_executor.rb
  railties/test/application/test_runner_test.rb
Labels: activesupport, railties

#42795 Remove "transversal" from the Active Support definition
  guides/source/active_support_core_extensions.md
  guides/source/documents.yaml
Labels: docs

#42800 Fix contrast ratio for guide syntax highlighting [ci-skip]
  guides/assets/stylesheets/highlight.css
Labels: docs, ready

#42799 Fix text contrast for guide header and footer [ci-skip]
  guides/assets/stylesheets/main.css
Labels: docs, ready

#42789 Add an option to configure parallelization threshold at the test case level
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/test_case.rb
  activesupport/lib/active_support/testing/parallelize_executor.rb
  guides/source/testing.md
  railties/test/application/configuration_test.rb
  railties/test/application/test_runner_test.rb
Labels: activesupport, docs, railties

#42796 Fix NilClass#try and NilClass#try! performance slowdown in Ruby 2.7+
  activesupport/lib/active_support/core_ext/object/try.rb
Labels: activesupport

#42804 Add option to disable schema dumb per-database
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/railties/databases.rake
  activerecord/test/cases/database_configurations/hash_config_test.rb
  railties/test/application/rake/migrations_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#41391 Fix #41388 by preserving protocol and port when generating routes
  activestorage/CHANGELOG.md
  activestorage/app/controllers/concerns/active_storage/set_current.rb
  activestorage/app/models/active_storage/current.rb
  activestorage/lib/active_storage/service/disk_service.rb
  activestorage/test/service/disk_service_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#42805 Fix inconsistent heading level in guides [ci-skip]
  guides/source/3_2_release_notes.md
  guides/source/action_cable_overview.md
  guides/source/action_mailer_basics.md
  guides/source/testing.md
Labels: docs

#42812 Fix minor typo [ci skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#42751 Add change tracking methods for `belongs_to` associations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/lib/active_record/associations/belongs_to_polymorphic_association.rb
  activerecord/lib/active_record/associations/builder/association.rb
  activerecord/lib/active_record/associations/builder/belongs_to.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  guides/source/association_basics.md
Labels: activerecord, docs

#42740 Document ActiveStorage::Attachment#variant
  activestorage/app/models/active_storage/attachment.rb
Labels: activestorage, ready

#42803 db:migrate:status: Sort migration ID as integer for consistency.
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migrator_test.rb
  activerecord/test/migrations/old_and_new_versions/20210716122844_add_people_description.rb
  activerecord/test/migrations/old_and_new_versions/20210716123013_add_people_number_of_legs.rb
  activerecord/test/migrations/old_and_new_versions/230_add_people_hobby.rb
  activerecord/test/migrations/old_and_new_versions/231_add_people_last_name.rb
Labels: activerecord, ready

#42742 Document ActiveStorage::Preview#download [ci-skip]
  activestorage/app/models/active_storage/preview.rb
Labels: activestorage, ready

#42821 Add `Middleware#remove` to delete middleware or raise if not found.
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/stack.rb
  actionpack/test/dispatch/middleware_stack_test.rb
Labels: actionpack

#42790 Deprecate `poltergeist` and `webkit` driver registration. Add `cuprite`.
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/system_test_case.rb
  actionpack/lib/action_dispatch/system_testing/driver.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
  guides/source/testing.md
Labels: actionpack, docs

#42649 Refactor local cache to avoid serializing entries twice
  activesupport/lib/active_support/cache/file_store.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/null_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/lib/active_support/cache/strategy/local_cache.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#42827 Correct Inflector.humanize keep_id_suffix argument docs
  activesupport/lib/active_support/core_ext/string/inflections.rb
  activesupport/lib/active_support/inflector/methods.rb
Labels: activesupport

#42829 Address FixturesWithForeignKeyViolationsTest#test_does_not_raise_if_no_fk_violations error
  activerecord/test/cases/adapters/mysql2/explain_test.rb
  activerecord/test/cases/adapters/postgresql/explain_test.rb
  activerecord/test/cases/adapters/sqlite3/explain_test.rb
Labels: activerecord

#42833 MemCacheStore: Properly duplicate local cache values in 6.1 mode
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#39428 Allow using thread variables for CurrentAttributes instances
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#42831 Fix dirty check for Float::NaN and BigDecimal::NaN
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/type/helpers/numeric.rb
  activemodel/test/cases/type/decimal_test.rb
  activemodel/test/cases/type/float_test.rb
Labels: activemodel

#42825 Add host authorization middleware options to the config guide [ci-skip]
  guides/source/configuring.md
Labels: docs

#42842 Avoid double wait in EventedFileUpdateCheckerTest
  activesupport/test/evented_file_update_checker_test.rb
  activesupport/test/file_update_checker_shared_tests.rb
  activesupport/test/file_update_checker_test.rb
Labels: activesupport

#42832 Slimmer ActiveModel::Errors#inspect message
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/errors.rb
  activemodel/test/cases/errors_test.rb
Labels: activemodel

#42845 Isolate descendants garbage collection test
  activesupport/test/descendants_tracker_test_cases.rb
Labels: activesupport

#42839 Remove nodoc from EachValidator [ci-skip]
  activemodel/lib/active_model/validator.rb
  guides/source/active_record_validations.md
Labels: activemodel, docs

#42854 Fix current_page? when URL has trailing slash
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview

#42855 Fix `to_json` after `changes_applied` for `ActiveModel::Dirty` object
  activemodel/lib/active_model/dirty.rb
  activemodel/test/cases/dirty_test.rb
Labels: activemodel

#42863 Remove outdated comment in `ActiveRecord::Associations::AssociationScope#add_constraints`
  activerecord/lib/active_record/associations/association_scope.rb
Labels: activerecord

#42808 Pass log_rescued_responses as environment config
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/lib/action_dispatch/railtie.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#42809 Don't require ActionDispatch::{Request,Response}
  actionpack/lib/action_controller/metal.rb
  actionpack/lib/action_dispatch/middleware/actionable_exceptions.rb
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
  actionpack/lib/action_dispatch/routing/redirection.rb
  railties/lib/rails/rack/logger.rb
Labels: actionpack, railties

#42876 Active job basic doc grammatical mistakes fixed [ci-skip]
  activejob/README.md
  guides/source/active_job_basics.md
Labels: activejob, docs

#42857 Make Action Text + Trix JS/CSS available via the asset pipeline
  actiontext/CHANGELOG.md
  actiontext/README.md
  actiontext/app/assets/javascripts/action_text.js
  actiontext/app/assets/javascripts/trix.js
  actiontext/app/assets/stylesheets/trix.css
  actiontext/app/javascript/trix/mirror.js
  actiontext/lib/action_text/engine.rb
  actiontext/lib/generators/action_text/install/install_generator.rb
  actiontext/lib/generators/action_text/install/templates/actiontext.scss
  actiontext/package.json
  actiontext/rollup.config.js
  railties/test/generators/action_text_install_generator_test.rb
Labels: actiontext, railties

#42860 FIX: Setting remove_deprecated_time_with_zone_name in new framework defaults
  activesupport/lib/active_support/railtie.rb
  railties/test/application/configuration_test.rb
Labels: activesupport, railties, ready

#42853 Render copy-to-clipboard text in element attribute [ci-skip]
  guides/assets/stylesheets/main.css
  guides/assets/stylesheets/main.rtl.css
  guides/rails_guides/markdown/renderer.rb
Labels: docs

#42881 Remove leak when using CurrentAttributes in thread variables
  activesupport/lib/active_support/current_attributes.rb
Labels: activesupport

#42811 Remove mechanism to disable test parallelization based on number of test files
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/test_case.rb
  railties/lib/rails/test_unit/runner.rb
  railties/test/application/test_runner_test.rb
Labels: activesupport, railties

#42889 Fix :nodoc: [ci skip]
  activesupport/lib/active_support/notifications.rb
Labels: activesupport

#40822 Fix retrieving default value for text column for MariaDB
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/schema_dumper_test.rb
Labels: activerecord, ready

#42891 Fix column names on Customer model
  guides/source/active_record_querying.md
Labels: docs

#42702 Add favicon to internal routes `/favicon.ico`
  railties/lib/rails/templates/rails/welcome/index.html.erb
Labels: railties, ready

#42870 assert_changes works on including ActiveSupport::Assertions class
  activesupport/lib/active_support/testing/assertions.rb
  activesupport/test/testing/method_call_assertions_test.rb
Labels: activesupport, ready

#42626 Remove LocalCache in FileStore
  activesupport/lib/active_support/cache/file_store.rb
  activesupport/test/cache/stores/file_store_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: activesupport, railties

#42894 Fix incomplete :nodoc: directives [ci-skip]
  actionview/lib/action_view/template/error.rb
  activerecord/lib/active_record/attribute_methods/read.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/core.rb
Labels: actionview, activerecord

#42867 "Middleware#remove" is renamed "Middleware#delete!"
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/stack.rb
  actionpack/test/dispatch/middleware_stack_test.rb
  guides/source/rails_on_rack.md
Labels: actionpack, docs, ready

#42895 Move Active Storage JS to ESM and drop Babel transpiling
  actiontext/app/assets/javascripts/action_text.js
  activestorage/README.md
  activestorage/app/assets/javascripts/activestorage.esm.js
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/lib/active_storage/engine.rb
  activestorage/package.json
  activestorage/rollup.config.js
Labels: actiontext, activestorage

#42896 Add more detail about what hosts are allowed
  actionpack/lib/action_dispatch/middleware/templates/rescues/blocked_host.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/blocked_host.text.erb
Labels: actionpack

#42897 Remove offensive wording from active record
  activerecord/lib/active_record/reflection.rb
Labels: activerecord

#42898 No underscore style for actiontext.js
  actiontext/README.md
  actiontext/app/assets/javascripts/actiontext.js
  actiontext/lib/action_text/engine.rb
  actiontext/lib/generators/action_text/install/install_generator.rb
  actiontext/rollup.config.js
Labels: actiontext

#42892 Update resolve_link_as to include SVG
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#41442 Improve help for Rake tasks
  railties/CHANGELOG.md
  railties/lib/rails/command.rb
  railties/test/application/rake_test.rb
Labels: railties, ready

#41457 Add missing plugin command to help
  railties/CHANGELOG.md
  railties/lib/rails/commands/help/USAGE
Labels: railties, ready

#41761 `retry_on` parameter `attempts` now accepts `:unlimited`
  activejob/CHANGELOG.md
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
  activejob/test/jobs/retry_job.rb
Labels: activejob, ready

#42744 Make vips the default variant processor for new apps
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/variant.rb
  activestorage/app/models/active_storage/variation.rb
  activestorage/test/controllers/representations/proxy_controller_test.rb
  activestorage/test/controllers/representations/redirect_controller_test.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/models/preview_test.rb
  activestorage/test/models/representation_test.rb
  activestorage/test/models/variant_test.rb
  activestorage/test/models/variant_with_record_test.rb
  activestorage/test/template/image_tag_test.rb
  activestorage/test/test_helper.rb
  activestorage/test/urls/rails_storage_proxy_url_test.rb
  activestorage/test/urls/rails_storage_redirect_url_test.rb
  guides/source/active_storage_overview.md
  guides/source/configuring.md
  guides/source/upgrading_ruby_on_rails.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
  railties/test/application/configuration_test.rb
Labels: activestorage, docs, railties, ready

#42819 Representable docs: Refer to the 'variant processor' not ImageMagick
  activestorage/app/models/active_storage/blob/representable.rb
  activestorage/lib/active_storage/transformers/image_processing_transformer.rb
Labels: activestorage, docs, ready

#42030 Add support for defining default values as option for ActiveSupport::Configurable accessors
  activesupport/lib/active_support/configurable.rb
  activesupport/test/configurable_test.rb
Labels: activesupport, ready

#42810 Truncate more ActionCable broadcast messages to 300 chars
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/server/broadcasting.rb
Labels: actioncable, ready

#41822 Help identifying why we have an InvalidAuthenticityToken exception
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/test/controller/request_forgery_protection_test.rb
Labels: actionpack, needs feedback, ready

#42515 Orphaned attachment relationship safe navigation (42514)
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/attachment.rb
  activestorage/test/models/attachment_test.rb
Labels: activestorage, ready

#42358 Credentials: support hash style access in more cases
  activesupport/lib/active_support/encrypted_configuration.rb
  activesupport/test/encrypted_configuration_test.rb
Labels: activesupport, ready

#41728 Add `include_seconds` option for `time_field`
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/lib/action_view/helpers/tags/time_field.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview, ready

#42395 Permit attachments in inbound email conductor mail params
  actionmailbox/CHANGELOG.md
  actionmailbox/app/controllers/rails/conductor/action_mailbox/inbound_emails_controller.rb
  actionmailbox/test/dummy/config/environments/test.rb
Labels: actionmailbox, ready

#42903 Fix MemCacheStore local cache duplication
  activesupport/lib/active_support/cache/mem_cache_store.rb
Labels: activesupport

#42905 s/octopus/cactus
  activesupport/lib/active_support/inflector/inflections.rb
Labels: activesupport

#42911 Remove regex alteration for custom routes
  actionpack/lib/action_dispatch/journey/nodes/node.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/journey/nodes/symbol_test.rb
Labels: actionpack

#39935 Introduce Journey::Ast to avoid extra ast walks
  actionpack/lib/action_dispatch/journey/nodes/node.rb
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/lib/action_dispatch/journey/route.rb
  actionpack/lib/action_dispatch/journey/router.rb
  actionpack/lib/action_dispatch/journey/routes.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/controller/routing_test.rb
  actionpack/test/journey/nodes/ast_test.rb
  actionpack/test/journey/path/pattern_test.rb
  actionpack/test/journey/route_test.rb
  actionpack/test/support/path_helper.rb
Labels: actionpack, pinned

#42915 Fix `eager_loading?` when ordering with `Symbol`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord
