Repository rails/rails, pull requests merged in 2021-03, with the labels that each got.

#41557 Replace `ImmediateExecutor` with nothing
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/asynchronous_queries_test.rb
  activerecord/test/cases/relation/load_async_test.rb
Labels: activerecord

#41558 Clarify html_options usage in `button_to` method API docs [ci-skip]
  actionview/lib/action_view/helpers/url_helper.rb
Labels: actionview

#41563 Stop generating a license for in-app plugins
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/lib/rails/generators/rails/plugin/templates/%name%.gemspec.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#41588 Fix controller name in Getting Started [ci skip]
  guides/source/getting_started.md
Labels: docs

#41585 [ci skip] Update adapter name to be mysql2
  guides/source/active_record_multiple_databases.md
Labels: docs

#41579 Allow all tree managers' initializer takes a table
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/arel/delete_manager.rb
  activerecord/lib/arel/insert_manager.rb
  activerecord/lib/arel/update_manager.rb
Labels: activerecord

#41592 Fix `Time.at` to not lose `in` option
  activesupport/lib/active_support/core_ext/time/calculations.rb
  activesupport/test/core_ext/time_ext_test.rb
Labels: activesupport

#41586 Don't execute queries in background when max_threads is 0
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/asynchronous_queries_test.rb
  activerecord/test/cases/relation/load_async_test.rb
Labels: activerecord

#41598 Remove special case filtering for Procs.
  actionpack/test/controller/filters_test.rb
  activesupport/lib/active_support/callbacks.rb
  activesupport/test/callbacks_test.rb
  activesupport/test/test_case_test.rb
Labels: actionpack, activesupport

#41589 Remove `Arel::Crud` from `Arel::Table`
  activerecord/lib/arel/table.rb
  activerecord/test/cases/arel/table_test.rb
Labels: activerecord

#41601 Make .excluding work when no arguments are passed
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/excluding_test.rb
Labels: activerecord

#41604 Make .excluding work when a nil argument is passed
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/excluding_test.rb
Labels: activerecord

#41582 Removed test for deprecated active_storage combine_options
  activestorage/test/models/variant_test.rb
Labels: activestorage

#41610 Missing require for `delegate` in `ActiveSupport::CurrentAttributes`
  activesupport/lib/active_support/current_attributes.rb
Labels: activesupport

#41490 Fix CREATE INDEX statement generation for PostgreSQL
  activerecord/lib/active_record/connection_adapters/abstract/schema_creation.rb
  activerecord/test/cases/adapters/postgresql/active_schema_test.rb
Labels: activerecord

#41614 Update external links in security guide [ci-skip]
  guides/source/security.md
Labels: docs

#41615 [ci skip] Fix typos in Rails autoloading guide
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#41618 Fix ActionMailer's deliver later default queue
  actionmailer/lib/action_mailer/base.rb
Labels: actionmailer

#41613 Fix aggregate attribute on Enum types
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#41621 Fix phone_to API documentation sample output [ci skip]
  actionview/lib/action_view/helpers/url_helper.rb
Labels: actionview

#41623 [ci skip] Fix typos and grammatical errors in autoloading guide
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#41608 Fixes the asynchronous_queries_test.rb to use assert_equal over assert for comparison
  activerecord/test/cases/asynchronous_queries_test.rb
Labels: activerecord

#41624 CollectionProxy#any? docs: Mention "load.any?"
  activerecord/lib/active_record/associations/collection_proxy.rb
Labels: activerecord

#40899 Use image/jpeg instead of non-standard image/jpg
  actionmailbox/test/controllers/ingresses/mandrill/inbound_emails_controller_test.rb
  actionmailbox/test/fixtures/files/welcome.eml
  actionpack/lib/action_controller/metal/mime_responds.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/controller/test_case_test.rb
  actionpack/test/dispatch/request/multipart_params_parsing_test.rb
  actiontext/test/unit/attachment_test.rb
  actiontext/test/unit/content_test.rb
  actiontext/test/unit/model_test.rb
  activestorage/README.md
  activestorage/lib/active_storage/attached/many.rb
  activestorage/lib/active_storage/attached/one.rb
  activestorage/test/controllers/disk_controller_test.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
  activestorage/test/service/shared_service_tests.rb
  guides/source/kindle/rails_guides.opf.erb
Labels: actionmailbox, actionpack, actiontext, activestorage, docs

#41158 Add 'config.action_text.attachment_tag_name'
  actiontext/CHANGELOG.md
  actiontext/app/helpers/action_text/content_helper.rb
  actiontext/lib/action_text/attachment.rb
  actiontext/lib/action_text/attachment_gallery.rb
  actiontext/lib/action_text/attachments/minification.rb
  actiontext/lib/action_text/content.rb
  actiontext/lib/action_text/engine.rb
  actiontext/test/unit/content_test.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: actiontext, docs, railties

#41564 Remove require_dependency from controller templates
  railties/lib/rails/generators/rails/controller/templates/controller.rb.tt
  railties/lib/rails/generators/rails/scaffold_controller/templates/api_controller.rb.tt
  railties/lib/rails/generators/rails/scaffold_controller/templates/controller.rb.tt
  railties/test/generators/namespaced_generators_test.rb
Labels: railties

#41630 chore: fix spelling
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/database_configurations/hash_config_test.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#41633 [ci skip] Not `masked_authenticity_token` but `form_authenticity_token` should be a public API
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
Labels: actionpack

#41629 Autoloading docs: Grammar/style tweaks
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#41635 Add pointer cursor to Exception layout
  actionpack/lib/action_dispatch/middleware/templates/rescues/layout.erb
Labels: actionpack

#41568 Use stable branch for --edge option when possible
  railties/lib/rails/generators/app_base.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#41577 Avoid extra `BindParam` allocation to generate placeholder in queries
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/relation/where_clause.rb
  activerecord/lib/arel/nodes/casted.rb
  activerecord/lib/arel/predications.rb
  activerecord/lib/arel/visitors/to_sql.rb
Labels: activerecord

#41599 Add CHANGELOG entry for type casting enum values by the subtype
  activerecord/CHANGELOG.md
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#41639 Add docs for `insert_all` with scopes
  activerecord/lib/active_record/persistence.rb
Labels: activerecord

#41640 Quote the arguments passed to the Contains/Overlaps Arel nodes
  activerecord/lib/arel/predications.rb
  activerecord/test/cases/arel/attributes/attribute_test.rb
Labels: activerecord

#41565 Add app concern and test keepfiles to generated engine plugins
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#41641 Fix merging select values from a different model's relation
  activerecord/lib/active_record/relation/merger.rb
  activerecord/test/cases/relation/select_test.rb
Labels: activerecord

#41648 [ci skip] corrected the output of maximum in ActiveSupport changelog
  activesupport/CHANGELOG.md
Labels: activesupport

#41590 Forward sql.active_record notifications back into the calling thread
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/future_result.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/asynchronous_queries_test.rb
  activerecord/test/cases/relation/load_async_test.rb
  activesupport/lib/active_support/notifications.rb
  activesupport/lib/active_support/notifications/fanout.rb
  activesupport/lib/active_support/notifications/instrumenter.rb
  activesupport/lib/active_support/subscriber.rb
  activesupport/test/notifications/instrumenter_test.rb
  activesupport/test/subscriber_test.rb
Labels: activerecord, activesupport

#41645 Clarify when `enctype="multipart/form-data"` gets added to forms [docs]
  actionview/lib/action_view/helpers/form_helper.rb
  guides/source/form_helpers.md
Labels: actionview, docs

#41654 Active Storage: `Blob` creation shouldn't crash if no service selected
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#41668 [Docs] Lowercase a word that shouldn't be capitalized
  activerecord/lib/active_record/nested_attributes.rb
Labels: activerecord

#41672 Fix numericality validator without precision in Active Record
  activerecord/lib/active_record/validations/numericality.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
Labels: activerecord

#41596 Allow Preloader to group through association queries
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/lib/active_record/associations/preloader/batch.rb
  activerecord/lib/active_record/associations/preloader/branch.rb
  activerecord/lib/active_record/associations/preloader/through_association.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/models/comment.rb
  activerecord/test/models/discount.rb
  activerecord/test/models/invoice.rb
  activerecord/test/models/line_item.rb
  activerecord/test/models/shipping_line.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#41597 Add Preloader::Association::LoaderQuery
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/lib/active_record/associations/preloader/batch.rb
  activerecord/lib/active_record/relation/where_clause.rb
  activerecord/test/cases/relation/where_clause_test.rb
Labels: activerecord

#41688 Handle false in relation strict loading checks
  activerecord/lib/active_record/associations/association.rb
  activerecord/test/cases/strict_loading_test.rb
  activerecord/test/models/developer.rb
  activestorage/test/models/attachment_test.rb
Labels: activerecord, activestorage

#41690 fix typo
  actionpack/test/controller/live_stream_test.rb
Labels: actionpack

#41675 Don't use `type.cast(value)` to emulate unchecked serialized value in `unboundable?`
  activemodel/lib/active_model/attribute.rb
  activemodel/lib/active_model/type/integer.rb
  activerecord/lib/active_record/enum.rb
  activerecord/lib/active_record/relation/query_attribute.rb
  activerecord/test/cases/enum_test.rb
Labels: activemodel, activerecord

#41068 Fix binds logging for "WHERE ... IN ..." statements
  activerecord/lib/active_record/statement_cache.rb
  activerecord/lib/arel/collectors/bind.rb
  activerecord/lib/arel/collectors/composite.rb
  activerecord/lib/arel/collectors/sql_string.rb
  activerecord/lib/arel/collectors/substitute_binds.rb
  activerecord/lib/arel/nodes/homogeneous_in.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/log_subscriber_test.rb
Labels: activerecord

#41697 Ensure modules are preloaded correctly using rel=modulepreload.
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#41284 Always render attachment partials as HTML with :html format inside trix editor
  actiontext/lib/action_text/attachments/trix_conversion.rb
  actiontext/test/dummy/app/views/messages/edit.json.erb
  actiontext/test/integration/controller_render_test.rb
Labels: actiontext

#41703 Use `...` argument forwarding instead of ruby2_keywords when possible
  actionpack/lib/action_controller/metal.rb
  actionpack/lib/action_dispatch/routing/url_for.rb
  activejob/lib/active_job/configured_job.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/lib/active_job/execution.rb
  activerecord/test/cases/adapters/mysql2/active_schema_test.rb
  activerecord/test/cases/adapters/postgresql/active_schema_test.rb
  railties/lib/rails/configuration.rb
Labels: actionpack, activejob, activerecord, railties

#41705 [skip-ci] Add documentation to HashWithIndifferentAccess#except
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#41708 Remove useless `include_private` parameter in `define_proxy_call`
  activemodel/lib/active_model/attribute_methods.rb
Labels: activemodel

#41707 Add missing require to hash_with_indifferent_access
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#41602 Fix rollback of parent destruction with nested dependent:destroy
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#41716 Fix Float::INFINITY assignment to datetime attributes
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods/time_zone_conversion.rb
  activerecord/test/cases/adapters/postgresql/infinity_test.rb
Labels: activerecord

#41723 Fixes Action Text specs on Rails 6.1 stable failing after backporting a commit
  actiontext/test/fixtures/action_text/rich_texts.yml
  actiontext/test/fixtures/messages.yml
  actiontext/test/fixtures/people.yml
Labels: actiontext

#41712 Remove requires and references to OrderedHash
  activesupport/lib/active_support/core_ext/object/json.rb
  activesupport/test/core_ext/hash_ext_test.rb
  activesupport/test/core_ext/object/to_query_test.rb
  activesupport/test/hash_with_indifferent_access_test.rb
  guides/source/active_support_core_extensions.md
Labels: activesupport, docs

#41729 Fix the test case for #14855 to catch a future regression correctly
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#41080 Update template files to follow the standard gem code formatter recommendations
  .gitignore
  railties/lib/rails/generators/rails/app/templates/app/mailers/application_mailer.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/boot.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/assets.rb.tt
  railties/lib/rails/generators/rails/app/templates/test/test_helper.rb.tt
Labels: railties

#41734 Batch queries that are the same but are using different extension
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/models/post.rb
Labels: activerecord

#41733 More consistent quotes in template files
  railties/lib/rails/generators/rails/app/templates/bin/rails.tt
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
  railties/lib/rails/generators/rails/app/templates/bin/yarn.tt
  railties/lib/rails/generators/rails/plugin/templates/bin/rails.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#41731 Fix typo in 6.1 release notes
  guides/source/6_1_release_notes.md
Labels: docs

#41736 remove unecessary sufix
  guides/source/action_mailer_basics.md
Labels: docs

#41737 Use triple-dot delegation in ForkTracker
  activesupport/lib/active_support/fork_tracker.rb
Labels: activesupport

#41740 Fix keyword args delegation in ForkTracker (6.1 backport)
  activesupport/lib/active_support/fork_tracker.rb
Labels: activesupport

#41713 'lookup' -> 'look up' in dummy webpacker.ymls
  actionmailbox/test/dummy/config/webpacker.yml
  actiontext/test/dummy/config/webpacker.yml
  activestorage/test/dummy/config/webpacker.yml
Labels: actionmailbox, actiontext, activestorage

#41744 [ci skip] Fix SQL result of `Book.joins(reviews: :customer)` query example
  guides/source/active_record_querying.md
Labels: docs

#41714 Prevent double save of cyclic associations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#41725 [skip-ci] Add table for shallow routing to routing doc
  guides/source/routing.md
Labels: docs

#41747 Add `_` prefix for the internal methods
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#41680 Document Destroy Async
  guides/source/association_basics.md
Labels: docs

#41745 Move @inspection_filter to the class to avoid marshal dumping it
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/filter_attributes_test.rb
Labels: activerecord

#40789 Deprecate assigning single `trusted_proxies` value
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/remote_ip.rb
  railties/test/application/middleware/remote_ip_test.rb
Labels: actionpack, railties

#41754 Simplify and memoize Preloader::Branch#polymorphic?
  activerecord/lib/active_record/associations/preloader/branch.rb
Labels: activerecord

#41704 Add n_plus_one_only mode to Core#strict_loading!
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#41741 ActiveRecord: Optimize cache_key computation
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/collection_cache_key_test.rb
Labels: activerecord

#41670 [ci skip] Fix Grammatical Errors and Eliminate Ambiguous Wordings in Multiple Database Documents
  guides/source/active_record_multiple_databases.md
Labels: docs

#41759 Revert "Prevent double save of cyclic associations"
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#41756 Probe with :array? instead of :oid
  activerecord/lib/active_record/model_schema.rb
Labels: activerecord

#41760 Give precedence to the DatabaseTasks registered last
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#41770 Fix deprecation warning on Actionpack request test
  actionpack/test/dispatch/request_test.rb
Labels: actionpack

#41765 Specifiy association :validate option only applies to new associated objects
  guides/source/association_basics.md
Labels: docs

#41764 Raise ArgumentError from TimeZone.iso8601 instead of KeyError
  activesupport/lib/active_support/values/time_zone.rb
  activesupport/test/time_zone_test.rb
Labels: activesupport

#41778 Add CHANGELOG entry for #41640
  activerecord/CHANGELOG.md
Labels: activerecord

#41774 Backport "Quote the arguments passed to the Contains/Overlaps Arel nodes"
  activerecord/CHANGELOG.md
  activerecord/lib/arel/predications.rb
  activerecord/test/cases/arel/attributes/attribute_test.rb
Labels: activerecord

#41786 Document `config.require_master_key` [docs] [ci-skip]
  guides/source/configuring.md
Labels: docs

#41255 Fix create migration generator with `--pretend` option
  railties/lib/rails/generators/actions/create_migration.rb
  railties/test/generators/create_migration_test.rb
Labels: railties

#41793 Fix LogSubscriber for buffered event w/ nil logger
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/test/log_subscriber_test.rb
Labels: activesupport

#41803 Fixes failing ActionText::ContentTest test cases
  actiontext/lib/action_text/attachment_gallery.rb
Labels: actiontext

#41791 Add: link to documentation [ci-skip]
  guides/source/action_mailbox_basics.md
Labels: docs

#41806 [6-0-stable] Backport Upgrade-safe URL-safe CSRF tokens #39076
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/test/controller/request_forgery_protection_test.rb
  guides/source/configuring.md
Labels: actionpack, docs

#41801 Optimize ActiveSupport::NumericWithFormat#to_s
  activesupport/lib/active_support/core_ext/numeric/conversions.rb
Labels: activesupport
