Repository rails/rails, pull requests merged in 2021-12, with the labels that each got.

#43758 Fix flakey test in notifications_test.rb
  activesupport/test/notifications_test.rb
Labels: activesupport

#43725 Action View: compile ERB templates with `# frozen_string_literal: true`
  actionview/lib/action_view/railtie.rb
  actionview/lib/action_view/template.rb
  actionview/test/template/render_test.rb
  guides/source/configuring.md
Labels: railties, docs, actionview

#43762 Fix upsert_all option typo
  activerecord/lib/active_record/persistence.rb
Labels: activerecord

#43763 Docs: clarify cache_classes
  guides/source/configuring.md
Labels: docs

#43764 Fix name of method for returning connection class
  activerecord/lib/active_record/core.rb
Labels: activerecord

#43771 Fix flakey test in Active Record dirty_test.rb
  activerecord/test/cases/dirty_test.rb
Labels: activerecord

#43591 fix actioncable module field in package.json
  actioncable/package.json
Labels: actioncable

#43774 Document `ActiveSupport::Testing::Deprecation`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/deprecation.rb
Labels: activesupport

#43766 Avoid passing {format:nil} from form_for/form_with to polymorphic_path
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview

#43765 Add authenticate_by when using has_secure_password
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/base.rb
  activerecord/lib/active_record/secure_password.rb
  activerecord/test/cases/secure_password_test.rb
  activerecord/test/models/user.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#43777 Use default application css even without sprockets
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: activerecord, railties, docs, activestorage

#43779 Convert attributes to Hash in authenticate_by
  activerecord/lib/active_record/secure_password.rb
  activerecord/test/cases/secure_password_test.rb
Labels: activerecord

#43772 Deprecate `to_s(format)` in favor of `to_formatted_s(format)`
  actionpack/lib/action_controller/metal/helpers.rb
  actionview/test/fixtures/replies.yml
  actionview/test/fixtures/topics.yml
  activemodel/lib/active_model/type/date.rb
  activemodel/lib/active_model/type/helpers/time_value.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/fixtures.rb
  activerecord/lib/active_record/integration.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/adapters/sqlite3/quoting_test.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/cache_key_test.rb
  activerecord/test/cases/collection_cache_key_test.rb
  activerecord/test/cases/core_test.rb
  activerecord/test/cases/integration_test.rb
  activerecord/test/cases/multiparameter_attributes_test.rb
  activerecord/test/cases/quoting_test.rb
  activerecord/test/fixtures/memberships.yml
  activerecord/test/fixtures/pirates.yml
  activesupport/lib/active_support/core_ext/array.rb
  activesupport/lib/active_support/core_ext/array/conversions.rb
  activesupport/lib/active_support/core_ext/array/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/date.rb
  activesupport/lib/active_support/core_ext/date/conversions.rb
  activesupport/lib/active_support/core_ext/date/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/date_time.rb
  activesupport/lib/active_support/core_ext/date_time/conversions.rb
  activesupport/lib/active_support/core_ext/date_time/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/numeric.rb
  activesupport/lib/active_support/core_ext/numeric/conversions.rb
  activesupport/lib/active_support/core_ext/numeric/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/range.rb
  activesupport/lib/active_support/core_ext/range/conversions.rb
  activesupport/lib/active_support/core_ext/range/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/time.rb
  activesupport/lib/active_support/core_ext/time/conversions.rb
  activesupport/lib/active_support/core_ext/time/deprecated_conversions.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/lib/active_support/time_with_zone.rb
  activesupport/lib/active_support/xml_mini.rb
  activesupport/test/core_ext/array/conversions_test.rb
  activesupport/test/core_ext/date_ext_test.rb
  activesupport/test/core_ext/date_time_ext_test.rb
  activesupport/test/core_ext/numeric_ext_test.rb
  activesupport/test/core_ext/range_ext_test.rb
  activesupport/test/core_ext/time_ext_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  activesupport/test/time_travel_test.rb
  guides/source/active_support_core_extensions.md
  guides/source/configuring.md
  guides/source/debugging_rails_applications.md
  guides/source/security.md
  railties/lib/rails/application/bootstrap.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/generated_attribute.rb
  railties/test/application/configuration_test.rb
  railties/test/generators/generated_attribute_test.rb
Labels: actionpack, activemodel, activerecord, activesupport, actionview

#42599 Use rails guides instead of edge guides [ci skip]
  activestorage/app/controllers/active_storage/blobs/proxy_controller.rb
  activestorage/app/controllers/active_storage/blobs/redirect_controller.rb
  activestorage/app/controllers/active_storage/representations/proxy_controller.rb
  activestorage/app/controllers/active_storage/representations/redirect_controller.rb
Labels: docs, activestorage

#43637 Fix Rails 7 Regression - ActiveStorage Content Disposition
  activestorage/app/controllers/active_storage/blobs/proxy_controller.rb
  activestorage/app/controllers/active_storage/representations/proxy_controller.rb
  activestorage/test/controllers/blobs/proxy_controller_test.rb
  activestorage/test/controllers/representations/proxy_controller_test.rb
Labels: activestorage

#43604 ActiveRecord::Migration next_migration_number should use numeric version comparison.
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#43786 Fix test name in `PathnameExistenceTest`
  activesupport/test/core_ext/pathname/existence_test.rb
Labels: activesupport

#43785 Remove trailing slash from comment linking to propshaft repository
  railties/lib/rails/generators/app_base.rb
Labels: railties

#43790 Remove obsolete option from new Rails 7.0 defaults
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: railties, docs

#43792 Fix typo in the rdoc for EncryptableRecord.encrypts
  activerecord/lib/active_record/encryption/encryptable_record.rb
Labels: activerecord

#43789 Removing caveat for automatic shard swapping [ci-skip]
  guides/source/active_record_multiple_databases.md
Labels: docs

#42919 Avoid unnecessary double string split in ActiveSupport::MessageVerifier#verified
  activesupport/lib/active_support/message_verifier.rb
Labels: activesupport, railties

#43787 Better proc/lambda route representation in `bin/rails routes`
  actionpack/lib/action_dispatch/routing/inspector.rb
  actionpack/test/dispatch/routing/inspector_test.rb
Labels: actionpack

#43798 Replace duplicate entries of to_formatted_s with to_fs
  activesupport/lib/active_support/core_ext/date/conversions.rb
  activesupport/lib/active_support/core_ext/date_time/conversions.rb
  activesupport/lib/active_support/core_ext/time/conversions.rb
Labels: activesupport

#43800 Fix RDoc comment for MigrationContext.migrate
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#43799 Move "Sprockets is now an optional dependency" to rails 7 upgrade notes
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#43802 Open Rails homepage in new tab
  railties/lib/rails/templates/rails/welcome/index.html.erb
Labels: railties

#43796 Move database and shard selection to middleware
  activerecord/CHANGELOG.md
  activerecord/lib/rails/generators/active_record/multi_db/multi_db_generator.rb
  activerecord/lib/rails/generators/active_record/multi_db/templates/multi_db.rb.tt
  guides/source/active_record_multiple_databases.md
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/test/generators/multi_db_generator_test.rb
Labels: activerecord, railties, docs

#42685 Use optimistic Rails version constraint in plugins
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#42684 Omit Rake test task from generated plugin
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/lib/rails/generators/rails/plugin/templates/test/test_helper.rb.tt
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/plugin_test_runner_test.rb
Labels: railties

#43807 Fix `assert_called_with` with empty `args` array
  activerecord/test/cases/secure_password_test.rb
  activesupport/lib/active_support/testing/method_call_assertions.rb
Labels: activerecord, activesupport

#43806 Use dynamic Rails version in framework dummy apps
  actionmailbox/test/dummy/config/application.rb
  actiontext/test/dummy/config/application.rb
  activestorage/test/dummy/config/application.rb
Labels: activestorage, actionmailbox, actiontext

#43805 Use current version in `new_framework_defaults_*.rb`
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#43368 Replaces the hash rocket operator in favor of the newer Ruby syntax on render
  actionpack/lib/abstract_controller/rendering.rb
  actionpack/test/controller/new_base/render_partial_test.rb
  actionpack/test/controller/new_base/render_template_test.rb
  actionpack/test/fixtures/functional_caching/html_fragment_cached_with_partial.html.erb
  actionpack/test/fixtures/functional_caching/inline_fragment_cached.html.erb
  actionpack/test/fixtures/layouts/with_html_partial.html.erb
  actionview/lib/action_view/rendering.rb
  actionview/test/fixtures/actionpack/layouts/_partial_and_yield.erb
  actionview/test/fixtures/actionpack/layouts/with_html_partial.html.erb
  actionview/test/fixtures/actionpack/layouts/yield_with_render_inline_inside.erb
  actionview/test/fixtures/actionpack/layouts/yield_with_render_partial_inside.erb
  actionview/test/fixtures/actionpack/test/_first_json_partial.json.erb
  actionview/test/fixtures/actionpack/test/change_priority.html.erb
  actionview/test/fixtures/actionpack/test/html_template.html.erb
  actionview/test/fixtures/actionpack/test/list.erb
  actionview/test/fixtures/actionpack/test/potential_conflicts.erb
  actionview/test/fixtures/actionpack/test/render_file_from_template.html.erb
  actionview/test/fixtures/actionpack/test/render_two_partials.html.erb
  actionview/test/fixtures/actionpack/test/with_html_partial.html.erb
  actionview/test/fixtures/actionpack/test/with_partial.html.erb
  actionview/test/fixtures/actionpack/test/with_partial.text.erb
  actionview/test/fixtures/actionpack/test/with_xml_template.html.erb
  actionview/test/fixtures/layouts/_partial_and_yield.erb
  actionview/test/fixtures/layouts/render_partial_html.erb
  actionview/test/fixtures/layouts/yield_with_render_inline_inside.erb
  actionview/test/fixtures/layouts/yield_with_render_partial_inside.erb
  actionview/test/fixtures/test/_first_json_partial.json.erb
  actionview/test/fixtures/test/_layout_with_partial_and_yield.html.erb
  actionview/test/fixtures/test/_one.html.erb
  actionview/test/fixtures/test/_partial_with_layout.erb
  actionview/test/fixtures/test/_partial_with_layout_block_content.erb
  actionview/test/fixtures/test/_partial_with_layout_block_partial.erb
  actionview/test/fixtures/test/change_priority.html.erb
  actionview/test/fixtures/test/html_template.html.erb
  actionview/test/fixtures/test/layout_render_object.erb
  actionview/test/fixtures/test/list.erb
  actionview/test/fixtures/test/nested_layout.erb
  actionview/test/fixtures/test/nested_streaming.erb
  actionview/test/fixtures/test/one.html.erb
  actionview/test/fixtures/test/render_two_partials.html.erb
  actionview/test/fixtures/test/sub_template_raise.html.erb
  actionview/test/fixtures/test/utf8.html.erb
  actionview/test/fixtures/test/utf8_magic.html.erb
  actionview/test/fixtures/test/utf8_magic_with_bare_partial.html.erb
  actionview/test/fixtures/with_format.json.erb
  actionview/test/template/dependency_tracker_test.rb
  railties/test/application/initializers/frameworks_test.rb
  railties/test/railties/engine_test.rb
Labels: actionpack, actionview

#43776 Update 20191206030411_create_active_storage_variant_records.rb
  activestorage/db/update_migrate/20191206030411_create_active_storage_variant_records.rb
Labels: activestorage

#43818 Merge pull request #43796 from eileencodes/move-database-and-shard-selector-to-generator
  activerecord/CHANGELOG.md
  activerecord/lib/rails/generators/active_record/multi_db/multi_db_generator.rb
  activerecord/lib/rails/generators/active_record/multi_db/templates/multi_db.rb.tt
  guides/source/active_record_multiple_databases.md
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/test/generators/multi_db_generator_test.rb
Labels: activerecord, railties, docs

#43820 Backport #42684 and #42685 to `7-0-stable`
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/lib/rails/generators/rails/plugin/templates/test/test_helper.rb.tt
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/plugin_test_runner_test.rb
Labels: railties

#43824 Fixes typo in 7_0 release notes
  guides/source/7_0_release_notes.md
Labels: docs

#43821 Handle broken encoding in `#write_query?`
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/test/cases/adapter_prevent_writes_test.rb
Labels: activerecord

#43735 `ActionController::TestCase`: reset instance variables after each request
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/testing.rb
  actionpack/lib/action_controller/test_case.rb
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#43828 Better handle SQL queries with invalid encoding
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/test/cases/adapter_prevent_writes_test.rb
Labels: activerecord

#43829 Better handle SQL queries with invalid encoding
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/test/cases/adapter_prevent_writes_test.rb
Labels: activerecord

#43825 Update Asset Pipeline Guide to describe how Sprockets 4 works
  guides/source/asset_pipeline.md
Labels: docs

#43832 Use Ruby regex for email validation in guide example
  guides/source/active_record_validations.md
Labels: docs

#43816 Remove memoization for limited_count
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#43834 Fix activerecord changelog [skip ci]
  activerecord/CHANGELOG.md
Labels: activerecord

#43795 fix: equivalent negative durations add to the same time
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/duration.rb
  activesupport/test/core_ext/duration_test.rb
Labels: activesupport, actioncable

#43847 fix test method naming
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#43845 Fix a mistype when calling ArgumentError
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
Labels: activerecord

#43838 Remove unused require
  activerecord/lib/active_record/type/adapter_specific_registry.rb
Labels: activerecord

#43839 Remove no longer needed workaround
  activerecord/lib/active_record/type/adapter_specific_registry.rb
Labels: activerecord

#43848 rm tmpfile added in 340b39e
  activesupport/test/d20210822-165787-1622pnb/non_existing.rb
Labels: activesupport

#43831 Allow default_timezone to vary between databases
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/integration.rb
  activerecord/lib/active_record/timestamp.rb
  activerecord/lib/active_record/type/internal/timezone.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/quoting_test.rb
Labels: activerecord

#43854 Fix missing return from ActionView::Helpers::NumberHelper#parse_float
  actionview/lib/action_view/helpers/number_helper.rb
  actionview/test/template/number_helper_test.rb
Labels: actionview

#43857 Fix flakey Memcache tests
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#43859 Eager autoload JoinDependency
  activerecord/lib/active_record/associations/join_dependency.rb
Labels: activerecord

#43487 Raise error on missing only unless
  actionpack/lib/abstract_controller/callbacks.rb
  actionpack/test/abstract/callbacks_test.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#43868 Allow localhost with a port by default in development
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/test/dispatch/host_authorization_test.rb
  railties/lib/rails/application/configuration.rb
Labels: actionpack, railties

#43408 Implement `field_id` in terms of the FormBuilder's `namespace:` option
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/lib/action_view/helpers/tags/base.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview

#43866 Generated Gemfile will automatically pickup the latest version on first bundle
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#43511 ActiveStorage: support empty attachments submits
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/lib/action_view/helpers/tags/file_field.rb
  actionview/test/template/form_helper_test.rb
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/attached/model.rb
  activestorage/lib/active_storage/engine.rb
  activestorage/test/models/attached/many_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
Labels: railties, docs, actionview, activestorage

#39663 Run `rails new` using specified prerelease version
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/lib/rails/generators/rails/plugin/templates/%name%.gemspec.tt
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
  railties/lib/rails/generators/testing/behaviour.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/db_system_change_generator_test.rb
  railties/test/generators/generators_test_helper.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#43855 Clarify `button_to` helper changes in Rails 7.0
  guides/source/7_0_release_notes.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#43846 Move "show" link from partial to index template.
  railties/lib/rails/generators/erb/scaffold/templates/index.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/partial.html.erb.tt
  railties/test/generators/scaffold_generator_test.rb
Labels: railties

#43850 Remove "shortcut" link type from favicon_link_tag method
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
  guides/source/layout.html.erb
  railties/lib/rails/templates/rails/welcome/index.html.erb
  railties/test/application/asset_debugging_test.rb
Labels: railties, docs, actionview

#43836 Don't start the server for the failure screenshot
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
Labels: actionpack

#43817 Deprecate non-URL-safe CSRF tokens
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/test/controller/request_forgery_protection_test.rb
  railties/lib/rails/application/configuration.rb
Labels: actionpack, railties

#43880 Fix scaffold `index.html.erb` variable name
  railties/lib/rails/generators/erb/scaffold/templates/index.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/show.html.erb.tt
  railties/lib/rails/generators/named_base.rb
  railties/test/generators/scaffold_controller_generator_test.rb
  railties/test/generators/scaffold_generator_test.rb
Labels: railties

#43871 Allow any allowed host with port
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/test/dispatch/host_authorization_test.rb
  railties/lib/rails/application/configuration.rb
Labels: actionpack, railties

#43877 Don't use schema cache when checking schema migrations
  activerecord/lib/active_record/schema_migration.rb
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#43881 Fix Active Record build for `6-1-stable`
  activerecord/test/cases/associations/inverse_associations_test.rb
Labels: activerecord

#43873 Add missing :author_addresses in `PreloaderTest`
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#43882 Allow IPs with port in the HostAuthorization middleware
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/test/dispatch/host_authorization_test.rb
Labels: actionpack

#43883 Dup arrays that get "converted"
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/parameters_permit_test.rb
Labels: actionpack

#43885 Fix exception when loading stylesheets in actionmailer templates
  actionview/lib/action_view/helpers/asset_tag_helper.rb
Labels: actionview

#43886 Generate `[id]` for `FormBuilder#button` called with method name
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview

#43887 Upgrade maintenance policy to tell about 5.2 and 6.0 deprecation dates
  guides/source/maintenance_policy.md
Labels: docs

#43894 Update Rails startup screenshot at Rails Guide
  guides/assets/images/getting_started/rails_welcome.png
  guides/source/getting_started.md
Labels: docs

#43897 Docs: Match example with the sentance. [ci-skip]
  actionpack/lib/action_dispatch/http/parameters.rb
Labels: actionpack

#43576 Raise an exception when using unrecognized options in change_table block
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/invertible_migration_test.rb
  activerecord/test/cases/migration/change_table_test.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#43910 Update URLs for the blog
  RELEASING_RAILS.md
  guides/source/layout.html.erb
Labels: docs

#43911 Properly quote autogenerated column aliases
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/fixtures/1_need_quoting.yml
  activerecord/test/models/need_quoting.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#43899 Improve documentation of `load_async`
  activerecord/lib/active_record/relation.rb
  guides/source/configuring.md
Labels: activerecord, docs

#43904 Apply migration if_exists exception only on migrations >= v7.1
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#43919 Use comma after etc.
  guides/source/active_record_multiple_databases.md
Labels: docs

#43923 Improve security guide by avoiding single character block argument names [ci-skip]
  guides/source/security.md
Labels: docs

#43921 Fix dbconsole for 3-tier config.
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
Labels: railties

#43927 docs: bitstring attributes are strings [ci-skip]
  guides/source/active_record_postgresql.md
Labels: docs

#43931 Fix typo in upgrading_ruby_on_rails.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#43939 add render_layout.action_view asn to documentation
  guides/source/active_support_instrumentation.md
Labels: docs

#43938 Remove unused code
  activerecord/lib/active_record/type/adapter_specific_registry.rb
Labels: activerecord

#43941 Docs: update deleting article section in getting started guides. [ci-skip]
  guides/source/getting_started.md
Labels: docs

#43900 Initialize `ActionController::Parameters` with `@logging_context`
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/log_on_unpermitted_params_test.rb
Labels: actionpack

#43811 Improves Active Record Migrations guide on `add_foreign_key` [ci-skip]
  guides/source/active_record_migrations.md
Labels: docs

#43914 Add only_numeric option to numericality validator
  activemodel/lib/active_model/validations/numericality.rb
  activemodel/test/cases/validations/numericality_validation_test.rb
Labels: activemodel

#43916 Fix `QueryMethods#in_order_of` to handle empty order list
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/field_ordered_values_test.rb
Labels: activerecord

#43918 Fix `link_to` with a model passed as an argument twice
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview

#43389 Fix joining through a polymorphic association
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/models/category.rb
  activerecord/test/models/essay.rb
Labels: activerecord

#43295 Fix migration compatibility to create SQLite references/belongs_to column as a integer when migration version is 6.0
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#43951 Ruby 3.1: Handle `Class#subclasses` existing without `Class#descendants`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/class/subclasses.rb
  activesupport/lib/active_support/descendants_tracker.rb
  activesupport/lib/active_support/ruby_features.rb
Labels: activesupport

#43956 Fix typo in #to_s deprecation in 7.0 release notes
  guides/source/7_0_release_notes.md
Labels: docs

#43964 Active Record / PostgreSQL / timestamptz: handle blank inputs
  activerecord/lib/active_record/connection_adapters/postgresql/oid/timestamp_with_time_zone.rb
  activerecord/test/cases/date_time_precision_test.rb
Labels: activerecord

#43963 Correctly parse complex check constraint expressions for PostgreSQL
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/migration/check_constraint_test.rb
Labels: activerecord

#43970 Remove feature checking for `Class#descendants`
  activesupport/lib/active_support/core_ext/class/subclasses.rb
  activesupport/lib/active_support/descendants_tracker.rb
  activesupport/lib/active_support/ruby_features.rb
Labels: activesupport

#43980 Deprication Warning for dynamic :controller and :action segments in routes
  actionpack/lib/action_dispatch/routing/route_set.rb
Labels: actionpack

#43960 ActiveRecord::Core: prevent duplicate entries in find by cache
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/bind_parameter_test.rb
  activerecord/test/cases/core_test.rb
Labels: activerecord

#43965 Clarify how stable branches work for bug fix releases
  guides/source/maintenance_policy.md
Labels: docs

#43977 Update rake tests to remove reference to removed tasks
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: railties

#43994 Fix example codes. The default autocomplete specification is `off` for helpers that build hidden type input tags. [skip ci]
  actionview/lib/action_view/helpers/date_helper.rb
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/lib/action_view/helpers/url_helper.rb
Labels: actionview

#43993 Fix schema dumping column default SQL values for sqlite
  activerecord/lib/active_record/connection_adapters/sqlite3/quoting.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/schema/sqlite_specific_schema.rb
Labels: activerecord

#43992 Fix "warning: method redefined; discarding old test_writing_a_blank_attribute"
  activerecord/test/cases/date_time_precision_test.rb
Labels: activerecord

#43999 Ruby 3.1.0 installs `digest` 3.1.0 as standard library
  Gemfile
  guides/bug_report_templates/action_mailbox_gem.rb
  guides/bug_report_templates/action_mailbox_main.rb
Labels: docs

#44002 Update Release Notes [ci-skip]
  guides/source/7_0_release_notes.md
Labels: docs

#43997 Refine `authenticate_by` security guarantee [ci-skip]
  activerecord/lib/active_record/secure_password.rb
Labels: activerecord

#43732 Add breakpoint section to new debugger's introduction
  guides/source/debugging_rails_applications.md
Labels: docs

#43974 update getting started guide using turbo
  guides/source/getting_started.md
Labels: docs

#44009 Docs: advise against caching AR objects
  guides/source/caching_with_rails.md
Labels: docs

#44014 Getting Started Guide: Remove code sample [ci-skip]
  guides/source/getting_started.md
Labels: docs

#44004 [ci skip] Pluck loads the records but omits attributes
  activerecord/lib/active_record/relation/calculations.rb
Labels: activerecord, docs

#43488 Add a test for `includes` with used with a conditional `where` on the included association [ci-skip]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#44034 use new vips syntax for named variant examples .
  guides/source/active_storage_overview.md
Labels: docs

#44029 Fix remove default value for `config.active_record.partial_inserts` [skip ci]
  guides/source/configuring.md
Labels: docs
