Repository rails/rails, pull requests merged in 2021-05, with the labels that each got.

#42075 Optimize remove_columns to use a single SQL statement when supported
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/migration/columns_test.rb
Labels: activerecord

#42115 Backport of "Allow 'private, no-store' Cache-Control header"
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/cache.rb
  actionpack/test/dispatch/live_response_test.rb
  actionpack/test/dispatch/response_test.rb
Labels: actionpack

#42116 Simplify `Session.sweep` method example in security doc [ci skip]
  guides/source/security.md
Labels: docs

#42056 Make sure not to generate Link headers longer than 8kiB
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#42113 Minor tweaks for Getting Started Guide [ci skip]
  guides/source/getting_started.md
Labels: docs

#42119 [ci skip] Fix typo a s/informations/information/
  guides/source/debugging_rails_applications.md
Labels: docs

#42114 Fixed guide example with rails api docs [ci skip]
  guides/source/command_line.md
  guides/source/debugging_rails_applications.md
Labels: docs

#42118 Describe unsafe usage of `invert_where` method [ci skip]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#41987 [ci skip] Adds Dark Mode for Rails Guides
  guides/assets/images/book_icon.svg
  guides/assets/images/bullet_dark.gif
  guides/assets/images/check_icon.svg
  guides/assets/images/cog_icon.svg
  guides/assets/images/hand_icon.svg
  guides/assets/images/info_icon.svg
  guides/assets/images/note_icon.svg
  guides/assets/stylesheets/dark.css
  guides/assets/stylesheets/highlight.css
  guides/assets/stylesheets/style.css
Labels: docs

#42121 Improve guide of Command Line Injection [ci skip]
  guides/source/security.md
Labels: docs

#42124 Ensure association target classes exist
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/associations/singular_association.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#42130 Modify `assert_storage_performance` to be quiet by default
  activerecord/test/cases/encryption/performance/storage_performance_test.rb
Labels: activerecord

#42095 Cache and reuse generated attribute methods
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/lib/active_model/attributes.rb
  activerecord/lib/active_record/attribute_methods/read.rb
  activerecord/lib/active_record/attribute_methods/write.rb
Labels: activemodel, activerecord

#42123 Stop implicitly coercing objects to string in Safebuffer
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/lib/action_view/helpers/form_tag_helper.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  activesupport/test/core_ext/string_ext_test.rb
Labels: actionview, activesupport

#41849 Do not autoload in initializer in example code
  guides/source/active_job_basics.md
Labels: docs

#42128 clean up Arel::Visitors::Dot
  activerecord/CHANGELOG.md
  activerecord/lib/arel/visitors/dot.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/visitors/dot_test.rb
Labels: activerecord

#42134 Fix case of GitHub, JavaScript, TypeScript [ci skip]
  actionview/test/ujs/public/vendor/qunit.js
  guides/source/contributing_to_ruby_on_rails.md
  guides/source/webpacker.md
Labels: actionview, docs

#42136 Add documentation on spell checking with `misspell` [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#42132 Add spell checking with codespell as a GitHub Action
  .github/workflows/lint.yml
  actionpack/test/controller/parameters/parameters_permit_test.rb
  actionpack/test/controller/rescue_test.rb
  actionpack/test/dispatch/request_test.rb
  actionview/test/template/javascript_helper_test.rb
  actionview/test/template/url_helper_test.rb
  activemodel/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/associations/has_and_belongs_to_many_associations_test.rb
  activesupport/CHANGELOG.md
  codespell.txt
  guides/source/contributing_to_ruby_on_rails.md
  railties/test/application/loading_test.rb
  railties/test/generators/actions_test.rb
Labels: actionpack, actionview, activemodel, activerecord, activesupport, docs, railties

#42141 Updated doc comments and removed if-else block.
  railties/lib/rails/generators/actions.rb
Labels: railties

#41276 Improve documentation of FormHelper#form_with `local` option [ci skip]
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#42147 Fix spelling in CoffeeScript and JavaScript files [ci skip]
  actionview/app/assets/javascripts/rails-ujs.coffee
  actionview/test/ujs/public/vendor/jquery-2.2.0.js
Labels: actionview

#42146 Change HTML `img` tag to lowercase [ci skip]
  guides/source/security.md
Labels: docs

#42150 Allow setting a custom path to store the System Test screenshots
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
Labels: actionpack

#42142 Remove NilAnnotedSourceCodeError test.
  actionpack/test/dispatch/debug_exceptions_test.rb
Labels: actionpack

#42160 Clarify that ActionDispatch::DebugLocks is accessible via HTTP
  actionpack/lib/action_dispatch/middleware/debug_locks.rb
Labels: actionpack

#42161 Fix links in the Contributing to Ruby on Rails guide [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#42158 Special case SafeBuffer#concat(nil) to avoid the bulk of deprecations
  activesupport/lib/active_support/core_ext/string/output_safety.rb
Labels: activesupport

#41584 Inject route with namespace into existing blocks
  railties/lib/rails/generators/actions.rb
  railties/test/generators/actions_test.rb
Labels: railties

#42163 Add a public writer for `ActiveStorage::Service::DiskService#root`
  activestorage/lib/active_storage/service/disk_service.rb
  activestorage/test/service/disk_service_test.rb
Labels: activestorage

#41543 Add docs on how to write tests when using Active Storage
  actionpack/lib/action_dispatch/testing/test_process.rb
  activestorage/lib/active_storage/fixture_set.rb
  guides/source/active_storage_overview.md
Labels: actionpack, activestorage, docs

#42079 Add disable_joins option to has_one relation
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/builder/has_one.rb
  activerecord/lib/active_record/associations/has_one_through_association.rb
  activerecord/test/cases/associations/has_one_through_disable_joins_associations_test.rb
  activerecord/test/models/member.rb
  guides/source/active_record_multiple_databases.md
Labels: activerecord, docs

#42169 Restore implicit `to_s` for `content_for` and `provide`
  actionview/lib/action_view/flows.rb
  actionview/test/template/capture_helper_test.rb
Labels: actionview

#42172 Add missing require to active_support/callbacks.rb
  activesupport/lib/active_support/callbacks.rb
Labels: activesupport

#42126 Add support for require-trusted-types-for and trusted-types
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/content_security_policy.rb
  actionpack/test/dispatch/content_security_policy_test.rb
Labels: actionpack

#42080 Deprecates `Enumerable#sum` and `Array#sum`
  activerecord/test/models/invoice.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/test/core_ext/enumerable_test.rb
Labels: activerecord, activesupport

#41084 Active Record + PostgreSQL: native support for `timestamp with time zone`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/oid/date_time.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/timestamp.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/timestamp_with_time_zone.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/adapters/postgresql/change_schema_test.rb
  activerecord/test/cases/adapters/postgresql/timestamp_test.rb
  activerecord/test/cases/ar_schema_test.rb
  activerecord/test/cases/date_time_precision_test.rb
  activerecord/test/cases/migration/change_schema_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/cases/test_case.rb
  guides/source/configuring.md
Labels: activemodel, activerecord, docs, railties

#42173 [ci-skip] Improve doc for `ActiveSupport::Callbacks.skip_callback`
  activesupport/lib/active_support/callbacks.rb
Labels: activesupport

#42175 [ci-skip] fix docs for ActiveRecord select_all
  guides/source/active_record_querying.md
Labels: docs

#42171 [ci skip] Change core_ext cherry picking example.
  guides/source/active_support_core_extensions.md
Labels: docs

#42174 Update how to configure Action Mailer interceptors/observers
  guides/source/action_mailer_basics.md
Labels: docs

#42184 Fix grammar issue in getting_started.md [ci skip]
  guides/source/getting_started.md
Labels: docs

#42179 Update docs for `ActiveRecord::Middleware::DatabaseSelector`
  activerecord/lib/active_record/middleware/database_selector.rb
Labels: activerecord

#42188 Active Storage: encourage `Rails.env` in bucket names
  railties/lib/rails/generators/rails/app/templates/config/storage.yml.tt
Labels: railties

#42112 Remove aliases with two letter:
  railties/lib/rails/generators.rb
Labels: railties

#42156 Allow PostgreSQL::Quoting to match schema namespaced table names
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
Labels: activerecord

#41996 Raise a meaningful error if ActiveStorage::Current.host is blank
  activestorage/lib/active_storage/service/disk_service.rb
  activestorage/test/service/disk_service_test.rb
Labels: activestorage

#42197 Avoid sending preload links for `data:` URLs
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#42194 Optimize normalize_name
  actionview/lib/action_view/lookup_context.rb
Labels: actionview

#42205 update tests for SecureRandom.base58 method
  activesupport/test/core_ext/secure_random_test.rb
Labels: activesupport

#42211 Add example for proc-based route to Routing guide [ci skip]
  guides/source/routing.md
Labels: docs

#42213 Compute table name based on model name
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/primary_keys_test.rb
  activerecord/test/models/post.rb
  guides/source/active_support_core_extensions.md
Labels: activerecord, docs

#42214 Allow symbols as template identifiers
  actionview/lib/action_view/lookup_context.rb
  actionview/test/template/render_test.rb
Labels: actionview

#42177 Cleanup Mime::Type Regexp
  actionpack/lib/action_dispatch/http/mime_type.rb
Labels: actionpack

#42167 Use a NullFlash object when the session is disabled
  actionpack/lib/action_dispatch/middleware/flash.rb
  railties/lib/rails/application/default_middleware_stack.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#42215 Derive foreign key from model name in `has_many` associations
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/models/post.rb
Labels: activerecord

#42212 Don't check `type` on `add_column` via column_exists?`
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#42210 Encapsulate "details" into TemplateDetails
  actionview/lib/action_view.rb
  actionview/lib/action_view/template/resolver.rb
  actionview/lib/action_view/template_details.rb
  actionview/lib/action_view/unbound_template.rb
Labels: actionview

#42217 Add explanation for GH links vs RDoc generated links
  guides/source/api_documentation_guidelines.md
Labels: docs

#42143 Improve performance for #one? and #many?
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
Labels: activerecord

#42221 Private process action
  actionpack/lib/abstract_controller/callbacks.rb
  actionpack/lib/action_controller/metal/instrumentation.rb
  actionpack/lib/action_controller/metal/params_wrapper.rb
  actionpack/lib/action_controller/metal/rendering.rb
Labels: actionpack

#42223 [ci skip] Fix typo in MessageVerifier docs
  activesupport/lib/active_support/message_verifier.rb
Labels: activesupport

#42224 Fixes ActiveStorage#has_many_attached re-creating destroyed attachment
  activestorage/lib/active_storage/attached/changes/create_many.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#42226 Fix ActiveStorage intermittent test
  activestorage/test/models/attached/many_test.rb
Labels: activestorage

#42220 Display a help message if `rails new` is called without a path
  railties/lib/rails/command.rb
  railties/test/command/application_test.rb
Labels: railties

#42225 Active Storage: don't crash if mini_mime doesn't recognize content_type
  activestorage/app/models/active_storage/blob/representable.rb
  activestorage/test/models/variant_test.rb
Labels: activestorage

#42232 Fix NullRelation#to_sql to return an actual query
  activerecord/lib/active_record/null_relation.rb
  activerecord/test/cases/null_relation_test.rb
Labels: activerecord

#42219 Add Range serializer for ActiveJob
  activejob/CHANGELOG.md
  activejob/lib/active_job/serializers.rb
  activejob/lib/active_job/serializers/range_serializer.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: activejob

#42239 Fix primary_abstract_class in lazy loaded envs
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/primary_class_test.rb
Labels: activerecord

#42238 [ci skip] Redis adapter SSL/TLS connection information ( action cable docs).
  guides/source/action_cable_overview.md
Labels: docs

#42246 [ci skip] Fixed ssl_params verify_mode syntax for redis connections.
  guides/source/action_cable_overview.md
Labels: docs

#42231 Explicitly fail on attempts to write into disabled sessions
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/request/session.rb
  actionpack/test/dispatch/session/cache_store_test.rb
  actionpack/test/dispatch/session/cookie_store_test.rb
  activerecord/test/cases/database_selector_test.rb
  railties/lib/rails/application/configuration.rb
  railties/test/application/middleware/session_test.rb
Labels: actionpack, actionview, activerecord, railties

#42249 Fix compatibility with Psych 4
  activesupport/lib/active_support/configuration_file.rb
Labels: activesupport

#42242 Avoid running async queries on null relations
  activerecord/lib/active_record/null_relation.rb
  activerecord/test/cases/null_relation_test.rb
Labels: activerecord

#42250 Added more regression for activejob Range serializer.
  activejob/lib/active_job/serializers/range_serializer.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: activejob

#42245 Support NullsFirst for all databases.
  activerecord/CHANGELOG.md
  activerecord/lib/arel/visitors/mysql.rb
  activerecord/lib/arel/visitors/postgresql.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/visitors/mysql_test.rb
  activerecord/test/cases/arel/visitors/postgres_test.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#42230 Use a regular flash object if session store is disabled
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/lib/action_controller/test_case.rb
  actionpack/lib/action_dispatch/middleware/flash.rb
  actionpack/test/controller/flash_test.rb
Labels: actionpack

#42237 Make ActiveRecord::Base.logger a class_attribute
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/core.rb
Labels: activerecord

#42257 Fix ruby-master test suite (Psych 4.0.0)
  actionpack/test/controller/parameters/serialization_test.rb
  activemodel/test/cases/errors_test.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/coders/yaml_column.rb
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/test/cases/adapters/postgresql/hstore_test.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
  activerecord/test/cases/json_shared_test_cases.rb
  activerecord/test/cases/locking_test.rb
  activerecord/test/cases/store_test.rb
  activerecord/test/cases/yaml_serialization_test.rb
  activesupport/lib/active_support/configuration_file.rb
  activesupport/test/core_ext/duration_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  activesupport/test/time_zone_test.rb
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
Labels: actionpack, activemodel, activerecord, activesupport, railties

#42266 Fix delegation in ActiveModel::Type::Registry
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/type/registry.rb
  activemodel/test/cases/type/registry_test.rb
Labels: activemodel

#42267 [ci skip] Improve sentence around setting xhr:true
  actionpack/lib/action_dispatch/testing/integration.rb
Labels: actionpack

#42274 Fix ArgumentError message for without method
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/excluding_test.rb
Labels: activerecord

#42276 Add precision to Active Storage timestamps where supported
  activestorage/db/migrate/20170806125915_create_active_storage_tables.rb
Labels: activestorage

#42275 Enhancement: refactor and add tests to the query methods argument errors
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/select_test.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#42281 Minor: Typo in ActiveSupport::SecureCompareRotator doc
  activesupport/lib/active_support/secure_compare_rotator.rb
Labels: activesupport

#42277 Add from: option to ActiveSupport::TestCase#assert_no_changes
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/assertions.rb
  activesupport/test/test_case_test.rb
Labels: activesupport

#42284 typo: subject-verb disagreement
  guides/source/active_record_validations.md
Labels: docs

#42285 Support using replicas when using `rails dbconsole`
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
Labels: railties

#42287 Add tests for ArgumentError errors in finder methods
  activerecord/test/cases/finder_test.rb
  activerecord/test/cases/persistence_test.rb
Labels: activerecord

#42289 Fix delegation in ActiveModel::Type.lookup
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/type.rb
  activemodel/test/cases/type_test.rb
Labels: activemodel

#42262 Active Storage: Encourage `Rails.env` in bucket names Part 2
  guides/source/active_storage_overview.md
Labels: docs

#42291 Add tests for argument error messages in ActiveRecord methods
  activerecord/test/cases/persistence_test.rb
  activerecord/test/cases/relation/update_all_test.rb
  activerecord/test/cases/scoping/relation_scoping_test.rb
Labels: activerecord

#42299 Minor docs style fix [ci skip]
  activesupport/CHANGELOG.md
  guides/source/upgrading_ruby_on_rails.md
Labels: activesupport, docs

#42290 Fix error message on top level update when sending an array of records
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/persistence_test.rb
Labels: activerecord

#42304 Minor test fix
  activerecord/test/cases/persistence_test.rb
Labels: activerecord

#42312 Expose BatchEnumerator attributes
  activerecord/lib/active_record/relation/batches/batch_enumerator.rb
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#42318 `rails tmp:clear`: clear tmp/storage
  railties/CHANGELOG.md
  railties/lib/rails/tasks/tmp.rake
  railties/test/application/rake/tmp_test.rb
Labels: railties

#42311 Generators should raise an error if an attribute has an invalid type
  railties/CHANGELOG.md
  railties/lib/rails/generators/generated_attribute.rb
  railties/test/generators/generated_attribute_test.rb
Labels: railties

#42309 Allow to overwrite Cache-Control header in `fresh_when` and `stale?`
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/conditional_get.rb
  actionpack/test/controller/render_test.rb
Labels: actionpack, ready

#41889 Add note regarding "trix-content" class. [ci-skip]
  actiontext/app/helpers/action_text/tag_helper.rb
  guides/source/action_text_overview.md
Labels: actiontext, actionview, activerecord, docs

#42324 [ci skip] Improved Sentence + Removed and added commas at correct places
  guides/source/2_2_release_notes.md
Labels: docs

#42317 Added test for or query error message
  activerecord/test/cases/relation/and_test.rb
  activerecord/test/cases/relation/or_test.rb
Labels: activerecord

#42256 Fix ActiveStorage has_one_attached when blob or record are not persisted
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/attachment.rb
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage/attached.rb
  activestorage/lib/active_storage/attached/one.rb
  activestorage/test/models/attached/one_test.rb
  activestorage/test/models/blob_test.rb
Labels: activestorage

#42316 Use BigDecimal compatible operation in NumberToRoundedConverter
  activesupport/lib/active_support/number_helper/number_to_rounded_converter.rb
  activesupport/test/number_helper_test.rb
Labels: activesupport

#42327 [ci skip] Corrected Typos and Replacement to make doc concise
  guides/source/3_1_release_notes.md
  guides/source/3_2_release_notes.md
  guides/source/4_0_release_notes.md
  guides/source/4_1_release_notes.md
  guides/source/5_0_release_notes.md
  guides/source/5_1_release_notes.md
  guides/source/5_2_release_notes.md
  guides/source/6_0_release_notes.md
  guides/source/6_1_release_notes.md
Labels: docs

#42322 Provide some advice for _when_ and _how_ to use configuration without breaking initialization
  guides/source/configuring.md
Labels: docs

#42332 Correct example config method
  guides/source/configuring.md
Labels: docs

#42335 Fix typo in ActionableError [skip ci]
  activesupport/lib/active_support/actionable_error.rb
Labels: activesupport

#42337 [ci skip] Fixed typos and grammatical errors
  guides/source/5_0_release_notes.md
Labels: docs

#42339 [ci skip] Fixed typos and grammatical errors
  guides/source/5_1_release_notes.md
Labels: docs
