Repository rails/rails, pull requests merged in 2021-09, with the labels that each got.

#43153 Fix typo [ci skip]
  guides/source/webpacker.md
Labels: docs, ready

#43152 Update webpacker guides after version upgrade [ci-skip]
  guides/source/webpacker.md
Labels: docs

#43138 Use headings for configs in Configuration guide [ci-skip]
  guides/source/configuring.md
Labels: docs

#43159 Show Active Storage configs defaults as multiline code blocks [ci-skip]
  guides/source/configuring.md
Labels: docs

#43158 Small improvements to the Configuring guide [ci-skip]
  guides/source/active_job_basics.md
  guides/source/configuring.md
Labels: docs

#43160 Javascript generator option with choices
  .rubocop.yml
  Gemfile.lock
  actioncable/lib/rails/generators/channel/channel_generator.rb
  actioncable/lib/rails/generators/channel/templates/application_cable/channel.rb
  actioncable/lib/rails/generators/channel/templates/application_cable/connection.rb
  actioncable/lib/rails/generators/channel/templates/javascript/index.js.tt
  actiontext/lib/generators/action_text/install/install_generator.rb
  activestorage/README.md
  railties/lib/rails/app_updater.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/content_security_policy.rb.tt
  railties/lib/rails/generators/rails/app/templates/gitattributes.tt
  railties/lib/rails/generators/rails/plugin/templates/gitignore.tt
  railties/test/generators/action_text_install_generator_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/channel_generator_test.rb
Labels: railties, actioncable, activestorage, actiontext

#43164 Add rollup as JavaScript option
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
Labels: railties

#43166 Fix rubocop offense
  actioncable/lib/rails/generators/channel/channel_generator.rb
Labels: actioncable

#43170 Enable `Style/ExplicitBlockArgument` cop
  .rubocop.yml
  actioncable/lib/action_cable/connection/tagged_logger_proxy.rb
  actioncable/lib/action_cable/server/worker.rb
  actioncable/lib/action_cable/server/worker/active_record_connection_management.rb
  actionpack/lib/abstract_controller/caching/fragments.rb
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionpack/lib/action_dispatch/middleware/stack.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/controller/live_stream_test.rb
  actionpack/test/controller/render_test.rb
  actionpack/test/controller/request_forgery_protection_test.rb
  actionview/lib/action_view/helpers/text_helper.rb
  actionview/test/lib/controller/fake_models.rb
  activejob/lib/active_job/logging.rb
  activejob/test/cases/logging_test.rb
  activerecord/lib/active_record/associations/has_one_association.rb
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/fixtures.rb
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/batches.rb
  activerecord/lib/active_record/relation/batches/batch_enumerator.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/result.rb
  activerecord/lib/active_record/scoping/default.rb
  activerecord/test/cases/explain_test.rb
  activerecord/test/cases/locking_test.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activerecord/test/cases/tasks/mysql_rake_test.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
  activerecord/test/cases/test_case.rb
  activestorage/test/models/attachment_test.rb
  activesupport/lib/active_support/benchmarkable.rb
  activesupport/lib/active_support/cache/strategy/local_cache.rb
  activesupport/lib/active_support/concurrency/load_interlock_aware_monitor.rb
  activesupport/lib/active_support/concurrency/share_lock.rb
  activesupport/lib/active_support/core_ext/array/grouping.rb
  activesupport/lib/active_support/core_ext/kernel/reporting.rb
  activesupport/lib/active_support/dependencies.rb
  activesupport/lib/active_support/dependencies/interlock.rb
  activesupport/lib/active_support/test_case.rb
  activesupport/lib/active_support/testing/method_call_assertions.rb
  activesupport/lib/active_support/testing/stream.rb
  activesupport/test/core_ext/enumerable_test.rb
  railties/lib/rails/mailers_controller.rb
  railties/test/commands/dbconsole_test.rb
  railties/test/env_helpers.rb
  railties/test/generators/app_generator_test.rb
Labels: actionpack, activerecord, actionview, activejob, actioncable

#43172 Use the combined jsbundling-rails gem instead of individual js bundler gems
  Gemfile
  Gemfile.lock
  activejob/Rakefile
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/engine/commands_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties, activejob

#43171 Replace :location with :request in process_action.action_controller
  guides/source/active_support_instrumentation.md
Labels: docs, ready

#43148 Use `polymorphic_class_for` over `constantize`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/lib/active_record/associations/builder/belongs_to.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#43177 Add --css app generator option
  Gemfile
  Gemfile.lock
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#43187 Depend on ruby/debug, replacing Byebug
  .gitignore
  Gemfile
  Gemfile.lock
  actioncable/test/test_helper.rb
  actionmailbox/test/test_helper.rb
  activerecord/test/cases/base_prevent_writes_test.rb
  activestorage/test/test_helper.rb
  guides/source/debugging_rails_applications.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/app/templates/gitignore.tt
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
  railties/lib/rails/generators/rails/plugin/templates/gitignore.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/channel_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: activerecord, railties, docs, actioncable, activestorage, actionmailbox, thisweekinrails

#43192 Avoid scoping update transaction when calling update! on a relation
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#43188 Fix flaky tests, add a template per case on asset debugging tests
  railties/test/application/asset_debugging_test.rb
Labels: railties, ready

#43206 Use an if statement instead of a case statement
  actionpack/lib/action_dispatch/http/url.rb
Labels: actionpack

#43202 Add section "Why Encrypt Data at the Application Level" to the guide
  guides/source/active_record_encryption.md
Labels: docs

#43189 Mention Good Job as Active Job backend.
  guides/source/active_job_basics.md
Labels: docs

#43186 Don't show deprecation warning for equal paths
  actionpack/lib/action_dispatch/testing/test_process.rb
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#43068 Add ssl support for postgresql database tasks
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
Labels: activerecord

#43210 Fix link in ActiveRecord Encryption guides [ci skip]
  guides/source/active_record_encryption.md
Labels: docs

#43212 Clearer default gemfile
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
Labels: railties

#43211 Fix `NameError` when an invalid `:on` option is given to a route
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/dispatch/mapper_test.rb
Labels: actionpack, ready

#42993 Use correct precision when touching `updated_at` column in upsert
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/insert_all.rb
  activerecord/test/cases/insert_all_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#43204 Remove warning when overwriting existing scopes
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/scoping/named.rb
  activerecord/test/cases/enum_test.rb
  activerecord/test/cases/scoping/named_scoping_test.rb
Labels: activerecord

#43218 Update guide to use the appropriate `concurrent-ruby` class
  actioncable/test/client_test.rb
  guides/source/threading_and_code_execution.md
Labels: docs, actioncable

#43223 Introduce ActiveModel::API
  activemodel/CHANGELOG.md
  activemodel/README.rdoc
  activemodel/lib/active_model.rb
  activemodel/lib/active_model/api.rb
  activemodel/lib/active_model/model.rb
  activemodel/test/cases/api_test.rb
  guides/source/active_model_basics.md
Labels: activemodel, docs

#43099 Fix `$LOAD_PATH` link in Autoloading Guides
  guides/source/autoloading_and_reloading_constants.md
Labels: docs, ready

#42470 Add missing DOM ids to rails/mailers/email.html template
  railties/lib/rails/templates/rails/mailers/email.html.erb
Labels: railties, stale

#42538 Generate less initializers in new/upgraded Rails apps
  actionmailbox/test/dummy/config/initializers/application_controller_renderer.rb
  actionmailbox/test/dummy/config/initializers/cookies_serializer.rb
  actiontext/test/dummy/config/initializers/application_controller_renderer.rb
  actiontext/test/dummy/config/initializers/cookies_serializer.rb
  activestorage/test/dummy/config/initializers/application_controller_renderer.rb
  activestorage/test/dummy/config/initializers/cookies_serializer.rb
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/application_controller_renderer.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/cookies_serializer.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
  railties/test/application/middleware/cookies_test.rb
  railties/test/application/middleware/session_test.rb
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties, activestorage, actionmailbox, actiontext

#43225 Fix railties/CHANGELOG.md for cookie_serializer
  railties/CHANGELOG.md
Labels: railties

#41856 Add support for generated columns in PostgreSQL (Redux)
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/column.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/virtual_column_test.rb
  activerecord/test/fixtures/virtual_columns.yml
  guides/source/active_record_postgresql.md
Labels: activerecord, docs

#43229 Add mandatory 'stored' option to generated column example
  guides/source/active_record_postgresql.md
Labels: docs

#43237 Generate less initializers in new/upgraded Rails apps (part 2)
  actionmailbox/test/dummy/config/initializers/backtrace_silencers.rb
  actionmailbox/test/dummy/config/initializers/mime_types.rb
  actionmailbox/test/dummy/config/initializers/wrap_parameters.rb
  actionpack/lib/action_controller/metal/params_wrapper.rb
  actiontext/test/dummy/config/initializers/backtrace_silencers.rb
  actiontext/test/dummy/config/initializers/mime_types.rb
  actiontext/test/dummy/config/initializers/wrap_parameters.rb
  activestorage/test/dummy/config/initializers/backtrace_silencers.rb
  activestorage/test/dummy/config/initializers/mime_types.rb
  activestorage/test/dummy/config/initializers/wrap_parameters.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/backtrace_silencers.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/mime_types.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/wrap_parameters.rb.tt
  railties/test/application/configuration_test.rb
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/app_generator_test.rb
Labels: actionpack, railties, docs, activestorage, actionmailbox, actiontext

#42517 Fix update & destroy queries when default_scope is nillable with all_…
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#43246 Pluralize the heading on the index page generated with scaffold
  railties/lib/rails/generators/erb/scaffold/templates/index.html.erb.tt
Labels: railties

#43037 Add `beginning_of_week` option to `weekday_options_for_select`
  actionview/lib/action_view/helpers/form_options_helper.rb
  actionview/lib/action_view/helpers/tags/weekday_select.rb
  actionview/test/template/form_options_helper_test.rb
Labels: actionpack, activerecord, activesupport, docs, actionview, activejob

#43244 Add explicit rendering to DiskController#update
  activestorage/app/controllers/active_storage/disk_controller.rb
Labels: activestorage

#43226 Fix typo in Active Record validations guide, chapter 2 — integer numbers (not integral)
  activemodel/lib/active_model/validations/numericality.rb
  guides/source/active_record_validations.md
Labels: activemodel, docs

#43250 Fix docs spacing [ci-skip]
  guides/assets/stylesheets/main.css
  guides/assets/stylesheets/main.rtl.css
Labels: docs

#43256 Fix api app generator test
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#43227 Suggest a CSP that's compatible with Turbo + import map
  railties/lib/rails/generators/rails/app/templates/config/initializers/content_security_policy.rb.tt
Labels: railties

#43259 Only call `wrap_parameters` if it's defined
  actionpack/lib/action_controller/railtie.rb
Labels: actionpack

#43156 Don't overwrite default opts in rich_text_area_tag
  actiontext/CHANGELOG.md
  actiontext/app/helpers/action_text/tag_helper.rb
  actiontext/test/template/form_helper_test.rb
Labels: ready, actiontext

#36289 Add Server Timing middleware
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/middleware/server_timing.rb
  actionpack/test/dispatch/server_timing_test.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/application/default_middleware_stack.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/test/application/middleware_test.rb
Labels: actionpack, railties

#43254 [ci skip] Add Bootstrap and Bulma to the CSS processors' list
  railties/lib/rails/generators/rails/app/app_generator.rb
Labels: railties

#42910 Tidy ups to upgrade guide
  guides/source/active_storage_overview.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs, ready

#43271 Fix erb code highlighting in upgrade guide [ci-skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#43252 Fix typo in activerecord documentation
  activerecord/CHANGELOG.md
Labels: activerecord

#43233 Reorder getting_started 8.3 to reduce confusion
  guides/source/getting_started.md
Labels: docs, ready

#43216 Avoid comment calls in pg:dump
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
Labels: activerecord

#43269 Address LegacyDeliveryJobTest#test_should_send_mail_correctly failure with ruby 3.1.0dev
  actionmailer/lib/action_mailer/message_delivery.rb
Labels: actionmailer

#43133 Fix action text extra trix content wrapper
  actiontext/lib/action_text/serialization.rb
  actiontext/test/unit/model_test.rb
Labels: actiontext

#43265 Add 'resource' to the list of generators which create a new model migration
  guides/source/active_record_migrations.md
Labels: docs

#43113 Close guides dropdown with Escape keypress
  guides/assets/javascripts/guides.js
Labels: docs, ready

#43072 Enable passing env var paths to cli -m option
  railties/lib/rails/generators/app_base.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#43093 Stop ignoring tmp/storage/.keep
  railties/lib/rails/generators/rails/app/templates/gitignore.tt
Labels: railties, ready

#42989 Change diff highlighting background for dark mode
  guides/assets/stylesheets/highlight.css
Labels: docs

#43270 Requires selenium-webdriver 4.0.0 on ruby >= 3.0.0
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#43263 Filter virtual columns from the attribute names
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/connection_adapters/column.rb
  activerecord/test/cases/adapters/postgresql/virtual_column_test.rb
Labels: activerecord

#43232 Support svg unpaired tags in tag helper
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#43267 Fixes #43266 Add `bigint` to `NATIVE_DATABASE_TYPES` in mysql & postgres adapter
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#42475 Support clearing acronyms from inflector
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/inflector/inflections.rb
  activesupport/test/inflector_test.rb
Labels: activesupport

#43209 Check basic auth credentials before authenticate
  actionpack/lib/action_controller/metal/http_authentication.rb
  actionpack/test/controller/http_basic_authentication_test.rb
Labels: actionpack, ready

#42501 Allow permitting numeric params
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/nested_parameters_permit_test.rb
Labels: actionpack

#43131 Active Record `bin/test` to execute its own adapter specific tests
  activerecord/bin/test
  activerecord/test/cases/adapters/postgresql/datatype_test.rb
  activerecord/test/cases/adapters/postgresql/geometric_test.rb
  activerecord/test/cases/adapters/postgresql/interval_test.rb
  activerecord/test/support/tools.rb
  railties/lib/rails/test_unit/runner.rb
Labels: actionmailer, actionpack, activemodel, activerecord, activesupport, railties, actionview, activejob, actioncable, activestorage, actionmailbox, actiontext

#43061 Github Codespaces configuration
  .devcontainer/Dockerfile
  .devcontainer/boot.sh
  .devcontainer/devcontainer.json
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#43273 Add fallback host for SystemTestCase driven by RackTest
  actionpack/lib/action_dispatch/system_test_case.rb
  actionpack/test/dispatch/system_testing/system_test_case_test.rb
  railties/test/application/system_test_case_test.rb
Labels: actionpack, railties

#43104 Fix crash in `ActionController::Instrumentation` with invalid HTTP formats
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
  railties/test/application/middleware/exceptions_test.rb
Labels: actionpack, railties, ready

#42970 Return just the address if name is blank
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/base.rb
  actionmailer/test/base_test.rb
  actionmailer/test/mailers/base_mailer.rb
  guides/source/action_mailer_basics.md
Labels: actionmailer, docs, ready

#42864 Fixes DisabledSessionError with new rails api app
  railties/lib/rails/welcome_controller.rb
  railties/test/application/routing_test.rb
Labels: railties, ready

#43278 specify how to enable zeitwerk by itself
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#43276 Add missing migrate command to Getting Started Guide section 8.3
  guides/source/getting_started.md
Labels: docs

#42234 Let link_to infer link name from Model#to_s
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview, ready

#42872 [#42813] Render host_authorization debug view only for local requests
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/test/dispatch/host_authorization_test.rb
Labels: actionpack, railties, ready

#43277 fix tests for #43261
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/generators_test_helper.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#43290 docs: passwords are *hashed*, not "encrypted"
  guides/source/security.md
Labels: docs, ready

#41469 PostgreSQL: support custom enum types
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/column.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/adapters/postgresql/enum_test.rb
Labels: activerecord, ready

#42227 Active Storage: deprecate invalid default content types
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage.rb
  activestorage/lib/active_storage/engine.rb
  activestorage/test/engine_test.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/models/variant_test.rb
  guides/source/configuring.md
Labels: docs, activestorage

#42840 allow pg query param syntax
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations/connection_url_resolver.rb
  activerecord/test/cases/database_configurations/resolver_test.rb
Labels: activerecord, ready

#43280 Add autocomplete="off" to all generated hidden fields (fixes #42610)
  actiontext/test/template/form_helper_test.rb
  actionview/lib/action_view/helpers/date_helper.rb
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/lib/action_view/helpers/tags/base.rb
  actionview/lib/action_view/helpers/tags/check_box.rb
  actionview/lib/action_view/helpers/tags/hidden_field.rb
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/activerecord/form_helper_activerecord_test.rb
  actionview/test/template/active_model_helper_test.rb
  actionview/test/template/date_helper_test.rb
  actionview/test/template/form_collections_helper_test.rb
  actionview/test/template/form_helper/form_with_test.rb
  actionview/test/template/form_helper_test.rb
  actionview/test/template/form_options_helper_test.rb
  actionview/test/template/form_tag_helper_test.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview, actiontext

#41487 Adds support for deferrable foreign key constraints in PostgreSQL
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/migration/foreign_key_test.rb
Labels: activerecord, ready

#43224 Accept optional transaction args to #with_lock
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/locking/pessimistic.rb
  activerecord/test/cases/locking_test.rb
Labels: activerecord

#42574 add connection_identifier to ConnectionStub
  actioncable/lib/action_cable/channel/test_case.rb
  actioncable/test/channel/test_case_test.rb
Labels: stale, actioncable

#43299 Fix default scope with all_queries on reload test name
  activerecord/test/cases/scoping/default_scoping_test.rb
Labels: activerecord

#43287 Append trailing slash when the path is generated
  actionpack/lib/action_dispatch/http/url.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/dispatch/request_test.rb
  actionpack/test/dispatch/url_generation_test.rb
Labels: actionpack

#43303 Don't patch Object for fork in Ruby 3.0
  activesupport/lib/active_support/fork_tracker.rb
Labels: activesupport

#43297 Avoid class_attrs for unused collection callbacks
  activerecord/lib/active_record/associations/builder/collection_association.rb
  activerecord/lib/active_record/associations/collection_association.rb
Labels: activerecord

#41581 ActionCable client ensures subscribe command is confirmed.
  actioncable/CHANGELOG.md
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/assets/javascripts/actioncable.esm.js
  actioncable/app/assets/javascripts/actioncable.js
  actioncable/app/javascript/action_cable/connection.js
  actioncable/app/javascript/action_cable/index.js
  actioncable/app/javascript/action_cable/subscription_guarantor.js
  actioncable/app/javascript/action_cable/subscriptions.js
  actioncable/test/javascript/src/test.js
  actioncable/test/javascript/src/unit/subscription_guarantor_test.js
Labels: actioncable

#43315 Fix codespell `hiearchy ==> hierarchy` error.
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#43318 Add changelog entry for https://github.com/rails/rails/pull/42501
  actionpack/CHANGELOG.md
Labels: actionpack

#43310 Replace the word dumb with naive for clarity and inclusivity
  guides/source/security.md
Labels: ready

#43311 Correct the default value of `partial_inserts` in configuring.md from true to false
  guides/source/configuring.md
Labels: docs

#43313 Improves ActionView FormHelper check_box documentation [ci-skip]
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#43323 Fix wrong API document for form_with helper method
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#43328 Update `AssetUrlHelper` docs to list both asset pipeline gems
  actionview/lib/action_view/helpers/asset_url_helper.rb
Labels: actionview

#43334 Update MessageEncryptor guide to show that an exception is raised [ci skip]
  activesupport/lib/active_support/message_encryptor.rb
Labels: activesupport

#43342 Fix typo in ActiveRecord Changelog
  activerecord/CHANGELOG.md
Labels: activerecord
