Repository rails/rails, pull requests merged in 2021-01, with the labels that each got.

#40991 Bump license years to 2021 [ci skip]
  MIT-LICENSE
  actioncable/MIT-LICENSE
  actioncable/lib/action_cable.rb
  actionmailbox/MIT-LICENSE
  actionmailer/MIT-LICENSE
  actionmailer/lib/action_mailer.rb
  actionpack/MIT-LICENSE
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_pack.rb
  actiontext/MIT-LICENSE
  actionview/MIT-LICENSE
  actionview/app/assets/javascripts/MIT-LICENSE
  actionview/lib/action_view.rb
  activejob/MIT-LICENSE
  activejob/lib/active_job.rb
  activemodel/MIT-LICENSE
  activemodel/lib/active_model.rb
  activerecord/MIT-LICENSE
  activerecord/lib/active_record.rb
  activestorage/MIT-LICENSE
  activestorage/lib/active_storage.rb
  activesupport/MIT-LICENSE
  activesupport/lib/active_support.rb
  railties/MIT-LICENSE
Labels: actioncable, actionmailbox, actionmailer, actionpack, actiontext, actionview, activejob, activemodel, activerecord, activestorage, activesupport, railties

#40992 Should not fail if mangling enum names collision
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
  activerecord/test/fixtures/computers.yml
  activerecord/test/schema/schema.rb
Labels: activerecord

#40994 Populate ARGV for app template
  railties/lib/rails/generators/app_base.rb
  railties/test/fixtures/lib/template.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#40996 Set payload name for calculation queries
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/instrumentation_test.rb
Labels: activerecord

#40924 Upload raw email before creating pending ActionMailbox::InboundEmail
  actionmailbox/app/models/action_mailbox/inbound_email/message_id.rb
  actionmailbox/test/unit/inbound_email_test.rb
Labels: actionmailbox

#41011 Clarify default queues per Rails version [ci-skip]
  guides/source/action_mailer_basics.md
  guides/source/configuring.md
Labels: docs

#40883 actionpack: Improve performance by allowing routes with custom regexes in the FSM.
  actionpack/lib/action_dispatch/journey/gtg/builder.rb
  actionpack/lib/action_dispatch/journey/gtg/simulator.rb
  actionpack/lib/action_dispatch/journey/gtg/transition_table.rb
  actionpack/lib/action_dispatch/journey/nodes/node.rb
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/lib/action_dispatch/journey/route.rb
  actionpack/lib/action_dispatch/journey/router.rb
  actionpack/lib/action_dispatch/journey/routes.rb
  actionpack/lib/action_dispatch/journey/visualizer/fsm.js
  actionpack/test/journey/gtg/builder_test.rb
  actionpack/test/journey/gtg/transition_table_test.rb
  actionpack/test/journey/routes_test.rb
Labels: actionpack

#41012 Fix complicated has_many through with nested where condition
  activerecord/lib/active_record/associations/association_scope.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/table_metadata.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/models/company.rb
  activerecord/test/models/contract.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#41021 Fix grammar
  guides/source/autoloading_and_reloading_constants_classic_mode.md
Labels: docs

#41022 Add validate numericality in range
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/locale/en.yml
  activemodel/lib/active_model/validations/numericality.rb
  activemodel/test/cases/validations/numericality_validation_test.rb
  guides/source/active_record_validations.md
  guides/source/i18n.md
Labels: activemodel, docs

#41024 actionpack: Improve performance by allowing routes with custom regexes in the FSM.
  actionpack/lib/action_dispatch/journey/gtg/builder.rb
  actionpack/lib/action_dispatch/journey/gtg/simulator.rb
  actionpack/lib/action_dispatch/journey/gtg/transition_table.rb
  actionpack/lib/action_dispatch/journey/nodes/node.rb
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/lib/action_dispatch/journey/route.rb
  actionpack/lib/action_dispatch/journey/router.rb
  actionpack/lib/action_dispatch/journey/routes.rb
  actionpack/lib/action_dispatch/journey/visualizer/fsm.js
  actionpack/test/journey/gtg/builder_test.rb
  actionpack/test/journey/gtg/transition_table_test.rb
  actionpack/test/journey/routes_test.rb
Labels: actionpack

#41025 Handle STI models for has_many dependent: :destroy_async
  activerecord/lib/active_record/associations/has_many_association.rb
  activerecord/test/activejob/destroy_association_async_test.rb
  activerecord/test/models/essay_destroy_async.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#41027 Remove leading whitespace from the XML under test
  activesupport/test/xml_mini/xml_mini_engine_test.rb
Labels: activesupport

#41029 Fix through association with through scope which has joins
  activerecord/lib/active_record/associations/association_scope.rb
  activerecord/lib/active_record/associations/join_dependency/join_association.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/models/author.rb
Labels: activerecord

#41037 Remove update_table_definition from add_reference[6.0] migration log
  activerecord/lib/active_record/migration/compatibility.rb
Labels: activerecord

#40770 Allow configuration of the digest class used in the key generator
  activesupport/lib/active_support/key_generator.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/test/key_generator_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
  railties/test/application/middleware/session_test.rb
Labels: activesupport, docs, railties

#41049 Revert "Fix update with dirty locking column to not match latest object accidentally"
  activemodel/lib/active_model/attribute.rb
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/test/cases/locking_test.rb
Labels: activemodel, activerecord

#41030 Fix preventing writes for ApplicationRecord
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/pool_config.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/adapter_leasing_test.rb
  activerecord/test/cases/connection_adapters/connection_swapping_nested_test.rb
  activerecord/test/cases/connection_pool_test.rb
  activerecord/test/cases/reaper_test.rb
Labels: activerecord

#41046 Don't check if QC is enabled
  activerecord/lib/active_record/query_cache.rb
Labels: activerecord

#41054 Unite Active Storage configs in `load_defaults '6.1'` into one if-section
  railties/lib/rails/application/configuration.rb
Labels: railties

#41050 Update ActionCable docs to be compatible with Ruby 3 [ci skip]
  actioncable/lib/action_cable/channel/streams.rb
  guides/source/action_cable_overview.md
Labels: actioncable, docs

#41052 Make sure that `ActionView::Helpers::AssetTagHelper.preload_links_header` is `nil` without Rails 6.1 defaults
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: docs, railties

#41043 Change the default digest for new apps to SHA256
  activesupport/lib/active_support/digest.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/test/digest_test.rb
  guides/source/configuring.md
  guides/source/upgrading_ruby_on_rails.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_2.rb.tt
  railties/test/application/configuration_test.rb
  railties/test/application/per_request_digest_cache_test.rb
Labels: activesupport, docs, railties

#41014 Move away from using the Digest::SHA2 class
  activerecord/lib/active_record/fixtures.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  guides/source/upgrading_ruby_on_rails.md
Labels: activerecord, activesupport, docs

#41045 Emulate non-{GET,POST} submissions via button[formmethod]
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper_test.rb
  guides/source/form_helpers.md
Labels: actionview, docs

#41063 Fix `where` on polymorphic association with empty array
  activerecord/lib/active_record/relation/predicate_builder/association_query_value.rb
  activerecord/lib/active_record/relation/predicate_builder/polymorphic_array_value.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#41064 Enable `Lint/DuplicateRequire` cop
  .rubocop.yml
  activerecord/test/cases/associations/inverse_associations_test.rb
Labels: activerecord

#41026 Use 422 instead of 200 as the status code for form submission error responses
  actiontext/test/dummy/app/controllers/messages_controller.rb
  guides/source/debugging_rails_applications.md
  guides/source/getting_started.md
  guides/source/layouts_and_rendering.md
  railties/lib/rails/generators/rails/scaffold_controller/templates/controller.rb.tt
Labels: actiontext, docs, railties

#41079 Fix typo in Action Text Overview guide
  guides/source/action_text_overview.md
Labels: docs

#41082 Restore the ability that update/destroy optimistic locking object without default
  activemodel/lib/active_model/attribute.rb
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/test/cases/locking_test.rb
Labels: activemodel, activerecord

#41095 Define Singleton#duplicable? and return false
  activesupport/lib/active_support/core_ext/object/duplicable.rb
  activesupport/test/core_ext/object/duplicable_test.rb
Labels: activesupport

#41090 Fix `find_by` with custom primary key for belongs_to association
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#41098 Fix "NoMethodError: undefined method `-@'" for `source_type` with a symbol
  activerecord/lib/active_record/reflection.rb
  activerecord/test/models/club.rb
Labels: activerecord

#41099 Fix issue routing with optional parts of a segment
  actionpack/lib/action_dispatch/journey/path/pattern.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack

#41102 Fix `build` multiple records on association relation not to raise deprecation warning
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
Labels: activerecord

#41114 Improve `strict_loading` violation error message
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#41019 Use round(scale) in ActiveModel NumericalityValidator
  activemodel/lib/active_model/validations/numericality.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
  activerecord/test/cases/validations_test.rb
Labels: activemodel, activerecord

#41115 Fix test failing on ruby master
  activerecord/test/cases/validations/numericality_validation_test.rb
Labels: activerecord

#41122 Fix article_params method
  guides/source/getting_started.md
Labels: docs

#41147 Fix ActiveRecord::ConnectionAdapters::QueryCache#dirties_query_cache
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#41067 Fix fixture_file_upload deprecation with relative file_fixture_path
  actionpack/lib/action_dispatch/testing/test_process.rb
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#41152 Fix joins that reserved word association is referenced in `where`
  activerecord/lib/active_record/associations/join_dependency.rb
  activerecord/test/cases/associations/inner_join_association_test.rb
  activerecord/test/fixtures/categories_posts.yml
  activerecord/test/models/post.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#40817 Add a Webpacker guide [ci skip]
  guides/source/webpacker.md
Labels: docs

#41155 Fix grammar and typos
  guides/source/webpacker.md
Labels: docs

#41154 Explicit check for html and text parts
  railties/lib/rails/templates/rails/mailers/email.html.erb
Labels: railties

#41139 Fix decorated type with `type_for_attribute` on the serialized attribute
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#41164 Fixed multiple enums declaration with _prefix/_suffix
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#41135 Correct logic warning about initializers
  guides/source/configuring.md
Labels: docs

#41180 Use length == 0 instead of empty? in Preloader
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#41179 ActionCable guides suggest test adapter for test env [ci skip]
  guides/source/action_cable_overview.md
Labels: docs

#41141 Changing 'rails new' --master to be --main
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/plugin/templates/%name%.gemspec.tt
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#41166 Raise unknown type error on the definition time
  activemodel/test/cases/attributes_test.rb
  activerecord/lib/active_record/attributes.rb
  activerecord/test/cases/adapters/postgresql/datatype_test.rb
  activerecord/test/cases/adapters/postgresql/geometric_test.rb
  activerecord/test/cases/adapters/postgresql/interval_test.rb
  activerecord/test/cases/attributes_test.rb
  activerecord/test/cases/inheritance_test.rb
Labels: activemodel, activerecord

#41187 Raise error when passing passing a class to :source_type
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/reflection_test.rb
Labels: activerecord

#41142 [ci skip] Update Guides to refer to main branch
  guides/source/contributing_to_ruby_on_rails.md
Labels: actionmailer, actionpack, actionview, activejob, activemodel, activerecord, activestorage, activesupport, docs, rails-ujs, railties

#41192 Don't return query cache enabled pools in the query cache executor
  activerecord/lib/active_record/query_cache.rb
Labels: activerecord

#41197 Remove trailing commas in route constraints examples [ci skip]
  guides/source/routing.md
Labels: docs

#41201 Search for yarn.cmd and yarn.ps1 in bin/yarn
  railties/lib/rails/generators/rails/app/templates/bin/yarn.tt
Labels: railties

#41200 Run bin/yarn via Ruby
  actiontext/lib/generators/action_text/install/install_generator.rb
  railties/test/generators/action_text_install_generator_test.rb
Labels: actiontext, railties

#41181 Opting out of strict loading on a per-record base
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#41189 Fix granular connection swapping when there are multiple abstract classes
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/connection_adapters/connection_swapping_nested_test.rb
Labels: activerecord

#41203 Avoid testing Thor internals
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#41205 Resolve default annotation tags after config loads
  railties/lib/rails/commands/notes/notes_command.rb
Labels: railties

#40392 Don't bother checking if strings respond to string methods
  activesupport/lib/active_support/core_ext/string/output_safety.rb
Labels: activesupport

#41208 Update name of input in tip to match example [ci skip]
  guides/source/form_helpers.md
Labels: docs

#41161 Add Webpacker to Guides list
  guides/source/documents.yaml
Labels: docs

#41162 Webpacker guide: remove Basecamp reference + fix broken links [docs] [skip-ci]
  guides/source/webpacker.md
Labels: docs

#41188 A few continuity improvements to Getting Started page [ci skip]
  guides/source/getting_started.md
Labels: docs

#41207 Support hash config for `structure_dump_flags` and `structure_load_flags` flags
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/mysql_rake_test.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
Labels: activerecord

#41183 Update test docs in "contributing to Rails" guide [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#41206 Fix current_page? with kwargs on ruby3
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview

#41224 Fix code block in Webpacker Guide [ci skip]
  guides/source/webpacker.md
Labels: docs

#41222 Add back ActiveStorage::Blob#find_signed
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/models/attachment_test.rb
Labels: activestorage

#41223 Handle throwing in controller action in log subscriber
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/log_subscriber.rb
  actionpack/test/controller/log_subscriber_test.rb
Labels: actionpack

#41065 Improve Fixture support for Active Storage
  activerecord/lib/active_record/railties/databases.rake
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage.rb
  activestorage/lib/active_storage/fixture_set.rb
  activestorage/test/fixture_set_test.rb
  activestorage/test/fixtures/active_storage/attachments.yml
  activestorage/test/fixtures/active_storage/blobs.yml
  activestorage/test/fixtures/users.yml
  activestorage/test/test_helper.rb
  guides/source/testing.md
  railties/lib/rails/test_help.rb
Labels: activerecord, activestorage, docs, railties

#41062 Improve ActionText::FixtureSet documentation
  actiontext/lib/action_text/fixture_set.rb
  guides/source/testing.md
Labels: actiontext, docs

#41225 Fix Flaky ActiveStorage test
  activestorage/lib/active_storage/fixture_set.rb
  activestorage/test/fixture_set_test.rb
  activestorage/test/models/attachment_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#41220 Fix doc: stylesheet_include_tag -> stylesheet_link_tag
  guides/source/generators.md
Labels: docs

#41228 Remove reference to globalize gem from I18n guide
  guides/source/i18n.md
Labels: docs

#41230 Fix typo [ci skip]
  activerecord/lib/active_record/fixtures.rb
Labels: activerecord

#41165 Add cosmetic improvements to the Webpacker guide
  guides/source/webpacker.md
Labels: actionpack, activemodel, activerecord, docs, railties

#41236 Fixing delegated types example.
  activerecord/lib/active_record/delegated_type.rb
Labels: activerecord

#41214 Allow jobs to rescue all exceptions
  activejob/CHANGELOG.md
  activejob/lib/active_job/execution.rb
  activejob/test/cases/rescue_test.rb
  activejob/test/jobs/rescue_job.rb
Labels: activejob

#41226 Guides: Missing erb tags for stylesheet_pack_tag [ci skip]
  guides/source/webpacker.md
Labels: docs

#41238 Update test names to match their behaviour
  activerecord/test/cases/associations/has_one_associations_test.rb
Labels: activerecord

#41232 Fix malformed packet error in MySQL statement for connection configuration
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
Labels: activerecord

#41237 Update test helper to call parallelize according to fork support
  actionview/test/abstract_unit.rb
  activesupport/test/abstract_unit.rb
Labels: actionview, activesupport

#41234 Show a warning when running no migration using SCOPE
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activerecord/test/migrations/scope/1_unscoped.rb
  activerecord/test/migrations/scope/2_mysql_only.mysql.rb
Labels: activerecord

#41227 Move ActiveStorage fixture hooks to on_load
  activerecord/lib/active_record/fixtures.rb
  activerecord/lib/active_record/railties/databases.rake
  activestorage/lib/active_storage/engine.rb
  railties/lib/rails/test_help.rb
Labels: activerecord, activestorage, railties

#41229 Improve ActiveRecord strict_loading documentation
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#41215 Remove legacy default media=screen from stylesheet_link_tag
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/lib/action_view/helpers/asset_url_helper.rb
  actionview/lib/action_view/railtie.rb
  actionview/test/template/asset_tag_helper_test.rb
  guides/source/action_view_helpers.md
  guides/source/asset_pipeline.md
  guides/source/configuring.md
  guides/source/layouts_and_rendering.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_2.rb.tt
  railties/test/application/asset_debugging_test.rb
  railties/test/application/configuration_test.rb
  railties/test/generators/app_generator_test.rb
Labels: actionview, docs, railties

#41251 Fix deprecation message s/Rails 6.1 will return/Rails 7.0 will return/
  actionpack/lib/action_dispatch/http/mime_negotiation.rb
Labels: actionpack

#41256 Revert qc changes
  activerecord/lib/active_record/query_cache.rb
Labels: activerecord

#41132 Ensure test rake commands run immediately
  railties/lib/rails/test_unit/runner.rb
  railties/lib/rails/test_unit/testing.rake
  railties/test/application/test_runner_test.rb
Labels: railties

#41263 [ci skip] Fix typo in configuration guide
  guides/source/configuring.md
Labels: docs

#41259 Webpacker guide code typos
  guides/source/webpacker.md
Labels: docs

#41272 Use string in the example[ci skip]
  activesupport/lib/active_support/message_verifier.rb
Labels: activesupport

#41186 Respect ActiveStorage default serving strategy
  activestorage/CHANGELOG.md
  activestorage/config/routes.rb
  activestorage/test/urls/rails_storage_proxy_url_test.rb
  activestorage/test/urls/rails_storage_redirect_url_test.rb
Labels: activestorage

#41260 Add example of the regexp parameter filter type [ci skip]
  actionpack/lib/action_dispatch/http/filter_parameters.rb
  activesupport/lib/active_support/parameter_filter.rb
Labels: actionpack, activesupport

#41000 Tweak dark mode CSS
  actionpack/lib/action_dispatch/middleware/templates/routes/_table.html.erb
  railties/lib/rails/templates/layouts/application.html.erb
Labels: actionpack, railties

#39135 [ActiveStorage] Add ability to use pre-defined variants
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/attachment.rb
  activestorage/lib/active_storage/attached/model.rb
  activestorage/lib/active_storage/reflection.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
  activestorage/test/models/reflection_test.rb
  activestorage/test/test_helper.rb
  guides/source/active_storage_overview.md
Labels: activestorage, docs

#41278 Deserialize enum value to original hash key
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord
