Repository rails/rails, pull requests merged in 2021-02, with the labels that each got.

#41280 Fix raw params method to not raise an exception
  actionpack/lib/action_controller/metal/http_authentication.rb
  actionpack/test/controller/http_token_authentication_test.rb
Labels: actionpack

#41296 Reduce allocations in camelize inflector
  activesupport/lib/active_support/inflector/methods.rb
Labels: activesupport

#41298 Stop setting RAILS_ENV when test_unit railtie is loaded
  railties/lib/rails/test_unit/railtie.rb
Labels: railties

#41300 Pass binds on PostgreSQL exec_query even when prepared statements off globally
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#41093 Make destroy async transactional
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/builder/association.rb
  activerecord/test/activejob/destroy_association_async_test.rb
Labels: activerecord

#41218 Fixes strict_loading! documentation
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/core.rb
Labels: activerecord

#40927 Skip logging rescuable exceptions
  activejob/CHANGELOG.md
  activejob/lib/active_job/base.rb
  activejob/lib/active_job/execution.rb
  activejob/lib/active_job/instrumentation.rb
  activejob/lib/active_job/logging.rb
  activejob/test/cases/logging_test.rb
Labels: activejob

#41302 `attribute` should not require a connection is established
  activerecord/lib/active_record/type.rb
  activerecord/test/cases/attributes_test.rb
  activerecord/test/cases/type_test.rb
Labels: activerecord

#41304 Address `Rails 7.0 will return Content-Type header without modification`
  actionmailbox/app/controllers/action_mailbox/ingresses/relay/inbound_emails_controller.rb
Labels: actionmailbox

#41305 Optimize humanize inflector
  activesupport/lib/active_support/inflector/methods.rb
Labels: activesupport

#41303 Optimize underscore inflector
  activesupport/lib/active_support/inflector/methods.rb
Labels: activesupport

#41306 Add missing require to ActiveJob::TestHelper
  activejob/lib/active_job/test_helper.rb
Labels: activejob

#41293 Address `warning: Passing only keyword arguments to Struct#initialize`
  actionview/test/template/url_helper_test.rb
  activerecord/test/cases/arel/support/fake_record.rb
  activerecord/test/cases/type/adapter_specific_registry_test.rb
Labels: actionview, activerecord

#41313 Handle Symbol arguments in `ActiveSupport::Inflector.camelize`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/inflector/methods.rb
  activesupport/test/core_ext/string_ext_test.rb
  activesupport/test/inflector_test.rb
Labels: activesupport

#41292 Fix Mysql schema for virtual column expressions with quotes
  activerecord/lib/active_record/connection_adapters/mysql/schema_dumper.rb
  activerecord/test/cases/adapters/mysql2/virtual_column_test.rb
Labels: activerecord

#41318 Handle Symbol arguments in `ActiveSupport::Inflector.camelize` (v2)
  activesupport/lib/active_support/inflector/methods.rb
  activesupport/test/inflector_test.rb
Labels: activesupport

#41315 Remove skipped TestRunner tests
  railties/test/application/test_runner_test.rb
Labels: railties

#40229 Prevent thundering herd of Action Cable clients
  actioncable/CHANGELOG.md
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/javascript/action_cable/connection_monitor.js
  actioncable/test/javascript/src/test.js
  actioncable/test/javascript/src/unit/connection_monitor_test.js
Labels: actioncable

#41324 Fix timestamp type for sqlite3
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/migration/change_schema_test.rb
Labels: activerecord

#41217 [ci-skip] Adding options example in ActiveModel::Errors doc
  activemodel/lib/active_model/errors.rb
Labels: activemodel

#41210 Modernize scaffold generator
  activerecord/CHANGELOG.md
  railties/lib/rails/generators/erb/scaffold/scaffold_generator.rb
  railties/lib/rails/generators/erb/scaffold/templates/edit.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/index.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/new.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/partial.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/show.html.erb.tt
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/lib/rails/generators/rails/scaffold/templates/scaffold.css
  railties/lib/rails/generators/rails/scaffold_controller/templates/api_controller.rb.tt
  railties/lib/rails/generators/rails/scaffold_controller/templates/controller.rb.tt
  railties/test/application/generators_test.rb
  railties/test/application/rake_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/scaffold_controller_generator_test.rb
  railties/test/generators/scaffold_generator_test.rb
Labels: actionmailer, actionpack, actiontext, actionview, activerecord, good first issue, needs work, rails-ujs, railties

#41331 Match the show action case in the new(updated) scaffold generator
  railties/lib/rails/generators/erb/scaffold/templates/partial.html.erb.tt
Labels: railties

#41258 Expose `primary_abstract_class` public API
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/inheritance.rb
  activerecord/test/cases/connection_adapters/connection_swapping_nested_test.rb
  activerecord/test/cases/primary_class_test.rb
  guides/source/active_record_multiple_databases.md
Labels: activerecord, docs

#41335 Reduce memory allocations
  actionpack/lib/action_dispatch/journey/router/utils.rb
Labels: actionpack

#41334 Refactor preventing writes and write query check
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
Labels: activerecord

#41337 Fix typo in deprecation warning
  actionpack/lib/action_dispatch/http/response.rb
Labels: actionpack

#41326 Strip whitespace in disallow_raw_sql!
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/sanitization.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#41342 Fix `build` multiple records on association relation to not lose scope values
  activerecord/lib/active_record/association_relation.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
Labels: activerecord

#41340 Remove all version checking for older Rubies in tests
  actionpack/test/controller/helper_test.rb
  actionview/test/template/translation_helper_test.rb
  activerecord/test/cases/adapters/postgresql/range_test.rb
  activerecord/test/cases/arel/attributes/attribute_test.rb
  activerecord/test/cases/filter_attributes_test.rb
  activerecord/test/cases/migration/change_table_test.rb
  activesupport/test/core_ext/name_error_test.rb
  activesupport/test/core_ext/range_ext_test.rb
  railties/test/application/console_test.rb
  railties/test/engine/commands_test.rb
  railties/test/generators/actions_test.rb
Labels: actionpack, actionview, activerecord, activesupport, railties

#41333 Enumerable#in_order_of
  activerecord/lib/active_record/relation/finder_methods.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/test/core_ext/enumerable_test.rb
Labels: activerecord, activesupport

#41343 Remove confusing part of JavaScript guide regarding confirmations [ci skip]
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#40254 Change default branch for new Rails projects and plugins to main
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#41339 Break up abstract connection pool
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool/queue.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool/reaper.rb
Labels: activerecord

#41347 Use String#grapheme_clusters instead of String#scan
  activesupport/lib/active_support/core_ext/string/filters.rb
  activesupport/lib/active_support/multibyte/chars.rb
Labels: activesupport

#41191 Communicate enqueue failures to callers of perform_later
  activejob/CHANGELOG.md
  activejob/lib/active_job/core.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/test/cases/queuing_test.rb
  activejob/test/jobs/enqueue_error_job.rb
Labels: activejob

#41354 Remove unused requires on lib/active_record/associations.rb
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/collection_association.rb
Labels: activerecord

#40724 Fix the documentation for use_cookies_with_metadata
  guides/source/configuring.md
Labels: docs

#41358 Some grammar passes around guides [ci skip]
  guides/source/7_0_release_notes.md
  guides/source/active_record_multiple_databases.md
Labels: docs

#41359 Removing Ruby 2.6 monkeypatch from active_support/core_ext/uri
  actionpack/lib/action_controller.rb
  actionpack/lib/action_dispatch/routing/redirection.rb
  activesupport/lib/active_support/core_ext/uri.rb
Labels: actionpack, activesupport

#41367 Removes Symbol#start_with? and Symbol#end_with? since they are defined in Ruby 2.7
  activesupport/lib/active_support/core_ext/symbol/starts_ends_with.rb
  activesupport/test/core_ext/symbol_ext_test.rb
Labels: activesupport

#41366 Remove checks for Module#method_defined? arity
  activerecord/lib/active_record/autosave_association.rb
  activesupport/lib/active_support/callbacks.rb
Labels: activerecord, activesupport

#41357 Remove redundant check for frozen keys on deep dup
  activesupport/lib/active_support/core_ext/object/deep_dup.rb
Labels: activesupport

#41365 Use native Range#cover? which accepts a Range argument since Ruby 2.6
  activesupport/lib/active_support/core_ext/range/compare_range.rb
  activesupport/test/core_ext/range_ext_test.rb
  guides/source/active_support_core_extensions.md
Labels: activesupport, docs

#40995 Add note for ActionText models that use UUID's [ci skip]
  guides/source/action_text_overview.md
Labels: docs

#41369 Remove check for UnboundMethod#method_defined? bind_call
  activesupport/lib/active_support/core_ext/name_error.rb
Labels: activesupport

#41350 Add ActiveRecord::Base.connection.with_advisory_lock
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/adapters/mysql2/connection_test.rb
  activerecord/test/cases/adapters/postgresql/connection_test.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#40037 Allow Adapter#select_all to be performed asynchronously from a background thread pool
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/asynchronous_queries_tracker.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/future_result.rb
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/result.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/connection_management_test.rb
Labels: activerecord

#41363 Use Enumerator#all? and Enumerator#any? with classes instead of iterations
  actionpack/lib/action_dispatch/http/mime_negotiation.rb
  actionpack/test/controller/parameters/accessors_test.rb
  activemodel/lib/active_model/validations.rb
  activemodel/test/cases/validations/with_validation_test.rb
  activerecord/lib/active_record/aggregations.rb
  activerecord/lib/active_record/attribute_assignment.rb
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/reflection_test.rb
  activesupport/lib/active_support/callbacks.rb
  activesupport/lib/active_support/core_ext/array/conversions.rb
  activesupport/lib/active_support/testing/method_call_assertions.rb
Labels: actionpack, activemodel, activerecord, activesupport

#41374 not significant significant method
  activesupport/lib/active_support/number_helper/rounding_helper.rb
Labels: activesupport

#41325 Fixing grammar in autoloading_and_reloading_constants [ci-skip]
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#40441 Update outdated has_secure_password documentation
  guides/source/security.md
Labels: docs

#41370 Allow `serialize` attribute on `alias_attribute`
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#41376 Handle nil key for MemCacheStore#normalize_key
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#41371 Allow `build` multiple records even on non association relation
  activerecord/lib/active_record/association_relation.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#41319 Fix `scope_for_create` to take only equality nodes
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/where_clause.rb
  activerecord/test/cases/scoping/relation_scoping_test.rb
Labels: activerecord

#41383 Fix the underscore inflector optimization
  activesupport/lib/active_support/inflector/methods.rb
  activesupport/test/inflector_test_cases.rb
Labels: activesupport

#41384 Fix autoload for NullPool
  activerecord/lib/active_record/connection_adapters.rb
Labels: activerecord

#41083 Avoid suggesting very unlikely changes in `rails app:update`
  guides/source/upgrading_ruby_on_rails.md
  railties/CHANGELOG.md
  railties/lib/rails/app_updater.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
Labels: docs, railties

#41381 Allow addresses to support `nil` values
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#40351 Return BigDecimal **OR** Float from "average" operations
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#41349 Set `ApplicationRecord` to `primary_abstract_class`
  activerecord/lib/active_record/inheritance.rb
  activerecord/lib/rails/generators/active_record/application_record/templates/application_record.rb.tt
  railties/lib/rails/generators/rails/app/templates/app/models/application_record.rb.tt
  railties/lib/rails/generators/rails/plugin/templates/app/models/%namespaced_name%/application_record.rb.tt
  railties/test/generators/application_record_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: activerecord, railties

#41104 Prevent webpacker:install failures on missing Gemfile
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/bin/spring.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#41385 Batch Preloader::Association queries having similar queries
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/models/post.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#41395 PostgreSQL: handle `timestamp with time zone` columns correctly in `schema.rb`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/oid.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/timestamp.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/timestamp_with_time_zone.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/ar_schema_test.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
Labels: activerecord

#40806 Make migration context public
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#41401 Add missing CHANGELOG entry for #40351
  activerecord/CHANGELOG.md
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#41399 Overwrite bin/yarn when running app:binstub:yarn
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/application/rake_test.rb
Labels: railties

#41407 Improve AJAX example [ci skip]
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#41410 Add ActiveRecord::Result.empty
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/future_result.rb
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/result.rb
Labels: activerecord

#41397 Enable scoping to apply to all queries
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/scoping.rb
  activerecord/test/cases/scoping/relation_scoping_test.rb
Labels: activerecord

#41416 Fix formatting in highlight docs
  actionview/lib/action_view/helpers/text_helper.rb
Labels: actionview

#41394 Avoid stack level too deep in predicate builder
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/test/cases/associations/cascaded_eager_loading_test.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/join_model_test.rb
  activerecord/test/cases/associations/left_outer_join_association_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/cases/inheritance_test.rb
  activerecord/test/cases/scoping/relation_scoping_test.rb
  activerecord/test/fixtures/comments.yml
  activerecord/test/fixtures/companies.yml
  activerecord/test/models/comment.rb
  activerecord/test/models/company.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#41419 Fix #41417 Handle Relations with having referencing aliased selects in #include?
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#41421 Add missing ActionView helper number_to_human in guides [ci skip]
  guides/source/action_view_helpers.md
Labels: docs

#41411 Fixes a typo and some cosmetic changes for migration documentation [ci skip]
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#41418 Harmonize average aggregation with minimum and maximum
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#41423 Fix `unprepared_statement` to work it when nesting
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/bind_parameter_test.rb
Labels: activerecord

#41424 Mention that speed boost on Hash also changes behaviour
  activesupport/CHANGELOG.md
Labels: activesupport

#41404 Enumerable#maximum
  actionpack/test/controller/render_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/test/core_ext/enumerable_test.rb
Labels: actionpack, activesupport

#41427 activerecord: Extract primary key constraints hash to a method
  activerecord/lib/active_record/persistence.rb
Labels: activerecord

#41428 Test #maximum and #minimum with empty enumerable
  activesupport/test/core_ext/enumerable_test.rb
Labels: activesupport

#41431 Fix `average` on decimal and enum attributes
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#41432 Improve documentation of Rails::Command.find_by_namespace [skip ci]
  railties/lib/rails/command.rb
Labels: railties

#41434 Trim new lines in USAGE ERB tags
  railties/lib/rails/command/base.rb
  railties/lib/rails/commands/help/USAGE
Labels: railties

#41435 Refactor CVE-2021-22881 fix
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/test/dispatch/host_authorization_test.rb
  railties/test/application/middleware/remote_ip_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: actionpack, railties

#41443 Support phone_to options when name not specified
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview

#40998 [ci skip] instruct to change active_storage_variant_records.id column type to U…
  guides/source/active_storage_overview.md
Labels: docs

#41447 Fix docs formatting [ci skip]
  guides/source/active_storage_overview.md
Labels: docs

#41441 Fix inline code markup [ci-skip]
  actioncable/lib/action_cable/channel/test_case.rb
  actionpack/lib/action_controller/renderer.rb
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/lib/action_dispatch/middleware/stack.rb
  actionpack/lib/action_dispatch/middleware/static.rb
  actionpack/lib/action_dispatch/routing/redirection.rb
  actionpack/lib/action_dispatch/testing/integration.rb
  actionview/lib/action_view/helpers/asset_url_helper.rb
  actionview/lib/action_view/helpers/rendering_helper.rb
  activejob/lib/active_job/execution.rb
  activejob/lib/active_job/queue_adapter.rb
  activemodel/lib/active_model/error.rb
  activemodel/lib/active_model/errors.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/fixtures.rb
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/scoping/default.rb
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/lib/active_support/notifications.rb
  activesupport/lib/active_support/parameter_filter.rb
  activesupport/lib/active_support/time_with_zone.rb
  activesupport/lib/active_support/values/time_zone.rb
  railties/lib/rails/source_annotation_extractor.rb
Labels: docs

#41444 Improve phone_to API documentation [ci-skip]
  actionview/lib/action_view/helpers/url_helper.rb
Labels: docs

#41436 Fix Upgrading guides [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#41438 Added guides for Active Record `preload` and `eager_load`. [skip ci]
  guides/source/active_record_querying.md
Labels: docs

#41449 Support sms_to options when name not specified
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview

#41451 Support mail_to options when name not specified
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/test/template/url_helper_test.rb
Labels: actionview

#41450 Improve sms_to API documentation [ci-skip]
  actionview/lib/action_view/helpers/url_helper.rb
Labels: docs

#41430 Guard against using VERSION with db:rollback
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/migrations_test.rb
Labels: activerecord, railties

#41439 Add #excluding to ActiveRecord::Relation to exclude a record (or collection of records) from the resulting relation.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/excluding_test.rb
Labels: activerecord

#41454 Fix branch for `rails new --edge` on `6-1-stable`
  railties/lib/rails/generators/app_base.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#41464 Deprecate render locals to be assigned to instance variables
  actionview/CHANGELOG.md
  actionview/lib/action_view/template.rb
  actionview/test/template/compiled_templates_test.rb
Labels: actionview

#41372 Implement Relation#load_async to schedule the query on the background thread pool
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/asynchronous_queries_tracker.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/future_result.rb
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/result.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/relation/load_async_test.rb
Labels: activerecord

#41465 Added ActiveRecord::Relation#without as alias for #excluding.
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/excluding_test.rb
Labels: activerecord

#41463 Re-define _routes when not set correctly via inheritance
  actionpack/lib/abstract_controller/railties/routes_helpers.rb
  railties/test/railties/engine_test.rb
Labels: actionpack, railties

#41468 Update Rails version in deprecation and add non-deprecated code
  actionview/lib/action_view/template.rb
  actionview/test/template/compiled_templates_test.rb
Labels: actionmailbox, actionmailer, actionpack, actionview, activejob, activemodel, activerecord, activesupport

#41467 Improve rack_test integration for system tests
  actionpack/lib/action_dispatch/system_testing/driver.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack

#41472 Fix the duplicated media attribute in stylesheet_link_tag
  actionview/lib/action_view/helpers/asset_tag_helper.rb
Labels: actionview

#41483 Fix schema dumper for infinite dates in PostgreSQL
  activerecord/lib/active_record/connection_adapters/postgresql/oid/date.rb
  activerecord/test/cases/schema_dumper_test.rb
Labels: activerecord

#41475 Add `uncountable?` method to ActiveModel::Name
  activemodel/lib/active_model/naming.rb
  activemodel/test/cases/naming_test.rb
Labels: activemodel

#41488 Add send_stream to do for dynamic streams what send_data does for static files
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/live.rb
  actionpack/test/controller/live_stream_test.rb
Labels: actionpack

#41493 Add redirect_back directive to Rails 5.0 -> 5.1 upgrade guide
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#41328 Allow new syntax for `enum` to avoid leading `_` from reserved options
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
  guides/source/active_record_querying.md
Labels: activerecord, docs

#41440 Extract ActiveStorage::Streaming so your own controllers can use it
  .rubocop.yml
  activestorage/CHANGELOG.md
  activestorage/app/controllers/active_storage/base_controller.rb
  activestorage/app/controllers/active_storage/blobs/proxy_controller.rb
  activestorage/app/controllers/active_storage/representations/proxy_controller.rb
  activestorage/app/controllers/concerns/active_storage/set_headers.rb
  activestorage/app/controllers/concerns/active_storage/streaming.rb
  activestorage/test/controllers/representations/proxy_controller_test.rb
Labels: activestorage

#41499 Call `run` after preloading records
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#41495 Allow async executor to be configurable
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/asynchronous_queries_test.rb
  activerecord/test/cases/database_configurations/hash_config_test.rb
  activerecord/test/support/connection.rb
Labels: activerecord

#41504 Remove mention to use ActionMailer to receive emails [ci skip]
  guides/source/action_mailer_basics.md
Labels: docs

#41478 Add guard for calling `finalize` when NullSession is present
  activerecord/lib/active_record/asynchronous_queries_tracker.rb
Labels: activerecord

#41501 Add ActionController::Live::Buffer#writeln the write a line to the stream with a newline included
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/live.rb
  actionpack/test/controller/live_stream_test.rb
Labels: actionpack

#41507 Adjust application pack in webpacker guide [ci-skip]
  guides/source/webpacker.md
Labels: docs

#41512 Fixes typo in the async query executor documentation added in #41495 [ci skip]
  activerecord/lib/active_record/core.rb
Labels: activerecord

#41486 Should not change serializable value for the enum attribute
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#41518 Fix proxying keyword arguments for ActiveSupport::CurrentAttributes.
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#41390 Allow passing anything with `#to_str` into `redirect_to`
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/redirecting.rb
  actionpack/test/controller/redirect_test.rb
Labels: actionpack

#41516 Serialized value on the enum attribute should be type casted by the subtype
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#41528 Address CI failure due to non-determined sort order
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#41509 use proper style name snake_form for table naming convention [ci-skip]
  guides/source/active_record_basics.md
Labels: docs

#41522 Require a path for `config.cache_store = :file_store`
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/file_store.rb
  activesupport/test/cache/cache_store_setting_test.rb
Labels: activesupport

#41534 Adding robots.txt to guide as Lighthouse is warning about it
  guides/assets/robots.txt
Labels: docs

#41496 Allow preloader to batch at deeper levels
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/associations/preloader/batch.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#41525 [ci skip] Note dangerous use of redirect_to
  actionpack/lib/action_controller/metal/redirecting.rb
  guides/source/security.md
Labels: actionpack, docs

#41533 Load timesetamps on join tables for `has_many :through` fixtures
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/fixture_set/table_row.rb
  activerecord/lib/active_record/fixtures.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/fixtures/loots.yml
  activerecord/test/fixtures/parrots.yml
  activerecord/test/models/loot.rb
  activerecord/test/models/loot_parrot.rb
  activerecord/test/models/parrot.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#41529 yarn:install on windows would crash
  railties/lib/rails/tasks/yarn.rake
Labels: railties

#41555 [ci skip] Fix documentation of #attribute_for_inspect
  activerecord/lib/active_record/attribute_methods.rb
Labels: activerecord

#41548 Preserve index sort order when altering sqlite3 table
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#41569 action_cable_overview.md: "setup" -> "set up"
  guides/source/action_cable_overview.md
Labels: docs

#41572 "empty?" docs: Suggest "load.empty?" over "length.zero?"
  activerecord/lib/active_record/associations/collection_proxy.rb
Labels: activerecord

#41570 action_cable_overview.md: Mention PG, not just Redis
  guides/source/action_cable_overview.md
Labels: docs

#41571 plugin_generator_test.rb: Extract simulate_application_existence
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#41514 Action Text rich text area tag should use to_trix_html value
  actiontext/app/helpers/action_text/tag_helper.rb
  actiontext/app/models/action_text/rich_text.rb
  actiontext/test/template/form_helper_test.rb
Labels: actiontext
