Repository rails/rails, pull requests merged in 2022-03, with the labels that each got.

#44581 Bump jsbindling-rails and cssbundling-rails
  Gemfile.lock
  railties/test/generators/app_generator_test.rb
Labels: railties

#44584 Eager load ActiveJob::ConfiguredJob and Serializers
  activejob/lib/active_job.rb
Labels: activejob

#44578 Apply content security policy mapping when generated dynamically:
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/content_security_policy.rb
  actionpack/test/dispatch/content_security_policy_test.rb
Labels: actionpack

#42843 Switch `ActiveSupport::MessageVerifier`'s default serialization to JSON
  activestorage/app/controllers/active_storage/disk_controller.rb
  activesupport/lib/active_support/message_verifier.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/test/message_verifier_test.rb
  guides/source/configuring.md
  guides/source/upgrading_ruby_on_rails.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
  railties/test/application/middleware/cookies_test.rb
Labels: activesupport, railties, docs, activestorage

#44575 Modernize ActiveSupport::Autoload
  activesupport/lib/active_support/dependencies/autoload.rb
Labels: activesupport

#44585 Remove circle from HTML_VOID_ELEMENTS set.
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#44600 Handle net-smtp mail dependency error for Ruby 3.1
  actionmailbox/app/models/action_mailbox/inbound_email.rb
  actionmailbox/lib/action_mailbox/mail_ext.rb
  actionmailbox/lib/action_mailbox/mail_with_error_handling.rb
  actionmailer/lib/action_mailer.rb
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/mail_with_error_handling.rb
Labels: actionmailer, actionmailbox

#44606 remove typo - one word is being repeat
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#44573 Allow open transactions to be restored upon DB reconnect
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#44609 Update verbose_query_logs method [ci-skip]
  guides/source/debugging_rails_applications.md
Labels: docs

#44569 Removed options method argument from application tests in railties
  railties/test/application/test_test.rb
Labels: railties

#44611 Avoid adding constants to Enumerable
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/test/core_ext/enumerable_test.rb
Labels: activesupport

#44610 Better handle basic authentication without a password
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/http_authentication.rb
  actionpack/test/controller/http_basic_authentication_test.rb
Labels: actionpack

#44612 Eager load ActionDispatch::Routing::RoutesProxy
  actionpack/lib/action_dispatch/routing.rb
Labels: actionpack

#44615 Do not remove assets initializer when using propshaft
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#44618 Load Action Cable with Zeitwerk
  Gemfile.lock
  actioncable/actioncable.gemspec
  actioncable/lib/action_cable.rb
  actioncable/lib/action_cable/channel.rb
  actioncable/lib/action_cable/connection.rb
  actioncable/lib/action_cable/engine.rb
  actioncable/lib/action_cable/server.rb
  actioncable/lib/action_cable/server/worker.rb
  actioncable/lib/action_cable/subscription_adapter.rb
  actioncable/lib/action_cable/subscription_adapter/async.rb
  actioncable/lib/action_cable/subscription_adapter/test.rb
  actioncable/test/channel/stream_test.rb
  actioncable/test/subscription_adapter/redis_test.rb
Labels: actioncable

#44459 Set a default value for ActiveSupport::ErrorReporter#report handled kwarg
  activesupport/lib/active_support/error_reporter.rb
Labels: activesupport

#44627 Backport #44304 to 7-0-stable
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/assets/javascripts/actioncable.esm.js
  actioncable/app/assets/javascripts/actioncable.js
  actioncable/app/javascript/action_cable/connection.js
Labels: actioncable

#44633 Remove `--no-comments` from Postgres structure dump command
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
  guides/source/active_record_postgresql.md
  guides/source/configuring.md
Labels: activerecord, docs

#44551 Implement ErrorReporter#disable
  activesupport/lib/active_support/error_reporter.rb
  activesupport/test/error_reporter_test.rb
Labels: activesupport

#44613 Fix eager loading of ActionDispatch::Routing
  actionpack/lib/action_dispatch.rb
Labels: actionpack

#44631 fix namespaced schema load ignoring protected env
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#44628 Improve the documentation and guide about where.not
  activerecord/lib/active_record/relation/query_methods.rb
  guides/source/active_record_querying.md
Labels: activerecord, docs

#44641 fix rubocop errors
  activestorage/lib/active_storage/transformers/image_processing_transformer.rb
  activestorage/test/models/variant_test.rb
  railties/test/application/configuration_test.rb
Labels: railties, activestorage

#44639 Add missing require to activerecord base_test.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#44635 Generate content security policy for non-HTML responses
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/content_security_policy.rb
  actionpack/test/dispatch/content_security_policy_test.rb
Labels: actionpack

#44617 Add `active_record.destroy_association_async_batch_size` configuration
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/has_many_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/activejob/destroy_association_async_test.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: activerecord, railties, docs

#44643 Instrument Action Mailbox processing
  actionmailbox/app/models/action_mailbox/inbound_email.rb
  actionmailbox/lib/action_mailbox/base.rb
  actionmailbox/test/unit/mailbox/notifications_test.rb
Labels: actionmailbox

#44644 ActiveSupport::OrderedOptions handle custom #dig
  activesupport/lib/active_support/ordered_options.rb
  activesupport/test/ordered_options_test.rb
Labels: activesupport

#44647 Removed unwanted requires of `tempfile` and fix rubocop errors
  activerecord/test/cases/fixtures_test.rb
  activesupport/test/ordered_options_test.rb
  railties/test/commands/credentials_test.rb
Labels: activerecord, activesupport, railties

#44648 Documentation mattr_(reader|writer|accessor)
  activesupport/lib/active_support/core_ext/module/attribute_accessors.rb
Labels: activesupport

#44387 fix activestorage update
  activestorage/db/update_migrate/20190112182829_add_service_name_to_active_storage_blobs.rb
  activestorage/db/update_migrate/20191206030411_create_active_storage_variant_records.rb
  activestorage/db/update_migrate/20211119233751_remove_not_null_on_active_storage_blobs_checksum.rb
Labels: activestorage

#44596 Use #attribute_names in ActiveRecord::Core#inspect
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/core_test.rb
Labels: activerecord

#44661 Fix typos [ci skip]
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
Labels: activerecord

#44663 Remove unmaintained francesc/rails-translate-routes gem
  guides/source/i18n.md
Labels: docs

#44660 Fix ChatRelayJob definition in Testing Guide
  guides/source/testing.md
Labels: docs

#44674 Fix syntax error in PrimaryApplicationRecord
  guides/source/active_record_multiple_databases.md
Labels: docs

#44672 Fix typo in engines guide for reopening existing classes using concern [ci-skip]
  guides/source/engines.md
Labels: docs

#44675 Fixed rdoc typo highlighting for ActiveSupport::KeyGenerator class [ci-skip]
  activesupport/lib/active_support/key_generator.rb
Labels: activesupport

#44598 Improve autoloading_and_reloading_constants.md [ci-skip]
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#44678 More rdoc improvements to activesupport [ci-skip]
  activesupport/lib/active_support/core_ext/time/zones.rb
  activesupport/lib/active_support/time_with_zone.rb
  activesupport/lib/active_support/values/time_zone.rb
Labels: activesupport

#44654 Fixed MariaDB default function
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/schema_dumper_test.rb
Labels: activerecord

#44680 Fix typo
  guides/source/form_helpers.md
Labels: docs

#44085 Extend audio_tag and video_tag to accept Active Storage attachments
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  activestorage/test/models/reflection_test.rb
  activestorage/test/template/audio_tag_test.rb
  activestorage/test/template/video_tag_test.rb
  activestorage/test/test_helper.rb
Labels: actionmailer, activerecord, activesupport, actionview, actioncable, activestorage, actionmailbox

#44683 Fixed typo: Github -> GitHub [ci-skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#44670 Use `controller_class_path` in `Rails::Generators::NamedBase#route_url`
  railties/CHANGELOG.md
  railties/lib/rails/generators/named_base.rb
  railties/test/generators/scaffold_controller_generator_test.rb
Labels: railties

#43958 Short circuit `authenticate_by` on empty password
  activerecord/lib/active_record/secure_password.rb
  activerecord/test/cases/secure_password_test.rb
Labels: activerecord

#43975 Fix a bug with time_select and prompts
  actionview/lib/action_view/helpers/date_helper.rb
  actionview/test/template/date_helper_test.rb
Labels: actionview

#43688 Support password challenge via `has_secure_password`
  activemodel/lib/active_model/secure_password.rb
  activemodel/test/cases/secure_password_test.rb
  activemodel/test/models/user.rb
Labels: activemodel

#44655 Change the Action Mailbox AS::Notification payload to include the mailbox instance
  actionmailbox/lib/action_mailbox/base.rb
  actionmailbox/test/unit/mailbox/notifications_test.rb
Labels: actionmailbox

#44689 Fix typo: NodeJS -> Node.js [ci-skip]
  guides/source/asset_pipeline.md
Labels: docs

#44669 Extract float
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#42350 Fix migrations compatibility for polymorphic references default index name
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#44690 [mysql2 tests only] Flunk if test is not using SavepointTransaction
  activerecord/test/cases/adapters/mysql2/nested_deadlock_test.rb
Labels: activerecord

#44694 remove extra core_ext/object/blank requires
  activerecord/lib/active_record/connection_adapters/postgresql/column.rb
  activesupport/lib/active_support/duration/iso8601_serializer.rb
  activesupport/lib/active_support/number_helper/number_converter.rb
  activesupport/lib/active_support/number_helper/number_to_phone_converter.rb
  railties/lib/rails/rack/logger.rb
Labels: activerecord, activesupport, railties

#44691 Fix migrations compatibility for polymorphic references default index name
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#44693 Fix `#version` method docs and some typos [ci-skip]
  actioncable/lib/action_cable/gem_version.rb
  actioncable/lib/action_cable/version.rb
  actionmailbox/lib/action_mailbox/gem_version.rb
  actionmailbox/lib/action_mailbox/version.rb
  actionmailer/lib/action_mailer/gem_version.rb
  actionmailer/lib/action_mailer/version.rb
  actionpack/lib/action_pack/gem_version.rb
  actionpack/lib/action_pack/version.rb
  actiontext/lib/action_text/gem_version.rb
  actiontext/lib/action_text/version.rb
  actionview/lib/action_view/gem_version.rb
  actionview/lib/action_view/version.rb
  activejob/lib/active_job/gem_version.rb
  activejob/lib/active_job/version.rb
  activemodel/lib/active_model/gem_version.rb
  activemodel/lib/active_model/version.rb
  activerecord/lib/active_record/gem_version.rb
  activerecord/lib/active_record/version.rb
  activestorage/lib/active_storage/gem_version.rb
  activestorage/lib/active_storage/version.rb
  activesupport/lib/active_support/gem_version.rb
  activesupport/lib/active_support/version.rb
  guides/source/2_3_release_notes.md
  railties/lib/rails/gem_version.rb
  railties/lib/rails/version.rb
  version.rb
Labels: actionmailer, actionpack, activemodel, activerecord, activesupport, railties, docs, actionview, activejob, actioncable, activestorage, actionmailbox, actiontext

#44684 [DOC] Introduce concerns example in Getting Started [ci-skip]
  guides/source/getting_started.md
Labels: docs

#44695 Fix TaggedLogging functionality when broadcasting to another logger:
  activesupport/lib/active_support/logger.rb
  activesupport/lib/active_support/tagged_logging.rb
  activesupport/test/broadcast_logger_test.rb
  activesupport/test/tagged_logging_test.rb
Labels: activesupport

#44162 Only configure smtp_settings if provided on configuration
  actionmailer/lib/action_mailer/railtie.rb
  railties/test/application/configuration_test.rb
Labels: actionmailer, railties

#44703 Fixes test cases for ActiveSupport multibyte chars
  activesupport/test/multibyte_chars_test.rb
Labels: activesupport

#44706 Modernize contributing docs
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#44712 Get rid of `MySQL::SchemaStatements#create_table_sql`
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
Labels: activerecord

#44664 Factor out `ActiveModel::AttributeRegistration`
  activemodel/lib/active_model.rb
  activemodel/lib/active_model/attribute/user_provided_default.rb
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/lib/active_model/attribute_registration.rb
  activemodel/lib/active_model/attribute_set.rb
  activemodel/lib/active_model/attributes.rb
  activemodel/test/cases/attribute_registration_test.rb
Labels: activemodel

#44707 Auto-create user and grant privs when creating dbs
  .devcontainer/boot.sh
  activerecord/Rakefile
Labels: activerecord

#44718 Add missing test cases for Object in activesupport
  activesupport/test/core_ext/object/acts_like_test.rb
Labels: activesupport

#44722 Update all counters in `reset_counters` using a single query
  activerecord/lib/active_record/counter_cache.rb
Labels: activerecord

#44608 Mime Support for "problem detail"
  actionpack/lib/action_dispatch/http/mime_types.rb
  actionpack/test/dispatch/request/json_params_parsing_test.rb
Labels: actionpack

#44723 Alter acts_like_test.rb
  activesupport/test/core_ext/object/acts_like_test.rb
Labels: activesupport

#44726 Allow overriding of Que and QC urls in integration tests
  activejob/test/support/integration/adapters/que.rb
  activejob/test/support/integration/adapters/queue_classic.rb
Labels: activejob

#44725 Fix deprecation warnings in Action Text tests
  actiontext/test/integration/controller_render_test.rb
  actiontext/test/integration/mailer_render_test.rb
Labels: actiontext

#44724 Allow overriding of redis url when running tests
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#44730 Restore application/problem+json after tests
  actionpack/test/dispatch/request/json_params_parsing_test.rb
Labels: actionpack

#44728 Deprecate preserving the pre-Ruby 2.4 behavior of `to_time`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/core_ext/date_and_time_compatibility_test.rb
  activesupport/test/time_zone_test_helpers.rb
Labels: activesupport

#44732 Refactor ActionDispatch::Journey::Path::Pattern#offsets method to avoid race condition
  actionpack/lib/action_dispatch/journey/path/pattern.rb
Labels: actionpack

#44740 Correct spelling in docs nullbale -> nullable
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#44750 remove testing HWIA serialization for old psych
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#44749 fix serializing Parameters as yaml
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters_integration_test.rb
Labels: actionpack

#44748 Removed unwanted code which sets session host in console mode
  railties/lib/rails/console/app.rb
Labels: railties

#44752 Backport #44749 to 7-0-stable
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters_integration_test.rb
Labels: actionpack

#44757 Fix `Range#overlaps?` for beginless ranges
  activesupport/lib/active_support/core_ext/range/overlaps.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport

#44756 Receive a block to ActionController::Parameters.to_h
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/mutators_test.rb
Labels: actionpack

#44727 docs: Add a description about SQL LIKE sanitization [ci-skip]
  guides/source/active_record_querying.md
Labels: docs

#44764 Highlight `ShardSelector` class mentioned in the docs [ci-skip]
  guides/source/active_record_multiple_databases.md
Labels: docs

#44720 Introduce `html:` and `screenshot:` kwargs for system test screenshot helper
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
Labels: actionpack

#44763 Add the Active Job Test Adapter to QueueAdapter documentation [ci-skip]
  activejob/lib/active_job/queue_adapters.rb
Labels: activejob

#44766 Update local development guide
  guides/source/development_dependencies_install.md
Labels: docs

#44769 Improve `sanitize_sql_like` performance
  activerecord/lib/active_record/sanitization.rb
  activerecord/test/cases/sanitize_test.rb
Labels: activerecord

#44773 Fix spelling
  guides/rails_guides/generator.rb
Labels: docs

#44779 Remove duplicates from rdoc comments
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
Labels: activerecord

#44781 Added missing `config.session_store` option `:cache_store` to docs [ci-skip]
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
Labels: railties, docs

#44717 Add yarn install into bin/setup when not using importmap
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
Labels: railties

#44770 Remove override of ActiveModel#attribute_names
  activemodel/lib/active_model/serialization.rb
  activerecord/lib/active_record/serialization.rb
Labels: activemodel, activerecord

#44788 Change `yaml` to `YAML`
  actionpack/test/controller/parameters/serialization_test.rb
  actionpack/test/controller/parameters_integration_test.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool/reaper.rb
  activesupport/lib/active_support/ordered_hash.rb
  activesupport/test/configuration_file_test.rb
  activesupport/test/core_ext/string_ext_test.rb
  guides/source/action_cable_overview.md
  railties/test/application/configuration_test.rb
Labels: actionpack, activerecord, activesupport, railties, docs

#44785 Make AR Presence and Absence validation docs more consistent [ci-skip]
  activerecord/lib/active_record/validations/absence.rb
  activerecord/lib/active_record/validations/presence.rb
Labels: activerecord

#44782 Remove confusing validations comments [ci-skip]
  activemodel/lib/active_model/validations/absence.rb
  activemodel/lib/active_model/validations/acceptance.rb
  activemodel/lib/active_model/validations/presence.rb
  activerecord/lib/active_record/validations.rb
Labels: activemodel, activerecord

#44793 Fix word casing of `XHTML` and `XML Builder`
  actionview/lib/action_view/helpers/atom_feed_helper.rb
Labels: actionview

#44686 [Tests only] Flunk if test is not using SavepointTransaction
  activerecord/test/cases/adapters/postgresql/transaction_nested_test.rb
Labels: activerecord

#44797 Highlight booleans which are set to config in docs [ci-skip]
  guides/source/configuring.md
Labels: docs

#44798 Fix inconsistent nil handling in activerecord railtie
  activerecord/lib/active_record/railtie.rb
Labels: activerecord

#44812 Really deprecate comparing AC::Parameters with a hash
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack
