Repository rails/rails, pull requests merged in 2022-09, with the labels that each got.

#45891 Make internal links to `errors` in the Active Record Validations guide
  guides/source/active_record_validations.md
Labels: docs

#45926 Support `thread_mattr_accessor` in anonymous classes
  activesupport/lib/active_support/core_ext/module/attribute_accessors_per_thread.rb
  activesupport/test/core_ext/module/attribute_accessor_per_thread_test.rb
Labels: activesupport

#45918 Freeze `thread_mattr_accessor` default values
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/module/attribute_accessors_per_thread.rb
  activesupport/test/core_ext/module/attribute_accessor_per_thread_test.rb
Labels: activesupport

#45925 Avoid using Module#<= in value_for
  activerecord/lib/active_record/scoping.rb
Labels: activerecord

#45923 Change ActiveStorage migration version from 5.2 to 7.0
  activestorage/db/migrate/20170806125915_create_active_storage_tables.rb
Labels: activestorage

#45927 Avoid using `render(...) and return` in example code
  actionpack/lib/abstract_controller/rendering.rb
  guides/source/layouts_and_rendering.md
Labels: actionpack, docs

#45911 [ActiveStorage] Return "Range Not Satisfiable" return code for partial downloads with incorrect range
  activestorage/app/controllers/concerns/active_storage/file_server.rb
  activestorage/test/controllers/disk_controller_test.rb
Labels: activestorage, ready

#45928 Add missing documentation for Rails.error
  railties/lib/rails.rb
Labels: railties

#45612 Allow ActiveRecord::QueryMethods#select to accept a hash
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/select_test.rb
Labels: activerecord

#45695 Fix `ActiveRecord::FinderMethods.find` when passing multiple ids and primary key is not selected
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#45931 Do not mutate relation when implicitly selecting a primary key in `ActiveRecord.find`
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#45934 Speed up arel visitor dispatch
  activerecord/lib/arel/visitors/visitor.rb
Labels: activerecord

#45942 Replace rstrip with chomp!(break_sequence) in word_wrap
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/text_helper.rb
  actionview/test/template/text_helper_test.rb
Labels: actionview

#45947 Expand `word_wrap` test coverage
  actionview/test/template/text_helper_test.rb
Labels: actionview

#45936 The description of `force_plural` doesn't make sense
  railties/lib/rails/generators/model_helpers.rb
Labels: railties

#45938 The description of `--api` option doesn't make sense
  railties/lib/rails/generators/rails/scaffold/scaffold_generator.rb
Labels: railties

#45951 Fix ActiveSupport::CurrentAttributes for Ruby 3
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#45739 update ContentAttachment so that it works with "content" attributes
  actiontext/CHANGELOG.md
  actiontext/app/views/action_text/attachables/_content_attachment.html.erb
  actiontext/lib/action_text/attachables/content_attachment.rb
  actiontext/lib/action_text/attachment.rb
  actiontext/test/unit/attachment_test.rb
Labels: actiontext

#45948 Improve `word_wrap` performance
  actionview/lib/action_view/helpers/text_helper.rb
Labels: actionview

#45953 Update redis and resque
  Gemfile
  Gemfile.lock
  activejob/test/support/integration/adapters/resque.rb
  activejob/test/support/integration/adapters/sidekiq.rb
Labels: activejob

#45924 Fix bug in connection handler methods using all pools
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/adapters/mysql2/nested_deadlock_test.rb
  activerecord/test/cases/adapters/postgresql/transaction_nested_test.rb
  activerecord/test/cases/adapters/postgresql/transaction_test.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_management_test.rb
  activerecord/test/cases/hot_compatibility_test.rb
  activerecord/test/cases/pooled_connections_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#45961 Make connection_pool_list take an explicit argument
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/query_cache.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/asynchronous_queries_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_pool_config_test.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#45962 Fix loading records with encrypted attributes defined on columns with default values
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/test/cases/encryption/encryptable_record_test.rb
Labels: activerecord

#45965 Enable `Minitest/AssertRaisesWithRegexpArgument` cop
  Gemfile.lock
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#45963 Make contributing guide consistent about bug fixes [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#45916 Reduce calls to pool_configs
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/pool_manager.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/query_cache.rb
Labels: activerecord

#45952 Add ability to run only before/around/after callbacks in run_callbacks
  activesupport/lib/active_support/callbacks.rb
  activesupport/test/callbacks_test.rb
Labels: activesupport

#45935 Show BCC field in mailer preview
  railties/CHANGELOG.md
  railties/lib/rails/templates/rails/mailers/email.html.erb
  railties/test/application/mailer_previews_test.rb
Labels: railties, ready

#45972 Revert "Replace `method_source` gem with stdlib equivalent"
  Gemfile.lock
  railties/lib/rails/test_unit/runner.rb
  railties/railties.gemspec
  railties/test/application/test_runner_test.rb
Labels: railties

#45827 Add String#downcase_first method
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/string/inflections.rb
  activesupport/lib/active_support/inflector/methods.rb
  activesupport/test/core_ext/string_ext_test.rb
  guides/source/active_support_core_extensions.md
Labels: activesupport, docs

#45978 Replace hardcoded 'ImageMagick' with generic 'variant processor' in Guides
  guides/source/configuring.md
Labels: docs

#45981 Mysql2Adapter remove reference to closed connection
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
Labels: activerecord

#45945 Disable prepared_statements by default for mysql2 adapter
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
Labels: activerecord

#45975 Delegate application record generator description to orm hooked generator.
  activerecord/lib/rails/generators/active_record/application_record/USAGE
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/application_record/application_record_generator.rb
Labels: activerecord, railties

#45964 Fix ServerTiming in Threads, use single subscriber
  actionpack/lib/action_dispatch/middleware/server_timing.rb
  actionpack/test/dispatch/server_timing_test.rb
Labels: actionpack

#45955 Fix grammatical issue
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
Labels: railties, ready

#45971 improve "in_order_of" to allow string column name
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/field_ordered_values_test.rb
Labels: activerecord, activesupport, railties, docs, ready

#45979 Support prerelease rubies in Gemfile template
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#45977 Add `:locals` to ActionView rendering instrumentation
  actionview/CHANGELOG.md
  actionview/lib/action_view/renderer/partial_renderer.rb
  actionview/lib/action_view/renderer/streaming_template_renderer.rb
  actionview/lib/action_view/renderer/template_renderer.rb
  guides/source/active_support_instrumentation.md
Labels: docs, actionview

#43594 Recommend mandatory STARTTLS for Google
  actionmailer/lib/action_mailer/base.rb
  guides/source/action_mailer_basics.md
Labels: actionmailer, docs, ready

#41517 Encodes the uploaded file's headers
  actionpack/lib/action_dispatch/http/upload.rb
  actionpack/test/dispatch/uploaded_file_test.rb
Labels: actionpack

#45985 Extract annotations using a parser for Ruby files
  railties/lib/rails/source_annotation_extractor.rb
  railties/test/commands/notes_test.rb
Labels: railties

#45887 Add exclude? method to ActionController::Parameters
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack, ready

#44131 Explicitly list negative currency format
  activesupport/lib/active_support/locale/en.yml
Labels: activesupport, ready

#40051 Add HTTP_REFERER when following redirects on integration tests
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/integration.rb
  actionpack/test/controller/integration_test.rb
Labels: actionpack, ready

#45973 Improve app generator docs
  railties/lib/rails/generators/rails/app/USAGE
  railties/test/command/application_test.rb
Labels: railties

#44438 Deprecate quoting ActiveSupport::Duration as an integer (#44341)
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/test/cases/adapters/mysql2/bind_parameter_test.rb
  activerecord/test/cases/adapters/mysql2/quoting_test.rb
  activerecord/test/cases/adapters/postgresql/bind_parameter_test.rb
  activerecord/test/cases/adapters/sqlite3/bind_parameter_test.rb
  activerecord/test/cases/quoting_test.rb
Labels: activerecord, docs, PostgreSQL, ready

#45829 Nested attribute docs improvements
  activerecord/lib/active_record/nested_attributes.rb
Labels: activerecord, docs, ready

#45987 Added ability to download `.eml` file for the email preview.
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/railtie.rb
  railties/lib/rails/mailers_controller.rb
  railties/lib/rails/templates/rails/mailers/email.html.erb
  railties/test/application/mailer_previews_test.rb
Labels: actionmailer, railties, ready

#45956 ActionDispatch::Cookies json deserializer discards marshal dumps
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/test/dispatch/cookies_test.rb
Labels: actionpack, ready

#45989 Corrected hyperlink address in help manual -h, -c option by removing the unnecessary bracket.
  .gitignore
  railties/lib/rails/generators/rails/app/app_generator.rb
Labels: railties

#45974 Improve plugin generator docs
  railties/lib/rails/generators/rails/plugin/USAGE
Labels: railties

#45976 Add italic and underline support to `ActiveSupport::LogSubscriber#color`
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/test/cases/log_subscriber_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/test/log_subscriber_test.rb
Labels: activerecord, activesupport

#45885 Documented the options available for image processing
  guides/source/active_storage_overview.md
Labels: docs

#45995 Ruby 3.2 `FileUtils.rm_f` raises `Errno::EISDIR` to remove directories
  railties/test/application/test_runner_test.rb
Labels: railties

#46000 Use explicit deprecator in `AS::Deprecation` tests
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46001 Allow empty callstack in `AS::Deprecation#warn`
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46002 Clean up deprecation tests
  activesupport/test/deprecation_test.rb
Labels: activesupport

#45997 Rescue Rack::QueryParser::ParamsTooDeepError in HTTP request.
  Gemfile.lock
  actionpack/actionpack.gemspec
  actionpack/lib/action_dispatch/http/request.rb
  railties/test/application/middleware/exceptions_test.rb
Labels: actionpack, railties

#45946 [ci-skip] Add a new Rails guide page for Error Reporter
  guides/source/documents.yaml
  guides/source/error_reporting.md
Labels: docs

#45982 Move InternalMetadata to an independent object
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/internal_metadata.rb
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/active_record_schema_test.rb
  activerecord/test/cases/adapters/postgresql/extension_migration_test.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/migrator_test.rb
  activerecord/test/cases/multi_db_migrator_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  railties/test/application/loading_test.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/railties/engine_test.rb
Labels: activerecord, railties

#46010 Minor refactoring to schema migration and internal metadata
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/schema_migration.rb
Labels: activerecord

#46011 ActiveModel: Fix method name in Callbacks documentation.
  activemodel/lib/active_model/callbacks.rb
Labels: activemodel

#46012 Fix bug in internal metadata
  activerecord/lib/active_record/internal_metadata.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#46014 Clarifications for the Plugins Rails Guide
  guides/source/plugins.md
Labels: docs

#46015 Fix disallowed deprecations with default warning
  activesupport/lib/active_support/deprecation/disallowed.rb
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46005 Remove QueAdapter from Active Job
  Gemfile
  Gemfile.lock
  activejob/CHANGELOG.md
  activejob/Rakefile
  activejob/lib/active_job/queue_adapters/que_adapter.rb
  activejob/test/adapters/que.rb
  activejob/test/integration/queuing_test.rb
  activejob/test/support/integration/adapters/que.rb
  activejob/test/support/que/inline.rb
Labels: activejob

#44547 fix remaining asserts that should be assert_equal
  .rubocop.yml
  actionpack/test/dispatch/request_test.rb
  activemodel/test/cases/validations/length_validation_test.rb
  activemodel/test/cases/validations/presence_validation_test.rb
  activerecord/test/cases/adapters/postgresql/enum_test.rb
  activerecord/test/cases/arel/nodes/node_test.rb
  activerecord/test/cases/associations/has_and_belongs_to_many_associations_test.rb
  activerecord/test/cases/encryption/encryptable_record_api_test.rb
  activerecord/test/cases/encryption/read_only_null_encryptor_test.rb
  activerecord/test/cases/multi_db_migrator_test.rb
  activerecord/test/cases/test_case.rb
  activerecord/test/support/async_helper.rb
  activesupport/test/test_case_test.rb
  railties/test/application/mailer_previews_test.rb
  railties/test/railties/engine_test.rb
Labels: actionpack, activemodel, activerecord, activesupport, railties

#46017 Remove redundant `AS::Deprecation` tests
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46018 Use declarative syntax for `AS::Deprecation` tests
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46016 Test `AS::Deprecation` `:log` behavior
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46019 Use explicit deprecator in `AS::Deprecation` tests
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46020 Simpler Railtie subscribe in `error_reporting.md`
  guides/source/error_reporting.md
Labels: docs

#45999 Clarify --edge points to latest stable branch of rails
  railties/lib/rails/generators/app_base.rb
Labels: railties

#46025 Use explicit deprecator in `AS::Deprecation` tests
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46004 ErrorReporter: allow to unsubscribe
  activesupport/lib/active_support/error_reporter.rb
  activesupport/test/error_reporter_test.rb
Labels: activesupport

#46027 Update guides on secuity page for sql injection sample code [ci-skip]
  guides/source/security.md
Labels: docs

#45738 Add ability to handle reconnects with the `connected()` callback
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/assets/javascripts/actioncable.esm.js
  actioncable/app/assets/javascripts/actioncable.js
  actioncable/app/javascript/action_cable/connection.js
  actioncable/test/javascript/src/test_helpers/consumer_test_helper.js
  actioncable/test/javascript/src/unit/subscription_test.js
Labels: actioncable

#46030 [ci skip] Fix form_with documentation
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#46026 Fix `disallowed_warnings` for non-global deprecators
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/deprecation/disallowed.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46031 Remove redundant `ELSE` branch from the `ActiveRecord::Base.in_order_of` SQL query
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#46034 Fix flaky PostgreSQL enum migration reversibility test
  activerecord/test/cases/adapters/postgresql/invertible_migration_test.rb
Labels: activerecord

#46033 Test more `AS::Deprecation` behavior callbacks
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46035 Derive arity of `AS::Deprecation` behavior callbacks
  activesupport/lib/active_support/deprecation/behaviors.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46036 Prefer `capture_io` in `AS::Deprecation` tests
  activesupport/test/deprecation_test.rb
Labels: activesupport

#45877 Clarify `composed_of` allows a Hash for `mapping`
  activerecord/lib/active_record/aggregations.rb
  activerecord/test/cases/aggregations_test.rb
  activerecord/test/models/customer.rb
Labels: activerecord

#45546 Convert rails-ujs to ES2015 modules
  actionview/.eslintrc
  actionview/Rakefile
  actionview/actionview.gemspec
  actionview/app/assets/javascripts/rails-ujs.coffee
  actionview/app/assets/javascripts/rails-ujs.esm.js
  actionview/app/assets/javascripts/rails-ujs.js
  actionview/app/assets/javascripts/rails-ujs/BANNER.js
  actionview/app/assets/javascripts/rails-ujs/features/confirm.coffee
  actionview/app/assets/javascripts/rails-ujs/features/disable.coffee
  actionview/app/assets/javascripts/rails-ujs/features/method.coffee
  actionview/app/assets/javascripts/rails-ujs/features/remote.coffee
  actionview/app/assets/javascripts/rails-ujs/start.coffee
  actionview/app/assets/javascripts/rails-ujs/utils/ajax.coffee
  actionview/app/assets/javascripts/rails-ujs/utils/csp.coffee
  actionview/app/assets/javascripts/rails-ujs/utils/csrf.coffee
  actionview/app/assets/javascripts/rails-ujs/utils/dom.coffee
  actionview/app/assets/javascripts/rails-ujs/utils/event.coffee
  actionview/app/assets/javascripts/rails-ujs/utils/form.coffee
  actionview/app/javascript/MIT-LICENSE
  actionview/app/javascript/README.md
  actionview/app/javascript/rails-ujs/features/confirm.js
  actionview/app/javascript/rails-ujs/features/disable.js
  actionview/app/javascript/rails-ujs/features/method.js
  actionview/app/javascript/rails-ujs/features/remote.js
  actionview/app/javascript/rails-ujs/index.js
  actionview/app/javascript/rails-ujs/utils/ajax.js
  actionview/app/javascript/rails-ujs/utils/constants.js
  actionview/app/javascript/rails-ujs/utils/csp.js
  actionview/app/javascript/rails-ujs/utils/csrf.js
  actionview/app/javascript/rails-ujs/utils/dom.js
  actionview/app/javascript/rails-ujs/utils/event.js
  actionview/app/javascript/rails-ujs/utils/form.js
  actionview/blade.yml
  actionview/package.json
  actionview/rollup.config.js
  railties/test/isolation/abstract_unit.rb
  yarn.lock
Labels: actionview, rails-ujs

#46009 Bundler should use platform :windows instead of :mingw, etc.
  Gemfile
  Gemfile.lock
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
  railties/test/generators/generators_test_helper.rb
Labels: railties

#46038 Add link to 7.0 release notes in upgrade guide [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs, needs backport

#46039 Add link to 7.1 release notes in upgrade guide [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#46041 Fix Active Record :db_runtime metric
  actionview/test/activerecord/controller_runtime_test.rb
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/lib/active_record/railties/controller_runtime.rb
  activerecord/lib/active_record/railties/job_runtime.rb
  activerecord/lib/active_record/runtime_registry.rb
  activerecord/test/activejob/job_runtime_test.rb
  activerecord/test/cases/log_subscriber_test.rb
Labels: activerecord, actionview

#46040 Fix typo in ActiveRecord ChangeLog
  activerecord/CHANGELOG.md
Labels: activerecord

#45298 Fix: Inconsistent Polymorphic Association Autosave
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
  activerecord/test/fixtures/cake_designers.yml
  activerecord/test/fixtures/chefs.yml
  activerecord/test/fixtures/drink_designers.yml
Labels: activerecord

#46045 Fix link for ActionController in Layouts and Rendering docs
  guides/source/layouts_and_rendering.md
Labels: docs

#45950 Add puma app server to Gemfile in order to start test/dummy
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
Labels: railties, docs

#46037 Pass deprecator to `AS::Deprecation` callbacks
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/deprecation/behaviors.rb
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46043 Drop Rubinius code
  Gemfile
  Gemfile.lock
  actionmailer/test/abstract_unit.rb
  actionpack/test/abstract_unit.rb
  actionpack/test/controller/live_stream_test.rb
  actionview/test/abstract_unit.rb
  actionview/test/template/date_helper_test.rb
  activemodel/test/cases/helper.rb
  activesupport/lib/active_support/multibyte/unicode.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/core_ext/duration_test.rb
  activesupport/test/core_ext/object/duplicable_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  activesupport/test/json/encoding_test.rb
  railties/lib/rails/generators/app_base.rb
  railties/test/abstract_unit.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: actionmailer, actionpack, activemodel, activesupport, railties, actionview

#46008 Add ssl-mode option to dbconsole command and MySQLDatabaseTasks
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/tasks/mysql_database_tasks.rb
  railties/CHANGELOG.md
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
Labels: activerecord, railties

#46029 Add `assert_error_reported` and `assert_no_error_reported`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/execution_wrapper.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/lib/active_support/test_case.rb
  activesupport/lib/active_support/testing/error_reporter_assertions.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
  railties/lib/rails.rb
Labels: activesupport, railties

#45771 Type cast #attribute_changed? :from and :to options
  activemodel/lib/active_model/attribute_mutation_tracker.rb
  activerecord/test/cases/dirty_test.rb
Labels: activemodel, activerecord

#46050 Added `status` in API documentation for `ActionController::Renderer#render`
  actionpack/lib/action_controller/renderer.rb
Labels: actionpack

#46052 Improve warning when db is missing
  activerecord/lib/active_record/errors.rb
Labels: activerecord

#46054 Fix logger tags for SchemaMigration and InternalMetadata
  activerecord/lib/active_record/internal_metadata.rb
  activerecord/lib/active_record/schema_migration.rb
Labels: activerecord

#46051 Fix word case. `json` -> `JSON`
  actionpack/CHANGELOG.md
  actionpack/test/dispatch/request/json_params_parsing_test.rb
  actionview/test/ujs/public/vendor/jquery-2.2.0.js
  activemodel/lib/active_model/errors.rb
  activemodel/test/cases/serializers/json_serialization_test.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/attribute_methods_test.rb
  activesupport/lib/active_support/core_ext/object/json.rb
  activesupport/lib/active_support/json/decoding.rb
  activesupport/test/core_ext/object/json_cherry_pick_test.rb
  activesupport/test/core_ext/object/json_gem_encoding_test.rb
  activesupport/test/json/decoding_test.rb
  guides/source/4_1_release_notes.md
  guides/source/i18n.md
  guides/source/upgrading_ruby_on_rails.md
  railties/test/application/middleware/cookies_test.rb
  railties/test/application/middleware/session_test.rb
Labels: actionpack, activemodel, activerecord, activesupport, railties, docs, actionview

#42933 Don't skip some columns in `column_types` on Postgres
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#46055 Tiny copy fix in CHANGELOGs [ci-skip]
  activerecord/CHANGELOG.md
  railties/CHANGELOG.md
Labels: activerecord, railties

#46056 Add CHANGELOG entry for #45738 [ci-skip]
  actioncable/CHANGELOG.md
Labels: actioncable

#46059 Fix word case
  activesupport/lib/active_support/testing/isolation.rb
Labels: activesupport

#46060 Fix word case. `html` -> `HTML`
  actionmailer/lib/action_mailer/base.rb
  actionpack/test/controller/new_base/render_html_test.rb
  actionpack/test/controller/new_base/render_template_test.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionpack/test/fixtures/test/formatted_xml_erb.html.erb
  actionview/app/javascript/rails-ujs/features/disable.js
  actionview/app/javascript/rails-ujs/utils/form.js
  actionview/test/actionpack/controller/render_test.rb
  actionview/test/fixtures/actionpack/test/_partial_only_html.html
  actionview/test/fixtures/actionpack/test/formatted_html_erb.html.erb
  actionview/test/fixtures/actionpack/test/formatted_xml_erb.html.erb
  actionview/test/fixtures/test/_partial_with_only_html_version.html.erb
  actionview/test/template/form_collections_helper_test.rb
  actionview/test/template/output_safety_helper_test.rb
  actionview/test/template/text_helper_test.rb
  actionview/test/ujs/public/vendor/jquery-2.2.0.js
  actionview/test/ujs/public/vendor/qunit.js
  activestorage/README.md
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  guides/source/i18n.md
Labels: actionmailer, actionpack, activesupport, docs, actionview, activestorage

#46058 Use `sslmode` option instead of `ssl_mode` for MySQL command connections
  activerecord/lib/active_record/tasks/mysql_database_tasks.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
Labels: activerecord, railties

#46048 Dup and freeze complex types when making query attributes
  activemodel/lib/active_model/type/helpers/mutable.rb
  activemodel/lib/active_model/type/value.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activemodel, activerecord, railties

#45645 Updating the `ActiveRecord::Store` and changing it back should not mark accessor as changed
  activerecord/lib/active_record/store.rb
  activerecord/test/cases/store_test.rb
Labels: activerecord

#46064 Improve error messages on bin/setup
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
Labels: railties

#46067 Don't delegate tasks to ActiveRecord::Base
  activerecord/lib/active_record/tasks/mysql_database_tasks.rb
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/lib/active_record/tasks/sqlite_database_tasks.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
Labels: activerecord

#46083 Use `system(.., exception: true)` for dummy apps
  actionmailbox/test/dummy/bin/setup
  actionmailbox/test/dummy/bin/update
  actiontext/test/dummy/bin/setup
  actiontext/test/dummy/bin/update
Labels: actionmailbox, actiontext

#46077 upgrade to QUnit 2 for UJS tests
  actionview/test/ujs/public/test/call-ajax.js
  actionview/test/ujs/public/test/call-remote-callbacks.js
  actionview/test/ujs/public/test/call-remote.js
  actionview/test/ujs/public/test/csrf-refresh.js
  actionview/test/ujs/public/test/csrf-token.js
  actionview/test/ujs/public/test/data-confirm.js
  actionview/test/ujs/public/test/data-disable-with.js
  actionview/test/ujs/public/test/data-disable.js
  actionview/test/ujs/public/test/data-method.js
  actionview/test/ujs/public/test/data-remote.js
  actionview/test/ujs/public/test/override.js
  actionview/test/ujs/public/test/settings.js
  actionview/test/ujs/public/vendor/qunit.css
  actionview/test/ujs/public/vendor/qunit.js
  ci/test_run.rb
Labels: actionview

#45770 Update docs for `.unscoped` to be explicit about associations
  activerecord/lib/active_record/scoping/default.rb
Labels: activerecord, docs

#46068 [FIX #46021] Allow passing classes to dom_id
  actionview/CHANGELOG.md
  actionview/lib/action_view/record_identifier.rb
  actionview/test/lib/controller/fake_models.rb
  actionview/test/template/record_identifier_test.rb
Labels: actionview

#46085 Typo in error_reporting guide [ci-skip]
  guides/source/error_reporting.md
Labels: docs

#46080 Use a higher-level Sidekiq API for ActiveJob
  activejob/CHANGELOG.md
  activejob/lib/active_job/queue_adapters/sidekiq_adapter.rb
Labels: activejob

#46086 Fix being able to pass --force to db:system:change
  railties/lib/rails/commands/db/system/change/change_command.rb
  railties/test/commands/db_system_change_test.rb
Labels: railties

#45216 Do not run tests that have `ensure` instead of `skip`
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/query_cache_test.rb
  railties/test/console_helpers.rb
  railties/test/engine/commands_test.rb
Labels: activerecord, railties

#46090 Do not write unchanged value to ActiveRecord::Store
  activerecord/lib/active_record/store.rb
  activerecord/test/cases/store_test.rb
Labels: activerecord

#46074 Fix plugin generation inside applications
  railties/lib/rails/app_updater.rb
  railties/lib/rails/generators/app_name.rb
  railties/test/application/generators_test.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: railties

#46102 ActiveSupport::Reloader should not report exception
  activesupport/lib/active_support/execution_wrapper.rb
  activesupport/lib/active_support/reloader.rb
  activesupport/lib/active_support/testing/error_reporter_assertions.rb
  activesupport/test/reloader_test.rb
Labels: activesupport

#46107 Use explicit deprecator in wrappers tests
  activesupport/test/deprecation/method_wrappers_test.rb
  activesupport/test/deprecation/proxy_wrappers_test.rb
Labels: activesupport

#46106 Updates for Puma 6
  Gemfile
  Gemfile.lock
  actioncable/test/client_test.rb
Labels: actioncable

#46108 Use `#with_raw_connection` in `#quote_string` to retry connection errors
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
Labels: activerecord, docs

#46110 Fix erroneous nil default precision on virtual datetime columns
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/test/cases/adapters/mysql2/virtual_column_test.rb
  activerecord/test/cases/migration/change_schema_test.rb
Labels: activerecord

#46057 Allow specifying the HTTP status code in assert_redirected_to
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/assertions/response.rb
  actionpack/test/controller/action_pack_assertions_test.rb
Labels: actionpack

#46117 Add table name to error for duplicate column definitions
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/test/cases/migration/change_schema_test.rb
Labels: activerecord

#46112 Remove duplicate datetime precision default
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
Labels: activerecord

#46119 Always provide a fallback renderer for Action Text
  actiontext/lib/action_text/engine.rb
  actiontext/lib/action_text/rendering.rb
Labels: actiontext

#46111 Make app_name consistent between new and update
  railties/lib/rails/generators/app_name.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#46125 Fix #45738
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/assets/javascripts/actioncable.esm.js
  actioncable/app/assets/javascripts/actioncable.js
  actioncable/app/javascript/action_cable/connection.js
  actioncable/test/javascript/src/unit/subscription_test.js
Labels: actioncable

#44179 Add `MessageVerifiers` and `MessageEncryptors` classes
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/message_encryptors.rb
  activesupport/lib/active_support/message_verifiers.rb
  activesupport/lib/active_support/messages/rotation_coordinator.rb
  activesupport/lib/active_support/messages/rotator.rb
  activesupport/lib/active_support/secure_compare_rotator.rb
  activesupport/test/message_encryptors_test.rb
  activesupport/test/message_verifiers_test.rb
  activesupport/test/rotation_coordinator_tests.rb
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: activesupport, railties

#46127 Do not preserve original column collation in `change_column` for older migrations
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#46133 Keep backwards compatibility for `assert_redirected_to`
  actionpack/lib/action_dispatch/testing/assertions/response.rb
  actionpack/test/controller/action_pack_assertions_test.rb
Labels: actionpack

#46131 `Rails.error.report` now marks errors as reported to avoid reporting them twice
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/error_reporter.rb
  activesupport/test/error_reporter_test.rb
  activesupport/test/executor_test.rb
Labels: activesupport

#46094 [ci-skip] Improve error-reporting guide
  guides/source/error_reporting.md
Labels: docs

#46134 Facilitate use of any regular ERB in database.yml
  actionmailbox/test/dummy/config/environments/development.rb
  actiontext/test/dummy/config/environments/development.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/application/dummy_config.rb
  railties/lib/rails/application/dummy_erb_compiler.rb
  railties/test/application/configuration_test.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties, actionmailbox, actiontext

#46136 Update the 6_0 defaults file to include zeitwerk the new autoloader
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_6_0.rb.tt
Labels: railties

#45837 FFmpeg (5.0+) has updated the tag where rotation info is retrieved from
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/analyzer/video_analyzer.rb
  activestorage/test/analyzer/video_analyzer_test.rb
Labels: railties, activestorage

#46139 Fix incorrect error class for `config.action_controller.raise_on_open_redirects` in the configuring guide
  guides/source/configuring.md
Labels: docs

#45628 Document ActiveRecord::Locking::Pessimistic#with_lock reloads the record
  activerecord/lib/active_record/locking/pessimistic.rb
Labels: activerecord

#46120 Keep rescue template paths in an array
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  railties/lib/rails/info_controller.rb
  railties/lib/rails/mailers_controller.rb
Labels: actionpack, railties

#45081 Add ability to set the `tags_format` for `QueryLogs`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/query_logs.rb
  activerecord/lib/active_record/query_logs_formatter.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/query_logs_formatter_test.rb
  activerecord/test/cases/query_logs_test.rb
  guides/source/configuring.md
  railties/test/application/query_logs_test.rb
Labels: activerecord, railties, docs

#45790 [AR] Fix uniqueness validation on association not using overridden PK
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/validations/uniqueness_validation_test.rb
Labels: activerecord

#46144 Filter reloaded classes in Class#subclasses and Class#descendants core exts
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/class/subclasses.rb
  activesupport/lib/active_support/descendants_tracker.rb
  activesupport/test/core_ext/class_test.rb
  activesupport/test/descendants_tracker_test.rb
Labels: activesupport

#46153 Fix tests for `selenium-webdriver` v4.5.0
  Gemfile.lock
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack
