Repository rails/rails, pull requests merged in 2022-02, with the labels that each got.

#44296 Update upgrade guide for active storage streaming [ci-skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#44303 Remove the deprecated urlsafe_csrf_tokens configuration
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/test/controller/request_forgery_protection_test.rb
  railties/lib/rails/application/configuration.rb
Labels: actionpack, railties

#42767 Cancel current postgres query on rollback
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/test/cases/adapters/postgresql/transaction_test.rb
Labels: activerecord

#44305 Don't render layout in `ActionText::Content#inspect`
  actiontext/lib/action_text/content.rb
Labels: actiontext

#44304 Avoid closing websockets in a connecting state to deal with Safari bug
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/assets/javascripts/actioncable.esm.js
  actioncable/app/assets/javascripts/actioncable.js
  actioncable/app/javascript/action_cable/connection.js
Labels: actioncable

#44300 Improve `human_attribute_name` performance
  activemodel/lib/active_model/translation.rb
Labels: activemodel

#44315 Add turbolinks=false on links to older guides
  guides/source/_welcome.html.erb
Labels: docs

#44319 Fix parsing expression for PostgreSQL generated column
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/virtual_column_test.rb
Labels: activerecord

#44308 Fixes an issue with the ActiveRecord::ConnectionAdapters::SchemaCache#deep_deduplicate method, which affects Ruby 2.6
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
Labels: activerecord

#44299 Improve `ActiveModel::Name#human` performance
  activemodel/lib/active_model/naming.rb
  activemodel/test/cases/translation_test.rb
Labels: activemodel

#44332 [ci skip] Improve ActiveSupport::MessageVerifier docs
  activesupport/lib/active_support/message_verifier.rb
Labels: activesupport

#44219 Fiber-safe ConnectionPool
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/connection_pool_test.rb
  activesupport/lib/active_support/isolated_execution_state.rb
Labels: activerecord, activesupport

#44342 Fix RenameTableTest#test_rename_table_should_work_with_reserved_words
  activerecord/test/cases/migration/rename_table_test.rb
Labels: activerecord

#44345 Delete `concerns executes block in context of current mapper` test
  actionpack/test/dispatch/routing/concerns_test.rb
Labels: actionpack

#44127 Fix rollbacks following serialization failures or deadlocks
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/test/cases/adapters/mysql2/nested_deadlock_test.rb
  activerecord/test/cases/adapters/mysql2/transaction_test.rb
  activerecord/test/cases/adapters/postgresql/transaction_nested_test.rb
  activerecord/test/cases/adapters/postgresql/transaction_test.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#42978 improve PG index schema queries
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
Labels: activerecord, stale

#42846 Switch `ActiveSupport::MessageEncryptor` Default Serializer to JSON
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/json/decoding.rb
  activesupport/lib/active_support/json/encoding.rb
  activesupport/lib/active_support/json_with_marshal_fallback.rb
  activesupport/lib/active_support/message_encryptor.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/test/message_encryptor_test.rb
  guides/source/configuring.md
  guides/source/upgrading_ruby_on_rails.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
  railties/test/application/middleware/cookies_test.rb
  railties/test/application/middleware/session_test.rb
  railties/test/commands/secrets_test.rb
Labels: actionpack, activesupport, railties, docs

#44286 Dump the database schema containing the current Rails version
  activerecord/lib/active_record/schema.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/active_record_schema_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  guides/source/active_record_migrations.md
  guides/source/active_record_postgresql.md
  guides/source/upgrading_ruby_on_rails.md
Labels: activerecord, railties, docs

#44357 fix MessageEncryptor isolation tests
  activesupport/lib/active_support/json_with_marshal_fallback.rb
Labels: activesupport

#44355 Setup on_encrypted_attribute_declared hook only once
  activerecord/lib/active_record/encryption/configurable.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/encryption/configurable_test.rb
Labels: activerecord

#44358 Dump the precision for datetime columns following the new defaults
  activerecord/lib/active_record/connection_adapters/abstract/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_dumper.rb
  activerecord/test/cases/date_time_precision_test.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/primary_keys_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
  activerecord/test/schema/sqlite_specific_schema.rb
Labels: activerecord

#44329 Fix the ability to exclude encryption params from being autofiltered
  activerecord/lib/active_record/encryption/configurable.rb
  activerecord/test/cases/encryption/configurable_test.rb
Labels: activerecord

#44284 Fixes order(ArelNode => direction) in ActiveRecord::QueryMethods
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/scoping/relation_scoping_test.rb
Labels: activerecord

#44354 Make #to_fs the default replacement for #to_s(:format)
  actionpack/lib/action_controller/metal/helpers.rb
  actionview/test/fixtures/replies.yml
  actionview/test/fixtures/topics.yml
  activemodel/lib/active_model/type/date.rb
  activemodel/lib/active_model/type/helpers/time_value.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/fixtures.rb
  activerecord/lib/active_record/integration.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/delegation.rb
  activerecord/test/cases/adapters/sqlite3/quoting_test.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/cache_key_test.rb
  activerecord/test/cases/collection_cache_key_test.rb
  activerecord/test/cases/core_test.rb
  activerecord/test/cases/integration_test.rb
  activerecord/test/cases/multiparameter_attributes_test.rb
  activerecord/test/cases/quoting_test.rb
  activerecord/test/cases/relation/delegation_test.rb
  activerecord/test/fixtures/memberships.yml
  activerecord/test/fixtures/pirates.yml
  activesupport/lib/active_support/core_ext/array/conversions.rb
  activesupport/lib/active_support/core_ext/array/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/date/conversions.rb
  activesupport/lib/active_support/core_ext/date/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/date_time/conversions.rb
  activesupport/lib/active_support/core_ext/date_time/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/numeric/conversions.rb
  activesupport/lib/active_support/core_ext/numeric/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/range/conversions.rb
  activesupport/lib/active_support/core_ext/range/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/time/conversions.rb
  activesupport/lib/active_support/core_ext/time/deprecated_conversions.rb
  activesupport/lib/active_support/time_with_zone.rb
  activesupport/lib/active_support/xml_mini.rb
  activesupport/test/core_ext/array/conversions_test.rb
  activesupport/test/core_ext/date_ext_test.rb
  activesupport/test/core_ext/date_time_ext_test.rb
  activesupport/test/core_ext/numeric_ext_test.rb
  activesupport/test/core_ext/range_ext_test.rb
  activesupport/test/core_ext/time_ext_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  activesupport/test/time_travel_test.rb
  guides/source/7_0_release_notes.md
  guides/source/active_support_core_extensions.md
  guides/source/api_documentation_guidelines.md
  guides/source/security.md
  railties/lib/rails/generators/generated_attribute.rb
  railties/test/generators/generated_attribute_test.rb
Labels: actionpack, activemodel, activerecord, activesupport, actionview

#44347 Fix postgresql reconnection_error test expects wrong exception
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#44364 Fix install_auto_filtered_parameters method rename
  activerecord/test/cases/encryption/configurable_test.rb
Labels: activerecord

#44346 Fix PG.connect keyword arguments deprecation warning on ruby 2.7
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#44363 Reverse the order of `INSERT` statements in `structure.sql` dumps
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/schema_dumper_test.rb
Labels: activerecord

#42990 Add job_id and exception message to ActiveJob retry/discard logging
  activejob/lib/active_job/log_subscriber.rb
  activejob/test/cases/logging_test.rb
Labels: activejob

#44367 Improve class/method naming in `ActiveModel::AttributeMethods`
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/test/cases/attribute_methods_test.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activemodel, activerecord

#44337 Fix empty request inside helpers test
  actionview/lib/action_view/test_case.rb
  actionview/test/template/test_case_test.rb
Labels: actionview

#44365 Increment assertions count on assert_nothing_raised
  activesupport/lib/active_support/testing/assertions.rb
  railties/test/application/rake_test.rb
  railties/test/generators/scaffold_generator_test.rb
Labels: activesupport, railties

#44306 Documentation for Active Model Attributes [ci-skip]
  activemodel/lib/active_model/attributes.rb
  activemodel/lib/active_model/type/big_integer.rb
  activemodel/lib/active_model/type/binary.rb
  activemodel/lib/active_model/type/boolean.rb
  activemodel/lib/active_model/type/date.rb
  activemodel/lib/active_model/type/date_time.rb
  activemodel/lib/active_model/type/decimal.rb
  activemodel/lib/active_model/type/float.rb
  activemodel/lib/active_model/type/immutable_string.rb
  activemodel/lib/active_model/type/integer.rb
  activemodel/lib/active_model/type/string.rb
  activemodel/lib/active_model/type/time.rb
  activemodel/lib/active_model/type/value.rb
Labels: activemodel

#44381 Fix ruby 2.7 keyword args warning for postgresql reconnection_error test
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#44093 add hint to ActionView's fields_for
  actionview/lib/action_view/helpers/form_helper.rb
Labels: docs, actionview, ready

#44394 Update ActiveModel::Attributes examples in docs [ci-skip]
  activemodel/lib/active_model/attributes.rb
  activemodel/lib/active_model/type/big_integer.rb
  activemodel/lib/active_model/type/date.rb
  activemodel/lib/active_model/type/date_time.rb
  activemodel/lib/active_model/type/decimal.rb
  activemodel/lib/active_model/type/float.rb
  activemodel/lib/active_model/type/immutable_string.rb
  activemodel/lib/active_model/type/integer.rb
  activemodel/lib/active_model/type/time.rb
Labels: activemodel

#44393 Add module/class nesting consistency on newly generated application:
  railties/lib/rails/generators/rails/app/templates/test/channels/application_cable/connection_test.rb.tt
  railties/lib/rails/generators/rails/app/templates/test/test_helper.rb.tt
  railties/test/application/rake_test.rb
Labels: railties

#44386 Fix flaky test case in CacheStoreBehavior
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#44390 Silence uninitialized instance var warning in tests
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#43957 Update Working With JavaScript guide for Rails 7, scrap Node/Yarn from Getting Started guide
  guides/source/getting_started.md
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#44406 Fix javascript example code block [ci-skip]
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#44409 Improve Rails 7 documentation for the command line and asset pipeline [ci-skip]
  guides/source/asset_pipeline.md
  guides/source/command_line.md
Labels: docs

#44411 Add missing `bigdecimal` require in `ActiveJob::Arguments`
  activejob/CHANGELOG.md
  activejob/lib/active_job/arguments.rb
Labels: activejob

#44366 fix LocalCache#read_multi_entries
  activesupport/lib/active_support/cache/strategy/local_cache.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
Labels: activesupport, ready

#44384 Allow column name with COLLATE as safe SQL string
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/quoting.rb
  activerecord/test/cases/unsafe_raw_sql_test.rb
Labels: activerecord

#44350 Fix ActiveRecord's explain for queries starting with comments
  activerecord/lib/active_record/explain_subscriber.rb
  activerecord/test/cases/explain_subscriber_test.rb
Labels: activerecord

#44410 Add missing skip options for Rails 7 command line documentation [ci-skip]
  guides/source/command_line.md
Labels: docs

#44417 Add require "models/post" to address NameError: uninitialized constant
  activerecord/test/cases/adapters/mysql2/bind_parameter_test.rb
  activerecord/test/cases/adapters/postgresql/bind_parameter_test.rb
  activerecord/test/cases/adapters/sqlite3/bind_parameter_test.rb
Labels: activerecord

#44377 Improve CSP guide headings and add warning to nonce usage [ci-skip]
  guides/source/security.md
Labels: docs

#44414 Update description of working with JavaScript guide [ci-skip]
  guides/source/documents.yaml
Labels: docs

#44423 Update `session_store` configuration instructions [ci-skip]
  guides/source/configuring.md
  guides/source/rails_on_rack.md
Labels: docs

#44421 Update instructions for rich text custom rendering [ci-skip]
  guides/source/action_text_overview.md
Labels: docs

#44419 Explain HTTP basic authentication stipulation [ci-skip]
  guides/source/getting_started.md
Labels: docs

#44420 Improve `fields_for` helper sections [ci-skip]
  guides/source/form_helpers.md
Labels: docs

#44422 Link config settings to the configuration guide [ci-skip]
  guides/source/action_cable_overview.md
  guides/source/action_controller_overview.md
  guides/source/action_mailbox_basics.md
  guides/source/action_mailer_basics.md
  guides/source/action_view_helpers.md
  guides/source/active_job_basics.md
  guides/source/active_record_migrations.md
  guides/source/active_record_multiple_databases.md
  guides/source/active_record_querying.md
  guides/source/active_storage_overview.md
  guides/source/active_support_core_extensions.md
  guides/source/api_app.md
  guides/source/asset_pipeline.md
  guides/source/association_basics.md
  guides/source/autoloading_and_reloading_constants.md
  guides/source/caching_with_rails.md
  guides/source/engines.md
  guides/source/rails_on_rack.md
  guides/source/security.md
  guides/source/testing.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#44431 [docs] Remove incorrect sprockets reference
  guides/source/initialization.md
Labels: docs

#44434 Fix setting `trailing_slash: true` in route definition
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/dispatch/url_generation_test.rb
Labels: actionpack

#44436 Fix typo in guide for scopes for has_and_belongs_to_many association
  guides/source/association_basics.md
Labels: docs

#44440 Add spacing to curly braces
  guides/source/active_record_querying.md
Labels: docs

#44435 Restore ruby-2.2 compatibility for 5-2-stable
  activesupport/lib/active_support/execution_wrapper.rb
Labels: activesupport

#44432 Add Working With JavaScript guide to navigation [ci skip]
  guides/source/documents.yaml
Labels: docs

#44445 Support dalli 3.2.1
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#44442 [Active Support] Add explicit assertions to tests with no assertions
  activesupport/lib/active_support/testing/method_call_assertions.rb
  activesupport/test/cache/stores/file_store_test.rb
  activesupport/test/cache/stores/null_store_test.rb
  activesupport/test/core_ext/kernel_test.rb
  activesupport/test/deprecation_test.rb
  activesupport/test/log_subscriber_test.rb
  activesupport/test/logger_test.rb
  activesupport/test/metadata/shared_metadata_tests.rb
  activesupport/test/notifications_test.rb
Labels: activesupport

#44447 Fix MemCacheStoreTest flaky tests
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#44448 Document some methods in Application::Configuration [ci-skip]
  railties/lib/rails/application/configuration.rb
Labels: railties

#44441 Split AR Encryption config settings into sections [ci-skip]
  guides/source/active_record_encryption.md
Labels: docs

#44309 Fix `config.active_record.destroy_association_async_job` configuration
  activejob/lib/active_job/railtie.rb
  activerecord/CHANGELOG.md
  railties/test/application/configuration_test.rb
Labels: activerecord, railties, activejob

#44456 Implement inspect for Notifications::Fanout
  activesupport/lib/active_support/notifications/fanout.rb
  activesupport/test/notifications_test.rb
Labels: activesupport

#44340 Defer loading XmlMini until it's needed
  activejob/test/adapters/delayed_job.rb
  activerecord/test/cases/helper.rb
  activesupport/lib/active_support/core_ext/array/conversions.rb
  activesupport/lib/active_support/core_ext/hash/conversions.rb
Labels: activerecord, activesupport, activejob

#44174 Add support to locales with lowdash in Resolver::PathParser
  actionpack/test/controller/localized_templates_test.rb
  actionpack/test/fixtures/localized/hello_world.de_AT.html
  actionview/lib/action_view/template/resolver.rb
  actionview/test/template/resolver_shared_tests.rb
Labels: actionpack, actionview

#43390 Remove child event tracking from ActiveSupport::Subscriber
  actionview/lib/action_view/log_subscriber.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/lib/active_support/notifications/instrumenter.rb
  activesupport/lib/active_support/subscriber.rb
  activesupport/test/log_subscriber_test.rb
  activesupport/test/notifications_test.rb
Labels: activesupport, actionview

#44451 Document some methods in ActionDispatch::ContentSecurityPolicy [skip-ci]
  actionpack/lib/action_dispatch/http/content_security_policy.rb
Labels: actionpack

#44463 Fix rdoc for session_store documentation [ci-skip]
  railties/lib/rails/application/configuration.rb
Labels: railties

#44449 Add documentation for controller CSP methods [ci-skip]
  actionpack/lib/action_controller/metal/content_security_policy.rb
Labels: actionpack, railties

#44462 Update getting_started.md [ci-skip]
  guides/source/getting_started.md
Labels: docs

#44328 `form_for`: Attempt to call `to_model` on first argument
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper/form_with_test.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview

#44481 Add `:nodoc:` to `ActiveRecord::Relation#where_values_hash`
  activerecord/lib/active_record/relation.rb
Labels: activerecord

#44471 Better ActiveRecord enum assertions (issue #44457)
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#44483 Document horo variables in RDoc configuration
  railties/lib/rails/api/task.rb
Labels: railties

#44484 Implicitly assert no exception is raised in `assert_queries` & al
  actiontext/test/test_helper.rb
  actionview/test/activerecord/relation_cache_test.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/test_case.rb
  activerecord/test/cases/transactions_test.rb
  activestorage/test/test_helper.rb
Labels: activerecord, actionview, activestorage, actiontext

#44486 Added missing mention of `.gitattributes` file in Getting Started documentation [ci-skip]
  guides/source/getting_started.md
Labels: docs

#44485 `Pathname.blank?` only returns true for `Pathname.new("")`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/pathname.rb
  activesupport/lib/active_support/core_ext/pathname/blank.rb
  activesupport/lib/active_support/core_ext/pathname/existence.rb
  activesupport/test/core_ext/pathname/blank_test.rb
Labels: activesupport

#44494 Fixed typo: HTML 5 -> HTML5 [ci-skip]
  guides/source/3_0_release_notes.md
  guides/source/layouts_and_rendering.md
Labels: docs

#44499 Copy over the IsolatedExecutionState in AC::Live
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/live.rb
  actionpack/test/controller/live_stream_test.rb
  activesupport/lib/active_support/isolated_execution_state.rb
Labels: actionpack, activesupport

#44482 Improve Asset Pipeline documentation [ci-skip]
  guides/source/asset_pipeline.md
Labels: docs

#44493 removed list of gems rails 7 specified in the Rails initialization guide [ci-skip]
  guides/source/initialization.md
Labels: docs

#44513 Remove fixed TODO ActionController::Metal::ContentSecurityPolicy [ci-skip]
  actionpack/lib/action_controller/metal/content_security_policy.rb
Labels: actionpack

#44514 Fix small type in CSP guide [ci-skip]
  guides/source/security.md
Labels: docs

#44510 remove unused requires in ActiveSupport::Cache
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
  activesupport/test/cache/coder_test.rb
Labels: activesupport

#44520 Stop capturing subdomain in `HostAuthorization` middleware
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
Labels: actionpack

#44522 Typo: Changes BooksController to `BooksController` in Rails guide [ci-skip]
  guides/source/layouts_and_rendering.md
Labels: docs

#44511 Move docs to ActionDispatch::HTTP::PermissionsPolicy [ci-skip]
  actionpack/lib/action_controller/metal/permissions_policy.rb
  actionpack/lib/action_dispatch/http/permissions_policy.rb
Labels: actionpack

#44487 Removed freenode link from support resources [ci-skip]
  guides/source/getting_started.md
Labels: docs

#44521 Makes some of the activerecord tests more syntactically consistent
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/invertible_migration_test.rb
  activerecord/test/cases/statement_cache_test.rb
Labels: activerecord

#44515 use `git init -b` in generator when supported
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
Labels: railties

#44505 Improve HTTP authentication API docs [ci-skip]
  actionpack/lib/action_controller/metal/http_authentication.rb
Labels: docs

#44507 Improve `serialize` API doc [ci-skip]
  activerecord/lib/active_record/attribute_methods/serialization.rb
Labels: docs

#44508 Fix formatting of "Booting process" section [ci-skip]
  railties/lib/rails/application.rb
Labels: docs

#44504 Fix some typos
  actionmailer/test/base_test.rb
  activerecord/lib/active_record/insert_all.rb
  railties/lib/rails/generators/rails/app/USAGE
Labels: actionmailer, activerecord, railties

#44535 Respect auto increment setting in abstract mysql adapter
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#44528 Reduce the memory footprint of fixtures accessors
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/test_fixtures.rb
Labels: activerecord

#43730 Quieten PostgreSQL structure load
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
Labels: activerecord

#44541 Add missing ruby2_keywords in RoutingAssertions
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
Labels: actionpack

#44540 Don't require encryption credentials when using a custom key provider
  activerecord/lib/active_record/encryption/config.rb
  activerecord/lib/active_record/encryption/configurable.rb
  activerecord/lib/active_record/encryption/context.rb
  activerecord/lib/active_record/encryption/key_generator.rb
  activerecord/lib/active_record/encryption/scheme.rb
  activerecord/test/cases/encryption/config_test.rb
  activerecord/test/cases/encryption/encryptable_record_test.rb
  activerecord/test/cases/encryption/helper.rb
  activerecord/test/cases/encryption/scheme_test.rb
  activerecord/test/models/post_encrypted.rb
Labels: activerecord

#44531 Remove mark_transaction_written_if_write
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
Labels: activerecord

#44539 Fix test case in activerecord: assert -> assert_equal
  activerecord/test/cases/scoping/named_scoping_test.rb
Labels: activerecord

#44538 Update rails_application_templates.md
  guides/source/rails_application_templates.md
Labels: docs

#44543 Use `File::NULL` instead of `/dev/null`
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
Labels: activerecord

#44544 Add `ActiveModel::Access`
  activemodel/lib/active_model.rb
  activemodel/lib/active_model/access.rb
  activemodel/lib/active_model/model.rb
  activemodel/test/cases/access_test.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/base_test.rb
Labels: activemodel, activerecord

#44454 Use finish_with_state inside Rack::Logger
  railties/lib/rails/rack/logger.rb
Labels: railties

#44527 The database server discards prepared statements when the client disconnects
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/connection_adapters/statement_pool.rb
Labels: activerecord

#44530 Rename the raw connection ivar to `@raw_connection`
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/quoting.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/postgresql/statement_pool_test.rb
  activerecord/test/cases/adapters/sqlite3/transaction_test.rb
Labels: activerecord

#44554 Remove body content from redirect responses
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/redirecting.rb
  actionpack/lib/action_dispatch/middleware/actionable_exceptions.rb
  actionpack/lib/action_dispatch/routing/redirection.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/dispatch/prefix_generation_test.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack

#44529 Fix flaky Action View tests
  actionview/test/actionpack/controller/view_paths_test.rb
  actionview/test/activerecord/render_partial_with_record_identification_test.rb
  actionview/test/template/render_test.rb
Labels: actionview

#44523 Edit ActionController Base API docs [ci-skip]
  actionpack/lib/action_controller/base.rb
Labels: actionpack

#44501 Fixed inconsistencies in ActiveModel test cases
  activemodel/test/cases/api_test.rb
  activemodel/test/cases/error_test.rb
  activemodel/test/cases/model_test.rb
Labels: activemodel

#44555 Enable `Style/MapToHash` cop
  .rubocop.yml
  actiontext/lib/action_text/attachment.rb
  actiontext/lib/action_text/trix_attachment.rb
  actionview/lib/action_view/ripper_ast_parser.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activestorage/test/service/mirror_service_test.rb
Labels: activerecord, actionview, activestorage, actiontext

#44488 Correct CSP initializer copy
  railties/lib/rails/generators/rails/app/templates/config/initializers/content_security_policy.rb.tt
Labels: railties

#44512 Add Permissions-Policy header to the security guide [ci-skip]
  guides/source/security.md
Labels: docs

#44439 Return the blob/blobs when #attach is able to save the record
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/attached/many.rb
  activestorage/lib/active_storage/attached/one.rb
Labels: activestorage

#44526 Rollback nested transactions by restarting the parent where possible
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#44537 Allow skip_forgery_protection if no protection set
  actionmailbox/app/controllers/action_mailbox/base_controller.rb
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/test/controller/request_forgery_protection_test.rb
  railties/test/application/routing_test.rb
Labels: actionpack, railties, actionmailbox

#44567 Don't setup i18n reloader if `config.cache_classes = true`
  activesupport/lib/active_support/i18n_railtie.rb
Labels: activesupport

#44570 Define AbstractAdapter#configure_connection
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
Labels: activerecord

#44580 Ensure SVG elements are closed.
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/tag_helper_test.rb
Labels: actionview
