Repository rails/rails, pull requests merged in 2022-04, with the labels that each got.

#44818 Change `rss` to `RSS` in `ImageLinkToTag`
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#44816 Don't delegate ActionController::Parameters#values to hash
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack

#44811 Improve default message for assert_changes
  activesupport/lib/active_support/testing/assertions.rb
  activesupport/test/test_case_test.rb
Labels: activesupport

#44820 Fix `db:prepare` task to create/migrate test db when dev db already exists
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: activerecord, railties

#44832 Fix next Rails version in intended removal
  activesupport/lib/active_support.rb
Labels: activesupport

#44834 `rails db:schema:{dump,load}` now checks `ENV["SCHEMA_FORMAT"]` before config
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#44827 Remove legacy_connection_handling
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/legacy_pool_manager.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/query_cache.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/test_fixtures.rb
  activerecord/test/cases/adapter_prevent_writes_test.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_prevent_writes_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_prevent_writes_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_prevent_writes_test.rb
  activerecord/test/cases/base_prevent_writes_test.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/connection_adapters/legacy_connection_handlers_multi_db_test.rb
  activerecord/test/cases/connection_adapters/legacy_connection_handlers_sharding_db_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/query_cache_test.rb
  activerecord/test/cases/test_fixtures_test.rb
  activerecord/test/support/connection.rb
  guides/source/7_1_release_notes.md
  guides/source/active_record_multiple_databases.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties, docs

#44826 Add a flag to disable deprecated AC::Parameters comparison
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/lib/action_controller/railtie.rb
  actionpack/test/controller/parameters/accessors_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: actionpack, railties, docs

#44845 Fix touch and update_column/s for readonly records
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/readonly_test.rb
Labels: activerecord

#44830 Document ETag compatible CSP nonce generator [ci skip]
  guides/source/security.md
Labels: docs

#44783 Group `validates_associated` guide with `validates_*` [ci-skip]
  guides/source/active_record_validations.md
Labels: docs

#44574 Fix the example for using a CDN with ActiveStorage
  guides/source/active_storage_overview.md
Labels: docs

#44592 [docs] RemoteIp improvements
  actionpack/lib/action_dispatch/middleware/remote_ip.rb
Labels: actionpack, docs

#44311 Add docs about how to use remote browser in test
  guides/source/testing.md
Labels: docs

#44849 Remove autoload to unused constant
  activejob/lib/active_job.rb
Labels: activejob

#44850 All intermediate delegation methods should preserve kwargs flag
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/rescuable.rb
  actionpack/lib/abstract_controller/base.rb
  actionpack/lib/abstract_controller/callbacks.rb
  actionview/lib/action_view/rendering.rb
  activemodel/lib/active_model/attribute_methods.rb
  activerecord/lib/active_record/relation.rb
Labels: actionmailer, actionpack, activemodel, activerecord, actionview

#44283 Allow CSRF tokens to be stored outside of session.
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/lib/action_controller/test_case.rb
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/middleware/session/abstract_store.rb
  actionpack/lib/action_dispatch/request/session.rb
  actionpack/test/controller/request_forgery_protection_test.rb
  actionpack/test/dispatch/request/session_test.rb
  actionpack/test/dispatch/session/abstract_secure_store_test.rb
  actionpack/test/dispatch/session/abstract_store_test.rb
Labels: actionpack, activerecord, docs, actionview, activejob, activestorage, actiontext

#44844 Only allow String and Symbol keys in ActionController::Parameters
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/parameters_permit_test.rb
Labels: actionpack

#44860 Fix typo: libaries -> libraries [ci-skip]
  activerecord/lib/active_record/middleware/database_selector.rb
Labels: activerecord

#44869 fix: config.host_authorization reference
  guides/source/configuring.md
Labels: docs

#44862 Update source of `secret_key_base` in cookie rotator example
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#44784 Document that `data-remote` and `data-method` are deprecated
  actionview/lib/action_view/helpers/url_helper.rb
Labels: actionview

#44865 Remove no-longer-relevant `activerecord` locale namespace in example in guides [ci-skip]
  guides/source/i18n.md
Labels: docs

#44882 fix warnings when eager loading on ruby 2.7
  activesupport/lib/active_support/dependencies/autoload.rb
Labels: activesupport

#44872 Update ActiveSupport time zone tests for UTC-12 (International Date Line West)
  activesupport/test/time_zone_test.rb
Labels: activesupport

#44285 Fix handling disabled schema dumping for test environment
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#44871 Fix broken link for Redis PubSub in 'Action Cable Overview' guide [ci-skip]
  guides/source/action_cable_overview.md
Labels: docs

#44870 Define config.reload to be !config.cache_classes
  actionmailbox/test/dummy/config/environments/development.rb
  actionmailbox/test/dummy/config/environments/production.rb
  actionmailbox/test/dummy/config/environments/test.rb
  actionpack/lib/action_dispatch/middleware/reloader.rb
  actiontext/test/dummy/config/environments/development.rb
  actiontext/test/dummy/config/environments/production.rb
  actiontext/test/dummy/config/environments/test.rb
  actionview/lib/action_view/railtie.rb
  actionview/test/ujs/server.rb
  activerecord/lib/active_record/railtie.rb
  activestorage/test/dummy/config/environments/development.rb
  activestorage/test/dummy/config/environments/production.rb
  activestorage/test/dummy/config/environments/test.rb
  activesupport/lib/active_support/descendants_tracker.rb
  activesupport/lib/active_support/i18n_railtie.rb
  guides/source/autoloading_and_reloading_constants.md
  guides/source/classic_to_zeitwerk_howto.md
  guides/source/configuring.md
  guides/source/threading_and_code_execution.md
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/lib/rails/application/bootstrap.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/application/default_middleware_stack.rb
  railties/lib/rails/application/finisher.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/test/application/configuration_test.rb
  railties/test/application/initializers/hooks_test.rb
  railties/test/application/initializers/i18n_test.rb
  railties/test/application/initializers/load_path_test.rb
  railties/test/application/loading_test.rb
  railties/test/application/middleware_test.rb
  railties/test/application/zeitwerk_integration_test.rb
Labels: actionpack, activerecord, activesupport, railties, docs, actionview, activestorage, actionmailbox, actiontext

#44893 Add API docs for `run_load_hooks` [ci-skip]
  activesupport/lib/active_support/lazy_load_hooks.rb
Labels: activesupport

#44900 Scope PostgreSQL check constraints to current schemas
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/migration/check_constraint_test.rb
Labels: activerecord

#44889 Fix 5-2-stable for CI
  Gemfile
  Gemfile.lock
  activesupport/lib/active_support/concurrency/load_interlock_aware_monitor.rb
  railties/test/application/console_test.rb
  railties/test/engine/commands_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
  railties/test/test_unit/reporter_test.rb
Labels: activesupport, railties

#44913 [guide] Enable syntax highlight for a code in AR validation guide [ci-skip]
  guides/source/active_record_validations.md
Labels: docs

#44911 Remove unnecessary note for primary_key in the guide
  guides/source/active_record_migrations.md
Labels: docs

#44927 Fix ActiveSupport::XmlMini on JRuby 9.3.x.x
  activesupport/lib/active_support/xml_mini/jdom.rb
Labels: activesupport

#44929 Syntax highlight ruby code in multi db guide
  guides/source/active_record_multiple_databases.md
Labels: docs

#44928 Add missing info for `change` column and table comment in Guides
  guides/source/active_record_migrations.md
Labels: docs

#44934 Add API doc for the `same_site` option of the `cookie` [skip ci]
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/lib/action_dispatch/middleware/session/cookie_store.rb
Labels: actionpack

#44953 Remove to_ary from RackBody
  actionpack/lib/action_dispatch/http/response.rb
Labels: actionpack

#44942 Respect the formatter keyword arg in ActiveSupport::Logger.new
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/logger.rb
  activesupport/test/logger_test.rb
Labels: activesupport

#44903 Register the interlock hook only if reloading
  railties/lib/rails/application/finisher.rb
Labels: railties

#44944 Multi database: define `reading_request?` in resolver
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/middleware/database_selector.rb
  activerecord/lib/active_record/middleware/database_selector/resolver.rb
  activerecord/test/cases/database_selector_test.rb
Labels: activerecord

#44935 Updates --skip-git option description to be more accurate
  railties/lib/rails/generators/app_base.rb
Labels: railties

#44446 Active Record API for general async queries
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/future_result.rb
  activerecord/lib/active_record/null_relation.rb
  activerecord/lib/active_record/promise.rb
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/result.rb
  activerecord/test/cases/asynchronous_queries_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/connection_adapters/standalone_connection_test.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/cases/null_relation_test.rb
  activerecord/test/support/async_helper.rb
Labels: activerecord

#44958 Fix `db:prepare` to run seeds once
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#44963 chore: remove git.io
  .github/workflows/lint.yml
  railties/lib/rails/generators/app_base.rb
Labels: railties

#44962 Only materialize the new transaction if it needs it
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#44967 Improve upgrade guide section on cookies rotator
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#44973 activerecord: fix sql log with unnamed binds
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/test/cases/bind_parameter_test.rb
Labels: activerecord

#44966 retain Ruby 2.2 compatibility for Rails 5.2
  actionview/lib/action_view/helpers/tag_helper.rb
Labels: actionview

#44984 Remove dead URL
  railties/lib/rails/generators/app_base.rb
Labels: railties
