Repository rails/rails, pull requests merged in 2022-05, with the labels that each got.

#44995 activerecord: Backport sql log for unnamed binds fix
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/test/cases/bind_parameter_test.rb
Labels: activerecord

#44994 Put Active Record changes into place in 7.0 release notes [ci-skip]
  guides/source/7_0_release_notes.md
Labels: docs

#44992 Add libvips to Development Dependency guide [ci skip]
  Brewfile
  guides/source/development_dependencies_install.md
Labels: docs

#44295 Update RDoc comments for #redirect [ci-skip]
  actionpack/lib/action_dispatch/routing/redirection.rb
Labels: actionpack

#44956 Document `uses_transaction` [ci-skip]
  activerecord/lib/active_record/test_fixtures.rb
Labels: activerecord

#44980 Allow setting some Active Support settings via initializers
  activesupport/lib/active_support/railtie.rb
  railties/test/application/configuration_test.rb
Labels: activesupport, railties

#45012 Simplify regex detecting comments in sql query
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
Labels: activerecord

#44777 Document action mailer rescue_from [ci-skip]
  actionmailer/lib/action_mailer/base.rb
Labels: actionmailer

#44937 Add missing require of `action_controller/metal/exceptions` to `action_controller`
  actionpack/lib/action_controller.rb
Labels: actionpack

#44983 Fixed: MemCacheStore#read_multi_entries NoMethodError: undefined method `expired?` for nil:NilClass
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#45013 Doc: fix of name attribute
  guides/source/active_record_querying.md
Labels: docs

#45018 Fix disabling strict_loading when enabled by default
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#44998 Error reporting API: Add a context source attribute
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/lib/active_support/error_reporter.rb
  activesupport/lib/active_support/execution_wrapper.rb
  activesupport/test/error_reporter_test.rb
  activesupport/test/executor_test.rb
Labels: activesupport

#45016 Raise StrictLoadingViolationError with polymorphic relation violations
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#45027 Fix tag helper regression
  actionview/test/template/tag_helper_test.rb
  activesupport/lib/active_support/core_ext/string/output_safety.rb
Labels: activesupport, actionview

#45032 docs: Reformat code in Placeholder Conditions [ci-skip]
  guides/source/active_record_querying.md
Labels: docs

#44866 Make behaviour of has_value?/value? more consistent
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack

#44947 Fix link to Thor's docs [ci-skip]
  guides/source/generators.md
Labels: docs

#45042 Fix typo in development dependencies [ci skip]
  guides/source/development_dependencies_install.md
Labels: docs

#45029 Escape literal dot in regular expression
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#44979 Correctly get name of middleware when a it is Module
  actionpack/lib/action_dispatch/middleware/stack.rb
Labels: actionpack, ready

#44961 Complete check for custom CSRF storage strategies
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
Labels: actionpack

#44910 Avoid escaping paths when editing credentials
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/test/commands/credentials_test.rb
Labels: railties

#45044 Fix a typo in Active Record Encryption guide
  guides/source/active_record_encryption.md
Labels: docs

#45043 Add anchor to a link in `load_defaults`'s api guide [ci-skip]
  railties/lib/rails/application/configuration.rb
Labels: railties

#44965 AzureStorage needs version >= 2 of azure-storage-blob
  guides/source/active_storage_overview.md
Labels: docs

#45033 Support encrypted attributes on columns with default values
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/test/cases/encryption/encryptable_record_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#45048 Fix usage of “all_queries” flag when using multiple default scopes
  activerecord/lib/active_record/scoping/default.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#45047 Set ttl for redis and memcache cache stores when using `expires_at`
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#44370 Provide change summary before details for all gems
  tasks/release_announcement_draft.erb
Labels: stale

#45058 Use the CSS badge for the API docs as well
  Gemfile
  Gemfile.lock
  guides/assets/images/edge_badge.png
  railties/lib/rails/api/task.rb
Labels: railties, docs

#45005 Fix casting long strings to Date, Time or DateTime
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/type/date.rb
  activemodel/lib/active_model/type/date_time.rb
  activemodel/lib/active_model/type/time.rb
  activemodel/test/cases/type/date_test.rb
  activemodel/test/cases/type/date_time_test.rb
  activemodel/test/cases/type/time_test.rb
Labels: activemodel

#44897 Clarified requirements for keys in nested structures
  guides/source/form_helpers.md
Labels: docs

#45030 Avoid query from calculations on contradictory relation
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#45075 Update working_with_javascript_in_rails.md - missing "turbo-" form attribute
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#45074 Fix some 6-1-stable tests for Ruby 2.5 and 2.6
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#45083 Document that url_for can take classes
  actionview/lib/action_view/routing_url_for.rb
Labels: actionview

#45085 Fix rails test command to handle leading dot slash
  railties/CHANGELOG.md
  railties/lib/rails/test_unit/runner.rb
  railties/test/application/test_runner_test.rb
Labels: railties

#43754 add `--js` alias to `--javascript` and `--skip-js` alias to `--skip-javscript`
  railties/CHANGELOG.md
  railties/lib/rails/generators.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#45094 Fix MySQL warning when creating Active Record's test databases
  activerecord/Rakefile
Labels: activerecord

#45078 Don't change the encoding of frozen parameters
  actionpack/lib/action_dispatch/request/utils.rb
  actionpack/test/dispatch/request_test.rb
Labels: actionpack

#45095 Improve `rails s` error message when no server could be found.
  railties/lib/rails/commands/server/server_command.rb
Labels: railties

#45091 Add ability to ignore tables by regexp for SQL schema dumps
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/lib/active_record/tasks/mysql_database_tasks.rb
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/lib/active_record/tasks/sqlite_database_tasks.rb
  activerecord/test/cases/tasks/mysql_rake_test.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
  activerecord/test/cases/tasks/sqlite_rake_test.rb
Labels: activerecord

#45089 Fix parsing operator classes for index columns in PostgreSQL
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
Labels: activerecord

#45097 Fix CHANGELOG alignment [ci-skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#42909 Add `skip_nil:` support to `RedisCacheStore`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#45090 Fix: PG.connect keyword arguments deprecation warning on ruby 2.7
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#45103 Fixes development Action Mailbox new mail form
  actionmailbox/app/controllers/rails/conductor/action_mailbox/inbound_emails_controller.rb
  actionmailbox/test/controllers/rails/action_mailbox/inbound_emails_controller_test.rb
Labels: actionmailbox

#45099 Support unbounded time ranges for PostgreSQL
  activerecord/lib/active_record/connection_adapters/postgresql/oid/range.rb
  activerecord/test/cases/adapters/postgresql/range_test.rb
Labels: activerecord

#45109 Address QueryCacheTest#test_query_cache_does_not_allow_sql_key_mutation failure
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#44558 Adds test coverage for the `#attach` method behaviour in activestorage
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
Labels: activestorage

#44733 Fix Action Cable stream_test background errors
  actioncable/test/connection/stream_test.rb
Labels: actioncable

#44696 Add Action Cable command callbacks at the connection level
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/connection/base.rb
  actioncable/lib/action_cable/connection/callbacks.rb
  actioncable/test/connection/callbacks_test.rb
Labels: actioncable

#45072 Send disconnect message during remote disconnect
  actioncable/CHANGELOG.md
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/javascript/action_cable/internal.js
  actioncable/lib/action_cable.rb
  actioncable/lib/action_cable/connection/internal_channel.rb
  actioncable/lib/action_cable/remote_connections.rb
  actioncable/test/client_test.rb
Labels: actioncable

#42981 Active Storage eager loading: support more methods
  activestorage/app/models/active_storage/attachment.rb
  activestorage/lib/active_storage/attached/model.rb
  activestorage/test/models/variant_with_record_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage, ready

#45068 Add initial value support to ActiveSupport::Cache #increment and #decrement calls
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/file_store.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_increment_decrement_behavior.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
Labels: activesupport

#45116 Fix incorrect line number if a `helper_method` raises
  actionpack/lib/abstract_controller/helpers.rb
  actionpack/test/controller/helper_test.rb
Labels: actionpack

#45118 Make validators accept lambdas without record argument
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/validations/clusivity.rb
  activemodel/lib/active_model/validations/comparability.rb
  activemodel/lib/active_model/validations/comparison.rb
  activemodel/lib/active_model/validations/format.rb
  activemodel/lib/active_model/validations/length.rb
  activemodel/lib/active_model/validations/numericality.rb
  activemodel/lib/active_model/validations/resolve_value.rb
  activemodel/test/cases/validations/comparison_validation_test.rb
  activemodel/test/cases/validations/exclusion_validation_test.rb
  activemodel/test/cases/validations/format_validation_test.rb
  activemodel/test/cases/validations/inclusion_validation_test.rb
  activemodel/test/cases/validations/length_validation_test.rb
  activemodel/test/cases/validations/numericality_validation_test.rb
Labels: activemodel

#45126 Fix destroy association async test setup
  activerecord/test/models/destroy_async_parent.rb
Labels: activerecord

#45115 Fix using helpers in `content_security_policy` and `permissions_policy`
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/content_security_policy.rb
  actionpack/lib/action_controller/metal/permissions_policy.rb
  actionpack/test/dispatch/content_security_policy_test.rb
  actionpack/test/dispatch/permissions_policy_test.rb
Labels: actionpack

#45110 Improve prefixing routes example in guides [ci-skip]
  guides/source/routing.md
Labels: docs

#45125 Fix `touch` to raise an error for readonly columns
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/readonly_test.rb
  activerecord/test/models/person.rb
Labels: activerecord

#44019 Fix flakey tests in `insert_all_test.rb`
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#40622 Only invalidate query caches for peer connections
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#45134 no longer set sql_auto_is_null
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
Labels: activerecord

#40058 Add `db_runtime` to Active Job instrumentation
  activejob/CHANGELOG.md
  activejob/lib/active_job/instrumentation.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/railties/job_runtime.rb
  activerecord/test/activejob/job_runtime_test.rb
  guides/source/active_support_instrumentation.md
  guides/source/configuring.md
Labels: activerecord, docs, activejob

#39686 Enroll new apps in decrypted diffs of credentials
  railties/CHANGELOG.md
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/lib/rails/commands/credentials/credentials_command/diffing.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/commands/credentials_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#45135 Let purge succeed when MySQL database is missing
  activerecord/lib/active_record/tasks/mysql_database_tasks.rb
  activerecord/test/cases/tasks/mysql_rake_test.rb
Labels: activerecord

#42691 Improve mysql2 mismatched foreign keys reporting
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
Labels: activerecord

#45123 Add beginless range support to clusivity
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/validations/clusivity.rb
  activemodel/test/cases/validations/inclusion_validation_test.rb
  activemodel/test/models/topic.rb
Labels: activemodel

#45137 Clarify `cookies_serializer` wording in new framework defaults
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: railties, docs

#45138 Support infinite ranges for `LengthValidator`s `:in`/`:within` options
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/validations/length.rb
  activemodel/test/cases/validations/length_validation_test.rb
Labels: activemodel, activesupport

#45129 add header for devcontainers, this serves two purposes: [ci-skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#45120 Expand HTTP Security Headers in guides [ci-skip]
  guides/source/security.md
Labels: docs

#45143 Add examples of empty passwords for authenticate by [ci-skip]
  activerecord/lib/active_record/secure_password.rb
Labels: activerecord

#44888 Rotate Default Logs on Each 100MB
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application/bootstrap.rb
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties, docs

#45104 Allow easier debugging of Action Dispatch requests
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/test/dispatch/request_test.rb
Labels: actionpack

#45141 Don't call controller's headers method internally
  actionpack/lib/action_controller/metal/rendering.rb
  actionpack/test/controller/integration_test.rb
Labels: actionpack

#45142 Avoid loading `ActionController::Base` when loading `ActionMailer::Base`
  actionpack/lib/abstract_controller/helpers.rb
  actionpack/lib/action_controller/metal/helpers.rb
  railties/lib/rails/engine.rb
Labels: actionpack, railties

#45148 Fix typo in document [ci skip]
  guides/source/active_record_querying.md
Labels: docs

#44916 Treat `image/bmp` as a valid content type
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/engine_test.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/models/variant_test.rb
  guides/source/configuring.md
Labels: docs, activestorage

#44878 Fix bulk change_table with change_null and default
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#45151 Do not return invalid indexes in PostgreSQL
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#43706 Avoid renders in equality check of rich_text content
  actiontext/CHANGELOG.md
  actiontext/lib/action_text/content.rb
Labels: actiontext

#45096 Add missing tests for reference column types when migration version is 6.0
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#45154 Fix typo: some thing -> something
  guides/source/security.md
Labels: docs

#45159 Revert "Do not return invalid indexes in PostgreSQL"
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#45153 Skip resetting correct counter caches
  activerecord/lib/active_record/counter_cache.rb
  activerecord/test/cases/counter_cache_test.rb
Labels: activerecord

#45157 [docs] Change wording around mailing list in contribution guide
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#45168 Forward `drop_join_table` options to `drop_table`
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/migration/create_join_table_test.rb
Labels: activerecord

#45172 `cookies_serializer` docs improvements
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: railties, docs

#45173 Change `DeveloperWithDefaultNilableMentorScopeAllQueries` name
  activerecord/test/cases/scoping/default_scoping_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#45174 Add `force:` support to `ActiveSupport::Cache::Store#fetch_multi`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#44468 Move `convert_to_model` call from `form_for` into `form_with`
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper/form_with_test.rb
Labels: actionview

#45184 Add description for multiple database up and down migration rake [ci-skip]
  activerecord/lib/active_record/railties/databases.rake
Labels: activerecord

#45178 Allow setting db with use_postgresql tests
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: railties

#45185 Ensure current environment is recorded before running migrations
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#45181 remove unused rendered_format from LookupContext
  actionview/lib/action_view/lookup_context.rb
Labels: actionview

#45187 Dup options in `validates_with`
  activemodel/lib/active_model/validations/with.rb
  activemodel/test/cases/validations/with_validation_test.rb
Labels: activemodel

#45186 Update guide documentation for form_helpers.md section 1 [ci-skip]
  guides/source/form_helpers.md
Labels: docs

#45180 Deprecate behaviour constant
  actioncable/lib/action_cable/connection/stream.rb
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/helpers.rb
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionview/lib/action_view/helpers/url_helper.rb
  activejob/CHANGELOG.md
  activerecord/lib/active_record/inheritance.rb
  activerecord/test/cases/connection_pool_test.rb
  activerecord/test/cases/finder_respond_to_test.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
  activesupport/test/core_ext/string_ext_test.rb
  activesupport/test/deprecation_test.rb
  activesupport/test/multibyte_chars_test.rb
  activesupport/test/subscriber_test.rb
  guides/source/5_2_release_notes.md
  guides/source/active_record_querying.md
  guides/source/active_storage_overview.md
  guides/source/configuring.md
  guides/source/upgrading_ruby_on_rails.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/test_case.rb
  railties/lib/rails/generators/testing/behavior.rb
Labels: actionpack, activerecord, activesupport, railties, docs, actionview, activejob, actioncable

#45192 Make `find_nth_from_last` more performant when using custom order
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#45198 Fix with_options bug when first argument is a Proc
  activesupport/lib/active_support/option_merger.rb
  activesupport/test/option_merger_test.rb
Labels: activesupport

#43402 Fix eager loading models without primary keys
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/join_dependency.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/models/pirate.rb
Labels: activerecord

#45191 Improve performance for contextual validations
  activemodel/lib/active_model/validations.rb
Labels: activemodel

#45189 Document ActionDispatch::TestResponse#parsed_body [ci-skip]
  actionpack/lib/action_dispatch/testing/test_response.rb
Labels: actionpack

#45203 small error/typo in first example of pluck section
  guides/source/active_record_querying.md
Labels: docs

#45204 removed redundant backtick symbol from sql examples of rails guides
  guides/source/active_record_querying.md
Labels: docs

#45200 Pass additional connection options to `psql` when running `rails dbconsole`
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
Labels: railties

#45212 Event.delete_all after `UniquenessValidationWithIndexTest#test_uniqueness_on_relation`
  activerecord/test/cases/validations/uniqueness_validation_test.rb
Labels: activerecord

#45214 Drop test databases if exist for PG ActiveRecord test setup
  activerecord/Rakefile
Labels: activerecord

#45210 Fix incorrect paths in generator tests
  railties/test/generators/app_generator_test.rb
Labels: railties

#45211 Fix the API docs for `third_to_last` and `second_to_last`
  activerecord/lib/active_record/associations/collection_proxy.rb
Labels: activerecord

#45217 Guides > Upgrading: Mention `config.hosts` on Rails 6.0
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#45169 Allow all available locales for template lookups
  actionview/lib/action_view/template/resolver.rb
  actionview/test/template/resolver_shared_tests.rb
Labels: actionview

#45160 Add validity for PostgreSQL indexes
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#45219 Delegate `empty?` query method to relation
  activerecord/lib/active_record/querying.rb
  activerecord/test/cases/relation/delegation_test.rb
Labels: activerecord

#44896 Add schema awareness to Postgres `create_enum`
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/enum_test.rb
Labels: activerecord, ready

#45222 Fix Hstore deserialize regression
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/oid/hstore.rb
  activerecord/test/cases/adapters/postgresql/hstore_test.rb
Labels: activerecord

#45218 Strings returned from `strip_tags` are correctly tagged `html_safe?`
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/sanitize_helper.rb
  actionview/test/template/sanitize_helper_test.rb
  activesupport/test/safe_buffer_test.rb
Labels: activesupport, actionview

#44372 Raise exception if Active Storage is configured and `config.active_storage.service` is not explicitly set
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/attached/model.rb
  activestorage/test/dummy/config/environments/test.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
Labels: activestorage

#45224 Fix store dirty tracking documentation [ci-skip]
  activerecord/lib/active_record/store.rb
Labels: activerecord

#45163 Deprecate plural association names on singular associations
  activerecord/lib/active_record/table_metadata.rb
  activerecord/test/cases/relation/where_test.rb
Labels: activerecord
