Repository rails/rails, pull requests merged in 2022-10, with the labels that each got.

#46172 Fixes mime -> MIME [ci-skip]
  guides/source/2_2_release_notes.md
  guides/source/5_0_release_notes.md
  guides/source/5_2_release_notes.md
  guides/source/asset_pipeline.md
  guides/source/caching_with_rails.md
Labels: docs

#46174 Fixes sqlite -> SQLite [ci-skip]
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/test/cases/view_test.rb
  guides/source/5_2_release_notes.md
Labels: activerecord, docs

#46175 Fixes rdoc -> RDoc [ci-skip]
  guides/source/plugins.md
Labels: docs

#46183 Remove duplicate frozen_string_literal comment
  activesupport/lib/active_support/core_ext/range/include_time_with_zone.rb
Labels: activesupport

#46161 Use ActiveSupport::ConfigurationFile in load_database_yaml
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties

#46187 Namespace keys in EncodedKeyCacheBehavior test
  activesupport/test/cache/behaviors/encoded_key_cache_behavior.rb
Labels: activesupport

#46186 Remove private `transaction(joinable:)` parameter from RDoc
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
Labels: activerecord

#46188 Address `warning: mismatched indentations` at test_factory_invalid_formatter
  activerecord/test/cases/query_logs_formatter_test.rb
Labels: activerecord

#45427 Update permissions policy list
  actionpack/lib/action_dispatch/http/permissions_policy.rb
Labels: actionpack

#46180 Set default query tags format for upcoming Rails releases
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
  railties/test/application/query_logs_test.rb
Labels: railties, docs

#46199 Deprecate obsolete permissions policy directives
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/permissions_policy.rb
  actionpack/test/dispatch/permissions_policy_test.rb
Labels: actionpack

#46201 Fix typo, add missing "to"
  guides/source/active_record_migrations.md
Labels: docs

#46204 remove redis reconnect_attempts
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#46203 Fix `index_exists?` when column is an array
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/test/cases/migration/index_test.rb
Labels: activerecord

#46200 Add missing middleware methods to guide
  guides/source/rails_on_rack.md
Labels: docs

#45654 Improve ActiveRecord::QueryMethods.readonly doc [skip ci]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#46216 Add pre-defined variant examples in representable
  activestorage/app/models/active_storage/attachment.rb
Labels: activestorage

#46215 Update CHANGELOG with PR #45427 changes
  actionpack/CHANGELOG.md
Labels: actionpack

#46178 Validate options when managing columns and tables in migration
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
  activerecord/test/cases/migration/invalid_options_test.rb
Labels: activerecord

#46189 Enable verbose mode in test and report warnings as errors
  actioncable/test/test_helper.rb
  actionmailer/test/abstract_unit.rb
  actionpack/test/abstract_unit.rb
  actionview/lib/action_view/template/handlers/builder.rb
  actionview/test/abstract_unit.rb
  activejob/test/helper.rb
  activemodel/lib/active_model/type/serialize_cast_value.rb
  activemodel/test/cases/helper.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/statement_pool_test.rb
  activerecord/test/cases/enum_test.rb
  activerecord/test/cases/test_case.rb
  activestorage/test/test_helper.rb
  activesupport/lib/active_support/testing/strict_warnings.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/deprecation_test.rb
  railties/lib/rails/command/base.rb
  railties/test/abstract_unit.rb
  railties/test/application/initializers/frameworks_test.rb
  railties/test/application/zeitwerk_integration_test.rb
  railties/test/configuration/middleware_stack_proxy_test.rb
  railties/test/generators/argv_scrubber_test.rb
  railties/test/generators/generator_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: actionmailer, actionpack, activemodel, activerecord, activesupport, railties, actionview, activejob, actioncable, activestorage

#46171 Add column information inside ERB templates
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_actions.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_message_and_suggestions.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/diagnostics.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/diagnostics.text.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/missing_template.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/routing_error.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/template_error.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/unknown_action.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/unknown_action.text.erb
  actionpack/test/dispatch/exception_wrapper_test.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/error.rb
  actionview/lib/action_view/template/handlers/erb.rb
  actionview/lib/action_view/template/resolver.rb
  actionview/lib/action_view/unbound_template.rb
  actionview/test/fixtures/test/runtime_error.html.erb
  actionview/test/template/erb_util_test.rb
  actionview/test/template/render_test.rb
  activesupport/lib/active_support/core_ext/erb/util.rb
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  activesupport/lib/active_support/core_ext/thread/backtrace/location.rb
  activesupport/lib/active_support/syntax_error_proxy.rb
  activesupport/test/core_ext/erb_util_test.rb
  railties/lib/rails/application/configuration.rb
Labels: actionpack, activesupport, railties, actionview

#46141 Add style-src to default nonce_directives
  railties/lib/rails/generators/rails/app/templates/config/initializers/content_security_policy.rb.tt
Labels: railties, ready

#46223 Remove all non word characters from screenshot filenames
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
Labels: actionpack, ready

#46224 Remove extra advisory lock connection
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#46236 Remove Calculations#count doc example with 0
  activerecord/lib/active_record/relation/calculations.rb
Labels: activerecord

#46227 Update i18n.md with some wording fixes [ci-skip]
  guides/source/i18n.md
Labels: docs

#46230 Update document of Range#to_s
  guides/source/active_support_core_extensions.md
Labels: docs

#46237 `application/loading_test` should not override database to `:memory:`
  railties/test/application/loading_test.rb
Labels: railties

#46241 Fix some Migration versions not inheriting options
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#46246 Correct errors in docs for ActiveRecord::QueryMethods select method
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#45383 Scaffold destroy action returns status code 303
  guides/source/action_controller_overview.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/scaffold_controller/templates/controller.rb.tt
  railties/test/generators/scaffold_controller_generator_test.rb
Labels: railties, docs

#46097 Multi-database: better support pending migration checks
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration/pending_migrations_test.rb
Labels: activerecord, railties

#46254 Bump Puma to v6.0.0
  Gemfile.lock
  railties/lib/rails/generators/app_base.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#46219 Avoid double cast in types that only override cast
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/type/big_integer.rb
  activemodel/lib/active_model/type/boolean.rb
  activemodel/lib/active_model/type/date.rb
  activemodel/lib/active_model/type/date_time.rb
  activemodel/lib/active_model/type/decimal.rb
  activemodel/lib/active_model/type/float.rb
  activemodel/lib/active_model/type/helpers/accepts_multiparameter_time.rb
  activemodel/lib/active_model/type/helpers/numeric.rb
  activemodel/lib/active_model/type/helpers/time_value.rb
  activemodel/lib/active_model/type/immutable_string.rb
  activemodel/lib/active_model/type/integer.rb
  activemodel/lib/active_model/type/serialize_cast_value.rb
  activemodel/lib/active_model/type/string.rb
  activemodel/lib/active_model/type/time.rb
  activemodel/test/cases/type/serialize_cast_value_test.rb
  activerecord/lib/active_record/type/date.rb
  activerecord/lib/active_record/type/date_time.rb
  activerecord/lib/active_record/type/decimal_without_scale.rb
  activerecord/lib/active_record/type/text.rb
  activerecord/lib/active_record/type/time.rb
  activerecord/lib/active_record/type/unsigned_integer.rb
Labels: activemodel, activerecord, railties

#46231 Avoid unnecessary `serialize` calls after save
  activemodel/lib/active_model/attribute.rb
  activemodel/test/cases/attribute_test.rb
  activerecord/lib/active_record/relation/query_attribute.rb
Labels: activemodel, activerecord

#46253 Allow ActiveRecord::QueryMethods#reselect to accept a hash
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/select_test.rb
Labels: activerecord

#46260 Update documentation of length validation
  activemodel/lib/active_model/validations/validates.rb
Labels: activemodel

#46250 Capitalize heading to match style guidelines [ci-skip]
  guides/source/action_cable_overview.md
  guides/source/action_controller_overview.md
  guides/source/action_mailbox_basics.md
  guides/source/action_mailer_basics.md
  guides/source/action_text_overview.md
  guides/source/action_view_helpers.md
  guides/source/action_view_overview.md
  guides/source/active_job_basics.md
  guides/source/active_model_basics.md
  guides/source/active_record_encryption.md
  guides/source/active_record_multiple_databases.md
  guides/source/active_record_postgresql.md
  guides/source/active_record_querying.md
  guides/source/active_record_validations.md
  guides/source/active_storage_overview.md
  guides/source/active_support_core_extensions.md
  guides/source/active_support_instrumentation.md
  guides/source/api_app.md
  guides/source/asset_pipeline.md
  guides/source/autoloading_and_reloading_constants.md
  guides/source/caching_with_rails.md
  guides/source/classic_to_zeitwerk_howto.md
  guides/source/command_line.md
  guides/source/configuring.md
  guides/source/contributing_to_ruby_on_rails.md
  guides/source/debugging_rails_applications.md
  guides/source/development_dependencies_install.md
  guides/source/engines.md
  guides/source/error_reporting.md
  guides/source/form_helpers.md
  guides/source/getting_started.md
  guides/source/i18n.md
  guides/source/layouts_and_rendering.md
  guides/source/plugins.md
  guides/source/rails_on_rack.md
  guides/source/routing.md
  guides/source/security.md
  guides/source/testing.md
  guides/source/threading_and_code_execution.md
  guides/source/webpacker.md
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#46267 Remove extra establish connection in pending migrations
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#46268 Cleanup check pending
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#45475 Makes the API documentation link relative
  railties/RDOC_MAIN.rdoc
Labels: railties

#45469 Document Action Cable Callbacks
  actioncable/lib/action_cable/channel/callbacks.rb
  actioncable/lib/action_cable/connection/callbacks.rb
  guides/source/action_cable_overview.md
Labels: docs, actioncable

#46256 Avoid encrypt + decrypt on attribute assignment
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
Labels: activerecord

#46281 Fix encryption of column default values
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/base.rb
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/test/cases/encryption/helper.rb
Labels: activerecord

#46283 Add `read_attribute_for_database`
  activerecord/lib/active_record/attribute_methods/before_type_cast.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#46287 Fix a bug where using groups and counts with long table names would return incorrect results.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/models/too_long_table_name.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#46289 Skip validation options for `change_table` in old migrations
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#46290 Fix missed deprecations
  activerecord/lib/active_record/railtie.rb
Labels: activerecord

#46282 Avoid `value_for_database` if attribute not updated
  activemodel/lib/active_model/attribute.rb
Labels: activemodel

#46284 Fix `ciphertext_for` for yet-to-be-encrypted values
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/test/cases/encryption/contexts_test.rb
  activerecord/test/cases/encryption/encryptable_record_api_test.rb
  activerecord/test/cases/encryption/helper.rb
Labels: activerecord

#46298 Fix Action View compatibility with jbuilder
  actionview/lib/action_view/renderer/abstract_renderer.rb
  actionview/lib/action_view/template.rb
Labels: actionview

#46299 Allow ErrorReporter to handle several error classes
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/error_reporter.rb
  activesupport/test/error_reporter_test.rb
  guides/source/error_reporting.md
Labels: activesupport, docs

#46197 Don't trigger `after_commit :destroy` callback again on destroy if record previously was destroyed
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/transaction_callbacks_test.rb
Labels: activerecord

#46291 Add missing `preview` event to `ActiveStorage::LogSubscriber`
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/log_subscriber.rb
  activestorage/lib/active_storage/previewer.rb
Labels: activestorage

#46269 Fix #46244 Remove innerHTML usage to avoid self-XSS
  actionpack/lib/action_dispatch/middleware/templates/routes/_table.html.erb
Labels: actionpack, ready

#46305 MemoryStore: preserve entry ttl when incrementing
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/test/cache/stores/memory_store_test.rb
Labels: activesupport

#45527 Support `checked` as a keyword argument in `check_box_tag` and `radio_button_tag`
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/test/template/form_tag_helper_test.rb
Labels: actionview

#46279 Fix double logging in `ActiveRecord::QueryLogs`
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/railtie.rb
  activejob/CHANGELOG.md
  activejob/lib/active_job/railtie.rb
  railties/test/application/query_logs_test.rb
Labels: actionpack, railties, activejob

#46309 Fix double logs if Rails.logger outputs to STDERR
  railties/lib/rails/commands/server/server_command.rb
Labels: railties

#46310 Clarify activerecord changelog for sqlcommenter
  activerecord/CHANGELOG.md
Labels: activerecord

#46311 Fix test where broadcaster doesn't define #silence
  activesupport/test/broadcast_logger_test.rb
Labels: activesupport

#46304 Assets Precompile in Rails Guide is NOT showing the steps for Sprockets 4
  guides/source/asset_pipeline.md
Labels: docs

#45481 Add support for bulk change_table revert
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/test/cases/migration/command_recorder_test.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#46251 Fix `Time#change` and `#advance` around the end of DST
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/time/calculations.rb
  activesupport/test/core_ext/time_ext_test.rb
Labels: activesupport

#46328 Apply config to `Rails.application.deprecators`
  activesupport/lib/active_support/railtie.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: activesupport, railties, docs

#46329 Add deprecator-only overload for `assert_deprecated`
  activesupport/lib/active_support/testing/deprecation.rb
  activesupport/test/deprecation/deprecators_test.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#46332 Improve BelongsToAssociationsTest's `test_destroy_linked_models` by adding two assertions
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord, ready

#46326 Fix SQLCommenter value serialization
  activerecord/lib/active_record/query_logs.rb
  activerecord/lib/active_record/query_logs_formatter.rb
  activerecord/test/cases/query_logs_test.rb
Labels: activerecord

#46308 Fix Action Mailer not skipped when Active Job is (7-0-stable)
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
Labels: railties

#46258 fix: Ensure `ActiveJob::TestHelper` sets `scheduled_at` to a `Float`
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/test_helper_test.rb
Labels: activejob, ready

#46273 Allow adapter `#execute` methods to take `allow_retry` option
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#46330 Add `ActiveRecord.deprecator`
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/attribute_methods/dirty.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/deprecator.rb
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/table_metadata.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/activejob/destroy_association_async_job_test.rb
  activerecord/test/cases/adapters/mysql2/bind_parameter_test.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/mysql2/quoting_test.rb
  activerecord/test/cases/adapters/postgresql/bind_parameter_test.rb
  activerecord/test/cases/adapters/sqlite3/bind_parameter_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_db_test.rb
  activerecord/test/cases/database_configurations_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/quoting_test.rb
  activerecord/test/cases/transactions_test.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#46336 Add multi-database support for the `db:version` task
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#46338 Fix `clear_all_connections!` deprecation warning
  actioncable/test/subscription_adapter/postgresql_test.rb
Labels: actioncable

#46339 Adds validate to foreign keys and check constraints in schema.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/migration/check_constraint_test.rb
  activerecord/test/cases/migration/foreign_key_test.rb
Labels: activerecord

#46348 Don't remove duplicates from args array
  railties/lib/rails/generators/testing/behavior.rb
Labels: railties

#46337 Add `ActiveSupport.deprecator`
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/core_ext/array/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/date/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/date_time/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/digest/uuid.rb
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/lib/active_support/core_ext/numeric/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/range/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/range/include_time_with_zone.rb
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  activesupport/lib/active_support/core_ext/time/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/uri.rb
  activesupport/lib/active_support/deprecator.rb
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/lib/active_support/notifications/instrumenter.rb
  activesupport/lib/active_support/per_thread_registry.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/lib/active_support/time_with_zone.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
  activesupport/test/core_ext/array/conversions_test.rb
  activesupport/test/core_ext/date_and_time_compatibility_test.rb
  activesupport/test/core_ext/date_ext_test.rb
  activesupport/test/core_ext/date_time_ext_test.rb
  activesupport/test/core_ext/digest/uuid_test.rb
  activesupport/test/core_ext/enumerable_test.rb
  activesupport/test/core_ext/hash_ext_test.rb
  activesupport/test/core_ext/numeric_ext_test.rb
  activesupport/test/core_ext/range_ext_test.rb
  activesupport/test/core_ext/string_ext_test.rb
  activesupport/test/core_ext/time_ext_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  activesupport/test/log_subscriber_test.rb
  activesupport/test/per_thread_registry_test.rb
  activesupport/test/time_zone_test_helpers.rb
  railties/test/application/configuration_test.rb
Labels: activesupport

#46354 Fix invalid content type deprecation warning
  activestorage/test/models/variant_test.rb
Labels: activestorage

#46355 Add load_defaults doc for query_log_tags_format [ci skip]
  guides/source/configuring.md
Labels: docs

#46356 Add missing defaults to new_framework_defaults
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: railties

#46360 Fix missed connection handler call
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#46280 Expose the request.parameter_filter
  actionpack/lib/action_dispatch/http/filter_parameters.rb
  actionpack/test/dispatch/request_test.rb
Labels: actionpack

#46352 Add `{Abstract,Action}Controller.deprecator`
  actionpack/lib/abstract_controller.rb
  actionpack/lib/abstract_controller/deprecator.rb
  actionpack/lib/action_controller.rb
  actionpack/lib/action_controller/deprecator.rb
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/lib/action_controller/railtie.rb
  actionpack/test/abstract_unit.rb
  actionpack/test/controller/base_test.rb
  actionpack/test/controller/parameters/equality_test.rb
  actionpack/test/controller/parameters_integration_test.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#46368 Fix "possibly useless use of ::" warning
  railties/test/application/configuration_test.rb
Labels: railties

#46369 Fix "character class has duplicated range" warning
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#46346 Adjusted redis version in Gemfile Entry
  railties/lib/rails/generators/app_base.rb
Labels: railties

#46365 Backport: Handle `Date` objects for PostgreSQL `timestamptz` columns
  activerecord/lib/active_record/connection_adapters/postgresql/oid/timestamp_with_time_zone.rb
  activerecord/test/cases/date_time_precision_test.rb
Labels: activerecord

#46373 Fix running ActiveJob tests for sidekiq 7.0
  activejob/test/support/integration/adapters/sidekiq.rb
Labels: activejob

#46342 Improve missing template error page
  actionpack/lib/action_dispatch/middleware/templates/rescues/missing_exact_template.html.erb
Labels: actionpack

#46364 Only ask people to run migration in a environment in non-development environments
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#46358 Add missing configs to new_framework_defaults_7_0
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_0.rb.tt
Labels: railties

#46375 Map through subtype in `PostgreSQL::OID::Array`
  activerecord/lib/active_record/attribute_methods/time_zone_conversion.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/array.rb
  activerecord/test/cases/adapters/postgresql/range_test.rb
Labels: activerecord

#46366 Add `ActionDispatch.deprecator`
  actionmailer/test/i18n_with_controller_test.rb
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/deprecator.rb
  actionpack/lib/action_dispatch/http/mime_negotiation.rb
  actionpack/lib/action_dispatch/http/permissions_policy.rb
  actionpack/lib/action_dispatch/middleware/remote_ip.rb
  actionpack/lib/action_dispatch/railtie.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/lib/action_dispatch/system_testing/driver.rb
  actionpack/test/abstract_unit.rb
  actionpack/test/controller/action_pack_assertions_test.rb
  actionpack/test/controller/base_test.rb
  actionpack/test/controller/flash_test.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/controller/new_base/content_type_test.rb
  actionpack/test/controller/new_base/render_body_test.rb
  actionpack/test/controller/new_base/render_html_test.rb
  actionpack/test/controller/new_base/render_plain_test.rb
  actionpack/test/controller/new_base/render_template_test.rb
  actionpack/test/controller/new_base/render_test.rb
  actionpack/test/controller/redirect_test.rb
  actionpack/test/controller/render_test.rb
  actionpack/test/controller/render_xml_test.rb
  actionpack/test/controller/routing_test.rb
  actionpack/test/controller/test_case_test.rb
  actionpack/test/controller/url_for_integration_test.rb
  actionpack/test/controller/url_for_test.rb
  actionpack/test/controller/url_rewriter_test.rb
  actionpack/test/dispatch/permissions_policy_test.rb
  actionpack/test/dispatch/request/json_params_parsing_test.rb
  actionpack/test/dispatch/request/multipart_params_parsing_test.rb
  actionpack/test/dispatch/request/query_string_parsing_test.rb
  actionpack/test/dispatch/request/url_encoded_params_parsing_test.rb
  actionpack/test/dispatch/request_test.rb
  actionpack/test/dispatch/routing/inspector_test.rb
  actionpack/test/dispatch/routing_test.rb
  actionpack/test/dispatch/session/cache_store_test.rb
  actionpack/test/dispatch/session/cookie_store_test.rb
  actionpack/test/dispatch/session/mem_cache_store_test.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
  actionpack/test/journey/router_test.rb
  actionview/test/template/url_helper_test.rb
  railties/test/application/configuration_test.rb
  railties/test/application/middleware/remote_ip_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: actionmailer, actionpack

#46382 Fix "possibly useless use of a constant" warnings
  railties/test/application/initializers/frameworks_test.rb
Labels: railties

#46380 Fix flakey tests due to leaking migration state
  activerecord/test/cases/migration/pending_migrations_test.rb
Labels: activerecord

#46381 Add `ActionMailer.deprecator`
  actionmailer/lib/action_mailer.rb
  actionmailer/lib/action_mailer/deprecator.rb
  actionmailer/lib/action_mailer/preview.rb
  actionmailer/lib/action_mailer/railtie.rb
  actionmailer/test/abstract_unit.rb
  railties/test/application/configuration_test.rb
  railties/test/application/mailer_previews_test.rb
Labels: actionmailer, railties

#46387 Add assertion helpers to `PendingMigrationsTest`
  activerecord/test/cases/migration/pending_migrations_test.rb
Labels: activerecord

#46388 Add `ActionView.deprecator`
  actionpack/test/controller/render_test.rb
  actionview/lib/action_view.rb
  actionview/lib/action_view/deprecator.rb
  actionview/lib/action_view/railtie.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/resolver.rb
  actionview/test/abstract_unit.rb
  actionview/test/template/compiled_templates_test.rb
  actionview/test/template/render_test.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties, actionview
