Repository rails/rails, pull requests merged in 2022-11, with the labels that each got.

#46331 Allow specifying columns to use in ActiveRecord::Base object queries
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/query_constraints.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/cases/query_constraints_test.rb
  activerecord/test/fixtures/clothing_items.yml
  activerecord/test/models/clothing_item.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#46211 Add API documentation for Routing#draw
  actionpack/lib/action_dispatch/routing/mapper.rb
  guides/source/routing.md
Labels: actionpack, docs

#46400 Fix collation for changing column to non-string
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/adapters/mysql2/charset_collation_test.rb
Labels: activerecord

#46386 Improve singular association creation
  activerecord/lib/active_record/associations/singular_association.rb
Labels: activerecord

#46333 Point 'Canberra' time zone mapping to Australia/Canberra'
  activesupport/lib/active_support/values/time_zone.rb
Labels: activesupport

#46395 Add `ActiveJob.deprecator`
  activejob/lib/active_job.rb
  activejob/lib/active_job/arguments.rb
  activejob/lib/active_job/deprecator.rb
  activejob/lib/active_job/railtie.rb
  activejob/test/cases/argument_serialization_test.rb
  activejob/test/cases/callbacks_test.rb
  railties/test/application/configuration_test.rb
Labels: railties, activejob

#46396 Add `ActiveStorage.deprecator`
  activestorage/app/models/active_storage/blob.rb
  activestorage/app/models/active_storage/current.rb
  activestorage/lib/active_storage.rb
  activestorage/lib/active_storage/attached/model.rb
  activestorage/lib/active_storage/deprecator.rb
  activestorage/lib/active_storage/engine.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/blob_test.rb
  activestorage/test/models/variant_test.rb
  activestorage/test/service/disk_service_test.rb
  railties/test/application/configuration_test.rb
Labels: railties, activestorage

#46407 Update docs for ActiveRecord::AttributeMethods#[]=
  activerecord/lib/active_record/attribute_methods.rb
Labels: activerecord

#46394 Add frozen to dangerous methods
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#46414 Add link to Rollback in transactions doc.
  activerecord/lib/active_record/transactions.rb
Labels: activerecord

#46402 `ActiveRecord::Persistence#reload` respects `query_constraints` config
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/persistence_test.rb
Labels: activerecord

#46399 Fix pending migrations error message
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration/pending_migrations_test.rb
Labels: activerecord

#46417 Fix active model errors add documentation
  activemodel/lib/active_model/errors.rb
Labels: activemodel

#46406 Fix `insert_all`/`upsert_all` to handle STI
  activerecord/lib/active_record/insert_all.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#46401 Add other framework deprecators
  actioncable/lib/action_cable.rb
  actioncable/lib/action_cable/deprecator.rb
  actioncable/lib/action_cable/engine.rb
  actionmailbox/lib/action_mailbox.rb
  actionmailbox/lib/action_mailbox/deprecator.rb
  actionmailbox/lib/action_mailbox/engine.rb
  actiontext/lib/action_text.rb
  actiontext/lib/action_text/deprecator.rb
  actiontext/lib/action_text/engine.rb
  activemodel/lib/active_model.rb
  activemodel/lib/active_model/deprecator.rb
  activemodel/lib/active_model/railtie.rb
  activemodel/test/cases/helper.rb
  railties/test/application/configuration_test.rb
Labels: activemodel, railties, actioncable, actionmailbox, actiontext

#46421 Call pending_migrations once
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#46420 Change from escapeHTML() to html_escape()
  guides/source/security.md
Labels: docs

#46422 Fix schema_up_to_date connection
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#46408 Improve Parametric Scopes documentation [ci-skip]
  guides/source/routing.md
Labels: docs

#45667 Ensure pipe is closed after test run
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/isolation.rb
Labels: activesupport

#46425 Make error highlight readable on dark mode
  actionpack/lib/action_dispatch/middleware/templates/rescues/layout.erb
Labels: actionpack

#46426 Fix clear_all_connections! NoMethodError
  actioncable/test/subscription_adapter/postgresql_test.rb
Labels: actioncable

#46427 Fix clear_reloadable_connections! deprecation warning
  actioncable/test/subscription_adapter/postgresql_test.rb
Labels: actioncable

#46428 Correct controller path on missing template error page
  actionpack/lib/action_dispatch/middleware/templates/rescues/missing_exact_template.html.erb
Labels: actionpack

#46418 Add :touch to has_one options in documentation [ci-skip]
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#46429 Fixes flakey race condition in `railties/test/application/server_test.rb`
  railties/test/application/server_test.rb
Labels: railties

#46450 Track parent key as string in `ParameterFilter`
  activesupport/lib/active_support/parameter_filter.rb
Labels: activesupport

#46448 Fix `Enumerable#many?` to handle previous enumerator methods parameters
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/test/core_ext/enumerable_test.rb
Labels: activesupport

#46430 Rails Guides - set "cursor: pointer" and on hover "color: #005cc5" css to copy code button [ci-skip]
  guides/assets/stylesheets/main.css
Labels: docs

#46424 Add `Rails.deprecator`
  railties/lib/rails.rb
  railties/lib/rails/application.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/lib/rails/deprecator.rb
  railties/lib/rails/generators/testing/behavior.rb
  railties/test/application/configuration_test.rb
  railties/test/generators_test.rb
Labels: railties

#46458 Fix `index_exists?` to handle empty columns argument
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/test/cases/migration/index_test.rb
Labels: activerecord

#46461 Use filename when printing pending migrations
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#46449 Update ActiveRecord::Associations::CollectionProxy#== documentation
  activerecord/lib/active_record/associations/collection_proxy.rb
Labels: activerecord

#46459 Add missing require to `railties/lib/rails/generators/testing/behavior.rb`
  railties/lib/rails/command.rb
Labels: railties

#46451 Reintegrate `AS::ParameterFilter::CompiledFilter`
  activesupport/lib/active_support/parameter_filter.rb
Labels: activesupport

#46456 Add missing `assert_not_deprecated` deprecator args
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/locking_test.rb
  activerecord/test/cases/transactions_test.rb
  activesupport/test/core_ext/date_and_time_compatibility_test.rb
  activesupport/test/core_ext/digest/uuid_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
Labels: activerecord, activesupport

#46457 Update deprecation-related config descriptions [ci-skip]
  guides/source/configuring.md
Labels: docs

#46469 Improve the MissingExactTemplate error page
  actionpack/lib/action_controller/metal/exceptions.rb
  actionpack/lib/action_controller/metal/implicit_render.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/missing_exact_template.html.erb
Labels: actionpack

#46468 Check for transaction before invalidating the state
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
Labels: activerecord

#46472 Improve layout of Sprockets 3 & 4 manifest documentation [ci-skip]
  guides/source/asset_pipeline.md
Labels: docs

#46474 Previews paths should not be eager loaded
  railties/lib/rails/engine/configuration.rb
Labels: railties

#46479 Fix markdown inline code typo
  guides/source/active_support_core_extensions.md
Labels: docs

#46481 Update active_record_basics.md
  guides/source/active_record_basics.md
Labels: docs

#46471 Update ActiveRecord::QueryMethods#in_order_of example [ci-skip]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#46482 Replace hardcoded edge links in guides [ci skip]
  guides/source/action_text_overview.md
  guides/source/autoloading_and_reloading_constants.md
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs, needs backport

#46453 Add filtering of encrypted attributes in #inspect
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/configurable.rb
  activerecord/lib/active_record/railtie.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#46492 Backport puma 6 test updates to 6-1-stable
  Gemfile
  Gemfile.lock
  actioncable/test/client_test.rb
Labels: actioncable

#46493 Initialize encrypted attributes when using `ActiveRecord::Relation#first_or_initialize`/`first_or_create`
  activerecord/lib/active_record/encryption/extended_deterministic_queries.rb
  activerecord/test/cases/encryption/extended_deterministic_queries_test.rb
  activerecord/test/models/post.rb
Labels: activerecord

#46489 Update association preload doc
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#46433 Add test for ActionController::ParameterEncoding::ClassMethods#param_encoding
  actionpack/test/controller/parameter_encoding_test.rb
Labels: actionpack, ready

#45147 Allow unscoping of preload and eager_load associations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
Labels: activerecord, ready

#45932 Migrate Rails Guides from `Turbolinks` to `Turbo`
  codespell.txt
  guides/assets/javascripts/.gitattributes
  guides/assets/javascripts/guides.js
  guides/assets/javascripts/turbo.js
  guides/assets/javascripts/turbolinks.js
  guides/assets/stylesheets/style.css
  guides/assets/stylesheets/turbo.css
  guides/source/_welcome.html.erb
  guides/source/layout.html.erb
Labels: docs, ready

#46410 Fix touching has_one grand parent associations when the child is touched
  activerecord/lib/active_record/touch_later.rb
  activerecord/test/cases/delegated_type_test.rb
  activerecord/test/models/entry.rb
  activerecord/test/models/message.rb
  activerecord/test/models/recipient.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#46478 Add Bundler helper for `AppGeneratorTest`
  railties/test/generators/app_generator_test.rb
Labels: railties

#46485 Add nodoc to Arel filter classes.
  activerecord/lib/arel/filter_predications.rb
  activerecord/lib/arel/nodes/filter.rb
Labels: activerecord

#46484 Move Arel::Nodes::LeadingJoin into arel.
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/arel/nodes.rb
  activerecord/lib/arel/nodes/leading_join.rb
Labels: activerecord

#46362 Update ConnectionPool docs
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#46265 Update Active Record Query Logs docs
  activerecord/lib/active_record/query_logs.rb
  guides/source/debugging_rails_applications.md
Labels: activerecord, docs

#46512 Use 2 spaces for identation in ActiveSupport code examples [ci-skip]
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/lib/active_support/core_ext/hash/deep_transform_values.rb
  activesupport/lib/active_support/core_ext/hash/keys.rb
  activesupport/lib/active_support/core_ext/integer/inflections.rb
  activesupport/lib/active_support/core_ext/object/duplicable.rb
  activesupport/lib/active_support/error_reporter.rb
  activesupport/lib/active_support/inflector/methods.rb
  activesupport/lib/active_support/lazy_load_hooks.rb
  activesupport/lib/active_support/notifications.rb
  activesupport/lib/active_support/number_helper.rb
Labels: activesupport

#46513 Use 2 spaces for identation in ActionView code examples [ci-skip]
  actionview/lib/action_view/helpers/capture_helper.rb
  actionview/lib/action_view/helpers/date_helper.rb
  actionview/lib/action_view/helpers/number_helper.rb
  actionview/lib/action_view/helpers/output_safety_helper.rb
Labels: actionview

#46511 Support optional collation in create_table output.
  activerecord/test/cases/adapters/mysql2/table_options_test.rb
Labels: activerecord

#46105 Raise on assignment to readonly attributes
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/associations/builder/belongs_to.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/counter_cache.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/readonly_attributes.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/locking_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: activerecord, railties, docs

#45698 Support using a method name to define the `ActiveSupport::CurrentAttributes.resets` callback
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport, ready

#46505 Fix URL for TIP about database permission problems in Testing Guides [ci-skip]
  guides/source/testing.md
Labels: docs

#46516 Add notice about primary_key_type in ActiveStorage migration guide [ci-skip]
  guides/source/active_storage_overview.md
Labels: docs

#46536 Make sure that concurrent map usage is thread-safe
  actionview/lib/action_view/renderer/abstract_renderer.rb
Labels: actionview

#46523 Fix docs for Readonly Attributes changes
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/readonly_attributes.rb
Labels: activerecord

#46541 Update upgrading_ruby_on_rails.md to accentuate need for cookie rotator.
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#46534 Remote not needed thread-safe primitive
  activesupport/lib/active_support/testing/time_helpers.rb
Labels: activesupport

#46531 Rename AJAX to Ajax for consistency [ci-skip]
  actionview/lib/action_view/helpers/csrf_helper.rb
  guides/source/testing.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/cors.rb.tt
Labels: railties, docs, actionview

#46530 Use memoized dup of `url_helpers` for reinclusion
  actionpack/lib/abstract_controller/railties/routes_helpers.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/controller/route_helpers_test.rb
Labels: actionpack

#46501 Update meta tag in mailer template layout.html.erb.tt
  actionmailbox/test/dummy/app/views/layouts/mailer.html.erb
  actiontext/test/dummy/app/views/layouts/mailer.html.erb
  railties/lib/rails/generators/erb/mailer/templates/layout.html.erb.tt
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/mailer.html.erb.tt
Labels: railties, actionmailbox, actiontext

#46546 Rename initializer to respect convention
  activerecord/lib/active_record/railtie.rb
Labels: activerecord

#46473 Add `invalidate!` directly to `Transaction`
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
Labels: activerecord

#46439 Configure `query_constraints_list` to use `primary_key` by default
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/query_constraints.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/cases/query_constraints_test.rb
  activerecord/test/fixtures/clothing_items.yml
  activerecord/test/fixtures/topics.yml
  activerecord/test/models/clothing_item.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#46539 Add `after_routes_loaded` hook for Engines to trigger code after application routes have been loaded
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application/finisher.rb
  railties/lib/rails/railtie/configuration.rb
Labels: railties, docs

#46545 Autoload `ActiveModel::ValidationError`
  activemodel/lib/active_model.rb
Labels: activemodel

#46525 Execute the before_committed! callbacks on the most recent copy of the record
  activerecord/lib/active_record/associations/builder/belongs_to.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/touch_later.rb
  activerecord/test/cases/touch_later_test.rb
Labels: activerecord

#46533 Ensure `file_fixture_path` is set even when Active Record is not present
  railties/lib/rails/test_help.rb
Labels: railties

#46551 Add example for data-turbo-confirm on button_to in Working with JavaScript Guide
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#46552 Add X-Forwarded-To addresses to recipients
  actionmailbox/CHANGELOG.md
  actionmailbox/lib/action_mailbox/mail_ext/addresses.rb
  actionmailbox/lib/action_mailbox/mail_ext/recipients.rb
  actionmailbox/test/unit/mail_ext/addresses_test.rb
Labels: actionmailbox

#46554 Allow hash-like model in FormBuilder#fields and FormBuilder#fields_for
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/lib/controller/fake_models.rb
  actionview/test/template/form_helper/form_with_test.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview

#45696 Add a build persistence method
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/persistence_test.rb
Labels: activerecord, ready

#46548 Validate ActiveStorage::Blob io is rewindable
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/models/blob_test.rb
Labels: activestorage

#43019 Add support for HTML attributes of optgroups to select helper
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_options_helper.rb
  actionview/lib/action_view/helpers/tags/select.rb
  actionview/test/template/form_options_helper_test.rb
Labels: actionview

#46165 Allow resetting singular associations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/builder/singular_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  guides/source/association_basics.md
Labels: activerecord, docs

#46561 Inline `QueryConstraints` module into `Persistence`
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/query_constraints.rb
Labels: activerecord

#46562 Restore Action Cable Redis pub/sub listener on connection failure
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/subscription_adapter/redis.rb
  actioncable/test/subscription_adapter/redis_test.rb
Labels: actioncable

#46566 LoggerThreadSafeLevel only impact the receiving logger
  activesupport/lib/active_support/logger_thread_safe_level.rb
  activesupport/test/logger_test.rb
Labels: activesupport

#46490 option to disable all methods that ActiveRecord.enum generates
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#46452 Add `AS::ParameterFilter.precompile_filters`
  activesupport/lib/active_support/parameter_filter.rb
  activesupport/test/parameter_filter_test.rb
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: activesupport, railties, docs

#46573 Override ERB::Util#html_escape with Module#prepend
  activesupport/lib/active_support/core_ext/erb/util.rb
Labels: activesupport

#46576 document instance_methods option on enum [ci-skip]
  activerecord/lib/active_record/enum.rb
Labels: activerecord

#46377 Fix composed_of freezing
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/aggregations.rb
  activerecord/test/cases/aggregations_test.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#46581 Update migration generator timestamp behavior
  guides/source/active_record_migrations.md
Labels: docs

#46585 Update load_defaults 7.1 to config.load_defaults 7.1 [ci-skip]
  activerecord/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: activerecord, railties

#46570 Add details of cookie name and size to `CookieOverflow` exception
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/test/dispatch/cookies_test.rb
  actionpack/test/dispatch/session/cookie_store_test.rb
Labels: actionpack

#46580 Prefer `deprecate_constant` over constant proxy
  actionview/lib/action_view/template/resolver.rb
  railties/lib/rails/generators/testing/behavior.rb
  railties/test/generators_test.rb
Labels: railties, actionview

#46583 Add `Deprecators#disallowed_warnings=`
  activesupport/lib/active_support/deprecation/deprecators.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/test/deprecation/deprecators_test.rb
Labels: activesupport

#46584 Improve enum docs for instance_methods and scopes [ci-skip]
  activerecord/lib/active_record/enum.rb
Labels: activerecord

#46590 Correct closing quotation mark for data-turbo-confirm on button_to example [ci-skip]
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#46595 Use cgi 0.3.6 or higher to address CookieStoreTest#test_session_store_with_all_domains
  Gemfile
  Gemfile.lock
Labels: actionpack

#46597 Fix: Add missing quotes [skip ci]
  guides/source/security.md
Labels: docs

#46586 Improve `ActiveSupport::Inflector.transliterate` performance [Fix #46569]
  activesupport/lib/active_support/inflector/transliterate.rb
Labels: activesupport

#46602 Fix undefined attribute method with attr_readonly
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/readonly_attributes.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/locking_test.rb
Labels: activerecord

#46454 Do not write additional new lines when dumping sql migration versions
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/schema_dumper_test.rb
Labels: activerecord, ready

#46550 Initialize deprecators before config/initializers run
  actioncable/lib/action_cable/engine.rb
  actionmailbox/lib/action_mailbox/engine.rb
  actionmailer/lib/action_mailer/railtie.rb
  actionpack/lib/action_controller/railtie.rb
  actionpack/lib/action_dispatch/railtie.rb
  actiontext/lib/action_text/engine.rb
  actionview/lib/action_view/railtie.rb
  activejob/lib/active_job/railtie.rb
  activemodel/lib/active_model/railtie.rb
  activerecord/lib/active_record/railtie.rb
  activestorage/lib/active_storage/engine.rb
  activesupport/lib/active_support/railtie.rb
Labels: actionmailer, actionpack, activemodel, activerecord, activesupport, actionview, activejob, actioncable, activestorage, actionmailbox, actiontext

#46535 Fix `as_json` call on ActiveModel::Type's child classes.
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/type/value.rb
  activemodel/test/cases/type/value_test.rb
Labels: activemodel

#46607 Fix lots of code highlighting issues [ci skip]
  actioncable/lib/action_cable/remote_connections.rb
  actionview/lib/action_view/helpers/content_exfiltration_prevention_helper.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/middleware/database_selector.rb
  activerecord/lib/active_record/readonly_attributes.rb
  activerecord/lib/active_record/relation/batches.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activestorage/app/models/active_storage/blob.rb
  activesupport/lib/active_support/notifications/fanout.rb
Labels: activerecord, activesupport, actionview, actioncable, activestorage

#46604 Extract `#sync_timezone_changes` method in AbstractMysqlAdapter
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
Labels: activerecord

#46605 More detailed error message for `compute_class` errors
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/models/user_with_invalid_relation.rb
Labels: activerecord

#46592 Don't use lower() for citext columns
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/citext_test.rb
Labels: activerecord

#46616 Fix a flaky ActiveRecord finders test
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#46340 Add support for multi-database applications to `db:check_protected_environments` task
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/lib/active_record/tasks/sqlite_database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#46613 Fix: Strict Loading error after initializing association owner with primary key
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/join_model_test.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#46593 Preallocate default Rack env for `AC::Renderer`
  actionpack/lib/action_controller/renderer.rb
Labels: actionpack
