Repository rails/rails, pull requests merged in 2023-02, with the labels that each got.

#47212 Remove unused sequel gem from Gemfile
  Gemfile
  Gemfile.lock
Labels: activejob

#47214 ActiveRecord::QueryLogs: handle invalid encoding
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/query_logs.rb
  activerecord/test/cases/query_logs_test.rb
Labels: activerecord

#47209 Rm configuration files from old ujs infrastructure
  actionview/blade.yml
  actionview/coffeelint.json
Labels: actionview

#47211 Show help for bare namespace CLI commands
  railties/lib/rails/command.rb
  railties/test/command/application_test.rb
Labels: railties

#47215 Use infinitive form for all task descriptions verbs
  actionmailbox/lib/tasks/install.rake
  activerecord/lib/active_record/railties/databases.rake
  guides/source/active_record_multiple_databases.md
  guides/source/command_line.md
  railties/CHANGELOG.md
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/lib/rails/commands/db/system/change/change_command.rb
  railties/lib/rails/commands/destroy/destroy_command.rb
  railties/lib/rails/commands/dev/dev_command.rb
  railties/lib/rails/commands/encrypted/encrypted_command.rb
  railties/lib/rails/commands/notes/notes_command.rb
  railties/lib/rails/commands/routes/routes_command.rb
  railties/lib/rails/commands/runner/runner_command.rb
  railties/lib/rails/commands/secrets/secrets_command.rb
  railties/lib/rails/commands/version/version_command.rb
  railties/lib/rails/tasks/engine.rake
  railties/lib/rails/tasks/framework.rake
  railties/lib/rails/tasks/log.rake
  railties/lib/rails/tasks/middleware.rake
  railties/lib/rails/tasks/misc.rake
  railties/lib/rails/tasks/tmp.rake
  railties/lib/rails/tasks/zeitwerk.rake
  railties/test/application/help_test.rb
  railties/test/command/base_test.rb
Labels: activerecord, railties, docs, actionmailbox

#47219 Document `strict_loading` in guides [ci-skip]
  guides/source/active_record_querying.md
Labels: docs

#47194 Modify capture helper to use the output buffer's capture functionality.
  actionview/lib/action_view/buffers.rb
  actionview/lib/action_view/helpers/capture_helper.rb
  actionview/test/template/capture_helper_test.rb
Labels: actionview

#47221 Remove unintentional array wrap
  activerecord/lib/active_record/counter_cache.rb
Labels: activerecord

#47223 Fix stubbing method with arguments in `activerecord/test/cases/explain_test.rb`
  activerecord/test/cases/explain_test.rb
Labels: activerecord

#47224 Bump rubocop from 1.43.0 to 1.44.1 and fix offenses
  Gemfile.lock
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#47220 Pass the connection to query transformers
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/query_logs.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/query_logs_test.rb
  railties/test/application/query_logs_test.rb
Labels: activerecord, railties

#47227 fixed typos in s3 cors policy example for active storage
  guides/source/active_storage_overview.md
Labels: docs

#47232 Add missing language to markdown code blocks in guides [ci-skip]
  guides/source/ruby_on_rails_guides_guidelines.md
Labels: docs

#47230 Support composite foreign key association assignments
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/lib/active_record/associations/foreign_association.rb
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#47210 Run `test:prepare` unless exact tests are specified
  railties/lib/rails/commands/test/test_command.rb
  railties/lib/rails/test_unit/runner.rb
  railties/lib/rails/test_unit/testing.rake
  railties/test/application/test_runner_test.rb
  railties/test/commands/test_test.rb
Labels: railties

#47234 Integrate Thor help features
  railties/lib/rails/command/base.rb
  railties/lib/rails/commands/runner/runner_command.rb
  railties/test/command/base_test.rb
  railties/test/commands/dbconsole_test.rb
Labels: railties

#47235 Rely on Thor for credentials command help
  railties/lib/rails/commands/credentials/credentials_command.rb
Labels: railties

#47236 Rely on Thor for encrypted command help
  railties/lib/rails/commands/encrypted/encrypted_command.rb
Labels: railties

#47237 Rely on Thor for secrets command help
  railties/lib/rails/commands/secrets/secrets_command.rb
Labels: railties

#47238 Set test reporter default executable to bin/rails
  railties/lib/rails/test_unit/reporter.rb
  railties/test/generators/test_runner_in_engine_test.rb
  railties/test/test_unit/reporter_test.rb
Labels: railties

#47243 Fix double blank lines in generated production.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties

#47239 Incorporate Thor help into test command help
  railties/lib/rails/commands/test/USAGE
  railties/lib/rails/commands/test/test_command.rb
Labels: railties

#47240 Rely on Thor for dev command help
  railties/lib/rails/commands/dev/dev_command.rb
Labels: railties

#47241 Integrate various commands with Thor's help system
  railties/lib/rails/commands/console/console_command.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/lib/rails/commands/destroy/destroy_command.rb
  railties/lib/rails/commands/gem_help/gem_help_command.rb
  railties/lib/rails/commands/help/help_command.rb
  railties/lib/rails/commands/runner/runner_command.rb
  railties/lib/rails/commands/server/server_command.rb
Labels: railties

#47148 Load environment config in credentials commands
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/command/actions.rb
  railties/lib/rails/commands/console/console_command.rb
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/lib/rails/commands/destroy/destroy_command.rb
  railties/lib/rails/commands/encrypted/encrypted_command.rb
  railties/lib/rails/commands/generate/generate_command.rb
  railties/lib/rails/commands/initializers/initializers_command.rb
  railties/lib/rails/commands/notes/notes_command.rb
  railties/lib/rails/commands/routes/routes_command.rb
  railties/lib/rails/commands/runner/runner_command.rb
  railties/lib/rails/commands/secrets/secrets_command.rb
  railties/lib/rails/commands/unused_routes/unused_routes_command.rb
  railties/test/commands/credentials_test.rb
Labels: railties, docs

#47164 Avoid linking to edgeguides from source
  actioncable/README.md
  actionmailbox/README.md
  actionmailer/README.rdoc
  actiontext/README.md
  actionview/README.rdoc
  activejob/README.md
  activemodel/README.rdoc
  activerecord/README.rdoc
  activerecord/lib/arel.rb
  activestorage/README.md
  activesupport/README.rdoc
Labels: actionmailer, actionpack, activemodel, activerecord, activesupport, railties, docs, actionview, activejob, actioncable, activestorage, actionmailbox, actiontext

#47249 s/service/application
  guides/source/action_controller_overview.md
Labels: docs

#47250 Missing end to code block in 7_0_release_notes.md
  guides/source/7_0_release_notes.md
Labels: docs

#47247 Bring back quote_bound_value & deprecate instead
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/test/cases/adapters/mysql2/quoting_test.rb
Labels: activerecord

#47251 Move comment to out of codeblock to note
  guides/source/active_record_postgresql.md
Labels: docs

#47252 This should be a warning, note just a note
  guides/source/active_record_postgresql.md
Labels: docs

#47204 feat: improve `assert_broadcast_on` error message
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/test_helper.rb
  actioncable/test/test_helper_test.rb
Labels: actioncable

#47217 add "as: :rails_health_check" to health check path
  guides/source/action_controller_overview.md
  railties/lib/rails/generators/rails/app/templates/config/routes.rb.tt
  railties/lib/rails/health_controller.rb
  railties/test/application/routing_test.rb
  railties/test/rails_health_controller_test.rb
Labels: railties, docs

#47256 Avoid possible reaping during connection pool fairness test
  activerecord/test/cases/connection_pool_test.rb
Labels: activerecord

#47260 Split STI link into list to fix paragraph format
  activerecord/lib/active_record/inheritance.rb
Labels: activerecord

#47261 Configure RDoc in Task#new
  railties/lib/rails/api/task.rb
Labels: railties

#47263 Revert "Configure RDoc in Task#new"
  railties/lib/rails/api/task.rb
Labels: railties

#47264 Clearer core dev deps title
  guides/source/development_dependencies_install.md
  guides/source/documents.yaml
Labels: docs

#47268 Tiny knits from AM::Validator docs
  activemodel/lib/active_model/validator.rb
Labels: activemodel

#47269 Extract inline links to AR Basics intro
  guides/source/active_record_basics.md
Labels: docs

#47270 Prefer table for mapping included API controller modules
  guides/source/api_app.md
Labels: docs

#47255 Fix minor typo
  guides/source/action_controller_overview.md
Labels: docs

#47271 Fix NOTE notation
  guides/source/active_record_multiple_databases.md
  guides/source/error_reporting.md
Labels: docs

#47265 fix typo in ActionMailbox::Base api docs
  actionmailbox/lib/action_mailbox/base.rb
Labels: actionmailbox

#47262 Use RuboCop Performance 1.16.0
  Gemfile.lock
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
  actionpack/lib/action_dispatch/testing/integration.rb
  actiontext/bin/webpack
  actiontext/bin/webpack-dev-server
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  railties/lib/rails/commands/secrets/secrets_command.rb
Labels: actionpack, activerecord, railties, actiontext

#47274 Fix warnings that appear on CI that relate to Rack::Chunked deprecation
  railties/test/commands/unused_routes_test.rb
Labels: railties

#47276 Make sure SQL output is seen as a comment in docs [ci-skip]
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/scoping/default.rb
Labels: activerecord

#47277 Show generated SQL as comment wihout `=>` in all examples
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/scoping/default.rb
  guides/source/active_record_querying.md
Labels: activerecord, docs

#47281 Prefer to call them Rails applications, and update API docs for /up
  guides/source/action_controller_overview.md
  railties/lib/rails/health_controller.rb
Labels: railties, docs

#47282 Update RDoc markup reference urls
  guides/source/api_documentation_guidelines.md
Labels: docs

#47283 Codify reference to Rails app vs. service in API doc guidelines
  guides/source/api_documentation_guidelines.md
Labels: docs

#47284 Use a screenshot to show the class_eval code comment example
  guides/assets/images/dynamic_method_class_eval.png
  guides/source/api_documentation_guidelines.md
Labels: docs

#47285 [ci skip] Fix "Note:" to "NOTE:"
  guides/source/action_text_overview.md
  guides/source/initialization.md
Labels: docs

#47286 Optimize images
  guides/assets/images/active_record_querying/bookstore_models.png
  guides/assets/images/association_basics/belongs_to.png
  guides/assets/images/association_basics/habtm.png
  guides/assets/images/association_basics/has_many.png
  guides/assets/images/association_basics/has_many_through.png
  guides/assets/images/association_basics/has_one.png
  guides/assets/images/association_basics/has_one_through.png
  guides/assets/images/association_basics/polymorphic.png
  guides/assets/images/book_icon.svg
  guides/assets/images/check_icon.svg
  guides/assets/images/cog_icon.svg
  guides/assets/images/dynamic_method_class_eval.png
  guides/assets/images/getting_started/rails_welcome.png
  guides/assets/images/hand_icon.svg
  guides/assets/images/info_icon.svg
  guides/assets/images/note_icon.svg
  guides/assets/images/rails_guides_kindle_cover.jpg
  guides/assets/images/rails_guides_logo.gif
Labels: docs

#47294 Move adapter specific tests to the adapter folder
  activerecord/test/cases/adapters/mysql2/mysql_rake_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_rake_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite_rake_test.rb
  activerecord/test/cases/tasks/mysql_rake_test.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
  activerecord/test/cases/tasks/sqlite_rake_test.rb
Labels: activerecord

#47273 Fixes encoding/decoding Data object via as_json
  activesupport/lib/active_support/core_ext/object/json.rb
  activesupport/test/json/encoding_test.rb
Labels: activesupport

#47295 ActionMailbox::IncinerationJobTest create test email without routing
  actionmailbox/test/jobs/incineration_job_test.rb
Labels: actionmailbox

#47280 Update the ActionCable::Connection::Base to no longer output env
  actioncable/lib/action_cable/connection/base.rb
Labels: actioncable

#47298 Fix clipboard copy for code blocks
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#47288 Backport #44967: Improve upgrade guide section on cookies rotator
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#47302 Link to MySQL and MariaDB explain docs
  guides/source/active_record_querying.md
Labels: docs

#47303 RDoc should go next to the declared module
  actionpack/lib/action_dispatch/middleware/assume_ssl.rb
Labels: actionpack

#47253 Clarify how `includes` works [ci-skip]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#47304 Add strict_loading_violation hook in guide [ci skip]
  guides/source/active_support_instrumentation.md
Labels: docs

#47312 Use Example heading without semicolon [ci-skip]
  actionpack/lib/action_controller/metal/redirecting.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/encryption/configurable.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
Labels: actionpack, activerecord

#47310 Fix regression in ActionDispatch::Routing::RouteSet#recognize_path
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/controller/routing_test.rb
Labels: actionpack

#47311 Expand documentation of `strict_loading!` [ci-skip]
  activerecord/lib/active_record/core.rb
Labels: activerecord

#47316 Add Object#in? support for open ranges
  activesupport/lib/active_support/core_ext/object/inclusion.rb
  activesupport/test/core_ext/object/inclusion_test.rb
Labels: activesupport

#47293 [Rails7] Old ruby syntax with index_exists? causing migrations to fail with ruby-3.x
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/test/cases/migration/change_table_test.rb
Labels: activerecord

#47300 [Action Cable] Stop logging filtered params
  actioncable/lib/action_cable/channel/base.rb
  actioncable/lib/action_cable/channel/test_case.rb
  actioncable/lib/action_cable/engine.rb
  actioncable/lib/action_cable/server/configuration.rb
  actioncable/test/channel/base_test.rb
  actioncable/test/stubs/test_server.rb
Labels: actioncable

#47296 use filtered_path in action_controller event payloads instead of fullpath
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/instrumentation.rb
  actionpack/test/controller/log_subscriber_test.rb
Labels: actionpack

#47307 :nail_care: use ENV.fetch(name, default) form
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties

#47317 Added option to show all headers for mailer previews
  actionmailer/CHANGELOG.md
  railties/lib/rails/templates/rails/mailers/email.html.erb
Labels: actionmailer, railties

#47318 `token_list`: Guard Stimulus' `data-action` from multiple escapes
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#47319 Fix Deprecation Warning Message Typo
  actionpack/lib/action_dispatch/http/response.rb
Labels: actionpack

#47321 Factor rotator tests into dedicated classes
  activesupport/test/message_encryptor_test.rb
  activesupport/test/message_verifier_test.rb
  activesupport/test/messages/message_encryptor_rotator_test.rb
  activesupport/test/messages/message_rotator_tests.rb
  activesupport/test/messages/message_verifier_rotator_test.rb
Labels: activesupport

#47322 Detach `Messages::Rotator` from `SecureCompareRotator`
  activesupport/lib/active_support/secure_compare_rotator.rb
Labels: activesupport

#46848 Avoid double serialization of message data
  activesupport/lib/active_support/message_encryptor.rb
  activesupport/lib/active_support/message_verifier.rb
  activesupport/lib/active_support/messages/metadata.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/test/messages/message_metadata_tests.rb
  activesupport/test/messages/message_verifier_metadata_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: activesupport, railties, docs

#47325 Refactor `MessageEncryptor` and `MessageVerifier`
  activesupport/lib/active_support/message_encryptor.rb
  activesupport/lib/active_support/message_verifier.rb
  activesupport/lib/active_support/messages/codec.rb
  activesupport/lib/active_support/messages/metadata.rb
  activesupport/lib/active_support/messages/rotator.rb
Labels: activesupport

#47329 RE: defer and async options in javascript_include_tag
  actionview/lib/action_view/helpers/asset_tag_helper.rb
Labels: actionview

#47331 :hot_pepper: Spice up new Mailer preview for all headers
  actionmailer/CHANGELOG.md
Labels: actionmailer

#47305 Update deprecation.rails hook in guides [ci skip]
  guides/source/active_support_instrumentation.md
Labels: docs

#47332 Add a note about ENV["SECRET_KEY_BASE_DUMMY"] to asset_pipeline guide
  guides/source/asset_pipeline.md
Labels: docs

#47333 Document option section style for API guidelines
  guides/source/api_documentation_guidelines.md
Labels: docs

#47330 Add use_message_serializer_for_metadata to guide [ci skip]
  guides/source/configuring.md
Labels: docs

#47309 Use infinitive form for all task descriptions verbs
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/lib/rails/commands/server/server_command.rb
  railties/lib/rails/generators/rails/scaffold_controller/scaffold_controller_generator.rb
  railties/lib/rails/generators/test_unit/scaffold/scaffold_generator.rb
Labels: railties

#47342 Improve code block examples in plugins guide [ci-skip]
  guides/source/plugins.md
Labels: docs

#47344 maintain html_safe? on sliced HTML safe strings
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  activesupport/test/safe_buffer_test.rb
Labels: activesupport

#47348 Revert "Revert "Configure RDoc in Task#new""
  railties/lib/rails/api/task.rb
Labels: railties

#47349 Revert "Revert "Revert "Configure RDoc in Task#new"""
  railties/lib/rails/api/task.rb
Labels: railties

#47351 Add missing test for timestamp on before_save
  activerecord/test/cases/timestamp_test.rb
Labels: activerecord

#47320 Fix state leakage between tests
  activerecord/test/support/ddl_helper.rb
Labels: activerecord

#47339 Optimize `TextHelper.highlight` for large inputs
  actionview/lib/action_view/helpers/text_helper.rb
Labels: actionview

#47242 Remove unneeded require in plugin application.rb
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/engine/commands_test.rb
  railties/test/engine/test_test.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/scaffold_controller_generator_test.rb
  railties/test/generators/scaffold_generator_test.rb
  railties/test/plugin_helpers.rb
Labels: railties

#47364 [ci-skip] fix sample code for *bytes methods in Active Support Guide
  guides/source/active_support_core_extensions.md
Labels: docs

#47336 Fix raw_post empty bug when when Transfer-Encoding: chunked
  actionpack/lib/action_dispatch/http/request.rb
  railties/test/railties/http_request_test.rb
Labels: actionpack, railties

#47308 Clarify how `eager_load` and `preload` works [ci-skip]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#47368 Fix all missing $ signs in all bash commands in guides
  guides/source/action_text_overview.md
  guides/source/testing.md
Labels: docs

#47366 Fix S3 CORS example
  guides/source/active_storage_overview.md
Labels: docs

#47356 Adjust guide to explain you *should* disable the ActiveStorage default routes when implementing authenticated routes [ci skip]
  guides/source/active_storage_overview.md
Labels: docs

#47326 Use `throw` for message error handling control flow
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/message_encryptor.rb
  activesupport/lib/active_support/message_verifier.rb
  activesupport/lib/active_support/messages/codec.rb
  activesupport/lib/active_support/messages/metadata.rb
  activesupport/lib/active_support/messages/rotator.rb
  activesupport/test/message_encryptor_test.rb
  activesupport/test/message_encryptors_test.rb
  activesupport/test/message_verifier_test.rb
  activesupport/test/messages/message_encryptor_rotator_test.rb
  activesupport/test/messages/message_rotator_tests.rb
Labels: activesupport

#46866 [ci-skip] Change mention of year 2022 to 2023
  MIT-LICENSE
  actioncable/MIT-LICENSE
  actioncable/lib/action_cable.rb
  actionmailbox/MIT-LICENSE
  actionmailer/MIT-LICENSE
  actionmailer/lib/action_mailer.rb
  actionpack/MIT-LICENSE
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_pack.rb
  actiontext/MIT-LICENSE
  actionview/MIT-LICENSE
  actionview/app/javascript/MIT-LICENSE
  actionview/lib/action_view.rb
  activejob/MIT-LICENSE
  activejob/lib/active_job.rb
  activemodel/MIT-LICENSE
  activemodel/lib/active_model.rb
  activerecord/MIT-LICENSE
  activerecord/lib/active_record.rb
  activestorage/MIT-LICENSE
  activestorage/lib/active_storage.rb
  activesupport/MIT-LICENSE
  activesupport/lib/active_support.rb
  guides/assets/javascripts/turbo.js
  railties/MIT-LICENSE
Labels: actionmailer, actionpack, activemodel, activerecord, activesupport, railties, docs, actionview, activejob, actioncable, activestorage, actionmailbox, actiontext

#47225 Document `namespace` option for read method
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#47374 Add rake task to vendor guide javascript
  guides/Rakefile
  guides/assets/javascripts/@hotwired--turbo.js
  guides/assets/stylesheets/style.css
  guides/assets/stylesheets/turbo.css
  guides/source/layout.html.erb
Labels: docs

#47103 YAMLColumn: use `YAML.safe_dump` if available
  Gemfile.lock
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/coders/yaml_column.rb
  activerecord/test/cases/coders/yaml_column_test.rb
Labels: activerecord

#46603 Add `perform_all_later` to enqueue multiple jobs at once
  activejob/CHANGELOG.md
  activejob/lib/active_job/configured_job.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/lib/active_job/instrumentation.rb
  activejob/lib/active_job/queue_adapters/sidekiq_adapter.rb
  activejob/test/cases/queuing_test.rb
  activejob/test/integration/queuing_test.rb
Labels: activejob

#47192 Add custom user
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#47345 Add test case for Arel condition exclusive open-ended range
  activerecord/test/cases/arel/attributes/attribute_test.rb
Labels: activerecord

#47378 Refactor query constraints feature set
  activerecord/lib/active_record/associations/builder/association.rb
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/models/sharded/blog_post.rb
  activerecord/test/models/sharded/comment.rb
Labels: activerecord

#47246 Support joins for associations with composite foreign keys
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/inner_join_association_test.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/fixtures/sharded_blog_posts.yml
  activerecord/test/fixtures/sharded_comments.yml
Labels: activerecord

#47381 Fixes issue: Link to SQL Reference guide #47369
  guides/source/active_record_basics.md
Labels: docs

#47384 Add AS instrument hook to guides
  guides/source/active_support_instrumentation.md
Labels: docs

#47385 Rename Dockerfile user to "rails"
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#47386 Use NOTE to callout db:mysql:build_user possible gotcha
  guides/source/development_dependencies_install.md
Labels: docs

#47383 Update RailsGuides kindle cover
  guides/assets/images/rails_guides_kindle_cover.jpg
Labels: docs

#47315 Stub `Time.new()` in `TimeHelpers#travel_to`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/time_helpers.rb
  activesupport/test/time_travel_test.rb
Labels: activesupport

#47092 Update `ActionDispatch::Response` to support streaming bodies.
  actionpack/lib/action_dispatch/http/response.rb
  actionpack/test/dispatch/response_test.rb
Labels: actionpack

#47222 Make the purpose of db/seeds.rb clearer through a better description and sample code.
  railties/lib/rails/generators/rails/app/templates/db/seeds.rb.tt
Labels: railties

#47391 Follow up re: idempotency in db/seeds.rb
  guides/source/active_record_migrations.md
Labels: docs

#47392 Update TimeHelpers#travel_to docs after stubbing Time.new
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/time_helpers.rb
  guides/source/testing.md
Labels: activesupport, docs

#47395 SchemaCache#init_with skip deduplicate if specified
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
Labels: activerecord

#47396 Remove unnecessary calls to `establish_connection`
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_multi_pool_config_test.rb
  activerecord/test/cases/database_configurations_test.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/disconnected_test.rb
Labels: activerecord

#47403 Clean up async test
  activerecord/test/cases/relation/load_async_test.rb
Labels: activerecord

#47399 Remove test that's not useful
  activesupport/test/deprecation_test.rb
Labels: activesupport

#47401 Document that only application deprecators are disabled by `report_deprecations`
  guides/source/configuring.md
Labels: docs

#47398 Test Deprecation skipping caller locations
  activesupport/test/deprecation_test.rb
Labels: activesupport

#47397 Fix `collect_deprecations` documentation and add a test
  activesupport/lib/active_support/testing/deprecation.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#47376 Add test coverage for `Object#with_options` with `Hash`-like argument
  activesupport/lib/active_support/core_ext/object/with_options.rb
  activesupport/test/option_merger_test.rb
Labels: activesupport

#47394 Clear up common questions releases
  guides/source/maintenance_policy.md
Labels: docs

#47412 Need absolute path to this test file
  activesupport/test/deprecation_test.rb
Labels: activesupport

#47347 Use "main" reloader and cache resolvers from {append,prepend}_view_path
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionview/lib/action_view/cache_expiry.rb
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/path_set.rb
  actionview/lib/action_view/railtie.rb
  actionview/lib/action_view/view_paths.rb
  actionview/test/actionpack/controller/render_test.rb
  actionview/test/actionpack/controller/view_paths_test.rb
  railties/test/application/per_request_digest_cache_test.rb
  railties/test/application/view_reloading_test.rb
Labels: actionpack, railties, actionview

#47410 `Associations::Preloader` supports preloading associations with composite keys
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/inner_join_association_test.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/fixtures/sharded_blog_posts.yml
  activerecord/test/fixtures/sharded_comments.yml
Labels: activerecord

#47353 Fix retrieving foreign keys referencing tables named like keywords in PostgreSQL and MySQL
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/utils.rb
  activerecord/test/cases/migration/foreign_key_test.rb
Labels: activerecord

#47424 Support string or symbol for owner_name
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
Labels: activerecord

#47408 Allow mailer classes to customize the deliver_later queue name
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer.rb
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/delivery_methods.rb
  actionmailer/lib/action_mailer/mail_delivery_job.rb
  actionmailer/lib/action_mailer/message_delivery.rb
  actionmailer/lib/action_mailer/queued_delivery.rb
  actionmailer/lib/action_mailer/test_helper.rb
  actionmailer/test/mailers/delayed_mailer.rb
  actionmailer/test/message_delivery_test.rb
  actionmailer/test/parameterized_test.rb
  actionmailer/test/test_helper_test.rb
  guides/source/action_mailer_basics.md
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: actionmailer, railties, docs

#47402 Fixes #46764 API Documentation
  guides/source/api_app.md
Labels: docs

#47432 Remove too many closing parentheses
  guides/source/active_record_querying.md
Labels: docs

#47428 Optimize `SchemaDumper`s check for ignored tables
  activerecord/lib/active_record/schema_dumper.rb
Labels: activerecord

#47419 Make ForkTracker.check! a noop on Ruby 3.1+
  activesupport/lib/active_support/fork_tracker.rb
  activesupport/test/fork_tracker_test.rb
Labels: activesupport

#47429 Debugging guide: Improve grammar and accuracy.
  guides/source/debugging_rails_applications.md
Labels: docs, ready

#47445 Fix guides generator
  guides/rails_guides/generator.rb
Labels: docs

#46579 Fix: Incorrectly preloading through association records when middle association has been loaded
  activerecord/lib/active_record/associations/preloader/through_association.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#47447 Add config.hosts and config.host_authorization to new app templates
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties

#44803 Add support for `:include` index option
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
  activerecord/test/cases/migration/index_test.rb
  activerecord/test/cases/migration/invalid_options_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
Labels: activerecord

#47455 Add "Rails Application Templates" to guides index, as WIP
  guides/source/documents.yaml
Labels: docs

#47191 Respect Column default in Type::Serialized
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activerecord/lib/active_record/type/serialized.rb
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#47457 Fix ruby:master re: ruby/feature/18285
  actionview/test/template/render_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  railties/test/railties/railtie_test.rb
Labels: activesupport, railties, actionview

#47458 Backport #47457 to fix Ruby 3.3 tests
  actionview/test/template/render_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  railties/test/railties/railtie_test.rb
Labels: activesupport, railties, actionview

#47459 Don't use a full blown version manager to install nodejs
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#47452 Support has_many through associations with composite query_constraints
  activerecord/lib/active_record/associations/association_scope.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/fixtures/sharded_blog_posts_tags.yml
  activerecord/test/fixtures/sharded_tags.yml
  activerecord/test/models/sharded.rb
  activerecord/test/models/sharded/blog_post.rb
  activerecord/test/models/sharded/blog_post_tag.rb
  activerecord/test/models/sharded/tag.rb
  activerecord/test/schema/schema.rb
Labels: activerecord
