Repository rails/rails, pull requests merged in 2023-08, with the labels that each got.

#48807 Support filtering tests by line ranges
  railties/CHANGELOG.md
  railties/lib/rails/test_unit/runner.rb
  railties/test/application/test_runner_test.rb
Labels: railties

#48793 Never connect to the database in define_attribute_methods initializer
  activerecord/lib/active_record/railtie.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#48852 Allow escaping of literal colons in `ActionRecord::Sanitization#replace_named_bind_variables`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/sanitization.rb
  activerecord/test/cases/sanitize_test.rb
Labels: activerecord

#48842 Add `Rack::Lint` to `ActionDispatch::ShowExceptions` tests
  actionpack/lib/action_dispatch/middleware/public_exceptions.rb
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
  actionpack/test/dispatch/show_exceptions_test.rb
Labels: actionpack

#48855 Add Rack::Lint to DebugExceptions missing test
  actionpack/test/dispatch/debug_exceptions_test.rb
Labels: actionpack

#48860 Fixed few typos in tests and guide
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/delegated_type_test.rb
  guides/source/4_1_release_notes.md
Labels: activerecord, docs

#48806 [skip ci] Added some grammatical changes and missing punctuations
  guides/source/active_record_multiple_databases.md
Labels: docs, ready

#48809 [7-0-stable] Revert singular association breaking changes
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/has_one_association.rb
  activerecord/lib/active_record/associations/singular_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#48808 Revert singular association breaking changes
  activerecord/lib/active_record/associations/has_one_association.rb
  activerecord/lib/active_record/associations/singular_association.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
Labels: activerecord

#48868 Fix `Cache::NullStore` with local caching for repeated reads
  activesupport/lib/active_support/cache/strategy/local_cache.rb
  activesupport/test/cache/stores/null_store_test.rb
Labels: activesupport

#48847 Omit `webdrivers` gem from `Gemfile` template
  Gemfile
  Gemfile.lock
  actionpack/lib/action_dispatch/system_testing/browser.rb
  guides/source/testing.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/generators/app_generator_test.rb
Labels: actionpack, railties, docs

#48871 Fix AM::Error.full_message to remove ":base"
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/error.rb
  activemodel/test/cases/error_test.rb
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activemodel, activerecord

#48876 Use already loaded relation when batching if possible
  activerecord/lib/active_record/relation/batches.rb
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#48872 Simplify the sanity check in ARTest.connect
  activerecord/test/support/connection.rb
Labels: activerecord

#48877 [skip ci] Added missing parathesis in guide
  guides/source/action_cable_overview.md
Labels: docs

#48863 Save screenshot path on system test failure
  Gemfile.lock
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
Labels: actionpack

#48861 Fixes #47909 when using order or unscope
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_chain_test.rb
  activerecord/test/models/author.rb
Labels: activerecord, docs

#48682 Introduce `config.dom_testing_default_html_version` and use Rails::Dom::Testing to parse HTML in test helpers
  Gemfile.lock
  actionmailer/actionmailer.gemspec
  actionpack/CHANGELOG.md
  actionpack/actionpack.gemspec
  actionpack/lib/action_dispatch/testing/assertions.rb
  actionpack/lib/action_dispatch/testing/request_encoder.rb
  actionview/CHANGELOG.md
  actionview/actionview.gemspec
  actionview/lib/action_view/test_case.rb
  actionview/test/template/form_tag_helper_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionmailer, actionpack, railties, docs, actionview

#48608 Support NULLS NOT DISTINCT in Postgres 15+
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/adapters/postgresql/active_schema_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
  activerecord/test/cases/migration/index_test.rb
  activerecord/test/cases/migration/invalid_options_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/schema/schema.rb
  activerecord/test/support/adapter_helper.rb
Labels: activerecord

#48555 Fix to_s not using :default format with no args
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/date/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/date_time/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/range/deprecated_conversions.rb
  activesupport/lib/active_support/core_ext/time/deprecated_conversions.rb
  activesupport/lib/active_support/time_with_zone.rb
  activesupport/test/core_ext/date_ext_test.rb
  activesupport/test/core_ext/date_time_ext_test.rb
  activesupport/test/core_ext/range_ext_test.rb
  activesupport/test/core_ext/time_ext_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
Labels: activesupport

#48869 Disable session in ActiveStorage blobs and representations proxy controllers
  activestorage/CHANGELOG.md
  activestorage/app/controllers/active_storage/blobs/proxy_controller.rb
  activestorage/app/controllers/active_storage/representations/proxy_controller.rb
  activestorage/app/controllers/concerns/active_storage/disable_session.rb
Labels: activestorage

#48873 Adds Arel::FactoryMethods#cast(node, type)
  activerecord/lib/arel/factory_methods.rb
  activerecord/test/cases/arel/factory_methods_test.rb
Labels: activerecord

#48879 Get rid of trilogy errors merge
  activerecord/lib/active_record/connection_adapters/trilogy/errors.rb
  activerecord/lib/active_record/connection_adapters/trilogy/lost_connection_exception_translator.rb
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
Labels: activerecord

#48109 Get rid of TrilogyAdapter's special errors
  activerecord/lib/active_record/connection_adapters/trilogy/errors.rb
  activerecord/lib/active_record/connection_adapters/trilogy/lost_connection_exception_translator.rb
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
Labels: activerecord

#48881 Fix typo in ActiveRecord Query guide
  guides/source/active_record_querying.md
Labels: docs

#48887 Fix NoMethodError when request Content-Type is blank.
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#48880 Added missing test for Arel factory methods
  activerecord/test/cases/arel/factory_methods_test.rb
  activerecord/test/cases/arel/table_test.rb
Labels: activerecord

#48883 Remove overflow:hidden from welcome logo
  railties/lib/rails/templates/rails/welcome/index.html.erb
Labels: railties

#48886 Fix `ActiveRecord::QueryMethods#in_order_of` to work with nils
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/field_ordered_values_test.rb
Labels: activerecord

#48718 ActiveStorage mirror uploads should be asynchronous
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage/service/mirror_service.rb
  activestorage/test/service/mirror_service_test.rb
Labels: activestorage

#48857 Rename `fixture_file_upload` method to `file_fixture_upload`
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/test_process.rb
  guides/source/testing.md
Labels: actionpack, docs

#48888 Action Mailer Preview empty states
  railties/lib/rails/mailers_controller.rb
  railties/lib/rails/templates/rails/mailers/index.html.erb
  railties/lib/rails/templates/rails/mailers/mailer.html.erb
  railties/test/application/mailer_previews_test.rb
Labels: railties

#48894 Active Storage Guides: change `fixture_file_upload` to `file_fixture_upload` [ci-skip]
  guides/source/active_storage_overview.md
Labels: docs

#48899 Document and test `nil` cache coder
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_coder_behavior.rb
  activesupport/test/cache/stores/memory_store_test.rb
Labels: activesupport

#48893 Use relative path for screenshot metadata
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
Labels: actionpack

#48897 Removes Webpacker from the guides index page
  guides/source/documents.yaml
  guides/source/webpacker.md
Labels: docs

#48907 Add `drb`, `mutex_m` and `base64` that are bundled gem candidates for Ruby 3.4
  Gemfile.lock
  activesupport/CHANGELOG.md
  activesupport/activesupport.gemspec
Labels: activesupport

#46617 Remove unnecessary isolation_level setting from load_defaults 7.0
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
Labels: railties, docs

#48917 Use `ActiveRecord.deprecator` for the alias attribute deprecation
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#48916 Use Pathnames for comparisons in the engine rake tasks
  railties/lib/rails/tasks/engine.rake
  railties/test/railties/railtie_test.rb
Labels: railties

#48911 Ensure schema_cache_dump settings are propagated to SchemaReflection class
  activerecord/lib/active_record/railtie.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#48924 Fix code blocks using + instead of <tt> [ci skip]
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activestorage/app/models/active_storage/variant.rb
Labels: activerecord, activestorage

#48927 This removes the writer method for table_alias from Arel::Table.
  activerecord/lib/arel/table.rb
  activerecord/test/cases/arel/table_test.rb
Labels: activerecord

#48936 Handle non-string partial body in ActionView::CollectionCaching
  actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb
Labels: actionview

#48937 Handle non-string partial body in ActionView::CollectionCaching (7.0 backport)
  actionview/CHANGELOG.md
  actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb
Labels: actionview

#44262 Fix invalid durations with ActiveJob deserialization
  activejob/CHANGELOG.md
  activejob/lib/active_job/serializers/duration_serializer.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: activejob

#48898 [skip ci] Testing by line range documentation added in guide
  guides/source/testing.md
  railties/lib/rails/commands/test/USAGE
Labels: railties, docs

#48949 Do not suggest adding non-existent gems to Gemfile
  railties/lib/rails/commands/server/server_command.rb
  railties/test/commands/server_test.rb
Labels: railties

#48952 Fix CacheStore#write_multi with Redis::Distributed+ConnectionPool
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#48913 Allow parent to define alias method override
  activemodel/lib/active_model/attribute_methods.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activemodel, activerecord

#48964 Fix method name to `check_all_pending!`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#48947 Use IN sql instead of OR sql for query constraints
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/test/cases/associations/eager_test.rb
Labels: activerecord

#48970 Fix list item numbering on API docs main page [ci-skip]
  railties/RDOC_MAIN.md
Labels: railties

#48961 Add Rack::Lint to ActionCable::Server health tests
  actioncable/lib/action_cable/connection/base.rb
  actioncable/lib/action_cable/server/configuration.rb
  actioncable/test/server/health_check_test.rb
Labels: actioncable

#48958 Update job testing guidelines
  guides/source/testing.md
Labels: docs

#48955 Fix served_url printed when using Puma & Rack 3
  Gemfile.lock
  railties/lib/rails/commands/server/server_command.rb
  railties/test/commands/server_test.rb
Labels: railties

#48971 Add method for accessing only query constraints
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/reflection.rb
Labels: activerecord

#48959 Remove uneeded requires of core_ext/string/filters
  actionpack/lib/action_dispatch/routing.rb
  activejob/lib/active_job/log_subscriber.rb
  activemodel/lib/active_model/errors.rb
  activerecord/lib/active_record/core.rb
  activesupport/lib/active_support/core_ext/module/introspection.rb
  activesupport/lib/active_support/duration.rb
  railties/lib/rails/command/base.rb
  railties/lib/rails/commands/server/server_command.rb
Labels: actionpack, activemodel, activerecord, activesupport, railties, activejob

#48956 Add test coverage for ShowExceptions failsafe
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
  actionpack/test/dispatch/show_exceptions_test.rb
Labels: actionpack

#48980 Wordsmitthing and replaced all NBSP's with a single space for Assets Pipeline guide
  guides/source/asset_pipeline.md
Labels: docs

#48989 Sort mailers on mailer preview page alphabetically
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/preview.rb
  actionmailer/test/base_test.rb
Labels: actionmailer

#48010 Add after_discard method to ActiveJob
  activejob/CHANGELOG.md
  activejob/lib/active_job/exceptions.rb
  activejob/lib/active_job/execution.rb
  activejob/test/cases/exceptions_test.rb
  activejob/test/jobs/after_discard_retry_job.rb
Labels: activejob

#48991 Fix defect where aliased attribute methods on abstract classes were not being defined
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#48930 Use `alias_attribute` to provide `id_value` alias for `id` attribute
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#48941 Fix host display when X_FORWARDED_HOST authorized
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/blocked_host.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/blocked_host.text.erb
  actionpack/test/dispatch/host_authorization_test.rb
Labels: actionpack

#44981 Add additional config to docs about how to use remote browser in test
  guides/source/testing.md
Labels: docs

#47505 Add docs for `data-turbo-method` and `data-turbo-confirm` for `link_to`
  actionview/lib/action_view/helpers/url_helper.rb
Labels: actionview, ready

#48950 Add support for Playwright as a driver for system tests
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/system_testing/driver.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack

#48992 Add strict locals and Rails.application.deprecators to 7.1 release notes
  guides/source/7_1_release_notes.md
Labels: docs

#48984 Add an option to start rails console in sandbox mode by default
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/commands/console/console_command.rb
  railties/test/application/console_test.rb
  railties/test/commands/console_test.rb
Labels: railties, docs

#48969 Fix 6.1 change_column setting datetime precision
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#48987 Adds a specific ArgumentError when passing nil to dom_id.
  actionview/lib/action_view/record_identifier.rb
  actionview/test/template/record_identifier_test.rb
Labels: actionview

#48983 Fix regression blocking creation of some strict association
  activerecord/lib/active_record/associations/through_association.rb
  activerecord/test/cases/strict_loading_test.rb
  activerecord/test/models/computer.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#48998 Support composite identifiers in `to_key`
  actionview/test/lib/controller/fake_models.rb
  actionview/test/template/record_identifier_test.rb
  activemodel/lib/active_model/conversion.rb
  activemodel/test/cases/conversion_test.rb
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/test/cases/primary_keys_test.rb
Labels: activemodel, activerecord, actionview

#49006 Fix 6.1 change_column setting datetime precision [7-0-stable]
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#48974 Fix 6.1 change_table setting datetime precision
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#48996 Allow parent being the owner of an alias attribute method
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#49004 Improve the documentation for ActiveRecord::Inheritance#base_class
  activerecord/lib/active_record/inheritance.rb
Labels: activerecord

#49003 Ensure `response.parsed_body` support for pattern matching
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/request_encoder.rb
  actionpack/lib/action_dispatch/testing/test_response.rb
  actionpack/test/dispatch/test_response_test.rb
  actionpack/test/dispatch/test_response_test/pattern_matching_test_cases.rb
  activestorage/test/controllers/direct_uploads_controller_test.rb
Labels: actionpack, activestorage

#49015 Add new behavior of `undefine_attribute_methods` to CHANGELOG
  activemodel/CHANGELOG.md
  activemodel/test/cases/attribute_methods_test.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activemodel, activerecord

#48999 Fix NoMethodError in ActiveStorage::TransformJob for untracked variants.
  activestorage/app/jobs/active_storage/transform_job.rb
  activestorage/test/jobs/transform_job_test.rb
Labels: activestorage

#49017 Document the :ignore_date option on time_select
  actionview/lib/action_view/helpers/date_helper.rb
Labels: actionview

#48977 Fix `webdrivers` on `7-0-stable` branch for issue #48973.
  Gemfile
  Gemfile.lock
  actionpack/lib/action_dispatch/system_testing/browser.rb
  ci/qunit-selenium-runner.rb
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: actionpack, railties

#49001 Document `response.parsed_body` in 7.1 release notes
  guides/.rubocop.yml
  guides/source/7_1_release_notes.md
Labels: actionpack, docs

#49012 Ensure all migration versions use TableDefinition
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/migration/compatibility.rb
Labels: activerecord

#49019 Deprecate `read_attribute(:id)` returning the primary key
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/attribute_methods/read.rb
  activerecord/test/cases/primary_keys_test.rb
Labels: activerecord

#49020 Allow redefining `to_param` delimiter using `param_delimiter`
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/conversion.rb
  activemodel/test/cases/conversion_test.rb
  activerecord/lib/active_record/base.rb
  activerecord/lib/active_record/integration.rb
  activerecord/test/cases/integration_test.rb
Labels: activemodel, activerecord

#49021 [Docs] Update `undefine_attribute_methods` docs
  activemodel/lib/active_model/attribute_methods.rb
Labels: activemodel

#49024 Add some :nodoc: to SyntaxErrorProxy and friends
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  activesupport/lib/active_support/core_ext/thread/backtrace/location.rb
  activesupport/lib/active_support/syntax_error_proxy.rb
Labels: actionpack, activesupport

#49028 [skip ci] Moved sh to bash and added missing $
  guides/source/asset_pipeline.md
  railties/CHANGELOG.md
Labels: railties, docs

#49029 Improve performance of AbstractController::Base#action_methods
  actionpack/lib/abstract_controller/base.rb
Labels: actionpack

#49026 Add default docker files description to 7.1 release note [skip ci]
  guides/source/7_1_release_notes.md
Labels: docs

#49010 select existing article status if any, in Getting Started Guide -- Fixes #45028 (mostly)
  guides/source/getting_started.md
Labels: docs

#49031 Configure `config.active_support.cache_format_version = 7.1` for `RailtieTest`
  activemodel/test/cases/railtie_test.rb
Labels: activemodel

#49032 Generate config.autoload_lib(...) for new apps
  actionmailer/lib/action_mailer/railtie.rb
  railties/CHANGELOG.md
  railties/lib/rails/engine/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/application.rb.tt
  railties/test/application/configuration_test.rb
  railties/test/application/zeitwerk_integration_test.rb
Labels: actionmailer, railties

#49037 Fix test leak
  activerecord/test/cases/integration_test.rb
Labels: activerecord

#49039 Add bigdecimal to runtime dependency
  Gemfile.lock
  activesupport/activesupport.gemspec
Labels: activesupport

#49038 Fix TimeWithZone#to_s being overriden with ENV set
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/time/deprecated_conversions.rb
  activesupport/lib/active_support/time_with_zone.rb
Labels: activesupport

#49007 Replace repeated list literals in Getting Started guide w/ a constant
  guides/source/getting_started.md
Labels: docs

#49040 Improve #select with Hash argument to be more consistent with #where
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/select_test.rb
Labels: activerecord

#49058 Rename MRSK to Kamal
  railties/lib/rails/generators/app_base.rb
Labels: railties

#49042 Add `extract_value` method to `ActionController::Parameters`
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack

#49034 [skip ci] Add description for perform_all_later method in 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49035 [skip ci] Added ActionMailer notable features and deprecations to 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49057 [skip ci] ActionCable notable changes added to 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49053 Fix no _method input in form_for namespaced model
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview

#49063 upsert should accept update_only parameter like upsert_all does
  activerecord/lib/active_record/persistence.rb
Labels: activerecord

#49054 [skip ci] config.autoload_lib method description added in 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49071 Add changelog entry for batching using loaded relations
  activerecord/CHANGELOG.md
Labels: activerecord

#49069 Fix form_for id generation for new CPK models
  actionview/lib/action_view/record_identifier.rb
  actionview/test/lib/controller/fake_models.rb
  actionview/test/template/form_helper_test.rb
  actionview/test/template/record_identifier_test.rb
Labels: actionview

#48920 [docs] Update assert_enqueued_with documentation with keyword arguments example
  activejob/lib/active_job/test_helper.rb
Labels: docs, activejob

#49076 [skip ci] Railties, ActionPack notable changes and deprecations added to 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49074 [skip ci] ActiveStorage notable changes added to 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49059 [skip ci] Add ActiveRecord::Base.normalizes to 7.1 release notes
  guides/source/7_1_release_notes.md
Labels: docs

#49080 Fix to_param id generation for partial composite keys
  actionview/test/template/url_helper_test.rb
  activemodel/lib/active_model/conversion.rb
  activemodel/test/cases/conversion_test.rb
Labels: activemodel, actionview

#49081 Remove outdated libxml-ruby version spec in XmlMini doc comment
  activesupport/lib/active_support/xml_mini.rb
Labels: activesupport

#49086 [skip ci] ActiveRecord notable changes, deprecations and removals added to 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#48972 Ensure target is an attribute for `alias_attribute`
  activemodel/lib/active_model/attribute_methods.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activemodel, activerecord

#49082 Add ability to show slow tests to the test runner
  railties/lib/minitest/rails_plugin.rb
Labels: railties

#49089 Allow KILL queries on read-only connections for mysql
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/adapter_prevent_writes_test.rb
Labels: activerecord

#49078 Fix generated SQL in code example using .unscoped with block
  guides/source/active_record_querying.md
Labels: docs

#49091 Prevent `NoMethodError` in extract_value when specifying non-existent keys
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack

#49095 Optimize ActiveRecord::LogSubscriber#query_source_location
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/test/cases/log_subscriber_test.rb
  activesupport/lib/active_support/backtrace_cleaner.rb
  railties/test/backtrace_cleaner_test.rb
Labels: activerecord, activesupport, railties

#49088 Allow Active Record to derive the association query constraints
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/models/sharded/blog_post.rb
  activerecord/test/models/sharded/blog_post_tag.rb
  activerecord/test/models/sharded/comment.rb
  activerecord/test/models/sharded/tag.rb
Labels: activerecord

#49093 [skip ci] ActionView notable changes added to 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49094 [skip ci] ActionJob notable changes added to 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49092 [skip ci] Trilogy description added for rails 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49099 Fix alias_attribute deprecation warning and message
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord
