Repository rails/rails, pull requests merged in 2023-09, with the labels that each got.

#49101 [Fix #48925] fix "class_name" required for STI class
  activerecord/lib/active_record/table_metadata.rb
Labels: activerecord

#49108 Remove useless include in DescendantsTracker
  activesupport/lib/active_support/descendants_tracker.rb
Labels: activesupport

#49106 Fix `ActiveRecord.disconnect_all!` to not disable reconnect on pools
  activerecord/lib/active_record/connection_adapters/pool_config.rb
  activerecord/test/cases/active_record_test.rb
Labels: activerecord

#49110 Add CHANGELOG entries for `ActiveModel::Conversion#to_key` changes
  activemodel/CHANGELOG.md
  activerecord/CHANGELOG.md
Labels: activemodel, activerecord

#49107 [skip ci] Description added for "Allow templates to set strict locals" in 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49111 Fix DescendantsTrackerTest when ran in isolation
  activesupport/lib/active_support/descendants_tracker.rb
Labels: activesupport

#49109 [Docs] Document using `FinderMethods.find` on composite primary key models
  activerecord/lib/active_record/relation/finder_methods.rb
Labels: activerecord

#49105 Document `where` support for AR `normalizes`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/normalization.rb
  activerecord/test/cases/normalized_attribute_test.rb
  guides/source/7_1_release_notes.md
Labels: activerecord, docs

#49090 Fix change_column not setting precision for sqlite
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#49100 Make enums validatable without raising error
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#49112 Composite Primary Key id method docs
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/lib/active_record/model_schema.rb
Labels: activerecord

#48912 Change `has_secure_token` default to `on: :initialize`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/secure_token.rb
  activerecord/test/cases/secure_token_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: activerecord, railties, docs

#49067 Use SecureRandom.alphanumeric for SecureRandom.base36/base58
  activesupport/lib/active_support/core_ext/securerandom.rb
  activesupport/test/core_ext/secure_random_test.rb
Labels: activesupport

#49065 Fix ActiveModel::Conversion._to_partial_path not using a model's model_name.
  activemodel/lib/active_model/conversion.rb
  activemodel/test/cases/conversion_test.rb
  activemodel/test/models/helicopter.rb
Labels: activemodel

#49117 [skip ci] Description added for `Active Record API for general async queries` in 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49123 Remove $global mistakenly left in test
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#49122 Fix Compatibility tests using `@internal_metadata`
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#45498 Deprecate passing `rewhere` to `merge`
  activerecord/lib/active_record/relation/spawn_methods.rb
  activerecord/test/cases/relation/merging_test.rb
Labels: activerecord

#49125 [skip ci] Remove webpacker guide reference
  guides/source/asset_pipeline.md
Labels: docs

#48095 Fix unscope not working when where by tripe dot range
  activerecord/CHANGELOG.md
  activerecord/lib/arel/nodes/and.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#49126 Simplify explanation by removing docs for classic mode
  guides/source/engines.md
Labels: docs

#47865 Fix Active Job log message to correctly report a job failed to enqueue when the adapter raises an `ActiveJob::EnqueueError`
  activejob/CHANGELOG.md
  activejob/lib/active_job/log_subscriber.rb
  activejob/test/cases/logging_test.rb
Labels: activejob

#49134 Fix `assert_deprecated` related warnings in ActiveRecord tests
  activerecord/lib/active_record/relation/spawn_methods.rb
  activerecord/test/cases/relation/merging_test.rb
Labels: activerecord

#49136 Fix in-place modification of shared `_counter_cache_columns` class attribute
  activerecord/lib/active_record/associations/builder/belongs_to.rb
  activerecord/test/cases/counter_cache_test.rb
Labels: activerecord, ready

#49133 Fix `has_secure_token on: :initialize` when column is not selected
  activerecord/lib/active_record/secure_token.rb
  activerecord/test/cases/secure_token_test.rb
Labels: activerecord

#49120 Fix: simple_format with blank wrapper_tag option returns plain html tag.
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/text_helper.rb
  actionview/test/template/text_helper_test.rb
Labels: actionview, actiontext

#49146 Generate secure token only once regardless of `on: :initialize` or `on: :create`
  activerecord/lib/active_record/secure_token.rb
  activerecord/test/cases/secure_token_test.rb
Labels: activerecord

#49149 [skip ci] rewhere argument on #merge deprecated
  activerecord/CHANGELOG.md
  guides/source/7_1_release_notes.md
Labels: activerecord, docs

#49148 [skip ci] Minor formatting fixes for code blocks
  guides/source/7_1_release_notes.md
Labels: docs

#49150 Rails Guides: describe composite primary keys (CPK) for migrations and querying
  guides/source/active_record_migrations.md
  guides/source/active_record_querying.md
Labels: docs

#49153 Active Record querying guide: add a composite primary key example for find
  guides/source/active_record_querying.md
Labels: docs

#49116 Document tuple support in Active Record where clauses
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#49114 Add composite primary key examples to Rails guides
  guides/source/action_controller_overview.md
  guides/source/action_view_helpers.md
  guides/source/form_helpers.md
Labels: docs

#49096 Document clean chain behavior for ActiveRecord scope
  guides/source/active_record_querying.md
Labels: docs

#49121 Fix change_column not setting precision for sqlite [7-0-stable]
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#49139 Remove internal usage of require_dependency
  actionmailer/lib/action_mailer/preview.rb
Labels: actionmailer

#49145 Do not generate configuration for sprockets if propshaft is used
  railties/lib/rails/generators/rails/app/templates/config/initializers/assets.rb.tt
Labels: railties

#49113 Infer `primary_key: :id` on associations with composite primary key models
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/models/cpk/book.rb
  activerecord/test/models/cpk/order.rb
  activerecord/test/models/cpk/order_agreement.rb
  activerecord/test/models/cpk/order_tag.rb
Labels: activerecord

#49154 Document `query_constraints` option in associations
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#49159 Load ambient fixtures for `ActiveRecordMessagePackTest`
  activerecord/test/cases/message_pack_test.rb
Labels: activerecord

#49118 [skip ci] Description added for `ActiveRecord::Base.generates_token_for` method in 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49161 Remove unused fixtures in `*ConnectionTest`
  activerecord/test/cases/adapters/abstract_mysql_adapter/connection_test.rb
  activerecord/test/cases/adapters/postgresql/connection_test.rb
Labels: activerecord

#49152 Just check the BigDecimal 3.1+ behavior at `NumericalityValidationTest`
  activerecord/test/cases/validations/numericality_validation_test.rb
Labels: activerecord

#49119 [skip ci] ActiveSupport deprecate changes added to 7.1 release note
  guides/source/7_1_release_notes.md
Labels: docs

#49056 [Fix #49055] Raise an `ArgumentError` when `#accepts_nested_attributes_for` is redeclared for an association
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/nested_attributes.rb
  activerecord/test/cases/nested_attributes_test.rb
Labels: activerecord, ready

#49156 Add composite primary key examples to fixture docs
  activerecord/lib/active_record/fixtures.rb
Labels: activerecord

#49171 Removed Webpacker Isolation files
  railties/test/generators/app_generator_test.rb
  railties/test/isolation/assets/config/webpack/base.js
  railties/test/isolation/assets/config/webpack/development.js
  railties/test/isolation/assets/config/webpack/production.js
  railties/test/isolation/assets/config/webpack/test.js
  railties/test/isolation/assets/config/webpacker.yml
  railties/test/isolation/assets/package.json
Labels: railties

#49166 ensure identical md5 sums for gzip schema cache
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
Labels: activerecord

#49173 Define alias attribute methods in `define_attribute_methods`
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/test/cases/attribute_methods_test.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/validations/numericality_validation_test.rb
Labels: activemodel, activerecord

#49172 [skip ci] Ruby code block indentation issue fix
  actionpack/CHANGELOG.md
  activejob/CHANGELOG.md
  activemodel/CHANGELOG.md
  activerecord/CHANGELOG.md
  activestorage/CHANGELOG.md
  guides/source/7_0_release_notes.md
  guides/source/7_1_release_notes.md
  guides/source/active_support_instrumentation.md
  guides/source/security.md
  guides/source/upgrading_ruby_on_rails.md
Labels: actionpack, activemodel, activerecord, docs, activejob, activestorage

#49141 Fix more bugs in declarative specs filter
  railties/lib/rails/test_unit/line_filtering.rb
  railties/lib/rails/test_unit/runner.rb
  railties/test/application/test_runner_test.rb
Labels: railties

#49179 [ci skip] Add composite primary key release note
  guides/source/7_1_release_notes.md
Labels: docs

#49170 Improving the setup for the Active Record Encryption Guide
  guides/source/active_record_encryption.md
Labels: docs

#49190 [skip ci] Made a consistant wording across the notes
  guides/source/7_1_release_notes.md
Labels: docs

#49191 Fix typo in id_value docs
  activerecord/lib/active_record/model_schema.rb
Labels: activerecord

#49188 Add additional docs to Query Interface guide about composite primary key models [ci skip]
  guides/source/active_record_querying.md
Labels: docs

#49182 Document associations between models with composite primary keys in guides [ci skip]
  guides/source/association_basics.md
Labels: docs

#49196 Remove unused methods on ActiveStorage::Variant
  activestorage/app/models/active_storage/variant.rb
Labels: activestorage

#49195 Keep VariantWithRecord API consistent with Variant
  activestorage/app/models/active_storage/variant_with_record.rb
  activestorage/test/models/variant_with_record_test.rb
Labels: activestorage

#49202 [ci skip] Guides guidelines: note that guide text should wrap at 80 columns
  guides/source/ruby_on_rails_guides_guidelines.md
Labels: docs

#49186 [ci skip] Add a section to the Active Record Migration Guide on creating tables with composite primary keys
  guides/source/active_record_migrations.md
Labels: docs

#49205 Add dedicate guide for composite primary keys [ci skip]
  guides/source/active_record_composite_primary_keys.md
Labels: docs

#49201 Remove unused webpacker related files
  actiontext/bin/webpack
  actiontext/bin/webpack-dev-server
  actiontext/lib/generators/action_text/install/templates/actiontext.css
  guides/source/configuring.md
Labels: docs, actiontext

#49177 Fix `remove_check_constraint` with `if_exists: true` never removing any check constraint
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/test/cases/migration/check_constraint_test.rb
Labels: activerecord

#49178 Adds support for `if_not_exists` when adding a check constraint.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/test/cases/migration/check_constraint_test.rb
  activerecord/test/cases/migration/command_recorder_test.rb
Labels: activerecord

#49208 Remove unused private method from secret test
  railties/test/commands/secrets_test.rb
Labels: railties

#49211 Exclude pids, storage directories in dockerignore
  railties/lib/rails/generators/rails/app/templates/dockerignore.tt
Labels: railties

#47115 Remove old `raise_on_missing_translations` behaviour
  actionpack/CHANGELOG.md
  actionpack/lib/abstract_controller/translation.rb
  actionpack/test/abstract/translation_test.rb
  actionview/test/template/translation_helper_test.rb
  activesupport/lib/active_support/i18n_railtie.rb
  guides/source/debugging_rails_applications.md
  guides/source/upgrading_ruby_on_rails.md
  railties/test/application/configuration_test.rb
Labels: actionpack, activesupport, railties, docs, actionview

#47637 Support composite foreign keys via migration helpers
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/migration/foreign_key_test.rb
Labels: activerecord

#48699 AbstractController#internal_methods: ignore action_methods
  actionpack/lib/abstract_controller/base.rb
  actionpack/test/controller/base_test.rb
Labels: actionpack

#49214 Remove Enumerable#sum from guide [skip ci]
  guides/source/active_support_core_extensions.md
Labels: docs

#49216 Describe `AS::MessagePack` in 7.1 release notes [ci-skip]
  guides/source/7_1_release_notes.md
Labels: docs

#49213 Remove AbstractController::Translation.raise_on_missing_translations added to release note [skip ci]
  guides/source/7_1_release_notes.md
Labels: docs

#49218 [ci skip] Suggest using composite primary key on join tables in `:through` associations
  guides/source/association_basics.md
Labels: docs

#49220 [ci skip] Fix typo in association guides
  guides/source/association_basics.md
Labels: docs

#49219 Rails supports but does not recommend non-PK `id` column
  guides/source/active_record_basics.md
Labels: docs

#49221 Revert "Remove AbstractController::Translation.raise_on_missing_translations added to release note [skip ci]"
  guides/source/7_1_release_notes.md
Labels: docs

#49230 Fixup links, code tags in Rails::Paths::Root [ci skip]
  railties/lib/rails/paths.rb
Labels: railties

#49192 Instrument Active Record transactions
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/test/cases/transaction_instrumentation_test.rb
Labels: activerecord

#49229 Make bin/setup work with bun
  railties/CHANGELOG.md
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
Labels: railties

#49215 Update description for `require_master_key` setting
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties

#49234 Add regression test for #45722
  activerecord/test/cases/encryption/extended_deterministic_queries_test.rb
Labels: activerecord

#49233 Backport #45722 to 7-0-stable
  activerecord/lib/active_record/encryption/extended_deterministic_queries.rb
  activerecord/test/cases/encryption/extended_deterministic_queries_test.rb
  activerecord/test/cases/encryption/performance/storage_performance_test.rb
Labels: activerecord

#49242 Fix inferred query constraints
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/cascaded_eager_loading_test.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/integration_test.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/cases/signed_id_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#49241 Add Bun support
  actioncable/lib/rails/generators/channel/channel_generator.rb
  actiontext/lib/generators/action_text/install/install_generator.rb
  actionview/app/javascript/README.md
  guides/source/asset_pipeline.md
  guides/source/upgrading_ruby_on_rails.md
  guides/source/working_with_javascript_in_rails.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
  railties/test/generators/app_generator_test.rb
Labels: railties, docs, actionview, actioncable, actiontext

#49072 Encryption: support `support_unencrypted_data` at a per-attribute level
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/lib/active_record/encryption/extended_deterministic_queries.rb
  activerecord/lib/active_record/encryption/scheme.rb
  activerecord/test/cases/encryption/extended_deterministic_queries_test.rb
  activerecord/test/cases/encryption/uniqueness_validations_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/models/book_encrypted.rb
Labels: activerecord

#49236 Enable Minitest/LiteralAsActualArgument
  .rubocop.yml
  actionmailer/test/base_test.rb
  actionpack/test/controller/parameters/mutators_test.rb
  actionpack/test/controller/routing_test.rb
  actionpack/test/controller/test_case_test.rb
  actionpack/test/dispatch/mime_type_test.rb
  actionpack/test/dispatch/response_test.rb
  actionpack/test/dispatch/test_response_test.rb
  actionview/test/actionpack/controller/render_test.rb
  actionview/test/template/render_test.rb
  activejob/test/cases/logging_test.rb
  activemodel/test/cases/attributes_dirty_test.rb
  activemodel/test/cases/callbacks_test.rb
  activemodel/test/cases/dirty_test.rb
  activemodel/test/cases/error_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/connection_test.rb
  activerecord/test/cases/adapters/postgresql/connection_test.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/bidirectional_destroy_dependencies_test.rb
  activerecord/test/cases/associations/cascaded_eager_loading_test.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/has_and_belongs_to_many_associations_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/comment_test.rb
  activerecord/test/cases/encryption/configurable_test.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/migration/change_schema_test.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/cases/relation/merging_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/cases/type/type_map_test.rb
  activerecord/test/cases/validations/uniqueness_validation_test.rb
  activestorage/test/fixture_set_test.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/service/gcs_service_test.rb
  activesupport/test/concern_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  activesupport/test/deprecation_test.rb
  activesupport/test/encrypted_configuration_test.rb
  activesupport/test/test_case_test.rb
  railties/test/application/configuration_test.rb
  railties/test/application/query_logs_test.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/application/test_runner_test.rb
  railties/test/generators/generated_attribute_test.rb
Labels: actionmailer, actionpack, activemodel, activerecord, actionview, activejob

#49247 Remove a redundant blank line from Gemfile of new app
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#49255 Don't pass active_record to `derive_fk_query_constraints`
  activerecord/lib/active_record/reflection.rb
Labels: activerecord

#49257 Add changelog entry for profiling slow tests
  railties/CHANGELOG.md
Labels: railties

#49193 Add "Testing View Partials" section to the Testing Guides
  actionview/lib/action_view/test_case.rb
  actionview/test/fixtures/developers/_developer_with_h1.erb
  actionview/test/template/test_case_test.rb
  actionview/test/template/test_case_test/pattern_matching_test_cases.rb
  guides/source/testing.md
Labels: docs, actionview

#49258 Remove unused delete_all from test
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#49237 Add tests for AJ events
  activejob/test/cases/instrumentation_test.rb
Labels: activejob

#47752 Raise error when generating attribute with dangerous name
  railties/CHANGELOG.md
  railties/lib/rails/generators/generated_attribute.rb
  railties/test/generators/generated_attribute_test.rb
Labels: railties

#49269 Regex escape table and column names
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#49268 Add Composite Primary Keys guide to guides index
  activerecord/lib/active_record/relation/finder_methods.rb
  guides/source/documents.yaml
Labels: activerecord, docs

#49264 Explicit `primary_key:` option should always take priority in associations
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/models/sharded/comment.rb
Labels: activerecord

#49275 Add missing dollar sign to bash scripts [skip ci]
  guides/source/7_1_release_notes.md
Labels: docs

#49277 Add missing dollar sign for bash script [skip ci]
  railties/CHANGELOG.md
Labels: railties

#49278 Ignore env files (except templates)
  railties/lib/rails/generators/rails/app/templates/dockerignore.tt
  railties/lib/rails/generators/rails/app/templates/gitignore.tt
Labels: railties

#49279 Shorten some of the guide names in the Guides index
  guides/source/documents.yaml
Labels: docs

#49262 Add outcome to transaction tracking payload
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/test/cases/transaction_instrumentation_test.rb
Labels: activerecord

#49265 Clean up old composite key code
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/relation/finder_methods.rb
Labels: activerecord

#48780 Improve the docs of ActiveRecord::TransactionRollbackError
  activerecord/lib/active_record/errors.rb
Labels: activerecord

#49280 Make GeneratedAttribute work without ActiveRecord
  railties/lib/rails/generators/generated_attribute.rb
Labels: railties

#49284 FIX shard_names method returns duplicate shard names
  activerecord/lib/active_record/connection_adapters/pool_manager.rb
  activerecord/test/cases/connection_adapters/connection_handlers_sharding_db_test.rb
Labels: activerecord

#49289 Remove misspell references [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#49288 Action View: docs use `application/` instead of `shared/`
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/layouts.rb
  actionview/lib/action_view/template.rb
  actionview/test/template/dependency_tracker_test.rb
  guides/source/action_view_helpers.md
  guides/source/action_view_overview.md
  guides/source/layouts_and_rendering.md
  railties/test/railties/engine_test.rb
Labels: railties, docs, actionview

#49285 Update 7_1_release_notes.md
  guides/source/7_1_release_notes.md
Labels: docs

#49291 [ci skip] Edit anchors in Testing View Partials to match targets
  guides/source/testing.md
Labels: docs

#49302 eliminate extra blank lines in dockerfile template
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#49305 Consistency/semantics: BUN_VERSION vs bun-v
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#49299 Loosen test condition `Arel::Nodes::Node` descendants
  activerecord/test/cases/arel/nodes_test.rb
Labels: activerecord

#49292 Clarify that the default retry strategy uses polynomial backoff instead of exponential backoff
  activejob/CHANGELOG.md
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
  activejob/test/jobs/retry_job.rb
  activestorage/app/jobs/active_storage/analyze_job.rb
  activestorage/app/jobs/active_storage/mirror_job.rb
  activestorage/app/jobs/active_storage/purge_job.rb
  activestorage/app/jobs/active_storage/transform_job.rb
Labels: activejob, activestorage

#49307 Sorry I didn't catch these the first time, but two more...
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#49309 Document any callable can normalize AR attributes
  activerecord/lib/active_record/normalization.rb
Labels: activerecord

#49300 [AR] Fix uniqueness validation on association not using overridden PK
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/validations/uniqueness_validation_test.rb
Labels: activerecord

#49294 Add documentation for `locals:` and `local_assigns` [ci skip]
  actionview/lib/action_view/template.rb
  guides/source/action_view_overview.md
Labels: docs, actionview

#49316 [ci skip][docs]Fix Active Support changelog (7.1 beta1)
  activesupport/CHANGELOG.md
Labels: activesupport

#49320 Add `*_deliver` callback examples to the guides [ci skip]
  guides/source/action_mailer_basics.md
Labels: docs

#49321 Remove blank line in Action Mailer Basics guide [ci skip]
  guides/source/action_mailer_basics.md
Labels: docs

#49317 Use Ruby 3.3 `Range#overlap?` if available
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/range/overlap.rb
Labels: activesupport

#49164 dump PostgreSQL schemas as part of the schema dump
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/schema_dumper.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
Labels: activerecord

#49311 This enhancement automatically updates the Dockerfile to the desired db.
  railties/lib/rails/generators/database.rb
  railties/lib/rails/generators/rails/db/system/change/change_generator.rb
  railties/test/fixtures/Dockerfile.test
  railties/test/generators/db_system_change_generator_test.rb
  railties/test/generators/generators_test_helper.rb
Labels: railties

#49318 Add CHANGELOG entry to add bigdecimal as Active Support dependency
  activesupport/CHANGELOG.md
Labels: activesupport

#49231 Backport #47370 to 7-0-stable
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/attached/model.rb
  activestorage/test/models/variant_with_record_test.rb
Labels: activestorage

#49329 Improve `strict_loading` documentation [ci-skip]
  activerecord/lib/active_record/core.rb
  guides/source/active_record_querying.md
Labels: activerecord, docs

#49325 Fix uninitialized constant error on Puma boot
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties

#49287 Ensure the SQLite3 adapter handles default functions with the `||` concatenation operator
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/migration/columns_test.rb
Labels: activerecord

#49290 Add SQLite3 support for `supports_insert_returning?`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
  activerecord/test/schema/sqlite_specific_schema.rb
Labels: activerecord, ready

#49335 Get rid of ActiveRecord::Core#===
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/relation/predicate_builder/polymorphic_array_value.rb
Labels: activerecord

#49345 Cleaned up test that was missing regex escaping
  activerecord/test/cases/associations/eager_test.rb
Labels: activerecord

#49342 Add links to Callbacks, note example definition [ci skip]
  activesupport/lib/active_support/callbacks.rb
Labels: activesupport

#49338 [ci skip] Document how to rails new with a specific version
  railties/lib/rails/generators/rails/app/USAGE
Labels: railties

#49344 Skip unless adapter supports insert on duplicate update
  activerecord/test/cases/encryption/encryptable_record_test.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#49340 Refactor Router#find_routes to be lazier
  actionpack/lib/action_dispatch/journey/router.rb
Labels: actionpack

#49358 [ci-skip][Docs]Fix typo in activerecord/CHANGELOG.md
  activerecord/CHANGELOG.md
Labels: activerecord

#49357 ActiveRecord notable changes added to 7.1 release note [skip ci]
  guides/source/7_1_release_notes.md
Labels: docs

#49359 Add a section about config.autoload_lib(_once) to the upgrading guide
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#49356 Fix Range#overlap? ignoring empty ranges
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/range/overlap.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport

#49361 Backport 49247 to 7-0-stable
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#49362 Backport 49356 to 7-0-stable
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/range/overlaps.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport

#49366 [ci-skip][Doc]Fix: expires_in -> expires_at
  activerecord/CHANGELOG.md
Labels: activerecord

#49352 Allow SQLite3 `busy_handler` to be configured with simple max number of retries
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
Labels: activerecord

#49349 Performance tune the SQLite3 adapter connection configuration
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#49350 Update doc for `include_hidden` form form file_field.
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#49372 Update requires in LoggerThreadSafeLevel
  activesupport/lib/active_support/logger_thread_safe_level.rb
Labels: activesupport

#48462 Do not revalidate encrypted attribute with current encrypted_type
  activerecord/lib/active_record/encryption/extended_deterministic_uniqueness_validator.rb
  activerecord/test/cases/encryption/uniqueness_validations_test.rb
  activerecord/test/models/book_encrypted.rb
Labels: activerecord

#45606 Allow attaching File or Pathname to has_one_attached
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/attached/changes/create_one.rb
  activestorage/test/models/attached/one_test.rb
Labels: activestorage

#49379 [skip ci] Missing language highligting added for bash code block
  guides/source/upgrading_ruby_on_rails.md
Labels: docs
