Repository rails/rails, pull requests merged in 2023-05, with the labels that each got.

#48091 Fix ActiveRecord grouped calculations on joined tables on column present in both tables
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/fixtures/accounts.yml
  activerecord/test/models/company.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#48106 `Object#deep_dup` no longer duplicate named classes and modules.
  activerecord/test/cases/serialized_attribute_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/object/deep_dup.rb
  activesupport/test/core_ext/object/deep_dup_test.rb
Labels: activerecord, activesupport

#48107 Improve queue adapter name extraction for logs
  activejob/lib/active_job/log_subscriber.rb
  activejob/lib/active_job/queue_adapter.rb
Labels: activejob

#48108 Remove `AbstractMysqlAdapterTest`
  activerecord/test/cases/adapters/abstract_mysql_adapter_test.rb
Labels: activerecord

#48111 Use `#include?` with String instead of Regexp for Trilogy conn errors
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
Labels: activerecord

#48101 [Fix #48080] Use `group` over `distinct` in `ActiveRecord::Calculations#ids` with `includes(...).order(...)`
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#48112 Clean up shared DB statements code between Mysql2 and Trilogy
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/trilogy/database_statements.rb
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
  activerecord/lib/active_record/explain.rb
Labels: activerecord

#47892 Fix error in `ActiveRecord::Migration.check_pending!`
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration/pending_migrations_test.rb
Labels: activerecord

#48104 Support `:message_pack` as a cache serializer format
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/serializer_with_fallback.rb
  activesupport/lib/active_support/message_pack/cache_serializer.rb
  activesupport/test/cache/behaviors.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
  activesupport/test/cache/coder_test.rb
  activesupport/test/cache/serializer_with_fallback_test.rb
  activesupport/test/cache/stores/file_store_test.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
  activesupport/test/message_pack/cache_serializer_test.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
  railties/test/application/initializers/frameworks_test.rb
Labels: activesupport, railties, docs

#48120 Allow passing nil to rewhere method
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_chain_test.rb
Labels: activerecord

#48131 Avoid nested `#with_raw_connection` calls in `#select_all`
  activerecord/lib/active_record/connection_adapters/trilogy/database_statements.rb
Labels: activerecord

#48122 Improve cache performance for bare string values
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/serializer_with_fallback.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
  activesupport/test/cache/serializer_with_fallback_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: activesupport, railties, docs

#48125 Silence msgpack warnings when detecting format
  activesupport/lib/active_support/cache/serializer_with_fallback.rb
Labels: activesupport

#48128 Make `increment_counter`/`decrement_counter` accept an amount argument
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/counter_cache.rb
  activerecord/test/cases/counter_cache_test.rb
Labels: activerecord

#48136 Document ActionText::Attachable
  actiontext/lib/action_text/attachable.rb
Labels: actiontext

#48133 Add documentation for ActionText::Content [ci-skip]
  actiontext/lib/action_text/content.rb
Labels: actiontext

#48137 Add documentation for ActionText::Attachment [ci-skip]
  actiontext/lib/action_text/attachment.rb
Labels: actiontext

#48138 Note cache_format_version in framework defaults
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: railties

#48124 Use `_read_attribute` in associations preloader instead of public reader
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#48134 Deprecate `check_pending!` in favor of `check_all_pending!`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration/pending_migrations_test.rb
Labels: activerecord

#48142 Some cleanups for ActionText documentation [ci-skip]
  actiontext/lib/action_text/attachable.rb
  actiontext/lib/action_text/content.rb
Labels: actiontext

#48146 Correct documentation for decrement_counter by option [ci-skip]
  activerecord/lib/active_record/counter_cache.rb
Labels: activerecord

#48140 Clarify difference in docs between AR #and and #merge methods
  activerecord/lib/active_record/relation/spawn_methods.rb
Labels: activerecord

#48151 Document `cache_*_multi` events [ci-skip]
  guides/source/active_support_instrumentation.md
Labels: docs

#48152 Fix a Gem::Version Comparison
  activerecord/test/cases/coders/yaml_column_test.rb
Labels: activerecord

#48110 Make Active Record's query cache an LRU
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/test/cases/query_cache_test.rb
  guides/source/configuring.md
Labels: activerecord, docs

#48155 Update changelog for https://github.com/rails/rails/pull/48110 [ci-skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#48154 Handle empty list of cache keys
  actionview/test/template/render_test.rb
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport, actionview

#48153 Fix a code block in the Arel documentation
  activerecord/lib/arel.rb
Labels: activerecord

#48161 Use "library.name" format in initializer examples [ci skip]
  activesupport/lib/active_support/deprecation.rb
  guides/source/error_reporting.md
Labels: activesupport, docs

#48159 Handle empty key list for `delete_multi`
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#48162 Fix a race condition in Action Text's test suite
  actiontext/test/test_helper.rb
  actiontext/test/unit/model_test.rb
Labels: actiontext

#48163 Optimize mime types validation in ActionView::LookupContext
  actionmailer/lib/action_mailer.rb
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionview/lib/action_view/lookup_context.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/types.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionmailer, actionpack, actionview

#48157 Improve AJ queue adapter test case
  activejob/test/cases/queue_adapter_test.rb
Labels: activejob

#48160 Test `String#blank?` with every non-dummy encoding
  activesupport/test/core_ext/object/blank_test.rb
Labels: activesupport

#48150 Log key summary for `*_multi` cache operations
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors.rb
  activesupport/test/cache/behaviors/cache_logging_behavior.rb
  activesupport/test/cache/stores/file_store_test.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/memory_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#48158 Fix failing buildkite build - action_pack [rack-3]
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#48148 [Fix #38698] Fix nested Arrays when permitting arbitrary Hashes
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/parameters_permit_test.rb
Labels: actionpack

#48127 create (and use) /home/rails as home directory in Dockerfile
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#47963 Unify `Message{Encryptor,Verifier}` serializer config
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/json_with_marshal_fallback.rb
  activesupport/lib/active_support/message_encryptor.rb
  activesupport/lib/active_support/message_verifier.rb
  activesupport/lib/active_support/messages/codec.rb
  activesupport/lib/active_support/messages/metadata.rb
  activesupport/lib/active_support/messages/serializer_with_fallback.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/test/encrypted_file_test.rb
  activesupport/test/message_encryptor_test.rb
  activesupport/test/message_verifier_test.rb
  activesupport/test/messages/message_codec_tests.rb
  activesupport/test/messages/message_metadata_tests.rb
  activesupport/test/messages/serializer_with_fallback_test.rb
  guides/source/active_support_instrumentation.md
  guides/source/configuring.md
  guides/source/upgrading_ruby_on_rails.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
  railties/test/application/configuration_test.rb
  railties/test/commands/secrets_test.rb
Labels: activesupport, railties, docs

#48170 Default message serializer to `:json_allow_marshal`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/message_encryptor.rb
  activesupport/lib/active_support/message_verifier.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: activesupport, railties, docs

#47964 Support `:message_pack` as message serializer
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/message_encryptor.rb
  activesupport/lib/active_support/message_pack/serializer.rb
  activesupport/lib/active_support/message_verifier.rb
  activesupport/lib/active_support/messages/metadata.rb
  activesupport/lib/active_support/messages/serializer_with_fallback.rb
  activesupport/test/messages/serializer_with_fallback_test.rb
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: activesupport, railties, docs

#48103 Support `:message_pack` as cookies serializer
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/test/controller/flash_hash_test.rb
  actionpack/test/dispatch/cookies_test.rb
  guides/source/action_controller_overview.md
  guides/source/configuring.md
Labels: actionpack, activesupport, railties, docs

#48174 Fix ordered list rendering in multi-DB guide
  guides/source/active_record_multiple_databases.md
Labels: docs

#48166 Several fixes for AR Associations guide
  guides/source/association_basics.md
Labels: docs

#48123 Remove redundant test
  actionpack/test/dispatch/routing/inspector_test.rb
Labels: actionpack

#48167 Document associations and scopes on ActiveStorage::Attachment/Blob [ci-skip]
  activestorage/app/models/active_storage/attachment.rb
  activestorage/app/models/active_storage/blob.rb
Labels: activestorage

#48176 Fix ordered list syntax in development dependencies guide
  guides/source/development_dependencies_install.md
Labels: docs

#48175 Clean up docs and code using mysql2 when we mean trilogy
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/validations/uniqueness.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/schema_test.rb
  guides/source/configuring.md
  guides/source/contributing_to_ruby_on_rails.md
  guides/source/engines.md
Labels: activerecord, docs

#48178 Prevent non-anonymous modules from becoming frozen
  activemodel/lib/active_model/type/helpers/mutable.rb
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activemodel, activerecord

#48180 Precompile `config.filter_parameters` in place
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: railties

#48182 Prevent duplicate filters for encrypted attributes
  activerecord/lib/active_record/encryption/configurable.rb
  railties/test/application/initializers/frameworks_test.rb
Labels: activerecord, railties

#48187 [Documentation] ActiveSupport::InheritableOptions with string keys [ci-skip]
  activesupport/lib/active_support/ordered_options.rb
Labels: activesupport

#48188 Revert "Merge pull request #48069 from Shopify/ar-exec-query-flush-cache
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/connection_adapters/trilogy/database_statements.rb
  activerecord/lib/active_record/future_result.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#48171 Allow PredicateBuilder to recognize schema namespaced table names
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/test/cases/relation/predicate_builder_test.rb
Labels: activerecord

#48143 Document more methods for ActionText::Attachable [ci-skip]
  actiontext/lib/action_text/attachable.rb
Labels: actiontext

#48191 Remove redundant `case` condition in ActiveJob::Arguments
  activejob/lib/active_job/arguments.rb
Labels: activejob

#46626 Add matcher support to `assert_enqueued_email_with`
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/test_helper.rb
  actionmailer/test/test_helper_test.rb
Labels: actionmailer

#48141 Fix chmod race condition when generating key
  Gemfile.lock
  railties/lib/rails/generators/rails/encryption_key_file/encryption_key_file_generator.rb
  railties/railties.gemspec
Labels: railties

#48100 Add a picture_tag helper
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#48197 Handle non-ASCII-only in `AS::MessagePack#signature?`
  activesupport/lib/active_support/message_pack/serializer.rb
  activesupport/test/message_pack/shared_serializer_tests.rb
Labels: activesupport

#48198 Remove redundant protocol test for url_for
  actionpack/test/controller/url_for_test.rb
Labels: actionpack

#48211 Add pseudo-subsections to Instrumentation guide [ci-skip]
  guides/source/active_support_instrumentation.md
Labels: docs

#48214 :nail_care: Clean up Railties changelog for code blocks
  railties/CHANGELOG.md
Labels: railties

#48215 Document bash / command-line fixed-font preferences
  guides/source/api_documentation_guidelines.md
Labels: docs

#48217 Add missing closing bracket to picture_tag example [ci-skip]
  actionview/lib/action_view/helpers/asset_tag_helper.rb
Labels: actionview

#48221 Updated ActiveSupport instrumentation guide to include Server Timings…
  guides/source/active_support_instrumentation.md
Labels: docs

#48200 Discard connections which may be left in a transaction
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#48223 Change a confusing Action Cable guide example.
  guides/source/action_cable_overview.md
Labels: docs

#48228 Fix 'View Timings from Instrumentation' guides heading [ci-skip]
  guides/source/active_support_instrumentation.md
Labels: docs

#48229 Revert "Merge pull request #48188 from eileencodes/revert-48069"
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/connection_adapters/trilogy/database_statements.rb
  activerecord/lib/active_record/future_result.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#48037 Return `INCLUDE` columns in PostgreSQL indexes as strings
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
Labels: activerecord

#48212 Content Security Policy: add `:unsafe_hashes` mapping
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/content_security_policy.rb
  actionpack/test/dispatch/content_security_policy_test.rb
Labels: actionpack

#48210 Enable passing column size to migration generator
  railties/CHANGELOG.md
  railties/lib/rails/generators/generated_attribute.rb
  railties/test/generators/generated_attribute_test.rb
Labels: railties

#48231 [Tests only] Populate auto-generated UUID primary key
  activerecord/test/cases/persistence_test.rb
  activerecord/test/models/chat_message.rb
  activerecord/test/schema/postgresql_specific_schema.rb
Labels: activerecord

#48233 Use RDoc syntax for :uuid argument (re #47949)
  activerecord/lib/active_record/fixtures.rb
Labels: activerecord

#48234 Use double quotes for escaping yaml (re #47983)
  actionmailbox/test/dummy/config/locales/en.yml
  actiontext/test/dummy/config/locales/en.yml
  activestorage/test/dummy/config/locales/en.yml
  railties/lib/rails/generators/rails/app/templates/config/locales/en.yml
Labels: railties, activestorage, actionmailbox, actiontext

#47960 Specify the maximum compatible Ruby version for Rails 5
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#48235 fix `where` query with the range where the begin and end are equal
  activerecord/lib/arel/predications.rb
  activerecord/test/cases/arel/attributes/attribute_test.rb
Labels: activerecord

#48238 Update and fixup ShowExceptions documentation [ci skip]
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
Labels: actionpack

#48220 Adds missing key argument for I18n.translate
  actionview/lib/action_view/helpers/translation_helper.rb
Labels: actionview

#48246 Clarify X-Cascade header in ShowExceptions middleware [ci-skip]
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
Labels: actionpack

#48237 fix a comment on `add_column` regarding the maximum value of precision in MySQL
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
Labels: activerecord

#48249 Revert "Specify the maximum compatible Ruby version for Rails 5"
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#48252 Link rescue_from from modules including Rescuable [ci skip]
  actionmailbox/lib/action_mailbox/base.rb
  actionmailer/lib/action_mailer/rescuable.rb
  actionpack/lib/action_controller/metal/rescue.rb
  activejob/lib/active_job/exceptions.rb
  activejob/lib/active_job/execution.rb
Labels: actionmailer, actionpack, docs, activejob, actionmailbox

#48253 Infer method names for :*-method: directives [ci-skip]
  activestorage/app/models/active_storage/attachment.rb
  activestorage/app/models/active_storage/blob.rb
Labels: activestorage

#48184 Properly fallback when ERB column can't be computed
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/handlers/erb.rb
  actionview/test/fixtures/test/unparseable_runtime_error.html.erb
  actionview/test/template/render_test.rb
Labels: actionview

#48083 Document ActiveModel::Dirty dispatch targets [ci skip]
  activemodel/lib/active_model/dirty.rb
Labels: activemodel

#48087 Link to Action View Form Helpers section in API
  guides/source/form_helpers.md
Labels: docs

#48086 Clean up bundler install directions
  guides/source/ruby_on_rails_guides_guidelines.md
Labels: docs

#47856 Implement `ActiveRecord.disconnect_all!` to close all connections
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/pool_config.rb
Labels: activerecord

#48254 Fix grammar in test line number description
  guides/source/testing.md
Labels: docs

#48257 Remove test that requires network access
  railties/test/generators/app_generator_test.rb
Labels: railties

#48258 Move shared tests into `SharedGeneratorTests`
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#48259 Fix special characters in app template path
  railties/lib/rails/generators/app_base.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#48194 Deprecate params via `:args` for `assert_enqueued_email_with`
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/test_helper.rb
  actionmailer/test/test_helper_test.rb
Labels: actionmailer

#48099 Document queue_with_priority block arguments and their use [ci skip]
  activejob/lib/active_job/queue_priority.rb
Labels: docs, activejob

#48264 Deprecate `SafeBuffer#clone_empty`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  activesupport/test/safe_buffer_test.rb
Labels: activesupport

#48260 Fixup links for CollectionProxy docs [ci skip]
  activerecord/lib/active_record/associations/collection_proxy.rb
Labels: activerecord

#48269 Run `after_bundle` blocks with `app:template` command
  guides/source/rails_application_templates.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/tasks/framework.rake
  railties/test/generators/app_generator_test.rb
Labels: railties, docs

#48270 Avoid unnecessary allocations in `picture_tag`
  actionview/lib/action_view/helpers/asset_tag_helper.rb
Labels: actionview

#48272 TrilogyAdapter: translate `Trilogy::TimeoutError` in `AdapterTimeout`
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
Labels: activerecord

#48271 Rescue Exception while the connection pool 'checkout_and_verify'
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#48265 update `ERB::Util.html_escape_once` to always return an `html_safe` string
  actionview/test/template/erb_util_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/erb/util.rb
Labels: activesupport, actionview

#48274 Fix change_in_place? for binary serialized columns
  activemodel/lib/active_model/type/binary.rb
  activemodel/test/cases/type/binary_test.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/type/serialized.rb
  activerecord/test/cases/core_test.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/cases/serialized_attribute_test.rb
  activerecord/test/models/binary_field.rb
  activerecord/test/schema/schema.rb
Labels: activemodel, activerecord

#47910 Fix issue with empty values within delimited authorization header
  actionpack/lib/action_controller/metal/http_authentication.rb
  actionpack/test/controller/http_token_authentication_test.rb
Labels: actionpack, activesupport

#48283 Revert "Add curl to work with the default healthcheck strategy in MRSK"
  railties/lib/rails/generators/app_base.rb
Labels: railties

#48285 Fix NameError in Mysql2::DatabaseStatements
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
Labels: activerecord

#48286 Update documentation to include proper class name formatting and pron…
  guides/source/testing.md
Labels: docs

#45867 Make the test environment show rescuable exceptions in responses
  actionmailbox/test/dummy/config/environments/test.rb
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
  actionpack/lib/action_dispatch/railtie.rb
  actionpack/test/controller/new_base/render_action_test.rb
  actionpack/test/controller/new_base/render_test.rb
  actionpack/test/dispatch/content_security_policy_test.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionpack/test/dispatch/exception_wrapper_test.rb
  actionpack/test/dispatch/permissions_policy_test.rb
  actionpack/test/dispatch/request/json_params_parsing_test.rb
  actionpack/test/dispatch/show_exceptions_test.rb
  actiontext/test/dummy/config/environments/test.rb
  activestorage/test/dummy/config/environments/test.rb
  guides/source/configuring.md
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/test/application/configuration_test.rb
  railties/test/application/middleware/exceptions_test.rb
  railties/test/application/middleware/remote_ip_test.rb
  railties/test/application/routing_test.rb
  railties/test/application/test_runner_test.rb
  railties/test/commands/middleware_test.rb
  railties/test/railties/engine_test.rb
  railties/test/railties/mounted_engine_test.rb
Labels: actionpack, railties, docs, activestorage, actionmailbox, actiontext

#46476 Update comments in all three en.yml files relating to booleans
  actionmailbox/test/dummy/config/locales/en.yml
  actiontext/test/dummy/config/locales/en.yml
  activestorage/test/dummy/config/locales/en.yml
  railties/lib/rails/generators/rails/app/templates/config/locales/en.yml
Labels: railties, activestorage, actionmailbox, actiontext

#47181 Model Generator Source Paths Should Allow for Customization
  activerecord/CHANGELOG.md
  activerecord/lib/rails/generators/active_record/model/model_generator.rb
  railties/test/generators/model_generator_test.rb
Labels: actionpack, activerecord, railties, docs, ready

#48261 Adds Arel::Nodes::Cte for use in WITH expressions
  activerecord/CHANGELOG.md
  activerecord/lib/arel/nodes.rb
  activerecord/lib/arel/nodes/binary.rb
  activerecord/lib/arel/nodes/cte.rb
  activerecord/lib/arel/nodes/table_alias.rb
  activerecord/lib/arel/visitors/mysql.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/nodes/as_test.rb
  activerecord/test/cases/arel/nodes/cte_test.rb
  activerecord/test/cases/arel/nodes/table_alias_test.rb
  activerecord/test/cases/arel/visitors/mysql_test.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#48298 Remove changelog entry for Arel feature
  activerecord/CHANGELOG.md
Labels: activerecord

#47689 Improve js and css options of app generator
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#48299 Refactor error highlight detection
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_source.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/diagnostics.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/invalid_statement.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/missing_template.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/template_error.html.erb
Labels: actionpack

#48300 Fix deprecation message for connection pool methods
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
Labels: activerecord

#48302 Avoid double marshal with `MemoryStore::DupCoder`
  activesupport/lib/active_support/cache/memory_store.rb
Labels: activesupport

#47940 Remove table alias added when using `where.missing` or `where.associated`
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_chain_test.rb
Labels: activerecord

#48309 Preserve existing column default functions when altering table in SQLite
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/migration/columns_test.rb
Labels: activerecord

#48303 fix after_commit callback when record is destroyed twice
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/transaction_callbacks_test.rb
Labels: activerecord

#48311 Fix heading for StrictValidationFailed
  activemodel/lib/active_model/errors.rb
Labels: activemodel

#48308 [ci-skip]Backport 48085 to 7-0-stable branch for updating Migration Guide
  guides/source/active_record_migrations.md
Labels: docs

#48315 Remove Action View Sanitizer Helper tests asserting on allowed tags and attributes
  actionview/test/template/sanitize_helper_test.rb
Labels: actionview

#48312 Add doc for FormBuilder#rich_text_area [ci skip]
  actiontext/app/helpers/action_text/tag_helper.rb
Labels: actiontext

#48324 Trick RDoc to pickup ActiveRecord::Core#values_at
  activerecord/lib/active_record/core.rb
Labels: activerecord

#48325 Fix linking on ActiveModel::API
  activemodel/lib/active_model/api.rb
Labels: activemodel

#48327 Fix links for Renderers.add and Renderers.remove
  actionpack/lib/action_controller/metal/renderers.rb
Labels: actionpack

#48329 Unlink Rails constant from READMEs
  actioncable/README.md
  actionmailer/README.rdoc
  actionpack/README.rdoc
  actionview/README.rdoc
  activejob/README.md
  activemodel/README.rdoc
  activerecord/README.rdoc
  activestorage/README.md
  activesupport/README.rdoc
  railties/README.rdoc
Labels: actionmailer, actionpack, activemodel, activerecord, activesupport, railties, actionview, activejob, actioncable, activestorage

#48331 Fix RDoc autolinks in ActionController::Metal
  actionpack/lib/action_controller/metal.rb
Labels: actionpack

#48332 Add a tiny more detail about the middleware stack
  actionpack/lib/action_controller/metal.rb
  actionpack/lib/action_dispatch/middleware/stack.rb
Labels: actionpack

#48321 Fix ActionCable Redis configuration with sentinels
  actioncable/lib/action_cable/subscription_adapter/redis.rb
  actioncable/test/subscription_adapter/redis_test.rb
Labels: actioncable

#48333 :nail_care: Several fixes to AR::DatabaseConfigurations docs
  activerecord/lib/active_record/database_configurations.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/database_configurations/url_config.rb
Labels: activerecord

#48297 Ensure binary-destined values have binary encoding during type cast
  activemodel/lib/active_model/type/binary.rb
  activemodel/test/cases/type/binary_test.rb
  activerecord/test/cases/binary_test.rb
Labels: activemodel, activerecord

#48335 Link console1984 where mentioned in ARE guide
  guides/source/active_record_encryption.md
Labels: docs

#48337 Several AR::Associations API doc fixes
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/preloader.rb
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/lib/active_record/autosave_association.rb
Labels: activerecord

#48340 Fixes for AR::QueryMethods API docs
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#48322 Fix decrementing counter caches for parent records using optimistic locking
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/test/cases/counter_cache_test.rb
  activerecord/test/fixtures/cars.yml
  activerecord/test/fixtures/people.yml
  activerecord/test/models/car.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#48323 Exclude the vendor as including vendor will cause CI break after merge #48287
  railties/lib/rails/engine.rb
Labels: railties

#48199 Remove UrlRewriter tests
  actionpack/test/controller/url_for_test.rb
  actionpack/test/controller/url_rewriter_test.rb
Labels: actionpack

#48222 Add health check on standalone Action Cable
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/engine.rb
  actioncable/lib/action_cable/server/base.rb
  actioncable/lib/action_cable/server/configuration.rb
  actioncable/test/server/health_check_test.rb
Labels: actioncable

#43770 Pass params to url_for that ONLY get used for named segments; otherwise discard them
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/journey/formatter.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/lib/action_dispatch/routing/url_for.rb
  actionpack/test/controller/url_for_test.rb
Labels: actionpack

#48348 Fix `humanize` for strings ending with ` id`
  activesupport/lib/active_support/inflector/methods.rb
  activesupport/test/inflector_test_cases.rb
Labels: activesupport, needs backport

#48347 Preserve timestamp when setting an `ActiveSupport::TimeWithZone` value to `timestamptz` attribute
  activerecord/lib/active_record/connection_adapters/postgresql/oid/timestamp_with_time_zone.rb
  activerecord/test/cases/date_time_precision_test.rb
Labels: activerecord, needs backport

#48353 Set default_shard from connects_to hash
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handlers_sharding_db_test.rb
  activerecord/test/cases/connection_pool_test.rb
  guides/source/active_record_multiple_databases.md
Labels: activerecord, docs

#48356 Add role to connection payload
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/test/cases/connection_pool_test.rb
Labels: activerecord
