Repository rails/rails, pull requests merged in 2023-10, with the labels that each got.

#49447 Fix `AS::MessagePack` with `ENV["RAILS_MAX_THREADS"]`
  activesupport/lib/active_support/message_pack/serializer.rb
  activesupport/test/message_pack/shared_serializer_tests.rb
Labels: activesupport

#49438 Use prism for parsing renders when available
  actionview/lib/action_view/dependency_tracker.rb
  actionview/lib/action_view/dependency_tracker/ruby_tracker.rb
  actionview/lib/action_view/render_parser.rb
  actionview/lib/action_view/render_parser/prism_render_parser.rb
  actionview/lib/action_view/render_parser/ripper_render_parser.rb
  actionview/test/template/dependency_tracker_test.rb
Labels: actionview

#49437 Avoid Action Cable config in dev templates on --skip-action-cable
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties

#49442 Add tests for send_file and redirect_to instrumentation
  actionpack/test/controller/redirect_test.rb
  actionpack/test/controller/send_file_test.rb
Labels: actionpack

#49451 Ensure PG connection is configured before looking up types
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#49452 Ensure PG connection is configured before looking up types
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#49443 [ci-skip][Docs]Add encryption.add_to_filter_parameters to configuring.md
  guides/source/configuring.md
Labels: docs

#49456 Fix `ActionController::Parameters#deep_merge` RDoc [ci skip]
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#49458 Delegate block in broadcast logger method_missing
  activesupport/lib/active_support/broadcast_logger.rb
  activesupport/test/broadcast_logger_test.rb
Labels: activesupport

#49462 Handle case when `config.logger` is already a BroadcastLogger:
  railties/lib/rails/application/bootstrap.rb
  railties/test/application/configuration_test.rb
Labels: railties

#49465 Ignore sqlite3 database file under the `activerecord/test/storage/`
  activerecord/.gitignore
Labels: activerecord

#49460 Check first two arguments in docker entrypoint
  railties/lib/rails/generators/rails/app/templates/docker-entrypoint.tt
Labels: railties

#49448 Conditionally print `$stdout` when invoking `run_generator`
  guides/source/contributing_to_ruby_on_rails.md
  guides/source/generators.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/testing/behavior.rb
Labels: railties, docs

#49466 `NumberHelper`: handle very large numbers
  activesupport/lib/active_support/number_helper/number_converter.rb
  activesupport/lib/active_support/number_helper/number_to_currency_converter.rb
  activesupport/test/number_helper_test.rb
Labels: activesupport

#49467 Improve instrumentation tests
  actionpack/test/controller/caching_test.rb
  actionpack/test/controller/redirect_test.rb
  actionpack/test/controller/send_file_test.rb
Labels: actionpack

#49471 Update links in Generator Guides
  guides/source/generators.md
Labels: docs

#49474 Document how to upgrade to `ActionView::TestCase#rendered` [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#49477 Resolve Upgrading Rails lint violation
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#49482 Fix test failing because minitest is required
  railties/test/isolation/abstract_unit.rb
Labels: railties

#49475 Implement `HashWithIndifferentAccess#to_proc`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#49476 Split strict_loading with :n_plus_one_only test
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#49483 Fix uniqueness validation to correctly work with expression indexes
  activerecord/lib/active_record/validations/uniqueness.rb
  activerecord/test/cases/validations/uniqueness_validation_test.rb
Labels: activerecord, needs backport

#49470 Load the model schema when running test in eager load context
  actionmailbox/test/test_helper.rb
  activejob/test/helper.rb
  activejob/test/support/integration/adapters/backburner.rb
  activejob/test/support/integration/adapters/queue_classic.rb
  activejob/test/support/integration/adapters/resque.rb
  activejob/test/support/integration/adapters/sidekiq.rb
  activejob/test/support/integration/adapters/sneakers.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/support/connection.rb
  activestorage/test/analyzer/image_analyzer/image_magick_test.rb
  activestorage/test/analyzer/image_analyzer/vips_test.rb
  activestorage/test/dummy/config/environments/test.rb
  activestorage/test/models/variant_test.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
  railties/lib/rails/test_help.rb
  railties/lib/rails/testing/maintain_test_schema.rb
  railties/test/application/test_test.rb
  railties/test/isolation/abstract_unit.rb
  railties/test/plugin_helpers.rb
  tools/test_common.rb
Labels: activerecord, activesupport, railties, activejob, activestorage, actionmailbox

#49480 [ci-skip][Docs]Add description for `db:prepare` command
  guides/source/active_record_migrations.md
Labels: docs

#49484 [ci-skip][Docs]Fix heading in migration guide
  guides/source/active_record_migrations.md
Labels: docs

#49487 Clarify `login_procedure`'s responsibility during request authentication
  actionpack/lib/action_controller/metal/http_authentication.rb
Labels: actionpack

#49391 Ensure transaction tracking finishes when reconnecting
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/test/cases/transaction_instrumentation_test.rb
Labels: activerecord

#49493 Fix login_procedure doc using backticks [ci skip]
  actionpack/lib/action_controller/metal/http_authentication.rb
Labels: actionpack

#49491 Add corrected release month for Rails 7.1
  guides/source/documents.yaml
Labels: docs

#49390 Define `TagBuilder` methods for known HTML Elements
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#49498 Remove webpack as runtime dep of Action Text
  actiontext/package.json
  yarn.lock
Labels: actiontext

#49497 Remove extraneous whitespace from filter parameter template
  railties/lib/rails/generators/rails/app/templates/config/initializers/filter_parameter_logging.rb.tt
Labels: railties

#49511 [ci-skip][Docs]Update changelog links to 7-1-stable
  guides/source/7_1_release_notes.md
Labels: docs

#49507 Ensure `#signed_id` outputs `url_safe` strings
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/signed_id.rb
  activerecord/test/cases/signed_id_test.rb
Labels: activerecord

#49517 Fix typo in exception message re: raise_on_missing_callback_actions
  actionpack/lib/abstract_controller/callbacks.rb
Labels: actionpack

#49518 Add doc to explain how to migrate to the new BroadcastLogger:
  activesupport/lib/active_support/broadcast_logger.rb
  guides/source/upgrading_ruby_on_rails.md
Labels: activesupport, docs

#49526 Fix reverting `rename_table` for older migrations
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord, needs backport

#49528 Adds DOCTYPE html to the response from `up` on the HealthController
  railties/lib/rails/health_controller.rb
Labels: railties

#49533 Typo: Updated the rails version in rails 7.2 release note [skip ci]
  guides/source/7_2_release_notes.md
Labels: docs

#49536 Update gem bug report templates to 7.1
  guides/bug_report_templates/action_controller_gem.rb
  guides/bug_report_templates/action_mailbox_gem.rb
  guides/bug_report_templates/active_job_gem.rb
  guides/bug_report_templates/active_record_gem.rb
  guides/bug_report_templates/active_record_migrations_gem.rb
  guides/bug_report_templates/active_storage_gem.rb
  guides/bug_report_templates/generic_gem.rb
Labels: docs

#49537 Remove require of ActiveSupport::ForkTracker
  activesupport/lib/active_support/evented_file_update_checker.rb
Labels: activesupport

#49542 MemoryStore: prevent race condition
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/memory_store.rb
Labels: activesupport, needs backport

#49503 Backport to 7-0-stable: MemoryStore: preserve entry ttl when incrementing (and race condition fix)
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/test/cache/stores/memory_store_test.rb
Labels: activesupport

#49552 Point to Guide instead of edge [skip ci]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#49504 Fix auto populating `IDENTITY` columns for PostgreSQL
  activerecord/lib/active_record/connection_adapters/postgresql/column.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
Labels: activerecord, needs backport

#49488 Add materialized? to NullTransaction
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
Labels: activerecord

#49525 Ensures the Rails generated Dockerfile uses correct ruby version and matches Gemfile
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#49548 Let controller generator generate double-quoted routes
  railties/lib/rails/generators/rails/controller/controller_generator.rb
  railties/test/generators/controller_generator_test.rb
  railties/test/generators/namespaced_generators_test.rb
Labels: railties

#49547 "NoMethodError: undefined method `pluralize' for an instance of Symbol" in PrismRenderParser
  actionview/lib/action_view/render_parser/prism_render_parser.rb
Labels: actionview

#49565 [ci-skip][Docs]Add raise_on_missing_callback_actions to configuring guide
  guides/source/configuring.md
Labels: docs

#49544 SQLite: add additional quote to table name only when it’s not quoted
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#49562 Update postgres naming to PostgreSQL
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/timestamp_with_time_zone.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/adapter_prevent_writes_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/query_logs_test.rb
  guides/source/7_1_release_notes.md
  railties/lib/rails/generators/rails/app/templates/config/databases/jdbcpostgresql.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/postgresql.yml.tt
Labels: activerecord, railties, docs

#49573 guides/source/configuring.md: fix grammar and spelling
  guides/source/configuring.md
Labels: docs

#49554 Fix `RedisCacheStore` INCR/DECR for Redis < v7.0.0
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#49575 guides/source/asset_pipeline.md: change `Javascript` to `JavaScript`
  guides/source/asset_pipeline.md
Labels: docs

#49556 Fixed formatting in Action Text documentation to make it more consistent. [ci skip]
  guides/source/action_text_overview.md
Labels: docs

#49576 `NumberHelper`: handle objects responding `to_d`
  activesupport/lib/active_support/number_helper/number_converter.rb
  activesupport/test/number_helper_test.rb
Labels: activesupport

#49577 [ci skip] Explain how to configure collection cache key
  guides/source/caching_with_rails.md
Labels: docs

#49581 [ci-skip][Docs]Update guide: NPM -> npm
  RELEASING_RAILS.md
  guides/source/maintenance_policy.md
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#49582 Enable `Style/RedundantDoubleSplatHashBraces` rubocop cop
  .rubocop.yml
  Gemfile.lock
  actionpack/test/dispatch/ssl_test.rb
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/template_test.rb
  activerecord/test/cases/migration/compatibility_test.rb
  activesupport/lib/active_support/number_helper/number_converter.rb
  guides/source/active_storage_overview.md
  guides/source/active_support_core_extensions.md
Labels: actionpack, activerecord, activesupport, docs, actionview

#49539 Updated the rails version in 7.0 to 7.1 in guide [skip ci]
  guides/source/command_line.md
  guides/source/getting_started.md
Labels: actionmailer, actionpack, docs, actionview, activejob, actioncable, actionmailbox, actiontext

#49538 Capitalize framework names [skip ci]
  actionpack/lib/abstract_controller/base.rb
  guides/source/7_1_release_notes.md
  railties/test/railties/mounted_engine_test.rb
Labels: actionpack, railties, docs

#49580 Recommend fixed-width fonts for HTML and CSS as well in documentation [ci-skip]
  guides/source/api_documentation_guidelines.md
Labels: docs

#49515 Don't log enqueuing details when the job wasn't enqueued
  activejob/lib/active_job/log_subscriber.rb
  activejob/test/cases/logging_test.rb
Labels: activejob

#49585 Updated the rails version in 7.1 to 7.2 in guide [skip ci]
  guides/source/command_line.md
  guides/source/getting_started.md
Labels: docs

#49589 Load `author_addresses` fixtures for `ActiveRecordMessagePackTest`
  activerecord/test/cases/message_pack_test.rb
Labels: activerecord

#49553 Updated `@rails/ujs` files to follow 8e3449908c59858384ae230d1416c7dcabc8c2dc
  actionview/CHANGELOG.md
  actionview/app/assets/javascripts/rails-ujs.esm.js
  actionview/app/assets/javascripts/rails-ujs.js
  actionview/test/javascript_package_test.rb
Labels: actionview

#49535 Disallow invalid values for rails new options
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#49532 Added base template for rails 7.2 release note [skip ci]
  guides/source/7_2_release_notes.md
Labels: docs

#49587 Advise upgraders to set active_record.encryption.hash_digest_class
  guides/source/active_record_encryption.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#49593 guides/source/asset_pipeline.md: fix spelling
  guides/source/asset_pipeline.md
Labels: docs

#49598 Fix detecting `IDENTITY` columns for PostgreSQL < 10
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/enum_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/referential_integrity_test.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/migration/index_test.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
  activerecord/test/support/adapter_helper.rb
Labels: activerecord

#49595 test(ruby): fix grammar
  activemodel/test/cases/errors_test.rb
  activerecord/test/cases/scoping/named_scoping_test.rb
Labels: activemodel, activerecord

#49596 Fix documentation for credentails server start command
  railties/lib/rails/commands/credentials/USAGE
  railties/lib/rails/commands/secrets/USAGE
Labels: railties

#49600 Add email to the list of default filter parameters
  railties/lib/rails/generators/rails/app/templates/config/initializers/filter_parameter_logging.rb.tt
Labels: railties

#49602 Update filter_parameters default in configuring guide
  guides/source/configuring.md
Labels: docs

#49603 [ci skip] Typo: broken link
  guides/source/active_record_validations.md
Labels: docs

#49605 Fix code example for create_unlogged_tables
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord, docs

#49546 Add separators between new framework defaults
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: railties

#49609 Use Thor's enum for class_options
  railties/CHANGELOG.md
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#48767 Prevent header wrapping in email preview
  railties/lib/rails/templates/rails/mailers/email.html.erb
Labels: railties

#49613 [ci skip] Bun docs troubleshooting
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#49592 Return back maximum allowed PostgreSQL table name to 63 characters
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/migration/compatibility_test.rb
Labels: activerecord

#49617 Use correct tense of `cast` for guides
  guides/source/active_record_postgresql.md
  guides/source/active_record_validations.md
Labels: docs

#49612 Fix `capture` view helper for HAML and Slim
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/capture_helper.rb
  actionview/test/template/capture_helper_test.rb
Labels: actionview

#49621 ActiveSupport::LogSubscriber restore compatibility with SemanticLogger
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/test/log_subscriber_test.rb
Labels: activesupport

#49616 Support handling Enumerator for non-buffered responses
  actionpack/lib/action_dispatch/http/response.rb
  actionpack/test/dispatch/response_test.rb
Labels: actionpack

#49626 Docs typo: rails/railties/lib/rails/engine.rb
  railties/lib/rails/engine.rb
Labels: railties

#49625 Raise on `foreign_key:` being passed as an array in associations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/reflection_test.rb
Labels: activerecord

#49635 Fix typo in configuring guide [ci skip]
  guides/source/configuring.md
Labels: docs

#49636 Do not memoize auto/eager load paths in engines
  railties/lib/rails/engine.rb
  railties/lib/rails/engine/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties

#49639 Fix mis-labled code block that caused lint failures
  guides/source/configuring.md
Labels: docs

#49642 Suppress mail warning for "unused variable - disp_type_s"
  activesupport/lib/active_support/testing/strict_warnings.rb
Labels: activesupport

#49632 Revert "Freeze rack in 2.0 for guides bug report templates"
  guides/bug_report_templates/action_controller_main.rb
  guides/bug_report_templates/action_mailbox_main.rb
  guides/bug_report_templates/active_storage_main.rb
Labels: docs

#44665 Support Active Model attribute type decoration
  activemodel/lib/active_model/attribute_registration.rb
  activemodel/test/cases/attribute_registration_test.rb
Labels: activemodel

#44666 Use `ActiveModel::AttributeRegistration` in AR
  activemodel/lib/active_model/attribute_registration.rb
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activerecord/lib/active_record/attribute_methods/time_zone_conversion.rb
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/lib/active_record/enum.rb
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/normalization.rb
  activerecord/test/cases/base_test.rb
Labels: activemodel, activerecord

#49490 Improve `Rails::Generators::Actions` logging and debugging
  railties/test/generators/actions_test.rb
Labels: railties

#49658 [ci skip] Fix shard docs
  guides/source/active_record_multiple_databases.md
Labels: docs

#49660 Fix failing linter in `guides/source`
  guides/source/active_record_multiple_databases.md
Labels: docs

#49663 Bump psych to 5.1.1.1
  Gemfile.lock
Labels: ci issues

#49666 Fix extra blank line when no error_highlight
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties, needs backport

#49667 Add description for error_highlight gem
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#49676 Update classic_to_zeitwerk_howto.md [ci skip]
  guides/source/classic_to_zeitwerk_howto.md
Labels: docs

#49674 Drop dependency on `mutex_m`
  Gemfile.lock
  actionpack/lib/action_controller/metal/params_wrapper.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/relation/delegation.rb
  activesupport/activesupport.gemspec
  activesupport/lib/active_support/notifications/fanout.rb
Labels: actionpack, activerecord, activesupport

#49680 Include `ActiveModel::API` in `ActiveRecord::Base`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_assignment.rb
  activerecord/lib/active_record/base.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/translation.rb
  activerecord/lib/active_record/validations.rb
Labels: activerecord

#49700 Typo fix in BigDecimal job arguments warning
  activejob/lib/active_job/arguments.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: activejob

#49694 Fix file cache store `delete_matched` to work on keys longer than allowed filename size
  activesupport/lib/active_support/cache/file_store.rb
  activesupport/test/cache/stores/file_store_test.rb
Labels: activesupport

#49710 Fix activesupport files by requiring missing dependencies
  activesupport/lib/active_support/actionable_error.rb
  activesupport/lib/active_support/broadcast_logger.rb
  activesupport/lib/active_support/core_ext/array/conversions.rb
  activesupport/lib/active_support/core_ext/date/conversions.rb
  activesupport/lib/active_support/core_ext/time/conversions.rb
  activesupport/lib/active_support/i18n_railtie.rb
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/lib/active_support/number_helper.rb
  activesupport/lib/active_support/railtie.rb
  activesupport/lib/active_support/xml_mini.rb
Labels: activesupport

#49711 Fix time travel helpers to work when nested using with separate classes
  activesupport/lib/active_support/testing/time_helpers.rb
  activesupport/test/time_travel_test.rb
Labels: activesupport

#49718 Fix `OrderedOptions#dig` for array indexes
  activesupport/lib/active_support/ordered_options.rb
  activesupport/test/ordered_options_test.rb
Labels: activesupport

#49716 Handle outdated Marshal payloads in Cache::Entry with 6.1 cache_format
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/entry.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
Labels: activesupport

#49677 Make `==(other)` method of AttributeSet safe #49670
  activemodel/lib/active_model/attribute_set.rb
  activemodel/test/cases/attribute_set_test.rb
Labels: activemodel

#49725 Update broken links in testing.md on Setting Header And CGI Variables
  guides/source/testing.md
Labels: docs

#49722 Add racc dependency because it will be bundled
  Gemfile.lock
  actionpack/CHANGELOG.md
  actionpack/actionpack.gemspec
Labels: actionpack

#49727 Add CHANGELOG for 48972 [ci-skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#49726 Add release note for alias_attribute deprecation [ci-skip]
  guides/source/7_1_release_notes.md
Labels: docs

#49730 Fix factually incorrect SQL statements [ci skip]
  guides/source/active_record_querying.md
Labels: docs

#49729 Add Discord invite link to contributing guide
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#49731 Add Discord invite link to contributing guide
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#49732 Fix factually incorrect SQL statements
  guides/source/active_record_querying.md
Labels: docs

#49739 Update zeitwerk:check
  railties/lib/rails/tasks/zeitwerk.rake
  railties/lib/rails/zeitwerk_checker.rb
  railties/test/application/zeitwerk_checker_test.rb
Labels: railties

#49740 Don't use deprecated `#to_default_s` in `Date#to_fs`
  activesupport/lib/active_support/core_ext/date/conversions.rb
  activesupport/test/core_ext/date_ext_test.rb
Labels: activesupport

#49723 Add config option to not touch records
  activestorage/app/models/active_storage/attachment.rb
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage.rb
  activestorage/lib/active_storage/engine.rb
  activestorage/test/engine_test.rb
  guides/source/configuring.md
Labels: docs, activestorage

#49738 Ignore invalid PRIMARY KEY values in `ActiveRecord::Persistence.delete` method
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/persistence_test.rb
Labels: activerecord

#49749 Fix `StrongParameters#extract_value` to include blank values
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/test/controller/parameters/accessors_test.rb
Labels: actionpack

#49720 Add `BroadcastLogger#deep_dup`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/broadcast_logger.rb
  activesupport/test/broadcast_logger_test.rb
Labels: activesupport

#49751 Fix ActiveJob method name in sucker_punch 1.0 error
  activejob/lib/active_job/queue_adapters/sucker_punch_adapter.rb
Labels: activejob

#49758 Clarify ActiveModel::SecurePassword maximum password length [ci skip]
  guides/source/active_model_basics.md
Labels: docs

#49766 Fix Object.with test class name typo
  activesupport/test/core_ext/object/with_test.rb
Labels: activesupport, ready

#49769 Support non-column-backed attributes for `enum`
  activerecord/lib/active_record/enum.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/enum_test.rb
  railties/test/application/test_test.rb
Labels: activerecord, railties

#49668 Fix rails-ujs auto start() in bundled environments
  actionview/.eslintrc
  actionview/CHANGELOG.md
  actionview/app/assets/javascripts/rails-ujs.esm.js
  actionview/app/javascript/rails-ujs/index.js
  actionview/package.json
  actionview/rollup.config.js
  actionview/rollup.config.test.js
  yarn.lock
Labels: actionview

#49773 Fix rails-ujs auto start() in bundled environments [7-1-stable]
  actionview/.eslintrc
  actionview/CHANGELOG.md
  actionview/app/assets/javascripts/rails-ujs.esm.js
  actionview/app/javascript/rails-ujs/index.js
  actionview/package.json
  actionview/rollup.config.js
  actionview/rollup.config.test.js
  yarn.lock
Labels: actionview

#49712 [ci skip] Update Action Mailer guide on how to add images
  guides/source/action_mailer_basics.md
Labels: docs

#49782 Ignore implicit locals if not declared by templates with strict locals
  actionview/CHANGELOG.md
  actionview/lib/action_view/renderer/collection_renderer.rb
  actionview/lib/action_view/template.rb
  actionview/test/template/template_test.rb
Labels: actionview

#49775 Build trilogy adapter with newer API
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
Labels: activerecord

#49779 Fix (2) case in money.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/money.rb
  activerecord/test/cases/adapters/postgresql/money_test.rb
Labels: activerecord

#49455 Turn skips into errors on Rails CI
  activejob/test/cases/exceptions_test.rb
  activesupport/lib/active_support/testing/no_skip.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
  tools/test_common.rb
Labels: activesupport, activejob

#49794 Enable `Lint/InterpolationCheck` rubocop's cop
  .rubocop.yml
  activerecord/lib/active_record/railties/databases.rake
Labels: activerecord

#49793 Dump schema only for a specific db for rollback/up/down tasks for multiple dbs
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#49791 Handle negative numbers in `NumberToHumanSizeConverter`
  actionview/CHANGELOG.md
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/number_helper/number_to_human_size_converter.rb
  activesupport/test/core_ext/numeric_ext_test.rb
  activesupport/test/number_helper_test.rb
Labels: activesupport, actionview

#49792 Fix deprecation warnings for `secrets:edit/show`
  railties/lib/rails/commands/secrets/secrets_command.rb
Labels: railties

#49800 [Fix #49796] Prevent global cache options being overwritten
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#49795 Remove note about inline changelog credit in contributing guide
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#49806 Avoid exposing ActiveSupport::Testing::NoSkip
  activesupport/lib/active_support/testing/no_skip.rb
  tools/test_common.rb
Labels: activesupport

#49807 Fix `ActiveRecord::Promise` example [skip ci]
  activerecord/lib/active_record/promise.rb
Labels: activerecord

#49778 Fix using trix in sprockets
  actiontext/CHANGELOG.md
  actiontext/Rakefile
  actiontext/app/assets/javascripts/actiontext.js
  actiontext/app/assets/javascripts/trix.js
Labels: actiontext

#49808 Optimize ActiveRecord::AttributeMethods::PrimaryKey
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/attribute_methods/composite_primary_key.rb
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#49812 [skip ci] Fix minor typo in ActiveStorage::FixtureSet example
  activestorage/lib/active_storage/fixture_set.rb
Labels: activestorage

#49760 Remove rails guides translation references [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs, ready

#49772 Reload type map when creating or dropping PostgreSQL enums
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord
