Repository rails/rails, pull requests merged in 2023-06, with the labels that each got.

#48355 Handle `sanitize_options` in `simple_format` helper
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/text_helper.rb
  actionview/test/template/text_helper_test.rb
Labels: actionview

#48354 Adding the button using JS and styling with CSS and Image [ #48277 ]
  guides/CHANGELOG.md
  guides/assets/images/up_white_arrow.png
  guides/assets/javascripts/guides.js
  guides/assets/stylesheets/main.css
Labels: docs

#48369 Test rails console with reline
  Gemfile
  Gemfile.lock
  railties/test/application/console_test.rb
  railties/test/engine/commands_test.rb
Labels: railties

#48365 Cleanly fallback when failing to tokenize ERB templates
  actionview/lib/action_view/template/handlers/erb.rb
  actionview/test/fixtures/test/unparseable_runtime_error_2.html.erb
  actionview/test/template/render_test.rb
  activesupport/lib/active_support/core_ext/erb/util.rb
Labels: activesupport, actionview

#48367 Fixing fetch image on 'back-to-top' button
  guides/assets/stylesheets/main.css
Labels: docs

#48241 Assign auto populated columns on Active Record object creation
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/column.rb
  activerecord/lib/active_record/connection_adapters/mysql/column.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/column.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/column.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/trilogy/database_statements.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/adapters/postgresql/uuid_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#48370 Revert deprecation message for prepared statements
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
Labels: activerecord

#48339 Allow an ActiveStorage attachment to be removed via a form post
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/attached/model.rb
  activestorage/test/models/attached/one_test.rb
Labels: activestorage

#45783 [AR] Fix result with anonymous PG columns of different type from json
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/result.rb
  activerecord/test/cases/adapters/postgresql/json_test.rb
Labels: activerecord

#48374 Support `VISUAL` env var, and prefer it over `EDITOR`
  railties/CHANGELOG.md
  railties/lib/rails/command/helpers/editor.rb
  railties/lib/rails/commands/credentials/USAGE
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/lib/rails/commands/encrypted/USAGE
  railties/lib/rails/commands/encrypted/encrypted_command.rb
  railties/lib/rails/commands/secrets/USAGE
  railties/lib/rails/commands/secrets/secrets_command.rb
  railties/test/commands/credentials_test.rb
  railties/test/commands/encrypted_test.rb
  railties/test/commands/secrets_test.rb
  tasks/release.rb
Labels: railties

#48362 Fix polymorphic association subquery
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/relation/predicate_builder/association_query_value.rb
  activerecord/lib/active_record/table_metadata.rb
  activerecord/test/cases/relation/where_test.rb
  activerecord/test/fixtures/treasures.yml
Labels: activerecord

#48342 Backport the optimistic locking and counter cache fix
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/counter_cache_test.rb
  activerecord/test/fixtures/cars.yml
  activerecord/test/fixtures/people.yml
  activerecord/test/models/car.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#48376 Backport #48362 to 7.0 (Fix polymorphic association subquery)
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/relation/predicate_builder/association_query_value.rb
  activerecord/lib/active_record/table_metadata.rb
  activerecord/test/cases/relation/where_test.rb
  activerecord/test/fixtures/treasures.yml
Labels: activerecord

#48357 Add composite primary key validity check on belongs_to associations.
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/models/cpk/book.rb
  activerecord/test/models/cpk/order.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#48380 Add missing docs for request.session
  actionpack/lib/action_controller/metal.rb
Labels: actionpack

#48381 Eagerly validate pool arguments in Redis and MemCache stores
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#48383 Fix link to ActionController::Cookies#cookies
  actionpack/lib/action_dispatch/middleware/cookies.rb
Labels: actionpack

#48384 Require missing models in ActiveRecord tests
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/nested_attributes_test.rb
Labels: activerecord

#47647 Consider options when removing UNIQUE KEYs
  activerecord/lib/active_record/connection_adapters/postgresql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/migration/unique_key_test.rb
Labels: activerecord

#48373 Correct directory-checking block in security.md
  guides/source/security.md
Labels: docs

#48396 Remove :github gem source from template Gemfile
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#48397 improve quoted parameters in mime types
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/dispatch/mime_type_test.rb
Labels: actionpack

#48268 Support batching using composite primary keys and multiple column ordering
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/batches.rb
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#48399 Remove unnecessary disabling of use_transactional_tests
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#48388 Add engine draw_paths to app
  railties/CHANGELOG.md
  railties/lib/rails/engine.rb
  railties/test/railties/engine_test.rb
Labels: railties

#48295 Store `connection_pool` in database-related exceptions
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/connection_adapters/trilogy/lost_connection_exception_translator.rb
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
  activerecord/lib/active_record/errors.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
  activerecord/test/cases/multiple_db_test.rb
Labels: activerecord

#48400 Fix `#scope_for_create` for belongs_to associations with CPK
  activerecord/lib/active_record/associations/singular_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#47633 Allow composite primary key to be derived from schema
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/test/cases/associations/has_and_belongs_to_many_associations_test.rb
  activerecord/test/cases/primary_keys_test.rb
  activerecord/test/models/cpk/book.rb
  activerecord/test/models/cpk/order.rb
Labels: activerecord

#48410 Use native `assert_raises` instead of custom `assert_raises_with_message`
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
  activerecord/test/cases/finder_test.rb
  activesupport/test/core_ext/object/json_gem_encoding_test.rb
Labels: activerecord, activesupport

#48412 Fix defect in Enumerable#many introduced in rails/rails@d862dff
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/test/core_ext/enumerable_test.rb
Labels: activesupport

#48407 Create a class level #with_routing helper
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/assertions.rb
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
  actionpack/test/dispatch/routing_assertions_test.rb
Labels: actionpack

#48409 Test virtual stored columns on create for Postgres
  activerecord/test/cases/persistence_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
Labels: activerecord

#48413 Fix autosave associations with validations added on `:base` of the associated objects
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#48405 Stop appending preload links once the head is already 1kB
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#48414 Speed up ERB expression BLOCK_EXPR regex
  actionview/lib/action_view/template/handlers/erb/erubi.rb
Labels: actionview

#48417 Bump i18n to fix actionview failures
  Gemfile.lock
  actionview/test/template/translation_helper_test.rb
Labels: actionview

#48419 [6-1-stable] Backport i18n to fix actionview failures
  Gemfile.lock
  actionview/test/template/translation_helper_test.rb
Labels: actioncable

#48416 Add tests around has_one changing the target and validators
  activerecord/lib/active_record/associations/has_one_association.rb
  activerecord/lib/active_record/associations/singular_association.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
Labels: activerecord

#48425 Revert "Merge pull request #48406 from rails/revert-46790-singular-as…
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/has_one_association.rb
  activerecord/lib/active_record/associations/singular_association.rb
Labels: activerecord

#48427 [7-0-stable] Fix flakey AS::EventedFileUpdateChecker
  activesupport/lib/active_support/evented_file_update_checker.rb
  activesupport/test/evented_file_update_checker_test.rb
Labels: activesupport

#48431 [7-0-stable] Backport flakey fix for EncodedKeyCacheBehavior
  activesupport/test/cache/behaviors/encoded_key_cache_behavior.rb
Labels: activesupport

#48430 [6-1-stable] Fix flakey AS::EventedFileUpdateChecker
  activesupport/lib/active_support/evented_file_update_checker.rb
  activesupport/test/evented_file_update_checker_test.rb
Labels: activesupport

#48432 [6-1-stable] Backport flakey fix for EncodedKeyCacheBehavior
  activesupport/test/cache/behaviors/encoded_key_cache_behavior.rb
Labels: activesupport

#48433 Handle `ER_DBACCESS_DENIED_ERROR` in mysql2 adapter
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
Labels: activerecord

#48065 Disallow assertionless tests in Active Model
  activemodel/test/cases/attribute_test.rb
  activemodel/test/cases/helper.rb
Labels: activemodel

#48437 Fix duplicate Content-Type header with Rack 2
  actionpack/lib/action_dispatch/middleware/static.rb
  actionpack/test/dispatch/static_test.rb
Labels: actionpack

#47852 Enable force_ssl=true in production by default
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/test/application/asset_debugging_test.rb
  railties/test/application/assets_test.rb
  railties/test/application/loading_test.rb
  railties/test/application/mailer_previews_test.rb
  railties/test/application/middleware/cache_test.rb
  railties/test/application/middleware/exceptions_test.rb
  railties/test/application/query_logs_test.rb
  railties/test/application/rendering_test.rb
  railties/test/application/routing_test.rb
Labels: railties

#48442 Add note about running tests at a specific line
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#48444 Rack spec requires mutable headers
  actionpack/lib/action_dispatch/http/response.rb
  actionpack/test/dispatch/live_response_test.rb
Labels: actionpack

#48448 wrap Arel.sql to avoid error in doc of insert_all, upsert_all
  activerecord/lib/active_record/persistence.rb
Labels: activerecord

#48449 Use cache `:coder` option to specify `:message_pack`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
  guides/source/configuring.md
  railties/test/application/initializers/frameworks_test.rb
Labels: activesupport, railties, docs

#48450 Refactor cache compression tests
  activesupport/test/cache/behaviors.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
  activesupport/test/cache/behaviors/cache_store_compression_behavior.rb
  activesupport/test/cache/stores/file_store_test.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/memory_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#48454 Test respond_to? :to_ary directly on RackBody
  actionpack/test/controller/live_stream_test.rb
Labels: actionpack

#48440 Fix ActiveRecord batching over composite primary keys
  activerecord/lib/active_record/relation/batches.rb
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#48436 Add better TypeError when assigning CPK
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/test/cases/primary_keys_test.rb
Labels: activerecord

#48455 Remove dependency on deprecated Rack::Chunked
  actionpack/lib/action_controller/metal/streaming.rb
Labels: actionpack

#48465 Changed `ActiveRecord::Relation#pluck` guide to be more similar to the API docs for better clarity [skip ci]
  guides/source/active_record_querying.md
Labels: docs

#48467 Add notes about renderable option to guide
  guides/source/layouts_and_rendering.md
Labels: docs

#48473 Fix flaky primary key test
  activerecord/test/cases/primary_keys_test.rb
Labels: activerecord

#48474 Fix `destroy_all` for `has_many through:` associations that points to a CPK model
  activerecord/lib/active_record/associations/through_association.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/fixtures/cpk_order_tags.yml
  activerecord/test/fixtures/cpk_tags.yml
  activerecord/test/models/cpk.rb
  activerecord/test/models/cpk/order_tag.rb
  activerecord/test/models/cpk/tag.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#48470 Store `secret_key_base` in `Rails.config` for local environments.
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
  railties/test/isolation/abstract_unit.rb
  railties/test/path_generation_test.rb
Labels: railties

#44898 Adding PG enum drop, rename, add value, rename value
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/test/cases/adapters/postgresql/enum_test.rb
  activerecord/test/cases/migration/command_recorder_test.rb
  guides/source/active_record_postgresql.md
Labels: activerecord, docs

#48484 Fix setting inverses for composite primary key associations
  activerecord/lib/active_record/associations/association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
Labels: activerecord

#48488 Remove no connection primary key test
  activerecord/test/cases/primary_keys_test.rb
Labels: activerecord

#48493 Use `SHA256` digest instead of `MD4` that is legacy in OpenSSL 3
  activesupport/test/rotation_coordinator_tests.rb
Labels: activesupport

#48496 Fixes to AC::Streaming docs
  actionpack/lib/action_controller/metal/streaming.rb
Labels: actionpack

#48491 Bugfix: Ensure has_one associations saved when part of CPK has changed
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#48505 Fix fixture_path deprecation
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#48490 Eager load composite primary keys models
  activerecord/lib/active_record/associations/join_dependency.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/associations/eager_test.rb
Labels: activerecord

#48504 Remove unnecessary setters of `use_transactional_tests`
  activerecord/test/activejob/destroy_association_async_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/charset_collation_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/schema_migrations_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/table_options_test.rb
  activerecord/test/cases/adapters/postgresql/datatype_test.rb
  activerecord/test/cases/adapters/postgresql/invertible_migration_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_prevent_writes_test.rb
  activerecord/test/cases/adapters/postgresql/range_test.rb
  activerecord/test/cases/adapters/postgresql/referential_integrity_test.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
  activerecord/test/cases/adapters/postgresql/virtual_column_test.rb
  activerecord/test/cases/asynchronous_queries_test.rb
  activerecord/test/cases/disconnected_test.rb
  activerecord/test/cases/invalid_connection_test.rb
  activerecord/test/cases/migration/references_statements_test.rb
  activerecord/test/cases/migrator_test.rb
  activerecord/test/cases/multi_db_migrator_test.rb
  activerecord/test/cases/primary_class_test.rb
  activerecord/test/cases/primary_keys_test.rb
Labels: activerecord

#48500 Don't show secret_key_base for `Rails.application.config#inspect`
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties

#48498 Don't show contents for EncryptedConfiguration#inspect
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/encrypted_configuration.rb
  activesupport/test/encrypted_configuration_test.rb
Labels: activesupport

#48499 Don't show secrets for MessageEncryptor#inspect
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/message_encryptor.rb
  activesupport/test/message_encryptor_test.rb
Labels: activesupport

#48492 Update NOTE for add_enum_value [ci skip]
  guides/source/active_record_postgresql.md
Labels: docs

#48494 Support beginless and endless ranges in `to_fs`
  activesupport/lib/active_support/core_ext/range/conversions.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport

#48514 Set `secret_key_base` on `config` in bug_report_templates
  guides/bug_report_templates/action_controller_gem.rb
  guides/bug_report_templates/action_controller_main.rb
  guides/bug_report_templates/action_mailbox_gem.rb
  guides/bug_report_templates/action_mailbox_main.rb
  guides/bug_report_templates/active_storage_gem.rb
  guides/bug_report_templates/active_storage_main.rb
Labels: docs

#48515 :nail_care: Wrap the AC::Meta::Streaming doc links
  actionpack/lib/action_controller/metal/streaming.rb
Labels: actionpack

#48516 :nail_care: Move `:enddoc: to the top of the file
  railties/lib/rails/test_help.rb
Labels: railties

#48518 update doc to use to_fs over deprecated to_s [ci-skip]
  activesupport/lib/active_support/core_ext/range/conversions.rb
Labels: activesupport

#48404 Added documentation for `ActiveRecord::Relation#pick` [skip ci]
  guides/source/active_record_querying.md
Labels: docs

#48519 Fix deprecation warning messages for `ActiveSupport::TestFixtures`
  activerecord/lib/active_record/test_fixtures.rb
Labels: activerecord

#48522 Update Action Text to use HTML5 when available
  actiontext/app/helpers/action_text/content_helper.rb
  actiontext/lib/action_text.rb
  actiontext/lib/action_text/fragment.rb
  actiontext/lib/action_text/html_conversion.rb
  actiontext/test/integration/controller_render_test.rb
  actiontext/test/integration/job_render_test.rb
Labels: actiontext

#48521 Update guides generation to use Nokogiri's HTML5 parser
  guides/rails_guides/markdown.rb
Labels: docs

#48527 Disallow `id` as an enum value in Active Record
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#48523 Update Action View and Action Dispatch to use HTML5 when available
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/assertions.rb
  actionview/lib/action_view/test_case.rb
  actionview/test/template/form_tag_helper_test.rb
Labels: actionpack, actionview

#48512 Update documentation around fixture paths
  actionmailer/lib/action_mailer/test_case.rb
  activerecord/lib/active_record/fixtures.rb
  activerecord/lib/active_record/test_fixtures.rb
  activesupport/lib/active_support/test_case.rb
Labels: actionmailer, activerecord, activesupport

#48487 Apply scope to association subqueries
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/predicate_builder/association_query_value.rb
  activerecord/lib/active_record/table_metadata.rb
  activerecord/test/cases/relation/where_test.rb
Labels: activerecord

#48534 Revert "Merge pull request #48527 from ghiculescu/active-record-enum-id"
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#48536 Disallow `id` as an enum value in Active Record (v2)
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#48526 Update Active Job testing guide
  activejob/test/cases/test_case_test.rb
  guides/source/testing.md
Labels: docs, activejob

#48471 Improve naming of local secret generation
  actionpack/lib/action_dispatch/middleware/session/cookie_store.rb
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#48539 Add support for nullifying composite primary key has_one associations
  activerecord/lib/active_record/associations/has_one_association.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/models/cpk.rb
  activerecord/test/models/cpk/book.rb
  activerecord/test/models/cpk/chapter.rb
  activerecord/test/models/cpk/order.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#48544 Get rid of unnecessary `gem "minitest"` calls
  activesupport/lib/active_support/test_case.rb
  activesupport/lib/active_support/testing/autorun.rb
Labels: activesupport

#48551 Document Dev Container CLI setup in guides
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#48557 Fix EncryptedConfiguration not behaving like Hash [7-0-stable]
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/encrypted_configuration.rb
  activesupport/test/encrypted_configuration_test.rb
Labels: activesupport

#48556 Fix EncryptedConfiguration not behaving like Hash
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/encrypted_configuration.rb
  activesupport/test/encrypted_configuration_test.rb
Labels: activesupport

#48558 Merge pull request #45837 from hahmed/ha/active-storage-fix-rotation-…
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/analyzer/video_analyzer.rb
  activestorage/test/analyzer/video_analyzer_test.rb
Labels: activestorage

#48567 Add rake tests for trilogy
  activerecord/test/cases/adapters/mysql2/mysql2_rake_test.rb
  activerecord/test/cases/adapters/trilogy/trilogy_rake_test.rb
Labels: activerecord

#48552 Add support for unpersisted CPK has_one/has_many through associations
  activerecord/lib/active_record/associations/has_many_through_association.rb
  activerecord/lib/active_record/associations/through_association.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
  activerecord/test/models/cpk/book.rb
Labels: activerecord

#48566 Fix error ActiveJob passed class with `permitted?`
  activejob/lib/active_job/arguments.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: activejob

#48565 Rename `Range#overlaps?` to `Range#overlap?`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/range.rb
  activesupport/lib/active_support/core_ext/range/overlap.rb
  activesupport/test/core_ext/range_ext_test.rb
  guides/source/active_support_core_extensions.md
Labels: activesupport, docs

#48530 Add a encryption option to support previous data encrypted non-deterministically with a SHA1 hash digest
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption.rb
  activerecord/lib/active_record/encryption/auto_filtered_parameters.rb
  activerecord/lib/active_record/encryption/config.rb
  activerecord/lib/active_record/encryption/configurable.rb
  activerecord/lib/active_record/encryption/contexts.rb
  activerecord/lib/active_record/encryption/derived_secret_key_provider.rb
  activerecord/lib/active_record/encryption/key_generator.rb
  activerecord/lib/active_record/encryption/scheme.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/encryption/configurable_test.rb
  activerecord/test/cases/encryption/encryptable_record_test.rb
  activerecord/test/cases/encryption/key_generator_test.rb
  guides/source/active_record_encryption.md
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: activerecord, railties, docs

#48572 Introduce config.autoload_lib
  guides/source/autoloading_and_reloading_constants.md
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties, docs

#48573 Fix a few typos in changelogs [ci skip]
  activejob/CHANGELOG.md
  activesupport/CHANGELOG.md
Labels: activesupport, activejob

#48574 Extract Select rendering methods into SelectRenderer module and simplify Action View base helper logic
  actionview/lib/action_view/helpers/tags.rb
  actionview/lib/action_view/helpers/tags/base.rb
  actionview/lib/action_view/helpers/tags/collection_check_boxes.rb
  actionview/lib/action_view/helpers/tags/collection_radio_buttons.rb
  actionview/lib/action_view/helpers/tags/collection_select.rb
  actionview/lib/action_view/helpers/tags/date_select.rb
  actionview/lib/action_view/helpers/tags/grouped_collection_select.rb
  actionview/lib/action_view/helpers/tags/select.rb
  actionview/lib/action_view/helpers/tags/select_renderer.rb
  actionview/lib/action_view/helpers/tags/time_zone_select.rb
  actionview/lib/action_view/helpers/tags/weekday_select.rb
Labels: actionview

#48577 Fix Active Record encryption not picking up encryption settings with eager-loading
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/test/cases/encryption/encryptable_record_test.rb
  activerecord/test/cases/encryption/scheme_test.rb
Labels: activerecord

#47827 Remove ActiveRecord::FixtureSet::ClassCache
  activerecord/lib/active_record/fixtures.rb
  activerecord/test/cases/fixtures_test.rb
Labels: activerecord

#48507 Fix empty string saving for ranges
  activerecord/lib/active_record/connection_adapters/postgresql/oid/range.rb
  activerecord/test/cases/adapters/postgresql/range_test.rb
Labels: activerecord, ready

#48578 Add :report behavior to ActiveSupport::Deprecation
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/deprecation/behaviors.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#48580 Fix flaky tests without guaranteed sort
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_many_through_disable_joins_associations_test.rb
Labels: activerecord

#48588 [7-0-stable] Fix rubocop warning
  actionpack/lib/action_controller/metal/redirecting.rb
Labels: actionpack

#48589 [6-1-stable] Fix rubocop
  actionpack/lib/action_controller/metal/redirecting.rb
  actionpack/test/controller/redirect_test.rb
Labels: actionpack

#48575 Make the log level in DebugExceptions configurable
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/lib/action_dispatch/railtie.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionpack, railties, docs

#48564 Use id in composite primary key of cpk book and fix related bugs
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/lib/active_record/attribute_methods/query.rb
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/cases/autosave_association_test.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/batches_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/core_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/cases/primary_keys_test.rb
  activerecord/test/cases/relation/where_test.rb
  activerecord/test/cases/transactions_test.rb
  activerecord/test/cases/validations/uniqueness_validation_test.rb
  activerecord/test/models/cpk/chapter.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#48596 Document and test lib & config.add_autoload_paths_to_load_path
  guides/source/autoloading_and_reloading_constants.md
  guides/source/configuring.md
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: railties, docs

#48599 Make `perform_enqueued_jobs` compatible with all Active Job adapters
  actionmailer/test/test_helper_test.rb
  activejob/CHANGELOG.md
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/test_helper_test.rb
Labels: actionmailer, activejob

#48446 Bounce emails can be sent with `deliver_now`
  actionmailbox/CHANGELOG.md
  actionmailbox/lib/action_mailbox/base.rb
  actionmailbox/test/unit/mailbox/bouncing_test.rb
Labels: actionmailbox

#48597 Fix Railties failing for tests using Webpacker
  railties/test/isolation/abstract_unit.rb
Labels: railties

#48604 Emit warning when using 6.1 cache format as well
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/cache.rb
  railties/test/application/configuration_test.rb
Labels: activesupport, railties

#48610 Introduce config.autoload_lib_once(ignore:)
  guides/source/autoloading_and_reloading_constants.md
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties, docs

#48594 Accept keyword-like named columns for PostgreSQL partial indexes
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#47370 Fix variants not included when eager loading multiple records containing a single attachment
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/attached/model.rb
  activestorage/test/models/variant_with_record_test.rb
Labels: activestorage

#48193 Document generated dirty attribute methods [ci-skip]
  activemodel/lib/active_model/dirty.rb
Labels: activemodel

#48506 Autoload ActiveRecord::FixtureSet
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/fixtures.rb
Labels: activerecord

#48618 Fix some formatting in ActiveModel::Dirty docs [ci-skip]
  activemodel/lib/active_model/dirty.rb
Labels: activemodel

#48614 Improve performance of ActiveSupport::JSON.encode
  activemodel/test/cases/serializers/json_serialization_test.rb
  activerecord/test/cases/json_serialization_test.rb
  activesupport/lib/active_support/json/encoding.rb
  activesupport/test/json/encoding_test_cases.rb
Labels: activemodel, activerecord, activesupport

#48616 Document `ActiveRecord::Dirty` module in the API docs
  activemodel/lib/active_model/dirty.rb
  activerecord/lib/active_record/attribute_methods/dirty.rb
Labels: activemodel, activerecord

#48553 Allow opting in/out of `Link preload` headers when calling `stylesheet_link_tag` or `javascript_include_tag`
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview
