Repository rails/rails, pull requests merged in 2023-01, with the labels that each got.

#46821 HWIA#transform_values may take no argument
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#46865 Cleanup Object pollutions within AR tests by moving test helpers under AR::TestCase
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/adapters/mysql2/optimizer_hints_test.rb
  activerecord/test/cases/adapters/postgresql/optimizer_hints_test.rb
  activerecord/test/cases/connection_adapters/mysql_type_lookup_test.rb
  activerecord/test/cases/connection_adapters/type_lookup_test.rb
  activerecord/test/cases/date_time_precision_test.rb
  activerecord/test/cases/defaults_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/invalid_connection_test.rb
  activerecord/test/cases/locking_test.rb
  activerecord/test/cases/migration/compatibility_test.rb
  activerecord/test/cases/migration/pending_migrations_test.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/pooled_connections_test.rb
  activerecord/test/cases/primary_keys_test.rb
  activerecord/test/cases/relation/load_async_test.rb
  activerecord/test/cases/relation/or_test.rb
  activerecord/test/cases/reload_models_test.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activerecord/test/cases/tasks/mysql_rake_test.rb
  activerecord/test/cases/tasks/postgresql_rake_test.rb
  activerecord/test/cases/tasks/sqlite_rake_test.rb
  activerecord/test/cases/test_case.rb
  activerecord/test/cases/time_precision_test.rb
  activerecord/test/cases/transaction_isolation_test.rb
  activerecord/test/cases/transactions_test.rb
  activerecord/test/cases/view_test.rb
  activerecord/test/schema/mysql2_specific_schema.rb
  activerecord/test/schema/postgresql_specific_schema.rb
  activerecord/test/schema/schema.rb
  activerecord/test/support/adapter_helper.rb
  activerecord/test/support/load_schema_helper.rb
Labels: activerecord

#46874 fix comparison type issue in puma.rb template
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties

#46738 Backport double logging fix in `ActiveRecord::QueryLog` to 7-0-stable
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/railtie.rb
  activejob/CHANGELOG.md
  activejob/lib/active_job/railtie.rb
  railties/test/application/query_logs_test.rb
Labels: actionpack, railties, activejob

#46759 Don't re-assign unchanged belongs_to associations during saves
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#46877 Add documentation for #43487
  actionpack/CHANGELOG.md
  actionpack/lib/abstract_controller/callbacks.rb
Labels: actionpack

#46611 Add ability to match exception messages to `assert_raises` assertion
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/assertions.rb
  activesupport/test/test_case_test.rb
Labels: activesupport

#46206 use Karma as the test runner for the UJS tests
  Gemfile
  Gemfile.lock
  actionview/.gitignore
  actionview/RUNNING_UJS_TESTS.rdoc
  actionview/Rakefile
  actionview/karma.conf.js
  actionview/package.json
  actionview/rollup.config.test.js
  actionview/test/ujs/public/test/call-ajax.js
  actionview/test/ujs/public/test/call-remote-callbacks.js
  actionview/test/ujs/public/test/call-remote.js
  actionview/test/ujs/public/test/csrf-refresh.js
  actionview/test/ujs/public/test/csrf-token.js
  actionview/test/ujs/public/test/data-confirm.js
  actionview/test/ujs/public/test/data-disable-with.js
  actionview/test/ujs/public/test/data-disable.js
  actionview/test/ujs/public/test/data-method.js
  actionview/test/ujs/public/test/data-remote.js
  actionview/test/ujs/public/test/override.js
  actionview/test/ujs/public/test/settings.js
  actionview/test/ujs/public/vendor/jquery-2.2.0.js
  actionview/test/ujs/public/vendor/qunit.css
  actionview/test/ujs/public/vendor/qunit.js
  actionview/test/ujs/server.rb
  actionview/test/ujs/src/attach-bindings.js
  actionview/test/ujs/src/test.js
  actionview/test/ujs/views/layouts/application.html.erb
  actionview/test/ujs/views/tests/index.html.erb
  ci/qunit-selenium-runner.rb
  ci/test_run.rb
  yarn.lock
Labels: actionview

#46886 Add foreign key constraints warning about `destroy_async`
  guides/source/association_basics.md
Labels: docs

#46880 Document request.action_dispatch in guides [ci skip]
  guides/source/active_support_instrumentation.md
Labels: docs

#46888 Use backticks for all querying method headings [ci-skip]
  guides/source/active_record_querying.md
Labels: docs

#46887 LogSubscriber: Fix example syntax for `color` in deprecation message
  activesupport/lib/active_support/log_subscriber.rb
Labels: activesupport

#46890 Only establish temporary pool in prepare_all
  activerecord/lib/active_record/tasks/database_tasks.rb
Labels: activerecord

#46897 Revert "Use cached instance of ruby_version inside RubyGems"
  railties/lib/rails/ruby_version_check.rb
Labels: railties

#46879 Store correct environment in `internal_metadata` when run `rails db:prepare`
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/multi_db_migrator_test.rb
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#46858 Only use HostAuthorization if configured
  railties/lib/rails/application/default_middleware_stack.rb
  railties/test/application/middleware_test.rb
Labels: railties

#46896 Tweak doc to show helper methods need not be public [ci-skip]
  actionpack/lib/abstract_controller/helpers.rb
Labels: actionpack

#46903 Changelog for 0019dea
  actionpack/CHANGELOG.md
Labels: actionpack

#46835 ActiveRecord multiple databases extended doc
  guides/source/active_record_multiple_databases.md
Labels: actionpack, docs, actionview

#46905 Fix typo in classic autoload to zeitwerk guide
  guides/source/classic_to_zeitwerk_howto.md
Labels: docs

#46895 Backports ruby 3.2 compatibility fixes for rails 6.1
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/rescuable.rb
  actionpack/lib/abstract_controller/base.rb
  actionpack/lib/abstract_controller/callbacks.rb
  actionview/lib/action_view/rendering.rb
  activemodel/lib/active_model/attribute_methods.rb
  activerecord/lib/active_record/relation.rb
Labels: actionmailer, actionpack, activemodel, activerecord, actionview

#46898 Don't swallow exception in actionmailer/actionmailbox when requiring "mail" fails
  actionmailbox/lib/action_mailbox/mail_with_error_handling.rb
  actionmailer/lib/action_mailer/mail_with_error_handling.rb
Labels: actionmailer, actioncable, actionmailbox

#46836 Preserve bigint column types when altering a table in sqlite3
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/migration/foreign_key_test.rb
Labels: activerecord

#46871 Prepend a '\n' to the string to be added to `application.js`
  actiontext/lib/generators/action_text/install/install_generator.rb
Labels: actiontext

#46862 Fix IntegrationTest not following Rack SPEC
  actionpack/lib/action_dispatch/testing/integration.rb
  actionpack/test/controller/integration_test.rb
Labels: actionpack

#46659 Handle `NULLS [NOT] DISTINCT` when getting indexes in PostgreSQL
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#46911 Use a separate paragraph for the "learn more" link in AR basics guide [ci-skip]
  guides/source/active_record_basics.md
Labels: docs

#46912 Move note in Active Record basics guide [ci skip]
  guides/source/active_record_basics.md
Labels: docs

#46914 Link to Rendering guide from Action Controller guide[ci-skip]
  guides/source/action_controller_overview.md
Labels: docs

#46913 Split Templates, Partials and Layouts sections in guide [ci-skip]
  guides/source/action_view_overview.md
Labels: docs

#46909 Add Associations section to Active Record basics guide [ci-skip]
  guides/source/active_record_basics.md
Labels: docs

#46190 Add guide for `ActiveRecord::DelegatedType` [skip ci]
  guides/source/association_basics.md
Labels: docs

#46599 Describe env specific ActiveStorage config in the AS guide [skip ci]
  guides/source/active_storage_overview.md
Labels: docs

#46910 Fix Performance/StringInclude that RuboCop can't
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionpack/lib/action_dispatch/http/permissions_policy.rb
Labels: actionpack

#46917 Allow setting config.hosts to nil again
  railties/lib/rails/application/default_middleware_stack.rb
  railties/test/application/middleware_test.rb
Labels: railties

#46919 Allow setting config.hosts to single IPAddr
  railties/lib/rails/application/default_middleware_stack.rb
  railties/test/application/middleware_test.rb
Labels: railties

#46831 [issue-46741] remove `require pathname` from `drop` method
  activerecord/lib/active_record/tasks/sqlite_database_tasks.rb
  activerecord/test/cases/tasks/sqlite_rake_test.rb
Labels: activerecord

#46863 Include amount changed by in `assert_difference` failure message
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/assertions.rb
  activesupport/test/test_case_test.rb
Labels: activesupport

#46796 [docs] Add `where.missing` and `where.associated` to Active Record Querying guide
  guides/source/active_record_querying.md
Labels: docs, ready

#46924 Improve Grouping headings in Active Record Querying guide [ci-skip]
  guides/source/active_record_querying.md
Labels: docs

#46777 Run through Active Record Migrations guide
  guides/source/active_record_migrations.md
Labels: docs

#46700 Pass through Active Record Basics guide
  guides/source/active_record_basics.md
Labels: docs

#46856 [ci-skip] Document default error messages for some validations
  activemodel/lib/active_model/validations/comparison.rb
  activemodel/lib/active_model/validations/numericality.rb
  activemodel/lib/active_model/validations/with.rb
Labels: activemodel

#46851 [Guide] Active Record Validations
  guides/source/active_record_validations.md
Labels: docs

#46921 Fix activejob integration test for Sidekiq 6
  activejob/test/support/integration/adapters/sidekiq.rb
Labels: activejob

#46925 Improve validations wording in Active Record Basics guide [ci-skip]
  guides/source/active_record_basics.md
Labels: docs

#46922 Fix more ci issues for Ruby 2.6
  activejob/test/support/integration/adapters/sidekiq.rb
  activerecord/test/cases/adapters/mysql2/table_options_test.rb
Labels: activerecord, activejob

#46923 Fix ActiveRecord grouped calculations on joined tables on column present in both tables
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/fixtures/accounts.yml
  activerecord/test/models/company.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#46927 [docs] Fix incorrect SQL in Active Record Querying guide
  guides/source/active_record_querying.md
Labels: docs

#46932 Backport #46562
  actioncable/lib/action_cable/subscription_adapter/redis.rb
  actioncable/test/subscription_adapter/redis_test.rb
Labels: actioncable

#46794 Change dockerfile from using Node 19 to match dev environment
  railties/CHANGELOG.md
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
  railties/lib/rails/generators/rails/app/templates/node-version.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#46931 Fix compatability between tests and Sidekiq 6.5
  activejob/test/support/integration/adapters/sidekiq.rb
Labels: activejob

#46664 Run `test:prepare` before `bin/rails test` commands
  guides/source/testing.md
  railties/lib/rails/commands/rake/rake_command.rb
  railties/lib/rails/commands/test/test_command.rb
  railties/test/application/test_runner_test.rb
Labels: railties, docs

#46938 omit assets:precompile in Dockerfile for api only apps
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#46916 Direct support for assigning to `self.response`.
  actionpack/lib/action_controller/metal.rb
  actionpack/test/controller/new_base/bare_metal_test.rb
Labels: actionpack, activerecord, activesupport, railties, docs, actiontext

#46940 Use `#except!` in `HashWithIndifferentAccess#except`
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#46941 Use `map!` in `HashWithIndifferentAccess#values_at`
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#46942 Use `map!` in `HashWithIndifferentAccess#fetch_values`
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#46943 Match arity of `Hash#default` in `HWIA#default`
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activesupport

#46939 Fix schema cache dumping of virtual columns
  activerecord/lib/active_record/connection_adapters/postgresql/column.rb
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#46894 Adds schema parameter into enable_extension
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/extension_migration_test.rb
Labels: activerecord

#46930 Make Active Storage setup instructions less scary
  guides/source/active_storage_overview.md
Labels: docs

#46936 Add a default health controller
  railties/CHANGELOG.md
  railties/lib/rails.rb
  railties/lib/rails/generators/rails/app/templates/config/routes.rb.tt
  railties/lib/rails/health_controller.rb
  railties/test/application/routing_test.rb
  railties/test/generators/scaffold_generator_test.rb
Labels: railties

#46946 TaggedLogging accepts non-String objects
  activesupport/lib/active_support/tagged_logging.rb
  activesupport/test/tagged_logging_test.rb
Labels: activesupport

#46944 Dockerfile binfile fixups; primarily for Windows users
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#46868 Use Ruby 3.2's native ISO 8601-ish String parser to cast String to Time in Active Record
  activemodel/lib/active_model/type/helpers/time_value.rb
  activemodel/lib/active_model/type/time.rb
Labels: activemodel

#46953 Ensure Dockerfile installs commonly needed packages
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#46875 Let `delegate` define method with proper arity when delegating to a class
  actioncable/lib/action_cable/channel/broadcasting.rb
  actioncable/lib/action_cable/channel/naming.rb
  actionview/lib/action_view/layouts.rb
  actionview/test/lib/controller/fake_models.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/module/delegation.rb
  activesupport/test/core_ext/module_test.rb
Labels: activesupport, actionview, actioncable

#46954 Clear metadata tables in tests instead of droping
  activerecord/lib/active_record/schema.rb
  activerecord/test/cases/active_record_schema_test.rb
  activerecord/test/cases/migration/logger_test.rb
  activerecord/test/cases/migration_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#46957 Fix anonymous evals
  actionview/test/actionpack/controller/view_paths_test.rb
  activesupport/lib/active_support/environment_inquirer.rb
Labels: activesupport, actionview

#46416 Simplify `retryable_query_error?` check
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
Labels: activerecord

#46963 split build into base, build, and deploy images
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#46846 Let HWIA#transform_keys take a Hash argument like Ruby's Hash#transform_keys
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#46964 Guides: AR Validations - Mention that Rails will autoload validators
  guides/source/active_record_validations.md
Labels: docs

#46213 before_validations example 1 ,changed .nil? to .blank?
  guides/source/active_record_callbacks.md
Labels: docs

#46965 Fix flaky test in `railties/test/applications/rake/dbs_test.rb`
  railties/test/application/rake/dbs_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: railties

#45980 add documentation for assocation scope block with owner argument
  guides/source/association_basics.md
Labels: docs

#46961 Fix rare conflict of default_render with Minitest::Mock
  actionpack/lib/action_controller/metal/basic_implicit_render.rb
  actionpack/test/controller/api/implicit_render_test.rb
Labels: actionpack

#46969 Enable Style/EvalWithLocation
  .rubocop.yml
  actionview/lib/action_view/helpers/atom_feed_helper.rb
  activerecord/lib/active_record/association_relation.rb
  activesupport/lib/active_support/testing/stream.rb
  railties/lib/rails/generators/migration.rb
Labels: activerecord, activesupport, railties, actionview

#46971 Fix flaky metadata environment test
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#46975 ReadOnlyAttribute: no need for code generation
  activerecord/lib/active_record/readonly_attributes.rb
Labels: activerecord

#46966 Adjust whitespace and comments on Dockerfile stages
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#46976 Dockerfile non x86 architectures
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#46977 install node modules prior to assets:precompile
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#46974 Scope generated route helpers to an instance of RoutesProxy
  actionpack/lib/action_dispatch/routing/routes_proxy.rb
  railties/test/railties/mounted_engine_test.rb
Labels: actionpack, railties

#46978 add test to BUNDLE_WITHOUT
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#46164 Show common commands when calling `rails -h` outside a Rails dir
  railties/CHANGELOG.md
  railties/lib/rails/cli.rb
  railties/lib/rails/command.rb
  railties/lib/rails/commands/gem_help/USAGE
  railties/lib/rails/commands/gem_help/gem_help_command.rb
  railties/lib/rails/commands/help/USAGE
  railties/lib/rails/commands/help/help_command.rb
  railties/test/application/help_test.rb
Labels: railties

#46980 Revert "add test to BUNDLE_WITHOUT"
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#46979 Imply `--skip-decrypted-diffs` from `--skip-git`
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
Labels: railties

#46982 Adjust newlines in runner command USAGE
  railties/lib/rails/commands/runner/USAGE
Labels: railties

#46985 Emphasize precedence of `RAILS_MASTER_KEY` in USAGE
  railties/lib/rails/commands/credentials/USAGE
  railties/lib/rails/commands/encrypted/USAGE
Labels: railties

#46986 Hide `runner:looks_like_a_file_path?`
  railties/lib/rails/commands/runner/runner_command.rb
Labels: railties

#46987 Hide `routes:invoke_command`
  railties/lib/rails/commands/routes/routes_command.rb
Labels: railties

#46988 Load `version.rb` for Action Mailbox and Action Text
  actionmailbox/lib/action_mailbox.rb
  actiontext/lib/action_text.rb
Labels: actionmailbox, actiontext

#46990 Move test to `api_app_generator_test.rb`
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#46994 Guides: Update Active Record Postgres guide Enum documentation
  guides/source/active_record_postgresql.md
Labels: docs

#46991 split build and deploy packages
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#46998 Update Command Line guide examples [ci-skip]
  guides/source/command_line.md
Labels: docs

#46989 discard marshal dumped values when reading a signed cookie
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/test/dispatch/cookies_test.rb
Labels: actionpack

#47001 Refactor schema dumping helper for tests
  activerecord/test/support/schema_dumping_helper.rb
Labels: activerecord

#46908 Implement spot and don't use `keep_script_lines` in Ruby 3.2
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionview/lib/action_view/template.rb
  actionview/test/template/render_test.rb
  railties/lib/rails/application/configuration.rb
Labels: actionpack, railties, actionview

#46928 Fix action text dummy app so integration tests can run
  actiontext/test/dummy/.postcssrc.yml
  actiontext/test/dummy/app/controllers/messages_controller.rb
  actiontext/test/dummy/app/javascript/application.js
  actiontext/test/dummy/app/views/layouts/application.html.erb
  actiontext/test/dummy/babel.config.js
  actiontext/test/dummy/config/importmap.rb
  actiontext/test/dummy/config/initializers/assets.rb
  actiontext/test/dummy/config/webpack/development.js
  actiontext/test/dummy/config/webpack/environment.js
  actiontext/test/dummy/config/webpack/production.js
  actiontext/test/dummy/config/webpack/test.js
  actiontext/test/dummy/config/webpacker.yml
  actiontext/test/dummy/package.json
  actiontext/test/dummy/postcss.config.js
  actiontext/test/dummy/yarn.lock
  actiontext/test/system/system_test_helper_test.rb
Labels: actiontext

#47005 Add warning for missing translate_location
  actionview/lib/action_view/template.rb
Labels: actionview

#47004 Add S3 Cache-Control header example to guide [ci-skip]
  guides/source/active_storage_overview.md
Labels: docs

#47009 Stop doc on ruby_version_check.rb
  railties/lib/rails/ruby_version_check.rb
Labels: railties

#47013 Revert "Optimize for the default case where TaggedLogger takes only one tag name"
  activesupport/lib/active_support/tagged_logging.rb
  activesupport/test/tagged_logging_test.rb
Labels: activesupport

#47014 Fix require in generated `bin/rails` with `--skip-active-job`
  railties/lib/rails/generators/rails/plugin/templates/bin/rails.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#47016 Fix broken link to trix stylesheet in Action Text guide
  guides/source/action_text_overview.md
Labels: docs

#46999 Show usage example for `rails --help`
  guides/source/command_line.md
  railties/lib/rails/commands/gem_help/USAGE
  railties/lib/rails/commands/help/USAGE
Labels: railties, docs

#47015 Add missing requires in generated plugin `bin/rails`
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/config/application.rb.tt
  railties/lib/rails/generators/rails/plugin/templates/bin/rails.tt
Labels: railties

#47011 Link to security guide on sql inject from Arel.sql
  activerecord/lib/arel.rb
Labels: activerecord

#46972 [#46936] Add documentation for Rails::HealthController
  guides/source/action_controller_overview.md
  railties/lib/rails/health_controller.rb
Labels: railties, docs

#47018 Unlink Callbacks module name from self
  activesupport/lib/active_support/callbacks.rb
Labels: activesupport

#47021 Dockerfile: precompile gems in the bundle install layer
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#47017 `ActiveSupport::CurrentAttributes`: raise if a restricted attribute name is used.
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#47023 Improve Rails' Shape friendliness
  actionpack/lib/action_controller/metal/instrumentation.rb
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionview/lib/action_view/template.rb
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/lib/active_model/dirty.rb
  activemodel/lib/active_model/naming.rb
  activemodel/lib/active_model/validations.rb
  activerecord/lib/active_record/aggregations.rb
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/builder/has_and_belongs_to_many.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/attribute_methods/dirty.rb
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/enum.rb
  activerecord/lib/active_record/inheritance.rb
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/railties/controller_runtime.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/timestamp.rb
  activerecord/lib/active_record/transactions.rb
  activesupport/lib/active_support/descendants_tracker.rb
Labels: actionpack, activemodel, activerecord, activesupport, actionview

#47010 Add regroup method to ActiveRecord
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/mutation_test.rb
  activerecord/test/cases/relations_test.rb
  guides/source/active_record_querying.md
Labels: activerecord, docs

#46955 Improve `TaggedLogging::Formatter` performance
  activesupport/lib/active_support/tagged_logging.rb
Labels: activesupport

#46997 Add descriptions for non-Rake commands when running `rails -h`
  railties/CHANGELOG.md
  railties/lib/rails/command/base.rb
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/lib/rails/commands/db/system/change/change_command.rb
  railties/lib/rails/commands/destroy/destroy_command.rb
  railties/lib/rails/commands/dev/dev_command.rb
  railties/lib/rails/commands/encrypted/encrypted_command.rb
  railties/lib/rails/commands/notes/notes_command.rb
  railties/lib/rails/commands/routes/routes_command.rb
  railties/lib/rails/commands/runner/runner_command.rb
  railties/lib/rails/commands/secrets/secrets_command.rb
  railties/lib/rails/commands/version/version_command.rb
  railties/test/application/help_test.rb
  railties/test/command/base_test.rb
Labels: railties

#47026 Fix lint error on `main`
  activerecord/lib/active_record/core.rb
Labels: activerecord

#47025 `assert_emails`: return the emails that were sent
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/test_helper.rb
  actionmailer/test/test_helper_test.rb
Labels: actionmailer

#47022 Fix more links for callbacks
  activemodel/lib/active_model/callbacks.rb
  activemodel/lib/active_model/validations/callbacks.rb
  activerecord/lib/active_record/callbacks.rb
Labels: activemodel, activerecord

#46915 Update `ActionPack` render template with locals tests
  actionpack/test/controller/new_base/render_template_test.rb
Labels: actionpack

#47032 Improve Rails' Shape friendliness (second pass)
  actionpack/lib/action_controller/metal.rb
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/helpers/controller_helper.rb
  actionview/lib/action_view/test_case.rb
  activemodel/lib/active_model/validations.rb
  activerecord/lib/active_record/attribute_methods/dirty.rb
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/touch_later.rb
  activerecord/lib/active_record/transactions.rb
  activesupport/lib/active_support/encrypted_configuration.rb
  activesupport/lib/active_support/number_helper/number_converter.rb
Labels: actionpack, activemodel, activerecord, activesupport, actionview

#47029 Update docs in actionpack to use bin/rails
  actionpack/lib/action_dispatch/routing.rb
Labels: actionpack

#47034 Rename `::normalize` to `::normalize_value_for`
  activerecord/lib/active_record/normalization.rb
  activerecord/test/cases/normalized_attribute_test.rb
Labels: activerecord

#47038 Fixes rubocop errors
  activesupport/test/core_ext/enumerable_test.rb
Labels: activesupport

#47036 Fix optimizer hint test
  activerecord/test/cases/adapters/mysql2/optimizer_hints_test.rb
Labels: activerecord

#46996 [Guide] Active Record Callbacks
  guides/source/active_record_callbacks.md
  guides/source/active_record_validations.md
Labels: docs

#47042 Make Active Storage setup a bit more clear [ci skip]
  guides/source/active_storage_overview.md
Labels: docs

#47044 update example for ::normalize to ::normalize_value_for [ci-skip]
  activerecord/lib/active_record/normalization.rb
Labels: activerecord

#46690 Allow SQL warnings to be reported.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/errors.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  guides/source/configuring.md
Labels: activerecord, docs

#47019 Add `rake test:isolated` for Action Mailbox
  actionmailbox/Rakefile
Labels: actionmailbox

#47049 Improve Rails' Shape friendliness (third pass)
  actionpack/lib/action_controller/metal/url_for.rb
  activesupport/lib/active_support/configurable.rb
Labels: actionpack, activesupport

#47039 Make sure `ActiveRecord::Relation#sum` works with objects that implement #coerce without deprecation
  activerecord/lib/active_record/relation/calculations.rb
Labels: activerecord

#47027 `ActiveRecord::Base#signed_id`: raise if called on a new record
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/signed_id.rb
  activerecord/test/cases/signed_id_test.rb
Labels: activerecord

#46327 Fix content-type header with `send_stream`
  actionpack/lib/action_controller/metal/live.rb
  actionpack/test/controller/live_stream_test.rb
Labels: actionpack, ready

#46589 FormBuilder#id finds id set by `form_for` & `form_with`
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper/form_with_test.rb
Labels: actionview, ready

#41415 Allows passing sub protocols with ActionCable
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/assets/javascripts/actioncable.esm.js
  actioncable/app/assets/javascripts/actioncable.js
  actioncable/app/javascript/action_cable/connection.js
  actioncable/app/javascript/action_cable/consumer.js
  actioncable/test/javascript/src/test_helpers/consumer_test_helper.js
  actioncable/test/javascript/src/unit/consumer_test.js
Labels: actioncable, ready

#47050 Backport #45745
  actionview/test/template/form_helper/form_with_test.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview

#47051 Fix spelling in Active Record CHANGELOG
  activerecord/CHANGELOG.md
Labels: activerecord, needs backport

#46948 Add Arel functionality for "stitching together" SQL
  activerecord/CHANGELOG.md
  activerecord/lib/arel/nodes.rb
  activerecord/lib/arel/nodes/fragments.rb
  activerecord/lib/arel/nodes/sql_literal.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/nodes/fragments_test.rb
  activerecord/test/cases/arel/nodes/sql_literal_test.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#46993 Fix missing requires in Action Mailbox
  actionmailbox/lib/action_mailbox.rb
Labels: actionmailbox

#47065 Emphasis that a request must be made first
  guides/source/testing.md
Labels: docs

#47068 Prefer a table than inline code comments, which are harder to read
  guides/source/i18n.md
Labels: docs

#47069 [ci-skip] Remove obsolete paragraph from form_helpers.md Guide for Rails 7
  guides/source/form_helpers.md
Labels: docs

#47070 Address `test_warnings_do_not_change_returned_value_of_exec_(update|delete)` failures
  activerecord/test/fixtures/bad_posts.yml
Labels: activerecord

#47066 Improve matching of cookie assertions.
  actionpack/test/abstract_unit.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/controller/request_forgery_protection_test.rb
  actionpack/test/dispatch/cookies_test.rb
  actionpack/test/dispatch/response_test.rb
  actionpack/test/dispatch/session/cookie_store_test.rb
Labels: actionpack

#47056 Update action_text_overview.md for libvips42 note
  guides/source/action_text_overview.md
Labels: docs

#47063 Add test for HealthController
  railties/test/rails_health_controller_test.rb
Labels: railties
