Repository rails/rails, pull requests merged in 2023-11, with the labels that each got.

#49876 Add caveat about `normalizes` / `Marshal` interaction [ci-skip]
  activerecord/lib/active_record/normalization.rb
Labels: activerecord

#49865 Reset indentation of equals assignation
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
Labels: railties

#49881 Typo fix: updates the rails version [skip ci]
  guides/source/documents.yaml
Labels: docs

#49880 Remove period from title [skip ci]
  guides/source/7_1_release_notes.md
Labels: docs

#49882 Add zettabytes documentation to the guide
  guides/source/active_support_core_extensions.md
Labels: docs

#49669 Fix decoding data encoded using a non-String purpose
  activesupport/lib/active_support/messages/metadata.rb
  activesupport/test/messages/message_metadata_tests.rb
Labels: activesupport

#49644 Non-zero exit status on migration file creation errors
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/migration/migration_generator.rb
  railties/test/generators/migration_generator_test.rb
Labels: activerecord, railties

#49831 Update Callbacks Documentation: Specify 'after_commit' and 'after_rollback' Behavior for Multiple Objects of the Same Record [ci skip]
  guides/source/active_record_callbacks.md
Labels: activerecord, needs feedback, docs

#49884 Move new warning after example of previous warning [ci-skip]
  guides/source/active_record_callbacks.md
Labels: docs

#49885 Clarify transaction callbacks section [ci-skip]
  guides/source/active_record_callbacks.md
Labels: docs

#49890 Do not use `INSERT IGNORE` when upserting to MariaDB
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#49863 Allow accepting `service` as a proc in `has_one_attached` and `has_many_attached`
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage/attached/changes/create_one.rb
  activestorage/lib/active_storage/attached/model.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
Labels: activestorage

#49891 Document async option in guides for query.active_record events
  guides/source/active_support_instrumentation.md
Labels: docs

#49888 Expand the transaction callback ordering in guides [ci-skip]
  activerecord/lib/active_record/callbacks.rb
  guides/source/active_record_callbacks.md
  guides/source/configuring.md
Labels: activerecord, docs

#49570 Optimize `ActiveRecord::QueryMethods.excluding`
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/excluding_test.rb
Labels: activerecord, docs

#49851 Remove `config.public_file_server.enabled` from environment templates
  actionmailbox/test/dummy/config/environments/test.rb
  actiontext/test/dummy/config/environments/test.rb
  activestorage/test/dummy/config/environments/test.rb
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/test/application/assets_test.rb
  railties/test/application/configuration_test.rb
Labels: railties, activestorage, actionmailbox, actiontext

#49901 [ci skip] Update development_dependencies_install document for nodesource setup
  guides/source/development_dependencies_install.md
Labels: docs

#49910 Port `type_for_attribute` to Active Model
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/attribute_registration.rb
  activemodel/test/cases/attribute_registration_test.rb
  activemodel/test/cases/attributes_test.rb
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/attributes_test.rb
Labels: activemodel, activerecord

#44534 Port `BeforeTypeCast` to Active Model
  activemodel/CHANGELOG.md
  activemodel/lib/active_model.rb
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/lib/active_model/attribute_registration.rb
  activemodel/lib/active_model/attributes.rb
  activemodel/lib/active_model/before_type_cast.rb
  activemodel/test/cases/before_type_cast_test.rb
  activerecord/lib/active_record/attribute_methods/before_type_cast.rb
Labels: activemodel, activerecord

#49907 Move the association callbacks section to the callbacks guides [ci-skip]
  guides/source/active_record_callbacks.md
  guides/source/association_basics.md
Labels: docs

#49909 Specialize various `#present?` implementations
  activesupport/lib/active_support/core_ext/date/blank.rb
  activesupport/lib/active_support/core_ext/date_time/blank.rb
  activesupport/lib/active_support/core_ext/object/blank.rb
  activesupport/lib/active_support/core_ext/pathname/blank.rb
  activesupport/lib/active_support/time_with_zone.rb
Labels: activesupport

#49912 Merge pull request #49884 from p8/guides/move-after-commit-warning
  guides/source/active_record_callbacks.md
Labels: docs

#49913 Merge pull request #49885 from p8/guides/transaction-callbacks
  guides/source/active_record_callbacks.md
Labels: docs

#49914 Backport bbc6230ae7
  activerecord/lib/active_record/callbacks.rb
  guides/source/active_record_callbacks.md
  guides/source/configuring.md
Labels: actionmailer, actionpack, actioncable, actionmailbox, actiontext

#49915 Merge pull request #49907 from p8/guides/association-callbacks
  guides/source/active_record_callbacks.md
  guides/source/association_basics.md
Labels: docs

#49916 Merge pull request #49901 from m11o/feature/update-nodesource-docs
  guides/source/development_dependencies_install.md
Labels: docs

#49917 Avoid recalculating `CounterCache.counter_cached_association_names`
  activerecord/lib/active_record/counter_cache.rb
Labels: activerecord

#49911 return nil for `ActiveRecord::Base.table_name`
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#49790 ActionMailer Email Preview - show date header when present
  railties/CHANGELOG.md
  railties/lib/rails/templates/rails/mailers/email.html.erb
  railties/test/application/mailer_previews_test.rb
Labels: railties

#49924 Fix formatting of `AV::TestCase.register_parser` doc [ci-skip]
  actionview/lib/action_view/test_case.rb
Labels: actionview

#49923 API documentation reference added to view helper [ci skip]
  guides/source/action_view_helpers.md
Labels: docs

#49931 Update `JavascriptPackageTest` tests
  actioncable/test/javascript_package_test.rb
  actionview/test/javascript_package_test.rb
  activestorage/test/javascript_package_test.rb
Labels: actionview, actioncable, activestorage

#49932 Add `JavascriptPackageTest` for Action Text
  actiontext/test/javascript_package_test.rb
Labels: actiontext

#49933 Update `.gitattributes` for generated JavaScript [ci-skip]
  actioncable/app/assets/javascripts/.gitattributes
  actiontext/app/assets/javascripts/.gitattributes
  actionview/app/assets/javascripts/.gitattributes
  activestorage/app/assets/javascripts/.gitattributes
Labels: actionview, actioncable, activestorage, actiontext

#49802 Recover from failed connections in PostgreSQL
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#49934 Fix PostgreSQL `Uuid#change?` to ignore uuid's value formatting
  activerecord/lib/active_record/connection_adapters/postgresql/oid/uuid.rb
  activerecord/test/cases/adapters/postgresql/uuid_test.rb
Labels: activerecord

#49904 Don't mark Float::INFINITY as changed if didn't
  activemodel/lib/active_model/type/helpers/numeric.rb
  activerecord/CHANGELOG.md
  activerecord/test/cases/adapters/postgresql/numbers_test.rb
Labels: activemodel, activerecord

#49936 Docs: Replace "off" with `false` [ci skip]
  activerecord/lib/active_record/nested_attributes.rb
Labels: activerecord

#49947 Enable YJIT by default if running Ruby 3.3+
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/config/initializers/enable_yjit.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/initializers/yjit.rb.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#49948 Fix grammer in railties changelog
  railties/CHANGELOG.md
Labels: railties

#49954 Recover from failed connections in PostgreSQL [7-1 backport]
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#48782 Only show SMTP envelope recipient when relevant
  railties/CHANGELOG.md
  railties/lib/rails/templates/rails/mailers/email.html.erb
  railties/test/application/mailer_previews_test.rb
Labels: railties

#49944 Add connection pool to connection timeout errors
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/test/cases/connection_pool_test.rb
Labels: activerecord

#49828 Ignore inline attachments and show attached emails in attachment list
  railties/CHANGELOG.md
  railties/lib/rails/mailers_controller.rb
  railties/lib/rails/templates/rails/mailers/email.html.erb
  railties/test/application/mailer_previews_test.rb
Labels: railties

#49957 Update documentation in asset_tag_helper.rb [ci-skip]
  actionview/lib/action_view/helpers/asset_tag_helper.rb
Labels: actionview

#49811 Prevent marking broken connections as verified
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/trilogy/database_statements.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#49967 Update description for show_exceptions in environments/test.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
Labels: railties

#49969 ActiveJob: Remove unused `QueueAsJob` test job
  activejob/test/jobs/queue_as_job.rb
Labels: activejob

#49960 Eager load ActiveSupport::Callback procs
  activesupport/lib/active_support/callbacks.rb
Labels: activesupport

#49971 Name the connection pool reaper thread
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool/reaper.rb
Labels: activerecord

#49970 Pass along with_raw_connection params in PG adapter
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
Labels: activerecord

#49972 Revert "Port `BeforeTypeCast` to Active Model"
  activemodel/CHANGELOG.md
  activemodel/lib/active_model.rb
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/lib/active_model/attribute_registration.rb
  activemodel/lib/active_model/attributes.rb
  activemodel/lib/active_model/before_type_cast.rb
  activemodel/test/cases/before_type_cast_test.rb
  activerecord/lib/active_record/attribute_methods/before_type_cast.rb
Labels: activemodel, activerecord

#49765 Make the output of `ActiveRecord::Core#inspect` configurable.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/attributes_test.rb
  activerecord/test/cases/core_test.rb
  activerecord/test/cases/filter_attributes_test.rb
  activerecord/test/models/developer.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#49952 Fix using actiontext.js in sprocket
  actiontext/CHANGELOG.md
  actiontext/app/assets/javascripts/.gitattributes
  actiontext/app/assets/javascripts/actiontext.esm.js
  actiontext/app/assets/javascripts/actiontext.js
  actiontext/lib/action_text/engine.rb
  actiontext/lib/generators/action_text/install/install_generator.rb
  actiontext/package.json
  actiontext/rollup.config.js
  actiontext/test/dummy/config/importmap.rb
  actiontext/test/javascript_package_test.rb
Labels: actiontext

#49965 Eager load Journey Formatter cache
  actionpack/lib/action_dispatch/journey/formatter.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
Labels: actionpack

#49974 Fix `RedisCacheStore#write_multi` with `:expires_in`
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#49975 remove duplicate test whose name doesn't match the tested method
  actionview/test/template/form_helper/form_with_test.rb
Labels: actionview

#49984 Add missing preload_link_tag method in ActionView helper guide [ci skip]
  guides/source/action_view_helpers.md
Labels: docs

#49985 Update ActiveSupport::Cache::RedisCacheStore documentation [ci skip]
  guides/source/caching_with_rails.md
Labels: docs

#49988 Fix running db:system:change with no Dockerfile
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/db/system/change/change_generator.rb
  railties/test/commands/db_system_change_test.rb
Labels: railties, needs backport

#49989 fix preposition in ActionView::Helpers::FormHelper comments
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#49987 Automatically eager load TZInfo
  Gemfile.lock
  activesupport/activesupport.gemspec
  activesupport/lib/active_support/railtie.rb
Labels: activesupport

#49050 [Fix #48535]: fix behavior of `proc_for_binds` in `Arel::Nodes::HomogenousIn`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/extended_deterministic_queries.rb
  activerecord/lib/arel/nodes/homogeneous_in.rb
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#49991 Avoid extra array allocation for `where(x: [...])`
  activerecord/lib/active_record/relation/predicate_builder/array_handler.rb
Labels: activerecord

#49997 [ci skip] Typo a/an
  guides/source/active_record_querying.md
Labels: docs

#49839 Fix config.secret_key_base warning about secrets
  railties/lib/rails/application.rb
  railties/test/application/configuration_test.rb
Labels: railties, needs backport

#50004 Add `actionmailer` bug report template
  guides/bug_report_templates/action_mailer_gem.rb
  guides/bug_report_templates/action_mailer_main.rb
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#49692 Fix issue with wrong argument type when using prefetch_primary_key?
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/models/post_with_prefetched_pk.rb
Labels: activerecord

#49998 Fix renaming primary key index when renaming a PostgreSQL table having uuid primary key
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/rename_table_test.rb
Labels: activerecord

#50013 Move PG-specific tests to `PostgresqlRenameTableTest`
  activerecord/test/cases/adapters/postgresql/rename_table_test.rb
  activerecord/test/cases/migration/rename_table_test.rb
Labels: activerecord

#50012 Fix using `self.inherited` removing filter_attributes & GeneratedAssociationMethods generated multiple times
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/inherited_test.rb
Labels: activerecord

#50016 Add missing closing backtick
  railties/lib/rails/application.rb
Labels: railties

#50015 Remove config.load_paths reference from guide [ci skip]
  guides/source/configuring.md
Labels: docs

#50006 Fix #50005 transform_job not accepting previewables
  activestorage/CHANGELOG.md
  activestorage/app/jobs/active_storage/transform_job.rb
  activestorage/test/jobs/transform_job_test.rb
Labels: activestorage

#49920 Add picture_tag to ActionView helpers documentation [ci skip]
  guides/source/action_view_helpers.md
Labels: actionpack, activemodel, docs, actionview, activejob, actioncable, actionmailbox, actiontext

#50008 Fix logged cache key normalization
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/file_store.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_logging_behavior.rb
  activesupport/test/cache/stores/file_store_test.rb
Labels: activesupport

#49979 Not only `save(validate: false)` but also `save!(validate: false)` triggers callbacks
  guides/source/active_record_callbacks.md
Labels: docs

#50031 Improve `set_load_path` documentation
  guides/source/configuring.md
Labels: docs

#50022 Updated rails about guide content with latest data [skip ci]
  guides/source/command_line.md
Labels: docs

#50041 Ensure globals reset after Active Storage tests
  activestorage/test/test_helper.rb
Labels: activestorage

#50043 Fix strict loading for Active Storage previews
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/controllers/representations/redirect_controller_test.rb
  activestorage/test/models/blob_test.rb
Labels: activestorage

#50044 Process preview variant when processing preview
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/preview.rb
  activestorage/test/jobs/transform_job_test.rb
  activestorage/test/models/preview_test.rb
Labels: activestorage

#50052 Fix grammar in Generators guide to aid readibility [ci skip]
  guides/source/generators.md
Labels: docs

#50053 ActiveSupport::Deprecation handle blaming generated code
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#50054 Formally deprecate passing `caller` to `Deprecation#warn`
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#50058 ActionView::Template fix computation of strict locals
  actionview/lib/action_view/template.rb
  actionview/test/template/template_test.rb
Labels: actionview

#50055 Fix `rails db:create:all` to not touch databases before they are created
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#50042 minor: fixes a link to an old blog post about Valgrind in the docs [ci skip]
  guides/source/debugging_rails_applications.md
Labels: docs

#49995 Fix links for the ActiveRecord readme [ci-skip]
  activerecord/README.rdoc
Labels: activerecord

#50062 Use `api.rubyonrails.org` URLs in `README.rdoc` [ci-skip]
  activemodel/README.rdoc
  activerecord/README.rdoc
Labels: activemodel, activerecord

#50061 DatabaseConfigurations#configs_for can accept a symbol in the name param
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations.rb
  activerecord/test/cases/database_configurations_test.rb
Labels: activerecord

#50069 Fix `word_wrap` with empty string
  actionview/lib/action_view/helpers/text_helper.rb
  actionview/test/template/text_helper_test.rb
Labels: actionview

#50046 [ActiveStorage] Prevent `AS::Preview#processed` to generate a variant for an empty transformation
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/preview.rb
  activestorage/test/models/preview_test.rb
Labels: activestorage

#50057 Routing::Mapper: Use Thread.each_caller_location if available
  actionpack/lib/action_dispatch/routing/mapper.rb
Labels: actionpack, railties

#50070 link to internet archive for valgrind blog link in debugging_rails_ap…
  guides/source/debugging_rails_applications.md
Labels: docs

#50064 Refactor lookup of connection adapters
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/test/active_record/connection_adapters/fake_adapter.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/connection_test.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_create_folder_test.rb
  activerecord/test/cases/adapters/sqlite3/transaction_test.rb
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
  activerecord/test/cases/connection_adapters/adapter_leasing_test.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  activerecord/test/cases/connection_adapters/standalone_connection_test.rb
  activerecord/test/cases/database_configurations/hash_config_test.rb
  activerecord/test/cases/database_configurations/resolver_test.rb
  activerecord/test/cases/database_configurations_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/migration/foreign_key_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activerecord/test/support/config.rb
  activerecord/test/support/fake_adapter.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/commands/dbconsole_test.rb
  railties/test/generators/generators_test_helper.rb
Labels: activerecord, railties

#49873 Make return value of `Cache::Store#write` consistent
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
  activesupport/test/cache/behaviors/failure_safety_behavior.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#50081 fix typo in production initializer generator
  actionmailbox/test/dummy/config/environments/production.rb
  actiontext/test/dummy/config/environments/production.rb
  activestorage/test/dummy/config/environments/production.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties, activestorage, actionmailbox, actiontext

#50075 Do not attempt to resolve an `adapter_class` if no `adapter` is present
  activerecord/lib/active_record/database_configurations/database_config.rb
Labels: activerecord

#50071 Adjust instr. for Cache::Store#fetch_multi so writes are after reads
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_instrumentation_behavior.rb
Labels: activesupport

#50088 Fix small typographical errors in `#find_or_create_by` docs [ci skip]
  activerecord/lib/active_record/relation.rb
Labels: activerecord

#50082 [ActiveStorage] Discard unrepresentable blobs while preprocessing
  activestorage/app/jobs/active_storage/transform_job.rb
  activestorage/app/models/active_storage/blob/representable.rb
  activestorage/test/jobs/transform_job_test.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
Labels: activestorage

#50089 Fix rails console to work with `DATABASE_URL` for PostgreSQL
  activerecord/lib/active_record/railtie.rb
  railties/test/application/runner_test.rb
Labels: activerecord, railties

#50090 Fix ActiveJob arguments serialization to correctly serialize String subclasses having custom serializers
  activejob/lib/active_job/arguments.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: activejob

#50104 Improve `AdapterNotFound` error message
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/test/cases/database_configurations/resolver_test.rb
  railties/test/commands/dbconsole_test.rb
Labels: activerecord, railties

#50093 Delay validation of registered Active Record adapters and allow aliasing of adapters
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/registration_test.rb
  activerecord/test/cases/database_configurations/hash_config_test.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#50101 Document docker related files in app folder structure [ci skip]
  guides/source/getting_started.md
Labels: docs

#50108 Change disjunction to conjunction in suggestion
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/test/cases/database_configurations/resolver_test.rb
Labels: activerecord

#49951 `ErrorReporter#unexpected` to report in production but raise in development
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/error_reporter.rb
  activesupport/test/error_reporter_test.rb
  railties/lib/rails/application/bootstrap.rb
Labels: activesupport, railties

#50106 Removing not used fixtures from ActionMailer test suite
  actionmailer/test/fixtures/attachments/foo.jpg
  actionmailer/test/fixtures/attachments/test.jpg
  actionmailer/test/fixtures/raw_email
Labels: actionmailer

#48290 Support nested elements inside <button>
  activestorage/app/assets/javascripts/activestorage.esm.js
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/app/javascript/activestorage/ujs.js
Labels: activestorage

#50107 [ActiveStorage] Fix Non tracked variants not working with `ActiveStorage::Representations::ProxyController`
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/app/models/active_storage/blob/servable.rb
  activestorage/app/models/active_storage/variant.rb
  activestorage/test/controllers/representations/proxy_controller_test.rb
Labels: activestorage

#50122 Restore ActiveJob serialization for String subclasses without custom serializers
  activejob/lib/active_job/arguments.rb
  activejob/test/cases/argument_serialization_test.rb
Labels: activejob

#50098 [ActiveStorage] Fix `ActiveStorage:Representations::ProxyController` returning the wrong preview
  activestorage/CHANGELOG.md
  activestorage/app/controllers/active_storage/representations/proxy_controller.rb
  activestorage/app/models/active_storage/preview.rb
  activestorage/app/models/active_storage/variant_with_record.rb
  activestorage/test/controllers/representations/proxy_controller_test.rb
Labels: activestorage

#50134 Fix preposition in fields_for doc [ci-skip]
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#50137 Tweak message for `NoDatabaseError`
  activerecord/lib/active_record/errors.rb
Labels: activerecord

#50138 Remove duplication between `alias_attribute_method_definition` and `define_proxy_call`
  activemodel/lib/active_model/attribute_methods.rb
Labels: activemodel

#50143 Fix ActiveModel::Dirty#*_was documentation [ci skip]
  activemodel/lib/active_model/dirty.rb
Labels: activemodel

#50049 Handle case in MySQL where the `ActiveRecord.db_warnings_action` is not called even when a DB query has warnings
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/warnings_test.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
Labels: activerecord

#50144 Remove deprecations part 1
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/preview.rb
  actionmailer/lib/action_mailer/test_helper.rb
  actionmailer/test/test_helper_test.rb
  actionpack/CHANGELOG.md
  actionpack/lib/abstract_controller/helpers.rb
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/http/mime_negotiation.rb
  actionpack/lib/action_dispatch/http/permissions_policy.rb
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/lib/action_dispatch/railtie.rb
  actionpack/test/controller/helper_test.rb
  actionpack/test/controller/parameters/equality_test.rb
  actionpack/test/dispatch/exception_wrapper_test.rb
  actionpack/test/dispatch/permissions_policy_test.rb
  actionpack/test/dispatch/response_test.rb
  activejob/CHANGELOG.md
  activejob/lib/active_job.rb
  activejob/lib/active_job/arguments.rb
  activejob/lib/active_job/core.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/argument_serialization_test.rb
  activejob/test/cases/exceptions_test.rb
  activejob/test/cases/job_serialization_test.rb
  guides/source/7_2_release_notes.md
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
  railties/test/application/mailer_previews_test.rb
Labels: actionmailer, actionpack, railties, docs, activejob

#50147 Close fenced code block in AR Changelog [ci-skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#49743 Improve docs for the action-mail box incineration
  guides/source/action_mailbox_basics.md
Labels: docs

#50149 Fix flaky db warnings test
  activerecord/test/cases/adapters/abstract_mysql_adapter/warnings_test.rb
Labels: activerecord

#49819 Make with_routing test helper work for integration tests
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
  actionpack/lib/action_dispatch/testing/integration.rb
  actionpack/test/abstract_unit.rb
  actionpack/test/controller/flash_test.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/dispatch/request/query_string_parsing_test.rb
  actionpack/test/dispatch/request_id_test.rb
  actionpack/test/dispatch/routing_assertions_test.rb
  actionpack/test/dispatch/server_timing_test.rb
  actionpack/test/dispatch/session/cache_store_test.rb
  actionpack/test/dispatch/session/cookie_store_test.rb
  actionpack/test/dispatch/session/mem_cache_store_test.rb
Labels: actionpack

#50161 Remove duplicate assignment from ActiveRecord's Rakefile
  activerecord/Rakefile
Labels: activerecord

#50165 Fix submit button selector for `type`-less buttons
  activestorage/app/assets/javascripts/activestorage.esm.js
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/app/javascript/activestorage/ujs.js
Labels: activestorage

#50153 Improve documentation for excerpt text helper [skip ci]
  actionview/lib/action_view/helpers/text_helper.rb
Labels: actionview

#50164 Do not overwrite AJ logger if it is supplied
  activejob/lib/active_job/railtie.rb
  activejob/test/cases/railtie_test.rb
Labels: activejob

#50169 Fix generator tests on `arm64` platforms
  railties/test/generators/app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#50177 Remove unused DeprecatedConstantAccessor include
  actionview/lib/action_view/template/resolver.rb
Labels: actionview

#50170 Don't add `default-mysql-client` when running `db:system:change` to Trilogy
  railties/lib/rails/generators/database.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: railties

#50183 Separate `bundle lock` from `bundle install`
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#50184 [ci skip] Fix small string typo in docs for ActiveRecord Dirty
  activerecord/lib/active_record/attribute_methods/dirty.rb
Labels: activerecord

#50182 Add missing preposition in sentence [ci skip]
  guides/source/getting_started.md
Labels: docs

#50197 ActiveSupport::Testing::Isolation: gracefully handle the subprocess dying
  activesupport/lib/active_support/testing/isolation.rb
Labels: activesupport

#50151 Improve `ActiveSupport::InheritableOptions` hash-like behaviour
  activesupport/lib/active_support/ordered_options.rb
  activesupport/test/ordered_options_test.rb
  railties/lib/rails/commands/credentials/credentials_command.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, activesupport, railties

#50192 Fix MemoryStore#write with unless_exist and namespace
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/test/cache/stores/memory_store_test.rb
Labels: activesupport

#50196 Ensure triggers are enabled when operation fails in PostgreSQL
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
Labels: activerecord

#50145 Include exception causes into log messages
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
Labels: actionpack

#50210 Update form_helpers.md typo [ci skip]
  guides/source/form_helpers.md
Labels: docs

#50206 Document delegated methods in `ActiveModel::Errors` [ci skip]
  activemodel/lib/active_model/errors.rb
Labels: activemodel

#50140 Add a `ActiveRecord.protocol_adapters` configuration to map `DATABASE_URL` protocols to adapters at an application level
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/database_configurations/connection_url_resolver.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
  guides/source/configuring.md
Labels: activerecord, docs

#50150 Add more specific exceptions to warn when an adapter is using legacy adapter format
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/test/active_record/connection_adapters/fake_legacy_adapter.rb
  activerecord/test/active_record/connection_adapters/fake_misleading_legacy_adapter.rb
  activerecord/test/cases/connection_adapters/registration_test.rb
Labels: activerecord

#50178 Improve documentation for truncate text helper [skip ci]
  actionview/lib/action_view/helpers/text_helper.rb
Labels: actionview

#50188 Fix test infra depending on CI=true
  actionmailbox/test/test_helper.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
  activejob/test/cases/queuing_test.rb
  activejob/test/helper.rb
  activejob/test/integration/queuing_test.rb
  activesupport/lib/active_support/testing/strict_warnings.rb
  activesupport/test/cache/behaviors/cache_logging_behavior.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
  activesupport/test/executor_test.rb
  railties/test/application/rake/dbs_test.rb
  tools/test_common.rb
Labels: actionpack, activesupport, railties, activejob, actionmailbox

#50157 Update docs for `erb_trim_mode`
  guides/source/configuring.md
Labels: docs

#50205 Add config for validating migration timestamps
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/migration.rb
  activerecord/test/cases/migration_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_2.rb.tt
  railties/test/application/loading_test.rb
  railties/test/application/rake/migrations_test.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/railties/engine_test.rb
Labels: activerecord, railties, docs
