Repository rails/rails, pull requests merged in 2023-07, with the labels that each got.

#48622 Add lower bound to Listen gem requirement
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/evented_file_update_checker.rb
Labels: activesupport

#48625 [ci-skip][Doc] Fix inconsistency in 7-0-stable sample codes
  guides/source/active_record_migrations.md
Labels: docs

#47436 Don't double-encode nested `field_id` and `field_name` index
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview

#48623 Fix incorrect arguments for Active Job test job [internal]
  activejob/test/cases/test_helper_test.rb
  activejob/test/jobs/logging_job.rb
Labels: activejob, ready

#48626 Active Job: `async` adapter should always run jobs immediately if `immediate` set
  activejob/Rakefile
  activejob/lib/active_job/queue_adapters/async_adapter.rb
  activejob/test/cases/async_adapter_test.rb
  activejob/test/cases/logging_test.rb
  activejob/test/helper.rb
  activejob/test/support/integration/test_case_helpers.rb
Labels: activejob

#48627 Document generated scopes for `has_one_attached` and `has_many_attached`
  activestorage/lib/active_storage/attached/model.rb
Labels: activestorage

#48631 Disable database prepared statements when query logs are enabled
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/adapter_test.rb
  guides/source/configuring.md
  railties/test/application/query_logs_test.rb
Labels: activerecord, railties, docs

#47473 Add an option to transform AS variants in the background
  activestorage/CHANGELOG.md
  activestorage/app/jobs/active_storage/transform_job.rb
  activestorage/app/models/active_storage/attachment.rb
  activestorage/app/models/active_storage/blob/representable.rb
  activestorage/app/models/active_storage/named_variant.rb
  activestorage/lib/active_storage/reflection.rb
  activestorage/test/jobs/transform_job_test.rb
  activestorage/test/models/attached/many_test.rb
  activestorage/test/models/attached/one_test.rb
  activestorage/test/models/reflection_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#48642 [7-0-stable] Backport: "Fix issue with attr_protected where malformed input could circumvent protection"
  activemodel/lib/active_model/attribute_methods.rb
Labels: activemodel

#48646 Update streaming_template_renderer.rb
  actionview/lib/action_view/renderer/streaming_template_renderer.rb
Labels: actionview

#48644 Introduce config for Action Text sanitizer
  actiontext/CHANGELOG.md
  actiontext/app/helpers/action_text/content_helper.rb
  actiontext/lib/action_text/engine.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
  railties/test/application/configuration_test.rb
Labels: railties, docs, actiontext

#48654 Fix typo in activerecord tests (hash_many -> has_many)
  activerecord/test/cases/associations/inverse_associations_test.rb
Labels: activerecord

#48653 Fix a bug that prevented #pretty_print from displaying records unsaved in collection association.
  activerecord/lib/active_record/associations/collection_proxy.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#48659 Fix test flakiness introduced in encryption tests
  activerecord/test/cases/encryption/encryption_schemes_test.rb
  activerecord/test/cases/encryption/helper.rb
Labels: activerecord

#48655 Remove unused code from encryption tests
  activerecord/test/cases/encryption/encryption_schemes_test.rb
  activerecord/test/cases/encryption/scheme_test.rb
Labels: activerecord

#48645 Fix Action View collection caching to store fragments as bare strings
  actionview/lib/action_view/renderer/partial_renderer/collection_caching.rb
  actionview/test/activerecord/multifetch_cache_test.rb
Labels: actionview

#48660 Fix AS::Cache 7.1 format to properly compress bare strings
  activesupport/lib/active_support/cache/serializer_with_fallback.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
Labels: activesupport

#48635 [7-0-stable] Backport "Fix flaky test in railties/test/applications/rake/dbs_test.rb"
  railties/test/application/rake/dbs_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: railties

#48606 Support stale state detections in CPK through associations
  activerecord/lib/active_record/associations/through_association.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
Labels: activerecord

#48650 Make has_many through singular associations build CPK records
  activerecord/lib/active_record/associations/through_association.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/models/cpk/book.rb
  activerecord/test/models/cpk/chapter.rb
  activerecord/test/models/cpk/order.rb
Labels: activerecord

#48670 Fix flaky time test
  activerecord/test/cases/yaml_serialization_test.rb
Labels: activerecord

#48673 Lay groundwork for replaceable cache compressor
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/entry.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/lib/active_support/cache/serializer_with_fallback.rb
  activesupport/test/cache/behaviors/cache_store_compression_behavior.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
Labels: activesupport

#48657 Fix de-duplication of unsaved records for `ActiveRecord::Associations::CollectionProxy#<<`
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
Labels: activerecord

#48663 Make Active Support Cache treat deserialization errors like cache misses
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/serializer_with_fallback.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
Labels: activesupport

#48678 Remove unused RedisCacheStore#redis_options
  activesupport/lib/active_support/cache/redis_cache_store.rb
Labels: activesupport

#48662 Fix MemCacheStore not warning on 6.1 cache format
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
Labels: activesupport

#48661 Document return value of `Rails.cache.delete_multi`
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#48681 Deprecate `name` argument in `remove_connection`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_handling.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
Labels: activerecord

#48667 Add ruby2_keywords to ActionView::TestCase#method_missing
  actionview/lib/action_view/test_case.rb
Labels: actionview

#48636 [7-0-stable] Backport: "Warm-up to avoid autoloads interfering with class serial"
  activesupport/test/executor_test.rb
Labels: activesupport

#48698 Add a load hook for `ActiveModel::Model`
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/model.rb
  activemodel/test/cases/model_test.rb
  guides/source/engines.md
Labels: activemodel, docs

#48600 Active Record commit transaction on `return`, `break` and `throw`
  Gemfile.lock
  activerecord/CHANGELOG.md
  activerecord/activerecord.gemspec
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/test/cases/transactions_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: activerecord, railties, docs

#48697 [7-0-stable] Backport: Remove no connection primary key test
  activerecord/test/cases/primary_keys_test.rb
Labels: activerecord

#48707 Improve QueryCacheMutableParamTest
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#48680 Don't show secrets for `MessageVerifier#inspect` and `KeyGenerator#inspect`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/key_generator.rb
  activesupport/lib/active_support/message_verifier.rb
  activesupport/test/key_generator_test.rb
  activesupport/test/message_verifier_test.rb
Labels: activesupport

#48717 Re-establish connection at end of test
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
Labels: activerecord

#48679 Don't show secrets for Active Record's `Cipher::Aes256Gcm#inspect`.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/cipher/aes256_gcm.rb
  activerecord/test/cases/encryption/cipher/aes256_gcm_test.rb
Labels: activerecord, activesupport

#48693 Use a consistent format when testing BigDecimal.to_s
  activesupport/test/core_ext/numeric_ext_test.rb
Labels: activesupport

#48725 Remove unused suppress_composite_primary_key on HABTM join model class
  activerecord/lib/active_record/associations/builder/has_and_belongs_to_many.rb
Labels: activerecord

#48724 Improve cpk validation check
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/models/cpk/book.rb
  activerecord/test/models/cpk/order.rb
Labels: activerecord

#48719 Doc and spec cookies.delete returning the cookie value
  actionpack/lib/action_dispatch/middleware/cookies.rb
  actionpack/test/dispatch/cookies_test.rb
Labels: actionpack

#48730 Eagerly cast serialized query attributes
  activemodel/lib/active_model/type/helpers/mutable.rb
  activemodel/lib/active_model/type/value.rb
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/relation/query_attribute.rb
  activerecord/lib/active_record/type/serialized.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activemodel, activerecord

#48665 Fix counter_cache create/concat with overlapping counter_cache_column
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/models/comment_overlapping_counter_cache.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#48722 Document common ActiveStorage issues
  guides/source/active_storage_overview.md
Labels: docs

#48734 Fix documentation error for Delegated Types in Rails Guide
  guides/source/association_basics.md
Labels: docs

#48739 Add test for nested content_tags with data attributes outside of erb
  actionview/test/fixtures/test/_content_tag_nested_in_content_tag_with_data_attributes_out_of_erb.erb
  actionview/test/template/tag_helper_test.rb
Labels: actionview

#48737 Remove RDoc auto-link from Template text
  actionview/lib/action_view/template.rb
Labels: actionview

#48716 Refactor Active Record Schema Cache to not hold a connection
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/pool_config.rb
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/connection_adapters/connection_handler_test.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
  activerecord/test/cases/connection_pool_test.rb
  railties/test/application/initializers/frameworks_test.rb
  railties/test/application/rake/multi_dbs_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: activerecord, railties

#48706 Delegate `StubConnection#pubsub` and `StubConnection#config` to `ActionCable.server`
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/channel/test_case.rb
  actioncable/test/channel/test_case_test.rb
Labels: actioncable

#48751 Fix serialization of non-ASCII-only bare strings
  activesupport/lib/active_support/cache/serializer_with_fallback.rb
  activesupport/test/cache/serializer_with_fallback_test.rb
Labels: activesupport

#48753 Fix Action Text sanitizer initialization
  actiontext/lib/action_text/engine.rb
Labels: actiontext

#48743 Cleanup `define_attribute_methods` initializer
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#47420 Specify when to generate `has_secure_token`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/secure_token.rb
  activerecord/test/cases/secure_token_test.rb
Labels: activerecord

#48761 Support `include?` and `member?` on composite primary key relations
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#48762 [7-0-stable] Add lower bound to Listen gem requirement
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/evented_file_update_checker.rb
Labels: activesupport

#47503 Rewrite `PessimisticLockingTest#test_no_locks_no_wait` to avoid costly sleeping
  activerecord/test/cases/locking_test.rb
Labels: activerecord

#48715 Clarify comment about debug log level.
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties

#48755 Update tests to support changes in Rack 3.1 (head).
  Gemfile
  Gemfile.lock
  actionpack/test/abstract_unit.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/controller/request_forgery_protection_test.rb
  actionpack/test/dispatch/cookies_test.rb
  actionpack/test/dispatch/session/cookie_store_test.rb
  actionpack/test/dispatch/static_test.rb
  actionpack/test/dispatch/test_request_test.rb
  railties/test/railties/engine_test.rb
Labels: actionpack, railties

#48765 Fix `StatementCache::Substitute` with serialized type
  activerecord/lib/active_record/relation/query_attribute.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#48766 Call `other.value_for_database` in ActiveRecord::Relation::QueryAttribute == check
  activerecord/lib/active_record/relation/query_attribute.rb
Labels: activerecord

#48760 Fix ActiveStorage Overview CORS examples
  guides/source/active_storage_overview.md
Labels: docs

#48752 Use different bucket name in AS Guide for clarity
  guides/source/active_storage_overview.md
Labels: docs

#48720 Fix `Enumerable#sum` for `Enumerator#lazy`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/test/core_ext/enumerable_test.rb
Labels: activesupport

#48777 Change load error messages to use `Kernel#warn` instead of `$stderr.puts`
  actionpack/lib/action_dispatch/middleware/session/mem_cache_store.rb
  activemodel/lib/active_model/secure_password.rb
  activesupport/lib/active_support/builder.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/i18n.rb
  activesupport/lib/active_support/xml_mini/nokogiri.rb
  activesupport/lib/active_support/xml_mini/nokogirisax.rb
  activesupport/lib/active_support/xml_mini/rexml.rb
Labels: actionpack, activemodel, activesupport

#48772 Prevent inspecting transmit data if not necessary
  actioncable/lib/action_cable/channel/base.rb
  actioncable/lib/action_cable/connection/tagged_logger_proxy.rb
Labels: actioncable

#48774 Improve readability of case sensitivity description
  guides/source/active_record_validations.md
Labels: docs

#48779 Fix inconsistencies writing credentials values
  activesupport/lib/active_support/encrypted_configuration.rb
  activesupport/test/encrypted_configuration_test.rb
Labels: activesupport

#48784 [ci skip] ActiveStorage guides don't recommend using a deprecated config
  guides/source/active_storage_overview.md
Labels: docs

#48791 [ci skip] Add --skip-dev-gems rails command line argument to the guide
  guides/source/command_line.md
Labels: docs

#48783 Do not use `alias_attribute` to alias an association
  activerecord/test/cases/relation/where_test.rb
  activerecord/test/models/comment.rb
Labels: activerecord

#48773 Make ActiveRecord's quoted name caches thread-safe on JRuby/TruffleRuby
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/quoting.rb
Labels: activerecord

#48798 Introduce `capture_emails` and `capture_broadcasts`
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/test_helper.rb
  actioncable/test/test_helper_test.rb
  actionmailer/CHANGELOG.md
  actionmailer/lib/action_mailer/test_helper.rb
  actionmailer/test/test_helper_test.rb
Labels: actionmailer, actioncable

#48795 Tweak `alias_attribute` deprecation message
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#48800 Fix `ActiveSupport::Inflector.humanize(nil)`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/inflector/methods.rb
  activesupport/test/inflector_test.rb
Labels: activesupport

#48796 Fix `#previously_new_record?` on destroyed records
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#48451 Support replacing cache compressor
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/coder.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/lib/active_support/cache/serializer_with_fallback.rb
  activesupport/test/cache/behaviors.rb
  activesupport/test/cache/behaviors/cache_store_compression_behavior.rb
  activesupport/test/cache/behaviors/cache_store_format_version_behavior.rb
  activesupport/test/cache/behaviors/cache_store_serializer_behavior.rb
  activesupport/test/cache/cache_coder_test.rb
  activesupport/test/cache/serializer_with_fallback_test.rb
  activesupport/test/cache/stores/file_store_test.rb
  activesupport/test/cache/stores/mem_cache_store_test.rb
  activesupport/test/cache/stores/memory_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
  railties/test/application/initializers/frameworks_test.rb
Labels: activesupport, railties, docs

#48792 Added test for --no-skip-docker command line argument
  railties/test/generators/app_generator_test.rb
Labels: railties

#48817 Return `false` early when a non-AR object passed to `FinderMethods#include?`
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#48638 Make all cache stores return a boolean for `#delete`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/file_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#48824 Sort SchemaCache members when dumping it
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
Labels: activerecord

#48738 Restores functionality to the missing method when using enums and fixes #48651
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/where_chain_test.rb
  activerecord/test/models/author.rb
Labels: activerecord

#48827 Add ActionDispatch::Cookies middleware test with Rack::Lint
  actionpack/test/dispatch/cookies_test.rb
Labels: actionpack

#48814 Add Rack::Lint to HostAuthorization tests
  actionpack/lib/action_dispatch/middleware/host_authorization.rb
  actionpack/test/dispatch/host_authorization_test.rb
Labels: actionpack

#48811 Add Rack::Lint to AssumeSSL middleware tests
  actionpack/lib/action_dispatch/middleware/assume_ssl.rb
  actionpack/test/dispatch/assume_ssl_test.rb
Labels: actionpack

#48829 Add Rack::Lint to ActionDispatch::MiddlewareStack tests
  actionpack/test/dispatch/middleware_stack_test.rb
Labels: actionpack

#48813 Add Rack::Lint to ActionableExceptions tests
  actionpack/lib/action_dispatch/http/response.rb
  actionpack/lib/action_dispatch/middleware/actionable_exceptions.rb
  actionpack/test/dispatch/actionable_exceptions_test.rb
Labels: actionpack

#48831 Add Rack::Lint to Static tests
  actionpack/lib/action_dispatch/middleware/static.rb
  actionpack/test/dispatch/static_test.rb
Labels: actionpack

#48754 Lazily deserialize cache entries
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache/coder.rb
  activesupport/test/cache/cache_coder_test.rb
  guides/source/configuring.md
Labels: activesupport, railties, docs

#48810 Add Rack::Lint to ActionDispatch::Callbacks tests
  actionpack/test/dispatch/callbacks_test.rb
Labels: actionpack

#48832 Add Rack::Lint to DebugLocks tests
  actionpack/lib/action_dispatch/middleware/debug_locks.rb
  actionpack/test/dispatch/debug_locks_test.rb
Labels: actionpack

#48818 Add Rack::Lint to PermissionsPolicy tests
  actionpack/lib/action_dispatch/http/permissions_policy.rb
  actionpack/test/dispatch/permissions_policy_test.rb
  railties/test/application/permissions_policy_test.rb
Labels: actionpack, railties

#48825 Add Rack::Lint to ActionDispatch::Executor tests
  actionpack/test/dispatch/executor_test.rb
Labels: actionpack

#48823 Add tags to audio analyzer metadata
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/analyzer/audio_analyzer.rb
  activestorage/test/analyzer/audio_analyzer_test.rb
Labels: activestorage

#48788 Fix: Do not execute selenium driver_path if it is a string.
  actionpack/lib/action_dispatch/system_testing/browser.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack

#48819 Add and remove some links in IntegrationTest docs [ci skip]
  actionpack/lib/action_dispatch/testing/integration.rb
Labels: actionpack

#48833 Add Rack::Lint to `ActionDispatch::ServerTiming` tests
  actionpack/lib/action_dispatch/constants.rb
  actionpack/lib/action_dispatch/middleware/server_timing.rb
  actionpack/test/dispatch/server_timing_test.rb
Labels: actionpack

#48805 Add Rack::Lint to RequestId tests
  actionpack/test/dispatch/request_id_test.rb
Labels: actionpack

#48812 Add Rack::Lint to ContentSecurityPolicy::Middleware tests
  actionpack/lib/action_dispatch/constants.rb
  actionpack/lib/action_dispatch/http/content_security_policy.rb
  actionpack/test/dispatch/content_security_policy_test.rb
Labels: actionpack

#48840 Removed unnecessary --no-skip-* app generator test
  railties/test/generators/app_generator_test.rb
Labels: railties

#48839 Fix TestRequest coercing SERVER_PORT to be an int
  actionpack/lib/action_dispatch/testing/test_request.rb
  actionpack/test/dispatch/test_request_test.rb
Labels: actionpack

#48830 Make `ActionDispatch::SSL` compatible with Rack 3.0
  actionpack/lib/action_dispatch/constants.rb
  actionpack/lib/action_dispatch/middleware/ssl.rb
  actionpack/test/dispatch/ssl_test.rb
Labels: actionpack

#48845 Use Rack-compatible casing for x-cascade headers in router
  actionpack/lib/action_dispatch/constants.rb
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/journey/router.rb
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/lib/action_dispatch/middleware/public_exceptions.rb
  actionpack/lib/action_dispatch/middleware/show_exceptions.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/controller/integration_test.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionpack/test/dispatch/routing_test.rb
  actionpack/test/dispatch/show_exceptions_test.rb
  actionpack/test/journey/router_test.rb
Labels: actionpack

#48850 Add test covering SchemaCache members are sorted
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
Labels: activerecord

#48838 Use connection.schema_version inside ActiveRecord::SchemaCache
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
Labels: activerecord

#48851 Update `listen` gem version in guide [skip ci]
  guides/source/configuring.md
Labels: docs

#48846 Add Rack::Lint to ActionDispatch::Reloader tests
  actionpack/test/dispatch/reloader_test.rb
Labels: actionpack

#48837 Add Rack::Lint to DebugExceptions tests
  actionpack/lib/action_dispatch/middleware/debug_exceptions.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
Labels: actionpack

#48835 Add Rack::Lint to `ActionDispatch::RemoteIp` tests
  actionpack/test/dispatch/request_test.rb
Labels: actionpack
