Repository rails/rails, pull requests merged in 2024-01, with the labels that each got.

#50513 Add changelog entry for #50505 [ci skip]
  actionpack/CHANGELOG.md
Labels: actionpack

#50512 Switch to headless chrome by default
  railties/lib/rails/generators/rails/app/templates/test/application_system_test_case.rb.tt
  railties/lib/rails/generators/rails/plugin/templates/test/application_system_test_case.rb.tt
  railties/lib/rails/generators/test_unit/system/templates/application_system_test_case.rb.tt
Labels: railties

#50518 Update the puma startup message [skip ci]
  guides/source/command_line.md
Labels: docs

#50514 Add changelog entry for #50512 [skip ci]
  railties/CHANGELOG.md
Labels: railties

#50510 Remove unnecessary require
  activesupport/lib/active_support/execution_wrapper.rb
Labels: activesupport

#50519 Fix skipped rubocop test typo
  railties/test/generators/app_generator_test.rb
Labels: railties

#50407 Fix NFD for add_autoload_paths_to_load_path
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_1.rb.tt
Labels: railties

#50384 Fix railspect not validating alphabetical order
  guides/source/configuring.md
  tools/rail_inspector/lib/rail_inspector/configuring/check/general_configuration.rb
  tools/rail_inspector/test/rail_inspector/configuring/check/general_configuration_test.rb
  tools/rail_inspector/test/test_helper.rb
Labels: docs

#50506 Apply autocorrection by RuboCop to files generated by `bin/rails generate`
  railties/lib/rails/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/test/application/generators_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#50531 [ci skip] Utilize new `enum` syntax in PostgreSQL guide
  guides/source/active_record_postgresql.md
Labels: docs

#50527 Add a default yield :head to layouts/application.html.erb
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/test/application/rake_test.rb
Labels: railties

#50533 Tune CI template for uploading artifact
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#50526 Replace old placeholder icon variants with a single one
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/lib/rails/generators/rails/app/templates/public/apple-touch-icon-precomposed.png
  railties/lib/rails/generators/rails/app/templates/public/apple-touch-icon.png
  railties/lib/rails/generators/rails/app/templates/public/favicon.ico
  railties/lib/rails/generators/rails/app/templates/public/icon.png
  railties/lib/rails/templates/rails/welcome/index.html.erb
  railties/test/generators/api_app_generator_test.rb
Labels: railties

#50515 bundle update rubocop --conservative
  Gemfile.lock
  actionpack/test/controller/routing_test.rb
  actionview/lib/action_view/helpers/url_helper.rb
Labels: actionpack, actionview

#50532 Document apply_rubocop_autocorrect_after_generate! in configuration guide [skip ci]
  guides/source/configuring.md
Labels: docs

#50503 Fix a flaky test in `query_assertions_test.rb`
  activerecord/test/cases/assertions/query_assertions_test.rb
Labels: activerecord, ci issues

#50460 Allow overriding SQLite defaults from `database.yml`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#50530 Backport 47457 to 6-1-stable
  actionview/test/template/render_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
Labels: activesupport, actionview

#50516 Update Gemfile.lock for Ruby 3.3.0
  Gemfile
  Gemfile.lock
Labels: actionpack, actionview

#50535 Rails UJS has been deprecated since Rails 7, time to die
  .github/workflows/lint.yml
  .github/workflows/rails-new-docker.yml
  RELEASING_RAILS.md
  actionview/.eslintrc
  actionview/.gitignore
  actionview/RUNNING_UJS_TESTS.rdoc
  actionview/Rakefile
  actionview/app/javascript/MIT-LICENSE
  actionview/app/javascript/README.md
  actionview/app/javascript/rails-ujs/features/confirm.js
  actionview/app/javascript/rails-ujs/features/disable.js
  actionview/app/javascript/rails-ujs/features/method.js
  actionview/app/javascript/rails-ujs/features/remote.js
  actionview/app/javascript/rails-ujs/index.js
  actionview/app/javascript/rails-ujs/utils/ajax.js
  actionview/app/javascript/rails-ujs/utils/constants.js
  actionview/app/javascript/rails-ujs/utils/csp.js
  actionview/app/javascript/rails-ujs/utils/csrf.js
  actionview/app/javascript/rails-ujs/utils/dom.js
  actionview/app/javascript/rails-ujs/utils/event.js
  actionview/app/javascript/rails-ujs/utils/form.js
  actionview/karma.conf.js
  actionview/lib/action_view/helpers/csrf_helper.rb
  actionview/lib/action_view/helpers/form_tag_helper.rb
  actionview/lib/action_view/helpers/url_helper.rb
  actionview/package.json
  actionview/rollup.config.js
  actionview/rollup.config.test.js
  actionview/test/javascript_package_test.rb
  actionview/test/ujs/config.ru
  actionview/test/ujs/public/test/.eslintrc.yml
  actionview/test/ujs/public/test/call-ajax.js
  actionview/test/ujs/public/test/call-remote-callbacks.js
  actionview/test/ujs/public/test/call-remote.js
  actionview/test/ujs/public/test/csrf-refresh.js
  actionview/test/ujs/public/test/csrf-token.js
  actionview/test/ujs/public/test/data-confirm.js
  actionview/test/ujs/public/test/data-disable-with.js
  actionview/test/ujs/public/test/data-disable.js
  actionview/test/ujs/public/test/data-method.js
  actionview/test/ujs/public/test/data-remote.js
  actionview/test/ujs/public/test/override.js
  actionview/test/ujs/public/test/settings.js
  actionview/test/ujs/server.rb
  actionview/test/ujs/src/attach-bindings.js
  actionview/test/ujs/src/test.js
  guides/source/action_mailer_basics.md
  guides/source/contributing_to_ruby_on_rails.md
  package.json
  railties/test/isolation/assets/package.json
  tasks/release.rb
  yarn.lock
Labels: actionview

#49702 Use content_for for titles in the application layout
  railties/lib/rails/generators/erb/scaffold/templates/edit.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/index.html.erb.tt
  railties/lib/rails/generators/erb/scaffold/templates/new.html.erb.tt
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#50538 Resolve documentational ambiguity over `rescue_responses` [ci-skip]
  guides/source/configuring.md
Labels: docs

#50523 Document correct usage of named routes [skip ci]
  actionpack/lib/action_dispatch/routing.rb
Labels: actionpack

#50549 Backport 1ea796d6a8
  actionpack/lib/action_dispatch/routing.rb
Labels: actionmailer, actionpack, actioncable, actionmailbox

#50550 [7-1-stable] Backport contributing.md guide changes from #50317
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#50551 [7-0-stable] Backport contributing.md guide changes from #50317
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#50528 Add default pwa manifest and service worker file
  railties/CHANGELOG.md
  railties/lib/rails.rb
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/lib/rails/generators/rails/app/templates/app/views/pwa/manifest.json.erb.tt
  railties/lib/rails/generators/rails/app/templates/app/views/pwa/service-worker.js
  railties/lib/rails/generators/rails/app/templates/config/routes.rb.tt
  railties/lib/rails/pwa_controller.rb
Labels: railties

#50554 Add .github to the default rails file structure [skip ci]
  guides/source/getting_started.md
Labels: docs

#50543 Adjust CI config for new Rails apps to run on PRs to any branch
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#50558 Eager load the Rails default controllers used in production
  railties/lib/rails.rb
  railties/lib/rails/application/finisher.rb
Labels: railties

#50541 Document edge cases for find
  activerecord/lib/active_record/relation/finder_methods.rb
Labels: actionpack, activerecord

#50545 Parallelize tests in the CI
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#50547 Run importmap audit on CI
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#50555 Document removal of rails/ujs in release note [skip ci]
  guides/source/7_2_release_notes.md
Labels: docs

#49857 Documented a breaking change regarding imports in @rails/ujs 7.1.0 [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs, rails-ujs

#50473 Delegate `ActionText::Content#deconstruct` to Nokogiri
  actiontext/CHANGELOG.md
  actiontext/lib/action_text/content.rb
  actiontext/lib/action_text/fragment.rb
  actiontext/test/unit/content_test.rb
  actiontext/test/unit/content_test/pattern_matching_test_cases.rb
  actionview/test/template/test_case_test/pattern_matching_test_cases.rb
Labels: actionview, actiontext

#50171 Add link to API documentation for ActionView helper method [skip ci]
  guides/source/action_view_helpers.md
Labels: needs feedback, docs

#46238 Pass validation_context to validates_associated
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/validations.rb
  activerecord/lib/active_record/validations/associated.rb
  activerecord/test/cases/validations/association_validation_test.rb
Labels: activemodel, activerecord, actionview, actioncable, accepted

#50561 Backport #49318 to 7-0-stable
  activesupport/CHANGELOG.md
Labels: activesupport

#47939 [Fix: 47938] self is undefined for actioncable
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/assets/javascripts/actioncable.esm.js
  actioncable/app/assets/javascripts/actioncable.js
  actioncable/app/javascript/action_cable/adapters.js
  actioncable/test/javascript/src/unit/action_cable_test.js
Labels: actioncable

#50050 Raise `ArgumentError` when reading from `config.x` with arguments
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration/custom_test.rb
Labels: railties

#50563 Add `BACKTRACE` env variable to turn off backtrace
  railties/CHANGELOG.md
  railties/lib/minitest/rails_plugin.rb
  railties/lib/rails/application/bootstrap.rb
  railties/test/application/backtrace_cleaner_test.rb
  railties/test/minitest/rails_plugin_test.rb
Labels: railties

#50439 Remove setting `migrations_paths` for replicas from the docs [skip ci]
  guides/source/active_record_multiple_databases.md
Labels: docs

#50438 Add `schema_dump` docs to the multiple databases docs [skip ci]
  guides/source/active_record_multiple_databases.md
Labels: docs

#50564 Use logical core count for test parallelization
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/test_case.rb
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: activesupport, railties

#50569 Handle all false args in `config.x` error check
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration/custom_test.rb
Labels: railties

#50570 `#render_template_to_object` and `#render_partial_to_object` are private
  actionview/lib/action_view/renderer/renderer.rb
Labels: actionview

#50571 Get rid of EnvHelpers at Minitest::RailsPluginTest
  railties/test/minitest/rails_plugin_test.rb
Labels: railties

#49943 Handle nil form_with model argument
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/test/template/form_helper/form_with_test.rb
Labels: actionview, ready

#50572 Backport bug report template refactor to 7-1-stable
  guides/bug_report_templates/action_controller.rb
  guides/bug_report_templates/action_controller_main.rb
  guides/bug_report_templates/action_mailbox.rb
  guides/bug_report_templates/action_mailbox_main.rb
  guides/bug_report_templates/active_job.rb
  guides/bug_report_templates/active_job_gem.rb
  guides/bug_report_templates/active_record.rb
  guides/bug_report_templates/active_record_main.rb
  guides/bug_report_templates/active_record_migrations.rb
  guides/bug_report_templates/active_record_migrations_main.rb
  guides/bug_report_templates/active_storage.rb
  guides/bug_report_templates/active_storage_main.rb
  guides/bug_report_templates/benchmark.rb
  guides/bug_report_templates/generic.rb
  guides/bug_report_templates/generic_main.rb
Labels: docs

#50573 Ensure that LogSubscriber.flush_all! is called after LogSubscribers run
  railties/lib/rails/rack/logger.rb
  railties/test/rack_logger_test.rb
Labels: railties

#50548 Prevent vendorizing gems fixtures in dot directories (like .bundle) from loading when running tests
  railties/lib/rails/engine.rb
Labels: railties

#50574 Backport bug report template refactor to 7-0-stable
  guides/bug_report_templates/action_controller.rb
  guides/bug_report_templates/action_controller_gem.rb
  guides/bug_report_templates/action_mailbox.rb
  guides/bug_report_templates/action_mailbox_main.rb
  guides/bug_report_templates/active_job.rb
  guides/bug_report_templates/active_job_gem.rb
  guides/bug_report_templates/active_record.rb
  guides/bug_report_templates/active_record_main.rb
  guides/bug_report_templates/active_record_migrations.rb
  guides/bug_report_templates/active_record_migrations_main.rb
  guides/bug_report_templates/active_storage.rb
  guides/bug_report_templates/active_storage_gem.rb
  guides/bug_report_templates/benchmark.rb
  guides/bug_report_templates/generic.rb
  guides/bug_report_templates/generic_gem.rb
Labels: docs

#50576 Ensure migrations installed by ActiveStorage/ActionText comply with `rubocop-rails-omakase`
  actiontext/db/migrate/20180528164100_create_action_text_tables.rb
  activestorage/db/migrate/20170806125915_create_active_storage_tables.rb
Labels: activestorage, actiontext

#50577 Ensure RuboCop and Brakeman are always avaiable in CI
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#50581 Remove `MethodCallAssertions` Ruby 2.7 work-around
  activesupport/lib/active_support/testing/method_call_assertions.rb
Labels: activesupport

#50412 Fix `find_by` for finding by associations with composite primary keys
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#50337 Fix `config.log_level` being ignored when using a Broadcast Logger
  railties/lib/rails/application/bootstrap.rb
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties

#50582 Add CI service files to `.dockerignore` template
  railties/lib/rails/generators/rails/app/templates/dockerignore.tt
Labels: railties

#50436 refactor: default annotate_rendered_view_with_filenames to true in development
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/test/isolation/abstract_unit.rb
Labels: railties, docs

#49856 Rename `ActionView::TestCase::Behavior::{Content,RenderedViewContent}`
  actionview/CHANGELOG.md
  actionview/lib/action_view/test_case.rb
  actionview/test/template/test_case_test.rb
  guides/source/testing.md
Labels: docs, actionview, needs work

#50464 Document `round_mode` option in action view's number helper [ci skip]
  actionview/lib/action_view/helpers/number_helper.rb
Labels: actionview

#50585 Add assertions for stopped ActionCable streams
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/channel/test_case.rb
  actioncable/test/channel/test_case_test.rb
Labels: actioncable

#50584 Parse `ActionView::TestCase#rendered` as DocumentFragment
  actionview/CHANGELOG.md
  actionview/lib/action_view/test_case.rb
  actionview/test/template/test_case_test.rb
Labels: actionview

#50482 Add `explain` support for methods like `last`, `pluck` and `count`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/mysql_explain_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/optimizer_hints_test.rb
  activerecord/test/cases/adapters/postgresql/explain_test.rb
  activerecord/test/cases/adapters/sqlite3/explain_test.rb
  activerecord/test/cases/base_prevent_writes_test.rb
  activerecord/test/cases/explain_test.rb
Labels: activerecord

#50586 docs: update reference to `main` branch
  guides/source/i18n.md
Labels: docs

#50592 Add Naming and Pronouns headings to API wording guide [ci-skip]
  guides/source/api_documentation_guidelines.md
Labels: docs

#50596 Cleanup usage of ruby2_keywords
  actionmailer/lib/action_mailer/base.rb
  actionmailer/lib/action_mailer/parameterized.rb
  actionpack/lib/abstract_controller/base.rb
  actionpack/lib/abstract_controller/collector.rb
  actionpack/lib/abstract_controller/helpers.rb
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
  actionpack/lib/action_dispatch/testing/integration.rb
  actionview/lib/action_view/test_case.rb
  activemodel/lib/active_model/attribute_methods.rb
  activemodel/lib/active_model/type/registry.rb
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/lib/active_record/migration/default_strategy.rb
  activerecord/lib/active_record/relation/delegation.rb
  activesupport/lib/active_support/core_ext/module/delegation.rb
  activesupport/lib/active_support/current_attributes.rb
  activesupport/lib/active_support/testing/strict_warnings.rb
  railties/lib/rails/railtie.rb
Labels: actionmailer, actionpack, activemodel, activerecord, activesupport, railties, actionview, activejob

#50597 Cleanup `defined?` usage
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
  actionview/lib/action_view/test_case.rb
  activejob/lib/active_job/core.rb
  activemodel/lib/active_model/attribute.rb
  activerecord/lib/active_record/associations/preloader/through_association.rb
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/connection_handling.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/inheritance.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/touch_later.rb
  activerecord/test/cases/adapters/postgresql/geometric_test.rb
  activestorage/lib/active_storage/previewer/mupdf_previewer.rb
  activestorage/lib/active_storage/previewer/poppler_pdf_previewer.rb
  activestorage/lib/active_storage/previewer/video_previewer.rb
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_logging_behavior.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/commands/dbconsole/dbconsole_command.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
Labels: actionpack, activemodel, activerecord, activesupport, railties, actionview, activejob, activestorage

#50301 Remove some outdated security advice from Security guide [ci-skip]
  guides/source/security.md
Labels: docs

#50342 doc(active_record): adding more examples about scope control
  guides/source/association_basics.md
Labels: docs

#50599 Name all supported methods in `explain` CHANGELOG entry
  activerecord/CHANGELOG.md
Labels: activerecord

#50590 Remove workaround for Ruby 2.7 at ActiveSupport::Cache#lookup_store
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#50589 Rename `#assert_not_has_stream` `#assert_has_no_stream`
  actioncable/CHANGELOG.md
  actioncable/lib/action_cable/channel/test_case.rb
  actioncable/test/channel/test_case_test.rb
Labels: actioncable

#50588 Remove `ActionView::Renderer#render_template`
  actionview/lib/action_view/renderer/renderer.rb
Labels: actionview

#50587 Use rubocop github formatter on CI to display annotations in the UI
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#50595 Add "GOOD" and "BAD" examples to API wording guide [ci-skip]
  guides/source/api_documentation_guidelines.md
Labels: docs

#50591 Add the nonce: true option for stylesheet_link_tag helper
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
  guides/source/security.md
Labels: docs, actionview

#50602 Update shims for older rubies
  activesupport/lib/active_support/core_ext/range/overlap.rb
  activesupport/lib/active_support/core_ext/time/calculations.rb
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  railties/lib/rails/command.rb
Labels: activesupport, railties

#50594 Define missing attribute methods from `method_missing`
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/attribute_methods/read_test.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/support/marshal_compatibility_fixtures/SQLite/rails_6_1_aliased_topic.dump
Labels: activerecord

#48923 [Fix #48922] Honour encrypted attribute context in encrypted_attribute?
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/test/cases/encryption/encryption_schemes_test.rb
Labels: activerecord

#50607 Update API-only guide to remove specific app name [ci skip]
  guides/source/api_app.md
Labels: docs

#50614 Replace typo "enging" with "engine" [ci-skip]
  guides/source/api_documentation_guidelines.md
Labels: docs

#50611 Spell JavaScript correctly [ci-skip]
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#50613 Replace "Return" with "Returns" in API documentations
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_handling.rb
Labels: activerecord

#50617 Correct SQL query for User.all.explain docs [ci skip]
  activerecord/lib/active_record/relation.rb
Labels: activerecord

#50620 Document nonce option in stylesheet_link_tag api documentation [skip ci]
  actionview/lib/action_view/helpers/asset_tag_helper.rb
Labels: actionview

#50626 Fix extra blank line when adding rubocop-rails-omakase and brakeman
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#50615 Use existing bundle path that already declared
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
  railties/test/fixtures/Dockerfile.test
Labels: railties

#50629 Add default svg icon in generated application layout
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/lib/rails/generators/rails/app/templates/public/icon.svg
  railties/test/generators/api_app_generator_test.rb
Labels: railties

#50630 Fix links to master branches renamed to main [ci-skip]
  actionpack/lib/action_dispatch/http/permissions_policy.rb
  guides/source/4_1_release_notes.md
  guides/source/active_storage_overview.md
  guides/source/asset_pipeline.md
  guides/source/testing.md
Labels: actionpack, docs

#50631 Update link for creating a gem [ci-skip]
  guides/source/plugins.md
Labels: docs

#50470 Yield instance to `Object#with` block
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/object/with.rb
  activesupport/test/core_ext/object/with_test.rb
Labels: activesupport

#50634 Fix view runtime for controllers with async queries
  activerecord/lib/active_record/railties/controller_runtime.rb
  activerecord/lib/active_record/runtime_registry.rb
Labels: activerecord

#50612 Use the article "an" for "SQL"
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/sanitization.rb
  guides/source/7_1_release_notes.md
  guides/source/configuring.md
  guides/source/security.md
Labels: activerecord, docs

#50609 Replace usage of `Array#&` with `Array#intersect?` for efficiency
  actionview/lib/action_view/layouts.rb
  actionview/lib/action_view/render_parser/prism_render_parser.rb
  actionview/lib/action_view/rendering.rb
  activemodel/lib/active_model/validations/callbacks.rb
  activemodel/lib/active_model/validations/comparison.rb
  activesupport/lib/active_support/core_ext/module/delegation.rb
  activesupport/lib/active_support/core_ext/string/conversions.rb
  activesupport/lib/active_support/duration/iso8601_parser.rb
  activesupport/lib/active_support/duration/iso8601_serializer.rb
  activesupport/lib/active_support/logger.rb
Labels: activemodel, activesupport, actionview

#50635 Minor improvements to Connection Pool docs
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  guides/source/configuring.md
Labels: activerecord, docs

#50638 Fix undefined method issue in test
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
Labels: actionpack

#50642 Remove core_ext/uri.rb exception
  activesupport/lib/active_support/core_ext.rb
Labels: activesupport

#50567 Backport adding dependencies for gems that warn in Ruby 3.3
  Gemfile.lock
  actionpack/CHANGELOG.md
  actionpack/actionpack.gemspec
  activesupport/CHANGELOG.md
  activesupport/activesupport.gemspec
  activesupport/lib/active_support/testing/parallelization.rb
  activesupport/lib/active_support/testing/parallelization/server.rb
Labels: actionpack, activesupport

#50627 Delete FIXME annotation in dispatch/mapper_test.rb
  actionpack/test/dispatch/mapper_test.rb
Labels: actionpack

#50593 Move "English" and "Oxford Comma" sections under "Wording" [ci-skip]
  guides/source/api_documentation_guidelines.md
Labels: docs

#50650 Merge pull request #50635 from ghiculescu/connection-pool-docs
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  guides/source/configuring.md
Labels: activerecord, docs

#50651 Merge pull request #50592 from p8/guides/expand-wording
  guides/source/api_documentation_guidelines.md
Labels: docs

#50652 Merge pull request #50595 from p8/guides/api-docs-wording-examples
  guides/source/api_documentation_guidelines.md
Labels: docs

#50648 Optimize Hash#stringify_keys
  activesupport/lib/active_support/core_ext/hash/keys.rb
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/lib/active_support/json/encoding.rb
Labels: activesupport

#50647 Made Brakeman CI config stricter
  railties/lib/rails/generators/rails/app/templates/bin/brakeman.tt
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#50653 Reset `@target` in subclasses
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/singular_association.rb
Labels: activerecord

#50644 Do not generate pidfile in production environments
  actionmailbox/test/dummy/config/puma.rb
  actiontext/test/dummy/config/puma.rb
  activestorage/test/dummy/config/puma.rb
  railties/CHANGELOG.md
  railties/lib/rails/commands/server/server_command.rb
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties, activestorage, actionmailbox, actiontext

#50655 Enable `Lint/SafeNavigationChain` rubocop cop
  .rubocop.yml
  activerecord/lib/active_record/encryption/encryptable_record.rb
Labels: activerecord

#50661 Backport 48963 to 6-1-stable
  activesupport/test/core_ext/numeric_ext_test.rb
Labels: activesupport

#50636 Add `oven-sh/setup-bun` to GitHub CI when generating an app with bun
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#50622 Document rendering `:renderable` and `#render_in`
  actionpack/lib/action_controller/metal/rendering.rb
  actionpack/test/controller/renderer_test.rb
  actionview/lib/action_view/template/renderable.rb
  actionview/test/template/render_test.rb
  guides/source/layouts_and_rendering.md
Labels: actionpack, docs, actionview

#50663 Remove ruby2_keywords dependency from `6-1-stable`
  Gemfile.lock
  activesupport/activesupport.gemspec
Labels: activesupport

#50432 Document missing `:using` and `:where` options for `add_exclusion_constraint` [skip ci]
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
Labels: activerecord

#50670 Get rid of `ForkTracker.check!`
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/pool_config.rb
  activesupport/lib/active_support/fork_tracker.rb
  activesupport/test/fork_tracker_test.rb
Labels: activerecord, activesupport

#50668 Remove workaround for `mail` gem dependencies
  Gemfile.lock
  actionmailbox/actionmailbox.gemspec
  actionmailer/actionmailer.gemspec
  actionmailer/lib/action_mailer/delivery_methods.rb
Labels: actionmailer, actionmailbox

#50632 Move Transfer-Encoding chunked test to Action Pack
  actionpack/test/controller/chunked_test.rb
  railties/test/railties/http_request_test.rb
Labels: actionpack, railties

#50678 Implement `CurrentAttributes#set` in terms of `Object#with`
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#50683 Fix typo in ActiveRecord::Core.configurations doc [ci-skip]
  activerecord/lib/active_record/core.rb
Labels: activerecord

#50682 Add code examples to `readonly` documentation
  activerecord/lib/active_record/core.rb
  guides/source/active_record_querying.md
Labels: activerecord, docs

#50665 Raise `ArgumentError` if `:renderable` object does not respond to `#render_in`
  actionview/CHANGELOG.md
  actionview/lib/action_view/renderer/abstract_renderer.rb
  actionview/lib/action_view/template/renderable.rb
  actionview/test/template/render_test.rb
Labels: actionview

#50685 Simplify `CurrentAttribute.instance` delegation
  activesupport/lib/active_support/current_attributes.rb
Labels: activesupport

#50687 Backport 45837 to 6-1-stable
  activestorage/CHANGELOG.md
  activestorage/lib/active_storage/analyzer/video_analyzer.rb
  activestorage/test/analyzer/video_analyzer_test.rb
Labels: activestorage

#50339 Document developer-facing change to `config.action_dispatch.show_exceptions` default
  guides/source/configuring.md
  guides/source/testing.md
  guides/source/upgrading_ruby_on_rails.md
Labels: railties, docs

#50675 Remove redundant `parent` method from RESTRICTED_CLASS_METHODS
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/enum_test.rb
  activerecord/test/cases/scoping/named_scoping_test.rb
Labels: activerecord

#50674 Document `Calculations#count` and `Calculations#sum` block arguments …
  activerecord/lib/active_record/relation/calculations.rb
Labels: activerecord

#50688 Fix 6-1-stable CI
  Gemfile
  Gemfile.lock
  railties/test/application/asset_debugging_test.rb
Labels: railties

#50677 Add `default:` support for `ActiveSupport::CurrentAttributes.attribute`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#50664 Add an example to the `global_executor_concurrency` docs
  guides/source/configuring.md
Labels: docs

#50689 Ignore docker and git related files in dockerignore
  railties/lib/rails/generators/rails/app/templates/dockerignore.tt
Labels: railties

#50686 Avoid definition of methods at runtime in `CurrentAttributes`
  activesupport/lib/active_support/current_attributes.rb
Labels: activesupport

#50692 Document `Calculations#count` and `Calculations#sum` block arguments …
  activerecord/lib/active_record/relation/calculations.rb
Labels: activerecord

#50693 Merge pull request #50682 from p8/activerecord/readonly-examples
  activerecord/lib/active_record/core.rb
  guides/source/active_record_querying.md
Labels: activerecord, docs

#50669 Update the default Puma configuration
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties

#49678 Remove `ActiveRecord::AttributeAssignment#assign_nested_parameter_attributes`
  activerecord/lib/active_record/attribute_assignment.rb
Labels: activerecord

#50698 `Module#delegate` avoid creating a unique fstring for each delegator
  activesupport/lib/active_support/core_ext/module/delegation.rb
Labels: activesupport

#50699 Do not mask `NoMethodError` from within `render_in`
  actionview/lib/action_view/template/renderable.rb
  actionview/test/template/render_test.rb
Labels: actionview

#50382 Fix multi-database polymorphic preloading with equivalent table names
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#50714 Prevent `CurrentAttributes` defaults from leaking
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#50708 Prevent unnecessary application reloads in development
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/test/application/watcher_test.rb
Labels: railties

#50701 Make sure attribute_aliases is consistent
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#50715 [Fix #50713] Do not trigger loading of ActiveJob::Base in ActiveJob::TestHelper
  activejob/CHANGELOG.md
  activejob/lib/active_job/test_helper.rb
Labels: activejob

#50719 Fix indenting in SQLite database.yml
  railties/lib/rails/generators/rails/app/templates/config/databases/sqlite3.yml.tt
Labels: railties

#50679 Add examples to #slice and #values_at documentation [ci-skip]
  activemodel/lib/active_model/model.rb
  activerecord/lib/active_record/core.rb
Labels: activemodel, activerecord

#50261 Fix [#50260] Support `:on` option in `#set_callback`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/transaction_callbacks_test.rb
Labels: activerecord

#50724 Fix failing test due to the relative path output of minitest at v5.21.0
  railties/test/generators/plugin_test_runner_test.rb
  railties/test/generators/test_runner_in_engine_test.rb
Labels: railties

#50736 Add examples to #slice and #values_at documentation [ci-skip] (#50679)
  activemodel/lib/active_model/model.rb
  activerecord/lib/active_record/core.rb
Labels: activemodel, activerecord

#50738 Improve `after_enqueue` example
  activejob/lib/active_job/callbacks.rb
Labels: activejob

#50749 Fix typo in ActiveSupport changelog
  activesupport/CHANGELOG.md
Labels: activesupport
