Repository rails/rails, pull requests merged in 2024-05, with the labels that each got.

#50744 docs: Update FormHelper comments to use `form_with` instead of `form_for` [ci skip]
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#51706 Avoid seed data execution in CI by replacing `db:setup` with `db:test:prepare`
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#51707 Pass validate(_check)_constraint through change_table
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/test/cases/migration/change_table_test.rb
Labels: activerecord

#51702 Add rake guides:lint task to raise error on broken anchor links
  guides/Rakefile
  guides/rails_guides.rb
  guides/rails_guides/generator.rb
Labels: docs

#51705 Build Rails console on top of IRB's latest official APIs
  Gemfile.lock
  railties/CHANGELOG.md
  railties/lib/rails/commands/console/console_command.rb
  railties/lib/rails/commands/console/irb_console.rb
  railties/railties.gemspec
  railties/test/application/console_test.rb
Labels: railties

#51601 Add support for recursive CTEs in ActiveRecord
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/with_test.rb
Labels: activerecord

#51711 Fix typo from Changelog [ci skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#51409 Fix `destroy_async` job for owners with composite primary keys
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/lib/active_record/associations/has_many_association.rb
  activerecord/lib/active_record/associations/has_one_association.rb
  activerecord/lib/active_record/destroy_association_async_job.rb
  activerecord/test/activejob/destroy_association_async_test.rb
  activerecord/test/models/cpk/book_destroy_async.rb
  activerecord/test/models/cpk/chapter_destroy_async.rb
Labels: activerecord

#51713 Don't cast `stale_state` to String
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/lib/active_record/associations/belongs_to_polymorphic_association.rb
  activerecord/lib/active_record/associations/through_association.rb
  activerecord/test/cases/marshal_serialization_test.rb
Labels: activerecord

#51285 Ensure image_processing is installed with Trix
  actiontext/lib/generators/action_text/install/install_generator.rb
Labels: actiontext

#51690 Turn app:update into a command to add --force
  railties/CHANGELOG.md
  railties/lib/rails/app_updater.rb
  railties/lib/rails/commands/app/update_command.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/tasks/framework.rake
  railties/test/generators/app_generator_test.rb
Labels: railties

#51724 Fix: guides styling issue on light mode [ci skip]
  guides/assets/stylesrc/_main.scss
  guides/assets/stylesrc/highlight.scss
Labels: docs

#51718 Don't mess with Minitest unless RAILS_ENV is set
  railties/lib/minitest/rails_plugin.rb
Labels: railties

#51709 Remove extra line generating from devecontainer compose.yaml
  railties/lib/rails/generators/rails/app/templates/.devcontainer/compose.yaml.tt
Labels: railties

#51734 Fix typo in configuring guide [ci skip]
  guides/source/configuring.md
Labels: docs

#51667 Fix console_test to make pass after IRB's behavior change
  railties/test/application/console_test.rb
Labels: railties

#51739 Fix `config.read_encrypted_secrets` deprecation warning quoting
  railties/lib/rails/application/configuration.rb
Labels: railties, ready

#51748 Avoid allocating a column_type Hash when unnecessary
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/result.rb
Labels: activerecord

#51628 [FIX] Sqlite3 Should create db for missing parent directories as well
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#51719 Backport #51664 to 7-1-stable (Resolve deprecation warning in selenium-webdriver)
  Gemfile.lock
  actionpack/lib/action_dispatch/system_testing/browser.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack

#51686 Add ENV["SKIP_TEST_DATABASE_TRUNCATE"] flag to speed up multi-process test runs
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/tasks/database_tasks.rb
Labels: activerecord

#51751 Explain that the default Dockerfile is intended for production
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#51752 Simplify `ActiveRecord::Result#hash_rows`
  activerecord/lib/active_record/result.rb
  activerecord/test/cases/result_test.rb
Labels: activerecord

#51754 Reduce allocations in BelongsToAssociation#replace_keys
  activerecord/lib/active_record/associations/belongs_to_association.rb
Labels: activerecord

#51749 SQLite3 feature for dev container
  railties/lib/rails/generators/devcontainer.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: railties

#51760 Keep Rails::ConsoleMethods's module inclusion to IRB but raise deprecation warning
  railties/lib/rails/commands/console/irb_console.rb
  railties/lib/rails/console/app.rb
  railties/lib/rails/console/helpers.rb
  railties/lib/rails/console/methods.rb
  railties/lib/rails/engine.rb
  railties/test/application/console_test.rb
  railties/test/commands/console_test.rb
Labels: railties

#51571 Warn about changing `query_constraints:` behavior
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/fixtures.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/models/cpk/book.rb
  activerecord/test/models/cpk/chapter.rb
  activerecord/test/models/cpk/comment.rb
  activerecord/test/models/cpk/order.rb
  activerecord/test/models/cpk/post.rb
  activerecord/test/models/cpk/review.rb
  activerecord/test/models/sharded/blog_post_destroy_async.rb
  activerecord/test/models/sharded/blog_post_with_revision.rb
  activerecord/test/models/sharded/comment_destroy_async.rb
  guides/source/active_record_composite_primary_keys.md
  guides/source/association_basics.md
Labels: activerecord, docs

#51770 Replace allocations count by GC time in request logs
  actionpack/lib/action_controller/log_subscriber.rb
  actionview/lib/action_view/log_subscriber.rb
  actionview/test/activerecord/controller_runtime_test.rb
  actionview/test/template/log_subscriber_test.rb
  activesupport/lib/active_support/notifications/instrumenter.rb
Labels: actionpack, activesupport, actionview

#51504 add navbar highlighting to guides [ci skip]
  guides/assets/javascripts/guides.js
  guides/assets/stylesrc/_main.scss
Labels: docs, rails foundation

#48727 Fix index_errors and provide :nested_attributes_order mode
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/associations/nested_error.rb
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/nested_attributes.rb
  activerecord/test/cases/associations/nested_error_test.rb
  activerecord/test/cases/nested_attributes_test.rb
Labels: activerecord

#51776 Fix `.with_connection` to not set current scope
  activerecord/lib/active_record/relation/delegation.rb
Labels: activerecord

#51777 ActionController::Parameters#extract_value example requires delimiter
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#51637 Update Getting Start With Rails guide to account for Dev Containers
  guides/source/command_line.md
  guides/source/getting_started.md
  guides/source/getting_started_with_devcontainer.md
Labels: docs, rails foundation

#51790 Add support for `:if_not_exists` and `:force` options to `create_schema`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
Labels: activerecord

#51782 Autocorrecting with rubocop by default is not proportionate
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
Labels: railties

#51779 Fix RuboCop autocorrect for Windows compatibility
  railties/lib/rails/configuration.rb
Labels: railties

#51792 Remove package litter after each install to shrink layer sizes
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#51794 Correct typo in activerecord changelog [ci skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#51614 Defer route drawing to the first request, or when url_helpers called
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
  actionpack/test/dispatch/routing_assertions_test.rb
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/lib/rails/application/default_middleware_stack.rb
  railties/lib/rails/application/finisher.rb
  railties/lib/rails/application/routes_reloader.rb
  railties/lib/rails/commands/routes/routes_command.rb
  railties/lib/rails/commands/unused_routes/unused_routes_command.rb
  railties/lib/rails/engine.rb
  railties/lib/rails/engine/route_set.rb
  railties/lib/rails/rack.rb
  railties/lib/rails/rack/load_routes.rb
  railties/test/application/initializers/frameworks_test.rb
  railties/test/application/loading_test.rb
  railties/test/application/rack/load_routes_test.rb
  railties/test/application/route_set_test.rb
  railties/test/application/url_generation_test.rb
  railties/test/commands/middleware_test.rb
  railties/test/isolation/abstract_unit.rb
  railties/test/railties/engine_test.rb
Labels: actionpack, railties, actionview

#51785 Support `touch_all` in batches
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/batches/batch_enumerator.rb
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#51800 Refactor `ActiveRecord::SignedId` to not rely on relation delegation
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/signed_id.rb
Labels: activerecord

#51801 Refactor `ActiveRecord::TokenFor` to not rely on relation delegation
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/token_for.rb
Labels: activerecord

#51803 Fix: batch test assertion order
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#51805 Refactor `ActiveRecord::Persistence` class methods into Relation methods
  activerecord/lib/active_record/association_relation.rb
  activerecord/lib/active_record/insert_all.rb
  activerecord/lib/active_record/persistence.rb
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relation/delegation_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#51806 Use `foreign_key` option for destroy_async test models
  activerecord/test/models/cpk/book_destroy_async.rb
  activerecord/test/models/cpk/chapter_destroy_async.rb
Labels: activerecord

#51808 Suppress RuboCop output when there are no offenses in code generation
  railties/lib/rails/configuration.rb
  railties/test/application/generators_test.rb
Labels: railties

#51804 Enable Lint/Debugger
  .rubocop.yml
  Gemfile.lock
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
  actionpack/test/controller/integration_test.rb
Labels: actionpack

#51651 Support duration in `ActiveSupport::XmlMini`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/xml_mini.rb
  activesupport/test/xml_mini_test.rb
Labels: activesupport, ready

#51796 Changelog tweak for lazy routes [ci skip]
  railties/CHANGELOG.md
Labels: railties

#51791 Add name to DevContainer compose file
  .github/workflows/devcontainer-smoke-test.yml
  railties/lib/rails/generators/rails/app/templates/.devcontainer/compose.yaml.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#51766 Revert "Merge pull request #50941 from andrewn617/actionable-cli"
  railties/CHANGELOG.md
  railties/lib/rails/command/base.rb
  railties/lib/rails/commands/test/test_command.rb
  railties/lib/rails/testing/maintain_test_schema.rb
  railties/test/application/test_test.rb
Labels: railties

#51789 Reference the dev container guides in a comment in the production doc…
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties, ready

#51787 Fix `ActiveRecord::Relation#touch_all` with custom attribute aliased as attribute for update
  activerecord/lib/active_record/timestamp.rb
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#51798 Add Kamal by default to Rails 8
  railties/CHANGELOG.md
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/sqlite3.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/deploy.yml.tt
  railties/lib/rails/generators/rails/app/templates/env.erb.tt
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#51810 Only serialize associations that were loaded
  activerecord/lib/active_record/marshalling.rb
  activerecord/lib/active_record/message_pack.rb
  activerecord/test/cases/marshal_serialization_test.rb
Labels: activerecord

#51815 Eliminate `lease_connection` call in `cached_find_by`
  activerecord/lib/active_record/core.rb
Labels: activerecord

#51758 Fix PostgreSQL Cidr#change?: NoMethodError: undefined method `prefix' for nil
  activerecord/lib/active_record/connection_adapters/postgresql/oid/cidr.rb
  activerecord/test/cases/adapters/postgresql/cidr_test.rb
Labels: activerecord

#51823 [Bugfix] Memoize `queue_adapter_for_test`
  activejob/lib/active_job/test_helper.rb
  activejob/test/cases/test_helper_test.rb
Labels: activejob

#51742 Add changelog entry for PostgreSQL `Cidr#change?` behavior change
  activerecord/CHANGELOG.md
Labels: activerecord

#51827 Remove Oracle, SQLServer and Jbdc templates
  railties/lib/rails/generators/rails/app/templates/config/databases/jdbc.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/jdbcmysql.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/jdbcpostgresql.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/jdbcsqlite3.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/oracle.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/databases/sqlserver.yml.tt
Labels: railties

#51828 Refactor change generator database implementation
  railties/lib/rails/generators/database.rb
  railties/lib/rails/generators/rails/db/system/change/change_generator.rb
Labels: railties

#51732 Avoid setting fixed app name in console prompt
  railties/lib/rails/commands/console/irb_console.rb
  railties/test/application/console_test.rb
Labels: railties, ready

#51318 Fix a crash when an Executor wrapped fork exit.
  activerecord/lib/active_record/query_cache.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#51557 [Bugfix] Pass options along to write_entry in handle_expired_entry method
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_coder_behavior.rb
Labels: activesupport

#51783 Fix test runner --fail-fast test flake
  railties/test/application/test_runner_test.rb
Labels: railties

#51763 Add `active_record.postgresql_adapter_decode_dates` config
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/test/cases/adapters/postgresql/date_test.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties, docs

#51841 7-2-stable changelog pass [ci skip]
  actioncable/CHANGELOG.md
  actionpack/CHANGELOG.md
  actiontext/CHANGELOG.md
  actionview/CHANGELOG.md
  activejob/CHANGELOG.md
  activerecord/CHANGELOG.md
  activestorage/CHANGELOG.md
  activesupport/CHANGELOG.md
  railties/CHANGELOG.md
Labels: actionpack, activerecord, activesupport, railties, actionview, activejob, actioncable, activestorage, actiontext

#51831 Don't expose deprecation controls for new apps
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
Labels: railties

#51840 Update link to `i18n` gem repository [ci-skip]
  guides/source/i18n.md
Labels: docs

#51834 Point 7-2-stable branch CHANGELOGS in rails 7-2 release note [ci skip]
  guides/source/7_2_release_notes.md
Labels: docs

#51833 Remove 7.2 release changes from Rails 8.0 release note [ci skip]
  guides/source/8_0_release_notes.md
Labels: docs

#51851 Fix vendor_trix not fetching css file
  actiontext/CHANGELOG.md
  actiontext/Rakefile
  actiontext/app/assets/stylesheets/trix.css
Labels: actiontext

#51011 Revert "Pin minitest version to 5.21"
  Gemfile
  Gemfile.lock
  activesupport/activesupport.gemspec
  railties/test/commands/test_test.rb
Labels: activesupport, railties, needs backport, ready

#51826 Remove oracle sqlserver from tests
  activerecord/Rakefile
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/autosave_association_test.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/comment_test.rb
  activerecord/test/cases/connection_adapters/type_lookup_test.rb
  activerecord/test/cases/database_statements_test.rb
  activerecord/test/cases/date_time_precision_test.rb
  activerecord/test/cases/dup_test.rb
  activerecord/test/cases/invertible_migration_test.rb
  activerecord/test/cases/json_shared_test_cases.rb
  activerecord/test/cases/migration/change_schema_test.rb
  activerecord/test/cases/migration/column_attributes_test.rb
  activerecord/test/cases/migration/columns_test.rb
  activerecord/test/cases/migration/references_index_test.rb
  activerecord/test/cases/migration/rename_table_test.rb
  activerecord/test/cases/multiparameter_attributes_test.rb
  activerecord/test/cases/primary_keys_test.rb
  activerecord/test/cases/readonly_test.rb
  activerecord/test/cases/relation/update_all_test.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/cases/time_precision_test.rb
  activerecord/test/cases/validations/uniqueness_validation_test.rb
  activerecord/test/cases/view_test.rb
  activerecord/test/config.example.yml
  activerecord/test/schema/schema.rb
Labels: activerecord, railties

#51442 Emit deprecation warning about inverse_of inference only for valid reflections
  activerecord/lib/active_record/reflection.rb
Labels: activerecord

#51854 Address `Layout/IndentationWidth` cop offenses
  activerecord/test/cases/connection_adapters/type_lookup_test.rb
Labels: activerecord

#51858 [7-2-stable] Fix changelogs lint for trailing whitespaces
  actioncable/CHANGELOG.md
  activerecord/CHANGELOG.md
  activesupport/CHANGELOG.md
  railties/CHANGELOG.md
Labels: activerecord, activesupport, railties, actioncable

#51304 Fix exception raised from template should not show compiled code
  activesupport/lib/active_support/core_ext/erb/util.rb
  activesupport/test/core_ext/erb_util_test.rb
Labels: activesupport

#51731 Improve Rails console helper methods' descriptions
  railties/lib/rails/commands/console/irb_console.rb
Labels: railties

#51857 [7-2-stable] Backport "Address Layout/IndentationWidth cop offenses"
  activerecord/test/cases/connection_adapters/type_lookup_test.rb
Labels: activerecord

#51837 Don’t create storage folder if not needed
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#51856 Restore unused block warnings condition for Ruby 3.4
  activesupport/lib/active_support/testing/strict_warnings.rb
Labels: activesupport

#51878 Make public method for `schema_cache_ignored_tables?`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/schema_cache.rb
Labels: activerecord

#51879 Add test and fix changelog for `schema_cache_ignored_table?`
  activerecord/CHANGELOG.md
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
Labels: activerecord

#51881 Document the transaction.active_record event
  guides/source/active_support_instrumentation.md
Labels: docs

#51876 Temporarily fix multi-paragraph definition lists [ci skip]
  actionpack/lib/action_controller/metal/conditional_get.rb
Labels: actionpack

#50228 Adjusted an example to align with the documentation section on reversing a previous migration.
  guides/source/active_record_migrations.md
Labels: activesupport, docs

#51721 [Fix #51720] Infer association klass as top level if model has same demodularized name
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/models/user.rb
Labels: activerecord

#51886 Revert "Merge pull request #51184 from ConfusedVorlon/document_after_commit_deduplication"
  activerecord/lib/active_record/transactions.rb
Labels: activerecord

#51887 [7-2-stable] Revert "Merge pull request #51184 from ConfusedVorlon/document_after_commit_deduplication"
  activerecord/lib/active_record/transactions.rb
Labels: activerecord

#51866 chore(deps-dev): update eslint from 4.19.1 to 8.40.0
  actioncable/app/javascript/action_cable/consumer.js
  actioncable/package.json
  activestorage/package.json
  yarn.lock
Labels: actioncable, activestorage

#51891 update sqlite3 adapter tests to accept error messages from v3.46.0
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord, ready

#51822 Add rubocop and GitHub Actions to plugin generator
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/lib/rails/generators/rails/plugin/templates/%name%.gemspec.tt
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
  railties/lib/rails/generators/rails/plugin/templates/bin/rubocop.tt
  railties/lib/rails/generators/rails/plugin/templates/github/ci.yml.tt
  railties/lib/rails/generators/rails/plugin/templates/github/dependabot.yml
  railties/lib/rails/generators/rails/plugin/templates/rubocop.yml.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#51850 Look up route from requirements
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/dispatch/routing/route_set_test.rb
Labels: actionpack

#51880 Make devcontainers opt in and create a devcontainer command
  .github/workflows/devcontainer-smoke-test.yml
  guides/source/command_line.md
  guides/source/getting_started.md
  railties/lib/rails/commands/devcontainer/devcontainer_command.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/base.rb
  railties/lib/rails/generators/devcontainer.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/config/databases/postgresql.yml.tt
  railties/lib/rails/generators/rails/app/templates/test/application_system_test_case.rb.tt
  railties/lib/rails/generators/rails/db/system/change/change_generator.rb
  railties/lib/rails/generators/rails/devcontainer/devcontainer_generator.rb
  railties/lib/rails/generators/rails/devcontainer/templates/.devcontainer/Dockerfile.tt
  railties/lib/rails/generators/rails/devcontainer/templates/.devcontainer/compose.yaml.tt
  railties/lib/rails/generators/rails/devcontainer/templates/.devcontainer/devcontainer.json.tt
  railties/test/commands/devcontainer_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: railties, docs

#51894 Move plumbing to enable yjit to inside the framework
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/application/finisher.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/enable_yjit.rb.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties, docs

#51896 Don't enable automatically_invert_plural_associations by default
  activerecord/lib/active_record/reflection.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
Labels: activerecord, railties, docs

#51893 Fix the Direct Upload class example in Active Storage Docs
  guides/source/active_storage_overview.md
Labels: docs

#51901 Fix railtie config test for sqlite 3.46.0
  railties/test/application/configuration_test.rb
Labels: railties, needs backport

#51900 Private methods do not need :nodoc: to be private API
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
Labels: actionpack

#51898 Raise a descriptive error when a Store column is misconfigured
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/store.rb
  activerecord/test/cases/store_test.rb
Labels: activerecord

#51907 Mark `preview_image_needed_before_processing_variants?` as private API
  activestorage/app/models/active_storage/blob/representable.rb
Labels: activestorage

#51839 Add app.rb and helpers.rb back for backward compatibility
  railties/lib/rails/console/app.rb
  railties/lib/rails/console/helpers.rb
Labels: actionmailer, actionpack, activemodel, activerecord, railties, actionview, activejob, actioncable, actionmailbox, actiontext

#51904 Add Railties notable changes in 7.2 release note [ci skip]
  guides/source/7_2_release_notes.md
Labels: docs

#51874 Fix colspan for representing search results in the rails routes
  actionpack/lib/action_dispatch/middleware/templates/routes/_table.html.erb
  actionpack/lib/action_dispatch/routing/inspector.rb
Labels: actionpack

#51846 Catch StandardError during Base64 decoding in message encryptor.
  activesupport/lib/active_support/messages/codec.rb
  activesupport/test/message_encryptor_test.rb
Labels: activesupport

#51911 Fix association_basics.md
  guides/source/association_basics.md
Labels: docs

#51912 Document what higher/lower priority numbers mean in ActiveJob guide [ci skip]
  guides/source/active_job_basics.md
Labels: docs

#51121 Fix AllowBrowser versions
  actionpack/lib/action_controller/metal/allow_browser.rb
  actionpack/test/controller/allow_browser_test.rb
Labels: actionpack, railties

#51915 Fix `+` symbol [ci skip]
  activerecord/lib/active_record.rb
Labels: activerecord

#51867 [ci skip] Add a comma in the Exceptions section of Active Support Instrumentation guide
  guides/source/active_support_instrumentation.md
Labels: docs

#51913 Fix Propshaft tests - Take 2
  Gemfile.lock
  activesupport/lib/active_support/testing/strict_warnings.rb
  railties/test/application/configuration_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
  railties/test/isolation/abstract_unit.rb
Labels: activerecord, activesupport, railties

#51799 Change asset pipeline default to Propshaft in Rails 8
  Gemfile
  Gemfile.lock
  activesupport/lib/active_support/testing/strict_warnings.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/test/application/configuration_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: activesupport, railties

#51921 Re-enable railtie non_existent sqlite3 test from #51901
  railties/test/application/configuration_test.rb
Labels: railties

#51923 Fix typo
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties

#51929 Make source_reflection return nil when no name
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/models/hotel.rb
Labels: activerecord

#51371 Add `ActiveRecord::Relation#readonly?`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/readonly_test.rb
Labels: activerecord

#51909 Draft of the release notes
  guides/source/7_2_release_notes.md
  guides/source/documents.yaml
Labels: docs

#50396 Make the Relation -> Model delegation stricter
  activerecord/lib/active_record/associations/preloader/association.rb
  activerecord/lib/active_record/encryption/extended_deterministic_queries.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/batches.rb
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/relation/delegation.rb
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/relation/record_fetch_warning.rb
  activerecord/test/cases/associations/has_and_belongs_to_many_associations_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/relation/delegation_test.rb
  activerecord/test/models/author.rb
Labels: activerecord

#51932 Unify `Relation#klass` and `Relation#model`
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/associations/disable_joins_association_scope.rb
  activerecord/lib/active_record/associations/has_many_through_association.rb
  activerecord/lib/active_record/encryption/extended_deterministic_queries.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/batches.rb
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/relation/delegation.rb
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/lib/active_record/relation/merger.rb
  activerecord/lib/active_record/relation/predicate_builder/polymorphic_array_value.rb
  activerecord/lib/active_record/relation/predicate_builder/relation_handler.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/relation/spawn_methods.rb
  activerecord/lib/active_record/scoping/named.rb
  activerecord/lib/active_record/statement_cache.rb
  activerecord/test/cases/bind_parameter_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/relation_test.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#51935 Guides: Minor Update To Spelling [ci skip]
  guides/source/getting_started.md
Labels: docs

#51925 Make CollectionProxy#proxy_association public API
  activerecord/lib/active_record/associations/collection_proxy.rb
  guides/source/association_basics.md
Labels: activerecord, docs

#51934 Add CSP mapping for 'wasm-unsafe-eval'
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/content_security_policy.rb
  actionpack/test/dispatch/content_security_policy_test.rb
Labels: actionpack, actiontext

#51930 Improve ActionCable's TestCookieJar interface
  actioncable/lib/action_cable/connection/test_case.rb
  actioncable/test/connection/test_case_test.rb
Labels: actioncable

#51892 Make `pretty_print` behave more similar to `inspect`.
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/core_test.rb
  activerecord/test/cases/filter_attributes_test.rb
Labels: activerecord, ready

#50828 Add examples for form helper tags [ci skip]
  actionview/lib/action_view/helpers/form_tag_helper.rb
Labels: docs, actionview, actiontext

#51744 Index Result rows rather than to convert them into hashes
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/result.rb
Labels: activerecord

#51937 Define Digest::UUID.nil_uuid
  activesupport/lib/active_support/core_ext/digest/uuid.rb
  activesupport/test/core_ext/digest/uuid_test.rb
Labels: activesupport

#51924 Add a Rails Guide called "Tuning Performance for Deployment" (second version)
  Gemfile.lock
  activesupport/activesupport.gemspec
  guides/source/documents.yaml
  guides/source/tuning_performance_for_deployment.md
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: activesupport, railties, docs

#51943 Fix Tuning Performance for Deployment guide link [ci skip]
  guides/source/documents.yaml
Labels: docs

#51944 Update permissions policy list with display-capture and keyboard-map
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/permissions_policy.rb
Labels: actionpack

#51931 Allow ActiveStorage::Attachment creation with no record attachments
  activestorage/app/models/active_storage/attachment.rb
  activestorage/test/models/attachment_test.rb
Labels: activestorage

#51945 Switch example editor to code instead of mate
  railties/lib/rails/command/helpers/editor.rb
Labels: railties

#51949 Lazily generate UUIDs for AR transactions
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/transaction.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#51947 Fix link to ConnectionHandling#lease_connection from ConnectionPool docs [ci skip]
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#51939 Improve compatibility for `ActiveSupport::BroadcastLogger`
  activesupport/lib/active_support/broadcast_logger.rb
  activesupport/test/broadcast_logger_test.rb
Labels: activesupport

#51955 Pass the transaction object to transaction.active_record subscribers
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/test/cases/transaction_instrumentation_test.rb
  guides/source/active_support_instrumentation.md
Labels: activerecord, docs

#51952 Update public directory during app:update command
  railties/lib/rails/commands/app/update_command.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#51959 Relax the prism test parser conditions
  railties/lib/rails/test_unit/test_parser.rb
  railties/test/test_unit/test_parser_test.rb
Labels: railties

#51962 Add missing $ for a bash [ci skip]
  guides/source/7_2_release_notes.md
Labels: docs

#51941 Allow unscoping ActiveRecord Query CTEs
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/with_test.rb
Labels: activerecord

#51933 Handle case where script_name is a blank string
  actionpack/lib/action_dispatch/routing/mapper.rb
  railties/test/railties/engine_test.rb
Labels: actionpack, railties, needs backport

#51965 Include the current transaction in sql.active_record event payloads
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/instrumentation_test.rb
  activerecord/test/cases/query_cache_test.rb
  guides/source/active_support_instrumentation.md
Labels: activerecord, docs

#51964 Fix deprecation horizon to be `8.0`
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/lib/action_view/helpers/tag_helper.rb
  activejob/lib/active_job.rb
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/enum.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/core_ext/date_and_time/compatibility.rb
  activesupport/lib/active_support/core_ext/module/attr_internal.rb
  activesupport/lib/active_support/deprecation.rb
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/lib/active_support/proxy_object.rb
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/console/methods.rb
Labels: actionpack, activerecord, activesupport, railties, actionview, activejob

#51973 Remove .devcontainer from default rails app directory guide [ci skip]
  guides/source/getting_started.md
Labels: docs

#51977 Changed dimmed to deemed, in what I assume was a typo
  guides/source/tuning_performance_for_deployment.md
Labels: docs

#51976 Tiny fixes to the "Tuning Performance" guide [ci skip]
  guides/source/tuning_performance_for_deployment.md
Labels: docs

#51975 Clarify and make double rendering documentation consistent [ci skip]
  actionpack/lib/action_controller/base.rb
Labels: actionpack

#51980 :nodoc: for ActionCable::Connection::TestCookies
  actioncable/lib/action_cable/connection/test_case.rb
Labels: actioncable, needs backport

#51979 Add changelog for Action Cable TestCookieJar#[]=
  actioncable/CHANGELOG.md
Labels: actioncable
