Repository rails/rails, pull requests merged in 2024-08, with the labels that each got.

#52473 Declare Active Support dependency on securerandom >= 0.3
  Gemfile.lock
  activesupport/activesupport.gemspec
  activesupport/lib/active_support/core_ext/securerandom.rb
Labels: activesupport

#52475 [skip-ci][docs] Remove 'channels' from getting_started.md
  guides/source/getting_started.md
Labels: docs

#52477 7.2: Don't claim compatibility with unknown future Rack releases
  Gemfile.lock
  actionpack/actionpack.gemspec
Labels: actionpack

#52480 Implement the bin/rails boot command
  guides/source/command_line.md
  railties/CHANGELOG.md
  railties/lib/rails/commands/boot/boot_command.rb
  railties/test/commands/boot_test.rb
Labels: railties, docs

#52471 Implement new maintenance policy
  guides/source/maintenance_policy.md
Labels: docs

#52484 Delay enqueue_after_transaction_commit config until ActiveJob loaded
  activejob/lib/active_job/railtie.rb
Labels: activejob

#52301 Allow to set `enqueue_after_transaction_commit` to jobs when `eager_load` is true
  activejob/lib/active_job/enqueue_after_transaction_commit.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/lib/active_job/railtie.rb
  railties/test/application/active_job_railtie_test.rb
Labels: railties, activejob

#52483 Add a default password reset token to has_secure_password
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/secure_password.rb
  activemodel/test/cases/secure_password_test.rb
  activemodel/test/models/pilot.rb
Labels: activemodel

#52472 Add password reset to authentication generator
  railties/lib/rails/generators/erb/authentication/authentication_generator.rb
  railties/lib/rails/generators/erb/authentication/templates/views/passwords/edit.html.erb
  railties/lib/rails/generators/erb/authentication/templates/views/passwords/new.html.erb
  railties/lib/rails/generators/erb/authentication/templates/views/sessions/new.html.erb
  railties/lib/rails/generators/rails/authentication/USAGE
  railties/lib/rails/generators/rails/authentication/authentication_generator.rb
  railties/lib/rails/generators/rails/authentication/templates/controllers/passwords_controller.rb
  railties/lib/rails/generators/rails/authentication/templates/mailers/passwords_mailer.rb
  railties/lib/rails/generators/rails/authentication/templates/models/user.rb
  railties/lib/rails/generators/rails/authentication/templates/test/mailers/previews/passwords_mailer_preview.rb
  railties/lib/rails/generators/rails/authentication/templates/views/passwords_mailer/reset.html.erb
  railties/lib/rails/generators/rails/authentication/templates/views/passwords_mailer/reset.text.erb
Labels: activemodel, railties

#52468 Use `RAILS_MAX_THREADS` in `ActiveJob::AsyncAdapter`
  activejob/CHANGELOG.md
  activejob/lib/active_job/queue_adapters/async_adapter.rb
Labels: activemodel, activerecord, actionview, activejob, ready

#52451 Make create_schema / drop_schema reversible in migrations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/test/cases/migration/command_recorder_test.rb
Labels: activerecord, ready

#52491 Add autocomplete="new-password" to password fields
  railties/lib/rails/generators/erb/authentication/templates/views/passwords/edit.html.erb
Labels: railties

#52502 Address `warning: the block passed to 'Pilot.generates_token_for'` warning against ruby 3.4.0dev
  activemodel/test/models/pilot.rb
Labels: activemodel

#52500 Show `index_errors` in docs
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#51889 Fix migration ordering for `bin/rails db:prepare` across databases
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties, needs backport

#52506 Fix migration ordering for `bin/rails db:prepare` across databases
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#52496 Added new unsafe characters of Windows filename `", <, >, ?, *` to `ActiveStorage::Filename#sanitized`
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/filename.rb
  activestorage/test/models/filename_test.rb
Labels: activestorage

#52497 Add a section about running tests by line range in contribution guide
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#52363 Don't load has_one associations during autosave
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#52514 Update Twitter account name in release documentation to X
  RELEASING_RAILS.md
  guides/assets/stylesrc/vendor/_boilerplate.scss
  guides/source/2_3_release_notes.md
  guides/source/5_0_release_notes.md
  guides/source/api_app.md
Labels: docs

#51793 Use Thruster by default to Rails 8
  Gemfile
  Gemfile.lock
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/app/templates/bin/thrust.tt
  railties/lib/rails/generators/rails/app/templates/docker-entrypoint.tt
  railties/lib/rails/generators/rails/plugin/plugin_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: actionmailer, actionpack, activemodel, railties, actionview, activejob, actioncable, actionmailbox, actiontext

#52518 Complete #to_fs todo now that deprecation is gone
  activesupport/lib/active_support/time_with_zone.rb
Labels: activesupport

#52524 remove redundant comment
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#52513 Improve default action mailer configuration
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/mailers/passwords_mailer.rb
  railties/lib/rails/generators/rails/credentials/templates/credentials.yml.tt
Labels: railties

#52452 Allow disable_extension to be called with schema-qualified name
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#52528 Address `PostgreSQLAdapterTest#test_disable_extension_without_schema` error
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord, ci issues

#52531 Let allow_browser allow bots
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/allow_browser.rb
  actionpack/test/controller/allow_browser_test.rb
Labels: actionpack

#52533 Make automatic detection of processor count in default puma config optional and non-default
  guides/source/tuning_performance_for_deployment.md
  railties/lib/rails/generators/rails/app/templates/config/deploy.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties, docs

#52537 Comment out Kamal `WEB_CONCURRENCY` config, since it already defaults to 1
  railties/lib/rails/generators/rails/app/templates/config/deploy.yml.tt
Labels: railties

#52379 Session generator: Normalize email_address
  railties/lib/rails/generators/rails/authentication/templates/models/user.rb
Labels: railties, ready

#52541 Remove redundant Puma configuration settings
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties

#52525 Make route mapping scope lookups faster
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/routing/mapper.rb
Labels: actionpack

#52542 Remove a duplicated line
  actionpack/lib/action_dispatch/routing/mapper.rb
Labels: actionpack

#52545 Remove WEB_CONCURRENCY "auto" from tuning_performance_for_deployment [ci-skip]
  guides/source/tuning_performance_for_deployment.md
Labels: docs

#52543 Document THOR_MERGE and THOR_DIFF vars during upgrade [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#52549 Typo fix [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#52353 Defer route drawing to the first request, or when url_helpers called
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/abstract_unit.rb
  actionpack/test/dispatch/routing_assertions_test.rb
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/lib/rails/application/finisher.rb
  railties/lib/rails/application/routes_reloader.rb
  railties/lib/rails/engine.rb
  railties/lib/rails/engine/configuration.rb
  railties/lib/rails/engine/lazy_route_set.rb
  railties/test/application/action_controller_test_case_integration_test.rb
  railties/test/application/action_view_test_integration_case_test.rb
  railties/test/application/initializers/frameworks_test.rb
  railties/test/engine/lazy_route_set_test.rb
  railties/test/railties/engine_test.rb
Labels: actionpack, railties

#52554 [ci skip] Fix typo in getting_started_with_devcontainer.md
  guides/source/getting_started_with_devcontainer.md
Labels: docs

#52245 Add link guidelines to guides [ci-skip]
  guides/source/ruby_on_rails_guides_guidelines.md
Labels: docs, rails foundation

#52504 Authentication: Using signed_id for finding and setting session record
  railties/lib/rails/generators/rails/authentication/authentication_generator.rb
  railties/lib/rails/generators/rails/authentication/templates/controllers/concerns/authentication.rb
  railties/lib/rails/generators/rails/authentication/templates/models/session.rb
Labels: railties

#52487 Change human_attribute_name to raise an error iff in strict mode
  activesupport/lib/active_support/i18n_railtie.rb
  guides/source/configuring.md
  guides/source/i18n.md
  railties/test/application/configuration_test.rb
Labels: activesupport, railties, docs

#52555 Fix indentation of the application_system_test_case with devcontainer
  railties/lib/rails/generators/rails/devcontainer/devcontainer_generator.rb
  railties/lib/rails/generators/rails/devcontainer/templates/devcontainer/compose.yaml.tt
  railties/test/fixtures/.devcontainer/compose.yaml
  railties/test/generators/app_generator_test.rb
Labels: railties

#52540 Fix misleading brakeman job description in CI workflow
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties, ready

#52512 Mapper with keywords
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/dispatch/mapper_test.rb
  actionpack/test/dispatch/routing_test.rb
  actionpack/test/journey/router_test.rb
Labels: actionpack

#52560 Address test_disable_extension_with_schema failure
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#52559 Added assertion to railties engine_test
  railties/test/railties/engine_test.rb
Labels: railties

#52562 Bulk insert fixtures on SQLite
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
Labels: activerecord

#52287 Use Prism for `ParserExtractor` in `SourceAnnotationExtractor`
  railties/lib/rails/source_annotation_extractor.rb
Labels: railties

#51342 Enable query log tags by default on development env
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/test/application/configuration_test.rb
Labels: railties, docs

#51950 Raise when using key which can't respond to `#to_sym` in EncryptedConfiguration
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/encrypted_configuration.rb
  activesupport/test/encrypted_configuration_test.rb
Labels: activesupport

#51272 Add escape_html_entities option to JSON encoder
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/json/encoding.rb
  activesupport/test/json/encoding_test.rb
Labels: activesupport

#52566 Address `Layout/TrailingWhitespace` offense
  activesupport/lib/active_support/json/encoding.rb
Labels: activesupport

#52574 Add libyaml-dev and libffi-dev for Ruby installation command on Ubuntu
  guides/source/development_dependencies_install.md
Labels: docs

#52571 Remove PWA views and routes if its an API only project
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/config/routes.rb.tt
  railties/test/generators/generators_test_helper.rb
Labels: railties

#52578 Don't add `bin/brakeman` if brakeman is not in bundle
  railties/lib/rails/commands/app/update_command.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#52564 Replace --without option with config set command on bundle install
  guides/source/development_dependencies_install.md
Labels: docs

#52563 guide(dev): use BUNDLE_ONLY variable to install required deps
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#52265 Update statistics.rake deprecation message
  railties/lib/rails/tasks/statistics.rake
Labels: railties, ready

#52580 Fix PostgresqlAdapter when prepared statements are disabled
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/test/cases/adapters/postgresql/connection_test.rb
Labels: activerecord

#52474 Update development mode default caching docs
  guides/source/caching_with_rails.md
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
Labels: railties, docs, ready

#52403 Don't update public directory during `app:update` command for API-only Applications
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/generators_test_helper.rb
Labels: railties, ready

#52376 Remove ActiveStorage's deprecated configs
  activestorage/lib/active_storage/engine.rb
Labels: docs, activestorage, ready

#52553 Document `NOTE`, `TIP` and `WARNING` guidelines [ci-skip]
  guides/source/ruby_on_rails_guides_guidelines.md
Labels: docs, rails foundation

#52585 Fix linting error in Caching With Rails doc
  guides/source/caching_with_rails.md
Labels: docs

#52590 Allow railties to use lazy routes
  railties/lib/rails/engine.rb
  railties/test/engine/lazy_route_set_test.rb
Labels: railties

#52589 Use sqlite3 package in default Dockerfile for apps using sqlite3
  railties/lib/rails/generators/database.rb
  railties/test/fixtures/Dockerfile.test
  railties/test/generators/db_system_change_generator_test.rb
Labels: railties

#52591 Fix `create_table` with `:auto_increment` option for MySQL adapter
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/auto_increment_test.rb
  activerecord/test/cases/migration/invalid_options_test.rb
Labels: activerecord

#52449 Avoid eagerly generating Module methods on ActiveRecord::Relation delegation
  activerecord/lib/active_record/relation/delegation.rb
  activerecord/lib/active_record/scoping/named.rb
Labels: activerecord

#52247 EncryptedAttributeType#type should return cast_type's type.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/test/cases/encryption/encryptable_record_test.rb
Labels: activerecord

#52169 Add route helper for websockets.
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack, ready

#52567 Fix date_field_tag examples. [ci skip]
  actionview/lib/action_view/helpers/form_tag_helper.rb
Labels: actionview

#49853 Avoid calling Headers#env_name when static header
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/middleware/request_id.rb
Labels: actionpack, ready

#52608 Split AR::Migration.load_schema_if_pending! into two methods
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#52313 Update PostgreSQLAdapter#extensions to include schema name
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#52612 Fixed failure in bin setup test
  railties/test/application/bin_setup_test.rb
Labels: railties

#52613 Fix ActiveRecord::Base.inspect to correctly indicate how to load schema
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/invalid_connection_test.rb
Labels: activerecord

#52610 Remove racc
  Gemfile
  Gemfile.lock
  actionpack/CHANGELOG.md
  actionpack/actionpack.gemspec
  actionpack/lib/action_dispatch/journey/parser.rb
  actionpack/lib/action_dispatch/journey/parser.y
  actionpack/lib/action_dispatch/journey/parser_extras.rb
Labels: actionpack

#52605 Use keywords with scopes and resources
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/controller/resources_test.rb
  actionpack/test/dispatch/routing/concerns_test.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack

#52619 Allow to eager load nested nil associations
  activerecord/lib/active_record/associations/join_dependency.rb
  activerecord/test/cases/associations/cascaded_eager_loading_test.rb
Labels: activerecord

#52378 Fix swallowing ignore order warning when batching using `BatchEnumerator`
  activerecord/lib/active_record/relation/batches.rb
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#52622 Store query caches in IsolatedExecutionState to avoid memory bloat
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#52577 Handle SQLite3::BusyException to raise ActiveRecord::StatementTimeout
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#51958 SQLite non-GVL-blocking, fair retry interval busy handler
  Gemfile
  Gemfile.lock
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  railties/lib/rails/generators/database.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: activerecord, railties, docs

#52623 Add Rails 7.2 release date to guides index
  guides/source/documents.yaml
Labels: docs

#47969 Permit frozen models to be validated
  activemodel/lib/active_model/validations.rb
  activemodel/test/cases/validations_test.rb
Labels: activemodel

#52629 Optimize ActionDispatch::Journey::Scanner
  actionpack/lib/action_dispatch/journey/parser.rb
  actionpack/lib/action_dispatch/journey/scanner.rb
  actionpack/test/journey/route/definition/scanner_test.rb
Labels: actionpack

#52632 Refactor query cache and connection lease registry for performance
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
Labels: activerecord

#52631 Bump minitest to 5.25.1 and clean up hacks.
  Gemfile.lock
  activesupport/lib/active_support/testing/parallelization/worker.rb
Labels: activesupport

#52636 Update Active Record Store docs to mention SQLite JSON usage [ci skip]
  activerecord/lib/active_record/store.rb
Labels: activerecord, ready

#52633 Fix Active Record Encryption documentation [ci skip]
  activerecord/lib/active_record/encryption/encryptor.rb
  guides/source/active_record_encryption.md
Labels: activerecord, docs, ready

#52634 Call `super` from `method_added`/`singleton_method_added` methods
  activerecord/lib/active_record/scoping/named.rb
  activesupport/lib/active_support/current_attributes.rb
  activesupport/lib/active_support/subscriber.rb
Labels: activerecord, activesupport

#52628 Clarify ActiveStorage::Attached::Model docs [ci skip]
  activestorage/lib/active_storage/attached/model.rb
Labels: activestorage, ready

#52647 Fix copy-paste error in ActiveStorage docs [ci skip]
  activestorage/lib/active_storage/attached/model.rb
Labels: activestorage

#52630 Fix Encoding::CompatibilityError on Postgresql::Quoting
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
Labels: activerecord

#52654 Fix rubocop offences for actionpack/lib/action_dispatch/journey/parser.rb
  .rubocop.yml
  actionpack/lib/action_dispatch/journey/parser.rb
  guides/README.md
Labels: actionpack, docs

#52648 Move "avoid N+1 queries" explanation lower in the Active Storage docu…
  activestorage/lib/active_storage/attached/model.rb
Labels: activestorage, ready

#52626 Add digests to guide assets
  guides/rails_guides/generator.rb
  guides/rails_guides/helpers.rb
  guides/source/epub/layout.html.erb
  guides/source/layout.html.erb
Labels: docs, rails foundation

#52653 Downcase cache-control in generated env files
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
Labels: railties

#52659 Change the suggestion about adapters and `enqueue_after_transaction_commit`
  guides/source/configuring.md
Labels: docs

#52664 Revert keyword argument changes to routing mapper
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/controller/resources_test.rb
  actionpack/test/dispatch/mapper_test.rb
  actionpack/test/dispatch/routing/concerns_test.rb
  actionpack/test/dispatch/routing_test.rb
  actionpack/test/journey/router_test.rb
Labels: actionpack

#52665 Optimize ConfigurationFile when ERB is not used
  activesupport/lib/active_support/configuration_file.rb
  activesupport/test/configuration_file_test.rb
Labels: activesupport

#52666 Deduplicate derived foreign keys
  activerecord/lib/active_record/reflection.rb
Labels: activerecord

#52667 ConfigurationFile: skip ERB rendering unless the file seem to contain ERB
  activesupport/lib/active_support/configuration_file.rb
Labels: activesupport

#52672 This should not be in the codeblock
  activesupport/lib/active_support/notifications.rb
Labels: activesupport

#44841 Add support for ActiveRecord::Point type casts using hash values
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/oid/point.rb
  activerecord/test/cases/adapters/postgresql/geometric_test.rb
Labels: activerecord

#52674 Fix center alignment issue in guides blocks [ci skip]
  guides/assets/stylesrc/_dark.scss
  guides/assets/stylesrc/print.scss
Labels: docs

#50280 Infer default `:inverse_of` option for `delegated_type`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/delegated_type.rb
  activerecord/test/cases/delegated_type_test.rb
  activerecord/test/models/comment.rb
  activerecord/test/models/entry.rb
  activerecord/test/models/entryable.rb
  activerecord/test/models/essay.rb
  activerecord/test/models/message.rb
  activerecord/test/models/uuid_comment.rb
  activerecord/test/models/uuid_entryable.rb
  activerecord/test/models/uuid_message.rb
Labels: activerecord, ready

#52138 Fix raw_post raising when rack.input is nil
  actionmailbox/app/controllers/action_mailbox/ingresses/relay/inbound_emails_controller.rb
  actionmailbox/test/controllers/ingresses/relay/inbound_emails_controller_test.rb
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/test/dispatch/request_test.rb
Labels: actionpack, ready, actionmailbox

#50414 Improve Action Text System Test coverage
  actiontext/test/system/rich_text_editor_test.rb
  actiontext/test/system/system_test_helper_test.rb
Labels: ready, actiontext

#52637 Cleanup service-worker.js trailing white space
  railties/lib/rails/generators/rails/app/templates/app/views/pwa/service-worker.js
Labels: railties

#52490 Improve wording of `bin/rails credentials:help` command
  railties/lib/rails/commands/credentials/USAGE
Labels: railties

#52357 Clarify usafe of `bundle update` in upgrading Rails guide [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#52573 Add `store_if_blank` option to `has_rich_text`
  actiontext/CHANGELOG.md
  actiontext/lib/action_text/attribute.rb
  actiontext/test/dummy/app/models/message_without_blanks.rb
  actiontext/test/unit/model_test.rb
Labels: ready, actiontext

#52546 Improve documentation of `config.assets.quiet` [ci skip]
  guides/source/configuring.md
Labels: docs

#52650 Encryption casting with `encrypts` before `serialize`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/lib/active_record/type/serialized.rb
  activerecord/test/cases/encryption/encryptable_record_message_pack_serialized_test.rb
  activerecord/test/cases/encryption/encryptable_record_test.rb
  activerecord/test/models/traffic_light_encrypted.rb
  guides/source/active_record_encryption.md
Labels: activerecord, docs

#52639 Update the description of when SQLite might make sense as the configured database [ci skip]
  guides/source/configuring.md
Labels: docs, ready

#50475 support dumping PostgreSQL inheritance & partitioning options to `schema.rb`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
  activerecord/test/support/adapter_helper.rb
Labels: activerecord

#52656 Allow use of alternative database interfaces
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/mysql2/dbconsole_test.rb
  activerecord/test/cases/adapters/postgresql/dbconsole_test.rb
  activerecord/test/cases/adapters/sqlite3/dbconsole_test.rb
  guides/source/configuring.md
Labels: activerecord, docs, ready

#52682 Allow `URI::RFC3986_PARSER` warnings
  activesupport/lib/active_support/testing/strict_warnings.rb
Labels: activesupport, ci issues

#52684 ActiveSupport::ErrorReporter#report assigns a backtrace to unraised exceptions
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/error_reporter.rb
  activesupport/test/error_reporter_test.rb
Labels: activesupport

#52687 Unpin sqlite3 version in bug_report_templates
  guides/bug_report_templates/action_mailbox.rb
  guides/bug_report_templates/active_record.rb
  guides/bug_report_templates/active_record_migrations.rb
  guides/bug_report_templates/active_storage.rb
Labels: docs

#52688 Require testing/parallelize_executor in testing/isolation
  activesupport/lib/active_support/testing/isolation.rb
Labels: activesupport

#52521 [RF-DOCS] Rails Routing Guide [ci-skip]
  guides/source/routing.md
Labels: docs, rails foundation

#52693 Decryption casting v2 revert
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/lib/active_record/type/serialized.rb
  activerecord/test/cases/encryption/encryptable_record_message_pack_serialized_test.rb
  activerecord/test/cases/encryption/encryptable_record_test.rb
  activerecord/test/models/traffic_light_encrypted.rb
  guides/source/active_record_encryption.md
Labels: activerecord, docs

#52686 Fixed significant styling issue [ci skip]
  guides/assets/stylesrc/_dark.scss
  guides/assets/stylesrc/components/_code-container.scss
  guides/assets/stylesrc/print.scss
  guides/source/index.html.erb
Labels: docs

#52689 Remove redundant requires
  .rubocop.yml
  actionview/lib/action_view/renderer/streaming_template_renderer.rb
  actionview/lib/action_view/template.rb
  actionview/lib/action_view/template/resolver.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool/queue.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool/reaper.rb
  activerecord/test/cases/locking_test.rb
  activesupport/lib/active_support/callbacks.rb
  activesupport/lib/active_support/concurrency/share_lock.rb
  activesupport/lib/active_support/isolated_execution_state.rb
  activesupport/lib/active_support/testing/isolation.rb
  activesupport/test/dependencies_test.rb
  guides/source/initialization.md
  railties/lib/rails/engine.rb
Labels: actionpack, activerecord, activesupport, railties, docs, actionview

#52695 Strip encrypted file contents
  activesupport/lib/active_support/encrypted_file.rb
Labels: activesupport

#52226 Fix third party hook for `rails stats` Thor command
  railties/CHANGELOG.md
  railties/lib/rails/code_statistics.rb
  railties/lib/rails/commands/stats/stats_command.rb
  railties/lib/rails/tasks/statistics.rake
  railties/test/commands/stats_test.rb
Labels: railties, docs

#52694 Include batch option in the abstract adapters `perform_query` method signature
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
Labels: activerecord

#52696 Add :row_count in cached sql.active_record payload
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/test/cases/instrumentation_test.rb
Labels: activerecord

#52701 Namespace CodeStatistics and CodeStatisticsCalculator to Rails
  railties/CHANGELOG.md
  railties/lib/rails/code_statistics.rb
  railties/lib/rails/code_statistics_calculator.rb
  railties/lib/rails/commands/stats/stats_command.rb
  railties/lib/rails/tasks/statistics.rake
  railties/test/code_statistics_calculator_test.rb
  railties/test/code_statistics_test.rb
  railties/test/commands/stats_test.rb
Labels: railties, ready

#52712 No need for explicit return of handlers
  activerecord/lib/active_record/query_logs.rb
Labels: activerecord

#52706 Rename `CodeStatistics.add_directory` to `CodeStatistics.register_directory`
  railties/CHANGELOG.md
  railties/lib/rails/code_statistics.rb
  railties/lib/rails/tasks/statistics.rake
  railties/test/commands/stats_test.rb
Labels: railties

#52700 Dump schema only once after database prepare
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#52354 Add support for SQLite3 full-text-search and other virtual tables
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  activerecord/test/cases/adapters/sqlite3/virtual_table_test.rb
  activerecord/test/cases/migration/command_recorder_test.rb
  railties/test/application/bin_setup_test.rb
  railties/test/application/rake/dbs_test.rb
  railties/test/application/rake/multi_dbs_test.rb
Labels: activerecord, railties

#52713 Fixes shellcheck SC2144, replace glob with find.
  railties/lib/rails/generators/rails/app/templates/docker-entrypoint.tt
Labels: railties

#52709 Make Action Text `store_if_blank` work for `presence` validation
  actiontext/lib/action_text/attribute.rb
  actiontext/test/dummy/app/models/message_without_blanks_with_content_validation.rb
  actiontext/test/unit/model_test.rb
Labels: actiontext

#52680 Dispatch direct-upload events on attachment uploads
  actiontext/CHANGELOG.md
  actiontext/app/assets/javascripts/actiontext.esm.js
  actiontext/app/assets/javascripts/actiontext.js
  actiontext/app/javascript/actiontext/attachment_upload.js
  activestorage/app/assets/javascripts/activestorage.esm.js
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/app/javascript/activestorage/index.js
  guides/source/action_text_overview.md
Labels: docs, activestorage, actiontext

#52717 class_attribute: reduce reliance on define_method
  activerecord/test/cases/test_case.rb
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/callbacks.rb
  activesupport/lib/active_support/class_attribute.rb
  activesupport/lib/active_support/core_ext/class/attribute.rb
  activesupport/test/core_ext/class/attribute_test.rb
Labels: activerecord, activesupport

#52718 Removed credentials from action mailer config documentation.
  guides/source/action_mailer_basics.md
Labels: docs

#52720 Revert "class_attribute: reduce reliance on define_method"
  activerecord/test/cases/test_case.rb
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/callbacks.rb
  activesupport/lib/active_support/class_attribute.rb
  activesupport/lib/active_support/core_ext/class/attribute.rb
  activesupport/test/core_ext/class/attribute_test.rb
Labels: activerecord, activesupport

#52722 class_attribute: reduce reliance on define_method
  activerecord/test/cases/test_case.rb
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/callbacks.rb
  activesupport/lib/active_support/class_attribute.rb
  activesupport/lib/active_support/core_ext/class/attribute.rb
  activesupport/test/core_ext/class/attribute_test.rb
Labels: activerecord, activesupport

#52721 Fix PostgreSQL Cidr#change?: comparing '0.0.0.0'/'::' to nil
  activerecord/lib/active_record/connection_adapters/postgresql/oid/cidr.rb
  activerecord/test/cases/adapters/postgresql/cidr_test.rb
Labels: activerecord

#52699 [#52698] Fix `TimeZoneConverter#==` method so objects will be properly compared by their type, scale, limit & precision.
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods/time_zone_conversion.rb
  activerecord/test/cases/attribute_methods/time_zone_converter_test.rb
Labels: activerecord

#52662 Update i18n guide with local testing setup instructions [ci skip]
  guides/source/i18n.md
Labels: docs

#52669 Ensure ActiveRecord::Encryption.config is always ready before access
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption.rb
  activerecord/lib/active_record/railtie.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: activerecord, railties, docs

#52194 Fix return values for authenticate in docs and add present? to return false when nil
  actionpack/lib/action_controller/metal/http_authentication.rb
Labels: actionpack, ready

#51927 Clarify documentation of authenticate_or_request_with_http_token [fix #51908] [ci skip]
  actionpack/lib/action_controller/metal/http_authentication.rb
Labels: actionpack, docs

#52719 Add devcontainer to hidden_namespaces
  railties/lib/rails/generators.rb
Labels: railties

#52705 Fix Devcontainer generator with --dev option path error
  railties/lib/rails/generators.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/devcontainer_generator_test.rb
Labels: railties, ready
