Repository rails/rails, pull requests merged in 2024-12, with the labels that each got.

#53795 Fix add_unique_constraint/add_check_constraint/add_foreign_key to be revertible when given invalid options
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/test/cases/invertible_migration_test.rb
Labels: activerecord

#53798 Hide erb:authentication generator from help text
  railties/lib/rails/generators/erb/authentication/authentication_generator.rb
Labels: railties

#53790 Use `_N` as a parallel tests databases suffixes
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/test_databases.rb
  activerecord/test/cases/test_databases_test.rb
  activesupport/lib/active_support/test_case.rb
  guides/source/testing.md
Labels: activerecord, activesupport, docs

#53800 Ensure ActiveJob `enqueued_count` is an Integer
  activejob/lib/active_job/log_subscriber.rb
  activejob/test/cases/logging_test.rb
Labels: activejob

#53792 Document `ActiveSupport::Configurable` class methods [ci skip]
  activesupport/lib/active_support/configurable.rb
Labels: activesupport, docs

#53799 Workaround for mysql2 prepared statements flaky test
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
Labels: activerecord

#53743 [8.0] Fix prepared statements on mysql2 adapter
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/test/cases/adapters/postgresql/quoting_test.rb
  activerecord/test/cases/bind_parameter_test.rb
  activerecord/test/cases/explain_test.rb
  activerecord/test/cases/insert_all_test.rb
  activerecord/test/cases/test_case.rb
Labels: activerecord

#53775 Run query when using `where(attr: [])` and `pluck` with expression columns
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/relation_test.rb
Labels: activerecord

#51114 [Fix #33155] Set through target for new records
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
Labels: activerecord

#53805 Fix flaky test for async destroying of a polymorphic `belongs_to` association
  activerecord/test/models/essay_destroy_async.rb
Labels: activerecord

#53804 Use fixed font in to_sentence API docs [ci skip]
  activesupport/lib/active_support/core_ext/array/conversions.rb
Labels: activesupport

#45943 Reset AR::Relation in bulk insert and upsert methods
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/association_relation.rb
  activerecord/lib/active_record/associations/collection_proxy.rb
  activerecord/lib/active_record/insert_all.rb
  activerecord/test/cases/collection_cache_key_test.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#53807 Change testing `ProfileReporter`'s parent to `Reporter`
  railties/lib/minitest/rails_plugin.rb
Labels: railties

#53783 `AR::Middleware::ShardSelector` support for granular database connection switching
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/middleware/shard_selector.rb
  activerecord/test/cases/shard_selector_test.rb
  guides/source/active_record_multiple_databases.md
Labels: activerecord, docs

#53814 Skip minitest v5.25.3 to workaround CI failures
  Gemfile
  Gemfile.lock
Labels: ci issues

#53824 Migrate applicable `activesupport` tests to use `NotificationAssertions`
  activesupport/test/cache/behaviors/cache_instrumentation_behavior.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
  activesupport/test/cache/stores/memory_store_test.rb
  activesupport/test/deprecation_test.rb
  activesupport/test/messages/serializer_with_fallback_test.rb
Labels: activesupport

#53817 Migrate applicable `actionmailbox` tests to use `NotificationAssertions`
  actionmailbox/test/unit/mailbox/notifications_test.rb
Labels: actionmailbox

#53818 Migrate applicable `actionmailer` tests to use NotificationAssertions
  actionmailer/test/base_test.rb
  actionmailer/test/caching_test.rb
Labels: actionmailer

#53819 Migrate applicable `actionpack` tests to use `NotificationAssertions`
  actionpack/test/controller/allow_browser_test.rb
  actionpack/test/controller/caching_test.rb
  actionpack/test/controller/live_stream_test.rb
  actionpack/test/controller/redirect_test.rb
  actionpack/test/controller/send_file_test.rb
  actionpack/test/dispatch/middleware_stack_test.rb
  actionpack/test/dispatch/routing/instrumentation_test.rb
Labels: actionpack

#53820 Migrate applicable `actionview` tests to use `NotificationAssertions`
  actionview/test/activerecord/partial_rendering_query_test.rb
Labels: actionview

#53821 Migrate applicable `activejob` tests to use `NotificationAssertions`
  activejob/test/cases/instrumentation_test.rb
  activejob/test/cases/logging_test.rb
  activejob/test/cases/queuing_test.rb
Labels: activejob

#53822 Migrate applicable `activerecord` tests to use `NotificationAssertions`
  activerecord/test/activejob/job_runtime_test.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/instrumentation_test.rb
Labels: activerecord

#53823 Migrate applicable `activestorage` tests to use `NotificationAssertions`
  activestorage/test/analyzer/audio_analyzer_test.rb
  activestorage/test/analyzer/image_analyzer/image_magick_test.rb
  activestorage/test/analyzer/image_analyzer/vips_test.rb
  activestorage/test/analyzer/video_analyzer_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#53825 Migrate applicable `railties` tests to use `NotificationAssertions`
  railties/test/application/initializers/notifications_test.rb
Labels: railties

#53826 Active Record Connection Pool: Don't try to clear unowned connections
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#53827 Support loading SQLite3 extensions with `config/database.yml`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
  guides/source/configuring.md
Labels: activerecord, docs

#53830 Set `framework_defaults` in Active Job and Action Mailer bug report t…
  guides/bug_report_templates/action_mailer.rb
  guides/bug_report_templates/active_job.rb
Labels: docs

#53794 Add CSP nonce to preload links
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#53836 Improve ActiveRecord::Core#readonly! docs
  activerecord/lib/active_record/core.rb
Labels: activerecord

#53839 [ci skip] Fix a typo in the AR associations guide
  guides/source/association_basics.md
Labels: docs

#53840 Merge pull request #53839 from mrhead/guides--counter-cache-typo
  guides/source/association_basics.md
Labels: docs

#53841 Merge pull request #53839 from mrhead/guides--counter-cache-typo
  guides/source/association_basics.md
Labels: docs

#53364 Improve error handling on attempt to update optimistic lock version to `nil`
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/test/cases/locking_test.rb
  activerecord/test/models/person.rb
Labels: activerecord

#53851 `all_open_transactions` should not include invalidated transactions
  activerecord/lib/active_record.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#53551 [RF-DOCS] Action Controller Overview and Advanced Topics Guides [ci-skip]
  guides/source/action_controller_advanced_topics.md
  guides/source/action_controller_overview.md
  guides/source/documents.yaml
Labels: docs, rails foundation

#53854 [RF-DOCS] Action Controller Overview and Advanced Topics Guides [ci-s…
  guides/source/action_controller_advanced_topics.md
  guides/source/action_controller_overview.md
  guides/source/documents.yaml
Labels: docs

#53860 Address `ActiveRecord::InstrumentationTest#test_payload_connection_with_query_cache_enabled` failure
  activerecord/test/cases/instrumentation_test.rb
Labels: activerecord

#53845 Don't wrap redis in `ConnectionPool` if already given one for `ActiveSupport::Cache::RedisCacheStore`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#53866 Remove example from validation_context
  activemodel/lib/active_model/validations.rb
Labels: activemodel

#53867 Fixes in Action Controller Advanced Topics guide
  guides/source/action_controller_advanced_topics.md
Labels: docs

#53862 Update prompt_regexp for console code examples in guides
  guides/rails_guides/markdown/renderer.rb
Labels: docs

#53868 Also handle `ConnectionPool::Wrapper` objects in `RedisCacheStore`
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#53870 StatementPool#delete don't assume the statement existed
  activerecord/lib/active_record/connection_adapters/statement_pool.rb
  activerecord/test/cases/connection_adapters/statement_pool_test.rb
Labels: activerecord

#53864 Switch Redis image to Valkey in rails generators and devcontainers
  .devcontainer/compose.yaml
  railties/lib/rails/generators/rails/app/templates/config/deploy.yml.tt
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/lib/rails/generators/rails/devcontainer/templates/devcontainer/compose.yaml.tt
  railties/lib/rails/generators/rails/plugin/templates/github/ci.yml.tt
  railties/test/fixtures/.devcontainer/compose.yaml
  railties/test/generators/app_generator_test.rb
  railties/test/generators/devcontainer_generator_test.rb
Labels: railties

#53865 Update examples in Horizontal Sharding to avoid confusion
  guides/source/active_record_multiple_databases.md
Labels: docs, ready

#53861 Try to fix various flakes in AR tests
  activerecord/test/cases/adapters/abstract_mysql_adapter/nested_deadlock_test.rb
  activerecord/test/cases/encryption/concurrency_test.rb
Labels: activerecord

#53877 Fix handle_warnings with mysql2 master
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
Labels: activerecord

#53878 Remove smart quotes
  actionmailbox/test/dummy/public/400.html
  actionmailbox/test/dummy/public/404.html
  actionmailbox/test/dummy/public/422.html
  actionmailbox/test/dummy/public/500.html
  actiontext/test/dummy/public/400.html
  actiontext/test/dummy/public/404.html
  actiontext/test/dummy/public/422.html
  actiontext/test/dummy/public/500.html
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/warnings_test.rb
  activestorage/test/dummy/public/400.html
  activestorage/test/dummy/public/404.html
  activestorage/test/dummy/public/422.html
  activestorage/test/dummy/public/500.html
  railties/lib/rails/generators/rails/app/templates/public/400.html
  railties/lib/rails/generators/rails/app/templates/public/404.html
  railties/lib/rails/generators/rails/app/templates/public/422.html
  railties/lib/rails/generators/rails/app/templates/public/500.html
  railties/test/application/configuration_test.rb
  railties/test/application/middleware/exceptions_test.rb
Labels: activerecord, railties, activestorage, actionmailbox, actiontext

#53879 Add missing `supports_insert_on_duplicate_update?` checks to some tests
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#53869 Handle setting of nested through records for new records
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
  activerecord/test/models/book.rb
  activerecord/test/models/subscriber.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#53855 Change the internal transaction state to be closed when the transaction is finalized
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/transaction.rb
Labels: activerecord

#53811 Add canonical link tag to guides head
  guides/rails_guides/generator.rb
  guides/source/layout.html.erb
Labels: docs

#53847 Change `ActionText::RichText#embeds` assignment to `before_validation`
  actiontext/CHANGELOG.md
  actiontext/app/models/action_text/rich_text.rb
  actiontext/test/unit/model_test.rb
Labels: actiontext

#53857 Fixed the auto-scrolling issue of the column-side element in the desktop version [ci skip]
  guides/assets/javascripts/guides.js
Labels: docs

#53583 Add database reset suggestion [ci-skip]
  guides/source/active_record_migrations.md
Labels: docs

#53881 Consistently release the autoloading interlock from all adapters
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/trilogy/database_statements.rb
Labels: activerecord

#53882 SQLite3: Use default function as default insert value
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/fixtures/aircrafts.yml
Labels: activerecord

#53890 Fix lazy attribute method definitiont to be thread safe
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
Labels: activerecord

#53891 Action Cable pg adapter: avoid using a pinned connection
  actioncable/lib/action_cable/subscription_adapter/postgresql.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord, actioncable

#53802 [RF-DOCS] Document Rails 8 Authentication generator feature [ci-skip]
  guides/source/security.md
Labels: docs, rails foundation

#53897 [RF-DOCS] Document Rails 8 Authentication generator feature [ci-skip]…
  guides/source/security.md
Labels: docs

#53880 Add path to version select in guides
  guides/rails_guides/generator.rb
  guides/source/layout.html.erb
Labels: docs

#53894 Add an example for AR.db_warnings_ignore [ci skip]
  activerecord/lib/active_record.rb
Labels: activerecord

#53909 [7.2] Backport mysql2 prepared statements fixes
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/test/cases/adapters/postgresql/quoting_test.rb
  activerecord/test/cases/bind_parameter_test.rb
  activerecord/test/cases/explain_test.rb
  activerecord/test/cases/insert_all_test.rb
  activerecord/test/cases/test_case.rb
  activesupport/lib/active_support/testing/strict_warnings.rb
Labels: activerecord, activesupport

#53908 Skip tests if adapter does not support `insert_all`/`upsert_all`
  activerecord/test/cases/collection_cache_key_test.rb
Labels: activerecord

#53911 Mysql2Adapter: gracefully handle `Unknown prepared statement handler` errors
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
Labels: activerecord

#52154 Move production guides to separate section [ci-skip]
  guides/source/documents.yaml
Labels: docs, rails foundation

#53914 Merge pull request #52154 from p8/guides/production-section
  guides/source/documents.yaml
Labels: docs

#53915 Merge pull request #52154 from p8/guides/production-section
  guides/source/documents.yaml
Labels: docs

#53846 Getting Started guide for Rails 8
  guides/assets/images/getting_started/article_with_comments.png
  guides/assets/images/getting_started/background_jobs_dark.jpg
  guides/assets/images/getting_started/background_jobs_light.jpg
  guides/assets/images/getting_started/challenge.png
  guides/assets/images/getting_started/mvc_architecture_dark.jpg
  guides/assets/images/getting_started/mvc_architecture_light.jpg
  guides/assets/images/getting_started/rails_welcome.png
  guides/assets/images/getting_started/routing_dark.jpg
  guides/assets/images/getting_started/routing_light.jpg
  guides/assets/stylesrc/components/_code-container.scss
  guides/assets/stylesrc/highlight.scss
  guides/rails_guides/markdown/renderer.rb
  guides/source/documents.yaml
  guides/source/getting_started.md
  guides/source/getting_started_with_devcontainer.md
  guides/source/install_ruby_on_rails.md
Labels: docs, rails foundation

#53916 Fix typo in autoloading guide [ci skip]
  guides/source/autoloading_and_reloading_constants.md
Labels: docs

#53917 Update default homebrew path in `database.yml` comments
  guides/source/command_line.md
  railties/lib/rails/generators/rails/app/templates/config/databases/postgresql.yml.tt
Labels: railties, docs

#53923 Fix nested tests in `insert_all_test.rb`
  .rubocop.yml
  actionpack/test/controller/params_wrapper_test.rb
  actionview/test/template/log_subscriber_test.rb
  activemodel/lib/active_model/lint.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/relation/update_all_test.rb
  activerecord/test/cases/relations_test.rb
  activesupport/test/concern_test.rb
  activesupport/test/lazy_load_hooks_test.rb
Labels: actionpack, activemodel, activerecord, activesupport, actionview

#53887 Migrate `ActiveRecord::Normalization` to Active Model
  activemodel/CHANGELOG.md
  activemodel/lib/active_model.rb
  activemodel/lib/active_model/attributes/normalization.rb
  activemodel/test/cases/attributes/normalization_test.rb
  activerecord/lib/active_record/normalization.rb
  activerecord/test/cases/normalized_attribute_test.rb
Labels: activemodel, activerecord

#53928 Fix returning docs for upsert_all [ci skip]
  activerecord/lib/active_record/relation.rb
Labels: activerecord

#53931 [RF-DOCS] Remove stray closing tag in Rails 8 Authentication generator code snippet [ci-skip]
  guides/source/security.md
Labels: docs

#53933 Merge pull request #53931 from darronschall/patch-1
  guides/source/security.md
Labels: docs

#53937 Fix removing foreign keys with `:restrict` action for MySQL
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/test/cases/migration/foreign_key_test.rb
Labels: activerecord

#53940 Fix rdoc link to `SchemaStatements#add_check_constraint` [ci skip]
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
Labels: activerecord

#45381 Use single query to retrieve indexes in PostgreSQL
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
Labels: activerecord

#53941 Use Rack's SERVER_PROTOCOL instead of HTTP_VERSION header
  actionpack/lib/action_controller/metal/live.rb
Labels: actionpack

#53926 [RF-DOCS] Solid Queue updates in Active Job Basics [ci-skip]
  guides/source/active_job_basics.md
Labels: docs, rails foundation

#53939 [RF-DOCS] Solid Cache updates in Caching with Rails: An Overview [ci-skip]
  guides/source/caching_with_rails.md
Labels: docs, rails foundation

#53875 [RF-DOCS] Asset Pipeline Documentation (Propshaft) [ci-skip]
  guides/source/asset_pipeline.md
  guides/source/documents.yaml
Labels: docs, rails foundation

#53907 Fix canonical_url in guides
  guides/rails_guides/generator.rb
  guides/rails_guides/helpers.rb
  guides/source/layout.html.erb
Labels: docs

#53872 [RF-DOCS] Update Rails Testing Guide [ci skip]
  guides/source/documents.yaml
  guides/source/testing.md
Labels: docs, rails foundation

#53936 railties/test_parser: Cache prism work done in definition_for
  railties/lib/rails/test_unit/test_parser.rb
Labels: railties

#53943 [8.0] Maintain connection verification for 2 seconds after use
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#53944 [7.2] Maintain connection verification for 2 seconds after use
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#53918 Add an option to ensure uniqueness of newly generated session IDs in `Session::CacheStore`
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/session/cache_store.rb
  actionpack/test/dispatch/session/cache_store_test.rb
Labels: actionpack

#53929 Remove monkey patches of `Range#each` and `Range#step`
  activesupport/lib/active_support/core_ext/range.rb
  activesupport/lib/active_support/core_ext/range/each.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport

#53949 Convert `[]` in heading to `-squarebrackets` in DOM id
  guides/rails_guides/markdown.rb
Labels: docs

#53946 Allow to tag serialized attributes as comparable
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activerecord/lib/active_record/type/serialized.rb
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#53947 Add dot suffix to headings in guides
  guides/rails_guides/markdown.rb
Labels: docs

#53951 Do not validate associated records that haven't changed
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#53952 Fix rdoc code render in `ActionCable::Connection::TestCase` docs [ci skip]
  actioncable/lib/action_cable/connection/test_case.rb
Labels: actioncable

#53954 Revert "Migrate `ActiveRecord::Normalization` to Active Model"
  activemodel/CHANGELOG.md
  activemodel/lib/active_model.rb
  activemodel/lib/active_model/attributes/normalization.rb
  activemodel/test/cases/attributes/normalization_test.rb
  activerecord/lib/active_record/normalization.rb
  activerecord/test/cases/normalized_attribute_test.rb
Labels: activemodel, activerecord

#53957 Handle nested middle belongs_to, not-loaded target when setting through records
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
  activerecord/test/models/family_tree.rb
  activerecord/test/models/member_detail.rb
  activerecord/test/models/membership.rb
  activerecord/test/models/post.rb
  activerecord/test/models/rating.rb
Labels: activerecord

#53959 Handle cyclic template dependencies
  actionview/lib/action_view/digestor.rb
  actionview/test/fixtures/digestor/comments/_cycle_a.html.erb
  actionview/test/fixtures/digestor/comments/_cycle_b.html.erb
  actionview/test/fixtures/digestor/comments/cycle.html.erb
  actionview/test/template/digestor_test.rb
Labels: actionview

#53961 Handle new records in `#increment!`
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/persistence_test.rb
Labels: activerecord

#53962 Fix `#to_query` to not include `=` for nil values
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/object/to_query.rb
  activesupport/test/core_ext/object/to_query_test.rb
Labels: activesupport

#53963 Fix minor issues with bug report templates
  guides/CHANGELOG.md
  guides/bug_report_templates/action_view.rb
  guides/bug_report_templates/active_job.rb
  guides/bug_report_templates/active_record.rb
  guides/bug_report_templates/active_record_migrations.rb
Labels: docs

#53953 [ActiveJob docs] fix development database configuration yml example [ci skip]
  guides/source/active_job_basics.md
Labels: docs

#53967 Merge pull request #53953 from dplavcic/patch-1
  guides/source/active_job_basics.md
Labels: docs

#53965 Fix code render in `ActionController::Caching` docs [ci skip]
  actionpack/lib/action_controller/caching.rb
Labels: actionpack

#53969 Rewrite confusing code for getting association class
  activerecord/lib/active_record/reflection.rb
Labels: activerecord

#53966 Remove note about nested locale folders configuration
  guides/source/i18n.md
Labels: docs

#53971 Don't cache `module_parent_name` on anonymous modules
  activesupport/lib/active_support/core_ext/module/introspection.rb
  activesupport/test/core_ext/module/introspection_test.rb
Labels: activesupport

#53930 Remove N+1 due to column name resolution in PG adapter methods
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
Labels: activerecord

#53979 Fix `ActionDispatch::Executor` to unwrap exceptions like other middlewares
  actionpack/lib/action_dispatch/middleware/executor.rb
Labels: actionpack

#53978 Remove redundant codes in section 16.4 of getting_started.md [ci skip]
  guides/source/getting_started.md
Labels: docs

#53973 Fix association_basics.md [ci skip]
  guides/source/association_basics.md
Labels: docs

#53986 Fix class inheritance for Product class [ci-skip]
  guides/source/getting_started.md
Labels: docs

#53982 Use `limit` in `#sole`, not `first`.
  activerecord/lib/active_record/relation/finder_methods.rb
Labels: activerecord

#53983 Fix `sum` with qualified name on loaded relation
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#53924 Extract --skip docs into section
  guides/source/command_line.md
Labels: docs

#53994 Fix count with group by qualified name on loaded relation
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#53976 Updated Arel spec tests to check for assertionless tests
  activerecord/test/cases/arel/attributes_test.rb
  activerecord/test/cases/arel/crud_test.rb
  activerecord/test/cases/arel/helper.rb
  activerecord/test/cases/arel/nodes/and_test.rb
  activerecord/test/cases/arel/nodes/as_test.rb
  activerecord/test/cases/arel/nodes/bind_param_test.rb
  activerecord/test/cases/arel/nodes/casted_test.rb
  activerecord/test/cases/arel/nodes/cte_test.rb
  activerecord/test/cases/arel/nodes/delete_statement_test.rb
  activerecord/test/cases/arel/nodes/distinct_test.rb
  activerecord/test/cases/arel/nodes/equality_test.rb
  activerecord/test/cases/arel/nodes/false_test.rb
  activerecord/test/cases/arel/nodes/insert_statement_test.rb
  activerecord/test/cases/arel/nodes/not_test.rb
  activerecord/test/cases/arel/nodes/or_test.rb
  activerecord/test/cases/arel/nodes/select_statement_test.rb
  activerecord/test/cases/arel/nodes/table_alias_test.rb
  activerecord/test/cases/arel/nodes/true_test.rb
  activerecord/test/cases/arel/nodes/update_statement_test.rb
  activerecord/test/cases/arel/nodes/window_test.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#53623 Prevent Active Storage Blob from autosaving Attachments:
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/blob.rb
  activestorage/test/models/attachment_test.rb
  activestorage/test/test_helper.rb
Labels: activestorage

#54010 Fix rdoc code render in `Rails::CodeStatistics` docs [ci skip]
  railties/lib/rails/code_statistics.rb
Labels: railties

#54023 Remove unused requires and refactor teardown
  activerecord/test/cases/active_record_test.rb
  activerecord/test/cases/asynchronous_queries_test.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#54022 Fix the `rails new -A` CLI description
  railties/lib/rails/generators/app_base.rb
Labels: railties

#54025 Default to the `host` config for db connection for trilogy adapter
  railties/lib/rails/generators/rails/app/templates/config/databases/trilogy.yml.tt
Labels: railties

#54035 Merge pull request #52951 from Ridhwana/Ridhwana/active-record-valida…
  guides/source/active_record_validations.md
Labels: docs

#54034 Fix a few typos on the new Getting Started tutorial [ci-skip]
  guides/source/getting_started.md
Labels: docs

#54033 Fix typo on getting_started.md [ci skip]
  guides/source/getting_started.md
Labels: docs

#54036 Fix missing hyperlink on new Getting Started tutorial [ci-skip]
  guides/source/getting_started.md
Labels: docs

#54037 Fix reference to view file in getting-started tutorial
  guides/source/getting_started.md
Labels: docs

#54043 Fix belong_to typo in Active Record Associations guide [ci skip]
  guides/source/association_basics.md
Labels: docs

#54045 Remove redundant `quiet` check
  railties/lib/rails/generators/actions.rb
Labels: railties

#54048 [issue-54044] fixed small type let' -> let's in getting_started guide
  guides/source/getting_started.md
Labels: docs

#54049 Fix typo in initialization.md [ci skip]
  guides/source/initialization.md
Labels: docs

#54046 Handle polymorphic collection associations when setting through records
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
Labels: activerecord

#53797 Introduce versions formatter for the schema dumper
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/migration/default_schema_versions_formatter.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/schema_dumper_test.rb
  guides/source/configuring.md
Labels: activerecord, docs

#54054 Fix `config.active_record.schema_versions_formatter` example [skip ci]
  guides/source/configuring.md
Labels: docs

#54059 Fix retrieving PostgreSQL indexes with keyword-named columns
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#54062 Update link in Rails documentation to use the main branch [ci skip]
  guides/source/getting_started.md
Labels: docs

#54060 Add missing whitespace to Generating Child Models section [ci skip]
  guides/source/association_basics.md
Labels: docs

#54067 [ci-skip][doc] Fix typo in edge Validation Guides
  guides/source/active_record_validations.md
Labels: docs

#54068 [ci-skip][doc] Fix typo in Validation Guides: backport to 7-2-stable
  guides/source/active_record_validations.md
Labels: docs

#54053 Fix two unused block warnings on Ruby 3.4
  activemodel/lib/active_model/attribute.rb
  activemodel/lib/active_model/type/value.rb
Labels: activemodel

#54069 docs: Fix ActiveStorage example fixture snippet [ci skip]
  guides/source/active_storage_overview.md
Labels: docs

#54017 Fix setting `to_time_preserves_timezone` from `new_framework_defaults_8_0.rb`
  activesupport/lib/active_support/railtie.rb
  railties/test/application/configuration_test.rb
Labels: activesupport, railties

#52317 Update engines.md: use article :references instead of article_id :integer in Comment model generator [ci skip]
  guides/source/engines.md
Labels: docs

#51496 Handle path_params gracefully when a user sends `?path_params=string`
  actionpack/lib/action_dispatch/journey/formatter.rb
  actionpack/test/controller/url_for_integration_test.rb
Labels: actionpack

#54071 Docs: of -> on [ci-skip]
  guides/source/getting_started.md
Labels: docs

#54070 Use released version of `websocket-client-simple`
  Gemfile
  Gemfile.lock
  actioncable/test/client_test.rb
Labels: actioncable

#54050 Replace SyntaxTree with Prism in `rail_inspector`
  Gemfile
  Gemfile.lock
  guides/source/configuring.md
  tools/rail_inspector/lib/rail_inspector/configuring.rb
  tools/rail_inspector/lib/rail_inspector/configuring/check/general_configuration.rb
  tools/rail_inspector/lib/rail_inspector/visitor/attribute.rb
  tools/rail_inspector/lib/rail_inspector/visitor/framework_default.rb
  tools/rail_inspector/lib/rail_inspector/visitor/hash_to_string.rb
  tools/rail_inspector/lib/rail_inspector/visitor/multiline_to_string.rb
  tools/rail_inspector/rail_inspector.gemspec
  tools/rail_inspector/test/rail_inspector/visitor/attribute_test.rb
  tools/rail_inspector/test/rail_inspector/visitor/framework_default_test.rb
  tools/rail_inspector/test/rail_inspector/visitor/hash_to_string_test.rb
  tools/rail_inspector/test/test_helper.rb
Labels: docs

#54052 Fix race condition in ConnectionPool#checkout on @pinned_connection
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#54073 [8.0] Fix two unused block warnings on Ruby 3.4
  activemodel/lib/active_model/attribute.rb
  activemodel/lib/active_model/type/value.rb
Labels: activemodel
