Repository rails/rails, pull requests merged in 2024-10, with the labels that each got.

#53127 Fix formatting in `query_assertions` docs
  activerecord/lib/active_record/testing/query_assertions.rb
Labels: activerecord

#53126 Fix broken code snippet in helper doc comments
  actionpack/lib/abstract_controller/helpers.rb
Labels: actionpack

#53130 [ci-skip][docs] Remove duplicate paragraph in association_basics.md
  guides/source/association_basics.md
Labels: docs

#53108 [ci skip] Fixed cardinality b/w review and book table in bookstore_mo…
  guides/assets/images/active_record_querying/bookstore_models.png
Labels: docs

#53132 Don't require `predicate_builder` to create aliased relations
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/batches_test.rb
  activerecord/test/cases/collection_cache_key_test.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#53131 Make `ActionController::AllowBrowser::BrowserBlocker` private
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/allow_browser.rb
Labels: actionpack

#53134 ActiveRecord::Result#each to yield regular Hash
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/querying.rb
  activerecord/lib/active_record/result.rb
Labels: activerecord

#52996 Add reload! as a IRB::HelperMethod so it can be combined with other calls in a single statement. Fixes rails/rails#52982
  railties/lib/rails/commands/console/irb_console.rb
Labels: railties

#53140 Remove APP_NAME const as no longer being used in bin/setup
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
Labels: railties, ready

#53100 Skip test:system in Github workflow when options[:api] is passed in rails new command
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties, ready

#53145 Rename authentication generator templates, add missing `.tt` extensions
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/concerns/authentication.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/passwords_controller.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/sessions_controller.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/mailers/passwords_mailer.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/models/current.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/models/session.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/models/user.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/views/passwords_mailer/reset.html.erb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/views/passwords_mailer/reset.text.erb.tt
  railties/lib/rails/generators/rails/authentication/templates/test/mailers/previews/passwords_mailer_preview.rb.tt
Labels: railties

#53152 Get rid of CheckPending#connection
  activerecord/lib/active_record/migration.rb
Labels: activerecord

#53135 Clarify the use case for Strict Locals
  guides/source/action_view_overview.md
Labels: docs

#53154 ConnectionPool#unpin_connection! handle lazily pinned connections
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#53150 Fix `:source_location` query tag option to print full source locations
  activerecord/lib/active_record/query_logs.rb
  railties/test/application/query_logs_test.rb
Labels: activerecord, railties, needs backport

#53157 Link to all methods from `ActiveModel::Conversion` comments [ci skip]
  activemodel/lib/active_model/conversion.rb
Labels: activemodel, docs

#53159 Remove `error.respond_to?(:detailed_message)` conditions
  actionpack/test/controller/base_test.rb
  actionpack/test/controller/helper_test.rb
  actionpack/test/controller/required_params_test.rb
  actionpack/test/dispatch/routing_test.rb
  actionview/test/template/render_test.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/cases/associations/join_model_test.rb
Labels: actionpack, activerecord, actionview

#53160 Fix log level of ActiveJob :retry_stopped event
  activejob/lib/active_job/log_subscriber.rb
Labels: activejob

#53162 Fix tests to pass on ruby-head
  activemodel/test/cases/type/date_time_test.rb
  railties/test/commands/routes_test.rb
Labels: activemodel, railties

#53163 [7.2] Fix URI::DEFAULT_PARSER warnings
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/routing/inspector.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/controller/parameter_encoding_test.rb
  actionpack/test/controller/routing_test.rb
  actionview/lib/action_view/helpers/url_helper.rb
  activerecord/lib/active_record/database_configurations/connection_url_resolver.rb
  railties/lib/rails/info_controller.rb
  railties/test/application/assets_test.rb
Labels: actionpack, activerecord, railties, actionview

#53164 [7.1] Fix URI::DEFAULT_PARSER warnings
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/routing/inspector.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/controller/parameter_encoding_test.rb
  actionpack/test/controller/routing_test.rb
  actionview/lib/action_view/helpers/url_helper.rb
  activerecord/lib/active_record/database_configurations/connection_url_resolver.rb
  railties/lib/rails/info_controller.rb
  railties/test/application/assets_test.rb
Labels: actionpack, activerecord, railties, actionview

#53168 Fix grammar typo in sentence.
  guides/source/working_with_javascript_in_rails.md
Labels: docs

#51676 Allow `ActiveRecord::QueryMethods#pluck` to accept hash args with symbol & string values
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#51464 [Fix #51463] Raise an error when invalid `:on` or `:except` options are given to `#resource` or `#resources`
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
  actionpack/test/controller/resources_test.rb
Labels: actionpack, railties, ready, actionmailbox

#53173 Fix remove_column API doc [ci-skip]
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
Labels: activerecord

#53171 Bug report templates should use ActiveSupport::TestCase not raw Minitest::Test
  guides/bug_report_templates/active_record.rb
  guides/bug_report_templates/active_record_migrations.rb
  guides/bug_report_templates/active_storage.rb
  guides/bug_report_templates/generic.rb
Labels: docs

#53175 Fix helper behavior on controller that don't require authentication
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/concerns/authentication.rb.tt
Labels: railties

#53170 Update vendored trix version to 2.1.6
  actiontext/app/assets/javascripts/trix.js
Labels: actiontext

#53189 Use `assert_not` in bug report template TestCase
  guides/bug_report_templates/generic.rb
Labels: docs

#53177 ErrorHighlight 0.5.1+ is always available since Ruby 3.2
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_source.html.erb
  actionpack/test/dispatch/exception_wrapper_test.rb
  activesupport/lib/active_support/core_ext/thread/backtrace/location.rb
Labels: actionpack, activesupport

#53191 Extract adapter specific `quote_table_name` helper method for testing
  activerecord/test/activejob/destroy_association_async_test.rb
  activerecord/test/cases/annotate_test.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_through_disable_joins_associations_test.rb
  activerecord/test/cases/associations/inner_join_association_test.rb
  activerecord/test/cases/associations/left_outer_join_association_test.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/cases/batches_test.rb
  activerecord/test/cases/calculations_test.rb
  activerecord/test/cases/excluding_test.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/inheritance_test.rb
  activerecord/test/cases/locking_test.rb
  activerecord/test/cases/relation/delete_all_test.rb
  activerecord/test/cases/relation/merging_test.rb
  activerecord/test/cases/relation/predicate_builder_test.rb
  activerecord/test/cases/relation/update_all_test.rb
  activerecord/test/cases/relation_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/cases/scoping/default_scoping_test.rb
  activerecord/test/cases/test_case.rb
  activerecord/test/cases/unsafe_raw_sql_test.rb
  activerecord/test/cases/view_test.rb
Labels: activerecord

#53196 Fix `pluck` passed hash with alias join
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#53190 Simplify usage of Postgres `format` function
  activerecord/lib/active_record/connection_adapters/postgresql/referential_integrity.rb
Labels: activerecord

#53197 Update rails console prompts [ci skip]
  guides/source/getting_started.md
Labels: docs

#53202 Update the test suite for Ruby 3.4 Hash#inspect changes
  actioncable/test/channel/base_test.rb
  actionpack/test/controller/log_subscriber_test.rb
  actionpack/test/controller/parameters/accessors_test.rb
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionpack/test/dispatch/routing/inspector_test.rb
  actionview/test/template/form_tag_helper_test.rb
  actionview/test/template/render_test.rb
  actionview/test/template/sanitize_helper_test.rb
  activejob/test/cases/serializers_test.rb
  activerecord/test/cases/log_subscriber_test.rb
  activerecord/test/cases/migration/check_constraint_test.rb
  activerecord/test/cases/migration/columns_test.rb
  activerecord/test/cases/migration/compatibility_test.rb
  activerecord/test/cases/serialized_attribute_test.rb
  activesupport/test/broadcast_logger_test.rb
  activesupport/test/ordered_options_test.rb
  railties/test/application/configuration_test.rb
  railties/test/application/rendering_test.rb
Labels: actionpack, activerecord, activesupport, railties, actionview, activejob, actioncable

#53203 Update Active Job test suite for Ruby 3.4 Hash#inspect
  activejob/test/cases/test_helper_test.rb
Labels: activejob

#53165 Add user fixture to authentication generator
  railties/lib/rails/generators/rails/authentication/authentication_generator.rb
  railties/lib/rails/generators/test_unit/authentication/authentication_generator.rb
  railties/lib/rails/generators/test_unit/authentication/templates/test/fixtures/users.yml.tt
  railties/lib/rails/generators/test_unit/authentication/templates/test/models/user_test.rb.tt
  railties/test/generators/authentication_generator_test.rb
Labels: railties

#53204 [ci skip] update testing guide to use assert_not instead of refute.
  guides/source/testing.md
Labels: docs

#51066 Fix destroy of has_one with multiple belongs_to
  activerecord/lib/active_record/callbacks.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/cases/token_for_test.rb
  activerecord/test/models/room.rb
  activerecord/test/models/user.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#43495 Add `:except_on` option for validations
  activemodel/CHANGELOG.md
  activemodel/lib/active_model/validations.rb
  activemodel/lib/active_model/validations/validates.rb
  activemodel/test/cases/validations_test.rb
Labels: activemodel

#53200 Fix some (flaky?) failures in railties tests
  railties/lib/rails/test_unit/runner.rb
  railties/test/abstract_unit.rb
  railties/test/generators/namespaced_generators_test.rb
  railties/test/isolation/abstract_unit.rb
  railties/test/test_unit/reporter_test.rb
Labels: railties

#51507 [Fix #40109] Incorrect joins for polymorphic `has_many through:` with association scope
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/nested_through_associations_test.rb
  activerecord/test/models/post.rb
Labels: activerecord, ready

#53212 Fix test leak due to using class instance variables and inheritance
  railties/test/configuration/dynamic_options_test.rb
Labels: railties

#53213 Fix "Test is missing assertions" in `middleware_stack_proxy_test.rb`
  railties/test/configuration/middleware_stack_proxy_test.rb
Labels: railties

#53176 allow to autosave associations with polymorphic has many through join…
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/has_many_through_association.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/models/zine.rb
Labels: activerecord

#53214 Fix changelog typo from #51464
  actionpack/CHANGELOG.md
Labels: actionpack

#53218 Update error_reporting.md
  guides/source/error_reporting.md
Labels: docs

#53222 Fix markdown links in Content Security Policy docs [ci skip]
  actionpack/lib/action_dispatch/http/content_security_policy.rb
Labels: actionpack

#53224 `select` with hash allows aliases on expressions
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/select_test.rb
  activerecord/test/support/adapter_helper.rb
Labels: activerecord

#53226 Prevent `Rails.env` change from leaking to other tests
  railties/test/commands/console_test.rb
Labels: railties

#53232 Extract `remove_constraint` for SQL standard `DROP CONSTRAINT` syntax
  activerecord/lib/active_record/connection_adapters/abstract/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/migration/check_constraint_test.rb
  activerecord/test/cases/migration/foreign_key_test.rb
  activerecord/test/cases/test_case.rb
  activerecord/test/support/adapter_helper.rb
Labels: activerecord

#53237 Update doc for `quoted_table_name` and `quoted_primary_key` [ci-skip]
  activerecord/lib/active_record/attribute_methods/primary_key.rb
  activerecord/lib/active_record/model_schema.rb
Labels: activerecord

#53158 AllowBrowser: support method names for `:block`
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/allow_browser.rb
  actionpack/test/controller/allow_browser_test.rb
Labels: actionpack, ready

#53234 Change OWASP security reference to the general OWASP Cheat Sheet Series
  guides/source/security.md
Labels: docs

#53239 Fix Zeitwerk error when Pathname added to paths [ci-skip]
  guides/source/active_job_basics.md
Labels: docs

#53238 Fix `ActiveRecord::ModelSchema.sequence_name` to work for tables with composite primary keys
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#53244 Allow ActiveRecord's `#insert` to work with an empty hash of attributes when using MySQL
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#53247 Fix CTE construction when passed arrays with single items
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/with_test.rb
Labels: activerecord

#53243 Fix infinite loop in ERBTracker
  actionview/lib/action_view/dependency_tracker/erb_tracker.rb
  actionview/test/template/dependency_tracker_test.rb
Labels: actionview

#53256 Fix an omission in the recursive CTE documentation
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#53259 Don't execute i18n watcher on boot.
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/i18n_railtie.rb
Labels: activesupport

#53257 [docs] fixes broken link to ActiveRecord::Locking::Pessimistic
  activerecord/lib/active_record/locking/optimistic.rb
Labels: activerecord

#53192 Guides: Update serialization section [ci skip]
  guides/source/active_job_basics.md
Labels: docs

#51704 [ci skip]Docs highlight form_with over form_for
  actionpack/lib/action_controller/form_builder.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/lib/action_dispatch/routing/polymorphic_routes.rb
  actionview/lib/action_view/helpers/date_helper.rb
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/lib/action_view/helpers/form_options_helper.rb
  actionview/lib/action_view/record_identifier.rb
  railties/lib/rails/engine.rb
Labels: actionpack, railties, actionview

#53264 Fix `pluck` with qualified name on loaded relation
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#53252 Refactor `activerecord/Rakefile` and add `port` option to the config
  activerecord/Rakefile
  activerecord/test/config.example.yml
Labels: activerecord

#53270 [Fix #53269] `:only` and `:except` validation incorrectly handles string values
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/controller/resources_test.rb
Labels: actionpack

#53276 Fix the stylesheet instruction comment in the default generated layout.
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
Labels: railties

#53282 Clarify `inverse_of` as a concept in CHANGELOG
  activerecord/CHANGELOG.md
Labels: activerecord

#53208 Unify migration file name formats in "Getting Started with Rails" [ci skip]
  guides/source/getting_started.md
Labels: docs

#53283 Fix unintended guide chapter scrolling when visit by turbo [skip ci]
  guides/assets/javascripts/guides.js
Labels: docs

#53268 Fix `CURRENT_TIMESTAMP` test failure by setting time_zone correctly
  activerecord/test/cases/date_time_test.rb
  activerecord/test/config.example.yml
Labels: activerecord

#53291 [skip ci] Fix typo in connection_adapters.rb
  activerecord/lib/active_record/connection_adapters.rb
Labels: activerecord

#53193 Do more request parameter parsing ourselves
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/http/param_builder.rb
  actionpack/lib/action_dispatch/http/param_error.rb
  actionpack/lib/action_dispatch/http/query_parser.rb
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/request/utils.rb
  actionpack/lib/action_dispatch/testing/assertions/response.rb
  actionpack/lib/action_dispatch/testing/integration.rb
  actionpack/test/abstract_unit.rb
  actionpack/test/assertions/response_assertions_test.rb
  actionpack/test/dispatch/request/query_string_parsing_test.rb
  actionpack/test/dispatch/request_test.rb
  actionpack/test/journey/router_test.rb
  actionpack/test/support/rack_parsing_override.rb
  railties/test/application/middleware/exceptions_test.rb
Labels: actionpack, railties

#52905 [RF-DOCS] Action Mailer Guide [ci-skip]
  guides/source/action_mailer_basics.md
Labels: docs, rails foundation

#53301 [RF-DOCS] Action Mailer Guide [ci-skip] (#52905)
  guides/source/action_mailer_basics.md
Labels: docs

#53302 [RF-DOCS] Update Rails Error Reporting Guide [ci skip] (#52885)
  guides/source/documents.yaml
  guides/source/error_reporting.md
Labels: docs

#53300 Update active_record_basics.md [ci skip]
  guides/source/active_record_basics.md
Labels: docs

#53303 Update active_record_basics.md
  guides/source/active_record_basics.md
Labels: docs

#53298 Improve `ActionController::TestCase` to expose a binary encoded `request.body`.
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/test_case.rb
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#53292 Allow `warning: redefining 'object_id' may cause serious problems` in the `TransactionCallbacksTest`
  activesupport/lib/active_support/testing/strict_warnings.rb
Labels: activesupport

#53308 SQLite3Adapter: add missing event name for BEGIN TRANSACTION
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
Labels: activerecord

#53310 Skip Action View error mapping tests on 3.4+
  actionpack/test/support/rack_parsing_override.rb
  actionview/lib/action_view/template.rb
  actionview/test/template/render_test.rb
Labels: actionpack, actionview

#53312 [7.2] Skip Action View error mapping tests on 3.4+
  actionview/test/template/render_test.rb
Labels: actionview

#53311 Silence `object_id` redefinition warnings in the test suite
  activerecord/test/cases/transaction_callbacks_test.rb
  activesupport/lib/active_support/testing/strict_warnings.rb
Labels: activerecord, activesupport

#53316 Support Prism for ActionView::Template.spot
  Gemfile.lock
  actionview/lib/action_view/template.rb
  actionview/test/template/render_test.rb
Labels: actionview

#53318 [7.2] Support Prism for ActionView::Template.spot
  Gemfile.lock
  actionview/lib/action_view/template.rb
  actionview/test/template/render_test.rb
Labels: actionview

#53319 Remove unnecessary new line.
  activesupport/lib/active_support/isolated_execution_state.rb
Labels: activesupport

#53284 [ci skip] Document `--skip-executor` option for Rails Runner
  guides/source/command_line.md
Labels: docs

#53240 Fix `db:migrate:reset` task
  activerecord/lib/active_record/railties/databases.rake
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#53169 Add test coverage for Active Job log levels
  activejob/test/cases/logging_test.rb
Labels: activejob

#53330 ActiveModel::Dirty: only reset original values for persisted records
  activemodel/lib/active_model/dirty.rb
  activemodel/test/cases/dirty_test.rb
Labels: activemodel

#53331 Speedup AttributeSet#deep_dup
  activemodel/lib/active_model/attribute_set.rb
Labels: activemodel

#53337 ActiveModel::Attribute: elide dup for immutable types
  activemodel/lib/active_model/attribute.rb
  activemodel/lib/active_model/attribute/user_provided_default.rb
  activemodel/lib/active_model/type/string.rb
Labels: activemodel

#53297 [ci skip] Update example to use ActiveRecord::SecurePassword.authenticate_by method
  guides/source/action_controller_overview.md
Labels: docs, ready

#53326 Reload lazy routes on recognize_path_with_request
  railties/lib/rails/engine/lazy_route_set.rb
  railties/test/engine/lazy_route_set_test.rb
Labels: railties

#53329 Update vendored Trix version to 2.1.7
  actiontext/app/assets/javascripts/trix.js
Labels: ready, actiontext

#53345 Pull attribute initialization in to a function
  activemodel/lib/active_model/dirty.rb
  activerecord/lib/active_record/core.rb
Labels: activemodel, activerecord

#53342 Infer rubocop ruby version for guides from the gemspec as well
  Gemfile.lock
  guides/.rubocop.yml
  guides/rails_guides/generator.rb
Labels: docs

#53347 Revert "ActiveModel::Attribute: elide dup for immutable types"
  activemodel/lib/active_model/attribute.rb
  activemodel/lib/active_model/attribute/user_provided_default.rb
  activemodel/lib/active_model/type/string.rb
  activerecord/test/cases/base_test.rb
Labels: activemodel, activerecord

#53353 [ci skip] fix(docs): incorrect indentation in association_basics.md
  guides/source/association_basics.md
Labels: docs

#53360 Fix marshalling of unsaved associated records in 7.1 format
  activerecord/lib/active_record/marshalling.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#53357 Update active_record_callbacks.md [ci skip]
  guides/source/active_record_callbacks.md
Labels: docs

#53325 Fix `NoMethodError` when content type is set to nil in tests
  actionpack/lib/action_controller/test_case.rb
  actionpack/test/controller/test_case_test.rb
Labels: actionpack

#53363 Get rid of `bundler_windows_platforms`
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
  railties/test/generators/generators_test_helper.rb
Labels: railties

#53365 Preserve custom predicate handlers for joins
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/table_metadata.rb
  activerecord/test/cases/relation/predicate_builder_test.rb
Labels: activerecord

#53367 Prevent `ActiveSupport::TimeZone` documentation class inferences [ci skip]
  activesupport/lib/active_support/values/time_zone.rb
Labels: activesupport

#53315 Fix guides version selector
  guides/source/layout.html.erb
Labels: docs, ready

#53327 Add support for using Kamal inside of the generated devcontainer
  railties/CHANGELOG.md
  railties/lib/rails/commands/devcontainer/devcontainer_command.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/devcontainer/devcontainer_generator.rb
  railties/test/commands/devcontainer_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/devcontainer_generator_test.rb
Labels: railties

#53372 Reduce allocations in AS::Duration#{since,ago}
  activesupport/lib/active_support/duration.rb
Labels: activesupport

#53374 Remove all deprecations
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/strong_parameters.rb
  actionpack/lib/action_controller/railtie.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/form_helper.rb
  actionview/lib/action_view/helpers/tag_helper.rb
  actionview/test/template/form_helper/form_with_test.rb
  actionview/test/template/tag_helper_test.rb
  activejob/CHANGELOG.md
  activejob/lib/active_job.rb
  activerecord/CHANGELOG.md
  activerecord/bin/test
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/enum.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/lib/active_record/relation/record_fetch_warning.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/associations_test.rb
  activerecord/test/cases/connection_adapters/registration_test.rb
  activerecord/test/cases/enum_test.rb
  activerecord/test/cases/reflection_test.rb
  activerecord/test/cases/relation/record_fetch_warning_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  activerecord/test/cases/transactions_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/core_ext/module/attr_internal.rb
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/lib/active_support/proxy_object.rb
  activesupport/test/core_ext/module/attr_internal_test.rb
  activesupport/test/deprecation_test.rb
  activesupport/test/proxy_object_test.rb
  guides/source/8_0_release_notes.md
  guides/source/configuring.md
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/commands/console/irb_console.rb
  railties/lib/rails/console/app.rb
  railties/lib/rails/console/helpers.rb
  railties/lib/rails/console/methods.rb
  railties/lib/rails/engine.rb
  railties/test/application/console_test.rb
  railties/test/commands/console_test.rb
Labels: actionpack, activerecord, activesupport, actionview, activejob

#53359 Fix time zone-aware custom attributes not to hit the circuit breaker for infinite recursion
  activemodel/lib/active_model/type/value.rb
  activerecord/lib/active_record/attribute_methods/time_zone_conversion.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/array.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/schema/schema.rb
Labels: activemodel, activerecord

#53375 Deprecate setting `config.active_job.enqueue_after_transaction_commit`
  activejob/lib/active_job/enqueue_after_transaction_commit.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/lib/active_job/queue_adapters/abstract_adapter.rb
  activejob/lib/active_job/queue_adapters/delayed_job_adapter.rb
  activejob/lib/active_job/queue_adapters/inline_adapter.rb
  activejob/lib/active_job/queue_adapters/queue_classic_adapter.rb
  activejob/lib/active_job/queue_adapters/test_adapter.rb
  activejob/lib/active_job/railtie.rb
  activejob/test/cases/enqueue_after_transaction_commit_test.rb
  activejob/test/cases/queue_adapter_test.rb
  activejob/test/jobs/enqueue_error_job.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties, docs, activejob

#53376 Fix incorrect Method and Time API doc links [ci skip]
  activesupport/lib/active_support/core_ext/string/multibyte.rb
  activesupport/lib/active_support/core_ext/time/zones.rb
  activesupport/lib/active_support/time_with_zone.rb
Labels: activesupport

#53385 Fix invalid syntax in TextHelper#highlight API docs example [ci skip]
  actionview/lib/action_view/helpers/text_helper.rb
Labels: actionview

#53377 Fix a order-dependant test failure in railties
  railties/test/application/configuration/custom_test.rb
Labels: railties

#53393 Add prefix address when IPAddr of CIDR encoded with JSON
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/object/json.rb
  activesupport/test/json/encoding_test_cases.rb
Labels: activesupport

#53398 Fix strict loading propagation even if statement cache is not used
  activerecord/lib/active_record/association_relation.rb
  activerecord/lib/active_record/associations/association.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#53396 Allow `rename_enum` accepts two from/to name arguments as `rename_table` does so
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/test/cases/adapters/postgresql/enum_test.rb
  activerecord/test/cases/migration/command_recorder_test.rb
  guides/source/active_record_postgresql.md
Labels: activerecord, docs

#53408 Fix enum labels to accepts as keyword arguments
  activerecord/lib/active_record/enum.rb
  activerecord/test/cases/enum_test.rb
Labels: activerecord

#53412 Fix typo in `ActionController::Parameters` docs [ci-skip]
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#53414 Fix `ActionController::Parameters` docs code block following list [ci-skip]
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#53389 Link to Assocation sections on the same page [ci-skip]
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#53415 Merge pull request #53389 from p8/activerecord/inverse-of-links
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#53416 Merge pull request #53389 from p8/activerecord/inverse-of-links
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#53274 Avoid reading id twice in AR::Core#hash
  activerecord/lib/active_record/core.rb
Labels: activerecord

#53423 [ci skip] Update Example in Multiple Databases with Active Record Docs
  guides/source/active_record_multiple_databases.md
Labels: docs

#53425 Make internal query() retryable
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
Labels: activerecord

#53400 Translate `no connection to the server` to ConnectionNotEstablished
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#53440 Fix `CurrentAttributes#attributes` to return new object each time
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#53426 Security release forward ports to newer branches
  actionmailer/lib/action_mailer/mail_helper.rb
  actionmailer/test/mail_helper_test.rb
  actionpack/lib/action_controller/metal/http_authentication.rb
  actionpack/lib/action_dispatch/http/filter_parameters.rb
  actionpack/lib/action_dispatch/http/filter_redirect.rb
  actiontext/lib/action_text/plain_text_conversion.rb
  actiontext/test/unit/plain_text_conversion_test.rb
Labels: actionmailer, actionpack, actiontext

#53445 We should only use _url when changing the host, otherwise _path is better
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/concerns/authentication.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/passwords_controller.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/sessions_controller.rb.tt
Labels: railties

#53447 [7.2] Translate `no connection to the server` to ConnectionNotEstablished
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#53446 [8.0] Translate `no connection to the server` to ConnectionNotEstablished
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/postgresql_adapter_test.rb
Labels: activerecord

#53444 Authenticate the action cable connection too
  railties/lib/rails/generators/rails/authentication/authentication_generator.rb
  railties/lib/rails/generators/rails/authentication/templates/app/channels/application_cable/connection.rb.tt
  railties/test/generators/authentication_generator_test.rb
Labels: railties

#53379 `db:prepare` no longer loads seed when non-primary db is created
  activerecord/lib/active_record/database_configurations/database_config.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/test/cases/database_configurations/hash_config_test.rb
  guides/source/active_record_migrations.md
Labels: activerecord, docs

#53346 Report ActiveSupport::LogSubscriber errors to Rails.error
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/test/log_subscriber_test.rb
Labels: activesupport

#53458 [8-0-stable] Remove git merge note from 6cb90feec90d3ff6c43bb34536571c1f45f2915c
  railties/test/generators/authentication_generator_test.rb
Labels: railties

#53456 NULLS NOT DISTINCT works with UNIQUE CONSTRAINT as well as UNIQUE INDEX
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/migration/unique_constraint_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
Labels: activerecord

#53474 Load schema when running db:migrate on fresh dbs
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#53320 Load schema when running db:migrate on fresh dbs
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#53469 Deduplicate `with` CTE expressions
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/mutation_test.rb
  activerecord/test/cases/relation/with_test.rb
Labels: activerecord

#53476 refactor: remove redundant `serialize_argument(true)` call in `serialize_indifferent_hash`
  activejob/lib/active_job/arguments.rb
Labels: activejob

#53470 Speedup ActiveModel::Type::Integer#serialize by up to 10x
  activemodel/lib/active_model/type/big_integer.rb
  activemodel/lib/active_model/type/integer.rb
Labels: activemodel, activerecord

#53480 Unify query values deduplication for multi values
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/merging_test.rb
  activerecord/test/cases/relation_test.rb
Labels: activerecord

#53473 Add CHANGELOG entry for 170e6c1 [ci-skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#53483 Cherry pick 9946bd0ab3
  guides/source/configuring.md
Labels: actionmailer, actioncable, actionmailbox

#53484 Respect db config `query_cache` in railtie executor hook
  activerecord/lib/active_record/query_cache.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#53471 Maintain Rack 2 parameter parsing behaviour
  actionpack/lib/action_dispatch/http/param_builder.rb
  actionpack/lib/action_dispatch/http/query_parser.rb
  actionpack/lib/action_dispatch/railtie.rb
  actionpack/test/dispatch/param_builder_test.rb
  actionpack/test/dispatch/query_parser_test.rb
Labels: actionpack

#53453 Fix routes with `::` in the path
  actionpack/lib/action_dispatch/journey/scanner.rb
  actionpack/test/dispatch/routing_test.rb
  actionpack/test/journey/route/definition/scanner_test.rb
Labels: actionpack
