Repository rails/rails, pull requests merged in 2024-04, with the labels that each got.

#51456 Reduce contrast of text and inline code elements [ci skip]
  guides/assets/images/hr_rails_white.svg
  guides/assets/images/hr_rails_white_mobile.svg
  guides/assets/images/icon_book-close-bookmark-1-wht.svg
  guides/assets/stylesrc/_dark.scss
  guides/assets/stylesrc/style.scss
Labels: docs, rails foundation

#51453 Add the ability to ignore counter cache columns while they are backfilling
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/associations/has_many_association.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/counter_cache_test.rb
  activerecord/test/fixtures/cars.yml
  activerecord/test/models/bulb.rb
  activerecord/test/models/car.rb
  activerecord/test/models/tyre.rb
  activerecord/test/schema/schema.rb
  guides/source/association_basics.md
Labels: activerecord, docs

#51474 Allow to register transaction callbacks outside of a record
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/transaction.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/transactions_test.rb
Labels: activerecord

#51426 Automatically delay Active Job enqueues to after commit
  .rubocop.yml
  activejob/CHANGELOG.md
  activejob/lib/active_job.rb
  activejob/lib/active_job/enqueue_after_transaction_commit.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/lib/active_job/queue_adapters.rb
  activejob/lib/active_job/queue_adapters/abstract_adapter.rb
  activejob/lib/active_job/queue_adapters/async_adapter.rb
  activejob/lib/active_job/queue_adapters/backburner_adapter.rb
  activejob/lib/active_job/queue_adapters/delayed_job_adapter.rb
  activejob/lib/active_job/queue_adapters/inline_adapter.rb
  activejob/lib/active_job/queue_adapters/queue_classic_adapter.rb
  activejob/lib/active_job/queue_adapters/resque_adapter.rb
  activejob/lib/active_job/queue_adapters/sidekiq_adapter.rb
  activejob/lib/active_job/queue_adapters/sneakers_adapter.rb
  activejob/lib/active_job/queue_adapters/sucker_punch_adapter.rb
  activejob/lib/active_job/queue_adapters/test_adapter.rb
  activejob/lib/active_job/railtie.rb
  activejob/test/cases/delayed_job_adapter_test.rb
  activejob/test/cases/queue_adapter_test.rb
  activejob/test/jobs/enqueue_error_job.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_2.rb.tt
Labels: activerecord, railties, docs, activejob

#51449 Remove `proxy_association` references from guides [ci-skip]
  guides/source/association_basics.md
Labels: docs, ready

#50941 Retry `ActionableError`s when running tests
  railties/CHANGELOG.md
  railties/lib/rails/command/base.rb
  railties/lib/rails/commands/test/test_command.rb
  railties/lib/rails/testing/maintain_test_schema.rb
  railties/test/application/test_test.rb
Labels: activesupport, railties, docs

#51490 Stop generating files with `git_source(:github)`
  guides/bug_report_templates/action_controller.rb
  guides/bug_report_templates/action_mailbox.rb
  guides/bug_report_templates/action_mailer.rb
  guides/bug_report_templates/action_view.rb
  guides/bug_report_templates/active_job.rb
  guides/bug_report_templates/active_record.rb
  guides/bug_report_templates/active_record_migrations.rb
  guides/bug_report_templates/active_storage.rb
  guides/bug_report_templates/benchmark.rb
  guides/bug_report_templates/generic.rb
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/plugin/templates/Gemfile.tt
  railties/test/generators/plugin_generator_test.rb
Labels: railties, docs

#51492 Arel: make `Or` nodes "Nary" like `And`
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/active_record/relation/where_clause.rb
  activerecord/lib/arel/nodes.rb
  activerecord/lib/arel/nodes/binary.rb
  activerecord/lib/arel/nodes/nary.rb
  activerecord/lib/arel/nodes/node.rb
  activerecord/lib/arel/predications.rb
  activerecord/lib/arel/visitors/dot.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/attributes/attribute_test.rb
  activerecord/test/cases/arel/nodes/or_test.rb
  activerecord/test/cases/arel/visitors/dot_test.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
  activerecord/test/cases/relation/where_clause_test.rb
Labels: activerecord

#51491 Add missing `ostruct` require to `http_token_authentication_test.rb`
  actionpack/test/controller/http_token_authentication_test.rb
Labels: actionpack, ci issues

#51480 Be a lot more memory efficient analyzing images with ruby-vips
  activestorage/lib/active_storage/analyzer/image_analyzer/vips.rb
Labels: activestorage

#51478 Raise named exception in `AbstractMysqlAdapter` when DB reports an invalid version
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/errors.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/connection_test.rb
Labels: activerecord

#51457 Add queries count to template rendering instrumentation
  actionview/CHANGELOG.md
  actionview/test/activerecord/controller_runtime_test.rb
  activerecord/lib/active_record/railties/controller_runtime.rb
  activerecord/lib/active_record/runtime_registry.rb
Labels: activerecord, actionview

#51503 Record ping on every actioncable message
  actioncable/CHANGELOG.md
  actioncable/app/assets/javascripts/action_cable.js
  actioncable/app/assets/javascripts/actioncable.esm.js
  actioncable/app/assets/javascripts/actioncable.js
  actioncable/app/javascript/action_cable/connection.js
  actioncable/app/javascript/action_cable/connection_monitor.js
Labels: actioncable

#51505 Update `enqueue_after_transaction_commit` changelog [ci-skip]
  activejob/CHANGELOG.md
Labels: activejob

#51497 Allow `IN` with subselect to be preparable
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#51506 [ci skip] [docs] Update "Running EXPLAIN" section in the "Active Record Query Interface" guide.
  guides/source/active_record_querying.md
Labels: docs

#51498 Documentation improvement for `#fields_for`
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#51450 Counter cache columns are not marked as readonly [skip ci]
  activerecord/lib/active_record/associations.rb
  guides/source/association_basics.md
Labels: activerecord, docs

#51514 Fix small typo's in ActiveRecord Changelog [ci-skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#51515 Update default value for `content_types_allowed_inline` in guides [ci-skip]
  guides/source/configuring.md
Labels: docs

#51512 Improve ActionCable redis config example [skip ci]
  guides/source/action_cable_overview.md
Labels: docs, ready

#51432 [RF-DOCS] Action View Helpers Documentation [ci-skip]
  guides/source/action_view_helpers.md
  guides/source/documents.yaml
Labels: docs, rails foundation

#51513 Raise when both `:force` and `:if_not_exists` provided to `create_table`
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#51528 Properly escape paths in erb example code blocks in guides [ci-skip]
  guides/source/asset_pipeline.md
Labels: docs

#51484 Fix textdecorator specificity on hovering in index [ci skip]
  guides/assets/stylesrc/_main.scss
Labels: docs, rails foundation

#51355 Replace Order with Book in "Creating Namespaced Models" section of docs for consistency
  guides/source/active_record_basics.md
Labels: docs

#51529 Use SQL comments for SQL code blocks in guides [ci-skip]
  guides/source/active_record_basics.md
Labels: docs

#51517 Ensure association's `foreign_key:` and `query_constraints:` options …
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/inverse_associations_test.rb
  activerecord/test/models/cpk/car.rb
Labels: activerecord

#51527 Remove example filepaths from code blocks in guides
  guides/rails_guides/markdown/renderer.rb
Labels: docs

#51510 Remove usage of `OpenStruct`
  .rubocop.yml
  Gemfile
  Gemfile.lock
  actionmailer/test/url_test.rb
  actionpack/test/controller/http_token_authentication_test.rb
  actionview/test/lib/controller/fake_models.rb
  actionview/test/template/controller_helper_test.rb
  actionview/test/template/form_helper_test.rb
  actionview/test/template/record_identifier_test.rb
  activejob/test/support/delayed_job/delayed/backend/test.rb
  activerecord/test/cases/arel/attributes/attribute_test.rb
  activerecord/test/cases/encryption/configurable_test.rb
  activerecord/test/models/developer.rb
  railties/test/application/rake/dbs_test.rb
Labels: actionmailer, actionpack, activerecord, railties, actionview, activejob

#51532 Fix fourth column issue in guides dropdown
  guides/assets/stylesrc/_main.scss
Labels: docs

#51525 Fix `ActiveJob::EnqueueAfterTransactionCommit` API
  activejob/lib/active_job/enqueue_after_transaction_commit.rb
  activejob/lib/active_job/enqueuing.rb
  activejob/test/cases/enqueue_after_transaction_commit_test.rb
  activejob/test/helper.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/constant_stubbing.rb
  activesupport/test/test_case_test.rb
Labels: activesupport, activejob

#51536 Changing background color of scrollbar to not be red
  guides/assets/stylesrc/_main.scss
Labels: docs

#51376 form_helper documentation using article instead of post [ci skip]
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionmailer, actionpack, activerecord, activesupport, railties, docs, actionview, activejob

#51537 Address `Rails::Command::HelpIntegrationTest` failure against ruby 3.4.0dev
  railties/test/command/help_integration_test.rb
Labels: railties, ci issues

#51531 Fix copying virtual columns when altering a table in sqlite3
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapters/sqlite3/copy_table_test.rb
Labels: activerecord

#51540 Remove misleading comment related to lazily_load_schema_cache and use_schema_cache_dump
  activerecord/lib/active_record.rb
Labels: activerecord

#51545 Respond with 406 when a browser is blocked by allow_browser
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/allow_browser.rb
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/lib/rails/generators/rails/app/templates/public/406-unsupported-browser.html
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: actionpack, railties

#51549 Fixes/union select parentheses
  activerecord/lib/arel/visitors/postgresql.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/attributes/attribute_test.rb
  activerecord/test/cases/arel/select_manager_test.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#51518 Make local rails available to devcontainer generated with `--dev`
  railties/lib/rails/generators/devcontainer.rb
  railties/lib/rails/generators/rails/app/templates/.devcontainer/devcontainer.json.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/generators_test_helper.rb
Labels: railties

#51435 [RF-DOCS] Action View Overview Guide [ci-skip]
  guides/source/action_view_overview.md
  guides/source/documents.yaml
Labels: docs, rails foundation

#51551 Allow string keys for SQLCommenter
  activerecord/lib/active_record/query_logs_formatter.rb
  activerecord/test/cases/query_logs_test.rb
Labels: activerecord

#51554 Fix query_logs_test.rb
  activerecord/test/cases/query_logs_test.rb
Labels: activerecord

#51550 Avoid name collision with builtin postgresql money type in custom type example [ci skip]
  activerecord/lib/active_record/attributes.rb
Labels: activerecord

#51560 Ensure devcontainer env variables are strings
  railties/lib/rails/generators/devcontainer.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: railties

#51481 Use devcontainer features for optional dependencies
  railties/lib/rails/generators/devcontainer.rb
  railties/lib/rails/generators/rails/app/templates/.devcontainer/Dockerfile.tt
  railties/lib/rails/generators/rails/app/templates/.devcontainer/devcontainer.json.tt
  railties/lib/rails/generators/rails/db/system/change/change_generator.rb
  railties/test/fixtures/.devcontainer/devcontainer.json
  railties/test/generators/app_generator_test.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: railties

#51563 Fix typo in Feature Policy for idle-detection
  actionpack/lib/action_dispatch/http/permissions_policy.rb
Labels: actionpack

#51565 Allow `ActiveRecord::Base#pluck` to accept hash values
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#51564 Fix SQL query example in `ActiveRecord::Base#ids` docs [skip ci]
  activerecord/lib/active_record/relation/calculations.rb
Labels: activerecord

#51567 Fix `remove_prefix_and_suffix` in `ActiveRecord::SchemaDumper`
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/schema_dumper_test.rb
Labels: activerecord

#51520 Add node and yarn to devcontainer when creating a project with Javascript
  railties/lib/rails/generators/devcontainer.rb
  railties/lib/rails/generators/rails/app/templates/.devcontainer/devcontainer.json.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#51572 Wrap YJIT guard clause in parentheses
  railties/lib/rails/generators/rails/app/templates/config/initializers/enable_yjit.rb.tt
Labels: railties

#51581 test: fix flaky schema dump test to prefer YAML to Marshal
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
Labels: activerecord

#51476 Fix "no anonymous block parameter" in ruby 3.1
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
Labels: activerecord

#51523 Restore `to:` option in routes with an implicit controller
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/dispatch/routing_test.rb
Labels: actionpack, needs backport

#51585 TestCase#create_fixtures no longer takes a block
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/multiple_db_test.rb
  activerecord/test/cases/test_case.rb
Labels: activerecord

#51445 Remove node_modules from the final image
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#51591 Pin sqlite3 version in bug_report_templates
  guides/bug_report_templates/action_mailbox.rb
  guides/bug_report_templates/active_record.rb
  guides/bug_report_templates/active_record_migrations.rb
  guides/bug_report_templates/active_storage.rb
Labels: docs

#51593 Correct typo for ActiveJob::Enqueuing::ClassMethods doc [ci skip]
  activejob/lib/active_job/enqueuing.rb
Labels: activejob

#51592 dep: allow sqlite3 gem to float to version 2
  Gemfile
  Gemfile.lock
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  railties/lib/rails/generators/database.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: activerecord, railties, docs

#51597 Fix unused block warnings for template methods
  actionview/lib/action_view/template.rb
Labels: actionview

#51596 Remove outdated `mathn` related test
  actionview/test/template/date_helper_test.rb
Labels: actionview

#51598 Action View Caching code sample syntax [ci skip]
  actionview/lib/action_view/helpers/cache_helper.rb
Labels: actionview

#51458 New print styles and generator to add to build
  guides/assets/stylesheets/print.css
  guides/assets/stylesrc/print.scss
  guides/assets/stylesrc/vendor/_boilerplate.scss
  guides/rails_guides/generator.rb
Labels: docs, rails foundation

#51479 Don't preload Selenium browser when remote
  actionpack/lib/action_dispatch/system_testing/driver.rb
Labels: actionpack

#50826 [docs] Add more examples to `#in_order_of` [ci-skip]
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#50018 test: update karma npm from 3.1.4 to 6.4.2
  actioncable/package.json
  yarn.lock
Labels: actionview, actioncable, ready, need rebase

#49774 Improve STI documentation
  activerecord/lib/active_record/inheritance.rb
  activerecord/lib/active_record/model_schema.rb
  guides/source/association_basics.md
Labels: activerecord, docs, ready

#49267 Add `save_and_open_page` helper to IntegrationTest
  Gemfile
  Gemfile.lock
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/integration.rb
  actionpack/lib/action_dispatch/testing/test_helpers/page_dump_helper.rb
  actionpack/test/controller/integration_test.rb
Labels: actionpack, ready

#50727 Action View Tests: Use `#with_routing` helper
  actionview/test/abstract_unit.rb
  actionview/test/actionpack/controller/view_paths_test.rb
Labels: railties, actionview

#48785 Fix child association loading in `:n_plus_one_only` mode
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord, ready

#51608 Fix some more ignored block warnings
  actionpack/test/controller/filters_test.rb
  actionpack/test/controller/resources_test.rb
  activejob/lib/active_job/enqueuing.rb
  activerecord/test/cases/serialized_attribute_test.rb
Labels: actionpack, activerecord, activejob

#51609 Arel: only wrap SELECT statements in UNION if they involve ORDER BY, LIMIT or OFFSET
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/attributes/attribute_test.rb
  activerecord/test/cases/arel/select_manager_test.rb
Labels: activerecord

#51611 Fix typo in page_dump_helper.rb
  actionpack/lib/action_dispatch/testing/test_helpers/page_dump_helper.rb
Labels: actionpack

#51096 [Fix #51095] Missing template error page showing incorrect view path example for nested controller path
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/templates/rescues/missing_exact_template.html.erb
Labels: actionpack, activerecord, ready

#50856 Document autosave validation behavior for ActiveRecord associations [ci skip]
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#51615 docs: Fix `ActiveSupport::TimeWithZone#change` example [skip ci]
  activesupport/lib/active_support/time_with_zone.rb
Labels: activesupport

#51624 Fix ActiveSupport configurations deprecations
  activesupport/lib/active_support/railtie.rb
Labels: activesupport

#51620 Encourage `#lease_connection` over `#connection` on AR model `#inspect` without connection
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/invalid_connection_test.rb
Labels: activerecord

#51632 Remove reference to builders BlankSlate
  activesupport/lib/active_support/proxy_object.rb
Labels: activesupport

#51636 backport #51592 to 7-1-stable allowing sqlite3 v2
  Gemfile
  Gemfile.lock
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  railties/lib/rails/generators/database.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/db_system_change_generator_test.rb
Labels: activerecord, railties

#51629 SerializedAttributeTest: use decorate_attribute
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#51639 Let Action Cable's autoloader ignore the version file
  actioncable/lib/action_cable.rb
Labels: actioncable

#51638 Deprecate `ActiveSupport::ProxyObject`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/proxy_object.rb
  activesupport/test/proxy_object_test.rb
Labels: activesupport

#51640 Use `Module#include` rather than `prepend` for faster method lookup
  activesupport/lib/active_support/core_ext/numeric/conversions.rb
  activesupport/lib/active_support/core_ext/object/json.rb
Labels: activesupport

#51271 Enable Hash#compact_blank inside ActiveSupport::LogSubscriber
  activesupport/lib/active_support/log_subscriber.rb
Labels: activesupport, ready

#50780 Preserve `--asset-pipeline propshaft` when running `app:update`
  railties/lib/rails/app_updater.rb
  railties/test/generators/app_generator_test.rb
Labels: railties, ready

#51590 Fix ActionView backtrace filtering on Ruby 3.4+
  railties/lib/rails/backtrace_cleaner.rb
  railties/test/backtrace_cleaner_test.rb
Labels: railties

#51631 Support hexBinary type in XML
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/xml_mini.rb
  activesupport/test/xml_mini_test.rb
Labels: activesupport

#51644 Join association built from string join should not retry
  activerecord/lib/active_record/associations/join_dependency/join_association.rb
Labels: activerecord

#51645 Update guides: Replace filter with action callback [ci skip]
  guides/source/action_controller_overview.md
Labels: docs

#50837 Ensure pre-7.1 migrations use legacy index names when using `rename_table`
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
  activerecord/test/cases/migration/rename_table_test.rb
Labels: activerecord

#51648 Document the use of `nopush` for asset tags
  actionview/lib/action_view/helpers/asset_tag_helper.rb
Labels: actionview

#51616 Fix `Mime::Type.parse` for HTTP Accept with parameters
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/http/mime_type.rb
  actionpack/test/dispatch/mime_type_test.rb
Labels: actionpack

#51619 Filter internal frames in deprecation warnings for Ruby 3.4
  activesupport/lib/active_support/deprecation/reporting.rb
  activesupport/test/deprecation_test.rb
Labels: activesupport

#51649 [ci skip] Use Ruby's official documentation urls
  activerecord/README.rdoc
  activesupport/lib/active_support/duration.rb
  guides/source/active_record_postgresql.md
Labels: activerecord, activesupport, docs

#51633 Fix PostgreSQL `Cidr#change?` to compare with address prefix
  activerecord/lib/active_record/connection_adapters/postgresql/oid/cidr.rb
  activerecord/test/cases/adapters/postgresql/network_test.rb
Labels: activerecord

#51446 Fix an error for `apply_rubocop_autocorrect_after_generate!` with `--pretend`
  railties/lib/rails/configuration.rb
  railties/test/application/generators_test.rb
Labels: railties

#51652 [ci skip] Remove outdated comment in `ActiveSupport::Duration::ISO8601Serializer`
  activesupport/lib/active_support/duration/iso8601_serializer.rb
Labels: activesupport

#51650 Fix building guides outside ./guides directory
  Rakefile
  guides/rails_guides/generator.rb
Labels: docs

#51653 Fix Ruby 3.4 internal frame cleaner test
  activesupport/test/deprecation_test.rb
Labels: activesupport

#51660 [ci skip] Add more gem docs in Rails Application Templates guide
  guides/source/rails_application_templates.md
Labels: docs

#51662 Skip `selenium-webdriver` version 4.20.0
  Gemfile
  Gemfile.lock
Labels: actionpack

#51664 Resolve deprecation warning in latest `selenium-webdriver`
  Gemfile
  Gemfile.lock
  actionpack/lib/action_dispatch/system_testing/browser.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack

#51666 `7-1-stable` changelog typos [ci-skip]
  actionpack/CHANGELOG.md
  actionview/CHANGELOG.md
  activesupport/CHANGELOG.md
  railties/CHANGELOG.md
Labels: actionpack, activesupport, railties, actionview

#51625 Allow assertionless tests to be reported
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/railtie.rb
  activesupport/lib/active_support/test_case.rb
  activesupport/lib/active_support/testing/assertionless_tests.rb
  activesupport/test/testing/assertionless_tests_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_7_2.rb.tt
Labels: activesupport, railties, docs

#51670 Fix backtrace cleaner
  railties/lib/rails/application/bootstrap.rb
  railties/lib/rails/backtrace_cleaner.rb
  railties/test/application/backtrace_cleaner_test.rb
Labels: railties

#51655 Fix count queries on `includes+references` for models with composite primary keys
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord, needs backport

#51680 Update production.rb template to provide example to exclude healthcheck from force_ssl redirect
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties

#51682 Fix `ActiveSupport::TestCase` being loaded too early
  activesupport/lib/active_support/railtie.rb
Labels: activesupport

#51684 Raise when a block is passed to `ActiveRecord::Relation#with`
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/core_test.rb
  activerecord/test/cases/integration_test.rb
  activerecord/test/cases/relation/with_test.rb
Labels: activerecord

#51677 [ci skip]Add period to end of comment sentences for consistency
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/lib/rails/generators/rails/app/templates/config/environments/test.rb.tt
Labels: railties

#51688 Fix minor typo in `ActiveSupport::ProxyObject` deprecation logs
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/proxy_object.rb
Labels: activesupport

#50487 Remove unnecessary to_a conversion for readonly_attributes method call
  activerecord/lib/active_record/insert_all.rb
Labels: activerecord

#51483 Add a Date decoder to the pg adapter
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/date_test.rb
Labels: activerecord

#51692 Add `require: "debug/prelude"` after `debug`'s Gemfile entry
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#51696 [ci skip] Replace — with : in instrumentation subheadings
  guides/source/active_support_instrumentation.md
Labels: docs

#51685 [Fix #51672] Update RDoc comments for ActiveRecord::RecordNotSaved [ci skip]
  activerecord/lib/active_record/errors.rb
Labels: activerecord

#51694 Deduplicate watched filenames in `FileUpdateChecker`
  activesupport/lib/active_support/file_update_checker.rb
Labels: activesupport

#51698 Note docs preview
  .gitignore
  guides/assets/images/docs_preview/annotation.png
  guides/assets/images/docs_preview/status_checks.png
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#51693 Enable raising for assertionless tests for internal framework tests
  actionpack/test/controller/action_pack_assertions_test.rb
  actionpack/test/controller/flash_test.rb
  actionpack/test/controller/live_stream_test.rb
  actionpack/test/controller/render_test.rb
  actionpack/test/controller/routing_test.rb
  actionpack/test/dispatch/mapper_test.rb
  actionpack/test/dispatch/request/multipart_params_parsing_test.rb
  actionpack/test/dispatch/request_test.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
  actiontext/test/unit/strict_loading_test.rb
  actionview/test/template/date_helper_test.rb
  actionview/test/template/template_test.rb
  actionview/test/template/text_helper_test.rb
  activejob/test/cases/logging_test.rb
  activejob/test/cases/queuing_test.rb
  activejob/test/integration/queuing_test.rb
  activemodel/test/cases/helper.rb
  activerecord/test/cases/adapter_prevent_writes_test.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/adapters/abstract_mysql_adapter/schema_test.rb
  activerecord/test/cases/adapters/postgresql/connection_test.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
  activerecord/test/cases/adapters/postgresql/virtual_column_test.rb
  activerecord/test/cases/adapters/sqlite3/virtual_column_test.rb
  activerecord/test/cases/arel/visitors/dot_test.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_associations_test.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
  activerecord/test/cases/connection_adapters/connection_handlers_sharding_db_test.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
  activerecord/test/cases/connection_adapters/standalone_connection_test.rb
  activerecord/test/cases/custom_locking_test.rb
  activerecord/test/cases/encryption/encryptable_record_api_test.rb
  activerecord/test/cases/encryption/encryptor_test.rb
  activerecord/test/cases/errors_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/invertible_migration_test.rb
  activerecord/test/cases/migration/change_schema_test.rb
  activerecord/test/cases/migration/check_constraint_test.rb
  activerecord/test/cases/migration/index_test.rb
  activerecord/test/cases/migration/logger_test.rb
  activerecord/test/cases/nested_attributes_test.rb
  activerecord/test/cases/primary_keys_test.rb
  activerecord/test/cases/reaper_test.rb
  activerecord/test/cases/serialized_attribute_test.rb
  activerecord/test/cases/transaction_isolation_test.rb
  activerecord/test/cases/transactions_test.rb
  activerecord/test/cases/yaml_serialization_test.rb
  activestorage/test/controllers/disk_controller_test.rb
  activesupport/lib/active_support/testing/strict_warnings.rb
  activesupport/lib/active_support/testing/tests_without_assertions.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
  activesupport/test/testing/test_without_assertions_test.rb
  railties/test/generators/api_app_generator_test.rb
Labels: actionmailer, actionpack, activemodel, activerecord, actionview, activejob, actioncable, actionmailbox, actiontext
