Repository rails/rails, pull requests merged in 2024-11, with the labels that each got.

#53514 Fix `order` with using association name as an alias
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/order_test.rb
Labels: activerecord

#51508 Don't buffer things that shouldn't be buffered.
  actionpack/lib/action_controller/metal/live.rb
  actionpack/lib/action_dispatch/http/response.rb
  actionpack/test/controller/new_base/render_streaming_test.rb
  actionpack/test/dispatch/response_test.rb
  actionview/lib/action_view/renderer/streaming_template_renderer.rb
  actionview/lib/action_view/template/raw_file.rb
Labels: actionpack, actionview

#53526 Fix `select` with a hash not to treat raw strings as identifiers
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/select_test.rb
Labels: activerecord

#53523 Enable `Style/KeywordArgumentsMerging` rubocop cop
  .rubocop.yml
  Gemfile.lock
  actionmailer/lib/action_mailer/base.rb
  activemodel/lib/active_model/error.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/delegated_type.rb
  activerecord/lib/active_record/encryption/scheme.rb
  activerecord/lib/active_record/validations/associated.rb
  activesupport/lib/active_support/cache.rb
Labels: actionmailer, activemodel, activerecord, activesupport

#53530 Mark generate_alias_attribute_methods, alias_attribute_method_definiton as private API
  activemodel/lib/active_model/attribute_methods.rb
  activerecord/lib/active_record/attribute_methods.rb
Labels: activemodel, activerecord

#53531 Don't generate the step for system tests when an application is API-only
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/test/generators/api_app_generator_test.rb
Labels: railties

#53536 Fix `ActiveModel::AttributeAssignment#assign_attributes` to accept objects without `each`
  activemodel/lib/active_model/attribute_assignment.rb
  activemodel/test/cases/attribute_assignment_test.rb
Labels: activemodel

#52981 mention the rate limiter in the security guides [ci-skip]
  guides/source/security.md
Labels: activemodel, docs

#53522 Do not mark routes as loaded during `RoutesReloader#reload!` call.
  railties/lib/rails/application/routes_reloader.rb
  railties/test/application/routing_test.rb
Labels: railties

#53515 Ensure proper output of traces for dasherized Rails application name
  railties/lib/rails/backtrace_cleaner.rb
  railties/test/backtrace_cleaner_test.rb
Labels: railties

#53504 [ci skip] Fix the page scrolling to top when in mobile mode
  guides/assets/javascripts/guides.js
Labels: docs

#53520 Fix running with `BACKTRACE=1` truncating gem paths
  railties/lib/rails/backtrace_cleaner.rb
  railties/test/application/backtrace_cleaner_test.rb
Labels: railties

#53542 Remove redundant period in Security guide [ci skip]
  guides/source/security.md
Labels: docs

#53546 Fix deprecation warning caused by DST
  activesupport/lib/active_support/core_ext/time/compatibility.rb
  activesupport/test/core_ext/date_and_time_compatibility_test.rb
Labels: activesupport

#53550 Update dev container links
  .devcontainer/devcontainer.json
  railties/lib/rails/generators/rails/devcontainer/templates/devcontainer/devcontainer.json.tt
  railties/test/fixtures/.devcontainer/devcontainer.json
Labels: railties

#53553 Do not create `scan_js` workflow on `--skip-js`
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#53562 Modernizing Old Dad Jokes
  guides/source/testing.md
Labels: docs

#53566 Fixes broken code examples in the API docs [ci skip]
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#53577 Add the link to v7.2 guide at the top of the guide [ci-skip]
  guides/source/_welcome.html.erb
Labels: docs

#53569 Add missing dot to sentence in production.rb.tt [ci-skip]
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties

#53579 Don't install a package for system test when applications don't use it
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/lib/rails/generators/rails/plugin/templates/github/ci.yml.tt
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#53570 Fix retrieving partial indexes with comments for SQLite
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/test/cases/adapters/sqlite3/sqlite3_adapter_test.rb
Labels: activerecord

#53556 Don't add `bin/thrust` if `thruster` is not in Gemfile
  railties/lib/rails/commands/app/update_command.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#53589 Revert "Temporarily allow sidekiq warning"
  activesupport/lib/active_support/testing/strict_warnings.rb
Labels: activesupport

#53596 [ci skip] Fix `action_controller/metal/strong_parameters.rb` redundant comment in docs
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#53604 [ci skip] Fix: typo at Rail guides - Action Mailer Basic
  guides/source/action_mailer_basics.md
Labels: docs

#53599 [ci skip] Update getting_started.md
  guides/source/getting_started.md
Labels: docs

#53607 [Guides] Fixes minor typo in comment [ci skip]
  guides/assets/stylesrc/_dark.scss
Labels: docs

#53616 [ci-skip][doc] Update API doc for TimeWithZone#inspect
  activesupport/lib/active_support/time_with_zone.rb
Labels: activesupport

#53620 Fix typo in test
  railties/test/application/middleware/exceptions_test.rb
Labels: railties

#53612 Document additional skip options for rails new [ci skip]
  guides/source/command_line.md
Labels: docs

#53622 document additional options for rails new
  guides/source/command_line.md
Labels: docs

#53615 Faster initializer tsort
  railties/lib/rails/application.rb
  railties/lib/rails/initializable.rb
  railties/test/initializable_test.rb
Labels: railties

#53628 Restore back the ability to pass only database name for `DATABASE_URL`
  activerecord/lib/active_record/database_configurations/connection_url_resolver.rb
  activerecord/test/cases/connection_adapters/merge_and_resolve_default_url_config_test.rb
Labels: activerecord

#53625 Fix regression when calling sum with a grouped calculation:
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#53639 Hide ActiveModel::Validations::AcceptanceValidator
  activemodel/lib/active_model/validations/acceptance.rb
Labels: activemodel

#53627 Put back the quiet assets in development:
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#53640 class_attribute: delegate to an internal namespaced method
  activesupport/lib/active_support/callbacks.rb
  activesupport/lib/active_support/class_attribute.rb
  activesupport/lib/active_support/core_ext/class/attribute.rb
  activesupport/test/callbacks_test.rb
  activesupport/test/core_ext/class/attribute_test.rb
Labels: activesupport

#53580 [Fix #53564] Ensure normalized attribute queries are consistent for `nil` and normalized `nil`
  activerecord/lib/active_record/relation/query_attribute.rb
  activerecord/test/cases/normalized_attribute_test.rb
Labels: activerecord

#53647 Silence deprecate message during `app:udpate` command
  railties/lib/rails/commands/app/update_command.rb
  railties/test/generators/app_generator_test.rb
  railties/test/generators/generators_test_helper.rb
Labels: railties

#53644 Make Rails::Initializable::Collection more array-like
  railties/lib/rails/initializable.rb
  railties/test/initializable_test.rb
Labels: railties

#53643 Make column_definitions queries retryable
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
Labels: activerecord

#53642 Set `framework_defaults` in all bug report templates
  guides/bug_report_templates/action_controller.rb
  guides/bug_report_templates/action_mailbox.rb
  guides/bug_report_templates/action_mailer.rb
  guides/bug_report_templates/action_view.rb
  guides/bug_report_templates/active_record.rb
  guides/bug_report_templates/active_record_migrations.rb
  guides/bug_report_templates/active_storage.rb
Labels: docs

#53629 Parallel tests with :number_of_processors uses cgroups-aware usable processor count
  activesupport/lib/active_support/test_case.rb
Labels: activesupport, activejob

#53591 Slightly extend checkout timeout for a couple of tests
  activerecord/test/cases/connection_pool_test.rb
Labels: activerecord

#53619 [Fix #47849] Correctly strip newlines from check constraints for MySQL 8.0.16+
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/migration/check_constraint_test.rb
Labels: activerecord, railties

#53592 Add missing period to generated Puma config [ci skip]
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties

#53561 allow path regexp in SilenceRequest middleware
  railties/lib/rails/rack/silence_request.rb
  railties/test/rack_silence_request_test.rb
Labels: railties

#53587 Call out pitfalls with Encryption when upgrading
  guides/source/7_1_release_notes.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#53065 Add `ActiveSupport::Testing::NotificationAssertions` test helper module
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/test_case.rb
  activesupport/lib/active_support/testing/notification_assertions.rb
  activesupport/test/testing/notification_assertions_test.rb
Labels: activesupport

#53555 [ci skip] Update guide docs for updated environment files
  guides/source/configuring.md
Labels: docs

#53557 Authentication concern: don't trigger query if session_id is missing from cookie
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/concerns/authentication.rb.tt
Labels: railties

#53563 Point to latest official Ruby documentation in Rails guides [ci skip]
  guides/source/active_record_validations.md
  guides/source/configuring.md
  guides/source/getting_started.md
Labels: docs

#53261 SQLIte: Allow deferrable foreign key on column with non-ascii characters
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/migration/foreign_key_test.rb
Labels: activerecord

#53277 Add affected_rows to sql.active_record
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/trilogy/database_statements.rb
  activerecord/test/cases/instrumentation_test.rb
  guides/source/active_support_instrumentation.md
Labels: activerecord, docs

#53314 [7.0] Fix test failures on Ruby 3.4-preview2
  actionview/test/activerecord/polymorphic_routes_test.rb
  actionview/test/template/render_test.rb
  activesupport/test/callbacks_test.rb
  activesupport/test/core_ext/module_test.rb
  activesupport/test/core_ext/time_with_zone_test.rb
  activesupport/test/deprecation_test.rb
  activesupport/test/test_case_test.rb
  railties/test/railties/railtie_test.rb
Labels: activesupport, railties, actionview

#52893 Add info on how to use the buffers option in Postgres [ci skip]
  guides/source/active_record_postgresql.md
Labels: docs

#52238 Remove test_unit plugin_generator
  railties/lib/rails/generators/test_unit/plugin/plugin_generator.rb
  railties/lib/rails/generators/test_unit/plugin/templates/%file_name%_test.rb.tt
  railties/lib/rails/generators/test_unit/plugin/templates/test_helper.rb
  railties/test/generators_test.rb
Labels: railties

#51730 Define column methods on the ColumnMethods module
  activerecord/lib/active_record/connection_adapters.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
Labels: activerecord

#44971 Allow to reset cache counters for multiple records
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/counter_cache.rb
  activerecord/test/cases/counter_cache_test.rb
Labels: activerecord

#52188 Preserve timezone and locale in ActiveJob exception handlers
  activejob/lib/active_job/base.rb
  activejob/lib/active_job/execution_state.rb
  activejob/lib/active_job/timezones.rb
  activejob/lib/active_job/translation.rb
  activejob/test/cases/timezones_test.rb
  activejob/test/cases/translation_test.rb
  activejob/test/jobs/timezone_raising_job.rb
  activejob/test/jobs/translated_raising_job.rb
Labels: activejob

#53601 Document options for `render` in API [ci skip]
  actionpack/lib/action_controller/metal/rendering.rb
Labels: actionpack

#53654 [Docs] Remove extra parenthesis [ci skip]
  actionview/lib/action_view/helpers/form_options_helper.rb
Labels: actionview

#53656 Remove `# typed: true` sigil
  activesupport/lib/active_support/testing/notification_assertions.rb
Labels: activesupport

#53626 Add `ActionDispatch::Request::Session#store` method to conform Rack spec
  actionpack/lib/action_dispatch/request/session.rb
  actionpack/test/dispatch/request/session_test.rb
Labels: actionpack, ready

#53659 Fix "Test is missing assertions" is caught by Strict Warnings
  activesupport/lib/active_support/testing/tests_without_assertions.rb
  railties/test/application/generators_test.rb
  railties/test/application/initializers/frameworks_test.rb
  railties/test/application/loading_test.rb
  railties/test/application/rake/tmp_test.rb
  railties/test/application/rake_test.rb
Labels: activesupport, railties

#53669 Ensure previously_new_record? is preserved in #becomes
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/persistence_test.rb
Labels: activerecord

#53684 Fix task `abort_if_pending_migrations` to not use the return value from `Array#flatten!`
  activerecord/lib/active_record/railties/databases.rake
Labels: activerecord

#47158 Allow passing Symbols as aliases in Arel
  activerecord/lib/arel/alias_predication.rb
  activerecord/test/cases/arel/nodes/as_test.rb
Labels: activerecord, needs feedback

#53691 Correct misformatted reference to `config/initializers/new_framework_defaults_*.rb` [ci skip]
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#53692 Fix Mysql2Adapter support for prepared statements
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/test/cases/adapters/mysql2/mysql2_adapter_test.rb
Labels: activerecord

#53696 Avoid crashing when highlighting ERB templates with multi-line methods
  actionview/CHANGELOG.md
  actionview/lib/action_view/template/handlers/erb.rb
  actionview/test/template/template_test.rb
Labels: activesupport, actionview

#53698 Reword error message for `NoDatabaseError`
  activerecord/lib/active_record/errors.rb
Labels: activerecord

#53706 Fix finding by nil composite primary key association
  activerecord/lib/active_record/relation/predicate_builder/association_query_value.rb
  activerecord/test/cases/relation/where_test.rb
Labels: activerecord

#53709 Add missing backticks to config header in the configuring guide
  guides/source/configuring.md
Labels: docs

#53387 [Bug] Fix inline value nil priority for date_field form builder
  actionview/lib/action_view/helpers/tags/datetime_field.rb
  actionview/test/template/form_helper_test.rb
Labels: actionview

#53718 Use `_path` instead of `_url` in auth session controller
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/sessions_controller.rb.tt
Labels: railties

#53713 Match heading level to siblings for ActionDispatch strict freshness section
  guides/source/configuring.md
Labels: docs

#53675 Fix incorrect documentation about Action Pack and Action View
  actionpack/lib/action_controller/base.rb
Labels: actionpack

#53697 Log that prepared_statements enabled for mysql2
  activerecord/test/support/connection.rb
Labels: activerecord

#53717 Add note about Arel.sql in documentation for sanitize_sql_array
  activerecord/lib/active_record/sanitization.rb
Labels: activerecord

#53724 Fix prefixed headings in guide pages meta descriptions [ci-skip]
  guides/rails_guides/markdown.rb
Labels: docs

#53725 Fix prefixed headings in guide pages meta descriptions [ci-skip]
  guides/rails_guides/markdown.rb
Labels: docs

#53728 Correct typo in active storage analyzer
  activestorage/lib/active_storage/analyzer/image_analyzer/vips.rb
Labels: activestorage

#53535 Change the WEB_CONCURRENCY deploy comment default to `auto`
  guides/source/tuning_performance_for_deployment.md
  railties/lib/rails/generators/rails/app/templates/config/deploy.yml.tt
  railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
Labels: railties, docs

#53384 Hide test_unit generators when using other test framework
  railties/lib/rails/generators.rb
  railties/test/application/generators_test.rb
Labels: railties

#53733 Fix rails new with --devcontainer --pretend
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#52296 Some test improvements for hash with indifferent access
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#53735 NOT VALID constraints should not dump in `create_table`
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/migration/check_constraint_test.rb
Labels: activerecord

#53689 Use keywords in routing mapper
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/controller/resources_test.rb
  actionpack/test/dispatch/mapper_test.rb
  actionpack/test/dispatch/routing/concerns_test.rb
  actionpack/test/dispatch/routing_test.rb
  actionpack/test/journey/router_test.rb
Labels: actionpack

#53741 Remove reload! command due to conflict with helper
  railties/lib/rails/commands/console/irb_console.rb
Labels: railties

#53702 Fix prepared statements on mysql2 adapter
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/test/cases/adapters/postgresql/quoting_test.rb
  activerecord/test/cases/bind_parameter_test.rb
  activerecord/test/cases/explain_test.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#52385 Preserve order within individual batches for batch iteration
  activerecord/lib/active_record/relation/batches.rb
  activerecord/test/cases/batches_test.rb
Labels: activerecord

#53745 More Mysql2 adapter fixes to support prepared statements
  activerecord/lib/active_record/connection_adapters/mysql/quoting.rb
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
  activerecord/test/cases/adapters/postgresql/quoting_test.rb
  activerecord/test/cases/bind_parameter_test.rb
  activerecord/test/cases/explain_test.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/cases/insert_all_test.rb
  activerecord/test/cases/test_case.rb
Labels: activerecord

#53748 Use WeakKeyMap for the connection lease registry
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
Labels: activerecord

#52596 Adapt the incorrect "Supressing Callbacks" guide section [ci skip]
  guides/source/active_record_callbacks.md
Labels: docs

#53750 Merge pull request #52596 from codergeek121/fix-activerecord-callback…
  guides/source/active_record_callbacks.md
Labels: docs

#53751 Merge pull request #52596 from codergeek121/fix-activerecord-callback…
  guides/source/active_record_callbacks.md
Labels: docs

#53756 Correct documented order of `to_prepare` initialization event [ci skip]
  guides/source/configuring.md
Labels: docs

#53757 Fix `insert_all` to not update existing records
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord, needs backport

#53760 Fix: example code of Routing(Request-Based Constraints) [ci skip]
  guides/source/routing.md
Labels: docs

#53672 Maintain connection verification for 2 seconds after use
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/connection_adapters/trilogy_adapter.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#53765 Fix formatting of Actionpack options docs [ci-skip]
  actionpack/lib/action_controller/metal/data_streaming.rb
  actionpack/lib/action_controller/metal/live.rb
Labels: actionpack

#53768 Backport: Merge pull request #53765 from p8/actionpack/fix-options-formatting
  actionpack/lib/action_controller/metal/data_streaming.rb
  actionpack/lib/action_controller/metal/live.rb
Labels: actionpack

#53769 Fix asynchronous destroying of polymorphic `belongs_to` associations
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/test/activejob/destroy_association_async_test.rb
  activerecord/test/models/essay_destroy_async.rb
Labels: activerecord

#53773 Fix link in Active Record Associations guide [skip ci]
  guides/source/association_basics.md
Labels: docs

#53763 Improve error highlighting of multiline methods in ERB templates
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/test/dispatch/exception_wrapper_test.rb
  actionview/CHANGELOG.md
  actionview/lib/action_view/template/handlers/erb.rb
  actionview/test/template/template_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/erb/util.rb
  activesupport/lib/active_support/syntax_error_proxy.rb
  activesupport/test/core_ext/erb_util_test.rb
Labels: actionpack, activesupport, actionview

#53770 Raise a more specific error when the job class can't be instantiated
  activejob/CHANGELOG.md
  activejob/lib/active_job.rb
  activejob/lib/active_job/core.rb
  activejob/test/cases/job_serialization_test.rb
Labels: activejob

#53778 [ci-skip][docs] Fix result of sample code in strong parameter API doc
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#53776 Skip generation system tests related code for CI when `--skip-system-test` is given
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#53782 Make ActiveJob tests runnable with `bin/test` again
  activejob/test/cases/async_adapter_test.rb
  activejob/test/cases/delayed_job_adapter_test.rb
  activejob/test/integration/queuing_test.rb
Labels: activejob

#53781 Freeze OPTION_NOT_GIVEN
  activemodel/lib/active_model/attribute_mutation_tracker.rb
Labels: activemodel

#53791 Fix rubocop offences
  actionpack/test/dispatch/ssl_test.rb
  activemodel/lib/active_model/validations.rb
  activesupport/lib/active_support/core_ext/class/attribute.rb
Labels: actionpack, activemodel, activesupport
