Repository rails/rails, pull requests merged in 2025-09, with the labels that each got.

#55593 Use send for private serializer klass
  activejob/lib/active_job/serializers.rb
Labels: activejob

#55608 Revert "Rails New: Only add browser restrictions when using importmap"
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/app/controllers/application_controller.rb.tt
Labels: railties

#55501 RateLimiting: raise `ActionController::TooManyRequests` error
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/exceptions.rb
  actionpack/lib/action_controller/metal/rate_limiting.rb
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/test/controller/api/rate_limiting_test.rb
  actionpack/test/controller/rate_limiting_test.rb
  actionpack/test/dispatch/show_exceptions_test.rb
Labels: actionpack

#55540 Skip calling PG::Connection#cancel when using libpq >= 18 with pg < 1.6.0
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/transaction_test.rb
Labels: activerecord, PostgreSQL

#53439 PostgreSQL 18devel does not support unlogged option on partitioned tables
  activerecord/test/cases/adapters/postgresql/partitions_test.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
  activerecord/test/schema/postgresql_specific_schema.rb
Labels: activerecord

#54558 Improve route visualizer regexp labels
  actionpack/lib/action_dispatch/journey/gtg/transition_table.rb
Labels: actionpack

#55621 [8-0-stable] Fix routes being cleared when using `reload_routes!`
  actionpack/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/lib/rails/application/routes_reloader.rb
  railties/test/application/rake_test.rb
Labels: actionpack, railties

#55631 Fix EventReporter heading level for Security [ci skip]
  activesupport/lib/active_support/event_reporter.rb
Labels: activesupport

#55495 Move authentication test files generation to `test_unit` specific generator
  railties/lib/rails/generators/rails/authentication/authentication_generator.rb
  railties/lib/rails/generators/test_unit/authentication/authentication_generator.rb
  railties/lib/rails/generators/test_unit/authentication/templates/test/mailers/previews/passwords_mailer_preview.rb.tt
  railties/lib/rails/generators/test_unit/authentication/templates/test/test_helpers/session_test_helper.rb.tt
  railties/test/generators/authentication_generator_test.rb
Labels: railties

#55625 Allow disabling action_controller.logger by setting it to nil or false
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/railtie.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties

#55634 Allow removing autocomplete="off" for more tags
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/tags/check_box.rb
  actionview/lib/action_view/helpers/tags/file_field.rb
  actionview/lib/action_view/helpers/tags/select_renderer.rb
  actionview/test/template/form_helper_test.rb
  actionview/test/template/form_options_helper_test.rb
Labels: actionview

#55645 Add changelogs for c22750a and f56f08e
  actionview/CHANGELOG.md
Labels: actionview

#55643 Do not use db:test:prepare in ci template if skip_active_record is on
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#55589 Remove TableMetadata -> Reflection delegation
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/relation/predicate_builder/association_query_value.rb
  activerecord/lib/active_record/relation/predicate_builder/polymorphic_array_value.rb
  activerecord/lib/active_record/table_metadata.rb
Labels: activerecord

#55025 Prevent stack overflow in ActionText PlaintextConversion
  actiontext/lib/action_text/plain_text_conversion.rb
  actiontext/test/unit/plain_text_conversion_test.rb
Labels: ready, actiontext

#51359 Prevent autosave association with has_one defined on child class
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#55604 Avoid clearing isolated state in live tests
  actionpack/lib/action_controller/metal/live.rb
  actionpack/test/controller/live_stream_test.rb
  activesupport/lib/active_support/isolated_execution_state.rb
Labels: actionpack, activesupport

#55682 Restore initial condition around setting of time attributes when deserializing a job
  activejob/lib/active_job/core.rb
  activejob/test/cases/job_serialization_test.rb
Labels: activejob

#55691 Don't add id_value attribute alias when id_value is present
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/fixtures/book_identifiers.yml
  activerecord/test/models/book_identifier.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#55688 Do not issue `Benchmark.ms` deprecation when method exists in the gem
  activesupport/lib/active_support/core_ext/benchmark.rb
Labels: activesupport

#55298 Fix time attribute dirty tracking with timezone conversions
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods/time_zone_conversion.rb
  activerecord/test/cases/attribute_methods/time_zone_converter_test.rb
Labels: activerecord

#55698 fix: Respect SCHEMA_FORMAT in db:schema:load
  activerecord/lib/active_record/railties/databases.rake
Labels: activerecord

#55699 Fix ActiveRecord vs db_config schema_format
  activerecord/lib/active_record/railties/databases.rake
Labels: activerecord

#55700 Make TableMetadata#associated_with non-predicate
  activerecord/lib/active_record/relation/predicate_builder.rb
  activerecord/lib/active_record/table_metadata.rb
Labels: activerecord

#55697 Add `image_processing` to the gemfile by default for active_storage
  actiontext/lib/generators/action_text/install/install_generator.rb
  activestorage/lib/active_storage/engine.rb
  guides/source/active_storage_overview.md
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
  railties/test/application/active_storage/engine_integration_test.rb
  railties/test/generators/action_text_install_generator_test.rb
  railties/test/generators/app_generator_test.rb
Labels: railties, docs, activestorage, actiontext

#55703 Fix query cache for pinned connections in multi threaded transactional tests
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/query_cache_test.rb
Labels: activerecord

#55121 Add `only_columns` to activerecord
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/model_schema.rb
  activerecord/test/cases/base_test.rb
  activerecord/test/models/developer.rb
Labels: activerecord

#55676 Document THRESHOLD_TO_JUSTIFY_COMPRESSION cannot be changed.
  activerecord/lib/active_record/encryption/encryptor.rb
Labels: activerecord

#55722 Fix lease_connection to preserve pool state when checkout callbacks fail
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/test/cases/connection_pool_test.rb
Labels: activerecord

#55724 Preserve selected locale when downloading mailer preview EML
  railties/lib/rails/templates/rails/mailers/email.html.erb
Labels: railties

#55725 Fix javascript_include_tag `type:` option to accept symbols
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
Labels: actionview

#55731 Address small a11y errors in the welcome template
  railties/lib/rails/templates/rails/welcome/index.html.erb
Labels: railties

#55718 Restore support to analyze image blobs with `image_magick`
  activestorage/lib/active_storage/analyzer/image_analyzer/image_magick.rb
  activestorage/lib/active_storage/analyzer/image_analyzer/vips.rb
  activestorage/test/analyzer/image_analyzer/image_magick_test.rb
  activestorage/test/analyzer/image_analyzer/vips_test.rb
Labels: activestorage

#55732 DRY up test helpers in DatabaseTasks tests
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#55729 Fix nondeterministic behavior in DeprecatedHasAndBelongsToManyAssociationsTest
  activerecord/test/cases/associations/has_and_belongs_to_many_associations_test.rb
Labels: activerecord

#55735 Remove incorrect ActiveSupport changelog entry announced in the Rails 7.1.3
  activesupport/CHANGELOG.md
Labels: activesupport

#55733 [Getting Started Tutorial] Indent private methods with two spaces consistently and add a note about it
  guides/source/getting_started.md
Labels: docs

#55750 Remove ActiveSupport::Subscriber#publish_event in favor of call
  activesupport/lib/active_support/log_subscriber.rb
  activesupport/lib/active_support/structured_event_subscriber.rb
  activesupport/lib/active_support/subscriber.rb
  activesupport/test/structured_event_subscriber_test.rb
Labels: activesupport

#55752 Make engine routes filterable in bin/rails routes, improve engine formatting
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/routing/inspector.rb
  actionpack/test/dispatch/routing/inspector_test.rb
Labels: actionpack

#55743 Don't generate system tests by default
  guides/source/command_line.md
  guides/source/testing.md
  railties/CHANGELOG.md
  railties/lib/rails/generators/test_unit/scaffold/scaffold_generator.rb
  railties/test/application/generators_test.rb
  railties/test/generators/scaffold_controller_generator_test.rb
  railties/test/generators/scaffold_generator_test.rb
Labels: railties, docs

#55755 Make all framework log subscribers API private
  actionmailer/lib/action_mailer/log_subscriber.rb
  actionpack/lib/action_controller/log_subscriber.rb
  actionpack/lib/action_dispatch/log_subscriber.rb
  actionview/lib/action_view/log_subscriber.rb
  activerecord/lib/active_record/log_subscriber.rb
  activestorage/lib/active_storage/log_subscriber.rb
Labels: actionmailer, actionpack, activerecord, actionview, activestorage

#55496 Allow logs and notifications for open redirects
  actionpack/lib/action_controller/metal/redirecting.rb
  actionpack/lib/action_controller/railtie.rb
  actionpack/test/controller/redirect_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_8_1.rb.tt
Labels: actionpack, railties, docs

#55628 Setting max_connections to nil means no limit
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/database_configurations/hash_config.rb
  activerecord/test/cases/connection_pool_test.rb
  activerecord/test/cases/database_configurations/hash_config_test.rb
Labels: activerecord

#52297 Add setting for logging redirect source locations
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/log_subscriber.rb
  actionpack/lib/action_controller/railtie.rb
  actionpack/lib/action_dispatch.rb
  actionpack/lib/action_dispatch/log_subscriber.rb
  actionpack/lib/action_dispatch/railtie.rb
  actionpack/test/controller/log_subscriber_test.rb
  actionpack/test/dispatch/routing/log_subscriber_test.rb
  guides/source/configuring.md
  guides/source/debugging_rails_applications.md
  railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt
  railties/test/application/configuration_test.rb
Labels: actionpack, railties, docs, ready

#55769 Add replicas to test database parallelization setup
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/test_databases.rb
  activerecord/test/cases/test_databases_test.rb
Labels: activerecord

#55783 Remove unnecessary comment lines "HELPER METHODS"
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql2_adapter.rb
Labels: activerecord, docs

#55784 Bump PostgreSQL client version to 18
  .devcontainer/devcontainer.json
Labels: PostgreSQL

#55786 [Fix #55776] `class_attribute` on instance singleton class raises `NameError`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/core_ext/class/attribute.rb
  activesupport/test/core_ext/class/attribute_test.rb
Labels: activesupport

#55782 Remove the scroll overflow on code blocks:
  guides/assets/stylesrc/components/_code-container.scss
Labels: docs

#55793 Don't output deprecated message in newly generated applications
  actionpack/lib/action_controller/railtie.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: actionpack, railties, docs

#55798 Revert "Merge pull request #53723 from fatkodima/preserve-duplicate-selected-columns"
  activerecord/lib/active_record/relation/merger.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relation/select_test.rb
  activerecord/test/cases/relation_test.rb
Labels: activerecord

#55800 Stop escaping JS separators in JSON by default
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/json/encoding.rb
  activesupport/test/json/encoding_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_8_1.rb.tt
Labels: activesupport, railties, docs

#55805 Only use JSON::Coder with `json >= 2.15`.
  activesupport/lib/active_support/json/encoding.rb
Labels: activesupport

#55332 Clearing optional CPK in belongs_to should preserve PK
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
  activerecord/test/models/cpk/chapter.rb
Labels: activerecord
