Repository rails/rails, pull requests merged in 2025-02, with the labels that each got.

#54266 Handle missing attributes for AM::Translation#human_attribute_name
  activemodel/lib/active_model/translation.rb
  activemodel/test/cases/translation_test.rb
Labels: activemodel

#54180 Avoid crash to validate circular autosave association
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#54412 Pad a space after screenshot image path or html url for clickability
  actionpack/lib/action_dispatch/system_testing/test_helpers/screenshot_helper.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
Labels: actionpack

#54410 No dump of the entire template when a syntax error is encountered:
  actionview/lib/action_view/template/error.rb
  railties/test/application/rendering_test.rb
Labels: railties, actionview, ready

#54423 Correct generated ID values in fixture docs [ci skip]
  activerecord/lib/active_record/fixtures.rb
Labels: activerecord

#54420 Explicitly call I18n.exception_handler on missing translation
  actionview/lib/action_view/helpers/translation_helper.rb
  actionview/test/template/translation_helper_test.rb
Labels: actionview

#54429 Workaround for `cannot load such file -- net/smtp (LoadError)`
  Gemfile
  Gemfile.lock
  guides/bug_report_templates/action_mailbox.rb
  guides/bug_report_templates/action_mailer.rb
Labels: docs, ci issues

#54428 Speed up Docker Build, Removes Recursive chown
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#54409 docs: enhance assert_changes and assert_no_changes documentation [ci skip]
  activesupport/lib/active_support/testing/assertions.rb
Labels: activesupport, docs

#54431 Defer creating the Active Model attribute-method module
  activemodel/lib/active_model/attribute_methods.rb
  activerecord/test/cases/base_test.rb
Labels: activemodel, activerecord

#54434 Fix NoMethodError when a non-string CSRF token is passed through header
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/test/controller/request_forgery_protection_test.rb
Labels: actionpack

#52045 Avoid running console tests against users IRB config
  railties/test/application/console_test.rb
Labels: railties

#54439 Make internal query() retryable for postgresql
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
Labels: activerecord

#54440 Handle connection pool errors in Redis and Memcached stores
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
Labels: activesupport

#53950 Support joins in `update_all` for Postgresql and SQlite
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/lib/arel/visitors/postgresql.rb
  activerecord/lib/arel/visitors/sqlite.rb
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#54446 Skip test if upsert/insert-duplicate not supported by database adapter
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#54448 [docs] Use 'raises' to describe behaviour in CollectionProxy#find
  activerecord/lib/active_record/associations/collection_proxy.rb
Labels: activerecord

#54450 Fix :blank error message in i18n guide to match default [ci skip]
  guides/source/i18n.md
Labels: docs

#54451 Fix ActionCable allowed_request_origin configuration guide typo [ci skip]
  guides/source/configuring.md
Labels: docs

#54454 Add `allow_retry` to `sql.active_record`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/test/cases/adapter_test.rb
  guides/source/active_support_instrumentation.md
Labels: activerecord, docs

#54436 Enable statement-cached queries to be retryable
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/statement_cache.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord, docs

#54456 Fix migrating multiple DBs with pending migration action
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/migration.rb
  activerecord/lib/active_record/railties/databases.rake
  activerecord/lib/active_record/tasks/database_tasks.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, railties

#54457 Enable query-cacheable queries to be retryable
  activerecord/lib/active_record/connection_adapters/abstract/query_cache.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#54458 Fix SqlLiterals overriding query's retryable value
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#54460 Handle ConnectionPool::TimeoutError in Redis and Memcached stores
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/connection_pool_behavior.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#54462 Regex escape table names and quoted table names used in regex
  activerecord/lib/active_record/associations/alias_tracker.rb
Labels: activerecord

#54463 Backport #54458 to `8-0-stable`
  activerecord/CHANGELOG.md
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#54466 Backport #54460 to `7-2-stable`
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/connection_pool_behavior.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport

#54464 Backport #54458 to `7-2-stable`
  activerecord/CHANGELOG.md
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/arel/visitors/to_sql_test.rb
Labels: activerecord

#54455 Allow execution wrapper to handle all exceptions
  actionpack/lib/action_dispatch/middleware/executor.rb
  actionpack/test/dispatch/executor_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/execution_wrapper.rb
  activesupport/test/executor_test.rb
Labels: actionpack, activesupport

#54469 Fix pluralisation typo in routing.md [ci skip]
  guides/source/routing.md
Labels: docs

#54467 Ensure allow_retry passed when mysql2 prepared
  activerecord/lib/active_record/connection_adapters/mysql2/database_statements.rb
Labels: activerecord

#54472 Pass keyword arguments to PostgreSQL Adapter Table methods
  activerecord/lib/active_record/connection_adapters/postgresql/schema_definitions.rb
  activerecord/test/cases/migration/change_table_test.rb
Labels: activerecord

#54470 Add missing space separator when there are multiple remaining JOINS for update_all
  activerecord/lib/arel/visitors/postgresql.rb
  activerecord/lib/arel/visitors/sqlite.rb
Labels: activerecord

#54437 Allow to skip HashWithIndifferentAccess value conversion
  activemodel/lib/active_model/attribute_mutation_tracker.rb
  activerecord/lib/active_record/store.rb
  activerecord/test/cases/store_test.rb
  activerecord/test/models/admin/user.rb
  activesupport/lib/active_support/hash_with_indifferent_access.rb
Labels: activemodel, activerecord, activesupport

#54476 Simplify stdparam state to reduce retained hashes
  actionpack/lib/action_dispatch/journey/gtg/transition_table.rb
  actionpack/lib/action_dispatch/journey/visualizer/fsm.js
Labels: actionpack

#54479 Fix JSON test leaking constants
  activesupport/test/json/encoding_test.rb
Labels: activesupport

#54480 Skip allocation when JSON options are nil
  activesupport/lib/active_support/json/encoding.rb
Labels: activesupport

#54482 Allow other database adapters in support joins `update_all` tests for Postgresql and SQLite
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#54488 Avoid undefined String#squish in Rails::TestUnit
  railties/lib/rails/test_unit/runner.rb
Labels: railties

#54435 Make Value type default to mutable
  activemodel/lib/active_model/type/boolean.rb
  activemodel/lib/active_model/type/date.rb
  activemodel/lib/active_model/type/decimal.rb
  activemodel/lib/active_model/type/float.rb
  activemodel/lib/active_model/type/helpers.rb
  activemodel/lib/active_model/type/helpers/immutable.rb
  activemodel/lib/active_model/type/immutable_string.rb
  activemodel/lib/active_model/type/integer.rb
  activemodel/lib/active_model/type/time.rb
  activemodel/lib/active_model/type/value.rb
  activemodel/test/cases/attribute_set_test.rb
Labels: activemodel, activerecord

#54489 Fix unreadable output when running `rails test`:
  railties/lib/rails/commands/test/test_command.rb
  railties/lib/rails/test_unit/runner.rb
  railties/test/application/test_runner_test.rb
  railties/test/generators/plugin_test_runner_test.rb
Labels: railties

#54430 Further restrict which contradicted queries need to be run
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/relation_test.rb
Labels: activerecord

#54340 [ci skip] Add a mention to `db:create` in the getting started guide:
  guides/source/getting_started.md
Labels: docs

#54498 Fix sqlite3 dbconsole not working outside Rails
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
Labels: activerecord

#54500 [docs] Use 'valid' instead of 'legal' for cache key
  guides/source/caching_with_rails.md
Labels: docs

#54481 Use JSON::Coder when available
  Gemfile.lock
  activesupport/lib/active_support/core_ext/string/output_safety.rb
  activesupport/lib/active_support/json/encoding.rb
  activesupport/test/json/encoding_test.rb
Labels: activesupport

#54484 Optimize JSON escaping
  activesupport/lib/active_support/json/encoding.rb
Labels: activesupport

#54491 Speed up GTG Simulator by reducing slices/matches
  actionpack/lib/action_dispatch/journey/gtg/simulator.rb
  actionpack/lib/action_dispatch/journey/gtg/transition_table.rb
  actionpack/test/journey/gtg/builder_test.rb
Labels: actionpack

#54504 Flatten the transition table state arrays
  actionpack/lib/action_dispatch/journey/gtg/simulator.rb
  actionpack/lib/action_dispatch/journey/gtg/transition_table.rb
  actionpack/test/journey/gtg/builder_test.rb
Labels: actionpack

#54508 Fix Error in Rails Routing Guide [ci-skip]
  guides/source/routing.md
Labels: docs

#54505 Optimize String visitor by hand
  actionpack/lib/action_dispatch/journey/nodes/node.rb
  actionpack/lib/action_dispatch/journey/visitors.rb
Labels: actionpack

#54515 Stop eagerly computing `request.route_uri_pattern`
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/journey/router.rb
Labels: actionpack

#54503 Allow JSON::Fragment as a return value for as_json
  activesupport/lib/active_support/json/encoding.rb
  activesupport/test/json/encoding_test_cases.rb
Labels: activesupport

#54516 Cache Journey Node#to_s
  actionpack/lib/action_dispatch/journey/nodes/node.rb
Labels: actionpack

#54517 Micro-Optimize Router#find_routes
  actionpack/lib/action_dispatch/http/parameters.rb
  actionpack/lib/action_dispatch/http/request.rb
  actionpack/lib/action_dispatch/journey/router.rb
  actionpack/lib/action_dispatch/journey/router/utils.rb
  actionpack/test/journey/router/utils_test.rb
Labels: actionpack

#54506 Add the action mailer callbacks sequence to the document [ci skip]
  guides/source/action_mailer_basics.md
Labels: docs

#54526 More Journey optimizations
  actionpack/lib/action_dispatch/journey/route.rb
  actionpack/lib/action_dispatch/journey/router.rb
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
Labels: actionpack

#54531 Update Saucelabs configuration
  actioncable/karma.conf.js
Labels: actioncable

#54525 Add `{MessageEncryptors,MessageVerifiers}#prepend`
  activesupport/lib/active_support/message_encryptors.rb
  activesupport/lib/active_support/message_verifiers.rb
  activesupport/lib/active_support/messages/rotation_coordinator.rb
  activesupport/test/rotation_coordinator_tests.rb
Labels: activesupport

#54532 Use adapter support flags instead of checking adapter type in `INDEX INCLUDE` tests
  activerecord/test/cases/migration/index_test.rb
Labels: activerecord

#54530 Only generate an UPDATE/FROM if the first join is an INNER JOIN
  activerecord/lib/arel/visitors/postgresql.rb
  activerecord/lib/arel/visitors/sqlite.rb
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#54551 Remove accidentally committed profile
  actionpack/profile-20250213-085143-11604.vernier.json
Labels: actionpack

#54552 Fix generating `database.yml` when skipping Kamal
  railties/lib/rails/generators/rails/app/templates/config/databases/sqlite3.yml.tt
  railties/test/generators/app_generator_test.rb
Labels: railties

#54544 Use `Minitest#flunk` instead of raising an Assertion error:
  actionmailer/test/base_test.rb
  actionpack/lib/action_dispatch/testing/assertions/routing.rb
  activesupport/lib/active_support/testing/error_reporter_assertions.rb
  railties/test/test_unit/reporter_test.rb
Labels: actionmailer, actionpack, activesupport, railties

#54555 Fix arity of SafeBuffer#as_json
  activesupport/test/core_ext/string_ext_test.rb
Labels: activesupport

#54567 doc: Explicitly state that modifying sanitizer allowlists is unsafe
  actionview/lib/action_view/helpers/sanitize_helper.rb
Labels: actionview

#54568 [ci skip] Modify all remaining references of `rails <command>`
  guides/source/caching_with_rails.md
  guides/source/command_line.md
  guides/source/configuring.md
  guides/source/generators.md
  guides/source/routing.md
  guides/source/security.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#54465 Fix RDoc for ActionView::TestCase::Behavior#rendered [ci skip]
  actionview/lib/action_view/test_case.rb
Labels: actionview

#54561 Fix `update_all` producing a broken query when using more than one join on the target:
  activerecord/lib/arel/visitors/postgresql.rb
  activerecord/lib/arel/visitors/sqlite.rb
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#54492 Add warning of query_log_tags_enabled [ci skip]
  guides/source/debugging_rails_applications.md
Labels: docs

#54578 Fix leaky test:
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#54571 Add Timezone America/Asuncion
  activesupport/lib/active_support/values/time_zone.rb
Labels: activesupport

#54524 Destroy all sessions on password reset
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/passwords_controller.rb.tt
Labels: railties

#54580 [Fix #53758] Raise `ActiveRecord::ReadOnlyError` when pessimistically locking with a readonly role
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/locking/pessimistic.rb
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/locking_test.rb
Labels: activerecord

#54581 Fix test when Rails may not be defined:
  activerecord/test/cases/adapters/sqlite3/dbconsole_test.rb
Labels: activerecord

#54541 Add `report:` option to `ActiveJob::Base#retry_on` and `#discard_on`
  activejob/CHANGELOG.md
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
  activejob/test/jobs/after_discard_retry_job.rb
  activejob/test/jobs/retry_job.rb
Labels: activejob

#54586 Fix LocalStore#read_multi_entries to distinguish recorded misses
  activesupport/lib/active_support/cache/strategy/local_cache.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
  activesupport/test/cache/stores/null_store_test.rb
Labels: activesupport

#54572 docs: add podman instructions for devcontainers [ci skip]
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#54584 Add SafeBuffer to the list of messagepack serializable type:
  actionpack/CHANGELOG.md
  actionpack/test/controller/flash_test.rb
  activesupport/lib/active_support/message_pack/extensions.rb
  activesupport/test/message_pack/shared_serializer_tests.rb
Labels: actionpack, activesupport

#54601 [Guides] removed routing_filter gem reference as it is outdated [ci-skip]
  guides/source/i18n.md
Labels: docs

#54585 Deserialize column defaults
  activerecord/lib/active_record/attributes.rb
  activerecord/test/cases/adapters/postgresql/geometric_test.rb
  activerecord/test/cases/adapters/postgresql/money_test.rb
  activerecord/test/cases/defaults_test.rb
Labels: activerecord

#54607 Ensure `#reverse_order` respects `implicit_order_column`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#54332 Add support for index visibility for MySQL v8.0.0+ and MariaDB v10.6.0+
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_creation.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/active_record_schema_test.rb
  activerecord/test/cases/migration/change_table_test.rb
  activerecord/test/cases/migration/columns_test.rb
  activerecord/test/cases/migration/command_recorder_test.rb
  activerecord/test/cases/migration/index_test.rb
  activerecord/test/cases/migration/invalid_options_test.rb
  activerecord/test/cases/migration/references_index_test.rb
  activerecord/test/cases/schema_dumper_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#54606 Show line numbers in Rails console
  railties/lib/rails/commands/console/irb_console.rb
  railties/test/application/console_test.rb
Labels: railties

#54613 Make lint optional, so we can pass invalid host name.
  actionpack/test/dispatch/host_authorization_test.rb
Labels: actionpack

#54617 Move StrictWarnings to the tools directory
  actioncable/test/test_helper.rb
  actionmailbox/test/test_helper.rb
  actionmailer/test/abstract_unit.rb
  actionpack/test/abstract_unit.rb
  actiontext/test/test_helper.rb
  actionview/test/abstract_unit.rb
  activejob/test/helper.rb
  activemodel/test/cases/helper.rb
  activerecord/test/cases/test_case.rb
  activestorage/test/test_helper.rb
  activesupport/lib/active_support/testing/strict_warnings.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/testing/test_without_assertions_test.rb
  railties/test/abstract_unit.rb
  railties/test/configuration/middleware_stack_proxy_test.rb
  railties/test/generators/argv_scrubber_test.rb
  railties/test/generators/generator_test.rb
  railties/test/isolation/abstract_unit.rb
  tools/strict_warnings.rb
Labels: actionmailer, actionpack, activemodel, activerecord, activesupport, railties, actionview, activejob, actioncable, activestorage, actionmailbox, actiontext

#54583 Do cheap/happy check first in `verified_request?`
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
Labels: actionpack

#54621 Fix uninitialized constant ActiveSupport::LoggerThreadSafeLevel::Logger error
  activesupport/lib/active_support/logger_thread_safe_level.rb
Labels: activesupport

#54550 Fix `#recognize` inconsistency with `#serve`
  actionpack/lib/action_dispatch/journey/router.rb
  actionpack/lib/action_dispatch/routing/route_set.rb
  actionpack/test/dispatch/routing_assertions_test.rb
  actionpack/test/journey/router_test.rb
Labels: actionpack

#54626 [ci skip] Fix incorrect backticks in getting-started docs
  guides/source/getting_started.md
Labels: docs

#54512 Introduce ActiveSupport::ErrorReport#metadata_provider
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/error_reporter.rb
  activesupport/test/error_reporter_test.rb
Labels: activesupport

#54633 Fix `nil` values for `@after_generate_callbacks` in tests
  railties/lib/rails/generators.rb
Labels: railties

#53708 Add login_as(user) testing helper when generating authentication
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/authentication/authentication_generator.rb
  railties/lib/rails/generators/rails/authentication/templates/test/helpers/session_test_helper.rb.tt
  railties/test/generators/authentication_generator_test.rb
Labels: railties, ready

#54642 Use `#report` parameters in error context middleware
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/error_reporter.rb
  activesupport/test/error_reporter_test.rb
Labels: activesupport

#54645 Fix async aggregation queries to return promise for contradicted queries
  activerecord/lib/active_record/relation/calculations.rb
  activerecord/test/cases/calculations_test.rb
Labels: activerecord

#54461 Note added for rails command in rails guide doc [ci skip]
  guides/source/getting_started.md
Labels: docs

#54646 Fix CurrentAttributes not setting an attribute's default:
  activesupport/lib/active_support/current_attributes.rb
  activesupport/test/current_attributes_test.rb
Labels: activesupport

#54652 Note added for rails command in rails guide doc [ci skip] (#54461)
  guides/source/getting_started.md
Labels: docs

#54654 Fix: ActiveJob::Exceptions.discard_on report option should default to `false`
  activejob/lib/active_job/exceptions.rb
Labels: activejob
