Repository rails/rails, pull requests merged in 2025-06, with the labels that each got.

#55136 Don't run unit tests within the System Tests GitHub Actions stage
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
Labels: railties

#55141 Keep the original job object when using `retry_job`
  activejob/lib/active_job/exceptions.rb
  activejob/test/cases/exceptions_test.rb
  activejob/test/jobs/retries_job.rb
Labels: activejob

#55140 Load tests prior to when Minitest load plugins:
  railties/lib/minitest/rails_plugin.rb
Labels: railties

#55145 Get rid of an useless frame in AJ::Continuable#step
  activejob/lib/active_job/continuable.rb
Labels: activejob

#55150 [ci skip]Add missing `do |record|` to Active Job Continuation example
  activejob/lib/active_job/continuation.rb
Labels: activejob

#55151 Follow up on Active Job Continuations PR feedback
  activejob/lib/active_job/continuation.rb
  activejob/lib/active_job/continuation/step.rb
  activejob/lib/active_job/instrumentation.rb
  activejob/test/cases/continuation_test.rb
  activejob/test/jobs/continuable_array_cursor_job.rb
  activejob/test/jobs/continuable_deleting_job.rb
  activejob/test/jobs/continuable_duplicate_step_job.rb
  activejob/test/jobs/continuable_iterating_job.rb
  activejob/test/jobs/continuable_linear_job.rb
  activejob/test/jobs/continuable_nested_cursor_job.rb
  activejob/test/jobs/continuable_nested_steps_job.rb
  activejob/test/jobs/continuable_resume_wrong_step_job.rb
  activejob/test/jobs/continuable_string_step_name_job.rb
  activerecord/lib/active_record/railties/job_runtime.rb
Labels: activerecord, activejob

#55075 docs: Adding example to assert_difference method
  activesupport/lib/active_support/testing/assertions.rb
Labels: activesupport

#55157 Upload progress accounts for server processing time
  actiontext/CHANGELOG.md
  actiontext/app/assets/javascripts/actiontext.esm.js
  actiontext/app/assets/javascripts/actiontext.js
  actiontext/app/javascript/actiontext/attachment_upload.js
  activestorage/CHANGELOG.md
  activestorage/app/assets/javascripts/activestorage.esm.js
  activestorage/app/assets/javascripts/activestorage.js
  activestorage/app/javascript/activestorage/direct_upload_controller.js
  yarn.lock
Labels: activestorage, actiontext

#55174 Active Job Continuations 3
  activejob/lib/active_job/continuable.rb
  activejob/lib/active_job/continuation.rb
  activejob/lib/active_job/continuation/step.rb
  activejob/lib/active_job/continuation/test_helper.rb
  activejob/lib/active_job/continuation/validation.rb
  activejob/lib/active_job/instrumentation.rb
  activejob/lib/active_job/log_subscriber.rb
  activejob/test/cases/continuation_test.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/railties/job_checkpoints.rb
  activerecord/test/activejob/job_checkpoints_test.rb
  railties/test/application/active_record_railtie_test.rb
Labels: activerecord, railties, activejob

#55167 [ci skip] Add warning note to :source_location tag option
  guides/source/configuring.md
Labels: docs

#55199 Backport #55196 (and #51996) to `7-2-stable`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/test/cases/associations/has_many_associations_test.rb
  activerecord/test/cases/strict_loading_test.rb
Labels: activerecord

#55200 Use ntuples to populate row_count instead of count for Postgres
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/database_statements.rb
Labels: activerecord, ready

#55213 [ci skip] Fix typo in with_recursive example
  activerecord/lib/active_record/relation/query_methods.rb
Labels: activerecord

#55222 Implement ActiveSupport::BacktraceCleaner#first_clean_frame
  activejob/lib/active_job/log_subscriber.rb
  activerecord/lib/active_record/log_subscriber.rb
  activerecord/lib/active_record/query_logs.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/backtrace_cleaner.rb
  activesupport/test/backtrace_cleaner_test.rb
Labels: activerecord, activesupport, activejob

#55205 Ensure yarn and bun version fallback
  railties/lib/rails/generators/app_base.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#55201 Prevent the `stream_from` method throwing RuntimeError
  actioncable/lib/action_cable/channel/base.rb
  actioncable/lib/action_cable/channel/streams.rb
  actioncable/test/channel/base_test.rb
  actioncable/test/channel/stream_test.rb
  actioncable/test/stubs/test_adapter.rb
Labels: actioncable

#55224 [ci skip] Fix typo duplicate word "an" in controller documentation
  guides/source/action_controller_overview.md
Labels: docs

#54129 perf FileUpdateChecker, ignore gems paths
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/evented_file_update_checker.rb
  activesupport/lib/active_support/file_update_checker.rb
  activesupport/lib/active_support/i18n_railtie.rb
  activesupport/test/file_update_checker_shared_tests.rb
Labels: activesupport, railties, actionview

#55246 Fix link in guides for `assert_difference` method [ci skip]
  guides/source/testing.md
Labels: docs

#55256 Correctly name `CurrentAttributes` in CHANGELOG [ci skip]
  activesupport/CHANGELOG.md
Labels: activesupport

#55257 query_logs.rb: Doc source_location being expensive
  activerecord/lib/active_record/query_logs.rb
Labels: activerecord

#55179 [RF-DOCS][ci skip] Update Threading and Code Execution Guide
  guides/source/documents.yaml
  guides/source/threading_and_code_execution.md
Labels: docs, rails foundation

#55261 Backport f6481c4fc2
  guides/source/documents.yaml
  guides/source/generators.md
  guides/source/rails_application_templates.md
Labels: docs

#55030 Add locale options to PostgreSQL adapter DB create
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/test/cases/adapters/postgresql/active_schema_test.rb
Labels: activerecord, PostgreSQL, ready

#55264 Revert "Backport f6481c4fc2"
  guides/source/documents.yaml
  guides/source/generators.md
  guides/source/rails_application_templates.md
Labels: docs

#55266 Revert "Backport "Update Threading and Code Execution Guide""
  guides/source/documents.yaml
  guides/source/threading_and_code_execution.md
Labels: docs
