Repository rails/rails, pull requests merged in 2025-04, with the labels that each got.

#54728 docs: add Solid Cable adapter configuration steps
  guides/source/action_cable_overview.md
Labels: docs

#54844 Extract system test setup to system_helper
  actionpack/test/abstract_unit.rb
  actionpack/test/dispatch/system_testing/driver_test.rb
  actionpack/test/dispatch/system_testing/screenshot_helper_test.rb
  actionpack/test/dispatch/system_testing/system_test_case_test.rb
  actionpack/test/support/system_helper.rb
Labels: actionpack

#54627 Only create one config per AV::Base
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/helpers/controller_helper.rb
Labels: actionview

#54846 Generate `config/deploy.yml` file without unnecessary blank lines
  railties/lib/rails/generators/rails/app/templates/config/deploy.yml.tt
Labels: railties

#54855 Add `Cache#read_counter` and `Cache#write_counter`
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_increment_decrement_behavior.rb
Labels: activesupport

#54849 Fix #54848: Change redirect status code in SessionsController#destroy template from 302 to 303
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/sessions_controller.rb.tt
Labels: railties

#54850 [ci skip] docs(activestorage): Update default variant processor
  activestorage/app/models/active_storage/variant.rb
Labels: activestorage

#54836 [ActiveRecord] Introduce with_default_isolation_level
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract/transaction.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/transaction_isolation_test.rb
Labels: activerecord

#54860 [ci skip] Fix typo in The Rails Command Line guide
  guides/source/command_line.md
Labels: docs

#54863 Add missing test case for default_isolation_level
  activerecord/test/cases/transaction_isolation_test.rb
Labels: activerecord

#54864 Copy Active Storage test fixture racecar.jpg into Railties fixtures
  railties/test/application/active_storage/uploads_integration_test.rb
  railties/test/application/active_storage/validating_service_test.rb
  railties/test/fixtures/files/racecar.jpg
Labels: railties

#54867 [ci skip] Add missing word to routing.md
  guides/source/routing.md
Labels: docs

#54422 Refactor ActiveRecord Signed ID to use global `Rails.application.message_verifiers`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/railtie.rb
  activerecord/lib/active_record/signed_id.rb
  activerecord/test/cases/signed_id_test.rb
  guides/source/configuring.md
  railties/test/application/configuration_test.rb
Labels: activerecord, activesupport, railties, docs

#54845 Fix `create_or_find_by` not rolling back a transaction:
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/models/car.rb
Labels: activerecord

#54875 Model generator should be able to run without a database connection
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/test/cases/adapter_test.rb
  railties/lib/rails/generators/generated_attribute.rb
Labels: activerecord, railties

#54871 Added tests for verifying content length presence in response headers
  activestorage/test/controllers/blobs/proxy_controller_test.rb
Labels: activestorage

#54341 Fix `Enumerable#sole` for infinite collections
  activesupport/lib/active_support/core_ext/enumerable.rb
  activesupport/lib/active_support/core_ext/range.rb
  activesupport/lib/active_support/core_ext/range/sole.rb
  activesupport/test/core_ext/enumerable_test.rb
  activesupport/test/core_ext/range_ext_test.rb
Labels: activesupport

#51100 Encryption: allow turning on `support_unencrypted_data` at a per-attribute level
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/encryption/encryptable_record.rb
  activerecord/lib/active_record/encryption/encrypted_attribute_type.rb
  activerecord/test/cases/encryption/extended_deterministic_queries_test.rb
Labels: activerecord, railties

#54892 Allow allocated Active Records to lookup associations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations.rb
  activerecord/test/cases/associations_test.rb
Labels: activerecord

#54893 [ci skip] Fix a typo in the Tuning Performance for Deployment guide
  guides/source/tuning_performance_for_deployment.md
Labels: docs

#54895 Fix missing autoload for ActionView::StrictLocalsError
  actionview/lib/action_view.rb
Labels: actionview

#54904 Fix `polymorphic_url` and `polymorphic_path` not working when routes are not loaded:
  railties/lib/rails/engine/lazy_route_set.rb
  railties/test/engine/lazy_route_set_test.rb
Labels: railties

#54907 Bump minimum supported SQLite to 3.23.0
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
Labels: activerecord

#54707 Expose ability to prepend query log tags via application configuration
  activerecord/lib/active_record/query_logs.rb
  activerecord/lib/active_record/railtie.rb
  guides/source/configuring.md
  railties/test/application/query_logs_test.rb
Labels: activerecord, railties, docs

#54910 Add changelog for #54907 [ci skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#54911 Use `TRUE` and `FALSE` for booleans in SQLite
  activerecord/CHANGELOG.md
  activerecord/lib/arel/visitors/sqlite.rb
  activerecord/test/cases/arel/visitors/sqlite_test.rb
Labels: activerecord

#54913 Update active_storage_overview.md
  guides/source/active_storage_overview.md
Labels: docs

#54917 Fix configuring `RedisCacheStore` with `raw: true`
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#54901 exceptions_app is called with safe format
  actionpack/lib/action_dispatch/middleware/public_exceptions.rb
  guides/source/configuring.md
Labels: actionpack, docs

#54923 Improve leap years counting performance in distance_of_time_in_words
  actionview/lib/action_view/helpers/date_helper.rb
Labels: actionview

#54883 Clean backtrace from Active Job perform exceptions
  activejob/lib/active_job/log_subscriber.rb
  activejob/test/cases/logging_test.rb
Labels: activejob

#54922 Fix `find_or_create_by!` not checking owner persistence:
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/transactions.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#54915 Allow to configure maximum cache key sizes
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/cache.rb
  activesupport/lib/active_support/cache/mem_cache_store.rb
  activesupport/lib/active_support/cache/redis_cache_store.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
  activesupport/test/cache/stores/memory_store_test.rb
Labels: activesupport

#54906 Clarify Active Storage setup for importmap-rails [skip ci]
  activestorage/README.md
  guides/source/active_storage_overview.md
Labels: docs, activestorage

#54934 [ci skip] Fix rails' guides dropdown when navigating with browser back button
  guides/assets/javascripts/guides.js
  guides/source/layout.html.erb
Labels: docs

#54938 Add assert_in_body/assert_not_in_body
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/testing/assertions/response.rb
  actionpack/test/controller/action_pack_assertions_test.rb
Labels: actionpack

#54941 Pass existing connection to #arel in #to_sql
  activerecord/lib/active_record/associations/join_dependency/join_association.rb
  activerecord/lib/active_record/relation.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/lib/arel/crud.rb
Labels: activerecord

#54952 Add --reset option to bin/setup
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/bin/setup.tt
Labels: railties

#54953 Fix broken weblog.rubyonrails.org links in Guides
  guides/source/2_2_release_notes.md
  guides/source/2_3_release_notes.md
  guides/source/3_0_release_notes.md
  guides/source/upgrading_ruby_on_rails.md
Labels: docs

#50297 Fix stale state for composite foreign keys in belongs_to association
  activerecord/lib/active_record/associations/belongs_to_association.rb
  activerecord/test/cases/associations/belongs_to_associations_test.rb
Labels: activerecord

#54964 Tweak `ActiveSupport::JSON.decode` method description
  activesupport/lib/active_support/json/decoding.rb
Labels: activesupport

#54959 Add a load hook for `ActiveRecord::DatabaseConfigurations`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/database_configurations.rb
  guides/source/configuring.md
Labels: activerecord, docs

#54965 Update form_helpers.md [ci skip]
  guides/source/form_helpers.md
Labels: docs

#54968 [ci skip] Fix a typo in the Active Record Query Interface guide
  guides/source/active_record_querying.md
Labels: docs

#54967 [actionview] Check choice type before calling .second to detect grouped_choices in Select helper
  actionview/lib/action_view/helpers/tags/select.rb
  actionview/test/template/form_options_helper_test.rb
Labels: actionview

#54979 [ci skip] Fix text in the Active Record Query Interface guide
  guides/source/active_record_querying.md
Labels: docs

#54989 [ci skip] Fix typo in schema_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
Labels: activerecord

#54990 dep: bump trix to v2.1.14
  actiontext/app/assets/javascripts/trix.js
Labels: actiontext

#54995 Fix markdown formatting error at AR 8.0-stable changelog [ci skip]
  activerecord/CHANGELOG.md
Labels: activerecord

#54984 Implement ability to opt out of parallel database hooks
  activerecord/lib/active_record/test_databases.rb
  activerecord/test/cases/test_databases_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/test_case.rb
  railties/test/application/configuration_test.rb
Labels: activerecord, activesupport, railties
