Repository rails/rails, pull requests merged in 2025-07, with the labels that each got.

#55271 [8-0-stable] Fix use_big_decimal_serializer flag
  guides/source/7_2_release_notes.md
Labels: docs

#55252 Moved LD_PRELOAD variable initialization to the Dockerfile from the entrypoint
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
  railties/lib/rails/generators/rails/app/templates/docker-entrypoint.tt
Labels: railties, ready

#55277 Add quotations for consistency with other envs
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#55086 Fix `remove_foreign_key` when multiple columns are found
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/compatibility_test.rb
  activerecord/test/cases/migration/foreign_key_test.rb
Labels: activerecord

#55269 Fix `annotate` comments to propagate to `update_all`/`delete_all`
  activerecord/lib/arel/crud.rb
  activerecord/lib/arel/delete_manager.rb
  activerecord/lib/arel/nodes/delete_statement.rb
  activerecord/lib/arel/nodes/update_statement.rb
  activerecord/lib/arel/select_manager.rb
  activerecord/lib/arel/update_manager.rb
  activerecord/lib/arel/visitors/dot.rb
  activerecord/lib/arel/visitors/postgresql.rb
  activerecord/lib/arel/visitors/sqlite.rb
  activerecord/lib/arel/visitors/to_sql.rb
  activerecord/test/cases/relation_test.rb
Labels: activerecord

#55296 Pass the user-facing reflection when notifying deprecated HABTMs
  activerecord/lib/active_record/associations/deprecation.rb
  activerecord/test/cases/associations/deprecation_test.rb
Labels: activerecord

#55297 [ci skip] Remove redundant package from installation command
  guides/source/development_dependencies_install.md
Labels: docs

#55300 Fix link in guides/action_mailer_basics
  guides/source/action_mailer_basics.md
Labels: docs

#54840 Deprecate ActionController.escape_json_responses= at the method
  actionpack/lib/action_controller/metal/renderers.rb
  actionpack/lib/action_controller/railtie.rb
  actionpack/test/controller/render_json_test.rb
Labels: actionpack, railties

#55311 Cleanup typos and grammer in database adapter comments
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/database_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
Labels: activerecord

#55307 Fix cut off CurrentAttributes option description [ci skip]
  activesupport/lib/active_support/current_attributes.rb
Labels: activesupport

#55315 Add params expect Method to Action Pack's Notable Changes in 8.0 Release Notes [ci skip]
  guides/source/8_0_release_notes.md
Labels: docs

#55314 [ci skip] Fix stale links in the Securing Rails Applications guide
  guides/source/security.md
Labels: docs

#55313 Include current character length in index and table name length error messages
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/test/cases/migration/index_test.rb
  activerecord/test/cases/migration/rename_table_test.rb
  activerecord/test/cases/migration_test.rb
Labels: activerecord

#55312 Make link to `form_with` explicit [ci skip]
  actionview/lib/action_view/helpers/form_helper.rb
Labels: actionview

#55316 [ci skip][doc]Fix engineering notation -> scientific notation
  guides/source/active_support_core_extensions.md
Labels: docs

#55318 Fix TimeWithZoneTest to correctly test beginning_of_minute
  activesupport/test/core_ext/time_with_zone_test.rb
Labels: activesupport, ready

#55317 Ensure RequestForgeryProtection#normalize_action_path is private
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
Labels: actionpack

#55322 Add `tsort` as a runtime dependency to `railties`
  Gemfile.lock
  railties/railties.gemspec
Labels: railties

#55327 Include `author_addresses` fixtures when using `authors` fixtures
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
  activerecord/test/cases/relations_test.rb
Labels: activerecord

#55329 British English -> American English
  actionpack/test/controller/routing_test.rb
  actionpack/test/dispatch/routing_test.rb
  activejob/test/support/do_not_perform_enqueued_jobs.rb
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/inheritance.rb
  activerecord/test/cases/autosave_association_test.rb
  activerecord/test/cases/relations_test.rb
  activesupport/lib/active_support/core_ext/date_and_time/compatibility.rb
  guides/source/active_job_basics.md
  guides/source/active_record_composite_primary_keys.md
  guides/source/command_line.md
  guides/source/configuring.md
  guides/source/debugging_rails_applications.md
  guides/source/i18n.md
  guides/source/upgrading_ruby_on_rails.md
Labels: actionpack, activerecord, activesupport, docs, activejob

#50731 Document passing hash as id option on create_table
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
Labels: activerecord

#54608 [Fix #54591] Raise an error in order dependent finder methods when the model has no order columns
  activerecord/CHANGELOG.md
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/lib/active_record/relation/query_methods.rb
  activerecord/test/cases/connection_adapters/connection_handlers_sharding_db_test.rb
  activerecord/test/cases/finder_test.rb
  activerecord/test/cases/fixtures_test.rb
  activerecord/test/cases/helper.rb
  activerecord/test/cases/relations_test.rb
  activerecord/test/cases/view_test.rb
  guides/source/configuring.md
  railties/lib/rails/application/configuration.rb
  railties/lib/rails/generators/rails/app/templates/config/initializers/new_framework_defaults_8_1.rb.tt
Labels: activerecord, railties, docs

#51455 Add `touch` option to `#update_columns` and `#update_column` methods
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/persistence.rb
  activerecord/test/cases/persistence_test.rb
Labels: activemodel, activerecord

#55295 Add support to open files in the source code editor from the crash page
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/middleware/debug_view.rb
  actionpack/lib/action_dispatch/middleware/exception_wrapper.rb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_source.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/_trace.html.erb
  actionpack/lib/action_dispatch/middleware/templates/rescues/layout.erb
  actionpack/test/dispatch/debug_exceptions_test.rb
  actionpack/test/dispatch/exception_wrapper_test.rb
  activesupport/lib/active_support.rb
  activesupport/lib/active_support/editor.rb
  activesupport/test/editor_test.rb
Labels: actionpack, activesupport

#50020 Make schema dumper to account for `ActiveRecord.dump_schemas` when dumping in `:ruby` format
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/postgresql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/adapters/postgresql/enum_test.rb
  activerecord/test/cases/adapters/postgresql/schema_test.rb
Labels: activerecord, needs feedback

#55351 Refactor railties tests to not rely on generic route
  railties/test/application/configuration_test.rb
  railties/test/application/middleware/exceptions_test.rb
  railties/test/application/test_test.rb
  railties/test/isolation/abstract_unit.rb
  railties/test/railties/engine_test.rb
Labels: railties

#55359 Fix Action Cable compatibility with redis-rb 5.4.1
  Gemfile.lock
  actioncable/lib/action_cable/subscription_adapter/redis.rb
Labels: actioncable

#55350 Document AttributeMethods::Query [ci skip]
  activerecord/lib/active_record/attribute_methods/query.rb
Labels: activerecord

#55362 Merge pull request #55350 from p8/active-record-document-attributes-q…
  activerecord/lib/active_record/attribute_methods/query.rb
Labels: activerecord

#55363 Merge pull request #55333 from p8/guides/notifications-naming
  guides/source/getting_started.md
Labels: docs

#55367 Add .rubocop_todo.yml to RuboCop cache of GHA workflow template
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/lib/rails/generators/rails/plugin/templates/github/ci.yml.tt
Labels: railties

#55370 [skip ci] Fix typo GuestCleanupJob in Bulk Enqueuing section
  guides/source/active_job_basics.md
Labels: docs

#55371 Re-add `Range#overlap?` documentation
  activesupport/lib/active_support/core_ext/range/overlap.rb
Labels: activesupport

#55376 Fix HashWithIndifferentAccess#transform_keys! to avoid collisions
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#54744 Make assert_driver_capabilities flexible with unexpected keys
  actionpack/test/dispatch/system_testing/driver_test.rb
Labels: actionpack

#54879 Add ActiveRecord::Tasks::AbstractTasks for subclassing per adapter behavior
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/tasks/abstract_tasks.rb
  activerecord/lib/active_record/tasks/database_tasks.rb
  activerecord/lib/active_record/tasks/mysql_database_tasks.rb
  activerecord/lib/active_record/tasks/postgresql_database_tasks.rb
  activerecord/lib/active_record/tasks/sqlite_database_tasks.rb
  activerecord/test/cases/adapters/mysql2/mysql2_rake_test.rb
  activerecord/test/cases/adapters/sqlite3/sqlite_rake_test.rb
  activerecord/test/cases/adapters/trilogy/trilogy_rake_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
  railties/test/application/rake/dbs_test.rb
Labels: activerecord, railties

#54631 Improve devcontainer volume mount to only include the app folder
  railties/lib/rails/generators/rails/devcontainer/templates/devcontainer/compose.yaml.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/devcontainer_generator_test.rb
Labels: railties

#55380 Add a changelog for credentials gitignore key entry
  railties/CHANGELOG.md
Labels: railties

#50472 Read `ActionText::Attachment.tag_name` in Action Text Fixtures
  actiontext/lib/action_text/fixture_set.rb
  actiontext/test/fixtures/action_text/rich_texts.yml
Labels: actiontext

#55347 Add load-hooks for Active Model autoloaded constants referenced in initializers
  activemodel/lib/active_model/error.rb
  activemodel/lib/active_model/railtie.rb
  activemodel/lib/active_model/secure_password.rb
Labels: activemodel

#54724 Make `nonce: false` remove the nonce attribute for `javascript_tag`, `javascript_include_tag` and `stylesheet_link_tag`
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/asset_tag_helper.rb
  actionview/lib/action_view/helpers/javascript_helper.rb
  actionview/test/template/asset_tag_helper_test.rb
  actionview/test/template/javascript_helper_test.rb
Labels: actionview

#55232 `has_secure_password`: fix password validation.
  activemodel/lib/active_model/secure_password.rb
  activemodel/test/cases/secure_password_test.rb
Labels: activemodel, ready

#55383 Don't add bundler platforms for JRuby
  railties/lib/rails/generators/app_base.rb
Labels: railties

#55092 Add render json to health
  actionpack/CHANGELOG.md
  railties/lib/rails/health_controller.rb
  railties/test/rails_health_controller_test.rb
Labels: actionpack, railties

#55386 Add missing tests for `update_column`/`update_columns` `:touch` with specific time
  activerecord/test/cases/persistence_test.rb
Labels: activerecord

#55392 Fix kill_connection_from_server for PG test
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#55393 [RF-DOCS] Clarify unsubscribe route
  guides/source/getting_started.md
Labels: docs, rails foundation

#55408 [ci skip][docs] Fixes rubydoc links
  guides/source/action_controller_overview.md
  guides/source/testing.md
Labels: docs

#55405 Add `relative_time_in_words` helper to ActionView
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/date_helper.rb
  actionview/lib/action_view/locale/en.yml
  actionview/test/template/date_helper_test.rb
Labels: actionview

#55402 [Fix #55379] Default branch in github ci templates
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/lib/rails/generators/rails/plugin/templates/github/ci.yml.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/plugin_generator_test.rb
Labels: railties

#55418 rate_limit notification instrumentation to include more payload
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/metal/rate_limiting.rb
  actionpack/test/controller/rate_limiting_test.rb
Labels: actionpack, ready

#55427 [RF-DOCS] Fix tutorials link in Sign Up & Settings Guide
  guides/source/sign_up_and_settings.md
Labels: docs

#55424 Log when rescue_from handles an exception
  actionpack/CHANGELOG.md
  actionpack/lib/action_controller/log_subscriber.rb
  actionpack/test/controller/log_subscriber_test.rb
  activesupport/lib/active_support/rescuable.rb
Labels: actionpack, activesupport

#55430 Backport 55419 to 7-2-stable
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport

#55429 Backport 55419 to 8-0-stable
  activesupport/lib/active_support/hash_with_indifferent_access.rb
  activesupport/test/hash_with_indifferent_access_test.rb
Labels: activesupport
