Repository rails/rails, pull requests merged in 2025-01, with the labels that each got.

#54024 Fix example should use class method instead of DatabaseStatements#transaction [ci skip]
  activerecord/lib/active_record/transactions.rb
Labels: activerecord, needs backport

#54091 [ci-skip][docs] Update link to register_parser
  guides/source/testing.md
Labels: docs

#54093 [ci-skip][docs] Fix sample code for `:allow_blank`
  guides/source/active_record_validations.md
Labels: docs

#54100 Remove `TrilogyAdapterTest`'s custom notification assertion helpers
  activerecord/test/cases/adapters/trilogy/trilogy_adapter_test.rb
Labels: activerecord

#54104 Fix typo in testing guide [ci skip]
  guides/source/testing.md
Labels: docs

#54111 Fix typo in ActiveSupport::Cache::Store docs
  activesupport/lib/active_support/cache.rb
Labels: activesupport

#54114 Don't eagerly compile StringJoin nodes
  activerecord/lib/active_record/associations/join_dependency/join_association.rb
  activerecord/test/cases/associations/join_model_test.rb
  activerecord/test/models/post.rb
Labels: activerecord

#54101 Fix some parts of the Solid Queue documentation
  guides/source/active_job_basics.md
Labels: docs

#54088 Round rails logo
  railties/lib/rails/templates/rails/welcome/index.html.erb
Labels: railties

#54107 Remove links to older guide versions from index page.
  guides/source/_welcome.html.erb
Labels: docs

#54120 Remove links to older guide versions from index page.
  guides/source/_welcome.html.erb
Labels: docs

#54121 Remove links to older guide versions from index page.
  guides/source/_welcome.html.erb
Labels: docs

#54122 Capitalize subject in a Getting Started guide heading [ci-skip]
  guides/source/getting_started.md
Labels: docs

#54117 Form Helpers Guide: Add missing api docs link and remove embedded url versions [ci skip]
  guides/source/form_helpers.md
Labels: docs

#54128 [ci skip] Configure encryption in `active_record` bug report template
  CONTRIBUTING.md
  guides/bug_report_templates/active_record.rb
  guides/source/contributing_to_ruby_on_rails.md
Labels: docs

#54125 Fix DATABASE_URL variable in the ci template
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/lib/rails/generators/rails/plugin/templates/github/ci.yml.tt
Labels: railties

#54133 fix: `ArgumentError`s raised during template rendering
  actionview/CHANGELOG.md
  actionview/lib/action_view/base.rb
  actionview/lib/action_view/template/error.rb
  actionview/test/template/template_test.rb
Labels: actionview

#54020 Action View: fix local variable access in layouts
  actionview/CHANGELOG.md
  actionview/lib/action_view/layouts.rb
  actionview/lib/action_view/renderer/template_renderer.rb
  actionview/test/actionpack/abstract/layouts_test.rb
Labels: actionview, ready

#54112 Show db:migrate:reset in `rake --tasks`
  activerecord/lib/active_record/railties/databases.rake
Labels: activerecord, needs backport

#54098 Fix running individual app:update commands
  railties/lib/rails/commands/app/update_command.rb
Labels: railties

#53281 Sort table columns by name when dumping schema
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/schema_dumper.rb
  activerecord/test/cases/schema_dumper_test.rb
Labels: activerecord

#54138 Use assert_raises(match:) for lock_version: nil tests
  activerecord/lib/active_record/locking/optimistic.rb
  activerecord/test/cases/locking_test.rb
Labels: activerecord

#45100 Load configured Active Storage plugins during boot
  activestorage/app/models/active_storage/variation.rb
  activestorage/lib/active_storage.rb
  activestorage/lib/active_storage/analyzer/image_analyzer.rb
  activestorage/lib/active_storage/analyzer/image_analyzer/image_magick.rb
  activestorage/lib/active_storage/analyzer/image_analyzer/vips.rb
  activestorage/lib/active_storage/engine.rb
  activestorage/lib/active_storage/transformers/image_magick.rb
  activestorage/lib/active_storage/transformers/image_processing_transformer.rb
  activestorage/lib/active_storage/transformers/vips.rb
  activestorage/test/analyzer/image_analyzer/image_magick_test.rb
  activestorage/test/analyzer/image_analyzer/vips_test.rb
  activestorage/test/models/variant_test.rb
  railties/test/application/configuration_test.rb
Labels: railties, activestorage

#54118 docs: Update all code snippets to the latest version [ci skip]
  guides/source/initialization.md
Labels: docs

#53955 Migrate `ActiveRecord::Normalization` to Active Model
  activemodel/CHANGELOG.md
  activemodel/lib/active_model.rb
  activemodel/lib/active_model/attributes/normalization.rb
  activemodel/test/cases/attributes/normalization_test.rb
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/base.rb
  activerecord/lib/active_record/normalization.rb
  activerecord/test/cases/normalized_attribute_test.rb
Labels: activemodel, activerecord

#54074 [ci skip] change "Destroy" to "Delete" on button for consistency
  guides/source/getting_started.md
Labels: docs

#53027 Colorize console prompt on non standard environments
  railties/CHANGELOG.md
  railties/lib/rails/commands/console/irb_console.rb
  railties/test/commands/console_test.rb
Labels: railties

#54041 Ensure rdoc picks up Hash#deep_merge! [ci skip]
  activesupport/lib/active_support/core_ext/hash/deep_merge.rb
Labels: activesupport

#53970 Deprecate `ActiveSupport::Configurable`
  actionmailer/lib/action_mailer/railtie.rb
  actionpack/lib/abstract_controller/asset_paths.rb
  actionpack/lib/abstract_controller/base.rb
  actionpack/lib/abstract_controller/caching.rb
  actionpack/lib/abstract_controller/logger.rb
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/lib/action_controller/railtie.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support.rb
Labels: actionmailer, actionpack, activesupport

#53174 [Dockerfile] Fix yarn installation method for yarn > 1.x.x
  railties/lib/rails/generators/app_base.rb
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#52230 CI: Introduce `RAILS_MASTER_KEY` placeholder
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/github/ci.yml.tt
  railties/lib/rails/generators/rails/plugin/templates/github/ci.yml.tt
Labels: railties

#54144 Fix boolean columns triggering MySQL deprecation
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
Labels: activerecord

#54142 Don't load ActiveStorage::Blob when validating the service
  activestorage/app/models/active_storage/blob.rb
  activestorage/lib/active_storage/attached/changes/create_one.rb
  activestorage/lib/active_storage/attached/model.rb
  railties/test/application/active_storage/validating_service_test.rb
  railties/test/application/assets_test.rb
  railties/test/application/sprockets_assets_test.rb
  railties/test/isolation/abstract_unit.rb
Labels: railties, activestorage

#54081 Deprecate `String#mb_chars` and `AS::Multibyte::Chars`.
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/multibyte.rb
  activesupport/lib/active_support/multibyte/chars.rb
  activesupport/test/abstract_unit.rb
Labels: activesupport

#54154 Avoid triggering AS::Multibyte deprecation when quoting
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
Labels: activerecord

#54158 Rails Guides - Getting Started with Rails - Align example URL with protocol explanation [ci skip]
  guides/source/getting_started.md
Labels: docs

#54151 Fix small typo on Railties CHANGELOG [ci skip]
  railties/CHANGELOG.md
  railties/lib/rails/application/configuration.rb
Labels: railties

#51746 Use the given `form` in `html_options` for the hidden field in `collection_check_boxes`
  actionview/CHANGELOG.md
  actionview/lib/action_view/helpers/tags/collection_helpers.rb
  actionview/test/template/form_collections_helper_test.rb
Labels: actionview, ready

#54161 Add a space between words in Getting Started docs [ci skip]
  guides/source/getting_started.md
Labels: docs

#54163 [Fix #54134] Add resource name to the `ArgumentError` that's raised when invalid `:only` or `:except` options are given to `#resource` or `#resources`
  actionpack/CHANGELOG.md
  actionpack/lib/action_dispatch/routing/mapper.rb
  actionpack/test/controller/resources_test.rb
Labels: actionpack

#54126 Update `NotificationAssertions`'s `assert_notifcation` to match against payload subsets and return matched notification
  actionmailer/test/base_test.rb
  actionpack/test/controller/allow_browser_test.rb
  actionpack/test/controller/caching_test.rb
  actionpack/test/controller/redirect_test.rb
  actionpack/test/dispatch/routing/instrumentation_test.rb
  actionview/test/activerecord/partial_rendering_query_test.rb
  activejob/test/cases/queuing_test.rb
  activerecord/test/activejob/job_runtime_test.rb
  activerecord/test/cases/associations/eager_test.rb
  activerecord/test/cases/instrumentation_test.rb
  activestorage/test/analyzer/image_analyzer/vips_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/notification_assertions.rb
  activesupport/test/testing/notification_assertions_test.rb
  railties/test/application/initializers/notifications_test.rb
Labels: actionmailer, actionpack, activerecord, activesupport, railties, actionview, activejob, activestorage

#54164 Fix MiniMagic::Image.mime_type deprecation in ASto test
  activestorage/test/previewer/video_previewer_test.rb
Labels: activestorage

#54153 Fixed a typo in the article "2.6.1.4 Building [ci skip]
  guides/source/association_basics.md
Labels: docs

#54170 Fix assert_no_file with unused block warning
  railties/test/generators/api_app_generator_test.rb
Labels: railties

#54174 Suggest to use `bin/rails runner` in commands help [ci skip]
  railties/lib/rails/generators/rails/benchmark/USAGE
  railties/lib/rails/generators/rails/script/USAGE
Labels: railties

#54173 Fix RuboCop offense in benchmark generator template [ci skip]
  railties/lib/rails/generators/rails/benchmark/templates/benchmark.rb.tt
Labels: railties

#54185 Delegate `ActiveStorage::Filename#to_str` to `#to_s`
  activestorage/CHANGELOG.md
  activestorage/app/models/active_storage/filename.rb
  activestorage/test/models/filename_test.rb
Labels: activestorage

#54183 Fix benchmark_generator_test
  railties/test/generators/benchmark_generator_test.rb
Labels: railties

#54186 Eliminate allocations on Model.respond_to? calls
  activerecord/lib/active_record/dynamic_matchers.rb
Labels: activerecord

#54190 Cleanup some private constants from API doc
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
  actionpack/lib/action_dispatch/http/filter_parameters.rb
Labels: actionpack

#54188 Fix load_active_support initializer doc [ci skip]
  guides/source/configuring.md
Labels: docs

#54192 Don't dup query values if they're frozen
  activerecord/lib/active_record/relation/query_attribute.rb
Labels: activerecord

#54194 Test disabled session in blobs and representation proxy controllers
  activestorage/test/controllers/blobs/proxy_controller_test.rb
  activestorage/test/controllers/representations/proxy_controller_test.rb
Labels: activestorage

#54195 Add deprecations to 8.0 Release Notes [ci skip]
  guides/source/8_0_release_notes.md
Labels: docs

#54191 [ci-skip][docs] Fix ActionDurationCallback.around in action_controller_overview.md
  guides/source/action_controller_overview.md
Labels: docs

#54206 [8-0] Fix link in Active Record Associations guide
  guides/source/association_basics.md
Labels: docs

#54224 Cleanup ActiveSupport::JSON
  activesupport/lib/active_support/json/decoding.rb
  activesupport/lib/active_support/json/encoding.rb
  guides/source/upgrading_ruby_on_rails.md
Labels: activesupport, docs

#54201 Flash.add_flash_types should define helpers as private
  actionpack/lib/action_controller/metal/flash.rb
  actionpack/test/controller/flash_test.rb
  actionpack/test/controller/helper_test.rb
Labels: actionpack

#54184 Fix inserts on MySQL with no `RETURNING` support for a table with multiple auto populated columns
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/test/cases/persistence_test.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#54196 Really make sure AS::Deprecation::Reporting constants are private
  activesupport/lib/active_support/deprecation/reporting.rb
Labels: activesupport

#54171 Ensure that `ActiveStorage.analyzers` doesn't contain nil
  activestorage/lib/active_storage/engine.rb
  railties/test/application/configuration_test.rb
Labels: railties, activestorage

#54193 Add `railspect requires` for auditing `require`s
  actiontext/lib/action_text/rendering.rb
  activemodel/lib/active_model/error.rb
  activemodel/lib/active_model/naming.rb
  activerecord/lib/active_record/core.rb
  activerecord/lib/active_record/errors.rb
  activerecord/lib/active_record/explain_registry.rb
  activerecord/lib/active_record/relation/delegation.rb
  activerecord/lib/active_record/scoping.rb
  activestorage/lib/active_storage/attached.rb
  activestorage/lib/active_storage/service/mirror_service.rb
  railties/lib/rails.rb
  railties/lib/rails/application.rb
  railties/lib/rails/application/routes_reloader.rb
  railties/lib/rails/command.rb
  railties/lib/rails/command/base.rb
  railties/lib/rails/command/environment_argument.rb
  railties/lib/rails/engine.rb
  railties/lib/rails/generators/migration.rb
  railties/lib/rails/generators/testing/behavior.rb
  railties/lib/rails/initializable.rb
  railties/lib/rails/railtie.rb
  railties/lib/rails/railtie/configurable.rb
  railties/lib/rails/test_unit/reporter.rb
  tools/rail_inspector/lib/rail_inspector.rb
  tools/rail_inspector/lib/rail_inspector/cli.rb
  tools/rail_inspector/lib/rail_inspector/requires.rb
  tools/rail_inspector/lib/rail_inspector/visitor/load.rb
  tools/rail_inspector/test/rail_inspector/visitor/load_test.rb
Labels: activemodel, activerecord, railties, activestorage, actiontext

#54235 Fix typo in routing guide [ci skip]
  guides/source/routing.md
Labels: docs

#54236 Fix incorrect expiration time in ActiveSupport::Cache::Store#fetch
  activesupport/lib/active_support/cache.rb
  activesupport/test/cache/behaviors/cache_store_behavior.rb
Labels: activesupport

#54231 Fix inconsistency between `delete_all` & `update_all` allowed methods:
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/relation/update_all_test.rb
Labels: activerecord

#54227 Fix ActionDispatch::Request::HTTP_METHOD_LOOKUP being impacted by inflections from gems
  actionpack/lib/action_dispatch/http/request.rb
Labels: actionpack

#54230 feat: Authentication generator's `SessionsController` clears browser cache at logout
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/concerns/authentication.rb.tt
  railties/lib/rails/generators/rails/authentication/templates/app/controllers/sessions_controller.rb.tt
Labels: railties, ready

#54240 [ci skip] Fix typo in `active_storage_overview.md` guide
  guides/source/active_storage_overview.md
Labels: docs

#54141 Fix: ensure PostgreSQL enum types can contain commas
  activerecord/lib/active_record/connection_adapters/postgresql/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb
  activerecord/test/cases/adapters/postgresql/invertible_migration_test.rb
  activerecord/test/cases/schema_dumper_test.rb
Labels: activerecord

#54242 Fix usable values for openssl_verify_mode in Action Mailer configuration guide [ci skip]
  guides/source/configuring.md
Labels: docs

#54204 Remove extra new lines in the generated Gemfile
  railties/lib/rails/generators/rails/app/templates/Gemfile.tt
Labels: railties

#54238 Skip persisted through targets when autosaving collection associations
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
Labels: activerecord

#54248 Fix an incorrect example in the doc of the Strong Parameters [ci skip]
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#54047 Add direct insert and direct delete methods to a guide [skip ci]
  guides/source/active_record_basics.md
Labels: docs

#54226 Don't include `script` and `style` content to node plaintext conversion
  actiontext/lib/action_text/content.rb
  actiontext/lib/action_text/plain_text_conversion.rb
  actiontext/test/unit/plain_text_conversion_test.rb
  guides/source/action_text_overview.md
Labels: docs, actiontext

#54255 guides/source/caching_with_rails.md: remove dup
  guides/source/caching_with_rails.md
Labels: docs

#54258 Remove redundant "Filtering" comment [ci skip]
  actionpack/lib/action_controller/metal/strong_parameters.rb
Labels: actionpack

#54264 Ensure the logger gem is loaded in Rails 7.0
  activesupport/lib/active_support/logger_thread_safe_level.rb
Labels: activesupport

#54265 Reduce the frequency of Dependabot updates in new projects.
  railties/lib/rails/generators/rails/app/templates/github/dependabot.yml
  railties/lib/rails/generators/rails/plugin/templates/github/dependabot.yml
Labels: railties

#54228 Freeze database conversion types
  activerecord/lib/active_record/connection_adapters/abstract_mysql_adapter.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/array.rb
  activerecord/lib/active_record/connection_adapters/postgresql/oid/type_map_initializer.rb
  activerecord/lib/active_record/type/hash_lookup_type_map.rb
  activerecord/lib/active_record/type/type_map.rb
  activerecord/test/cases/adapter_test.rb
Labels: activerecord

#54280 Revert has-many-through association changes + add regression test
  activerecord/lib/active_record/associations/association.rb
  activerecord/lib/active_record/associations/collection_association.rb
  activerecord/lib/active_record/autosave_association.rb
  activerecord/lib/active_record/reflection.rb
  activerecord/test/cases/associations/has_many_through_associations_test.rb
  activerecord/test/cases/associations/has_one_through_associations_test.rb
  activerecord/test/cases/autosave_association_test.rb
  activerecord/test/models/book.rb
  activerecord/test/models/club.rb
  activerecord/test/models/enrollment.rb
  activerecord/test/models/family_tree.rb
  activerecord/test/models/member.rb
  activerecord/test/models/member_detail.rb
  activerecord/test/models/membership.rb
  activerecord/test/models/post.rb
  activerecord/test/models/program.rb
  activerecord/test/models/program_offering.rb
  activerecord/test/models/rating.rb
  activerecord/test/models/subscriber.rb
  activerecord/test/schema/schema.rb
Labels: activerecord

#54253 Ensure binding is always `0.0.0.0`.
  railties/lib/rails/generators/rails/devcontainer/templates/devcontainer/Dockerfile.tt
  railties/test/generators/app_generator_test.rb
  railties/test/generators/devcontainer_generator_test.rb
Labels: railties

#54278 Make payload[:name] of eager loading `sql.active_record` to "#{model.name} Eager Load".
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/relation.rb
  activerecord/test/cases/instrumentation_test.rb
  activerecord/test/cases/relation/load_async_test.rb
Labels: activerecord

#54269 Remove deprecated call to mb_chars
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
Labels: activerecord

#53705 Use `secret_key_base` from ENV or credentials when present locally
  railties/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/lib/rails/application/configuration.rb
  railties/test/application/configuration_test.rb
Labels: railties

#54257 Add `application-name` metadata to application layout
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/templates/app/views/layouts/application.html.erb.tt
  railties/test/generators/app_generator_test.rb
Labels: railties, ready

#54287 Refine a step in the Sprockets to Propshaft migration guide
  guides/source/asset_pipeline.md
Labels: docs

#54289 Doc: Format CSRF argument lists [ci skip]
  actionpack/lib/action_controller/metal/request_forgery_protection.rb
Labels: actionpack

#54291 Format `fill_in_rich_textarea` API docs correctly [ci skip]
  actiontext/lib/action_text/system_test_helper.rb
Labels: actiontext

#54284 Remove warning silence on Journey::Parser require
  actionpack/lib/action_dispatch/journey/router.rb
Labels: actionpack

#54295 Remove unnecessary executable bit from docker-entrypoint.tt
  railties/lib/rails/generators/rails/app/templates/docker-entrypoint.tt
  railties/test/generators/api_app_generator_test.rb
  railties/test/generators/shared_generator_tests.rb
Labels: railties

#54293 Improve deprecation of String#mb_chars
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/test/cases/sanitize_test.rb
  activesupport/lib/active_support/core_ext/string/multibyte.rb
  activesupport/lib/active_support/multibyte/chars.rb
  activesupport/test/abstract_unit.rb
  activesupport/test/core_ext/string_ext_test.rb
  activesupport/test/multibyte_chars_test.rb
  activesupport/test/multibyte_proxy_test.rb
  activesupport/test/multibyte_test_helpers.rb
Labels: activerecord, activesupport

#54298 Make column name optional for `index_exists?`
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_statements.rb
  activerecord/lib/active_record/migration/compatibility.rb
  activerecord/test/cases/migration/index_test.rb
Labels: activerecord

#54273 Prevent persisting invalid record:
  activerecord/lib/active_record/autosave_association.rb
  activerecord/test/cases/autosave_association_test.rb
  activerecord/test/cases/nested_attributes_test.rb
  activerecord/test/models/treasure.rb
Labels: activerecord

#53920 Deprecate `insert_all` with unpersisted associations
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/associations/collection_proxy.rb
  activerecord/test/cases/insert_all_test.rb
Labels: activerecord

#54305 Update `has_one` example to use descending order [ci skip]
  activerecord/lib/active_record/associations.rb
Labels: activerecord

#54307 Use already-loaded relation contents in #sole
  activerecord/lib/active_record/relation/finder_methods.rb
  activerecord/test/cases/finder_test.rb
Labels: activerecord

#54172 JSON serialized attributes can return symbolized keys
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activerecord/lib/active_record/coders/json.rb
  activerecord/test/cases/coders/json_test.rb
  activerecord/test/cases/serialized_attribute_test.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/json/decoding.rb
  activesupport/test/json/decoding_test.rb
Labels: activerecord, activesupport, activestorage

#54310 AS::MessageVerifier#verify always accept both safe and unsafe encoding
  activesupport/lib/active_support/message_verifier.rb
  activesupport/test/message_verifier_test.rb
Labels: activesupport

#54308 Prefer assert_dom over assert_select
  actionpack/lib/action_dispatch/testing/integration.rb
  guides/source/testing.md
Labels: actionpack, docs

#54314 Fix `serialize coder: JSON, type: Hash` to wrap the coder in `ColumnSerializer`
  activerecord/lib/active_record/attribute_methods/serialization.rb
  activerecord/test/cases/serialized_attribute_test.rb
Labels: activerecord

#54320 Doc: Using assert_select in guide of testing
  guides/source/testing.md
Labels: docs

#54294 [ci skip] Add instructions for setting up the testing database in plugin docs
  guides/source/plugins.md
Labels: docs

#54319 8 0 stable cherry pick 44988c1557e392c7
  actionpack/lib/action_dispatch/testing/integration.rb
  guides/source/testing.md
Labels: actionpack, docs

#54324 Update environment name to development in active jobs basics guide [ci skip]
  guides/source/active_job_basics.md
Labels: docs

#54312 refactor(test): do not dump when not necessary
  activerecord/test/cases/adapters/postgresql/enum_test.rb
  activerecord/test/cases/tasks/database_tasks_test.rb
Labels: activerecord

#54315 Use bash code fences for install guide [ci skip]
  guides/source/install_ruby_on_rails.md
Labels: docs

#54303 Allow passing in a date or time to ActiveSupport::Testing::TimeHelpers#freeze_time
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/time_helpers.rb
  activesupport/test/time_travel_test.rb
Labels: activesupport

#54031 Support plaintext bun lockfile
  actioncable/lib/rails/generators/channel/channel_generator.rb
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties, actioncable

#54292 Move back to kwargs for (de)increment for cache stores
  activesupport/lib/active_support/cache/file_store.rb
  activesupport/lib/active_support/cache/memory_store.rb
  activesupport/lib/active_support/cache/null_store.rb
  activesupport/lib/active_support/cache/strategy/local_cache.rb
  activesupport/test/cache/behaviors/cache_increment_decrement_behavior.rb
  activesupport/test/cache/stores/memory_store_test.rb
  activesupport/test/cache/stores/null_store_test.rb
  activesupport/test/cache/stores/redis_cache_store_test.rb
Labels: activesupport, ready

#54333 Eliminate queries loading dumped model schema on Postgres
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/column.rb
  activerecord/lib/active_record/connection_adapters/mysql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/lib/active_record/connection_adapters/postgresql/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3/schema_statements.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/testing/query_assertions.rb
  activerecord/lib/active_record/type_caster/connection.rb
  activerecord/test/cases/adapter_test.rb
  activerecord/test/cases/attribute_methods_test.rb
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
  activerecord/test/cases/migration/change_schema_test.rb
  activerecord/test/cases/migration/columns_test.rb
  activerecord/test/cases/schema_loading_test.rb
  activerecord/test/support/fake_adapter.rb
Labels: activerecord

#54338 [ci skip]docs: Fix typo in guide
  guides/source/testing.md
Labels: docs

#54342 Improve wording in getting_started.md guide [skip ci]
  guides/source/getting_started.md
Labels: docs

#54313 Extend --minimal option
  railties/CHANGELOG.md
  railties/lib/rails/generators/rails/app/app_generator.rb
  railties/test/generators/app_generator_test.rb
Labels: railties

#54344 Fix active record instrumentation not thread safe:
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/future_result.rb
  activerecord/test/cases/relation/load_async_test.rb
Labels: activerecord

#54354 Add names to all `Concurrent::ThreadPoolExecutor`s
  actioncable/lib/action_cable/connection/stream_event_loop.rb
  actioncable/lib/action_cable/server/worker.rb
  activejob/lib/active_job/queue_adapters/async_adapter.rb
  activerecord/lib/active_record.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activestorage/lib/active_storage/service/mirror_service.rb
Labels: activerecord, activejob, actioncable, activestorage

#54356 Suggest to run `rails` command under `bin/` in comment [ci-skip]
  railties/lib/rails/generators/rails/app/templates/config/environments/production.rb.tt
Labels: railties

#54370 Add a missing `assert_deprecated` in quoting_test.rb
  activerecord/test/cases/quoting_test.rb
Labels: activerecord

#53513 actionmailbox: Add `reply_to_address` Mail extension
  actionmailbox/CHANGELOG.md
  actionmailbox/lib/action_mailbox/mail_ext/addresses.rb
  actionmailbox/test/unit/mail_ext/addresses_test.rb
Labels: ready, actionmailbox

#54353 Fix column_definition returning a wrong column:
  activerecord/lib/active_record/type/internal/timezone.rb
  activerecord/test/cases/base_test.rb
Labels: activerecord

#54371 Fix `rotate(on_on_rotation:)` and `#on_rotation`
  activesupport/lib/active_support/messages/rotator.rb
  activesupport/test/messages/message_rotator_tests.rb
Labels: activesupport

#54373 Accept `on_rotation` argument in `find_signed`
  activerecord/lib/active_record/signed_id.rb
  activerecord/test/cases/signed_id_test.rb
Labels: activerecord

#54366 `PoolConfig` no longer keeps a reference to the connection class (attempt 3)
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/connection_adapters/abstract/connection_handler.rb
  activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb
  activerecord/lib/active_record/connection_adapters/abstract_adapter.rb
  activerecord/lib/active_record/connection_adapters/pool_config.rb
  activerecord/lib/active_record/core.rb
  activerecord/test/cases/connection_adapters/connection_swapping_nested_test.rb
  activerecord/test/cases/multi_db_migrator_test.rb
Labels: activerecord

#54348 Make the schema cache forward compatible with the changes in Column
  activerecord/lib/active_record/attributes.rb
  activerecord/lib/active_record/connection_adapters/abstract/database_statements.rb
  activerecord/lib/active_record/connection_adapters/abstract/quoting.rb
  activerecord/lib/active_record/connection_adapters/abstract/schema_dumper.rb
  activerecord/lib/active_record/connection_adapters/column.rb
  activerecord/lib/active_record/connection_adapters/postgresql/quoting.rb
  activerecord/lib/active_record/connection_adapters/sqlite3_adapter.rb
  activerecord/lib/active_record/model_schema.rb
  activerecord/lib/active_record/type_caster/connection.rb
  activerecord/test/assets/schema_dump_8_0.yml
  activerecord/test/cases/connection_adapters/schema_cache_test.rb
  activerecord/test/cases/migration/change_schema_test.rb
  activerecord/test/cases/migration/columns_test.rb
Labels: activerecord

#54375 Remove `rotate(on_rotation:)` argument
  activesupport/lib/active_support/messages/rotator.rb
  activesupport/test/messages/message_rotator_tests.rb
Labels: activesupport

#53716 docs: use `db:seed:replant` for resetting seed data
  guides/source/active_record_migrations.md
Labels: docs

#54306 Fix routes being cleared when using `reload_routes!`:
  actionpack/CHANGELOG.md
  railties/lib/rails/application.rb
  railties/lib/rails/application/routes_reloader.rb
  railties/test/application/rake_test.rb
Labels: actionpack, railties

#54380 Load the routes in the console when calling the `app` IRB helper
  railties/lib/rails/commands/console/irb_console.rb
  railties/test/application/console_test.rb
Labels: railties

#54381 Remove node_modules from the final image when using bun
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#54361 Fix two unused block warnings in arel
  actionpack/test/controller/filters_test.rb
  activejob/lib/active_job/enqueuing.rb
  activemodel/lib/active_model/attribute.rb
  activemodel/lib/active_model/type/big_integer.rb
  activemodel/lib/active_model/type/value.rb
  activerecord/lib/active_record/statement_cache.rb
  activerecord/lib/arel/collectors/bind.rb
  activerecord/lib/arel/collectors/sql_string.rb
  activerecord/lib/arel/collectors/substitute_binds.rb
  activerecord/lib/arel/nodes/binary.rb
  activerecord/lib/arel/nodes/node.rb
  activerecord/lib/arel/nodes/sql_literal.rb
Labels: actionpack, activemodel, activerecord, activejob

#54099 Update vendored Trix version to 2.1.12
  actiontext/app/assets/javascripts/trix.js
  actiontext/app/assets/stylesheets/trix.css
Labels: actiontext

#54385 Backport vendored Trix 2.1.12 to 8-0-stable
  actiontext/app/assets/javascripts/trix.js
  actiontext/app/assets/stylesheets/trix.css
Labels: actiontext

#54387 Fix Dockerfile comments for bun
  railties/lib/rails/generators/rails/app/templates/Dockerfile.tt
Labels: railties

#54388 Skip inflector when generating HTTP_METHOD_LOOKUP
  actionpack/lib/action_dispatch/http/request.rb
Labels: actionpack

#54390 [ci skip]Fix the sample code about Null Relation
  guides/source/active_record_querying.md
Labels: docs

#54394 Fix inverting `rename_enum_value` when `:from`/`:to` are provided
  activerecord/lib/active_record/migration/command_recorder.rb
  activerecord/test/cases/adapters/postgresql/invertible_migration_test.rb
Labels: activerecord

#54376 Clear AR connections in tests before forking for parallelization
  activerecord/CHANGELOG.md
  activerecord/lib/active_record/test_databases.rb
  activesupport/CHANGELOG.md
  activesupport/lib/active_support/testing/parallelization.rb
Labels: activerecord, activesupport

#54393 [8-0-stable] Backport "Fix two unused block warnings in arel"
  activerecord/lib/active_record/statement_cache.rb
  activerecord/lib/arel/collectors/bind.rb
  activerecord/lib/arel/collectors/sql_string.rb
  activerecord/lib/arel/collectors/substitute_binds.rb
  activerecord/lib/arel/nodes/binary.rb
  activerecord/lib/arel/nodes/node.rb
  activerecord/lib/arel/nodes/sql_literal.rb
Labels: activerecord

#54396 Fix a typo that slipped in from #54376
  activesupport/lib/active_support/testing/parallelization.rb
Labels: activesupport

#54400 [ci skip] Update asset_pipeline.md
  guides/source/asset_pipeline.md
Labels: docs

#54404 Inline `IsolatedExecutionState#state`
  activesupport/lib/active_support/isolated_execution_state.rb
Labels: activesupport

#54411 Add missing `require` in ImageMagick analyzer
  activestorage/lib/active_storage/analyzer/image_analyzer/image_magick.rb
Labels: activestorage

#54413 LocalCache with read_multi should respect version and expire
  activesupport/lib/active_support/cache/strategy/local_cache.rb
  activesupport/test/cache/behaviors/local_cache_behavior.rb
Labels: activesupport
